.show_div{
    display:none !important;

  }
  .hide_div{
    display:block !important;
  }
  .dateloader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1px solid #3498db;
    width: 50px;
    height:50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .printStyle{
    padding:100px;
  }
