<div style="
padding-right: 100px; 
padding-left: 100px; 
padding-top: 20px; 
position: sticky; 
top: 0; 
height: 65px; 
background: rgb(250, 250, 250);
z-index: 100;">
  <jqxButton style="float: right;" [width]="100" [theme]="'energyblue'" (onClick)="close()">
    बन्द गर्नुहोस्
  </jqxButton>
  <jqxButton style="float: right; margin-right: 15px;" [width]="100" [theme]="'energyblue'"
    (onClick)="print(foForm.value)">
    प्रिन्ट गर्नुहोस्
  </jqxButton>
</div>
<div id="printSection" style="padding: 50px;" *ngIf="loadedData">
  <div style="padding: 50px;">
    <form name="foForm" [formGroup]="foForm" id="foForm">
      <div>
        <app-letterhead></app-letterhead>
      </div>

      <div *ngIf="foForm.value.workServiceType">
        <div [ngSwitch]="foForm.value.workServiceType">

          <!-- kshireshwornath amanath marfat ko tipani adesh -->
          <div *ngIf='distType === "kshireshwornath"'>
            <div *ngSwitchCase="'Amanathan Marfat'">
              <br>
              <br>
              <br>
              <div style="float: right" class="hide_div">
                मिति: <input type="text" formControlName="currentDate" class="form-style-4" />
              </div>
              <p style="float: right" class="show_div">
                मिति: {{ foForm.value.currentDate | displayNepaliDate }}
              </p>

              <!-- clear fix -->
              <div style="clear: both"></div>

              <p style="font-size: 20px;text-align:center"><b><u>टिप्पणी र आदेश</u></b></p>
              <p style="font-size: 16px;text-align:center"><u><b>विषय: सम्झौता, कार्यादेश र पेश्की सम्बन्धमा ।।</b></u>
              </p>

              <p> श्रीमान् ,</p>

              <div class="hide_div">
                प्रस्तुत विषयमा
                <nepali-input type="text" name="agreementDate" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" width="120px" formControlName="Date"></nepali-input>
                .नगरसभा/कार्यापालिका को निर्णय अनुसार आ.व. २०७६|७७ को स्वीकृत कार्यक्रमको अनुसुची

                <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                  [containerClass]="'containter'" width="240px" formControlName=""></nepali-input>
                को सि.नं..
                <nepali-input type="text" name="proposedCost" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" width="120px" formControlName=""></nepali-input>

                मा
                <nepali-input type="text" name="totalBudget" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" width="120px" formControlName=""></nepali-input>
                .कार्यक्रमको लागि बजेट रु




                <nepali-input type="text" name="techCost" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  width="120px" formControlName=""></nepali-input>
                रहेकोमा
                <nepali-input type="text" name="officeName" [inputClass]="'form-style-5'"
                  [containerClass]="'containter'" width="240px" formControlName=""></nepali-input>
                शाखाका
                <nepali-input type="text" name="orderName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  width="240px" formControlName=""></nepali-input>
                ले पेश गर्नु भएको प्रस्ताव पत्र अनुसार निजलाई उक्त कार्यक्रम संचालन गर्नको लागि हाललाई रु
                <nepali-input type="text" name="orderName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  width="240px" formControlName=""></nepali-input>
                .पेश्की उपलव्ध गराई सम्झौता र कार्यादेश दिन मनासिव देखि निर्णयार्थ पेश गरेको छु।
              </div>

            </div>
          </div>


          <!-- when not kshireshwornath, general tipani adesh [amanat marfat] -->
          <div *ngIf='distType !== "kshireshwornath"'>
            <div *ngSwitchCase="'Amanathan Marfat'">
              <br>
              <br>
              <br>
              <div style="float: right" class="hide_div" *ngIf="distType !== 'aathbiskot'">
                मिति: <input type="text" formControlName="currentDate" class="form-style-4" />
              </div>
              <p style="float: right" class="show_div" *ngIf="distType !== 'aathbiskot'">
                मिति: {{ foForm.value.currentDate | displayNepaliDate }}
              </p>
              <div style="float: right" class="hide_div" *ngIf="distType === 'aathbiskot'">
                टिप्पणी संख्याः<input type="text" class="form-style-4" style="width:150px !important"
                  formControlName="tippaniNo">
              </div>
              <div style="float: right" class="show_div" *ngIf="distType === 'aathbiskot'">
                टिप्पणी संख्याः {{foForm.value.tippaniNo |
                  displayNepaliDate}}
              </div>

              <!-- clear fix -->
              <div style="clear: both"></div>

              <p style="font-size: 20px;text-align:center"><b><u>टिप्पणी र आदेश</u></b></p>
              <p style="font-size: 16px;text-align:center"><u><b>विषय: अमानतबाट निर्माण कार्य गराउने सम्बन्धमा ।</b></u>
              </p>

              <p> श्रीमान् ,</p>

              <div class="hide_div">
                उपरोक्त सम्बन्धमा नगरकार्यपालिकाको मिति
                <nepali-input type="text" name="agreementDate" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" width="120px" formControlName="agreementDate"></nepali-input>
                गतेको वैठकको निर्णयानुसार
                {{ orgMaster[0]['officeName'] }}



                को निर्माणाधीन
                <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                  [containerClass]="'containter'" width="240px" formControlName="activityName"></nepali-input>
                कार्य गर्न रु
                <nepali-input type="text" name="proposedCost" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" width="120px" formControlName="proposedCost"></nepali-input>
                <nepali-input type="text" name="programName" [inputClass]="'form-style-5'"
                  [containerClass]="'containter'" width="240px" formControlName="programName"></nepali-input>
                शीर्षकमा रहेको रु
                <nepali-input type="text" name="totalBudget" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" width="120px" formControlName="totalBudget"></nepali-input>
                बाट खर्च गर्ने तथा उक्त कार्य अमानतबाट गर्ने भनी निर्णय भएको ।

                <br><br>

                हाल उक्त कार्यको प्राविधिकबाट लागत अनुमान तयार गर्दा रु
                <nepali-input type="text" name="techCost" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  width="120px" formControlName="techCost"></nepali-input>
                हुन आएकोले सार्वजनिक खरिद ऐन २०६३ को दफा ४५ र सार्वजनिक खरिद नियमावली २०६४ (चौथो संसोधन २०७३) को
                नियम ९८ बमोजिम निर्माण कार्य गराउन यस कार्यालयको
                <nepali-input type="text" name="officeName" [inputClass]="'form-style-5'"
                  [containerClass]="'containter'" width="240px" formControlName="officeName"></nepali-input>

                <nepali-input type="text" name="orderName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  width="240px" formControlName="orderName"></nepali-input>
                जिम्मेवारी दिई कामकाज अघि बढाउन मनासिव देखि यो टिप्पणी पेश गर्दछु ।

              </div>

              <p class="show_div" style="text-align: justify;">
                उपरोक्त सम्बन्धमा नगरकार्यपालिकाको मिति
                {{ foForm.value.agreementDate | displayNepaliDate }}
                गतेको वैठकको निर्णयानुसार
                {{ orgMaster[0]['officeName'] }}
                को निर्माणाधीन
                {{ foForm.value.activityName }}
                कार्य गर्न रु
                {{ foForm.value.proposedCost | digitCommas | displayNepaliDate }}
                {{ foForm.value.programName }}
                शीर्षकमा रहेको रु
                {{ foForm.value.totalBudget | digitCommas | displayNepaliDate }}
                बाट खर्च गर्ने तथा उक्त कार्य अमानतबाट गर्ने भनी निर्णय भएको ।

                <br><br>

                हाल उक्त कार्यको प्राविधिकबाट लागत अनुमान तयार गर्दा रु
                {{ foForm.value.techCost | digitCommas | displayNepaliDate }}
                हुन आएकोले सार्वजनिक खरिद ऐन २०६३ को दफा ४५ र सार्वजनिक खरिद नियमावली २०६४ (चौथो संसोधन २०७३) को
                नियम ९८ बमोजिम निर्माण कार्य गराउन यस कार्यालयको
                {{ foForm.value.officeName }}
                {{ foForm.value.orderName }}
                जिम्मेवारी दिई कामकाज अघि बढाउन मनासिव देखि यो टिप्पणी पेश गर्दछु ।

              </p>
            </div>
          </div>


          <!-- bideha ko [contract and consumercommittee and sahakari] ko  -->
          <div *ngIf='distType === "bideha"'>
            <div *ngSwitchCase="'Contract'">
              <div style="float:right;width:49%;" class="hide_div">
                <p style="text-align:right;">मिति:
                  <input type="text" formControlName="currentDate" class="form-style-4" />
                </p>
              </div>
              <div style="float:right;width:49%;" class="show_div">
                <p style="text-align:right;">मिति:
                  {{foForm.value.currentDate | displayNepaliDate}}
                </p>
              </div>
              <br>
              <br>
              <br>
              <div style="clear: both">
                <p style="font-size: 20px;text-align:center"><b><u>टिप्पणी र आदेश</u></b></p>
                <p style="font-size: 16px;text-align:center"><u><b> विषय: दरभाउपत्रबाट कार्य संचालन गर्ने सम्बन्धमा
                      ।</b></u></p>
              </div>
              <p>श्रीमान्,</p>
              <div class="hide_div">
                <p class="hide_div" style="line-height:1.6;text-align:justify">
                  उपरोक्त सम्बन्धमा यस {{foForm.value.officeName}} चालु आ.वा {{planYear}}
                  को लागि {{foForm.value.paarit}}बाट पारित {{SearchDatas.focusAreaLevel1NameNepali}}
                  <span *ngIf="SearchDatas['wardNumber']">वडा स्तरिय </span>
                  <span *ngIf="!SearchDatas['wardNumber']">नगर स्तरिय </span>
                  योजना कार्यक्रम अन्तर्गत
                  <span *ngIf="SearchDatas['wardNumber']">
                    <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="wardNo"></nepali-input>
                    स्थित
                  </span>
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'200px'" formControlName="activityName"></nepali-input>
                  संचालन गर्न तपसिल बमोजिम विवरण सहित कार्य संचालन हुन मुनासिव देखि निर्णयार्थ पेश गरेको छु ।
                </p>
                <p>तपसिल:</p>

                <ul style="list-style: none">
                  <li>
                    आ.व.: {{planYear | displayNepaliDate}}
                  </li>
                  <li>
                    योजनाको नाम:<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="activityName"></nepali-input>
                  </li>
                  <li>
                    स्थान: <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="activityAddress">
                    </nepali-input>
                  </li>
                  <li>
                    विनियोजित रकम: रु.<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="proposedCost"></nepali-input>
                    (मू.अ.क. सहित)
                  </li>
                  <li>
                    ल.ई. रकम: रु.<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="techCost"></nepali-input>
                    (मू.अ.क. सहित)
                  </li>
                  <li>
                    स्वीकृत रकम: रु.<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="pCost"></nepali-input>(मू.अ.क.
                    सहित)
                  </li>
                  <li>
                    फर्मको नाम: श्री <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="conAddress"></nepali-input>
                  </li>
                  <li>
                    निर्माण ब्यवसायीको नाम: श्री <nepali-input type="text" name="activityName"
                      [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'400px'"
                      formControlName="contactPerson"></nepali-input>
                  </li>
                  <li>
                    <br>
                    पेश गर्ने: <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="pesh"></nepali-input>
                  </li>
                  <li>
                    <span>राय दिने, आर्थिक प्रशासन शाखाबाट:</span><span>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'400px'" formControlName="raya1"></nepali-input>
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'400px'" formControlName="raya2"></nepali-input>
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'400px'" formControlName="raya3"></nepali-input>
                    </span>
                  </li>
                  <li>
                    सदर गर्ने, कार्यालय प्रमुख:<nepali-input type="text" name="activityName"
                      [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'400px'"
                      formControlName="pramukh"></nepali-input>
                  </li>
                </ul>
              </div>
              <div class="show_div">
                <p class="show_div" style="line-height:1.6;text-align:justify">
                  उपरोक्त सम्बन्धमा यस {{foForm.value.officeName}} चालु आ.वा {{planYear}}
                  को लागि {{foForm.value.paarit}}बाट पारित {{SearchDatas.focusAreaLevel1NameNepali}}
                  <span *ngIf="SearchDatas['wardNumber']">वडा स्तरिय </span>
                  <span *ngIf="!SearchDatas['wardNumber']">नगर स्तरिय </span>
                  योजना कार्यक्रम अन्तर्गत
                  <span *ngIf="SearchDatas['wardNumber']">
                    {{foForm.value.wardNumber}} स्थित
                  </span>
                  {{foForm.value.activityName}}
                  संचालन गर्न तपसिल बमोजिम विवरण सहित कार्य संचालन हुन मुनासिव देखि निर्णयार्थ पेश गरेको छु ।
                </p>
                <p>तपसिल:</p>

                <ul style="list-style: none">
                  <li>
                    आ.व.: {{planYear | displayNepaliDate}}
                  </li>
                  <li>
                    योजनाको नाम:{{foForm.value.activityName}}
                  </li>
                  <li>
                    स्थान: {{foForm.value.activityAddress}}
                  </li>
                  <li>
                    विनियोजित रकम: रु.{{foForm.value.proposedCost | digitCommas | displayNepaliDate}}(मू.अ.क. सहित)
                  </li>
                  <li>
                    ल.ई.रकम: रु.{{foForm.value.techCost | digitCommas | displayNepaliDate}}(मू.अ.क. सहित)
                  </li>
                  <li>
                    स्वीकृत रकम: रु.{{foForm.value.pCost | digitCommas | displayNepaliDate}}(मू.अ.क. सहित)
                  </li>
                  <li>
                    फर्मको नाम: श्री {{foForm.value.conAddress}}
                  </li>
                  <li>
                    निर्माण ब्यवसायीको नाम: श्री {{foForm.value.contactPerson}}
                  </li>
                  <li>
                    <br>
                    पेश गर्ने: {{foForm.value.pesh}}
                  </li>
                  <li>
                    <span>राय दिने, आर्थिक प्रशासन शाखाबाट:</span><span>
                      {{foForm.value.raya1}}
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      {{foForm.value.raya2}}
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      {{foForm.value.raya3}}
                    </span>
                  </li>
                  <li>
                    सदर गर्ने, कार्यालय प्रमुख:{{foForm.value.pramukh}}
                  </li>
                </ul>
              </div>
            </div>
            <div *ngSwitchCase="'Consumer Committe'">
              <div style="float:right;width:49%;" class="hide_div">
                <p style="text-align:right;">मिति:
                  <input type="text" formControlName="currentDate" class="form-style-4" />
                </p>
              </div>
              <div style="float:right;width:49%;" class="show_div">
                <p style="text-align:right;">मिति:
                  {{foForm.value.currentDate | displayNepaliDate}}
                </p>
              </div>
              <br>
              <br>
              <br>
              <div style="clear: both">
                <p style="font-size: 20px;text-align:center"><b><u>टिप्पणी र आदेश</u></b></p>
                <p style="font-size: 16px;text-align:center"><u><b> विषय: सम्झौता सम्बन्धमा
                      ।</b></u></p>
              </div>
              <p>श्रीमान्,</p>
              <div class="hide_div">
                <p class="hide_div" style="line-height:1.6;text-align:justify">
                  उपरोक्त सम्बन्धमा यस {{foForm.value.officeName}} चालु आ.वा {{planYear}}
                  को लागि {{foForm.value.paarit}}बाट पारित {{SearchDatas.focusAreaLevel1NameNepali}}
                  <span *ngIf="SearchDatas['wardNumber']">वडा स्तरिय </span>
                  <span *ngIf="!SearchDatas['wardNumber']">नगर स्तरिय </span>
                  योजना कार्यक्रम अन्तर्गत
                  <span *ngIf="SearchDatas['wardNumber']">
                    <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="wardNo"></nepali-input>
                    स्थित
                  </span>
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'300px'" formControlName="activityName"></nepali-input>
                  संचालन गर्न तपसिल बमोजिम विवरण सहित कार्य संचालन हुन मुनासिव देखि निर्णयार्थ पेश गरेको छु ।
                </p>
                <p>तपसिल:</p>

                <ul style="list-style: none">
                  <li>
                    आ.व.: {{planYear | displayNepaliDate}}
                  </li>
                  <li>
                    योजनाको नाम:<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="activityName"></nepali-input>
                  </li>
                  <li>
                    स्थान: <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="activityAddress">
                    </nepali-input>
                  </li>
                  <li>
                    विनियोजित रकम: रु.<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="proposedCost"></nepali-input>
                    (मू.अ.क. सहित)
                  </li>
                  <li>
                    ल.ई. रकम: रु.<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="techCost"></nepali-input>
                    (मू.अ.क. सहित)
                  </li>
                  <li>
                    स्वीकृत रकम: रु.<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="pCost"></nepali-input>(मू.अ.क.
                    सहित)
                  </li>
                  <li>
                    <span *ngIf="workServiceType === 'Consumer Committe'">
                      उपभोक्ता समितिको नाम:
                    </span>
                    <span *ngIf="workServiceType === 'Contract'">
                      फर्मको नाम:
                    </span>

                    श्री <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="conAddress"></nepali-input>

                    <span *ngIf="workServiceType === 'Consumer Committe'">
                      उपभोक्ता समिति
                    </span>
                  </li>
                  <li>
                    <span *ngIf="workServiceType === 'Consumer Committe'">
                      उपभोक्ता समितिको अध्यक्षको नाम:
                    </span>
                    <span *ngIf="workServiceType === 'Contract'">
                      निर्माण ब्यवसायीको नाम:
                    </span>
                    श्री <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="contactPerson"></nepali-input>
                  </li>
                  <li>
                    <br>
                    पेश गर्ने: <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="pesh"></nepali-input>
                  </li>
                  <li>
                    <span>राय दिने, आर्थिक प्रशासन शाखाबाट:</span><span>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'400px'" formControlName="raya1"></nepali-input>
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'400px'" formControlName="raya2"></nepali-input>
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'400px'" formControlName="raya3"></nepali-input>
                    </span>
                  </li>
                  <li>
                    सदर गर्ने, कार्यालय प्रमुख:<nepali-input type="text" name="activityName"
                      [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'400px'"
                      formControlName="pramukh"></nepali-input>
                  </li>
                </ul>
              </div>
              <div class="show_div">
                <p class="show_div" style="line-height:1.6;text-align:justify">
                  उपरोक्त सम्बन्धमा यस {{foForm.value.officeName}} चालु आ.वा {{planYear}}
                  को लागि {{foForm.value.paarit}}बाट पारित {{SearchDatas.focusAreaLevel1NameNepali}}
                  <span *ngIf="SearchDatas['wardNumber']">वडा स्तरिय </span>
                  <span *ngIf="!SearchDatas['wardNumber']">नगर स्तरिय </span>
                  योजना कार्यक्रम अन्तर्गत
                  <span *ngIf="SearchDatas['wardNumber']">
                    {{ foForm.value.wardNo }}
                    स्थित
                  </span>
                  {{foForm.value.activityName}}
                  संचालन गर्न तपसिल बमोजिम विवरण सहित कार्य संचालन हुन मुनासिव देखि निर्णयार्थ पेश गरेको छु ।
                </p>
                <p>तपसिल:</p>

                <ul style="list-style: none">
                  <li>
                    आ.व.: {{planYear | displayNepaliDate}}
                  </li>
                  <li>
                    योजनाको नाम:{{foForm.value.activityName}}
                  </li>
                  <li>
                    स्थान: {{foForm.value.activityAddress}}
                  </li>
                  <li>
                    विनियोजित रकम: रु.{{foForm.value.proposedCost | digitCommas | displayNepaliDate}}(मू.अ.क. सहित)
                  </li>
                  <li>
                    ल.ई.रकम: रु.{{foForm.value.techCost | digitCommas | displayNepaliDate}}(मू.अ.क. सहित)
                  </li>
                  <li>
                    स्वीकृत रकम: रु.{{foForm.value.pCost | digitCommas | displayNepaliDate}}(मू.अ.क. सहित)
                  </li>
                  <li>
                    <span *ngIf="workServiceType === 'Consumer Committe'">
                      उपभोक्ता समितिको नाम:
                    </span>
                    <span *ngIf="workServiceType === 'Contract'">
                      फर्मको नाम:
                    </span>

                    श्री {{foForm.value.conAddress}}

                    <span *ngIf="workServiceType === 'Consumer Committe'">
                      उपभोक्ता समिति
                    </span>
                  </li>
                  <li>
                    <span *ngIf="workServiceType === 'Consumer Committe'">
                      उपभोक्ता समितिको अध्यक्षको नाम:
                    </span>
                    <span *ngIf="workServiceType === 'Contract'">
                      निर्माण ब्यवसायीको नाम:
                    </span>
                    श्री {{ foForm.value.contactPerson }}
                  </li>
                  <li>
                    <br>
                    पेश गर्ने: {{foForm.value.pesh}}
                  </li>
                  <li>
                    <span>राय दिने, आर्थिक प्रशासन शाखाबाट:</span><span>
                      {{foForm.value.raya1}}
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      {{foForm.value.raya2}}
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      {{foForm.value.raya3}}
                    </span>
                  </li>
                  <li>
                    सदर गर्ने, कार्यालय प्रमुख:{{foForm.value.pramukh}}
                  </li>
                </ul>
              </div>
            </div>
            <div *ngSwitchCase="'Sahakari'">
              <div style="float:right;width:49%;" class="hide_div">
                <p style="text-align:right;">मिति:
                  <input type="text" formControlName="currentDate" class="form-style-4" />
                </p>
              </div>
              <div style="float:right;width:49%;" class="show_div">
                <p style="text-align:right;">मिति:
                  {{foForm.value.currentDate | displayNepaliDate}}
                </p>
              </div>
              <br>
              <br>
              <br>
              <div style="clear: both">
                <p style="font-size: 20px;text-align:center"><b><u>टिप्पणी र आदेश</u></b></p>
                <p style="font-size: 16px;text-align:center"><u><b> विषय: दरभाउपत्रबाट कार्य संचालन गर्ने सम्बन्धमा
                      ।</b></u></p>
              </div>
              <p>श्रीमान्,</p>
              <div class="hide_div">
                <p class="hide_div" style="line-height:1.6;text-align:justify">
                  उपरोक्त सम्बन्धमा यस {{foForm.value.officeName}} चालु आ.वा {{planYear}}
                  को लागि {{foForm.value.paarit}}बाट पारित {{SearchDatas.focusAreaLevel1NameNepali}}
                  <span *ngIf="SearchDatas['wardNumber']">वडा स्तरिय </span>
                  <span *ngIf="!SearchDatas['wardNumber']">नगर स्तरिय </span>
                  योजना कार्यक्रम अन्तर्गत
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'200px'" formControlName="wardNo"></nepali-input>
                  स्थीत
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'200px'" formControlName="activityName"></nepali-input>
                  संचालन गर्न तपसिल बमोजिम विवरण सहित कार्य संचालन हुन मुनासिव देखि निर्णयार्थ पेश गरेको छु ।
                </p>
                <p>तपसिल:</p>

                <ul style="list-style: none">
                  <li>
                    आ.व.: {{planYear | displayNepaliDate}}
                  </li>
                  <li>
                    योजनाको नाम:<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="activityName"></nepali-input>
                  </li>
                  <li>
                    स्थान: <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="activityAddress">
                    </nepali-input>
                  </li>
                  <li>
                    विनियोजित रकम: रु.<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="proposedCost"></nepali-input>
                    (मू.अ.क. सहित)
                  </li>
                  <li>
                    ल.ई. रकम: रु.<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="techCost"></nepali-input>
                    (मू.अ.क. सहित)
                  </li>
                  <li>
                    स्वीकृत रकम: रु.<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="pCost"></nepali-input>(मू.अ.क.
                    सहित)
                  </li>
                  <li>
                    फर्मको नाम: श्री <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="conAddress"></nepali-input>
                  </li>
                  <li>
                    निर्माण ब्यवसायीको नाम: श्री <nepali-input type="text" name="activityName"
                      [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'400px'"
                      formControlName="contactPerson"></nepali-input>
                  </li>
                  <li>
                    <br>
                    पेश गर्ने: <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="pesh"></nepali-input>
                  </li>
                  <li>
                    <span>राय दिने, आर्थिक प्रशासन शाखाबाट:</span><span>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'400px'" formControlName="raya1"></nepali-input>
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'400px'" formControlName="raya2"></nepali-input>
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'400px'" formControlName="raya3"></nepali-input>
                    </span>
                  </li>
                  <li>
                    सदर गर्ने, कार्यालय प्रमुख:<nepali-input type="text" name="activityName"
                      [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'400px'"
                      formControlName="pramukh"></nepali-input>
                  </li>
                </ul>
              </div>
              <div class="show_div">
                <p class="show_div" style="line-height:1.6;text-align:justify">
                  उपरोक्त सम्बन्धमा यस {{foForm.value.officeName}} चालु आ.वा {{planYear}}
                  को लागि {{foForm.value.paarit}}बाट पारित {{SearchDatas.focusAreaLevel1NameNepali}}
                  <span *ngIf="SearchDatas['wardNo']">वडा स्तरिय </span>
                  <span *ngIf="!SearchDatas['wardNo']">नगर स्तरिय </span>
                  योजना कार्यक्रम अन्तर्गत {{foForm.value.wardNo}} स्थीत {{foForm.value.activityName}}
                  संचालन गर्न तपसिल बमोजिम विवरण सहित कार्य संचालन हुन मुनासिव देखि निर्णयार्थ पेश गरेको छु ।
                </p>
                <p>तपसिल:</p>

                <ul style="list-style: none">
                  <li>
                    आ.व.: {{planYear | displayNepaliDate}}
                  </li>
                  <li>
                    योजनाको नाम:{{foForm.value.activityName}}
                  </li>
                  <li>
                    स्थान: {{foForm.value.activityAddress}}
                  </li>
                  <li>
                    विनियोजित रकम: रु.{{foForm.value.proposedCost | digitCommas | displayNepaliDate}}(मू.अ.क. सहित)
                  </li>
                  <li>
                    ल.ई.रकम: रु.{{foForm.value.techCost | digitCommas | displayNepaliDate}}(मू.अ.क. सहित)
                  </li>
                  <li>
                    स्वीकृत रकम: रु.{{foForm.value.pCost | digitCommas | displayNepaliDate}}(मू.अ.क. सहित)
                  </li>
                  <li>
                    फर्मको नाम: श्री {{foForm.value.conAddress}}
                  </li>
                  <li>
                    निर्माण ब्यवसायीको नाम: श्री {{foForm.value.contactPerson}}
                  </li>
                  <li>
                    <br>
                    पेश गर्ने: {{foForm.value.pesh}}
                  </li>
                  <li>
                    <span>राय दिने, आर्थिक प्रशासन शाखाबाट:</span><span>
                      {{foForm.value.raya1}}
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      {{foForm.value.raya2}}
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      {{foForm.value.raya3}}
                    </span>
                  </li>
                  <li>
                    सदर गर्ने, कार्यालय प्रमुख:{{foForm.value.pramukh}}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- not bideha [contract] ko -->
          <div *ngIf='distType !== "bideha"'>
            <div *ngSwitchCase="'Contract'">
              <div style="float:right;width:49%;" class="hide_div" *ngIf="distType !== 'aathbiskot'">
                <p style="text-align:right;">मिति:
                  <input type="text" formControlName="currentDate" class="form-style-4" />
                </p>
              </div>
              <div style="float:right;width:49%;" class="show_div" *ngIf="distType !== 'aathbiskot'">
                <p style="text-align:right;">मिति:
                  {{foForm.value.currentDate | displayNepaliDate}}
                </p>
              </div>
              <div style="float: right" class="hide_div" *ngIf="distType === 'aathbiskot'">
                टिप्पणी संख्याः<input type="text" class="form-style-4" style="width:150px !important"
                  formControlName="tippaniNo">
              </div>
              <div style="float: right" class="show_div" *ngIf="distType === 'aathbiskot'">
                टिप्पणी संख्याः {{foForm.value.tippaniNo |
                  displayNepaliDate}}
              </div>
              <br>
              <br>
              <br>
              <div style="clear: both">
                <p style="font-size: 20px;text-align:center"><b><u>टिप्पणी र आदेश</u></b></p>
                <p style="font-size: 16px;text-align:center"><u><b> विषय: दरभाउपत्रबाट कार्य संचालन गर्ने सम्बन्धमा
                      ।</b></u></p>
              </div>
              <p>श्रीमान्,</p>
              <div class="hide_div">
                <p class="hide_div" style="line-height:1.6;text-align:justify">
                  तल उल्लेखित योजना संचालन गर्न अति आवश्यक भएकोले मिति
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'250px'" formControlName="completionDate"></nepali-input>
                  सम्ममा कार्य सम्पन्न गर्ने गरि निर्माण व्यबसायीहरु मध्येबाट ३ (तीन) वटा निर्माण ब्यवसायी संग दररेट
                  मांग गरि कार्य संचालन गर्न मनासिव देखि यो टिप्पणी र आदेश निर्णयार्थ पेश गरेको छु ।

                </p>
                <p>तपसिल:</p>

                <ul style="list-style: none">
                  <li>
                    आ.व.: {{planYear | displayNepaliDate}}
                  </li>
                  <li>
                    योजनाको नाम:<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="activityName"></nepali-input>
                  </li>
                  <li>
                    स्थान: <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="activityAddress">
                    </nepali-input>
                  </li>
                  <li>
                    ल.ई.रकम: रु.<nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="techCost"></nepali-input>
                    (मू.अ.क. सहित)
                  </li>
                  <li>
                    <p style="text-align: center"> निर्माण ब्यवसायीको नाम </p>
                  </li>
                  <li *ngFor="let data of activityDetailData['contractDetails']">
                    निर्माण ब्यवसायी: श्री <b>{{ data['name'] }}</b>
                  </li>
                  <!-- <li>
                        निर्माण ब्यवसायी: श्री <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                          [containerClass]="'containter'" [width]="'400px'" formControlName="business1"></nepali-input>
                      </li>
                      <li>
                        निर्माण ब्यवसायी: श्री <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                          [containerClass]="'containter'" [width]="'400px'" formControlName="business2"></nepali-input>
                      </li>
                      <li>
                        निर्माण ब्यवसायी: श्री <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                          [containerClass]="'containter'" [width]="'400px'" formControlName="business3"></nepali-input>
                      </li> -->
                  <li>
                    <br>
                    पेश गर्ने: <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="pesh"></nepali-input>
                  </li>
                  <li>
                    <span>राय दिने, आर्थिक प्रशासन शाखाबाट:</span><span>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'400px'" formControlName="raya1"></nepali-input>
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'400px'" formControlName="raya2"></nepali-input>
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'400px'" formControlName="raya3"></nepali-input>
                    </span>
                  </li>
                  <li>
                    सदर गर्ने, कार्यालय प्रमुख:<nepali-input type="text" name="activityName"
                      [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'400px'"
                      formControlName="pramukh"></nepali-input>
                  </li>
                </ul>
              </div>
              <div class="show_div">
                <p class="show_div" style="line-height:1.6;text-align:justify">
                  तल उल्लेखित योजना संचालन गर्न अति आवश्यक भएकोले मिति
                  {{foForm.value.completionDate | displayNepaliDate}}
                  सम्ममा कार्य सम्पन्न गर्ने गरि निर्माण व्यबसायीहरु मध्येबाट ३ (तीन) वटा निर्माण ब्यवसायी संग दररेट
                  मांग गरि कार्य संचालन गर्न मनासिव देखि यो टिप्पणी र आदेश निर्णयार्थ पेश गरेको छु ।

                </p>
                <p>तपसिल:</p>

                <ul style="list-style: none">
                  <li>
                    आ.व.: {{planYear | displayNepaliDate}}
                  </li>
                  <li>
                    योजनाको नाम:{{foForm.value.activityName}}
                  </li>
                  <li>
                    स्थान: {{foForm.value.activityAddress}}
                  </li>
                  <li>
                    ल.ई.रकम: रु.{{foForm.value.techCost | digitCommas | displayNepaliDate}}(मू.अ.क. सहित)
                  </li>
                  <li>
                    <p style="text-align: center"> निर्माण ब्यवसायीको नाम </p>
                  </li>
                  <li>
                    निर्माण ब्यवसायी: श्री {{foForm.value.business1}}
                  </li>
                  <li>
                    निर्माण ब्यवसायी: श्री {{foForm.value.business2}}
                  </li>
                  <li>
                    निर्माण ब्यवसायी: श्री {{foForm.value.business3}}
                  </li>
                  <li>
                    <br>
                    पेश गर्ने: {{foForm.value.pesh}}
                  </li>
                  <li>
                    <span>राय दिने, आर्थिक प्रशासन शाखाबाट:</span><span>
                      {{foForm.value.raya1}}
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      {{foForm.value.raya2}}
                    </span>
                    <br>
                    <span style="visibility: hidden">राय दिने, आर्थिक प्रशासन शाखाबाट ः</span><span>
                      {{foForm.value.raya3}}
                    </span>
                  </li>
                  <li>
                    सदर गर्ने, कार्यालय प्रमुख:{{foForm.value.pramukh}}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- not bideha [consumer comitte, sahakari] ko -->
          <div *ngIf="distType !== 'bideha'">
            <!-- no logic for consumer committe -->
            <div *ngSwitchCase="'Consumer Committe'">
              <p style="font-size:25px;text-align:center;" *ngIf="distType !== 'aathbiskot'">टिप्पणी–आदेश पत्र
              </p>
              <hr style="border:1px solid black;" />
              <div style="height:50px;" *ngIf="distType !== 'aathbiskot'">
                <!-- <div style="float:left;width:49%">
                      <p style="text-align:left">प.नं :{{planYear | displayNepaliDate}}
                        <br/>
                        च .नं. : </p>
                    </div> -->
                <div style="float:right;width:49%;" class="hide_div">
                  <p style="text-align:right;">मिति:
                    <input type="text" formControlName="currentDate" class="form-style-4" />
                  </p>
                </div>
                <div style="float:right;width:49%;" class="show_div">
                  <p style="text-align:right;">मिति:
                    {{foForm.value.currentDate | displayNepaliDate}}
                  </p>
                </div>
              </div>
              <div style="float: right" class="hide_div" *ngIf="distType === 'aathbiskot'">
                टिप्पणी संख्याः<input type="text" class="form-style-4" style="width:150px !important"
                  formControlName="tippaniNo">
              </div>
              <div style="float: right" class="show_div" *ngIf="distType === 'aathbiskot'">
                टिप्पणी संख्याः {{foForm.value.tippaniNo |
                  displayNepaliDate}}
              </div>

              <div style="clear: both"></div>

              <!-- <p>श्री <span style="font-weight:bold;">{{SearchDatas.contractName ||SearchDatas.consumerCommitteName }}</span> </p> -->
              <p style="font-size: 20px;text-align:center" *ngIf="distType === 'aathbiskot'"><b><u>टिप्पणी र आदेश</u></b></p>
              <p style="text-align:center;">विषय :  <b>सम्झौता सम्बन्धमा।</b></p>

              <p>श्रीमान्,</p>
              <div class="hide_div">
                <p class="hide_div" style="line-height:1.6;text-align:justify">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; उपरोक्त सम्बन्धमा यस
                  {{heading.officeName}}को चालु आ.व. <b>{{planYear | displayNepaliDate}}</b> को
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'200px'" formControlName="paarit"></nepali-input> बाट पारित
                  कार्यक्रम
                  <select formControlName="wardNo">
                    <option value='' [selected]=true>छान्नुहोस</option>
                    <option *ngFor="let item of stharAdapter" [value]="item['name']">{{item['name']}}</option>
                  </select>
                  को स्थानिय पुर्वाधार विकास साझेदारी कार्यक्रम
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'400px'" formControlName="activityName"></nepali-input>
                  योजना
                  रहेको र सो कार्यक्रम संचालनार्थ
                  देहाय बमोजिमको निर्णय हुन यो टिप्पणी पेश गरेको छु ।
                  <br>
                  १) चालु आ.व <b>{{ planYear | displayNepaliDate }}</b> मा {{heading.officeName}}बाट स्वीकृत
                  पुर्वाधार कार्यक्रमको
                  <span *ngIf="isRul">गाउँ</span> <span *ngIf="!isRul">नगर</span>
                  स्तरिय कार्यक्रम अन्तर्गत {{foForm.value.wardNo}} मा {{foForm.value.activityName}}
                  गर्ने कार्यक्रमको लागि
                  स्थानिय सरकारबाट विनियोजित रकम रु
                  <nepali-input (change)="digitWord($event, 'fromNagarpalikaWord')" type="text"
                    name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'150px'"
                    formControlName="fromNagarpalika"></nepali-input>
                  अक्षरेपि
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'500px'" formControlName="fromNagarpalikaWord">
                  </nepali-input>
                  र {{'SAHAVAGITA' | translate}} वापत को रकम रु <nepali-input type="text"
                    (change)="digitWord($event, 'fromPopWord')" name="fromConsumerCommittee"
                    [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'150px'"
                    formControlName="fromConsumerCommittee"></nepali-input> अक्षरेपि
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'500px'" formControlName="fromPopWord"></nepali-input>
                  गरि जम्मा रकम रु
                  <nepali-input type="text" (change)="digitWord($event, 'totalAmountWord')"
                    name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'150px'"
                    formControlName="totalAmount">
                  </nepali-input>
                  अक्षरेपि
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'500px'" formControlName="totalAmountWord"></nepali-input>
                  <span *ngIf="distType === 'kotahimai'">बराबरको विवरण पेश गर्नुपर्ने छ ।</span>
                  <span *ngIf="distType != 'kotahimai'">मात्रको सार्वजनिक खरिद ऐन २०६३ र सार्वजनिक खरिद नियमावलि २०६४
                    वमोजिम तयार गरिएको लागत अनुमान स्वीकृत हुन ।</span>

                  <br>
                  <span *ngIf="foForm.value.wardNo==='वडा स्तरिय'">
                    २) चालु आ.व <b>{{planYear | displayNepaliDate}}</b> मा {{heading.officeName}}बाट स्वीकृत वडा स्तरिय
                    कार्यक्रम अन्तर्गत
                    <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="wardNo1"></nepali-input>
                    मा
                    <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="activityName"></nepali-input>
                    गर्ने कार्यक्रमको लागि गठित
                    <nepali-input type="text" name="consumerCommitteeName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="consumerCommitteeName">
                    </nepali-input>
                    {{typeText}}ले
                    {{'SAHAVAGITA' | translate}} वापत
                    <span *ngIf="distType != 'kotahimai'">को रकम रु
                      <!-- <input type="number" formControlName="fromConsumerCommittee" (change)="digitWord($event, 'fromPopWord')"> -->
                      {{ foForm.value.fromConsumerCommittee | digitCommas | displayNepaliDate }}
                      अक्षरेपि
                      {{ this.foForm.value.fromPopWord }}
                      {{heading.officeName}}को नाममा रहेको

                      <span *ngIf="distType == 'bodebarsain'">
                        राष्ट्रिय बाणिज्य बैंकको हि.न. २१८०३०४०१८१०४ मा
                      </span>
                      <span *ngIf="distType != 'bodebarsain'">
                        <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                          [containerClass]="'containter'" [width]="'250px'" formControlName="bplace1"></nepali-input>
                        स्थीत <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                          [containerClass]="'containter'" [width]="'500px'" formControlName="bname1"></nepali-input>
                        को खातामा
                      </span>
                      जम्मा गरि नगद भौचर पेश गरेकाले उक्त
                      {{typeText}}संग सम्झौता गरि कार्यदेश दिन हुन
                      <span *ngIf="distType == 'bodebarsain'">
                        मुनासीव देखिदा निर्णायर्थ पेश गरेको छु
                      </span> ।
                    </span>

                    <span *ngIf="distType === 'kotahimai'">रु
                      <!-- <input type="number" formControlName="fromConsumerCommittee" (change)="digitWord($event, 'fromPopWord')"> -->
                      {{ foForm.value.fromConsumerCommittee | digitCommas | displayNepaliDate }}
                      अक्षरेपि
                      {{ this.foForm.value.fromPopWord }}, बराबरको श्रमदान गर्ने गरी उक्त उपभोक्ता समितिसंग सम्झौता गरी
                      कार्यदेश दिनु हुन।
                    </span>

                  </span>

                </p>
              </div>

              <p class="show_div" style="line-height:1.6;text-align:justify">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; उपरोक्त सम्बन्धमा यस
                {{heading.officeName}}को चालु आ.व. <b>{{planYear | displayNepaliDate}}</b> को
                {{foForm.value.paarit}} बाट पारित कार्यक्रम अन्तर्गत {{foForm.value.wardNo}} को स्थानिय पुर्वाधार विकास
                साझेदारी
                कार्यक्रम
                {{foForm.value.activityName}} योजना रहेको र सो कार्यक्रम संचालनार्थ देहाय बमोजिमको निर्णय हुन यो टिप्पणी
                पेश
                गरेको छु ।
                <br>
                १) चालु आ.व <b>{{SearchDatas.planYear | displayNepaliDate}}</b> मा {{heading.officeName}}बाट स्वीकृत
                पुर्वाधार
                कार्यक्रमको नगर स्तरिय कार्यक्रम अन्र्तगत {{foForm.value.wardNo}} मा {{foForm.value.activityName}} गर्ने
                कार्यक्रमको लागि
                स्थानिय सरकारबाट विनियोजित रकम रु
                {{ foForm.value.fromNagarpalika | digitCommas | displayNepaliDate}}
                अक्षरेपि
                {{ foForm.value.fromNagarpalikaWord}}
                र {{'SAHAVAGITA' | translate}} वापत को रकम रु.
                {{foForm.value.fromConsumerCommittee | digitCommas | displayNepaliDate}}
                अक्षरेपि
                {{ this.foForm.value.fromPopWord}}
                गरि जम्मा रकम रु {{foForm.value.totalAmount | digitCommas | displayNepaliDate}} अक्षरेपि
                {{ foForm.value.totalAmountWord }}
                <span *ngIf="distType === 'kotahimai'">बराबरको विवरण पेश गर्नुपर्ने छ ।</span>
                <span *ngIf="distType != 'kotahimai'">मात्रको सार्वजनिक खरिद ऐन २०६३ र सार्वजनिक खरिद नियमावलि २०६४
                  वमोजिम
                  तयार गरिएको लागत अनुमान स्वीकृत हुन ।</span>

                <br>
              </p>
              <p *ngIf="foForm.value.wardNo==='वडा स्तरिय'" class="show_div">
                २) चालु आ.व.<b>{{planYear | displayNepaliDate}}</b> मा {{heading.officeName}}बाट स्वीकृत वडा स्तरिय
                कार्यक्रम
                अन्र्तगत
                {{foForm.value.wardNo1}}
                मा
                {{foForm.value.activityName}}
                गर्ने कार्यक्रमको लागि गठित
                {{foForm.value.consumerCommitteeName}}
                {{typeText}}ले
                {{'SAHAVAGITA' | translate}} वापत
                <span *ngIf="distType != 'kotahimai'">को रकम
                  {{foForm.value.fromConsumerCommittee | digitCommas | displayNepaliDate}}
                  अक्षरेपि
                  {{this.foForm.value.fromPopWord}}
                  {{heading.officeName}}को नाममा रहेको
                  <span *ngIf="distType == 'bodebarsain'">
                    राष्ट्रिय बाणिज्य बैंकको हि.न. २१८०३०४०१८१०४ मा
                  </span>
                  <span *ngIf="distType != 'bodebarsain'">
                    {{foForm.value.bplace1}} स्थीत {{foForm.value.bname1}}को खातामा
                  </span>
                  जम्मा गरि नगद भौचर पेश गरेकाले उक्त
                  {{typeText}}संग सम्झौता गरि कार्यदेश दिन हुन ।
                </span>
                <span *ngIf="distType === 'kotahimai'">
                  रु
                  {{ foForm.value.fromConsumerCommittee | digitCommas | displayNepaliDate }}
                  अक्षरेपि {{this.foForm.value.fromPopWord}},
                  बराबरको श्रमदान गर्ने गरी उक्त उपभोक्ता समितिसंग सम्झौता गरी कार्यदेश दिनु हुन
                  ।
                </span>
                <span *ngIf="distType == 'bodebarsain'">
                  रु {{ foForm.value.fromConsumerCommittee | digitCommas | displayNepaliDate }}
                  अक्षरेपि {{this.foForm.value.fromPopWord}},
                  बराबरको श्रमदान गर्ने गरी उक्त उपभोक्ता समितिसंग सम्झौता गरी कार्यदेश दिनु हुन मुनासीव देखिदा
                  निर्णायर्थ पेश गरेको छु।
                </span>

              </p>
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <table style="width: 100%;">
                <tr>
                  <td>पेश गर्ने:</td>
                  <td>राय दिने:</td>
                  <td>सदर गर्ने:</td>
                </tr>
              </table>
              <br />
              <br />
              <br />
            </div>

            <!-- no logic for sahakari  -->
            <div *ngSwitchCase="'Sahakari'">
              <p style="font-size:25px;text-align:center;" *ngIf="distType !== 'aathbiskot'">टिप्पणी–आदेश पत्र
              </p>
              <hr style="border:1px solid black;" />
              <div style="height:50px;" *ngIf="distType !== 'aathbiskot'">
                <!-- <div style="float:left;width:49%">
                  <p style="text-align:left">प.नं :{{planYear | displayNepaliDate}}
                    <br/>
                    च .नं. : </p>
                </div> -->
                <div style="float:right;width:49%;" class="hide_div">
                  <p style="text-align:right;">मिति:
                    <input type="text" formControlName="currentDate" class="form-style-4" />
                  </p>
                </div>
                <div style="float:right;width:49%;" class="show_div">
                  <p style="text-align:right;">मिति:
                    {{foForm.value.currentDate | displayNepaliDate}}
                  </p>
                </div>
              </div>
              <div style="float: right" class="hide_div" *ngIf="distType === 'aathbiskot'">
                टिप्पणी संख्याः<input type="text" class="form-style-4" style="width:150px !important"
                  formControlName="tippaniNo">
              </div>
              <div style="float: right" class="show_div" *ngIf="distType === 'aathbiskot'">
                टिप्पणी संख्याः {{foForm.value.tippaniNo |
                  displayNepaliDate}}
              </div>

              <div style="clear: both"></div>

              <!-- <p>श्री <span style="font-weight:bold;">{{SearchDatas.contractName ||SearchDatas.consumerCommitteName }}</span> </p> -->
              <p style="font-size: 20px;text-align:center" *ngIf="distType === 'aathbiskot'"><b><u>टिप्पणी र आदेश</u></b></p>
              <p style="text-align:center;">विषय :  <b>सम्झौता सम्बन्धमा।</b></p>

              <p>श्रीमान्,</p>
              <div class="hide_div">
                <p class="hide_div" style="line-height:1.6;text-align:justify">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; उपरोक्त सम्बन्धमा यस
                  {{heading.officeName}}को चालु आ.व. <b>{{planYear | displayNepaliDate}}</b> को
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'200px'" formControlName="paarit"></nepali-input> बाट पारित
                  कार्यक्रम
                  <select formControlName="wardNo">
                    <option value='' [selected]=true>छान्नुहोस</option>
                    <option *ngFor="let item of stharAdapter" [value]="item['name']">{{item['name']}}</option>
                  </select>
                  को स्थानिय पुर्वाधार विकास साझेदारी कार्यक्रम
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'400px'" formControlName="activityName"></nepali-input>
                  योजना
                  रहेको र सो कार्यक्रम संचालनार्थ
                  देहाय बमोजिमको निर्णय हुन यो टिप्पणी पेश गरेको छु ।
                  <br>
                  १) चालु आ.व <b>{{ planYear | displayNepaliDate }}</b> मा {{heading.officeName}}बाट स्वीकृत
                  पुर्वाधार कार्यक्रमको
                  <span *ngIf="isRul">गाउँ</span> <span *ngIf="!isRul">नगर</span>
                  स्तरिय कार्यक्रम अन्तर्गत {{foForm.value.wardNo}} मा {{foForm.value.activityName}}
                  गर्ने कार्यक्रमको लागि
                  स्थानिय सरकारबाट विनियोजित रकम रु
                  <nepali-input (change)="digitWord($event, 'fromNagarpalikaWord')" type="text"
                    name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'150px'"
                    formControlName="fromNagarpalika"></nepali-input>
                  अक्षरेपि
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'500px'" formControlName="fromNagarpalikaWord">
                  </nepali-input>
                  र {{'SAHAVAGITA' | translate}} वापत को रकम रु <nepali-input type="text"
                    (change)="digitWord($event, 'fromPopWord')" name="fromConsumerCommittee"
                    [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'150px'"
                    formControlName="fromConsumerCommittee"></nepali-input> अक्षरेपि
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'500px'" formControlName="fromPopWord"></nepali-input>
                  गरि जम्मा रकम रु
                  <nepali-input type="text" (change)="digitWord($event, 'totalAmountWord')"
                    name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'150px'"
                    formControlName="totalAmount">
                  </nepali-input>
                  अक्षरेपि
                  <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'500px'" formControlName="totalAmountWord"></nepali-input>
                  <span *ngIf="distType === 'kotahimai'">बराबरको विवरण पेश गर्नुपर्ने छ ।</span>
                  <span *ngIf="distType != 'kotahimai'">मात्रको सार्वजनिक खरिद ऐन २०६३ र सार्वजनिक खरिद नियमावलि २०६४
                    वमोजिम तयार गरिएको लागत अनुमान स्वीकृत हुन ।</span>

                  <br>
                  <span *ngIf="foForm.value.wardNo==='वडा स्तरिय'">
                    २) चालु आ.व <b>{{planYear | displayNepaliDate}}</b> मा {{heading.officeName}}बाट स्वीकृत वडा स्तरिय
                    कार्यक्रम अन्तर्गत
                    <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'200px'" formControlName="wardNo1"></nepali-input>
                    मा
                    <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="activityName"></nepali-input>
                    गर्ने कार्यक्रमको लागि गठित
                    <nepali-input type="text" name="consumerCommitteeName" [inputClass]="'form-style-5'"
                      [containerClass]="'containter'" [width]="'400px'" formControlName="consumerCommitteeName">
                    </nepali-input>
                    {{typeText}}ले
                    {{'SAHAVAGITA' | translate}} वापत
                    <span *ngIf="distType != 'kotahimai'">को रकम रु
                      <!-- <input type="number" formControlName="fromConsumerCommittee" (change)="digitWord($event, 'fromPopWord')"> -->
                      {{ foForm.value.fromConsumerCommittee | digitCommas | displayNepaliDate }}
                      अक्षरेपि
                      {{ this.foForm.value.fromPopWord }}
                      {{heading.officeName}}को नाममा रहेको
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'250px'" formControlName="bplace1"></nepali-input>
                      स्थीत <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'500px'" formControlName="bname1"></nepali-input>को
                      खातामा जम्मा गरि नगद भौचर पेश गरेकाले उक्त
                      {{typeText}}संग सम्झौता गरि कार्यदेश दिन हुन ।
                    </span>
                    <span *ngIf="distType === 'kotahimai'">रु
                      <!-- <input type="number" formControlName="fromConsumerCommittee" (change)="digitWord($event, 'fromPopWord')"> -->
                      {{ foForm.value.fromConsumerCommittee | digitCommas | displayNepaliDate }}
                      अक्षरेपि
                      {{ this.foForm.value.fromPopWord }}, बराबरको श्रमदान गर्ने गरी उक्त उपभोक्ता समितिसंग सम्झौता गरी
                      कार्यदेश दिनु हुन।
                    </span>

                  </span>

                  <!-- <br>
                    <br>
                    <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                      [width]="'500px'" formControlName="bplace2"></nepali-input>
                    स्थीत
                    <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                      [width]="'500px'" formControlName="bname2"></nepali-input>
                    को खातामा जम्मा गरि नगद भौचर पेश गरेकाले उक्त {{typeText}} संग सम्झौता गरि कार्यदेश दिनु हुन । -->

                  <!-- उपरोक्त विषयमा यस <span
                  style="font-weight:bold;">{{programName}}</span>
                योजनाको
                <span style="font-weight:bold;">{{activityName}} </span>कार्य संचालन
                गर्न तपाई श्री <span style="font-weight:bold;">{{contractName ||
               consumerCommitteeName}}</span> संग मिति
                <span style="font-weight:bold;">
                  <input type="text" formControlName="contractDate" class="form-style-4"/>
                </span>
                मा सम्झौता भए बमोजिम कार्यादेश प्रदान गर्न मुनासिब देखिएकाेले कार्य सम्पन्न गर्ने
                गरी कार्यादेश प्रदान गरिएको छ। योजनाको सम्झौता बमोजिम कार्य संचालन गराई नियम अनुसार भुक्तानि लिनुहुन जानकारी
                गराउछु। -->

                </p>
              </div>

              <p class="show_div" style="line-height:1.6;text-align:justify">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; उपरोक्त सम्बन्धमा यस
                {{heading.officeName}}को चालु आ.व. <b>{{planYear | displayNepaliDate}}</b> को
                {{foForm.value.paarit}} बाट पारित कार्यक्रम अन्तर्गत {{foForm.value.wardNo}} को स्थानिय पुर्वाधार विकास
                साझेदारी
                कार्यक्रम
                {{foForm.value.activityName}} योजना रहेको र सो कार्यक्रम संचालनार्थ देहाय बमोजिमको निर्णय हुन यो टिप्पणी
                पेश
                गरेको छु ।
                <br>
                १) चालु आ.व <b>{{SearchDatas.planYear | displayNepaliDate}}</b> मा {{heading.officeName}}बाट स्वीकृत
                पुर्वाधार
                कार्यक्रमको नगर स्तरिय कार्यक्रम अन्र्तगत {{foForm.value.wardNo}} मा {{foForm.value.activityName}} गर्ने
                कार्यक्रमको लागि
                स्थानिय सरकारबाट विनियोजित रकम रु
                {{ foForm.value.fromNagarpalika | digitCommas | displayNepaliDate}}
                अक्षरेपि
                {{ foForm.value.fromNagarpalikaWord}}
                र {{'SAHAVAGITA' | translate}} वापत को रकम रु.
                {{foForm.value.fromConsumerCommittee | digitCommas | displayNepaliDate}}
                अक्षरेपि
                {{ this.foForm.value.fromPopWord}}
                गरि जम्मा रकम रु {{foForm.value.totalAmount | digitCommas | displayNepaliDate}} अक्षरेपि
                {{ foForm.value.totalAmountWord }}
                <span *ngIf="distType === 'kotahimai'">बराबरको विवरण पेश गर्नुपर्ने छ ।</span>
                <span *ngIf="distType != 'kotahimai'">मात्रको सार्वजनिक खरिद ऐन २०६३ र सार्वजनिक खरिद नियमावलि २०६४
                  वमोजिम
                  तयार गरिएको लागत अनुमान स्वीकृत हुन ।</span>

                <br>
              </p>
              <p *ngIf="foForm.value.wardNo==='वडा स्तरिय'" class="show_div">
                २) चालु आ.व.<b>{{planYear | displayNepaliDate}}</b> मा {{heading.officeName}}बाट स्वीकृत वडा स्तरिय
                कार्यक्रम
                अन्र्तगत
                {{foForm.value.wardNo1}}
                मा
                {{foForm.value.activityName}}
                गर्ने कार्यक्रमको लागि गठित
                {{foForm.value.consumerCommitteeName}}
                {{typeText}}ले
                {{'SAHAVAGITA' | translate}} वापत
                <span *ngIf="distType != 'kotahimai'">को रकम
                  {{foForm.value.fromConsumerCommittee | digitCommas | displayNepaliDate}}
                  अक्षरेपि
                  {{this.foForm.value.fromPopWord}}
                  {{heading.officeName}}को नाममा रहेको
                  {{foForm.value.bplace1}} स्थीत {{foForm.value.bname1}}को खातामा जम्मा गरि नगद भौचर पेश गरेकाले
                  उक्त {{typeText}}संग सम्झौता गरि कार्यदेश दिन हुन ।
                </span>
                <span *ngIf="distType === 'kotahimai'">
                  रु {{ foForm.value.fromConsumerCommittee | digitCommas | displayNepaliDate }}
                  अक्षरेपि {{this.foForm.value.fromPopWord}},
                  बराबरको श्रमदान गर्ने गरी उक्त उपभोक्ता समितिसंग सम्झौता गरी कार्यदेश दिनु हुन।
                </span>
                <!-- <br>
                  <br>
                  {{foForm.value.bplace2}} स्थीत {{foForm.value.bname2}}को खातामा जम्मा गरि नगद भौचर पेश गरेकाले उक्त उपभोक्ता
                  समिति संग सम्झौता गरि कार्यदेश दिनु हुन । -->
                <!-- उपरोक्त विषयमा यस <span
                  style="font-weight:bold;">{{programName}}</span>
                योजनाको
                <span style="font-weight:bold;">{{activityName}} </span>कार्य संचालन
                गर्न तपाई श्री <span style="font-weight:bold;">{{contractName ||
                consumerCommitteeName}}</span> संग मिति
                <span style="font-weight:bold;">{{foForm.value.contractDate |
                displayNepaliDate}}</span>
                मा सम्झौता भए बमोजिम कार्यादेश प्रदान गर्न मुनासिब देखिएकाेले कार्य सम्पन्न गर्ने
                गरी कार्यादेश प्रदान गरिएको छ। योजनाको सम्झौता बमोजिम कार्य संचालन गराई नियम अनुसार भुक्तानि लिनुहुन जानकारी
                गराउछु। -->
              </p>
              <br />
              <br />
              <br />
              <table style="width: 100%;">
                <tr>
                  <td>पेश गर्ने:</td>
                  <td>राय दिने:</td>
                  <td>सदर गर्ने:</td>
                </tr>
              </table>
              <br />
              <br />
              <br />
            </div>
          </div>


        </div>
      </div>


    </form>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
<div id="nodata" *ngIf="!SearchDatas">
  <p style="text-align:center;">कुनै डेटा उपलब्ध छैन!!</p>
</div>
<div style="height:800px;width:100%;">
  <div *ngIf="!loadedData" style="margin-left:auto;margin-right: auto;margin-top:400px" class="dateloader"></div>
</div>