<div style="overflow: hidden;" id="attWindowContainer">
    <app-anusuchi-search-bar
        (search)="search($event)"
        (loading)="changeLoadingStatus($event)"
        (error)="showError($event)"
        searchBarTitle="खाता अध्यावधिक"
        [showPrint]="true"
        [showSearchBar]="check"
        [onlyConsumerCommittee]="true"
        (print)="printData(foForm.value)"
    ></app-anusuchi-search-bar>
  <div id="printContent">
    <div class="container exam-triplicate" style="page-break-after:always;" *ngIf="SearchDatas.length>0">
      <jqxValidator #myFormValidator>
        <form name="foForm" [formGroup]="foForm" id="foForm">
          <input type="hidden" name="id" class="form-style-4" formControlName="id" />
          <div class="row">
            <div class="col-md-12">
              <div style="display:block;">
                <!-- <table width="100%">
                    <tr>
                      <td width="20%">
                        <img src="assets/images/govntLogo.jpg" alt="NG" width="90" height="90" />
                      </td>
                      <td width="60%">
                        <p style="font-size:12px;text-align:center">
                          <br />
                          <span style="font-size: 16px;margin-top: 5px">
                              <b class="preeti" style="font-size: 27px !important;" *ngIf="organizationMasterData && organizationMasterData['officeName']">{{organizationMasterData['officeName']}}
                                </b>
                          </span>
                          <br />
                          <span style="font-size: 19px">
                            <b
                              *ngIf="organizationMasterData && organizationMasterData['orgName']">{{ organizationMasterData['orgName'] }}</b>
                          </span>
                          <br />
                          <span style="font-size: 14px"
                            *ngIf="organizationMasterData">{{ organizationMasterData['municipality'] }},{{ organizationMasterData['district'] }}
                            <br> {{ organizationMasterData['province'] }}, नेपाल </span><br />
                        </p>
                      </td>
                      <td width="20%"></td>
                    </tr>
                  </table> -->
                <app-letterhead></app-letterhead>
              </div>
              <div style="width:100%;display:block;"></div>
              <div class="univ-title" style="text-align:left">
                <p style="font-size: 14px;"> पत्र संख्या:-
                  <input type="text" name="patraSankhya" class="form-style-4" formControlName="patraSankhya" readonly>
                  <span class="print_show">{{SearchDatas[0]['patraSankhya'] | displayNepaliDate}}</span>
                </p>
                <div class="row">
                  <div class="col-md-6" style="display: inline-block;">
                    <p style="font-size: 14px;">
                      चलानी नं:-
                      <span class="print_show">{{foForm.value.chalaniNo}}</span>
                      <span class="print_hide">
                        <nepali-input type="text" name="chalaniNo" [inputClass]="'form-style-4'"
                          [containerClass]="'containter'" [width]="'100px'" formControlName="chalaniNo"></nepali-input>
                      </span>
                    </p>
                  </div>
                  <div class="col-md-6" style="text-align:right;">
                    <!-- <p style="font-size: 14px;">
                        १ नं. प्रदेश, नेपाल
                      </p> -->
                    <p>मिति :-
                      <span class="print_show">{{foForm.value.date | displayNepaliDate}}</span>
                      <span class="print_hide">
                        <nepali-input type="text" name="date" [placeholder]="'साल-महिना-गते'"
                          [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'"
                          formControlName="date"></nepali-input>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="clear:both;">
              <p style="font-size:12px;text-align:center">विषय:- खाता अध्यावधिक गरिदिने सम्बन्धमा</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <!-- <p style="font-size:12px;">श्री <span class="print_show">{{foForm.value.bankName}}</span>
                  <span class="print_hide">
                    <nepali-input type="text" name="bankName" [inputClass]="'form_change'" [containerClass]="'containter'"
                      [width]="'250px'" formControlName="bankName"></nepali-input>
                  </span></p> -->
              <p style="font-size:12px;">
                <input type="hidden" name="address" formControlName="address">
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="hidePrint">
              <p style="font-size:12px;">श्री
                <nepali-input type="text" name="bankName" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'250px'" formControlName="bankName"></nepali-input><br>
                  <nepali-input type="text" name="bankAddress" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'250px'" formControlName="bankAddress"></nepali-input>
              </p>
              <p style="font-size:12px;">
                श्री
                <nepali-input type="text" name="commettieeName" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="commettieeName"></nepali-input>
                समितिको नाममा त्यहाँ बैंकमा रहेको च.हि.नं.
                <input type="text" name="accountNo" class="form-style-4" formControlName="accountNo"> को खाता सो समितिका
                अध्यक्ष श्री
                <nepali-input type="text" name="adhyaxya" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  [width]="'120px'" formControlName="adhyaxya"></nepali-input>, सचिव श्री
                <nepali-input type="text" name="sachiv" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  [width]="'120px'" formControlName="sachiv"></nepali-input>
                र कोषाध्यक्ष श्री
                <nepali-input type="text" name="kosaadhyaxya" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="kosaadhyaxya"></nepali-input>को
                संयुक्त दस्तखतबाट सञ्चालन भैरहेकोमा हाल उक्त खाता नियमानुसार अध्यावधिक गरिदिनहुन सिफारिश
                साथ अनुरोध छ ।
              </p>
            </div>
            <div class="col-md-12" id="showPrint">
              <p style="font-size:12px;">श्री {{foForm.value.bankName}} <br>
                  {{foForm.value.officeAddress}}
              </p>
              <br><br>
              <p style="font-size:12px;">
                श्री {{foForm.value.commettieeName}} समितिको नाममा त्यहाँ बैंकमा रहेको च.हि.नं.
                {{foForm.value.accountNo | displayNepaliDate}}
                को खाता सो समितिका अध्यक्ष श्री {{foForm.value.adhyaxya}}, सचिव श्री {{foForm.value.sachiv}} र
                कोषाध्यक्ष
                श्री {{foForm.value.kosaadhyaxya}}को संयुक्त दस्तखतबाट सञ्चालन भैरहेकोमा हाल उक्त खाता नियमानुसार
                अध्यावधिक
                गरिदिनहुन सिफारिश साथ अनुरोध छ ।
              </p>
            </div>
          </div>
          <div class="row" style="height:80px;">

          </div>

          <br><br>
          <div class="row">
            <!-- <div class="col-md-6" style="text-align:left;">
              <p style="font-size:12px;">
                <span class="print_show">{{foForm.value.yojana}}</span>
                <span class="print_hide">
                  <nepali-input type="text" name="yojana" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                    [width]="'100px'" formControlName="yojana"></nepali-input>
                </span>
              </p>
            </div> -->
            <div class="col-md-12" style="text-align:right;">
              <p style="font-size:12px;">
                <span class="print_show">{{foForm.value.adhikrit}}</span>
                <span class="print_hide">
                  <nepali-input type="text" name="adhikrit" [inputClass]="'form-style-4'"
                    [containerClass]="'containter'" [width]="'120px'" formControlName="adhikrit"></nepali-input>
                </span>
              </p>
              <p style="font-size:12px;">
                <span class="print_show">{{foForm.value.adhikritPost}}</span>
                <span class="print_hide">
                  <nepali-input type="text" name="adhikritPost" [inputClass]="'form-style-4'"
                    [containerClass]="'containter'" [width]="'120px'" formControlName="adhikritPost"></nepali-input>
                </span>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
                <span class="print_hide">
                  <p style="text-align: left; letter-spacing: 0.8px;line-height: 1.8;">
                    बोधार्थ
                    <br>
                    १) <nepali-input type="text" name="lekhaSakha" [inputClass]="'form-style-4'"
                      [containerClass]="'containter'" [width]="'130px'" formControlName="lekhaSakha"></nepali-input>, {{organizationMasterData['officeName']}}, {{foForm.value.officeAddress}} ।
                    <br />
                    <!-- २) <nepali-input type="text" name="consumerCommettieeAddress" [inputClass]="'form-style-4'"
                      [containerClass]="'containter'" [width]="'130px'" formControlName="yojana"></nepali-input> उपभाेक्ता समिति, {{organizationMasterData['officeName']}} - {{foForm.value.wardNo}} ।
                    <br /> -->
                    २) <nepali-input type="text" name="prabhidikSakha" [inputClass]="'form-style-4'"
                      [containerClass]="'containter'" [width]="'130px'" formControlName="prabhidikSakha"></nepali-input>, {{organizationMasterData['officeName']}}, {{foForm.value.officeAddress}} ।
                    <br />
                    ३) <nepali-input type="text" name="prabhidikSakha1" [inputClass]="'form-style-4'"
                      [containerClass]="'containter'" [width]="'130px'" formControlName="prabhidikSakha1"></nepali-input>, {{organizationMasterData['officeName']}}, {{foForm.value.officeAddress}} ।
                  </p>
                </span>
              </div>
              <div class="col-md-12">
                  <p class="print_show" style="text-align: left; font-size:14px;line-height: 1.5;">
                      बोधार्थ
                      <br>
                      १) {{foForm.value.lekhaSakha}}, {{organizationMasterData['officeName']}}, {{foForm.value.officeAddress}} ।
                      <br />
                      <!-- २) {{foForm.value.yojana}} उपभाेक्ता समिति, {{organizationMasterData['officeName']}} - {{foForm.value.wardNo}} ।
                      <br /> -->
                      २) {{foForm.value.prabhidikSakha}}, {{organizationMasterData['officeName']}}, {{foForm.value.officeAddress}} ।
                      <br />
                      ३) {{foForm.value.prabhidikSakha1}}, {{organizationMasterData['officeName']}}, {{foForm.value.officeAddress}} ।
                  </p>
              </div>
            </div>
        </form>
      </jqxValidator>
    </div>
  </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>
