<div style="overflow: hidden; background:lightskyblue;" id="attWindowContainer">
    <div class="header">
        <!-- <h6 style="font-size:13px;">प्रशासनको विवरण </h6> -->
        <div class="data-form" style="background: lightskyblue;">
            <jqxValidator
                #myValidator
                [hintType]="'tooltip'"
                [position]="'bottom'"
            >
                <form
                    name="activityForm"
                    class="form-style"
                    [formGroup]="activityForm"
                    id="activityForm"
                >
                    <fieldset>
                        <legend>कार्यालय विवरण</legend>
                        <table class="table-w-tooltip">
                            <tr>
                                <b> विवरणः</b>
                            </tr>
                            <tr>
                                <td>नाम</td>
                                <td style="width: 180px;">
                                    <nepali-input
                                        name="officeName"
                                        formControlName="officeName"
                                        [width]="'100%'"
                                        [height]="25"
                                        [inputClass]="'px-control'"
                                    ></nepali-input>
                                </td>
                                <td>कार्यालय</td>
                                <td style="width: 180px;">
                                    <nepali-input
                                        name="orgName"
                                        formControlName="orgName"
                                        [width]="'100%'"
                                        [height]="25"
                                        [inputClass]="'px-control'"
                                    ></nepali-input>
                                </td>
                                <td>TYPE</td>
                                <td>
                                    <jqxInput
                                        name="orgType"
                                        formControlName="orgType"
                                        [width]="'100%'"
                                        [height]="25"
                                        [placeHolder]="'RUL/MUN'"
                                    ></jqxInput>
                                </td>
                                <td>स्थान</td>
                                <td>
                                    <nepali-input
                                        name="placeName"
                                        formControlName="placeName"
                                        [width]="'100%'"
                                        [height]="25"
                                        [inputClass]="'px-control'"
                                    ></nepali-input>
                                </td>
                                <td>जिल्ला</td>
                                <td>
                                    <nepali-input
                                        name="district"
                                        formControlName="district"
                                        [width]="'100%'"
                                        [height]="25"
                                        [inputClass]="'px-control'"
                                    ></nepali-input>
                                </td>

                                <td>प्रदेश नं.</td>

                                <td>
                                    <nepali-input
                                        name="province"
                                        formControlName="province"
                                        [width]="'100%'"
                                        [height]="25"
                                        [placeHolder]="
                                            'प्रदेश नं प्रविष्ट गर्नुहोस्'
                                        "
                                        [inputClass]="'px-control'"
                                    ></nepali-input>
                                </td>
                                <td></td>
                                <td>
                                    फोन नं
                                </td>
                                <td>
                                    <nepali-input
                                        name="officeTelNo"
                                        formControlName="officeTelNo"
                                        [width]="'100%'"
                                        [height]="25"
                                        [placeHolder]="
                                            'फोन नं प्रविष्ट गर्नुहोस्'
                                        "
                                        [inputClass]="'px-control'"
                                    ></nepali-input>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <b>प्रमुखः</b>
                            </tr>
                            <tr>
                                <td style="width:40px;">
                                    नाम
                                </td>
                                <td style="width: 180px;">
                                    <nepali-input
                                        name="nameOfHead"
                                        formControlName="nameOfHead"
                                        [width]="'100%'"
                                        [height]="25"
                                        [placeHolder]="
                                            'ENTER_ACTIVITY_INPREETI'
                                                | translate
                                        "
                                        [inputClass]="'px-control'"
                                    ></nepali-input>
                                </td>

                                <td style="width: 50px;">
                                    पद
                                </td>
                                <td style="width: 180px;">
                                    <nepali-input
                                        name="post"
                                        formControlName="post"
                                        [width]="'100%'"
                                        [height]="25"
                                        [placeHolder]="
                                            'ENTER_ACTIVITY_INPREETI'
                                                | translate
                                        "
                                        [inputClass]="'px-control'"
                                    ></nepali-input>
                                </td>
                                <td>
                                    कार्यलय प्रमुख <br />
                                    फोन नं
                                </td>
                                <td>
                                    <nepali-input
                                        name="headTelNo"
                                        formControlName="headTelNo"
                                        [width]="'100%'"
                                        [height]="25"
                                        [inputClass]="'px-control'"
                                    ></nepali-input>
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <td style="width: 100px;">
                                    <jqxButton
                                        style="margin-right: 5px;"
                                        [theme]="'energyblue'"
                                        (onClick)="saveData(activityForm.value)"
                                    >
                                        {{ 'SAVE' | translate }}
                                    </jqxButton>
                                </td>
                            </tr>
                        </table>

                        <!-- <div class="row">
                            <div class="col">
                                 नाम:
                            </div>
                            <div class="col">
                                    <nepali-input name="orgName" formControlName="orgName" [width]="'100%'" [height]="25"
                                    [inputClass]="'px-control'"></nepali-input>
                               </div>
                               <div class="col">
                                    कार्यालय:
                               </div>
                               <div class="col">
                                    <nepali-input name="orgType" formControlName="orgType" [width]="'150%'" [height]="25"
                                    [inputClass]="'px-control'"></nepali-input>
                               </div>
                               <div class="col">
                                    स्थान:
                               </div>
                               <div class="col">
                                    <nepali-input name="municipality" formControlName="municipality" [width]="'100%'" [height]="25"
                                    [inputClass]="'px-control'"></nepali-input>
                               </div>
                               <div class="col">
                                    जिल्ला:
                               </div>
                               <div class="col-md-1">
                                    <nepali-input name="district" formControlName="district" [width]="'100%'" [height]="25"
                                    [inputClass]="'px-control'"></nepali-input>
                               </div>
                               <div class="col">
                                    प्रदेश नं.:
                               </div>
                               <div class="col">
                                    <nepali-input name="province" formControlName="province" [width]="'100%'" [height]="25" [placeHolder]="'ENTER_ACTIVITY_INPREETI' | translate"
                                        [inputClass]="'px-control'"></nepali-input>
                               </div>


                        </div> -->
                    </fieldset>
                </form>
            </jqxValidator>
        </div>
    </div>
</div>
<jqxNotification
    #msgNotification
    [width]="250"
    [position]="'top-right'"
    [opacity]="0.9"
    [autoOpen]="false"
    [autoClose]="true"
    [animationOpenDelay]="800"
    [autoCloseDelay]="3000"
    [template]="'success'"
>
    <div id="message"></div>
</jqxNotification>
<jqxNotification
    #errNotification
    [width]="250"
    [position]="'top-right'"
    [opacity]="0.9"
    [autoOpen]="false"
    [autoClose]="true"
    [animationOpenDelay]="800"
    [autoCloseDelay]="3000"
    [template]="'error'"
>
    <div id="error"></div>
</jqxNotification>
<jqxLoader
    #jqxLoader
    [imagePosition]="'top'"
    [theme]="'energyblue'"
    [width]="100"
    [height]="60"
>
</jqxLoader>
