<!-- menu added for ward user  -->
<div #jqxWidget3 *ngIf="userType.toLowerCase() =='ward'" class="menu-container">
    <jqxMenu #jqxMenu2 [width]="'100%'" [keyboardNavigation]="true"
        (onItemclick)="menuClicked($event)"
        [autoSizeMainItems]="true" [theme]="'energyblue'">
        <ul>
            <li>
                <a (click)="closeBar()" routerLink="/dashboard">
                    <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                    {{'DASHBOARD'|translate}}
                </a>
            </li>
            <li>
                <i class="fa fa-wrench" aria-hidden="true"></i> &nbsp;
                {{'SETUP'|translate}}
                <ul>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/consumer-committee">{{'CUST'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-users"></i> {{'UTILITY'|translate}}
                <ul>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/utility/change-password">{{'CHANGEPASSWORD'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li id="userInfo"> <i class="fa fa-user"></i>
                <ul>
                    <li id="username">
                        <span *ngIf="uname" style="font-weight:bold">{{ 'USER' |
                            translate }} : {{ uname }} </span>
                    </li>

                    <li id="logoutbtn">
                        <jqxButton style="margin-right: 5px;margin-top: 1px;"
                            [theme]="'energyblue'"
                            (onClick)="logOut()">
                            <i class="fa fa-sign-out"></i>
                            {{'LOGOUT'|translate}}
                        </jqxButton>
                    </li>
                </ul>

            </li>
            <div style="float:right;">
                <!-- <span *ngIf="fy">{{ 'FISCALYEAR' | translate }} : {{ fy }} |</span> -->
                <!-- <span *ngIf="uname" style="font-weight:bold">{{ 'USER' | translate }} : {{ uname }} </span> -->
                <jqxButton style="margin-right: 5px;margin-top: 1px;"
                    [theme]="'energyblue'" (onClick)="showKeyboard()">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                </jqxButton>
                <!-- <jqxButton style="margin-right: 5px;margin-top: 1px;" [theme]="'energyblue'" (onClick)="logOut()">
                    <i class="fa fa-sign-out"></i> {{'LOGOUT'|translate}}
                </jqxButton> -->
                <jqxButton style="margin-right: 5px;margin-top: 1px;"
                    [theme]="'energyblue'"
                    (onClick)="changeKeyboard()">
                    {{lay}}
                </jqxButton>
            </div>
        </ul>
    </jqxMenu>
</div>

<div #jqxWidget1 *ngIf="userType.toLowerCase() =='admin' ||
    userType.toLowerCase() =='super admin'"
    class="menu-container">
    <jqxMenu #jqxMenu1 [width]="'100%'" [keyboardNavigation]="true"
        (onItemclick)="menuClicked($event)"
        [autoSizeMainItems]="true" [theme]="'energyblue'" style="padding: 7px;">
        <!-- <ul app-sidebar-menu-item (closeBar)="closeBar" [menus]="[]"></ul> -->
        <ul>
            <li>
                <a (click)="closeBar()" routerLink="/dashboard">
                    <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                    {{'DASHBOARD'|translate}}
                </a>
            </li>
            <li>
                <i class="fa fa-wrench" aria-hidden="true"></i> &nbsp;
                {{'SETUP'|translate}}
                <ul>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/planning-year">{{'PLANNING_YEAR'|translate}}</a>
                    </li>


                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/activity-type-master">{{'ACTIVITY_TYPE_MASTER'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/inclusion-group">{{'INCLUSION_GROUP'|translate}}</a>
                    </li>



                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/activity-focus-area-master">{{'ACTIVITY_FOCUS_AREA_MASTER'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/setup/agency-type">{{'AGENCY_TYPE_MASTER'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/division">{{'DIVISION'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/setup/programs">{{'PROGRAM'
                            | translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/service-type-master">{{'SERVICE_TYPE'|translate}}</a>
                    </li>

                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/assets-detail-type">{{'ASSET_DETAIL_TYPE'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/setup/plan-unit">{{'PLAN_UNIT'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/assets-details-category">{{'ASSETS_DETAILS_CATEGORY'
                            | translate}}</a>
                    </li>
                    <!-- <li>
                        <a (click)="closeBar()" routerLink="/setup/assets-details-sub-category">{{'ASSETS_DETAILS_SUB_CATEGORY' | translate}}</a>

                    </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/training-category-master">{{'TRAINING_CATEGORY'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/organized-by-master">{{'ORGANIZED_BY_MASTER'
                            | translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/organization-master">कार्यालयको विवरण</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/anugaman-samiti">अनुगमन समिति</a>
                    </li>

                </ul>
            </li>
            <li>
                <i class="fa fa-tasks"></i> {{'ACTIVITY'|translate}}
                <ul>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/activity/activity-details">{{'ACT_DETAILS'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/activity/manage-activity">{{'MANAGE_ACTIVITY'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/activity/activity-output">{{'ACT_OUTPUT'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/activity/program-transfer">{{'PROGRAM_TRANSFER'|translate}}</a>
                    </li>
                    <!-- <li>
                        <a (click)="closeBar()" routerLink="/activity/budget-transfer">{{'BUDGET_TRANSFER'|translate}}</a>
                    </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/activity/budget-addition">{{'BUDGET_ADDITION'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-thumbs-up"></i> {{'APPROVAL'|translate}}
                <ul>
                    <!-- <li>
                        <a (click)="closeBar()" routerLink="/approval/estimate-abstract-of-cost">{{'ESTIMATE_ABSTRACT_OF_COST'|translate}}</a>
                    </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/approval/technical-approval">{{'TECHNICAL_APPROVAL'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/approval/administrative-approval">{{'ADMINISTRATIVE_APPROVAL'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-spinner"></i> {{'PROGRESS_REPORTING'|translate}}
                <ul>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/progress-reporting/progress-reporting-listing">{{'PRO_LIST'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-university"></i> {{'KHATA_SANCHALAN'|translate}}
                <ul>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/khata-sanchalan/about-financial-operation">{{'FINANCIAL_OPERATION'|translate}}</a>
                    </li>
                    <!-- <li>
                        <a (click)="closeBar()" routerLink="/khata-sanchalan/about-amount-provider">{{'AMOUNT_PROVIDER'|translate}}</a>
                    </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/khata-sanchalan/about-account-close">
                            खाता बन्द
                        </a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/khata-sanchalan/account-edit">{{'ACCOUNT_EDIT'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/khata-sanchalan/name-change">{{'NAME_CHANGE'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/khata-sanchalan/farfaarak">फरफारक
                            दिईएको</a>
                    </li>

                </ul>
            </li>
            <li>
                <i class="fa fa-line-chart"></i> {{'REPORT'|translate}}
                <ul>
                    <!-- <li>
                        <a (click)="closeBar()" routerLink="/report/detailed-estimate-and-abstract-of-cost">{{'DETAILED_ESTIMATE_AND_ABSTRACT_OF_COST'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/measurement-book-and-bill-of-qty-report">{{'MEASUREMENT_BOOK_AND_BILL_OF_QTY_REPORT'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/work-aception-report-thaka-bill">{{'WORK_ACEPTION_REPORT_THAKKA_BILL'|translate}}</a>
                    </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/report/program-report">कार्यक्रम रिपोर्ट</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/report/activity-detail-ledger">{{'ACTIVITY_LEDGER'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/report/activity-report">{{'ACTIVITY_REPORT'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/report/consumer-committee-cost">{{'consumerCommitteeCost'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/report/planning-progress-report">{{'planningProgressReport'|translate}}</a>
                    </li>
                    <!-- <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi17"> अनुसूची १७ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi172"> अनुसूची १७ - २ रिपोर्ट </a>
                    </li> -->
                    <li>
                        <a (click)="closeBar()" routerLink="/report/karyabidhi">
                            कार्यविधि रिपोर्ट </a>
                    </li>

                </ul>
            </li>
            <li>
                <i class="fa fa-bar-chart"></i> अनुसूची
                <ul>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi1">
                            अनुसूची १ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi2">
                            अनुसूची २ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi3">
                            अनुसूची ३ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi4">
                            अनुसूची ४ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi5">
                            अनुसूची ५ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi6">
                            अनुसूची ६ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi17">
                            अनुसूची १७ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/report/anusuchi172"> अनुसूची १७ - २
                            रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/report/sarbajanik-faram"> सार्वजनिक
                            परिक्षण फारम </a>
                    </li>
                </ul>
            </li>

            <li>
                <i class="fa fa-users"></i> {{'UTILITY'|translate}}
                <ul>
                    <li>
                        <a (click)="closeBar()" routerLink="/utility/user">{{'MANAGEUSER'|translate}}</a>
                    </li>
                    <!-- <li>
                        <a (click)="closeBar()" routerLink="/utility/upload-excel">upload-excel</a>
                    </li> -->
                    <!-- <li>
                        <a (click)="closeBar()" routerLink="/utility/permission">{{'MANAGEPERMISSION'|translate}}</a>
                    </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/utility/change-password">{{'CHANGEPASSWORD'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a (click)="closeBar()" routerLink="/remaining-activity">
                    <i class="fa fa-bell fa-fw" aria-hidden="true"></i> याेजना
                    Alert's
                    <sup *ngIf="lnth" style="color:red">{{lnth}}</sup>
                </a>
            </li>
            <!-- <li id="Language"> -->
            <!-- <i class="fa fa-language fa-fw"></i> {{'LANGUAGE'|translate}} : {{ currentLang }}
                <ul>
                    <li>{{'NEPALI'|translate}}</li>
                    <li>{{'ENGLISH'|translate}}</li>
                </ul> -->
            <!-- </li> -->
            <li id="userInfo"> <i class="fa fa-user"></i>
                <ul>
                    <li id="username">
                        <span *ngIf="uname" style="font-weight:bold">{{ 'USER' |
                            translate }} : {{ uname }} </span>
                    </li>

                    <li id="logoutbtn">
                        <jqxButton style="margin-right: 5px;margin-top: 1px;"
                            [theme]="'energyblue'"
                            (onClick)="logOut()">
                            <i class="fa fa-sign-out"></i>
                            {{'LOGOUT'|translate}}
                        </jqxButton>
                    </li>
                </ul>

            </li>
            <div style="float:right;">
                <!-- <span *ngIf="fy">{{ 'FISCALYEAR' | translate }} : {{ fy }} |</span> -->
                <!-- <span *ngIf="uname" style="font-weight:bold">{{ 'USER' | translate }} : {{ uname }} </span> -->
                <jqxButton style="margin-right: 5px;margin-top: 1px;"
                    [theme]="'energyblue'" (onClick)="showKeyboard()">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                </jqxButton>
                <!-- <jqxButton style="margin-right: 5px;margin-top: 1px;" [theme]="'energyblue'" (onClick)="logOut()">
                    <i class="fa fa-sign-out"></i> {{'LOGOUT'|translate}}
                </jqxButton> -->
                <jqxButton style="margin-right: 5px;margin-top: 1px;"
                    [theme]="'energyblue'"
                    (onClick)="changeKeyboard()">
                    {{lay}}
                </jqxButton>
            </div>
        </ul>
    </jqxMenu>
</div>
<div #jqxWidget2
    *ngIf="userType.toLowerCase() =='activity manager' || userType.toLowerCase()
    =='administrative manager' || userType.toLowerCase() == 'technical manager'"class="menu-container">
    <jqxMenu #jqxMenu2 [width]="'100%'" [keyboardNavigation]="true"
        (onItemclick)="menuClicked($event)"
        [autoSizeMainItems]="true" [theme]="'energyblue'" style="padding: 7px;">
        <ul>
            <li>
                <a (click)="closeBar()" routerLink="/dashboard">
                    <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                    {{'DASHBOARD'|translate}}
                </a>
            </li>
            <li>
                <i class="fa fa-wrench" aria-hidden="true"></i> &nbsp;
                {{'SETUP'|translate}}
                <ul>
                    <!-- <li>
                            <a (click)="closeBar()" routerLink="/setup/planning-year">{{'PLANNING_YEAR'|translate}}</a>
                        </li> -->
                    <!-- <li>
                            <a (click)="closeBar()" routerLink="/setup/organization-master">or</a>
                        </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/activity-type-master">{{'ACTIVITY_TYPE_MASTER'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/inclusion-group">{{'INCLUSION_GROUP'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/division">{{'DIVISION'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/activity-focus-area-master">{{'ACTIVITY_FOCUS_AREA_MASTER'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/setup/agency-type">{{'AGENCY_TYPE_MASTER'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/setup/programs">{{'PROGRAM'
                            | translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/service-type-master">{{'SERVICE_TYPE'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/assets-detail-type">{{'ASSET_DETAIL_TYPE'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/setup/plan-unit">{{'PLAN_UNIT'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/assets-details-category">{{'ASSETS_DETAILS_CATEGORY'
                            | translate}}</a>
                    </li>
                    <!-- <li>
                            <a (click)="closeBar()" routerLink="/setup/assets-details-sub-category">{{'ASSETS_DETAILS_SUB_CATEGORY' | translate}}</a>

                        </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/training-category-master">{{'TRAINING_CATEGORY'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/setup/organized-by-master">{{'ORGANIZED_BY_MASTER'
                            | translate}}</a>
                    </li>

                </ul>
            </li>
            <li>
                <i class="fa fa-tasks"></i> {{'ACTIVITY'|translate}}
                <ul>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/activity/activity-details">{{'ACT_DETAILS'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/activity/manage-activity">{{'MANAGE_ACTIVITY'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/activity/activity-output">{{'ACT_OUTPUT'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/activity/program-transfer">{{'PROGRAM_TRANSFER'|translate}}</a>
                    </li>
                    <!-- <li>
                            <a (click)="closeBar()" routerLink="/activity/budget-transfer">{{'BUDGET_TRANSFER'|translate}}</a>
                        </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/activity/budget-addition">{{'BUDGET_ADDITION'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-thumbs-up"></i> {{'APPROVAL'|translate}}
                <ul>
                    <!-- <li>
                            <a (click)="closeBar()" routerLink="/approval/estimate-abstract-of-cost">{{'ESTIMATE_ABSTRACT_OF_COST'|translate}}</a>
                        </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/approval/technical-approval">{{'TECHNICAL_APPROVAL'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/approval/administrative-approval">{{'ADMINISTRATIVE_APPROVAL'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-spinner"></i> {{'PROGRESS_REPORTING'|translate}}
                <ul>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/progress-reporting/progress-reporting-listing">{{'PRO_LIST'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-university"></i> {{'KHATA_SANCHALAN'|translate}}
                <ul>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/khata-sanchalan/about-financial-operation">{{'FINANCIAL_OPERATION'|translate}}</a>
                    </li>
                    <!-- <li>
                            <a (click)="closeBar()" routerLink="/khata-sanchalan/about-amount-provider">{{'AMOUNT_PROVIDER'|translate}}</a>
                        </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/khata-sanchalan/about-account-close">वाँकी
                            रकम निकाशा गरि
                            खाता बन्द गरिदिने
                            सम्वन्धमा
                        </a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/khata-sanchalan/account-edit">{{'ACCOUNT_EDIT'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/khata-sanchalan/name-change">{{'NAME_CHANGE'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/khata-sanchalan/farfaarak">फरफारक
                            दिईएको सम्वन्धमा</a>
                    </li>

                </ul>
            </li>
            <li>
                <i class="fa fa-line-chart"></i> {{'REPORT'|translate}}
                <ul>
                    <!-- <li>
                            <a (click)="closeBar()" routerLink="/report/detailed-estimate-and-abstract-of-cost">{{'DETAILED_ESTIMATE_AND_ABSTRACT_OF_COST'|translate}}</a>
                        </li>
                        <li>
                            <a (click)="closeBar()" routerLink="/report/measurement-book-and-bill-of-qty-report">{{'MEASUREMENT_BOOK_AND_BILL_OF_QTY_REPORT'|translate}}</a>
                        </li>
                        <li>
                            <a (click)="closeBar()" routerLink="/report/work-aception-report-thaka-bill">{{'WORK_ACEPTION_REPORT_THAKKA_BILL'|translate}}</a>
                        </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/report/activity-detail-ledger">{{'ACTIVITY_LEDGER'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/report/activity-report">{{'ACTIVITY_REPORT'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/report/consumer-committee-cost">{{'consumerCommitteeCost'|translate}}</a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/report/planning-progress-report">{{'planningProgressReport'|translate}}</a>
                    </li>
                    <!-- <li>
                            <a (click)="closeBar()" routerLink="/report/anusuchi17"> अनुसूची १७ रिपोर्ट </a>
                        </li>
                        <li>
                            <a (click)="closeBar()" routerLink="/report/anusuchi172"> अनुसूची १७ - २ रिपोर्ट </a>
                        </li> -->
                    <li>
                        <a (click)="closeBar()" routerLink="/report/karyabidhi">
                            कार्यविधि रिपोर्ट </a>
                    </li>
                    <li>
                        <a routerLink="/report/sarbajanik-faram"> सार्वजनिक
                            परिक्षण फारम </a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-bar-chart"></i> अनुसूची
                <ul>

                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi3">
                            अनुसूची ३ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi4">
                            अनुसूची ४ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi5">
                            अनुसूची ५ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi6">
                            अनुसूची ६ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()" routerLink="/report/anusuchi17">
                            अनुसूची १७ रिपोर्ट </a>
                    </li>
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/report/anusuchi172"> अनुसूची १७ - २
                            रिपोर्ट </a>
                    </li>
                </ul>
            </li>

            <li>
                <i class="fa fa-users"></i> {{'UTILITY'|translate}}
                <ul>
                    <!-- <li>
                            <a (click)="closeBar()" routerLink="/utility/user">{{'MANAGEUSER'|translate}}</a>
                        </li> -->
                    <!-- <li>
                            <a (click)="closeBar()" routerLink="/utility/permission">{{'MANAGEPERMISSION'|translate}}</a>
                        </li> -->
                    <li>
                        <a (click)="closeBar()"
                            routerLink="/utility/change-password">{{'CHANGEPASSWORD'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a (click)="closeBar()" routerLink="/remaining-activity">
                    <i class="fa fa-bell fa-fw" aria-hidden="true"></i> याेजना
                    Alert's
                    <sup *ngIf="lnth" style="color:red">{{lnth}}</sup>
                </a>
            </li>
            <!-- <li id="Language"> -->
            <!-- <i class="fa fa-language fa-fw"></i> {{'LANGUAGE'|translate}} : {{ currentLang }}
                    <ul>
                        <li>{{'NEPALI'|translate}}</li>
                        <li>{{'ENGLISH'|translate}}</li>
                    </ul> -->
            <!-- </li> -->
            <li id="userInfo"> <i class="fa fa-user"></i>
                <ul>
                    <li id="username">
                        <span *ngIf="uname" style="font-weight:bold">{{ 'USER' |
                            translate }} : {{ uname }} </span>
                    </li>

                    <li id="logoutbtn">
                        <jqxButton style="margin-right: 5px;margin-top: 1px;"
                            [theme]="'energyblue'"
                            (onClick)="logOut()">
                            <i class="fa fa-sign-out"></i>
                            {{'LOGOUT'|translate}}
                        </jqxButton>
                    </li>
                </ul>

            </li>
            <div style="float:right;">
                <!-- <span *ngIf="fy">{{ 'FISCALYEAR' | translate }} : {{ fy }} |</span> -->
                <!-- <span *ngIf="uname" style="font-weight:bold">{{ 'USER' | translate }} : {{ uname }} </span> -->
                <jqxButton style="margin-right: 5px;margin-top: 1px;"
                    [theme]="'energyblue'" (onClick)="showKeyboard()">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                </jqxButton>
                <!-- <jqxButton style="margin-right: 5px;margin-top: 1px;" [theme]="'energyblue'" (onClick)="logOut()">
                        <i class="fa fa-sign-out"></i> {{'LOGOUT'|translate}}
                    </jqxButton> -->
                <jqxButton style="margin-right: 5px;margin-top: 1px;"
                    [theme]="'energyblue'"
                    (onClick)="changeKeyboard()">
                    {{lay}}
                </jqxButton>
            </div>
        </ul>


    </jqxMenu>
</div>

<jqxWindow #keyboardWindow [width]="'60%'" [height]="'65%'" [minWidth]="'35%'"
    [minHeight]="'40%'"
    [theme]="'energyblue'" [showCollapseButton]="true" [autoOpen]="false"
    [isModal]="false" style="padding: 7px;">

    <div>
        <span>
            <i class="fa fa-keyboard-o" aria-hidden="true"></i> <span
                *ngIf="tog">Nepali Unicode Romanized Keyboard
                Layout</span>
            <span *ngIf="!tog">Nepali Unicode Traditional Keyboard Layout</span>
        </span>

    </div>
    <div style="overflow: hidden;" #windowContent>
        <div *ngIf="tog" style="width: 100%; height:100%;">
            <img src="assets/images/keyboard-layout.png">
        </div>
        <div *ngIf="!tog" style="width: 100%; height:100%;">
            <img src="assets/images/Nepali-layout-kb.jpg">
        </div>
    </div>
</jqxWindow>
