$topnav-background-color: #d2d2d2;
$sidebar-primary: #630201;
// Added in jqx.base.css
// .jqx-menu-vertical {
//     background-color: #d2d2d2;
// }
.jqx-widget-header {
    border-color: transparent;
}

.jqx-menu-item a,
.jqx-menu-item a:link,
.jqx-menu-item a:hover {
    font-size: 12px !important;
    word-spacing: 0px !important;
}

.jqx-menu-item {
    // padding: 2px 2px 2px 4px !important;
    padding: 4px 4px 4px 4px !important;
}

/* .jqx-menu-popup {
    width: 166px !important;
}

.jqx-menu-dropdown {
    width: 166px !important;
}   */

.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 46px; // default 55px
    left: 200px;
    width: 200px;
    margin-left: -200px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $topnav-background-color;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; // border-top: 1px solid rgba(255,255,255,0.3);
    .list-group {
        a.list-group-item {
            background: $topnav-background-color;
            border: 0;
            border-radius: 0;
            color: #dcdcdc;
            padding: 0.45rem 0.45rem !important;
            text-decoration: none;
            .fa {
                margin-right: 10px;
            }
            .fa1 {
                margin-left: 10px;
            }
        }
        a:hover {
            background: darken($topnav-background-color, 5%);
            color: #fff;
        }
        a.router-link-active {
            background: darken($topnav-background-color, 5%);
            color: #fff;
        }
    }
    .sidebar-dropdown {
        *:focus {
            border-radius: none;
            border: none;
        }
        .panel-title {
            font-size: 1rem;
            height: 50px;
            margin-bottom: 0;
            a {
                color: #999;
                text-decoration: none;
                font-weight: 400;
                background: $topnav-background-color;
                span {
                    position: relative;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    padding-top: 1rem;
                }
            }
            a:hover,
            a:focus {
                color: #fff;
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:hover {
            background: darken($topnav-background-color, 5%);
        }
        .panel-collapse {
            border-radious: 0;
            border: none;
            .panel-body {
                .list-group-item {
                    border-radius: 0;
                    background-color: $topnav-background-color;
                    border: 0 solid transparent;
                    a {
                        color: #999;
                    }
                    a:hover {
                        color: #fff;
                    }
                }
                .list-group-item:hover {
                    background: darken($topnav-background-color, 5%);
                }
            }
        }
    }
}

.nested-menu {
    .list-group-item {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    color: #fff;
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}

.jqx-menu li,
.jqx-menu-dropdown li {
    line-height: 1.34 !important;
}

.jqx-menu-item-top {
    letter-spacing: 0px;
    word-spacing: -3px;
}
.menu-container li,
.menu-container li a {
    font-size: 15px;
}

.jqx-menu-item a:link,
.jqx-menu-item a:visited,
.jqx-menu-item a:hover,
.jqx-menu-item-top a:link,
.jqx-menu-item-top a:visited,
.jqx-menu-item-top a:hover {
    word-spacing: -2px;
    font-size: 15px !important;
}

@media screen and (max-width: 992px) {
    .sidebar {
        top: 44px;
        left: 0px;
    }
}

@media (max-width: 1242px) {
    .jqx-menu-ul {
        li {
            font-size: 0.7rem !important;
        }
    }
    .jqx-menu-item-top a:link {
    }
}

@media (max-width: 1093px) {
    .jqx-menu-ul {
        li {
            font-size: 0.6rem !important;
        }
    }
    .jqx-menu-item-top a:link {
    }
}

img {
    width: 100%;
    height: auto;
}
#userInfo {
    float: right !important;
}
#username:hover,
#username span,
#username span:hover {
    background-color: white !important;
    border-color: white;
}
#logoutbtn:hover {
    background-color: white !important;
    border-color: white;
}
