.jqx-widget-header {
  border-color: transparent;
}

.jqx-menu-item a,
.jqx-menu-item a:link,
.jqx-menu-item a:hover {
  font-size: 12px !important;
  word-spacing: 0px !important;
}

.jqx-menu-item {
  padding: 4px 4px 4px 4px !important;
}

/* .jqx-menu-popup {
    width: 166px !important;
}

.jqx-menu-dropdown {
    width: 166px !important;
}   */
.sidebar {
  border-radius: 0;
  position: fixed;
  z-index: 1000;
  top: 46px;
  left: 200px;
  width: 200px;
  margin-left: -200px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #d2d2d2;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sidebar .list-group a.list-group-item {
  background: #d2d2d2;
  border: 0;
  border-radius: 0;
  color: #dcdcdc;
  padding: 0.45rem 0.45rem !important;
  text-decoration: none;
}

.sidebar .list-group a.list-group-item .fa {
  margin-right: 10px;
}

.sidebar .list-group a.list-group-item .fa1 {
  margin-left: 10px;
}

.sidebar .list-group a:hover {
  background: #c5c5c5;
  color: #fff;
}

.sidebar .list-group a.router-link-active {
  background: #c5c5c5;
  color: #fff;
}

.sidebar .sidebar-dropdown *:focus {
  border-radius: none;
  border: none;
}

.sidebar .sidebar-dropdown .panel-title {
  font-size: 1rem;
  height: 50px;
  margin-bottom: 0;
}

.sidebar .sidebar-dropdown .panel-title a {
  color: #999;
  text-decoration: none;
  font-weight: 400;
  background: #d2d2d2;
}

.sidebar .sidebar-dropdown .panel-title a span {
  position: relative;
  display: block;
  padding: .75rem 1.5rem;
  padding-top: 1rem;
}

.sidebar .sidebar-dropdown .panel-title a:hover,
.sidebar .sidebar-dropdown .panel-title a:focus {
  color: #fff;
  outline: none;
  outline-offset: -2px;
}

.sidebar .sidebar-dropdown .panel-title:hover {
  background: #c5c5c5;
}

.sidebar .sidebar-dropdown .panel-collapse {
  border-radious: 0;
  border: none;
}

.sidebar .sidebar-dropdown .panel-collapse .panel-body .list-group-item {
  border-radius: 0;
  background-color: #d2d2d2;
  border: 0 solid transparent;
}

.sidebar .sidebar-dropdown .panel-collapse .panel-body .list-group-item a {
  color: #999;
}

.sidebar .sidebar-dropdown .panel-collapse .panel-body .list-group-item a:hover {
  color: #FFF;
}

.sidebar .sidebar-dropdown .panel-collapse .panel-body .list-group-item:hover {
  background: #c5c5c5;
}

.nested-menu .list-group-item {
  cursor: pointer;
}

.nested-menu .nested {
  list-style-type: none;
}

.nested-menu ul.submenu {
  display: none;
  height: 0;
}

.nested-menu .expand ul.submenu {
  display: block;
  list-style-type: none;
  height: auto;
}

.nested-menu .expand ul.submenu li a {
  color: #FFF;
  padding: 10px;
  display: block;
}

.jqx-menu li, .jqx-menu-dropdown li {
  line-height: 1.34 !important;
}

.jqx-menu-item-top {
  letter-spacing: 0px;
  word-spacing: -3px;
}

.jqx-menu-item a:link, .jqx-menu-item a:visited, .jqx-menu-item a:hover, .jqx-menu-item-top a:link, .jqx-menu-item-top a:visited, .jqx-menu-item-top a:hover {
  word-spacing: -2px;
}

@media screen and (max-width: 992px) {
  .sidebar {
    top: 44px;
    left: 0px;
  }
}

@media (max-width: 1242px) {
  .jqx-menu-ul li {
    font-size: 0.7rem !important;
  }
}

@media (max-width: 1093px) {
  .jqx-menu-ul li {
    font-size: 0.6rem !important;
  }
}

img {
  width: 100%;
  height: auto;
}

#userInfo {
  float: right !important;
}

#username:hover,
#username span,
#username span:hover {
  background-color: white !important;
  border-color: white;
}

#logoutbtn:hover {
  background-color: white !important;
  border-color: white;
}
/*# sourceMappingURL=sidebar.component.css.map */