<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header
          jqx-widget-header-energyblue">
          <h2>{{'MANAGE_USER' | translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="uForm" [formGroup]="uForm">
            <fieldset>
              <legend>{{'USER_DETAILS' | translate}}</legend>
              <input type="text" name="id" formControlName="id" hidden>
              <div style="display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center">
                <div style="width: 200px; margin: 5px">
                  <label>{{'USERNAME' | translate}}*</label>
                  <jqxInput formControlName="loginId" [width]="200"
                    [height]="25"></jqxInput>
                </div>
                <div style="width: 200px; margin: 5px">
                  <label>{{'FULL_NAME' | translate}}*</label>
                  <nepali-input name="fullName" formControlName="fullName" [height]="25" 
                  [placeHolder]="'ENTER_NAME' | translate"
                    [inputClass]="'px-control'"></nepali-input>
                </div>
                <div style="width: 200px; margin: 5px">
                  <label>{{'EMAIL' | translate}} *</label>
                  <jqxInput formControlName="email" [width]="200"
                    [height]="25"></jqxInput>
                </div>
                <div style="width: 200px; margin: 5px">
                  <label>{{'PASSWORD' | translate}} *</label>
                  <jqxPasswordInput formControlName="loginPass" [width]="200"
                    [height]="25"></jqxPasswordInput>
                </div>
                <div style="width: 200px; margin: 5px">
                  <label>{{'CON_PASSWORD' | translate}} *</label>
                  <jqxPasswordInput formControlName="confirm_password" [width]="200"
                    [height]="23"></jqxPasswordInput>
                  <span style="color: red;font-size: 10px;"
                    *ngIf="cpwd.hasError('invalid')"> {{'INVALID_PASSWORD' |
                    translate}} </span>
                </div>
                <div style="width: 200px; margin: 5px">
                  <label>{{'ADDRESS' | translate}} *</label>
                  <nepali-input name="address" formControlName="address"
                    [width]="'200'" [height]="23"
                    [placeHolder]="'ENTER_ADDRESS' | translate"
                    [inputClass]="'px-control'"></nepali-input>
                </div>
                <div style="width: 200px; margin: 5px">
                  <label>{{'MOBILE_NO' | translate}}*</label>
                  <jqxInput formControlName="mobile" [width]="200"
                    [height]="25"></jqxInput>
                </div>
                <div style="width: 200px; margin: 5px">
                  <label>{{'USER_TYPE' | translate}} </label>
                  <select formControlName="userType"
                    (change)="userTypeChange(userType.value)"
                    class="selectpicker
                    select-class">
                    <option value="" [selected]="true">छान्नुहोस्</option>
                    <option *ngFor="let data of userTypes"
                      [value]="data['type']">{{data['name']}}</option>
                  </select>
                  <p *ngIf="userType.invalid && submitted">
                    प्रयोगकर्ता प्रकार चाहिन्छ ।
                  </p>
                </div>
                <div style="width: 200px; margin: 5px">
                  <label>प्रयोगकर्ताको इकाई </label>
                  <select formControlName="orgId" class="selectpicker
                    select-class select-border">
                    <option value="" [selected]="true">छान्नुहोस्</option>
                    <option *ngFor="let data of agencyTypeAdapter"
                      [value]="data['code']">{{data['nameNepali']}}</option>
                  </select>
                </div>
                <div style="width: 200px; margin: 5px">
                  <label>अनुमोदन बिना प्रिन्ट गर्न पाउने ?</label>
                  <input type="checkbox" formControlName="canPrintSamjhautaBeforeApproval">
                </div>
                <div style="width: 200px; margin: 5px">
                  <label>सबै डाटा हेर्न पाउने ?</label>
                  <input type="checkbox" formControlName="canViewAllData">
                </div>
                <div style="width: 200px; margin: 5px">
                  <jqxButton *ngIf="!update" [theme]="'energyblue'"
                    [disabled]="!uForm.valid" 
                    (onClick)="save(uForm.value)">
                    {{'SAVE' | translate}}
                  </jqxButton>
                  <jqxButton *ngIf="update"
                    [theme]="'energyblue'" [disabled]="!uForm.valid"
                    (onClick)="updateBtn(uForm.value)">
                    {{'UPDATE' | translate}}
                  </jqxButton>
                  <jqxButton *ngIf="update"
                    [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                    <i class="fa fa-times"></i>{{'CANCEL' | translate}}
                  </jqxButton>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'"
            [source]="dataAdapter" [columns]="columns" [pageable]="true"
            [filterable]="true"
            [autorowheight]="true" [sortable]="true" [editable]="true"
            [theme]="'energyblue'" [selectionmode]="'checkbox'"
            [showfilterrow]="true" [showtoolbar]="true"
            [rendertoolbar]="rendertoolbar" [keyboardnavigation]="true">
          </jqxGrid>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="200" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="200" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
  [width]="100" [height]="60">
</jqxLoader>