body {
    font-family: "Lato", sans-serif;
  }

  .sidenav {
    height: 100%;
    width: 99%;

    top: 0;
    left: 0;
    background-color: lightskyblue;
    overflow-x: hidden;
    padding: 0;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
  }

  .sidenav a:hover {
    color:green;
  }

  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  a{
    font-weight: 300;
    width:100%
  }
