<div style="overflow: hidden;" id="attWindowContainer">
  <app-anusuchi-search-bar
      (search)="search($event)"
      (loading)="changeLoadingStatus($event)"
      (error)="showError($event)"
      searchBarTitle="फरफारक दिईएको"
      [showPrint]="true"
      [showSearchBar]="check"
      [onlyConsumerCommittee]="true"
      (print)="printData(foForm.value)"
  ></app-anusuchi-search-bar>
    <!-- <jqxValidator #myValidator>
      <form  name="farfaarakForm" [formGroup]="farfaarakForm" id="farfaarakForm">
        <fieldset class="jqx-widget-header-energyblue">
          <legend>फरफारक दिईएको</legend>
          <table *ngIf="check" class="table-w-tooltip">
            <tr>
              <td>{{'YEAR'|translate}} *</td>
              <td>
                <select formControlName="planYear" (change)="ChangePlanYear(farfaarakForm.value['planYear'])" class="selectpicker select-class select-border" style="width:160px;height:23px;">
                  <option [selected]="true" style="font-size: 11px;" value=''>{{'CHOOSE'|translate}}</option>
                  <option *ngFor="let ayear of yearAdapter" [value]="ayear['yearCode']">{{ayear['yearName']}}</option>
                </select>
              </td>
              <td >{{'YOJANA_STHAR' | translate}} </td>
              <td>
                <select class="selectpicker select-class select-border" (change)="implementingAgencyChange($event)"
                  formControlName="parent" style="width:160px;height:23px;">
                  <option value="" [selected]="true">{{'CHOOSE' | translate}}</option>
                  <option *ngFor="let activity of agencyType" [value]="activity.code">{{lang == 'en' ? activity.name
                    : activity.nameNepali}}</option>
                </select>
              </td>
              <td *ngIf="childType.length>0">{{agencyName}} </td>
              <td *ngIf="childType.length>0">
                <select class="selectpicker select-class select-border" formControlName="child" style="width:160px;height:23px;">
                  <option *ngFor="let activity of childType" [value]="activity.code">{{lang == 'en' ? activity.name :
                    activity.nameNepali}}</option>
                </select>
              </td>
            </tr>
              <tr>
              <td>{{'ACTIVITY'|translate}} *</td>
              <td>
                <jqxComboBox #act [width]="500"  class="nepalify" [height]="25" [source]="activityAdapter" [selectedIndex]="1" [displayMember]="'activityName'"
                  [valueMember]="'id'" [theme]="'energyblue'">
                </jqxComboBox>
              </td>
              <td>
                <jqxButton style="margin-right: 5px; width: 65px;" [theme]="'energyblue'" [disabled]="!farfaarakForm.valid" (onClick)="SearchData(farfaarakForm.value, act.val())">
                  {{'SEARCH'|translate}}
                </jqxButton>
              </td>
              <td>
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="printData(foForm.value)">
                  {{'PRINT'|translate}}
                </jqxButton>
              </td>
            </tr>
          </table>
          <div *ngIf="!check">
              <span style="float:right;">
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="printData(foForm.value)">
                    {{'PRINT'|translate}}
                  </jqxButton>
            </span>

              </div>
        </fieldset>
      </form>
    </jqxValidator> -->
    <div id="printContent">
      <div class="container exam-triplicate" style="page-break-after:always;" *ngIf="SearchDatas.length>0">
        <form name="foForm" [formGroup]="foForm" id="foForm">
          <input name="id" formControlName="id" hidden>
          <div class="row">
            <div class="col-md-12">
              <div style="display:block;">
                <!-- <table width="100%">
                  <tr>
                    <td width="20%">
                      <img src="assets/images/govntLogo.jpg" alt="NG" width="90" height="90" />
                    </td>
                    <td width="60%">
                      <p style="font-size:12px;text-align:center">
                        <span style="font-size: 16px;margin-top: 5px">
                            <b class="preeti" style="font-size: 27px !important;" *ngIf="organizationMasterData && organizationMasterData['officeName']">{{organizationMasterData['officeName']}}
                              </b>
                        </span>
                        <br />
                        <span style="font-size: 19px">
                          <b
                            *ngIf="organizationMasterData && organizationMasterData['orgName']">{{ organizationMasterData['orgName'] }}</b>
                        </span>
                        <br />
                        <span style="font-size: 14px"
                          *ngIf="organizationMasterData">{{ organizationMasterData['municipality'] }},{{ organizationMasterData['district'] }}
                          <br> {{ organizationMasterData['province'] }}, नेपाल </span><br />
                      </p>
                    </td>
                    <td width="20%"></td>
                  </tr>
                </table> -->
                <app-letterhead></app-letterhead>
              </div>
              <div style="width:100%;display:block;"></div>
              <div class="univ-title" style="text-align:left">
                <p style="font-size: 14px;"> पत्र संख्या:-
                  <input type="text" name="patraSankhya" class="form-style-4" formControlName="patraSankhya" readonly>
                  <span class="print_show">{{ foForm.value.patraSankhya | displayNepaliDate}}</span>
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <p style="font-size: 14px;">
                      चलानी नं:-
                      <span class="print_show">{{foForm.value.chalaniNo}}</span>
                      <span class="print_hide">
                        <nepali-input type="text" name="chalaniNo" [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'100px'"
                          formControlName="chalaniNo"></nepali-input>
                      </span>
                    </p>
                  </div>
                  <div class="col-md-6" style="text-align:right;">

                    <p>मिति :-
                      <span class="print_show">{{foForm.value.date | displayNepaliDate}}</span>
                      <span class="print_hide">
                        <nepali-input type="text" name="date" [placeholder]="'साल-महिना-गते'" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                          [width]="'120px'" formControlName="date"></nepali-input>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- aathbiskot -->
          <div *ngIf="distType === 'aathbiskot'">
          <div class="row">
            <div class="col-md-12">
              <p style="font-size:12px;text-align:center">टिप्पणी तथा आदेश</p>
              <p style="font-size:12px;text-align:center">विषय:- फरफारक रकम भुक्तानी सम्बन्धमा । </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="hidePrint">
              <p style="font-size:14px;line-height:2;text-align: justify;" >
                श्रीमान्,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;
                यस <b>{{ foForm.value.municipalityName }}</b>को कार्यालयद्धारा आ.वा. <b>{{foForm.value.planYear}}</b> 
                को स्वीकृत वार्षिक विकास कार्यक्रम अनुसार संचालन भएको श्री <b>{{ foForm.value.commettieeName }}</b> 
                समिति सँग योजना सम्झौता भई कार्यसम्पन्न भएको हुँदा भुक्तानीको बेला 
                <input type="number" formControlName="percent" class="form-style-4">
                प्रतिशतले हुन आउने रकम फरफारक 
                राखिएकोले उक्त फरफारक रकम प्राविधिकको राय सहितको भुक्तानी पाउँ भनि दिएको निवेदन, कर तिरेको रसिद, 
                <b>{{foForm.value.wardNo}}</b> कार्यालयको सिफारिस र फरफारक रकम माग सम्बन्धी समितिको निर्णयको प्रतिलिपीसंलग्न छन् ।
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;
                यस <b>{{ foForm.value.municipalityName }}</b>को कार्यालयद्धारा आ.वा. <b>{{foForm.value.planYear}}</b> 
                को स्वीकृत वार्षिक विकास कार्यक्रम अनुसार <b>{{ foForm.value.municipalityName }}</b>मा योजनाको काम संचालन भई
                बाँकी रहेको फरफारक रकम जम्मा रु <nepali-input (change)="digitWord($event, 'farFarakAmtWord')" type="text"
                [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'150px'"
                formControlName="farFarakAmt"></nepali-input> 
                (अक्षरुपी {{foForm.value.farFarakAmtWord}})
                प्राविधिकको राय बमोजिम हाल भुक्तानी हुने देखिन्छ ।
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;
                तसर्थ, श्री <b>{{ foForm.value.activityName }}</b> काम सम्पन्न भएको हुँदा माथि उल्लेखित बाँकी रहेको जम्मा रकम 
                रु {{foForm.value.farFarakAmt}} 
                (अक्षरुपी {{foForm.value.farFarakAmtWord}}) 
                प्रचलित आर्थिक ऐन बमोजिम हुने गरी रकम भुक्तानी उपलब्ध गराउन मनासिव देखि निर्णयार्थ पेश गर्दछु ।
              </p>
            </div>
            <div class="col-md-12" id="showPrint">
              <p style="font-size:14px;line-height:2;text-align: justify;" >
                श्रीमान्,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;
                यस <b>{{ foForm.value.municipalityName }}</b>को कार्यालयद्धारा आ.वा. <b>{{foForm.value.planYear}}</b> 
                को स्वीकृत वार्षिक विकास कार्यक्रम अनुसार संचालन भएको श्री <b>{{ foForm.value.commettieeName }}</b> 
                समिति सँग योजना सम्झौता भई कार्यसम्पन्न भएको हुँदा भुक्तानीको बेला {{foForm.value.percent | displayNepaliDate}} प्रतिशतले हुन आउने रकम फरफारक 
                राखिएकोले उक्त फरफारक रकम प्राविधिकको राय सहितको भुक्तानी पाउँ भनि दिएको निवेदन, कर तिरेको रसिद, 
                <b>{{foForm.value.wardNo}}</b> कार्यालयको सिफारिस र फरफारक रकम माग सम्बन्धी समितिको निर्णयको प्रतिलिपीसंलग्न छन् ।
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;
                यस <b>{{ foForm.value.municipalityName }}</b>को कार्यालयद्धारा आ.वा. <b>{{foForm.value.planYear}}</b> 
                को स्वीकृत वार्षिक विकास कार्यक्रम अनुसार <b>{{ foForm.value.municipalityName }}</b>मा योजनाको काम संचालन भई
                बाँकी रहेको फरफारक रकम जम्मा रु {{foForm.value.farFarakAmt}} 
                (अक्षरुपी {{foForm.value.farFarakAmtWord}})
                प्राविधिकको राय बमोजिम हाल भुक्तानी हुने देखिन्छ ।
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;
                तसर्थ, श्री <b>{{ foForm.value.activityName }}</b> काम सम्पन्न भएको हुँदा माथि उल्लेखित बाँकी रहेको जम्मा रकम 
                रु {{foForm.value.farFarakAmt}} 
                (अक्षरुपी {{foForm.value.farFarakAmtWord}}) 
                प्रचलित आर्थिक ऐन बमोजिम हुने गरी रकम भुक्तानी उपलब्ध गराउन मनासिव देखि निर्णयार्थ पेश गर्दछु ।
              </p>
            </div>
          </div>
          <div class="row" style="height:80px;">

          </div>
          <div class="row" style="height:80px;">
            <div class="col-md-4" style="text-align: center;">
              ................................. <br>
              पेश गर्ने
            </div>
            <div class="col-md-4" style="text-align: center;">
              ................................. <br>
              चेक गर्ने
            </div>
            <div class="col-md-4" style="text-align: center;">
              ................................. <br>
              प्रमाणित गर्ने
            </div>
          </div>
          </div>

          <!-- others -->
          <div *ngIf="distType !== 'aathbiskot'">
          <div class="row">
            <div class="col-md-12">
              <p style="font-size:12px;text-align:center">विषय:- फरफारक दिईएको । </p>
            </div>
          </div>
          <div class="row print_show">
            <div class="col-md-12">
              <p style="font-size:12px;">अध्यक्ष श्री {{ foForm.value.adhyaxya }} ज्यु </p>

              <p style="font-size:12px;">
                श्री {{ foForm.value.commettieeName }} उपभोक्ता समिति  {{ foForm.value.municipalityName }} {{ foForm.value.wardNo }} {{ foForm.value.address }} । </p>
            </div>
          </div>
          <div class="row print_hide">
            <div class="col-md-12">
              <p style="font-size:14px;">अध्यक्ष श्री
                <nepali-input type="text" name="adhyaxya" [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'"
                  formControlName="adhyaxya"></nepali-input>
                ज्यु </p>

              <p style="font-size:14px;">
                श्री
                <nepali-input type="text" name="commettieeName" [inputClass]="'form_change'" [containerClass]="'containter'" [width]="'250px'"
                  formControlName="commettieeName"></nepali-input>
                उपभोक्ता समिति  {{ foForm.value.municipalityName }} {{ foForm.value.wardNo }} {{ foForm.value.address }} । </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="hidePrint">
              <p style="font-size:14px;line-height:2" >
                <input type="hidden" name="wardNo" class="form-style-4" formControlName="wardNo">  {{ foForm.value.municipalityName }} {{ foForm.value.wardNo }} मा पर्ने
                <span [class.hideElement]="!foForm.value.totalAmount">
                  कुल लागत रु.
                  <input type="text" name="totalAmount" class="form-style-4" formControlName="totalAmount">
                </span>
                <span [class.hideElement]="!foForm.value.fromNepalSarkar">
                  सरकारी अनुदान रु.
                  <input type="text" name="fromNepalSarkar" class="form-style-4" formControlName="fromNepalSarkar">
                </span>
                <span [class.hideElement]="!foForm.value.fromConsumerCommittee">
                  उपभोक्ता समिति अनुदान रु.
                  <input type="text" name="fromConsumerCommittee" class="form-style-4" formControlName="fromConsumerCommittee">
                </span>
                <span [class.hideElement]="!foForm.value.fromWada">
                  वडा अनुदान रु.
                  <input type="text" name="fromWada" class="form-style-4" formControlName="fromWada">
                </span>
                <span [class.hideElement]="!foForm.value.fromLocalLevel">
                  स्थानीय तह अनुदान रु.
                  <input type="text" name="fromLocalLevel" class="form-style-4" formControlName="fromLocalLevel">
                </span>
                <span [class.hideElement]="!foForm.value.fromState">
                  राज्य अनुदान रु.
                  <input type="text" name="fromState" class="form-style-4" formControlName="fromState">
                </span>
                <span [class.hideElement]="!foForm.value.fromUnion">
                  संघ अनुदान रु.
                  <input type="text" name="fromUnion" class="form-style-4" formControlName="fromUnion">
                </span>
                <span [class.hideElement]="!foForm.value.fromOther">
                  अन्य अनुदान रु.
                  <input type="text" name="fromOther" class="form-style-4" formControlName="fromOther">
                </span>
                बाट तपाईको अध्यक्षतामा गठित उपभोक्ता समिति तपाई सँग भएको सम्झौता वाट संचालन भएको श्री {{ foForm.value.commettieeName }} आयोजना
                सम्पन्न भै सकेकोले जाँचपास भै फरफारक गरिपाउ भनि तपाईले दिनु भएको निवेदन अनुसार कारवाही हुँदा उक्त सम्पन्न भएको
                योजना उपभोक्ता समितिलाई हस्तान्रण गर्ने गरि जाँच पास गरि फरफारक दिने भनि मिति
                <nepali-input type="text" name="meetingDate" [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'"
                  formControlName="meetingDate"></nepali-input>
                को  {{'MUNICIPALITY' | translate}}को बैठकले निर्णय गरेको हुँदा उक्त योजना सम्बन्धमा मिति
                <nepali-input type="text" name="activityDate" [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'"
                  formControlName="activityDate"></nepali-input>मा  {{ foForm.value.municipalityName }} कार्यालय र तपाई वीच भएको सम्झौता रद्द गरि स्थानीय सरकार
                संचालन ऐन २०७४, अन्य नियम तथा कार्यबिधिमा ब्यबस्था भए बमोजिम आयोजना हस्तान्तरण गरि यो फरफारक पत्र दिईएको छ
                । उक्त आयोजनाको मर्मत सम्भार कार्य गर्नु हुन आनुरोध छ ।

              </p>
            </div>
            <div class="col-md-12" id="showPrint">
              <p style="font-size:12px; text-align: justify"> {{ foForm.value.municipalityName }} {{ foForm.value.wardNo }} मा पर्ने
                <span [class.hideElement]="!foForm.value.totalAmount">
                  कुल लागत रु.
                  <span [class.special]="foForm.value.totalAmount">{{ foForm.value.totalAmount }}</span>
                </span>

                <span [class.hideElement]="!foForm.value.fromNepalSarkar">
                  सरकारी अनुदान रु.
                  <span [class.special]="foForm.value.fromNepalSarkar">{{ foForm.value.fromNepalSarkar }}</span>
                </span>

                <span [class.hideElement]="!foForm.value.fromConsumerCommittee">
                  उपभोक्ता समिति अनुदान रु.
                  <span [class.special]="foForm.value.fromConsumerCommittee">{{ foForm.value.fromConsumerCommittee }}</span>
                </span>

                <span [class.hideElement]="!foForm.value.fromWada">
                  वडा अनुदान रु.
                  <span [class.special]="foForm.value.fromWada">{{ foForm.value.fromWada }}</span>
                </span>
                <span [class.hideElement]="!foForm.value.fromLocalLevel">
                  स्थानीय तह अनुदान रु.
                  <span [class.special]="foForm.value.fromLocalLevel">{{ foForm.value.fromLocalLevel }}</span>
                </span>
                <span [class.hideElement]="!foForm.value.fromState">
                  राज्य अनुदान रु.
                  <span [class.special]="foForm.value.fromState">{{ foForm.value.fromState }}</span>
                </span>
                <span [class.hideElement]="!foForm.value.fromUnion">
                  संघ अनुदान रु.
                  <span [class.special]="foForm.value.fromUnion">{{ foForm.value.fromUnion }}</span>
                </span>
                <span [class.hideElement]="!foForm.value.fromOther">
                  अन्य अनुदान रु.
                  <span [class.special]="foForm.value.fromOther">{{ foForm.value.fromOther }}</span>
                </span>

                बाट तपाईको अध्यक्षतामा गठित उपभोक्ता समिति तपाई सँग भएको सम्झौता वाट संचालन भएको श्री {{ foForm.value.commettieeName }} आयोजना
                सम्पन्न भै सकेकोले जाँचपास भै फरफारक गरिपाउ भनि तपाईले दिनु भएको निवेदन अनुसार कारवाही हुँदा उक्त सम्पन्न भएको
                योजना उपभोक्ता समितिलाई हस्तान्रण गर्ने गरि जाँच पास गरि फरफारक दिने भनि मिति {{ foForm.value.meetingDate |
                displayNepaliDate }} को  {{'MUNICIPALITY' | translate}}को बैठकले निर्णय गरेको हुँदा उक्त योजना सम्बन्धमा मिति {{ foForm.value.activityDate
                | displayNepaliDate }} मा  {{ foForm.value.municipalityName }} कार्यालय र तपाई वीच भएको सम्झौता रद्द गरि स्थानीय
                सरकार संचालन ऐन २०७४, अन्य नियम तथा कार्यबिधिमा ब्यबस्था भए बमोजिम आयोजना हस्तान्तरण गरि यो फरफारक पत्र दिईएको
                छ । उक्त आयोजनाको मर्मत सम्भार कार्य गर्नु हुन आनुरोध छ ।
              </p>
            </div>
            <div formArrayName="bodarthaDetails" style="font-size:12px;" class="col-md-12">
              बोधार्थ
              <div *ngFor="let fItem of foForm.get('bodarthaDetails')['controls']; let i = index">
                <div class="row p-1 row-body" [formGroupName]="i" id="hideDiv">
                  <div class="col-md-3">
                    <nepali-input type="text" name="bodartha" [inputClass]="'form_change'" [containerClass]="'containter'" [width]="'250px'"
                      formControlName="bodartha"></nepali-input>
                  </div>
                  <div class="col-md-2">
                    <a (click)="addItem()" class="btn btn-sm btn-primary px-btn">
                      <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                    </a>
                    <button type="button" (click)="removeItem(i)" class="btn btn-sm btn-danger" [disabled]="foForm.get('bodarthaDetails').length < 2">
                      <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                    </button>
                  </div>
                  <!-- <div class="col-md-1">
                    <button type="button" (click)="removeItem(i)" class="btn btn-sm btn-danger" [disabled]="foForm.get('bodarthaDetails').length < 2">
                      <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                    </button>
                  </div> -->
                </div>
                <span class="print_show">
                  {{ foForm.controls.bodarthaDetails.controls[i].controls.bodartha.value }}
                </span>
              </div>
            </div>
          </div>
          <div class="row" style="height:80px;">

          </div>
          <div class="row">
            <div class="col-md-6" style="text-align:left;">
              <p style="font-size:12px;">
                <span class="print_show">{{foForm.value.yojana}}</span>
                <span class="print_hide">
                  <nepali-input type="text" name="yojana" [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'100px'" formControlName="yojana"></nepali-input>
                </span>
              </p>
            </div>
            <div class="col-md-6" style="text-align:right;">
              <p style="font-size:12px;">
                <span class="print_show">{{foForm.value.adhikrit}}</span>
                <span class="print_hide">
                  <nepali-input type="text" name="adhikrit" [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'"
                    formControlName="adhikrit"></nepali-input>
                </span>
              </p>
              <p style="font-size:12px;">
                <span class="print_show">{{foForm.value.adhikritPost}}</span>
                <span class="print_hide">
                  <nepali-input type="text" name="adhikritPost" [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'"
                    formControlName="adhikritPost"></nepali-input>
                </span>
              </p>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
      <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
        [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
        <div id='message'></div>
      </jqxNotification>
      <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
        [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
        <div id='error'></div>
      </jqxNotification>
      <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
      </jqxLoader>
