.nepaliText {
    font-size: 24px !important;
}
#showDiv {
    display: none;
}
#hideDiv {
    display: inline-block !important;
}
.showPrint {
    display: none !important;
}
.hidePrint {
    display: inline-block !important;
}

table td {
    font-family: 'NotoSerif';
    font-size: 18px;
}
