.nepaliText {
  font-size: 24px !important;
}

#showDiv {
  display: none;
}

#hideDiv {
  display: inline-block !important;
}

.showPrint {
  display: none !important;
}

.hidePrint {
  display: inline-block !important;
}
/*# sourceMappingURL=progress-reporting-tippani-aadesh.component.css.map */