<div style="padding-right: 100px; padding-left: 100px; padding-top: 20px;">
  <jqxButton style="float: right;" [width]="100" [theme]="'energyblue'" (onClick)="close()">
    बन्द गर्नुहोस्
  </jqxButton>
  <jqxButton *ngIf="progressData && progressData.length>0" style="float: right;
      margin-right: 18px;" [width]="100" [theme]="'energyblue'" (onClick)="print(formAccount.value)">
    प्रिन्ट गर्नुहोस्
  </jqxButton>
</div>
<form name="formAccount" [formGroup]="formAccount" id="formAccount">
  <div id="print-section" style="margin:80px;" *ngIf="progressData &&
      progressData.length>0">
    <app-letterhead></app-letterhead>
    <table width="100%">
      <tr>
        <td width="25%">
          <p style="text-align:left">
            प.सं. : {{progressData[0]['planYear'] | displayNepaliDate}}
            <br />च .नं. :
            <span class="hidePrint"><input type="text" class="form-style-4" style="width:150px !important"
                formControlName="chalaniNo"></span>
            <span class="showPrint">{{formAccount.value.chalaniNo |
                displayNepaliDate}}</span>
          </p>
        </td>
        <td width="50%">
          <p style="font-size: 18px;text-align:center" *ngIf="distType !== 'aathbiskot'"><b>टिप्पणी आदेश</b> </p>
        </td>
        <td width="25%">
          <p style="font-size: 18px;text-align:right;" *ngIf="distType !== 'aathbiskot'">मिति:
            <!-- &nbsp;{{date|displayNepaliDate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
            <span class="hidePrint"><input type="text" class="form-style-4" style="width:150px !important"
                (change)="topDateChange($event)" formControlName="enterDate"></span>
            <span class="showPrint">{{formAccount.value.enterDate |
                displayNepaliDate}}</span>
          </p>
          <p style="text-align:right;font-size: 18px;" *ngIf="distType === 'aathbiskot'">
            टिप्पणी संख्याः <span class="hidePrint"><input type="text" class="form-style-4" style="width:150px !important"
              formControlName="tippaniNo"></span>
              <span class="showPrint">{{formAccount.value.tippaniNo |
              displayNepaliDate}}</span>
          </p>
        </td>
      </tr>
    </table>
    <div class="bar" style="text-align: center;background-color: black
          !important;padding: 5px;font-size: 18px; font-weight: bold">
      <ng-container *ngIf="progressData[0].administrativeType">
        <ng-container [ngSwitch]="progressData[0].administrativeType">
          <p *ngSwitchCase="'Amanathan Marfat'" style="margin-bottom: 0; padding: 10px">
            <span class="bar-text" style="color: #fff;">अमानत मार्फत
              संचालित आयोजना /
              परियोजना </span>
          </p>
          <p *ngSwitchCase="'Contract'" style="margin-bottom: 0; padding: 10px">
            <span class="bar-text" style="color: #fff;">ठेक्का मार्फत
              संचालित आयोजना /
              परियोजना </span>
          </p>
          <p *ngSwitchCase="'Sahakari'" style="margin-bottom: 0; padding: 10px">
            <span class="bar-text" style="color: #fff;">सहकारी संस्था मार्फत
              संचालित आयोजना /
              परियोजना </span>
          </p>
          <p *ngSwitchDefault style="margin-bottom: 0; padding: 10px">
            <!-- consumer committee -->
            <span class="bar-text" style="color: #fff;">उपभोक्ता समिति मार्फत
              संचालित आयोजना /
              परियोजना </span>
          </p>
        </ng-container>
      </ng-container>

    </div>
    <br />
    <p style="text-align:center;font-size: 18px;">विषय :
      <b>{{insStage[0]}} बिल भुक्तानि संबन्धमा ।</b>
    </p>
    <p style="font-size: 20px;text-align:center" *ngIf="distType === 'aathbiskot'"><b><u>टिप्पणी आदेश</u></b></p>
    <p style="font-size: 18px;">
      <b>श्रीमान् प्रशासकिय अधिकृत ज्यु ,</b>
    </p>
    <p style="font-size: 18px;">आ. व. {{progressData[0]['planYear'] | displayNepaliDate}} का लागि विनियोजन देहाय
      बमोजिमको योजनाको निम्नानुसारको कागजात संलग्न गरि
      भूक्तानी माग भएको छ । </p>
    <p style="font-size: 18px;">१) ब.उ.शि.नं. {{progressData[0].budgetTitleNo
          | displayNepaliDate}} कार्यक्रम :<b>
        {{progressData[0].programName}}</b></p>
    <p style="font-size: 18px;">२) योजनाको नाम र स्थान : <b>{{progressData[0].activityName}},
        {{progressData[0].activityAddress}}</b></p>

    <p style="font-size: 18px;">३) योजनाको संझौता मिति :<b>{{progressData[0].contractDate
            | displayNepaliDate}}</b>
      &nbsp;&nbsp;&nbsp;योजना
      सम्पन्न गर्नुपर्ने मिति:<b>{{progressData[0].expectedCompletionDate |
            displayNepaliDate}}</b></p>

    <ng-container *ngIf="progressData[0].administrativeType">
      <ng-container [ngSwitch]="progressData[0].administrativeType">
        <p *ngSwitchCase="'Amanathan Marfat'">
          ४) भुक्तानि पाउने निकायको नामः <b> {{ progressData[0].orderName }}, {{ progressData[0].officeName }} </b>
          &nbsp; &nbsp;
        </p>
        <p *ngSwitchCase="'Contract'">
          ४) भुक्तानि पाउने निर्माण व्याबसायिको नामः <b> {{ progressData[0].contractName }} </b> &nbsp; &nbsp;
        </p>
        <p *ngSwitchCase="'Sahakari'">
          ४) भुक्तानि पाउने संस्थाको नामः <b> {{ progressData[0].consumerCommitteeName }} </b> &nbsp; &nbsp;
        </p>
        <p *ngSwitchDefault>
          <!-- consumer committee -->
          ४) भुक्तानि पाउने उपभोक्ता समितिको नामः <b>{{ progressData[0].consumerCommitteeName }}</b>, अध्यक्ष :
          <b>{{ progressData[0].adhyaxya }}</b>
        </p>
      </ng-container>
    </ng-container>

    <p style="font-size: 18px;">५)
      <span *ngIf="distType === 'bideha'">
        ल.ई : रु.<b>{{ progressData[0].techCost | digitCommas |
        displayNepaliDate }}</b>&nbsp;&nbsp; बजेट रकम रु.: <b>{{progressData[0].budget
        | digitCommas | displayNepaliDate}}</b>&nbsp;&nbsp; स्वीकृत रकम रु.: <b>{{progressData[0].techCost
            | digitCommas | displayNepaliDate}}</b>
      </span>
      <span *ngIf="distType !== 'bideha'">
        ल.ई : रु.<b>{{ progressData[0].techCost | digitCommas |
        displayNepaliDate }}</b>&nbsp;&nbsp; विनियोजित रकम रु.: <b>{{progressData[0].budget
        | digitCommas | displayNepaliDate}}</b>
      </span>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;श्रोत बाँडफाँड : क. नेपाल सरकार:
      <b>{{progressData[0] && progressData[0]['fromNepalSarkar'] | digitCommas |
            displayNepaliDate}}</b>
      &nbsp; ख. प्रदेश सरकार: <b>{{progressData[0] &&
            progressData[0]['fromState'] | digitCommas | displayNepaliDate}} </b>
      &nbsp; ग.
      <span *ngIf="isRul">गाउँपालिका</span>
      <span *ngIf="!isRul">नगरपालिका</span>: <b>{{progressData[0] &&
            progressData[0]['fromLocalLevel'] | digitCommas | displayNepaliDate}} </b>
      &nbsp; घ. वडा: <b> {{progressData[0] && progressData[0]['fromWada'] | digitCommas | 
            displayNepaliDate}} </b>
      &nbsp;
      <span *ngIf="progressData[0].administrativeType === 'Consumer Committe'"> ङ. उपभोक्ता समिति: <b>{{progressData[0] &&
            progressData[0]['fromConsumerCommittee'] | digitCommas | displayNepaliDate}} </b></span>
      <span *ngIf="progressData[0].administrativeType === 'Sahakari'"> ङ. सहकारी संस्थाः <b>{{progressData[0] &&
            progressData[0]['fromConsumerCommittee'] | digitCommas | displayNepaliDate}} </b></span>
      &nbsp; च. अन्यः <b>{{progressData[0] && progressData[0]['fromOthers'] | digitCommas |
            displayNepaliDate}} </b></p>

    <!-- <p style="padding-left: 120px;font-size: 18px;"> ग) उपभोक्ता रु................... घ) अन्य रु.:.............</p> -->
    <!-- <p style="font-size: 18px;">६) यस अघि सम्मको मूल्यांकन रु.:
        <b>{{progressData[0].previousAmt | displayNepaliDate}}</b></p> -->
    <div class="showPrint">

      <p style="font-size: 18px;">६) यस अघि सम्मको मूल्यांकन रु.:
        <b>{{formAccount.value.previousAmount | digitCommas | displayNepaliDate}}</b>
      </p>

    </div>

    <div class="hidePrint">

      <p style="font-size: 18px;">६) यस अघि सम्मको मूल्यांकन रु.:
        <input type="text" class="form-style-4" style="width:150px" formControlName="previousAmount">
      </p>

    </div>
    <br>
    <div class="hidePrint">
      <p style="font-size: 18px;">७) यस बिलको मूल्यांकन रु.: <b>
          {{formAccount.value.issueAmount | displayNepaliDate}}</b>
        हालसम्मको
        मूल्यांकन रु. <input type="text" class="form-style-4" style="width:150px" formControlName="totalBhuktani"></p>

    </div>
    <div class="showPrint">
      <p style="font-size: 18px;">७) यस बिलको मूल्यांकन रु.: <b>
          {{formAccount.value.issueAmount | digitCommas | displayNepaliDate}}</b>
        हालसम्मको
        मूल्यांकन रु.<b>{{formAccount.value.totalBhuktani | digitCommas |
              displayNepaliDate}}</b></p>

    </div>

    <!-- <p style="font-size: 18px;">८ ) आयोजनाको नाम :<b></b> &nbsp;&nbsp; लागत
          अनुमान :</p> -->
    <!-- <p style="font-size: 18px;">९)जी स स :
          :</p>
        <p style="font-size: 18px;">१०)प्राविधिक खुद मुल्यांकन :</p>
        <p style="font-size: 18px;">११)मर्मत सम्भार कोस ३%:</p>
        <p style="font-size: 18px;">१२)जनश्रमदान :</p>
        <p style="font-size: 18px;">१३)बेरुजु रकम :</p> -->
    <!-- <h1 style='font-size:18px;'>संग्लग्न कागज हरु </h1>
        <ul>
          <li>
            अनुगमन समितिको निर्णय थान
          </li>
          <li>
            समन्दित वडाको सिफारिस थान
          </li>
          <li>
            उ .स.को निर्णय/निवेदन थान
          </li>
          <li>
            योजना स्थल को फोटो थान
          </li>
          <li>
            बिल भरपाई थान
          </li>
        </ul> -->
    <p style="text-align:center;font-size: 18px;margin-bottom: 0;">
      <b>हाल भुक्तान गर्नु पर्ने</b>
    </p>

    <input type="hidden" formControlName="financial">
    <table width="100%" border="1" id="hideDiv" style="line-height: 30px">
      <thead>
        <tr>
          <th style="font-size: 18px;" width="25%">विवरण</th>
          <th style="font-size: 18px;" width="25%">रकम</th>
          <th style="font-size: 18px;" width="35%">विवरण</th>
          <th style="font-size: 18px;">रकम</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-size: 18px;" *ngIf="distType === 'bideha'">बजेट रकम </td>
          <td style="font-size: 18px;" *ngIf="distType !== 'bideha'">विनियोजित रकम </td>
          <td>
            <input type="number" class="form-control" formControlName="totalEstimatedCost"
              (change)="programCalculate()">
          </td>
          <td style="font-size: 18px;"> प्राविधिक मुल्याकंन</td>
          <td>
            <input type="number" class="form-control" formControlName="issueAmount" (change)="Calculate()">
          </td>
        </tr>
        <tr>
          <td style="font-size: 18px;">
            <input type="number" class="form-style-4" style="width:150px" (change)="changeJanata()"
              formControlName="janasahavagitaInput">
            % {{'SAHAVAGITA' | translate}}
          </td>
          <td>
            <input type="number" class="form-control" formControlName="janasahavagitaKatti"
              (change)="programCalculate(); changePercentage()">
          </td>
          <td>पेश्की कट्टी</td>
          <td><input type="number" class="form-control" formControlName="peskiKatti" (change)="Calculate()"> </td>
        </tr>
        <tr>
          <td style="font-size: 18px;">श्रम दान </td>
          <td>
            <input type="number" class="form-control" formControlName="laborDonation" (change)="programCalculate()">
          </td>
          <td style="font-size: 18px;">
            <input type="number" class="form-style-4" style="width:150px" (change)="changeContengency()"
              formControlName="contengencyInput">
            % कन्टेनजेन्सी कट्टी

          </td>
          <td>
            <input type="number" class="form-control" formControlName="contengencyKatti" (change)="Calculate()">
          </td>
        </tr>
        <tr>
          <td> </td>
          <td></td>
          <td style="font-size: 18px;">
            <input type="number" class="form-style-4" style="width:150px" (change)="changeAgrim()"
              formControlName="agrimInput">
            % अग्रिम कट्टी
            <!-- <nepali-input type="text" name="agrimInput"
                  [inputClass]="'form-control'" [height]="'38'"
                  [containerClass]="'containter'" formControlName="agrimInput"></nepali-input> -->
          </td>
          <td>
            <input type="number" class="form-control" formControlName="agrimKatti" (change)="Calculate()">
          </td>
        </tr>
        <tr>
          <td> </td>
          <td></td>
          <td style="font-size: 18px;">
            <input type="number" class="form-style-4" style="width:150px" (change)="changeDuwani()"
              formControlName="duwaniInput">
            % ढुवानी कट्टी
            <!-- <nepali-input type="text" name="duwaniInput"
                  [inputClass]="'form-control'" [height]="'38'"
                  [containerClass]="'containter'" formControlName="duwaniInput"></nepali-input> -->
          </td>
          <td>
            <input type="number" class="form-control" formControlName="duwaniKatti" (change)="Calculate()">
          </td>
        </tr>
        <tr>
          <td> </td>
          <td></td>
          <td style="font-size: 18px;">
            <input type="number" class="form-style-4" style="width:150px" (change)="changeAnya()"
              formControlName="anyaInput">
            % अन्य कट्टी / फरफारक
            <!-- <nepali-input type="text" name="anyaInput"
                  [inputClass]="'form-control'" [height]="'38'"
                  [containerClass]="'containter'" formControlName="anyaInput"></nepali-input> -->
          </td>
          <td>
            <input type="number" class="form-control" formControlName="anyaKatti" (change)="Calculate()">
          </td>
        </tr>
        <tr>
          <td style="font-size: 18px;">जम्मा </td>
          <td>
            <input type="number" class="form-control" formControlName="total">
          </td>
          <td style="font-size: 18px;"> खुद भुक्तान गर्नु पर्ने </td>
          <td>
            <input type="number" class="form-control" (keyup)="keyUp($event.target.value)" formControlName="vuktanRakam"
              (change)="Calculate()">
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <div id="showDiv">
      <table border="1" style="width:100%;table-layout: fixed;line-height: 2">
        <thead>
          <tr>
            <th style="font-size: 18px;">विवरण</th>
            <th style="font-size: 18px;">रकम</th>
            <th style="font-size: 18px;">विवरण</th>
            <th style="font-size: 18px;">रकम</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-size: 18px;" *ngIf="distType !== 'bideha'">विनियोजित रकम </td>
            <td style="font-size: 18px;" *ngIf="distType === 'bideha'">बजेट रकम </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="totalEstimatedCost"  (change)="programCalculate()"> -->
              {{formAccount.value.totalEstimatedCost | digitCommas | displayNepaliDate}}
            </td>
            <td style="font-size: 18px;"> प्राविधिक मुल्याकंन</td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="issueAmount" (change)="Calculate()"> -->
              {{formAccount.value.issueAmount | digitCommas | displayNepaliDate}}
            </td>
          </tr>
          <tr>
            <td style="font-size: 18px;">
              {{formAccount.value.janasahavagitaInput | digitCommas | displayNepaliDate}}%
              {{'SAHAVAGITA' | translate}}
            </td>
            <td style="font-size: 18px;">
              <!-- <input type="number" class="form-control" formControlName="contengencyKatti" (change)="programCalculate()"> -->
              {{formAccount.value.contengencyKatti | digitCommas | displayNepaliDate}}
            </td>
            <td style="font-size: 18px;">पेश्की कट्टी</td>
            <td style="font-size: 18px;">
              {{formAccount.value.peskiKatti | digitCommas | displayNepaliDate}}
            </td>
          </tr>
          <tr *ngIf="formAccount.value.janasahavagitaInput ||
                formAccount.value.janasahavagitaKatti">
            <td style="font-size: 18px;">श्रम दान </td>
            <td>
              {{ formAccount.value.laborDonation | digitCommas |  displayNepaliDate }}
            </td>
            <td style="font-size: 18px;">
              {{formAccount.value.contengencyInput || "0" | digitCommas | displayNepaliDate}} % कन्टेनजेन्सी कट्टी
            </td>
            <td style="font-size: 18px;">
              {{formAccount.value.janasahavagitaKatti | digitCommas | displayNepaliDate}}
            </td>
          </tr>
          <tr *ngIf="formAccount.value.agrimInput ||
                formAccount.value.agrimKatti">
            <td> </td>
            <td></td>
            <td style="font-size: 18px;">
              {{formAccount.value.agrimInput || "0" | digitCommas | displayNepaliDate}} % अग्रिम कट्टी
            </td>
            <td style="font-size: 18px;">
              {{formAccount.value.agrimKatti | digitCommas | displayNepaliDate}}
            </td>
          </tr>
          <tr *ngIf="formAccount.value.duwaniInput ||
                formAccount.value.duwaniKatti">
            <td> </td>
            <td></td>
            <td style="font-size: 18px;">
              {{formAccount.value.duwaniInput || "0" | displayNepaliDate}} % ढुवानी कट्टी
            </td>
            <td style="font-size: 18px;">
              {{formAccount.value.duwaniKatti | digitCommas | displayNepaliDate}}
            </td>
          </tr>
          <tr *ngIf="formAccount.value.anyaInput ||
                formAccount.value.anyaKatti">
            <td> </td>
            <td></td>
            <td style="font-size: 18px;">
              {{formAccount.value.anyaInput || "0" | displayNepaliDate}} % अन्य कट्टी / फरफारक

            </td>
            <td style="font-size: 18px;">
              {{formAccount.value.anyaKatti | digitCommas | displayNepaliDate}}
            </td>
          </tr>
          <tr>
            <td style="font-size: 18px;">जम्मा </td>
            <td style="font-size: 18px;">{{formAccount.value.total | digitCommas |
                  displayNepaliDate}} </td>
            <!-- <td style="font-size: 18px;"> जम्मा</td>
                <td style="font-size: 18px;">{{formAccount.value.grandTotal |
                  displayNepaliDate}} </td> -->
            <td style="font-size: 18px;"> खुद भुक्तान गर्नु पर्ने </td>
            <td style="font-size: 18px;">{{formAccount.value.vuktanRakam | digitCommas |
                  displayNepaliDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br>
    <br>
    <p class="hidePrint" style="font-size: 18px;">उपरोक्त अनुसार योजनामा खुद
      भुक्तान रु.
      {{ formAccount.value.vuktanRakam | digitCommas | displayNepaliDate }}

      बाट नियमानुसार श्रोतमा कर कट्टी गरि भुक्तान गर्नका निमित्त निर्णयार्थ
      पेश गरेको छ l </p>
    <p class="showPrint" style="font-size: 18px;">उपरोक्त अनुसार योजनामा खुद
      भुक्तान रु.
      {{formAccount.value.vuktanRakam | digitCommas | displayNepaliDate}}
      बाट नियमानुसार श्रोतमा कर कट्टी गरि भुक्तान गर्नका निमित्त निर्णयार्थ
      पेश गरेको छ l </p>
    <br>

    <div *ngIf="distType === 'bideha'" style="display: flex; justify-content: space-between;">
      <div style="display: flex; flex-direction: column;">
        <p>
          ...................
          <br>
          पेश गर्ने (योजना शाखा)
        </p>
      </div>
      <div style="display: flex; flex-direction: column;">
        <p>
          ...................
          <br>
          राय दिने (लेखा शाखा)
        </p>
      </div>
      <div style="display: flex; flex-direction: column;">
        <p>
          ...................
          <br>
          सदर गर्ने
          <br>
          <span style="font-size: 18px;">मिति: <span class="hidePrint"><input type="text" class="form-style-4"
                formControlName="dateNow"></span>
            <span class="showPrint">{{formAccount.value.dateNow |
              displayNepaliDate}}</span>
          </span>
        </p>
      </div>
    </div>

    <div *ngIf="distType !== 'bideha'" style="display: flex; justify-content: space-between;">
      <div style="display: flex; flex-direction: column;">
        <p>
          ...................
        </p>
        <p>
          पेश गर्ने
        </p>
      </div>
      <div style="display: flex; flex-direction: column;">
        <p>
          ...................
        </p>
        <p>
          सदर गर्ने
        </p>
        <p style="font-size: 18px;">मिति: <span class="hidePrint"><input type="text" class="form-style-4"
              formControlName="dateNow"></span>
          <span class="showPrint">{{formAccount.value.dateNow |
              displayNepaliDate}}</span></p>
      </div>
    </div>

  </div>
</form>
<h2 id="noRecord" style="font-weight: bold;text-align:
      center;margin-top:50px"></h2>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>