<jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
  <form name="activityForm" class="form-style" [formGroup]="activityForm" id="activityForm">
    <fieldset>
      <legend>{{'SEARCH_BOX' | translate}}</legend>
      <table class="table-w-tooltip">
        <tr>
          <td>{{'PLAN_YEAR' | translate}} *</td>
          <td>
            <select formControlName="planYear" class="selectpicker select-class select-border"
              style="width:160px;height:23px;">
              <option [selected]="true" value=''>{{'CHOOSEU' | translate}}</option>
              <option *ngFor="let planYear of planYearAdapter" [value]="planYear['yearCode']">{{planYear['yearName']}}
              </option>
            </select>
          </td>
          <!-- <td>{{'ACTIVITY_FOR' | translate}}</td>
          <td>
            <select [ngClass]="{'nepaliText' : lang == 'ne'}" formControlName="activityFor" class="selectpicker select-class select-border"
              style="width:160px;height:23px;">
              <option [selected]="true" value="">{{'ALL' | translate}}</option>
              <option *ngFor="let data of activityAdapter" [value]="data['id']">{{lang == 'ne' ?
                data['nameNepali'] : data['name']}}</option>
            </select>
          </td> -->
          <td>{{'ACTIVITY_FOCUS_AREA' | translate}} </td>
          <td>
            <select formControlName="activityFocusArea" (change)="LoadActivityCategory()"
              class="selectpicker select-class select-border" style="width:160px;height:23px;">
              <option [selected]="true" value="">{{'ALL' | translate}}</option>
              <option *ngFor="let data of activityFocusAreaAdapter" [value]="data['focusCode']">{{lang == 'ne' ?
                data['nameNepali'] : data['focusName']}}</option>
            </select>
          </td>
          <!-- <td>{{'SUB_CATEGORY' | translate}} </td>
          <td>
            <select [ngClass]="{'nepaliText' : lang == 'ne'}" formControlName="activityCategory" class="selectpicker select-class select-border"
              style="width:160px;height:23px;">
              <option [selected]="true" value="">{{'ALL' | translate}}</option>
              <option *ngFor="let data of activityCategoryAdapter" [value]="data['focusCode']">{{lang == 'ne' ?
                data['nameNepali'] : data['focusName']}}</option>
            </select>
          </td> -->
          <td>
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!activityForm.valid"
              (onClick)="SearchData(activityForm.value)">
              {{'SEARCH' | translate}}
            </jqxButton>
          </td>
        </tr>
      </table>
    </fieldset>
  </form>
</jqxValidator>

<div class="table-content">
  <fieldset style="padding-bottom: 10px!important;">
    <legend>{{'consumerCommitteeCostReport' | translate}}</legend>
    <div class="grid-container table-style">
      <div class="button-container text-right">
        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!activityForm.valid"
          (onClick)="exportReport()">
          {{'EXPORT_EXCEL' | translate}}
        </jqxButton>
        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!activityForm.valid"
          (onClick)="printReport()">
          {{'PRINT' | translate}}
        </jqxButton>
      </div>
      <div id="reportContainer" style="overflow-y: auto;height: 396px;">
        <div class="table-container">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th rowspan="2">{{'SN' | translate}}</th>
                <th rowspan="2">{{'consumerCommitteeNameAddress' | translate}}</th>
                <th rowspan="1" colspan="4" style="text-align:center;">{{'membersName' | translate}}</th>
                <th rowspan="2">{{'formation' | translate}} {{'DATE'|translate}}</th>
                <th rowspan="2">{{'bankName' | translate}}</th>
                <th rowspan="2">{{'accountNo' | translate}}</th>
              </tr>
              <tr>
                <th>{{ 'CHAINRMAN' | translate }}</th>
                <th>{{ 'VICECHAIRMAN' | translate }}</th>
                <th>{{ 'TREASURER' | translate}}</th>
                <th>{{ 'SECRETARY' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of SearchDatas; let i = index;">
                <td> <span style="font-family: arial !important;">{{ i + 1 | displayNepaliDate }}</span></td>
                <td> {{ data.CONSUMER_COMMITTE_NAME }}<span style="font-family: arial !important;">, </span>
                  {{data.CONSUMER_COMMITTE_ADDRESS }} </td>
                <td> {{ data.ADHAXYA }}</td>
                <td> {{ data.UPADHAXYA }}</td>
                <td> {{ data.SACHIV }} </td>
                <td> {{ data.KOSHADAXYA }} </td>
                <td> {{ data.FORMATION_DATE | displayNepaliDate }} </td>
                <td> {{ data.BANK_NAME }} </td>
                <td> {{ data.AC_NO }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>