

<div class="header">
  <h6 style="font-size:12px;">View Documents</h6>
  <div style="position:fixed;right:10px;top:50px;z-index: 100000000;height:300px;width:250px">

    <a (click)="printFile()" class="btn-floating btn-lg btn-primary float1" >Print</a>
      <a (click)="uploadFile()" class="btn-floating btn-lg btn-secondary float" >Upload</a>

   
  <!-- <jqxButton #button [width]='120' [height]='23' (onClick)="print()" style="float: right;">
    प्रिन्ट गर्नुहोस्
  </jqxButton>-->

</div>
  <div class="table-content">
   
        <div id="reportContainer" style="margin: 20px;padding:30px;background-color: white">
         <ul style="list-style: none;">
          <li *ngFor="let item of imgSrc" style="padding:20px">
            <span *ngIf="item['type']=='jpg' || item['type']=='png' || item['type']=='jpeg'" > 
               <img [src]="item['path']" style="height:50px;width:50px;object-fit:contain">
              <span id="filename" (click)="fileClick(item['path'])" style="cursor: pointer;color:blue">{{item['name']}}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><button class="btn btn-primary btn-sm" (click)="fileClick(item['path'])">View</button></span>&nbsp;<span><button class="btn btn-danger btn-sm" (click)="deleteFile(item['id'],item['location'])">Delete</button></span>
            </span>
           
          
        <span  *ngIf="item['type']==='pdf'" > 
            <img [src]="'assets/images/pdf_file.jpg'" style="height:50px;width:50px;object-fit:contain">
            <span id="filename" (click)="fileClick(item['path'])" style="cursor: pointer;color:blue">{{item['name']}}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><button class="btn btn-primary btn-sm" (click)="fileClick(item['path'])">View</button></span>&nbsp;<span><button class="btn btn-danger btn-sm" (click)="deleteFile(item['id'],item['location'])">Delete</button></span>
        </span>
        <span  *ngIf="item['type']=='docx'" > 
          <img [src]="'assets/images/docx.png'" style="height:50px;width:50px;object-fit:contain">
          <span id="filename" (click)="fileClick(item['path'])" style="cursor: pointer;color:blue">{{item['name']}}</span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><button class="btn btn-primary btn-sm" (click)="fileClick(item['path'])">Download</button></span>&nbsp;<span><button class="btn btn-danger btn-sm" (click)="deleteFile(item['id'],item['location'])">Delete</button></span>
      </span>
      <span  *ngIf="item['type']=='txt'" > 
        <img [src]="'assets/images/txt.png'" style="height:50px;width:50px;object-fit:contain">
        <span id="filename" (click)="fileClick(item['path'])" style="cursor: pointer;color:blue">{{item['name']}}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><button class="btn btn-primary btn-sm" (click)="fileClick(item['path'])">View</button></span>&nbsp;<span><button class="btn btn-danger btn-sm" (click)="deleteFile(item['id'],item['location'])">Delete</button></span>
    </span>
    <span  *ngIf="item['type']=='xls' || item['type']=='xlsx'" > 
      <img [src]="'assets/images/xlsx.png'" style="height:50px;width:50px;object-fit:contain">
      <span id="filename" (click)="fileClick(item['path'])" style="cursor: pointer;color:blue">{{item['name']}}</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><button class="btn btn-primary btn-sm" (click)="fileClick(item['path'])">Download</button></span>&nbsp;<span><button class="btn btn-danger btn-sm" (click)="deleteFile(item['id'],item['location'])">Delete</button></span>
  </span>
         
          </li>
        </ul>
       
        </div>
        <div style="text-align: center">
          <a (click)="close()" class="btn-floating btn-lg btn-primary float12" >बन्द गर्नुहोस</a>
        </div>
        <div style="height:40px">

        </div>
    </div>
  </div>


