.float{
    margin:auto;
	width:60px;
	height:60px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	cursor:pointer
    
}
.float1{
    margin:auto;
	width:60px;
	height:60px;
	background-color:blue;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}
.float12{
    margin:auto;
	width:60px;
	height:60px;
	background-color:#F0F0F0;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

#filename:hover{
	color:black;
}