.tfm-quick-access-info {
  background: #e0eaf5;
  padding: 5px 10px;
}

.tfm-quick-access-info .tfm-garden-name, .tfm-quick-access-info .tfm-acount-period {
  font-size: 0.7rem;
  margin-bottom: 8px;
  font-weight: bold;
}

.tfm-quick-access-info .tfm-garden-name span, .tfm-quick-access-info .tfm-acount-period span {
  font-weight: 200;
}

.tfm-quick-access-info .tfm-logut a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.tfm-quick-access-header {
  padding: 5px 15px;
  background: #efefef;
  text-transform: capitalize;
  font-weight: bold;
}

ul.tfm-quick-access {
  list-style-type: none;
  padding-left: 0px;
}

ul.tfm-quick-access li a {
  display: block;
  padding: 0.3rem 0.2rem;
  padding-left: 0.8rem;
  text-decoration: none;
  color: #333;
}

ul.tfm-quick-access li a.quick-access-active {
  background: #e0eaf5;
}

ul.tfm-quick-access li a .fa {
  font-size: 0.5rem;
}
/*# sourceMappingURL=quickaccess.component.css.map */