<div style="overflow: hidden;" id="attWindowContainer">
        <app-anusuchi-search-bar
        (search)="search($event)"
        (loading)="changeLoadingStatus($event)"
        (error)="showError($event)"
        searchBarTitle="खाता बन्द सम्वन्धमा"
        [showPrint]="true"
        [showSearchBar]="check"
        [onlyConsumerCommittee]="true"
        (print)="printData(foForm.value)"
    ></app-anusuchi-search-bar>
  <div id="printContent">
    <div class="container exam-triplicate" style="page-break-after:auto;" *ngIf="SearchDatas.length>0">
      <form name="foForm" [formGroup]="foForm" id="foForm">
        <input name="id" formControlName="id" hidden>
        <div class="row">
          <div class="col-md-12">
            <div style="display:block;">
              <!-- <table width="100%">
                  <tr>
                    <td width="20%">
                      <img src="assets/images/govntLogo.jpg" alt="NG" width="90" height="90" />
                    </td>
                    <td width="60%">
                      <p style="font-size:16px;text-align:center">
                        <br />
                        <span style="font-size: 16px;margin-top: 5px">
                          <b class="preeti" style="font-size: 27px !important;"
                            *ngIf="organizationMasterData && organizationMasterData['officeName']">{{organizationMasterData['officeName']}}
                          </b>
                        </span>
                        <br />
                        <span style="font-size: 19px">
                          <b
                            *ngIf="organizationMasterData && organizationMasterData['orgName']">{{ organizationMasterData['orgName'] }}</b>
                        </span>
                        <br />
                        <span style="font-size: 14px"
                          *ngIf="organizationMasterData">{{ organizationMasterData['municipality'] }},{{ organizationMasterData['district'] }}
                          <br> {{ organizationMasterData['province'] }}, नेपाल </span><br />
                      </p>
                    </td>
                    <td width="20%"></td>
                  </tr>
                </table> -->
              <app-letterhead></app-letterhead>
            </div>
            <div style="width:100%;display:block;"></div>
            <div class="univ-title" style="text-align:left">
              <p style="font-size: 14px;"> पत्र संख्या:-
                <input type="text" name="patraSankhya" class="form-style-4" formControlName="patraSankhya" readonly>
                <span class="print_show">{{ foForm.value.patraSankhya | displayNepaliDate }}</span>
              </p>
              <div class="row">
                <div class="col-md-6">
                  <p style="font-size: 14px;">
                    चलानी नं:-
                    <span class="print_show">{{foForm.value.chalaniNo}}</span>
                    <span class="print_hide">
                      <nepali-input type="text" name="chalaniNo" [inputClass]="'form-style-4'"
                        [containerClass]="'containter'" [width]="'100px'" formControlName="chalaniNo"></nepali-input>
                    </span>
                  </p>
                </div>
                <div class="col-md-6" style="text-align:right;">
                  <!-- <p style="font-size: 14px;">
                      १ नं. प्रदेश, नेपाल
                    </p> -->
                  <p>मिति :-
                    <span class="print_show">{{foForm.value.date | displayNepaliDate}}</span>
                    <span class="print_hide">
                      <nepali-input type="text" name="date" [placeholder]="'साल-महिना-गते'"
                        [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'"
                        formControlName="date"></nepali-input>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p style="font-size:16px;text-align:center">विषय:- खाता बन्द गरिदिने बारे।</p>
          </div>
        </div>
        <!-- <input type="hidden" name="activity" formControlName="activity"> -->
        <div class="row">
          <div class="col-md-12">
            <p style="font-size:16px;">
              <span class="print_show">श्री {{foForm.value.bankName}}
                <br />
                {{foForm.value.bankAddress}}
              </span>
              <nepali-input type="text" name="bankName" [inputClass]="'form_change'" [containerClass]="'containter'"
                [width]="'250px'" formControlName="bankName"></nepali-input><br />
              <nepali-input type="text" name="address" [inputClass]="'form_change'" [containerClass]="'containter'"
                [width]="'250px'" formControlName="bankAddress"></nepali-input>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="hidePrint">
            <p style="font-size:16px;">
              <!-- <nepali-input type="text" name="municipalityName" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="municipalityName"></nepali-input> को
                <nepali-input type="text" name="wadaNo" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  [width]="'120px'" formControlName="wadaNo"></nepali-input>
                स्थित श्री
                <nepali-input type="text" name="commettieeName" [inputClass]="'form_change'"
                  [containerClass]="'containter'" [width]="'250px'" formControlName="commettieeName"></nepali-input>
                उपभोक्ता समितिका अध्यक्ष श्री
                <nepali-input type="text" name="adhyaxya" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  [width]="'120px'" formControlName="adhyaxya"></nepali-input>
                सचिव श्री
                <nepali-input type="text" name="sachiv" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  [width]="'120px'" formControlName="sachiv"></nepali-input>
                र कोषाध्यक्ष श्री
                <nepali-input type="text" name="kosaadhyaxya" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="kosaadhyaxya"></nepali-input>
                को संयुक्त दस्तखतवाट संचालनमा रहेको ताहाँ बैंकमा च.हि.नं.
                <input type="text" name="accountNo" class="form-style-4" formControlName="accountNo"> को खाता खोलि योजनाको
                आर्थिक कारोबार गर्दै आएकोमा हाल सो आयोजनाको कार्य सम्पन्न भई सकेको हुँदा सो खातामा रहेको
                रकम निकाशा सहित उक्त च.हि.नं. को खाता नियमानुसार वन्द गरिदिन हुँ सिफारिश साथ आनुरोध छ l -->
              <input type="hidden" formControlName="municipalityName">
              उपराेक्त विषयमा यस
              {{ foForm.value.municipalityName }},{{ organizationMasterData['municipality'] }}
              {{ organizationMasterData['district'] }} द्वारा संचालित
              {{ foForm.value.municipalityName }}
              <nepali-input type="text" name="wadaNo" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                [width]="'120px'" formControlName="wadaNo"></nepali-input>
              
              <nepali-input type="text" name="activityAddress" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                [width]="'120px'" formControlName="activityAddress"></nepali-input>
              
                
                का
              <nepali-input type="text" name="commettieeName" [inputClass]="'form_change'"
                [containerClass]="'containter'" [width]="'250px'" formControlName="commettieeName"></nepali-input>
              उपभोक्ता समिति काे खाता नं {{ foForm.value.accountNo }} लाई बन्द गरी दिने उपभोक्ता
              समितिकाे मिति
              <!-- <input type="text" formControlName="nibedanDate" class="form-style-4"> -->
                      <nepali-input type="text" name="date" [placeholder]="'साल-महिना-गते'"
                        [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'"
                        formControlName="nibedanDate"></nepali-input>
              गते दिएकाे निवेदन अनुसार {{ foForm.value.municipalityName }}
              {{ foForm.value.wadaNo }}
              {{ foForm.value.activityAddress }}काे सिफारिस मिति
              <!-- <input type="text" formControlName="sifarisDate" class="form-style-4"> -->
              <nepali-input type="text" name="date" [placeholder]="'साल-महिना-गते'" [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'" formControlName="sifarisDate"></nepali-input>
              तथा उपभोक्ता समितिकाे बैठककाे
              निर्णय
              मिति
              <!-- <input type="text" formControlName="nirnayaDate" class="form-style-4"> -->
              <nepali-input type="text" name="date" [placeholder]="'साल-महिना-गते'" [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'" formControlName="nirnayaDate"></nepali-input>
              गते बाट निर्णय भए बमाेजिम त्यस बैंकमा रहेका उक्त उपभोक्ता समितिकाे खाता बन्द गरिदिन हुन अनुराेध छ ।
            </p>
            <br />
            <br />
            <br />
            <br />
            <p style="font-size:16px;float: right">
              <nepali-input type="text" name="adhikrit" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                [width]="'250px'" formControlName="adhikrit"></nepali-input> &nbsp;
              <br />
              <nepali-input type="text" name="adhikrit" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                [width]="'250px'" formControlName="adhikritPost"></nepali-input>
              &nbsp;
            </p>
            <br />
            <br />
            <!-- <p style="clear:both;font-size:16px;">
                  बाेधार्थ <br/>
                श्री <nepali-input type="text" name="lekhaSakha" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="lekhaSakha"></nepali-input>
                {{organizationMasterData['officeName']}},
                {{ organizationMasterData['municipality'] }},{{ organizationMasterData['district'] }}
                <br />
                श्री <nepali-input type="text" name="prabhidikSakha" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="prabhidikSakha"></nepali-input>
                {{organizationMasterData['officeName']}},
                {{ organizationMasterData['municipality'] }},{{ organizationMasterData['district'] }}
              </p> -->
            <p style="clear:both;font-size:16px;">
              बाेधार्थ <br />
              श्री <nepali-input type="text" name="lekhaSakha" [inputClass]="'form-style-4'"
                [containerClass]="'containter'" [width]="'120px'" formControlName="lekhaSakha"></nepali-input>
              {{organizationMasterData['officeName']}},
              {{ organizationMasterData['municipality'] }}{{ organizationMasterData['district'] }}
              <br />
              श्री <nepali-input type="text" name="prabhidikSakha" [inputClass]="'form-style-4'"
                [containerClass]="'containter'" [width]="'120px'" formControlName="prabhidikSakha"></nepali-input>
              {{organizationMasterData['officeName']}},
              {{ organizationMasterData['municipality'] }}{{ organizationMasterData['district'] }}
              <br />
              श्री <nepali-input type="text" name="prabhidikSakha1" [inputClass]="'form-style-4'"
                [containerClass]="'containter'" [width]="'120px'" formControlName="prabhidikSakha1"></nepali-input>
              {{organizationMasterData['officeName']}},
              {{ organizationMasterData['municipality'] }}{{ organizationMasterData['district'] }}
            </p>
            <!-- <p style="clear:both;font-size:16px;">
                बोधार्थ
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                [width]="'300px'" formControlName="engineer1"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                [width]="'300px'" formControlName="engineer2"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                [width]="'300px'" formControlName="engineer3"></nepali-input>
              </p> -->
          </div>
          <div class="col-md-12" id="showPrint">
            <p style="font-size:16px;">
              उपराेक्त विषयमा यस
              {{ foForm.value.municipalityName }},{{ organizationMasterData['municipality'] }}
              {{ organizationMasterData['district'] }} द्वारा संचालित
              {{ foForm.value.municipalityName }}
              {{ foForm.value.wadaNo }} {{ foForm.value.activityAddress }}का {{ foForm.value.commettieeName }} उपभोक्ता
              समिति
              {{ foForm.value.activityAddress }}काे खाता नं {{ foForm.value.accountNo }} लाई बन्द गरी दिने उपभोक्ता
              समितिकाे मिति
              {{ foForm.value.nibedanDate | displayNepaliDate }}
              गते दिएकाे निवेदन अनुसार {{ foForm.value.municipalityName }}
              {{ foForm.value.wadaNo }}
              {{ foForm.value.activityAddress }}काे सिफारिस मिति {{ foForm.value.sifarisDate | displayNepaliDate }}
              तथा उपभोक्ता समितिकाे बैठककाे निर्णय मिति
              {{ foForm.value.nirnayaDate | displayNepaliDate }}
              गते बाट निर्णय भए बमाेजिम त्यस बैंकमा रहेका उक्त उपभोक्ता समितिकाे खाता बन्द गरिदिन हुन अनुराेध छ ।
            </p>
            <br />
            <br />
            <br />
            <br />

            <p style="font-size:16px;float: right">
              {{foForm.value.adhikrit}}

              <br />
              {{foForm.value.adhikritPost}}
            </p>
            <br />
            <br />
            <!-- <p style="font-size:16px;">
                बाेधार्थ <br/>
                श्री {{foForm.value.lekhaSakha}} {{organizationMasterData['officeName']}},
                {{ organizationMasterData['municipality'] }},{{ organizationMasterData['district'] }}<br />
                श्री {{foForm.value.prabhidikSakha}} {{organizationMasterData['officeName']}},
                {{ organizationMasterData['municipality'] }},{{ organizationMasterData['district'] }}
              </p> -->
            <!-- <p style="font-size:16px;">
                बोधार्थ
                <br>
                 {{foForm.value.engineer1}}
                <br>
                 {{foForm.value.engineer2}}
                <br>
                {{foForm.value.engineer3}}
              </p> -->
            <p style="font-size:16px;">
              बाेधार्थ <br />
              श्री {{foForm.value.lekhaSakha}} {{organizationMasterData['officeName']}},
              {{ organizationMasterData['municipality'] }},{{ organizationMasterData['district'] }}<br />
              श्री {{foForm.value.prabhidikSakha}} {{organizationMasterData['officeName']}},
              {{ organizationMasterData['municipality'] }},{{ organizationMasterData['district'] }}
              <br />
              श्री {{foForm.value.prabhidikSakha1}} {{organizationMasterData['officeName']}},
              {{ organizationMasterData['municipality'] }},{{ organizationMasterData['district'] }}
            </p>
          </div>
        </div>

      </form>
    </div>
    <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
      [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
      <div id='message'></div>
    </jqxNotification>
    <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
      [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
      <div id='error'></div>
    </jqxNotification>
    <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
    </jqxLoader>
