.grid-container {
  height: calc(100vh - 105px);
  width: 100%;
}

.button-container {
  background: #e0e9f5;
  padding: 3px;
}

.exam-triplicate {
  background: #fff;
  margin-bottom: 20px;
}

.exam-triplicate .univ-title p {
  margin: 0 0 0px;
}

.exam-triplicate .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
  background-color: transparent;
}

.exam-triplicate .table-bordered th, .exam-triplicate .table-bordered td {
  border: 1px solid #eceeef;
  padding: 3px;
}

.displayHidden {
  display: none;
}

#hidePrint {
  display: inline-block !important;
}

#showPrint {
  display: none !important;
}

.print_show {
  display: none !important;
}

.print_hide {
  display: inline-block !important;
}


/*# added by sandesh for yojana star*/
.table-content {
  background: #ffffff;
  padding: 12px;
}

.table-content .table-style {
  padding: 0px 5px 5px 5px;
}

.table-content .table-style fieldset {
  padding-bottom: 10px;
}

.tableClas {
  border-collapse: collapse;
}

.tableClas th, .tableClas td {
  border: 1px solid black;
}

.button-container {
  background: #ffffff;
  padding: 6px;
}

.table {
  border-collapse: collapse;
  background-color: transparent;
}

.table-bordered {
  border: 1px solid #eceeef;
}
/*# sourceMappingURL=about-account-close.component.css.map */