#showDiv {
  display: none !important;
}

#hidDiv {
  display: block !important;
}

.show_div {
  display: none !important;
}

.hide_div {
  display: block !important;
}
.print_hide {
  display: block !important;
}
.print_show {
  display: none !important;
}

.printStyle {
  padding: 100px;
}
/*# sourceMappingURL=administrative-approval-karyadesh.component.css.map */