<div style="
  padding-right: 100px; 
  padding-left: 100px; 
  padding-top: 20px; 
  position: sticky; 
  top: 0; 
  height: 65px; 
  z-index: 200;
  background: rgb(250, 250, 250);">
  <jqxButton style="float: right;" [width]="100" [theme]="'energyblue'" (onClick)="close()">
    बन्द गर्नुहोस्
  </jqxButton>
  <jqxButton style="float: right; margin-right: 15px;" [width]="100" [theme]="'energyblue'"
    (onClick)="print(foForm.value)">
    प्रिन्ट गर्नुहोस्
  </jqxButton>
</div>


<!-- bideha -->
<div id="printSection" class="printStyle" *ngIf="distType === 'bideha' && SearchDatas">
  <form name="foForm" [formGroup]="foForm" id="foForm">
    <app-letterhead></app-letterhead>
    <div style="height:50px;">
      <div style="float:left;width:49%">
        <p style="text-align:left; margin-bottom: 0">
          प.सं. : {{foForm.value.planY | displayNepaliDate}} <br />
          च .नं. :<br /> </p>
      </div>
      <div style="float:right;width:49%;" class="hide_div">
        <p style="text-align:right; margin-bottom: 0">मिति:
          <input type="text" formControlName="currentDate" class="form-style-4" />
        </p>
      </div>
      <div style="float:right;width:49%;" class="show_div">
        <p style="text-align:right; margin-bottom: 0">मिति:
          {{foForm.value.currentDate | displayNepaliDate}}
        </p>
      </div>
    </div>
    <div style="clear:both"></div>
    <hr style="border:1px solid black; margin: 0" />
    <br />

    <div>
      <p
        *ngIf="(activityDetailData && activityDetailData['data']['workServiceType'] === 'Consumer Committe') || (activityDetailData && activityDetailData['data']['workServiceType'] === 'Sahakari')">
        श्री <span style="font-weight:bold;">
          {{foForm.value.ccName}}
        </span>
        <br />
        <span>
          {{foForm.value.ccAddress}},
        </span>
      </p>
      <p *ngIf="activityDetailData && activityDetailData['data']['workServiceType'] === 'Contract'">
        श्री <span style="font-weight:bold;">
          {{foForm.value.conName}}
        </span>
        <br />
        <span>
          {{foForm.value.conAddress}},
        </span>
      </p>
      <p *ngIf="activityDetailData && activityDetailData['data']['workServiceType'] === 'Amanathan Marfat'">
        श्री <span style="font-weight:bold;">
          {{ activityDetailData && activityDetailData['data'] && activityDetailData['data']['orderName'] }}
        </span>
        <br />
        <span>
          {{ activityDetailData && activityDetailData['data'] && activityDetailData['data']['officeName'] }},
        </span>
      </p>
      <p style="clear:both;text-align:center;"><u>विषय : <b>कार्यादेश दिईएको सम्बन्धमा।</b></u></p>

      <div id="hidDiv">
        <p class="hide_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रस्तुत बिषयमा यस {{heading.officeName}}को आ.व. <b>{{foForm.value.planY
          | displayNepaliDate}}</b> को
          <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
            [width]="'200px'" formControlName="paarit"></nepali-input> बाट स्वीकृत
          <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
            [width]="'200px'" formControlName="focusAreaLevel1NameNepali"></nepali-input>
          <nepali-input type="text" name="sthar" [inputClass]="'form-style-6'" [containerClass]="'containter'"
            [width]="'400px'" formControlName="sthar"></nepali-input> योजना कार्यक्रम अन्तर्गत
          <nepali-input type="text" name="sthar" [inputClass]="'form-style-6'" [containerClass]="'containter'"
            [width]="'400px'" formControlName="wadaNo"></nepali-input> मा
          <nepali-input type="text" name="activityName" [inputClass]="'form-style-6'" [containerClass]="'containter'"
            [width]="'400px'" formControlName="activityName"></nepali-input> योजना बजेट रु.
          <nepali-input type="text" name="estimatedCost" [inputClass]="'form-style-6'" [containerClass]="'containter'"
            [width]="'400px'" formControlName="estimatedCost"></nepali-input> ल.ई. रु.
          <nepali-input type="text" name="techCost" [inputClass]="'form-style-6'" [containerClass]="'containter'"
            [width]="'400px'" formControlName="techCost"></nepali-input> स्वीकृत रकम रु.
          <nepali-input type="text" name="pCost" [inputClass]="'form-style-6'" [containerClass]="'containter'"
            [width]="'400px'" formControlName="pCost"></nepali-input> अनुसार संचालन गर्न
          {{ SearchDatas && SearchDatas['contractDate'] | displayNepaliDate }} मा
          यस कार्यालय र तपाई विच भएको सम्झौता अनुसार मिति
          <input type="text" formControlName="completionDate" class="form-style-4" />
          सम्ममा प्राविधिकको ल.ई., डिजाईन तथा निर्देशानुसार कार्य सम्पन्न गर्ने गरि यो कार्यादेश दिईएको छ ।
        </p>
      </div>
      <p class="show_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रस्तुत बिषयमा यस {{heading.officeName}}को आ.व. <b>{{foForm.value.planY
          | displayNepaliDate}}</b> को
        {{foForm.value.paarit}} बाट स्वीकृत {{foForm.value.focusAreaLevel1NameNepali}}
        {{foForm.value.sthar}} योजना कार्यक्रम अन्तर्गत {{foForm.value.wadaNo}} मा
        {{foForm.value.activityName}} योजना बजेट रु. {{foForm.value.estimatedCost | displayNepaliDate}}
        ल.ई. रु. {{foForm.value.techCost | displayNepaliDate}} स्विकृत रकम रु.
        {{foForm.value.pCost | displayNepaliDate}}
        अनुसार संचालन गर्न
        {{ SearchDatas && SearchDatas['contractDate'] | displayNepaliDate }} मा
        यस कार्यालय र तपाई विच भएको सम्झौता अनुसार मिति
        {{foForm.value.completionDate | displayNepaliDate}}
        सम्ममा प्राविधिकको ल.ई., डिजाईन तथा निर्देशानुसार कार्य सम्पन्न गर्ने गरि यो कार्यादेश दिईएको छ ।
      </p>
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="print_hide" style="width:100%">
        <div style="float:right;width:45%;margin-right: -5px;">
          <br>
          <p style="text-align: right;">
            ........................................... <br />
            <nepali-input type="text" name="prasasan" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'200px'" formControlName="prasasan"></nepali-input><br />
            <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'200px'" formControlName="padh"></nepali-input>
            <br>
            फोन:<nepali-input type="text" name="phone" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'170px'" formControlName="phone"></nepali-input>
            <br>

          </p>
        </div>
        <div style="width:55%;float:left">
          <p style="letter-spacing: 0.8px;line-height: 1.8;">
            बोधार्थ
            <br>
            <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'500px'" formControlName="engineer1"></nepali-input>
            <br>
            <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'500px'" formControlName="engineer7"></nepali-input>
          </p>
        </div>

        <div style="height:300px">
        </div>
      </div>

      <div class="print_show" style="width:100%; display: none;">
        <div style="width:45%;float:right">
          <p style="text-align:right;">
            ...........................................<br />
            {{foForm.value.prasasan}}<br />
            {{foForm.value.padh}}<br />
            फोन:{{foForm.value.phone}}
          </p>
        </div>


        <div style="width:55%;float:left">
          <p style="letter-spacing: 0.8px;line-height: 1.8;">
            बोधार्थ
            <br>
            {{foForm.value.engineer1}}
            <br>
            {{foForm.value.engineer7}}
          </p>
        </div>
      </div>
    </div>
  </form>
</div>


<!-- musikot -->
<div id="printSection" class="printStyle" *ngIf="distType === 'musikot' && SearchDatas">
  <form name="foForm" [formGroup]="foForm" id="foForm">
    <app-letterhead></app-letterhead>
    <div style="height:50px;">
      <div style="float:left;width:49%">
        <p style="text-align:left; margin-bottom: 0">
          प.सं. : {{foForm.value.planY | displayNepaliDate}} <br />
          च .नं. :<br /> </p>
      </div>
      <div style="float:right;width:49%;" class="hide_div">
        <p style="text-align:right; margin-bottom: 0">मिति:
          <input type="text" formControlName="currentDate" class="form-style-4" />
        </p>
      </div>
      <div style="float:right;width:49%;" class="show_div">
        <p style="text-align:right; margin-bottom: 0">मिति:
          {{foForm.value.currentDate | displayNepaliDate}}
        </p>
      </div>
    </div>
    <div style="clear:both"></div>
    <hr style="border:1px solid black; margin: 0" />
    <br />

    <div *ngIf="activityDetailData && activityDetailData.data && activityDetailData.data.workServiceType">
      <div [ngSwitch]="activityDetailData.data.workServiceType">
        <div *ngSwitchCase="'Amanathan Marfat'">
          <p style="clear:both;text-align:center;"><u>विषय :  <b>कार्यादेश दिईएको बारे।</b></u></p>
          <p>श्री {{ activityDetailData && activityDetailData['data'] && activityDetailData['data']['orderName'] }}</p>
          <p>{{ activityDetailData && activityDetailData['data'] && activityDetailData['data']['officeName'] }}</p>

          <div>
            उपरोक्त सम्बन्धमा
            {{ organizationMasterData && organizationMasterData['district'] }}
            {{ organizationMasterData && organizationMasterData['officeName']}}
            {{ organizationMasterData && organizationMasterData['orgName']}}
            अन्तर्गत
            {{ activityDetailData && activityDetailData['ActivityDetails'] && activityDetailData['ActivityDetails']['ActivityAddress'] }}
            को
            <b>
              {{ activityDetailData && activityDetailData['ActivityDetails'] && activityDetailData['ActivityDetails']['ActivityName'] }}
            </b>
            लागि अमानत माध्यम बाट निर्माण काम गराउन यो कार्यादेश दिईएको छ ।
            यस कार्यालयको मातहतमा यो कार्यादेश पाएको मितिले
            <div class="hide_div">
              <nepali-input type="text" name="completionDate" [inputClass]="'form-style-4'"
                [containerClass]="'containter'" formControlName="completionDate"></nepali-input>
            </div>
            <span class="print_show">{{ foForm.value.completionDate | displayNepaliDate }}</span>
            गते भित्र डिजाइन, ड्रइङ्ग, स्पेशिफिकेशन एवं ईस्टिमेट अनुसार काम सम्पन्‍न गर्न जानकारी गराईन्छ ।
          </div>

          <br>
          <br>

          <div style="width:55%;float:left" class="hide_div">
            <div style="letter-spacing: 0.8px;line-height: 1.8;">
              बोधार्थ
              <br>
              <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                [width]="'500px'" formControlName="engineer1"></nepali-input>
              <br>
              <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                [width]="'500px'" formControlName="engineer3"></nepali-input>
              <br>
              <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                [width]="'500px'" formControlName="engineer4"></nepali-input>
              <br>
              <span *ngIf="ifWard">
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer2"></nepali-input>
              </span>
            </div>
          </div>

          <div style="width:55%;float:left" class="show_div">
            <p style="letter-spacing: 0.8px;line-height: 1.8;">
              बोधार्थ
              <br>
              {{foForm.value.engineer1}}
              <br>
              {{foForm.value.engineer3}}
              <br>
              {{foForm.value.engineer4}}
              <br>
              <span *ngIf="ifWard">
                {{foForm.value.engineer2}}
              </span>
            </p>
          </div>

          <div style="font-size:14px;float: right;">
            <div class="hide_div">
              <div style="text-align: right;">
                ........................................... <br />
                <nepali-input type="text" name="prasasan" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="prasasan"></nepali-input>
              </div>
              <div style="text-align:right;">
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'300px'" formControlName="padh"></nepali-input>
                <br>
                फोन:<nepali-input type="text" name="phone" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'300px'" formControlName="phone"></nepali-input>
              </div>
            </div>



            <p class="show_div" style="text-align: right; font-size: 16px">
              ...........................................<br />
              {{foForm.value.prasasan}}<br />
              {{foForm.value.padh}}<br />
              फोन:{{foForm.value.phone}}
            </p>
          </div>


        </div>
        <div *ngSwitchCase="'Contract'">
          <p style="clear:both;text-align:center;"><u>विषय :  <b>कार्यादेश दिईएको बारे।</b></u></p>
          <p>श्री
            <span>
              {{foForm.value.conName}}
            </span>
            <br />
            <span>
              {{foForm.value.conAddress}}
            </span>
          </p>
          <div class="hide_div">

            उपरोक्त सम्बन्धमा
            {{ organizationMasterData && organizationMasterData['district'] }}
            {{ organizationMasterData && organizationMasterData['officeName']}}
            {{ organizationMasterData && organizationMasterData['orgName']}}
            अन्तर्गत ठेक्का नं.

            <nepali-input type="text" name="contractNumber" [inputClass]="'form-style-5'"
              [containerClass]="'containter'" [width]="'200px'" formControlName="contractNumber"></nepali-input>

            {{ organizationMasterData && organizationMasterData['officeName']}}
            {{ activityDetailData && activityDetailData['ActivityDetails'] && activityDetailData['ActivityDetails']['ActivityAddress'] }}
            को
            <b>
              {{ activityDetailData && activityDetailData['ActivityDetails'] && activityDetailData['ActivityDetails']['ActivityName'] }}
            </b>
            कार्यको लागि यो कार्यादेश दिईएको छ ।
            यस कार्यलयको प्राविधिकको यो कार्यादेश पाएको मितिले तोकिएको म्याद
            भित्र प्रविधिक ड्रइङ्ग, डिजाईन, एवं ईष्टिमेट अनुसार काम सम्पन्न गर्न हुन जानकारी गराईन्छ ।

          </div>

          <p class="show_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
            उपरोक्त सम्बन्धमा
            {{ organizationMasterData && organizationMasterData['district'] }}
            {{ organizationMasterData && organizationMasterData['officeName']}}
            {{ organizationMasterData && organizationMasterData['orgName']}}
            अन्तर्गत ठेक्का नं.

            {{ foForm.value.contractNumber }}

            {{ organizationMasterData && organizationMasterData['officeName']}}
            {{ activityDetailData && activityDetailData['ActivityDetails'] && activityDetailData['ActivityDetails']['ActivityAddress'] }}
            को
            <b>
              {{ activityDetailData && activityDetailData['ActivityDetails'] && activityDetailData['ActivityDetails']['ActivityName'] }}
            </b>
            कार्यको लागि यो कार्यादेश दिईएको छ ।
            यस कार्यलयको प्राविधिकको यो कार्यादेश पाएको मितिले तोकिएको म्याद
            भित्र प्रविधिक ड्रइङ्ग, डिजाईन, एवं ईष्टिमेट अनुसार काम सम्पन्न गर्न हुन जानकारी गराईन्छ ।
          </p>
          <br />
          <br />
          <br />
          <br />

          <div class="hide_div" style="width:100%">
            <div style="float:right;width:45%;margin-right: -5px;">
              <div style="text-align: right;">
                ........................................... <br />
                <nepali-input type="text" name="prasasan" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="prasasan"></nepali-input>
              </div>
              <div style="text-align:right;">
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'300px'" formControlName="padh"></nepali-input>
                <br>
                फोन:<nepali-input type="text" name="phone" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'300px'" formControlName="phone"></nepali-input>
              </div>
            </div>

            <div style="width:55%;float:left">
              <div style="letter-spacing: 0.8px;line-height: 1.8;">
                बोधार्थ
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer1"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer3"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer4"></nepali-input>
                <span *ngIf="ifWard">
                  <br>
                  <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                    [width]="'500px'" formControlName="engineer2"></nepali-input>
                </span>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer5"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer6"></nepali-input>
              </div>
            </div>
          </div>

          <div class="show_div" style="clear:both;width:100%;">
            <span style="font-size:14px;float: right;">

              <p>...........................................<br />
                {{foForm.value.prasasan}}<br />
                {{foForm.value.padh}}<br />
                फोन:{{foForm.value.phone}}</p>
            </span>
            <br />
            <p style="font-size:14px;line-height: 1.5; float: left;">

              बोधार्थ
              <br>
              {{foForm.value.engineer1}}
              <br>
              {{foForm.value.engineer3}}
              <br>
              {{foForm.value.engineer4}}
              <span *ngIf="ifWard">
                <br>
                {{foForm.value.engineer2}}
              </span>
              <br>
              {{foForm.value.engineer5}}
              <br>
              {{foForm.value.engineer6}}
            </p>
          </div>
        </div>

        <div *ngSwitchCase="'Consumer Committe'">
          <p>श्री <span style="font-weight:bold;">
              {{foForm.value.ccName}}
            </span>
            <br />
            <span>
              {{foForm.value.ccAddress}},
            </span>
          </p>
          <p style="clear:both;text-align:center;"><u>विषय : <b>कार्यादेश सम्बन्धमा।</b></u></p>
          <div id="hidDiv">
            <p class="hide_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रस्तुत बिषयमा यस {{heading.officeName}}को चालु आ.व. <b>{{foForm.value.planY
              | displayNepaliDate}}</b> का लागी
              <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                [containerClass]="'containter'" [width]="'200px'" formControlName="paarit"></nepali-input> बाट स्वीकृत
              <nepali-input type="text" name="sthar" [inputClass]="'form-style-6'" [containerClass]="'containter'"
                [width]="'400px'" formControlName="sthar"></nepali-input> योजना संचालनका लागी
              <nepali-input type="text" name="ccName" [inputClass]="'form-style-6'" [containerClass]="'containter'"
                [width]="'400px'" formControlName="ccName"></nepali-input> उपभोक्ता समिति
              संग मिति <input type="text" formControlName="contractDate" class="form-style-4" />
              मा सम्झौता बमोजिम मिति <input type="text" formControlName="completionDate" class="form-style-4" /> गते
              सम्म
              डिजाईन, ईस्टिमेट अनुसार प्रविधिकको निर्देशनमा र नियमानुसार योजना संचालन तथा सम्पन्‍न गर्नहुन यो कर्यादेश
              दिईएको छ ।

            </p>
          </div>
          <p class="show_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रस्तुत बिषयमा यस {{heading.officeName}}को चालु आ.व. <b>{{foForm.value.planY
            | displayNepaliDate}}</b> का लागी {{foForm.value.paarit}}बाट स्वीकृत
            <b> {{foForm.value.sthar}}</b> योजना संचालनका लागी
            <b> {{foForm.value.ccName}}</b> उपभोक्ता समिति
            संग मिति <b>{{foForm.value.contractDate | displayNepaliDate}}</b>
            मा सम्झौता बमोजिम मिति {{foForm.value.completionDate | displayNepaliDate}} गते सम्म
            डिजाईन, ईस्टिमेट अनुसार प्रविधिकको निर्देशनमा र नियमानुसार योजना संचालन तथा सम्पन्‍न गर्नहुन यो कर्यादेश
            दिईएको छ ।


          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="print_hide" style="width:100%">
            <div style="float:right;width:45%;margin-right: -5px;">
              <br>
              <p style="text-align: right;">
                ........................................... <br />
                <nepali-input type="text" name="prasasan" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'200px'" formControlName="prasasan"></nepali-input><br />
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'200px'" formControlName="padh"></nepali-input>
                <br>
                फोन:<nepali-input type="text" name="phone" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'170px'" formControlName="phone"></nepali-input>
                <br>

              </p>
            </div>
            <div style="width:55%;float:left">
              <p style="letter-spacing: 0.8px;line-height: 1.8;">
                बोधार्थ
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer1"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer3"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer4"></nepali-input>
                <br>
                <span *ngIf="ifWard">
                  <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                    [width]="'500px'" formControlName="engineer2"></nepali-input>
                </span>
              </p>
            </div>

            <div style="height:300px">
            </div>
          </div>

          <div class="print_show" style="width:100%; display: none;">
            <div style="width:45%;float:right">
              <p style="text-align:right;">
                ...........................................<br />
                {{foForm.value.prasasan}}<br />
                {{foForm.value.padh}}<br />
                फोन:{{foForm.value.phone}}
              </p>
            </div>


            <div style="width:55%;float:left">
              <p style="letter-spacing: 0.8px;line-height: 1.8;">
                बोधार्थ
                <br>
                {{foForm.value.engineer1}}
                <br>
                {{foForm.value.engineer3}}
                <br>
                {{foForm.value.engineer4}}
                <br>
                <span *ngIf="ifWard">
                  {{foForm.value.engineer2}}
                </span>
              </p>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'Sahakari'">
          <p>श्री <span style="font-weight:bold;">
              {{foForm.value.ccName}}
            </span>
            <br />
            <span>
              {{foForm.value.ccAddress}},
            </span>
          </p>
          <p style="clear:both;text-align:center;"><u>विषय : <b>कार्यादेश सम्बन्धमा।</b></u></p>
          <div id="hidDiv">
            <p class="hide_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रस्तुत बिषयमा यस {{heading.officeName}}को चालु आ.व. <b>{{foForm.value.planY
              | displayNepaliDate}}</b> का लागी
              <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                [containerClass]="'containter'" [width]="'200px'" formControlName="paarit"></nepali-input> बाट स्वीकृत
              <nepali-input type="text" name="sthar" [inputClass]="'form-style-6'" [containerClass]="'containter'"
                [width]="'400px'" formControlName="sthar"></nepali-input> योजना संचालनका लागी
              <nepali-input type="text" name="ccName" [inputClass]="'form-style-6'" [containerClass]="'containter'"
                [width]="'400px'" formControlName="ccName"></nepali-input> श्रम सहकारी
              संग मिति <input type="text" formControlName="contractDate" class="form-style-4" />
              मा सम्झौता बमोजिम मिति <input type="text" formControlName="completionDate" class="form-style-4" /> गते
              सम्म
              डिजाईन, ईस्टिमेट अनुसार प्रविधिकको निर्देशनमा र नियमानुसार योजना संचालन तथा सम्पन्‍न गर्नहुन यो कर्यादेश
              दिईएको छ ।

            </p>
          </div>
          <p class="show_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रस्तुत बिषयमा यस {{heading.officeName}}को चालु आ.व. <b>{{foForm.value.planY
            | displayNepaliDate}}</b> का लागी {{foForm.value.paarit}}बाट स्वीकृत
            <b> {{foForm.value.sthar}}</b> योजना संचालनका लागी
            <b> {{foForm.value.ccName}}</b> श्रम सहकारी
            संग मिति <b>{{foForm.value.contractDate | displayNepaliDate}}</b>
            मा सम्झौता बमोजिम मिति {{foForm.value.completionDate | displayNepaliDate}} गते सम्म
            डिजाईन, ईस्टिमेट अनुसार प्रविधिकको निर्देशनमा र नियमानुसार योजना संचालन तथा सम्पन्‍न गर्नहुन यो कर्यादेश
            दिईएको छ ।


          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="print_hide" style="width:100%">
            <div style="float:right;width:45%;margin-right: -5px;">
              <br>
              <p style="text-align: right;">
                ........................................... <br />
                <nepali-input type="text" name="prasasan" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'200px'" formControlName="prasasan"></nepali-input><br />
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'200px'" formControlName="padh"></nepali-input>
                <br>
                फोन:<nepali-input type="text" name="phone" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'170px'" formControlName="phone"></nepali-input>
                <br>

              </p>
            </div>
            <div style="width:55%;float:left">
              <p style="letter-spacing: 0.8px;line-height: 1.8;">
                बोधार्थ
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer1"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer3"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer4"></nepali-input>
                <br>
                <span *ngIf="ifWard">
                  <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                    [width]="'500px'" formControlName="engineer2"></nepali-input>
                </span>
              </p>
            </div>

            <div style="height:300px">
            </div>
          </div>

          <div class="print_show" style="width:100%; display: none;">
            <div style="width:45%;float:right">
              <p style="text-align:right;">
                ...........................................<br />
                {{foForm.value.prasasan}}<br />
                {{foForm.value.padh}}<br />
                फोन:{{foForm.value.phone}}
              </p>
            </div>


            <div style="width:55%;float:left">
              <p style="letter-spacing: 0.8px;line-height: 1.8;">
                बोधार्थ
                <br>
                {{foForm.value.engineer1}}
                <br>
                {{foForm.value.engineer3}}
                <br>
                {{foForm.value.engineer4}}
                <br>
                <span *ngIf="ifWard">
                  {{foForm.value.engineer2}}
                </span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>


<!-- other -->
<div id="printSection" class="printStyle" *ngIf="distType !== 'musikot' && distType !== 'bideha' && SearchDatas">
  <form name="foForm" [formGroup]="foForm" id="foForm">
    <app-letterhead></app-letterhead>
    <div style="height:50px;">
      <div style="float:left;width:49%">
        <p style="text-align:left">
          प.सं. : {{foForm.value.planY | displayNepaliDate}} <br />
          च .नं. :<br /> </p>
      </div>
      <div style="float:right;width:49%;" class="hide_div">
        <p style="text-align:right;">मिति:
          <input type="text" formControlName="currentDate" class="form-style-4" />
        </p>
      </div>
      <div style="float:right;width:49%;" class="show_div">
        <p style="text-align:right;">मिति:
          {{foForm.value.currentDate | displayNepaliDate}}
        </p>
      </div>
    </div>
    <div style="clear:both"></div>
    <hr style="border:1px solid black;" />
    <br />

    <div *ngIf="activityDetailData && activityDetailData.data && activityDetailData.data.workServiceType">
      <div [ngSwitch]="activityDetailData.data.workServiceType">
        <div *ngSwitchCase="'Amanathan Marfat'">
          <p style="clear:both;text-align:center;"><u>विषय :  <b>कार्यादेश दिईएको बारे।</b></u></p>
          <p>श्री {{ activityDetailData && activityDetailData['data'] && activityDetailData['data']['orderName'] }}</p>
          <p>{{ activityDetailData && activityDetailData['data'] && activityDetailData['data']['officeName'] }}</p>

          <div>
            उपरोक्त सम्बन्धमा
            {{ organizationMasterData && organizationMasterData['district'] }}
            {{ organizationMasterData && organizationMasterData['officeName']}}
            {{ organizationMasterData && organizationMasterData['orgName']}}
            अन्तर्गत
            {{ activityDetailData && activityDetailData['ActivityDetails'] && activityDetailData['ActivityDetails']['ActivityAddress'] }}
            को
            <b>
              {{ activityDetailData && activityDetailData['ActivityDetails'] && activityDetailData['ActivityDetails']['ActivityName'] }}
            </b>
            लागि अमानत माध्यम बाट निर्माण काम गराउन यो कार्यादेश दिईएको छ ।
            यस कार्यालयको मातहतमा यो कार्यादेश पाएको मितिले
            <div class="hide_div">
              <nepali-input type="text" name="completionDate" [inputClass]="'form-style-4'"
                [containerClass]="'containter'" formControlName="completionDate"></nepali-input>
            </div>
            <span class="print_show">{{ foForm.value.completionDate | displayNepaliDate }}</span>
            गते भित्र डिजाइन, ड्रइङ्ग, स्पेशिफिकेशन एवं ईस्टिमेट अनुसार काम सम्पन्‍न गर्न जानकारी गराईन्छ ।
          </div>

          <br>
          <br>

          <div style="width:55%;float:left" class="hide_div">
            <div style="letter-spacing: 0.8px;line-height: 1.8;">
              बोधार्थ
              <br>
              <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                [width]="'500px'" formControlName="engineer1"></nepali-input>
              <br>
              <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                [width]="'500px'" formControlName="engineer3"></nepali-input>
              <br>
              <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                [width]="'500px'" formControlName="engineer4"></nepali-input>
              <br>
              <span *ngIf="ifWard">
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer2"></nepali-input>
              </span>
            </div>
          </div>

          <div style="width:55%;float:left" class="show_div">
            <p style="letter-spacing: 0.8px;line-height: 1.8;">
              बोधार्थ
              <br>
              {{foForm.value.engineer1}}
              <br>
              {{foForm.value.engineer3}}
              <br>
              {{foForm.value.engineer4}}
              <br>
              <span *ngIf="ifWard">
                {{foForm.value.engineer2}}
              </span>
            </p>
          </div>

          <div style="font-size:14px;float: right;">
            <div class="hide_div">
              <div style="text-align: right;">
                ........................................... <br />
                <nepali-input type="text" name="prasasan" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="prasasan"></nepali-input>
              </div>
              <div style="text-align:right;">
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'300px'" formControlName="padh"></nepali-input>
                <br>
                <div *ngIf="distType != 'sainamaina'">
                  फोन:<nepali-input type="text" name="phone" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'300px'" formControlName="phone"></nepali-input>
                </div>
              </div>
            </div>



            <p class="show_div" style="text-align: right; font-size: 16px">
              ...........................................<br />
              {{foForm.value.prasasan}}<br />
              {{foForm.value.padh}}<br />
              <span *ngIf="distType != 'sainamaina'">फोन:{{foForm.value.phone}}</span>
            </p>
          </div>


        </div>
        <div *ngSwitchCase="'Contract'">
          <p style="clear:both;text-align:center;"><u>विषय :  <b>कार्यादेश दिईएको बारे।</b></u></p>
          <p>श्री
            <span>
              {{foForm.value.conName}}
            </span>
            <br />
            <span>
              {{foForm.value.conAddress}}
            </span>
          </p>
          <div class="hide_div">

            उपरोक्त सम्बन्धमा
            {{ organizationMasterData && organizationMasterData['district'] }}
            {{ organizationMasterData && organizationMasterData['officeName']}}
            {{ organizationMasterData && organizationMasterData['orgName']}}
            अन्तर्गत ठेक्का नं.

            <nepali-input type="text" name="contractNumber" [inputClass]="'form-style-5'"
              [containerClass]="'containter'" [width]="'200px'" formControlName="contractNumber"></nepali-input>

            {{ organizationMasterData && organizationMasterData['officeName']}}
            {{ activityDetailData && activityDetailData['ActivityDetails'] && activityDetailData['ActivityDetails']['ActivityAddress'] }}
            को
            <b>
              {{ activityDetailData && activityDetailData['ActivityDetails'] && activityDetailData['ActivityDetails']['ActivityName'] }}
            </b>
            कार्यको लागि यो कार्यादेश दिईएको छ ।
            यस कार्यलयको प्राविधिकको यो कार्यादेश पाएको मितिले

            <nepali-input type="text" name="contractDays" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'50px'" formControlName="contractDays"></nepali-input>

            दिन भित्र डिजाईन, ड्रइङ्ग, स्पेसिफिकेशन एवं ईष्टिमेट अनुसार काम सम्पन्न गर्न जानकारी गराईन्छ ।

          </div>

          <p class="show_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
            उपरोक्त सम्बन्धमा
            {{ organizationMasterData && organizationMasterData['district'] }}
            {{ organizationMasterData && organizationMasterData['officeName']}}
            {{ organizationMasterData && organizationMasterData['orgName']}}
            अन्तर्गत ठेक्का नं.

            {{ foForm.value.contractNumber }}

            {{ organizationMasterData && organizationMasterData['officeName']}}
            {{ activityDetailData && activityDetailData['ActivityDetails'] && activityDetailData['ActivityDetails']['ActivityAddress'] }}
            को
            <b>
              {{ activityDetailData && activityDetailData['ActivityDetails'] && activityDetailData['ActivityDetails']['ActivityName'] }}
            </b>
            कार्यको लागि यो कार्यादेश दिईएको छ ।
            यस कार्यलयको प्राविधिकको यो कार्यादेश पाएको मितिले

            {{ foForm.value.contractDays }}

            दिन भित्र डिजाईन, ड्रइङ्ग, स्पेसिफिकेशन एवं ईष्टिमेट अनुसार काम सम्पन्न गर्न जानकारी गराईन्छ ।
          </p>
          <br />
          <br />
          <br />
          <br />

          <div class="hide_div" style="width:100%">
            <div style="float:right;width:45%;margin-right: -5px;">
              <div style="text-align: right;">
                ........................................... <br />
                <nepali-input type="text" name="prasasan" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="prasasan"></nepali-input>
              </div>
              <div style="text-align:right;">
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'300px'" formControlName="padh"></nepali-input>
                <br>
                <div *ngIf="distType != 'sainamaina'">
                  फोन:<nepali-input type="text" name="phone" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'300px'" formControlName="phone"></nepali-input>
                </div>
              </div>
            </div>

            <div style="width:55%;float:left">
              <div style="letter-spacing: 0.8px;line-height: 1.8;">
                बोधार्थ
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer1"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer3"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer4"></nepali-input>
                <br>
                <span *ngIf="ifWard">
                  <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                    [width]="'500px'" formControlName="engineer2"></nepali-input>
                </span>
              </div>
            </div>
          </div>

          <div class="show_div" style="clear:both;width:100%;">
            <span style="font-size:14px;float: right;">

              <p>...........................................<br />
                {{foForm.value.prasasan}}<br />
                {{foForm.value.padh}}<br />
                <span *ngIf="distType != 'sainamaina'">फोन:{{foForm.value.phone}}</span>
              </p>
            </span>
            <br />
            <p style="font-size:14px;line-height: 1.5; float: left;">

              बोधार्थ
              <br>
              {{foForm.value.engineer1}}
              <br>
              {{foForm.value.engineer3}}
              <br>
              {{foForm.value.engineer4}}
              <br>
              <span *ngIf="ifWard">
                {{foForm.value.engineer2}}
              </span>
            </p>
          </div>
        </div>

        <div *ngSwitchCase="'Consumer Committe'">
          <p *ngIf="distType !== 'aathbiskot'">श्री <span style="font-weight:bold;">
              {{foForm.value.ccName}}
            </span>
            <br />
            <span>
              {{foForm.value.ccAddress}},
            </span>
          </p>
          <p style="clear:both;text-align:center;"><u>विषय : <b>कार्यादेश सम्बन्धमा।</b></u></p>
          <div id="hidDiv">
            <p class="hide_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रस्तुत बिषयमा यस {{heading.officeName}}को चालु आ.व. <b>{{foForm.value.planY
              | displayNepaliDate}}</b> का लागी
              <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                [containerClass]="'containter'" [width]="'200px'" formControlName="paarit"></nepali-input> बाट स्वीकृत
              <nepali-input type="text" name="sthar" [inputClass]="'form-style-6'" [containerClass]="'containter'"
                [width]="'400px'" formControlName="sthar"></nepali-input> योजना संचालनका लागी
              <nepali-input type="text" name="ccName" [inputClass]="'form-style-6'" [containerClass]="'containter'"
                [width]="'400px'" formControlName="ccName"></nepali-input> उपभोक्ता समिति
              संग मिति <input type="text" formControlName="contractDate" class="form-style-4" />
              मा सम्झौता बमोजिम मिति <input type="text" formControlName="completionDate" class="form-style-4" /> गते
              सम्म
              डिजाईन, ईस्टिमेट अनुसार प्रविधिकको निर्देशनमा र नियमानुसार योजना संचालन तथा सम्पन्‍न गर्नहुन यो कर्यादेश
              दिईएको छ ।

            </p>
          </div>
          <p class="show_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रस्तुत बिषयमा यस {{heading.officeName}}को चालु आ.व. <b>{{foForm.value.planY
            | displayNepaliDate}}</b> का लागी {{foForm.value.paarit}}बाट स्वीकृत
            <b> {{foForm.value.sthar}}</b> योजना संचालनका लागी
            <b> {{foForm.value.ccName}}</b> उपभोक्ता समिति
            संग मिति <b>{{foForm.value.contractDate | displayNepaliDate}}</b>
            मा सम्झौता बमोजिम मिति {{foForm.value.completionDate | displayNepaliDate}} गते सम्म
            डिजाईन, ईस्टिमेट अनुसार प्रविधिकको निर्देशनमा र नियमानुसार योजना संचालन तथा सम्पन्‍न गर्नहुन यो कर्यादेश
            दिईएको छ ।


          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="print_hide" style="width:100%">
            <div style="float:right;width:45%;margin-right: -5px;">
              <br>
              <div style="text-align: right;">
                ........................................... <br />
                <nepali-input type="text" name="prasasan" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'200px'" formControlName="prasasan"></nepali-input><br />
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'200px'" formControlName="padh"></nepali-input>
                <br>
                <div *ngIf="distType != 'sainamaina'">
                  फोन:<nepali-input type="text" name="phone" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'300px'" formControlName="phone"></nepali-input>
                </div>
                <br>
              </div>
            </div>
            <div style="width:55%;float:left">
              <p style="letter-spacing: 0.8px;line-height: 1.8;">
                बोधार्थ
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer1"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer3"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer4"></nepali-input>
                <br>
                <span *ngIf="ifWard">
                  <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                    [width]="'500px'" formControlName="engineer2"></nepali-input>
                </span>
              </p>
            </div>

            <div style="height:300px">
            </div>
          </div>

          <div class="print_show" style="width:100%; display: none;">
            <div style="width:45%;float:right">
              <p style="text-align:right;">
                ...........................................<br />
                {{foForm.value.prasasan}}<br />
                {{foForm.value.padh}}<br />
                <span *ngIf="distType != 'sainamaina'">फोन:{{foForm.value.phone}}</span>
              </p>
            </div>


            <div style="width:55%;float:left">
              <p style="letter-spacing: 0.8px;line-height: 1.8;">
                बोधार्थ
                <br>
                {{foForm.value.engineer1}}
                <br>
                {{foForm.value.engineer3}}
                <br>
                {{foForm.value.engineer4}}
                <br>
                <span *ngIf="ifWard">
                  {{foForm.value.engineer2}}
                </span>
              </p>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'Sahakari'">
          <p>श्री <span style="font-weight:bold;">
              {{foForm.value.ccName}}
            </span>
            <br />
            <span>
              {{foForm.value.ccAddress}},
            </span>
          </p>
          <p style="clear:both;text-align:center;"><u>विषय : <b>कार्यादेश सम्बन्धमा।</b></u></p>
          <div id="hidDiv">
            <p class="hide_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रस्तुत बिषयमा यस {{heading.officeName}}को चालु आ.व. <b>{{foForm.value.planY
                | displayNepaliDate}}</b> का लागी
              <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                [containerClass]="'containter'" [width]="'200px'" formControlName="paarit"></nepali-input> बाट स्वीकृत
              <nepali-input type="text" name="sthar" [inputClass]="'form-style-6'" [containerClass]="'containter'"
                [width]="'400px'" formControlName="sthar"></nepali-input> योजना संचालनका लागी
              <nepali-input type="text" name="ccName" [inputClass]="'form-style-6'" [containerClass]="'containter'"
                [width]="'400px'" formControlName="ccName"></nepali-input> श्रम सहकारी
              संग मिति <input type="text" formControlName="contractDate" class="form-style-4" />
              मा सम्झौता बमोजिम मिति <input type="text" formControlName="completionDate" class="form-style-4" /> गते
              सम्म
              डिजाईन, ईस्टिमेट अनुसार प्रविधिकको निर्देशनमा र नियमानुसार योजना संचालन तथा सम्पन्‍न गर्नहुन यो कर्यादेश
              दिईएको छ ।

            </p>
          </div>
          <p class="show_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रस्तुत बिषयमा यस {{heading.officeName}}को चालु आ.व. <b>{{foForm.value.planY
              | displayNepaliDate}}</b> का लागी {{foForm.value.paarit}}बाट स्वीकृत
            <b> {{foForm.value.sthar}}</b> योजना संचालनका लागी
            <b> {{foForm.value.ccName}}</b> श्रम सहकारी
            संग मिति <b>{{foForm.value.contractDate | displayNepaliDate}}</b>
            मा सम्झौता बमोजिम मिति {{foForm.value.completionDate | displayNepaliDate}} गते सम्म
            डिजाईन, ईस्टिमेट अनुसार प्रविधिकको निर्देशनमा र नियमानुसार योजना संचालन तथा सम्पन्‍न गर्नहुन यो कर्यादेश
            दिईएको छ ।


          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="print_hide" style="width:100%">
            <div style="float:right;width:45%;margin-right: -5px;">
              <br>
              <div style="text-align: right;">
                ........................................... <br />
                <nepali-input type="text" name="prasasan" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'200px'" formControlName="prasasan"></nepali-input><br />
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'200px'" formControlName="padh"></nepali-input>
                <br>
                <div *ngIf="distType != 'sainamaina'">
                  फोन:<nepali-input type="text" name="phone" [inputClass]="'form-style-5'"
                    [containerClass]="'containter'" [width]="'300px'" formControlName="phone"></nepali-input>
                </div>
                <br>
              </div>
            </div>
            <div style="width:55%;float:left">
              <p style="letter-spacing: 0.8px;line-height: 1.8;">
                बोधार्थ
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer1"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer3"></nepali-input>
                <br>
                <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'500px'" formControlName="engineer4"></nepali-input>
                <br>
                <span *ngIf="ifWard">
                  <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                    [width]="'500px'" formControlName="engineer2"></nepali-input>
                </span>
              </p>
            </div>

            <div style="height:300px">
            </div>
          </div>

          <div class="print_show" style="width:100%; display: none;">
            <div style="width:45%;float:right">
              <p style="text-align:right;">
                ...........................................<br />
                {{foForm.value.prasasan}}<br />
                {{foForm.value.padh}}<br />
                <span *ngIf="distType != 'sainamaina'">फोन:{{foForm.value.phone}}</span>
              </p>
            </div>


            <div style="width:55%;float:left">
              <p style="letter-spacing: 0.8px;line-height: 1.8;">
                बोधार्थ
                <br>
                {{foForm.value.engineer1}}
                <br>
                {{foForm.value.engineer3}}
                <br>
                {{foForm.value.engineer4}}
                <br>
                <span *ngIf="ifWard">
                  {{foForm.value.engineer2}}
                </span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </form>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<div id="nodata" *ngIf="!SearchDatas">
  <p style="text-align:center;">कुनै डेटा उपलब्ध छैन!!</p>
</div>