#showDiv {
    display: none !important;
}
#hidDiv {
    display: block !important;
}
.print_show,
.show_div {
    display: none !important;
}
.hide_div {
    display: inline-block !important;
}
.printStyle {
    padding: 100px;
}
