<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator>

    <fieldset class="jqx-widget-header-energyblue">
      <legend>उपभोक्ता समिति विवरण</legend>
      <div class="grid-container">

        <jqxGrid #myGrid [height]="'550'" class="grid-class" [width]="'99.8%'"
          [source]="dataAdapter" [columns]="columns"
          [pageable]="true" [filterable]="true"
          [autorowheight]="true" [sortable]="true" [editable]="true"
          [theme]="'energyblue'"
          [selectionmode]="'checkbox'" [showfilterrow]="true"
          [showtoolbar]="true" [showstatusbar]="true" [showaggregates]="true"
          [statusbarheight]="25"
          [rendertoolbar]="rendertoolbar"
          [keyboardnavigation]="true">
        </jqxGrid>
      </div>
    </fieldset>
  </jqxValidator>
</div>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
  [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
  [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
  [width]="100" [height]="60">
</jqxLoader>
<jqxWindow #myWindow [width]="'90%'" [height]="'90%'" [resizable]="false"
  [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent" style="padding:15px 20px">
    <form name="foForm" [formGroup]="foForm">
      <table>
        <tr>
          <td style="font-weight: 500; font-size: 13px">{{'cc'|translate}}
            {{'NAME'|translate}}</td>
          <td style="width:475px;">
            <nepali-input name="name" formControlName="name" [height]="23"
              [width]="200" [placeHolder]="'ENTER_NAME' | translate"
              [inputClass]="'px-control'">
            </nepali-input>
          </td>
          <td style="font-weight: 500; font-size: 13px">{{'cc'|translate}}
            {{'ADDRESS'|translate}}</td>
          <td>
            <nepali-input name="address" formControlName="address"
              [height]="23" [width]="160" [placeHolder]="'ENTER_ADDRESS' |
              translate"
              [inputClass]="'px-control'"></nepali-input>
          </td>
          <td style="font-weight: 500; font-size: 13px">{{'cc'|translate}}
            {{'formation'|translate}}
            {{'DATE'|translate}}
          </td>
          <td>
            <input class="px-control" placeholder="YYYY-MM-DD" height="23px"
              width="160px"
              formControlName="createdDate"
              />
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td style="font-weight: 500; font-size: 13px">
            गठन गर्दा जम्मा उपस्थित संख्या
          </td>
          <td>
            <input type="number" class="px-control" height="23px" width="120px"
              formControlName="totalPopulation" />
          </td>

          <td style="font-weight: 500; font-size: 13px" colspan=2>
            गठन गर्दा उपस्थित लाभान्वितकाे संख्या
          </td>
          <td>
            <input type="number" class="px-control" height="23px" width="160px"
              formControlName="profitPopulation"
              />
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td style="font-weight: 500; font-size: 13px">{{'bankName'|
            translate}}</td>
          <td style="width:350px;">
            <nepali-input name="bankName" formControlName="bankName"
              [height]="23" [width]="160"
              [placeHolder]="'enterBankName' | translate"
              [inputClass]="'px-control'"></nepali-input>
          </td>
          <td style="font-weight: 500; font-size: 13px">{{'bankAddress'|
            translate}}</td>
          <td style="width:350px;">
            <nepali-input name="bankAddress" formControlName="bankAddress"
              [height]="23" [width]="160"
              [placeHolder]="'bankAddress' | translate"
              [inputClass]="'px-control'"></nepali-input>
          </td>
          <td style="font-weight: 500; font-size: 13px">{{'accountNo'|translate}}</td>
          <td>
            <jqxInput [theme]="'energyblue'"
              [placeHolder]="'enterAccountNo'|translate" [height]="23"
              [width]="160" formControlName="bankAccountNumber"></jqxInput>
          </td>

        </tr>
      </table>
      <table>
        <tr>
          <td colspan="8">
            <br>
          </td>
        </tr>
        <p style="font-size:15px"><b>लागत व्यहोर्ने स्रोतहरुः</b></p>
        <tr>

          <td style="font-weight: 500; font-size: 13px;">{{'NEPALGOVNT'|translate}}</td>
          <td style="width: 160px;">

            <input type="number" class="px-control" height="23px" width="160px"
              formControlName="nepalSarkar"
              />
            <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'grantedFrom'|translate" [height]="23"
                                  [width]="160" formControlName="grantedFromState"></jqxInput> -->
          </td>
          <td style="font-weight: 500; font-size: 13px">{{'PRADESH'|translate}}</td>
          <td>

            <input type="number" class="px-control" height="23px" width="160px"
              formControlName="pradeshSarkar"
              />
            <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'grantedFrom'|translate" [height]="23"
                                  [width]="160" formControlName="grantedFromNgo"></jqxInput> -->
          </td>
          <td style="font-weight: 500; font-size: 13px">

            <span *ngIf="checkMUn">गाउँपालिका </span>
            <span *ngIf="!checkMUn">नगरपालिका </span>

          </td>
          <td>
            <input type="number" class="px-control" height="23px" width="160px"
              formControlName="nagrpalika"
              />
            <!-- <jqxInput [placeHolder]="'grantedFrom'|translate" [theme]="'energyblue'"
                                  formControlName="grantedFromLocalLevel" [width]="160" [height]="23">
                                </jqxInput> -->
          </td>
          <td style="font-weight: 500; font-size: 13px">{{'WARD'|translate}}</td>
          <td>
            <jqxInput [placeHolder]="'grantedFrom'|translate"
              [theme]="'energyblue'"
              formControlName="ward" [width]="160" [height]="23">
            </jqxInput>
          </td>
        </tr>
        <tr>

          <td style="font-weight: 500; font-size: 13px">{{'CUST'|translate}}</td>
          <td>

            <input type="number" class="px-control" height="23px" width="160px"
              formControlName="consumerCommitee"
              />
            <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'grantedFrom'|translate" [height]="23"
                                  [width]="160" formControlName="grantedFromConsumerCommitte"></jqxInput> -->
          </td>

        </tr>

        <tr>
          <td colspan="8">
            <br>
          </td>
        </tr>

        <tr>
          <td colspan="8">
            <hr>
          </td>
        </tr>

      </table>
      <table formArrayName="workServiceTypeArray">
        <tr>
          <td style="font-weight: 500; font-size: 13px">{{'NAME' | translate}}</td>
          <td style="font-weight: 500; font-size: 13px">{{'POST' | translate}}</td>
          <td style="font-weight: 500; font-size: 13px">{{'ADDRESS' |
            translate}}</td>
          <td style="font-weight: 500; font-size: 13px">{{'CITIZEN' |
            translate}}</td>
          <td style="font-weight: 500; font-size: 13px">{{'ISSUE_DISTRICT' |
            translate}}</td>
          <td style="font-weight: 500; font-size: 13px">{{'ISSUE_DATE' |
            translate}}</td>
          <td style="font-weight: 500; font-size: 13px">{{'CONTACT_NO' |
            translate}}</td>
        </tr>
        <tr
          *ngFor="let workServiceForm of
          foForm.get('workServiceTypeArray')['controls']; let i= index;"
          [formGroupName]="i">
          <td>
            <nepali-input name="memberName" formControlName="memberName"
              [height]="23" [width]="150"
              [inputClass]="'px-control'"
              [placeHolder]="'ENTER_NAME'|translate"></nepali-input>
            <small
              [hidden]="foForm.get('workServiceTypeArray')['controls'][i].get('memberName').valid"
              class="form-control-feedback text-danger px-control-error">
              * आवश्यक छ !!
            </small>
          </td>
          <td>
            <nepali-input name="memberPost" formControlName="memberPost"
              [height]="23" [width]="150"
              [inputClass]="'px-control'"
              [placeHolder]="'ENTER_CITIZENSHIP_NO'|translate"></nepali-input>
            <!-- <small [hidden]="foForm.get('workServiceTypeArray')['controls'][i].get('memberPost').valid" class="form-control-feedback text-danger px-control-error">
                                  * आवश्यक छ !!
                                </small> -->
          </td>
          <td>
            <nepali-input name="committeAddress"
              formControlName="committeAddress" [height]="23"
              [width]="150" [inputClass]="'px-control'"
              [placeHolder]="'ENTER_ADDRESS'|translate">
            </nepali-input>
            <small
              [hidden]="foForm.get('workServiceTypeArray')['controls'][i].get('committeAddress').valid"
              class="form-control-feedback text-danger px-control-error">
              * आवश्यक छ !!
            </small>
          </td>
          <td>
            <jqxInput [theme]="'energyblue'" (onChange)="committeeChange(i)"
              [placeHolder]="'ENTER_POST' | translate" [height]="23"
              [width]="160" formControlName="citizenshipNumber"></jqxInput>
            <small
              [hidden]="foForm.get('workServiceTypeArray')['controls'][i].get('citizenshipNumber').valid"
              class="form-control-feedback text-danger px-control-error">
              * आवश्यक छ !!
            </small>
          </td>
          <td>
            <!-- <nepali-input name="issueDistrict" formControlName="issueDistrict"
              [height]="23" [width]="150"
              [inputClass]="'px-control'"
              [placeHolder]="'ISSUE_DISTRICT'|translate"></nepali-input> -->
              <!-- <select width="100%" name="issueDistrict" formControlName="issueDistrict">
               <option *ngFor="let data of district" value="district.name">{{district.name}}</option>
              </select> -->
              <!-- <jqxComboBox #planYear [width]='160' [height]='23' [source]='district'
              [displayMember]="'name'" [valueMember]="'name'">
            </jqxComboBox> -->
            <select formControlName="issueDistrict"  class="selectpicker select-class select-border" style="width:160px;height:23px;">
                <!-- <option value=''>{{'CHOOSE'|translate}}</option> -->
                <option *ngFor="let dis of district" [value]="dis['name']">{{dis['name']}}</option>
              </select>
<!--
            <jqxComboBox #planYear name="issueDistrict" formControlName="issueDistrict" [width]="160" class="nepalify" [height]="25" [source]="district"
            [displayMember]="'name'" [valueMember]="'name'" [theme]="'energyblue'">
          </jqxComboBox> -->

            <small
              [hidden]="foForm.get('workServiceTypeArray')['controls'][i].get('issueDistrict').valid"
              class="form-control-feedback text-danger px-control-error">
              * आवश्यक छ !!
            </small>
          </td>
          <td>
            <!-- <jqxInput [placeHolder]="'YYYY-MM-DD'" [theme]="'energyblue'" formControlName="issueDate"
                                  [width]="160" [height]="23">
                                </jqxInput> -->
            <input class="px-control" placeholder="YYYY-MM-DD" height="23px"
              width="160px"
              formControlName="issueDate"
              pattern="(^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$)"
              />
            <small
              [hidden]="foForm.get('workServiceTypeArray')['controls'][i].get('issueDate').valid"
              class="form-control-feedback text-danger px-control-error">
              * आवश्यक छ !! Date format: 2076-01-01
            </small>
          </td>
          <td>
            <jqxInput [placeHolder]="'CONTACT_NO'|translate"
              [theme]="'energyblue'"
              formControlName="phoneNumber" [width]="160" [height]="23">
            </jqxInput>
            <small
              [hidden]="foForm.get('workServiceTypeArray')['controls'][i].get('phoneNumber').valid"
              class="form-control-feedback text-danger px-control-error">
              * आवश्यक छ !!
            </small>
          </td>
        </tr>
      </table>


      <div class="form-group">
        <label>{{'monitor' | translate}}</label>
        <select formControlName="monitoring"
          (change)="monitoringChange(foForm.value['monitoring'])"
          class="selectpicker select-class select-border"
          style="width:160px;height:23px;">
          <option [selected]="true" value=''>{{'CHOOSEU'|translate}}</option>
          <option *ngFor="let data of monitoringAdapter" [value]="data['name']" >{{data['id']}}</option>
        </select>
      </div>
      <hr>
      <table formArrayName="monitoringCommitteeArray"
        *ngIf="showMonitoringTable">
        <tr>
          <td style="font-weight: 500; font-size: 13px">{{'POST' | translate}}</td>
          <td style="font-weight: 500; font-size: 13px">{{'NAME' | translate}}
            {{'CAST'|translate}}</td>
          <!-- <td style="font-weight: 500; font-size: 13px">{{'FATHERNAME' | translate}}</td> -->
          <td style="font-weight: 500; font-size: 13px">{{'ADDRESS' |
            translate}}</td>
          <td style="font-weight: 500; font-size: 13px">{{'CITIZEN' |
            translate}}</td>
          <td style="font-weight: 500; font-size: 13px">{{'PHONE' | translate}}</td>
        </tr>
        <tr
          *ngFor="let workServiceForm of
          foForm.get('monitoringCommitteeArray').controls; let i= index;"
          [formGroupName]="i">
          <td>
            <nepali-input name="monitoringCommitteePost"
              formControlName="monitoringCommitteePost"
              [height]="23" [width]="150" [inputClass]="'px-control'"
              [placeHolder]="'ENTER_POST'|translate"></nepali-input>
          </td>
          <td>
            <nepali-input name="monitoringCommitteeName"
              formControlName="monitoringCommitteeName"
              [height]="23" [width]="150" [inputClass]="'px-control'"
              [placeHolder]="'ENTER_NAME'|translate"></nepali-input>
            <small
              [hidden]="foForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeName').valid"
              class="form-control-feedback text-danger px-control-error">
              * आवश्यक छ !!
            </small>
          </td>

          <td>
            <nepali-input name="monitoringCommitteeAddress"
              formControlName="monitoringCommitteeAddress"
              [height]="23" [width]="150" [inputClass]="'px-control'"
              [placeHolder]="'ENTER_ADDRESS'|translate"></nepali-input>
            <small
              [hidden]="foForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeAddress').valid"
              class="form-control-feedback text-danger px-control-error">
              * आवश्यक छ !!
            </small>
          </td>
          <td>
            <jqxInput [theme]="'energyblue'" (onChange)="mCommitteeChange(i)"
              [placeHolder]="'CITIZEN' | translate" [height]="23"
              [width]="160" formControlName="monitoringCommitteeCitizenshipNo"></jqxInput>
            <small
              [hidden]="foForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeCitizenshipNo').valid"
              class="form-control-feedback text-danger px-control-error">
              * आवश्यक छ !!
            </small>
          </td>
          <td>
            <jqxInput [theme]="'energyblue'" [placeHolder]="'98********'"
              [height]="23" [width]="160"
              formControlName="monitoringCommitteeMobile"></jqxInput>
            <small
              [hidden]="foForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeMobile').valid"
              class="form-control-feedback text-danger px-control-error">
              * आवश्यक छ !!
            </small>
          </td>
        </tr>
      </table>

      <p style="text-align: right">
        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
          (onClick)="save()">
          सुरक्षित गर्नुहोस्
        </jqxButton>
      </p>
    </form>
  </div>
</jqxWindow>
