<div class="header">
  <h6 style="font-size:12px;"> </h6>
  <div class="table-content">
    <fieldset style="padding-bottom: 10px!important;">
      <legend></legend>
      <div class="grid-container table-style">
        <div class="button-container text-right">
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="close()">
                बन्द गर्नुहोस
              </jqxButton>
          <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="printReport()">
            {{'PRINT' | translate}}
          </jqxButton>
        </div>
        <!-- <form name="foForm" [formGroup]="foForm" id="foForm"> -->
          <div id="reportContainer" style="margin: 30px;padding:50px;background-color: white">
            <div style="height:50px"></div>
            <p style="text-align: center">
                १५. सार्वजनिक परिक्षण
            </p>
            <p>
                {{activity}} योजनाको {{phase}} सार्वजनिक परिक्षणको उपस्थिती र निर्णयहरु
                सार्वजनिक परिक्षण भएको मिति र स्थान     ..........................................................................उपस्थित संख्या...............
                परिक्षणबाट प्राप्त सुझावहरु
                <br>   १)
                <br>
                                                  २)
                                                  <br>
                भेलाको उपस्थितीको लागी सुचना जारी गरेको मिति
                सुचनाको माध्यम
                सुचना प्रवाह गरीएको स्थान
                सार्वजनिक परिक्षण गरीएको मिति
                उपस्थित संख्या.......................महिला........पुरुष............ज.................न.पा. प्रतिनिधि संख्या.....................अन्य................
                सार्वजनिक परिक्षणमा उपस्थित सहभागिहरुको विवरण
            </p>
            <table style="width:100%"  class="table table-bordered tableClas" >
              <thead>
                <tr>
                  <th style="width: 5%">क्र स</th>
                  <th style="width: 30%">नाम र ठेगना</th>
                  <th style="width: 15%">हस्ताक्षर</th>
                  <th style="width: 5%">क्र स</th>
                  <th style="width: 30%">नाम र ठेगना</th>
                  <th style="width: 15%">हस्ताक्षर</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of range;let i=index">
                <td>{{i+1}}</td>
                <td></td>
                <td></td>
                <td>{{i+25+1}}</td>
                <td></td>
                <td></td>

              </tr>
              </tbody>

            </table>
            <p><u>छलफलको लागी प्रस्तावित बिषयहरु</u></p>
            <p>१)</p>
            <p>२)</p>
            <p style="page-break-after: always">३)</p>
            <p ><u>छलफलबाट गरीएका निर्णयहरु</u></p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p>नोटः–सार्वजनिक परिक्षण भएका छलफल र उपभोक्ता समितिले गरेका मुख्य निर्णयहरु(उक्त निर्णयमा उपभोक्ता समितिले गरेको कार्यहरुमा के,कसरी,कसबाट,काहा,कहिले किन भने प्रश्नहरुको जवाफ आउने गरी उल्लेख गर्ने ।</p>
            <p><u>निर्यायहरु</u></p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>

                <table style="table-layout: fixed;width:100%">
                    <tr>
                        <td style="text-align: center">.................................</td>
                        <td style="text-align: center">.................................</td>
                        <td style="text-align: center">.................................</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">उपभोक्ता समितिको अध्यक्षको सहि</td>
                        <td style="text-align: center">उपभोक्ता समितिको सचिवको सहि</td>
                        <td style="text-align: center">न.पा. प्रतिनिधिको नाम,पद र  सहि</td>
                    </tr>
                </table>
          </div>

          <!-- </form> -->
      </div>
    </fieldset>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
