<div style="overflow: hidden;" id="attWindowContainer">
  <app-anusuchi-search-bar (search)="search($event)" (loading)="changeLoadingStatus($event)" (error)="showError($event)"
    searchBarTitle="खाता संचालन" [showPrint]="true" [showSearchBar]="check" [onlyConsumerCommittee]="true"
    (print)="printData(foForm.value)"></app-anusuchi-search-bar>



  <!-- kotahimai -->
  <div id="printContent" *ngIf="distType === 'kotahimai'">
    <div class="container exam-triplicate" style="page-break-after:always;" *ngIf="SearchDatas?.length>0">
      <jqxValidator #myFormValidator>
        <form name="foForm" [formGroup]="foForm" id="foForm">
          <input type="hidden" name="id" class="form-style-4" formControlName="id" />
          <div class="row" style="margin-top: 50px">
            <div class="col-md-12">
              <div style="display:block;">

                <app-letterhead></app-letterhead>
              </div>
              <div style="width:100%;display:block;"></div>
              <div class="univ-title" style="text-align:left">
                <p style="font-size: 14px;"> पत्र संख्या:-
                  <input type="text" name="patraSankhya" class="form-style-4" formControlName="patraSankhya" readonly>
                  <span class="print_show">{{SearchDatas[0]['patraSankhya'] | displayNepaliDate}}</span>
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <p style="font-size: 14px;">
                      चलानी नं:-
                      <span class="print_show">{{foForm.value.chalaniNo}}</span>
                      <span class="print_hide">
                        <nepali-input type="text" name="chalaniNo" [inputClass]="'form-style-4'"
                          [containerClass]="'containter'" [width]="'100px'" formControlName="chalaniNo"></nepali-input>
                      </span>
                    </p>
                  </div>
                  <div class="col-md-6" style="text-align:right;">
                    <p>मिति :-
                      <span class="print_show">{{foForm.value.date | displayNepaliDate}}</span>
                      <span class="print_hide">
                        <nepali-input type="text" name="date" [placeHolder]="'साल-महिना-गते'"
                          [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'"
                          formControlName="date"></nepali-input>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="clear:both;">
              <p style="font-size:12px;text-align:center">बिषयः सिफारिस सम्बन्धमा ।</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="hide">
              <p style="font-size:12px;">श्री
                <nepali-input type="text" name="bankName" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'250px'" formControlName="bankName"></nepali-input>
                <br />
                <!-- <nepali-input type="text" name="address" [inputClass]="'form_change'" [containerClass]="'containter'"
                    [width]="'250px'" formControlName="bankAddress"></nepali-input> -->
                मझगावाँ, रूपन्देही ।
              </p>

            </div>
            <div class="col-md-12" id="show">
              <p style="font-size:14px;line-height: 1.5;">श्री
                {{foForm.value.bankName}}<br />
                <!-- {{foForm.value.bankAddress}} -->
                मझगावाँ, रूपन्देही ।
              </p>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="hidePrint">
              <p style="font-size:12px;">
                उपरोक्त सम्बन्धमा यस {{ organizationMasterData['orgName'] }}
                {{ organizationMasterData['municipality'] }}
                वडा नं. <nepali-input type="text" name="wardNo" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="wardNo"></nepali-input>
                कार्यालयको च नं.
                <nepali-input type="text" name="orgChalani" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'250px'" formControlName="orgChalani">
                </nepali-input>
                मिति <nepali-input type="text" name="date" [placeHolder]="'साल-महिना-गते'" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="date"></nepali-input>
                गतेको प्राप्त पत्रानुसार
                <nepali-input type="text" name="consumerCommettieeAddress" [inputClass]="'form_change'"
                  [containerClass]="'containter'" [width]="'250px'" formControlName="consumerCommettieeAddress">
                </nepali-input>
                टोलमा गठित श्री
                <nepali-input type="text" name="consumerCommettieeName" [inputClass]="'form_change'"
                  [containerClass]="'containter'" [width]="'250px'" formControlName="consumerCommettieeName">
                </nepali-input>
                अध्यक्ष श्री <nepali-input type="text" name="adhyaxya" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="adhyaxya"></nepali-input>, सचिव
                श्री
                <nepali-input type="text" name="sachiv" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  [width]="'120px'" formControlName="sachiv"></nepali-input>, र कोषाध्क्ष श्री
                <nepali-input type="text" name="kosaadhyaxya" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="kosaadhyaxya"></nepali-input>
                को नाममा संयुक्त दस्तखतबाट खाता सञ्चान हुने गरी खाता खोली दिनु हुनका लागि सिफारिस गरिएको व्योहोरा अनुरोध
                छ ।
              </p>

            </div>
            <div class="col-md-12" id="showPrint">
              <p class="print_show" style="text-align: justify;font-size:14px;line-height: 1.5;">
                उपरोक्त सम्बन्धमा यस {{ organizationMasterData['orgName'] }}
                {{ organizationMasterData['municipality'] }}
                वडा नं. {{foForm.value.wardNo}}
                कार्यालयको च नं. {{foForm.value.orgChalani}}
                मिति {{foForm.value.date}}
                गतेको प्राप्त पत्रानुसार {{foForm.value.consumerCommettieeAddress}}
                टोलमा गठित श्री
                <nepali-input type="text" name="consumerCommettieeName" [inputClass]="'form_change'"
                  [containerClass]="'containter'" [width]="'250px'" formControlName="consumerCommettieeName">
                </nepali-input>
                अध्यक्ष श्री {{foForm.value.adhyaxya}}, सचिव श्री
                {{foForm.value.sachiv}}, र कोषाध्क्ष श्री
                {{foForm.value.kosaadhyaxya}}
                को नाममा संयुक्त दस्तखतबाट खाता सञ्चान हुने गरी खाता खोली दिनु हुनका लागि सिफारिस गरिएको व्योहोरा अनुरोध
                छ ।
              </p>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <br>
              <br>
              <br>
              <br><br>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 print_hide">
              <p style="text-align: left; letter-spacing: 0.8px;line-height: 1.8;">
              </p>
            </div>

            <div class="col-md-6 print_hide">
              <p style="text-align: right;">
                ..................................................
                <br>
                <nepali-input textAlign="right" type="text" name="adhikrit" [inputClass]="'form-style-5'" width="300px"
                  [containerClass]="'containter'" formControlName="adhikrit"></nepali-input> <br>

                <nepali-input textAlign="right" type="text" name="adhikrit" [inputClass]="'form-style-5'" width="300px"
                  [containerClass]="'containter'" formControlName="adhikritPost"></nepali-input>
              </p>
            </div>

            <div class="col-md-6">
              <p class="print_show" style="text-align: left; font-size:14px;line-height: 1.5;">
              </p>
            </div>

            <div class="col-md-6">
              <p class="print_show" style="float: right; text-align: right ;font-size:14px;line-height: 1.5;">
                .................................................. <br>
                {{organizationMasterData['nameOfHead']}}&nbsp; <br>
                {{organizationMasterData['post']}}
              </p>
            </div>



          </div>
        </form>
      </jqxValidator>
    </div>
  </div>

  <!-- musikot -->
  <div id="printContent" *ngIf="distType == 'musikot'">
    <div class="container exam-triplicate" style="page-break-after:always;" *ngIf="SearchDatas?.length>0">
      <jqxValidator #myFormValidator>
        <form name="foForm" [formGroup]="foForm" id="foForm">
          <input type="hidden" name="id" class="form-style-4" formControlName="id" />
          <div class="row" style="margin-top: 50px">
            <div class="col-md-12">
              <div style="display:block;">

                <app-letterhead></app-letterhead>
              </div>
              <div style="width:100%;display:block;"></div>
              <div class="univ-title" style="text-align:left">
                <p style="font-size: 14px;"> पत्र संख्या:-
                  <input type="text" name="patraSankhya" class="form-style-4" formControlName="patraSankhya" readonly>
                  <span class="print_show">{{SearchDatas[0]['patraSankhya'] | displayNepaliDate}}</span>
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <p style="font-size: 14px;">
                      चलानी नं:-
                      <span class="print_show">{{foForm.value.chalaniNo}}</span>
                      <span class="print_hide">
                        <nepali-input type="text" name="chalaniNo" [inputClass]="'form-style-4'"
                          [containerClass]="'containter'" [width]="'100px'" formControlName="chalaniNo"></nepali-input>
                      </span>
                    </p>
                  </div>
                  <div class="col-md-6" style="text-align:right;">
                    <p>मिति :-
                      <span class="print_show">{{foForm.value.date | displayNepaliDate}}</span>
                      <span class="print_hide">
                        <nepali-input type="text" name="date" [placeHolder]="'साल-महिना-गते'"
                          [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'"
                          formControlName="date"></nepali-input>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="clear:both;">
              <p style="font-size:12px;text-align:center">बिषयः खाता संचालन सम्बन्धमा </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="hide">
              <p style="font-size:12px;">श्री
                <nepali-input type="text" name="bankName" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'250px'" formControlName="bankName"></nepali-input>
                <br />
                <nepali-input type="text" name="address" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'250px'" formControlName="bankAddress"></nepali-input>
              </p>

            </div>
            <div class="col-md-12" id="show">
              <p style="font-size:14px;line-height: 1.5;">श्री
                {{foForm.value.bankName}}<br />
                {{foForm.value.bankAddress}}
              </p>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="hidePrint">
              <p style="font-size:12px;">
                प्रस्तुत विषयमा यस {{ organizationMasterData['officeName'] }}
                अन्तरगतको
                <nepali-input type="text" name="wardNo" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  [width]="'120px'" formControlName="consumerCommettieeAddress"></nepali-input>
                <!-- <span *ngIf="isRul">
                    गाउँपालिकाको 
                  </span>
                  <span *ngIf="!isRul">
                    नगरपालिकाको
                  </span> -->
                मा गठन भएको
                <nepali-input type="text" name="consumerCommettieeAddress" [inputClass]="'form_change'"
                  [containerClass]="'containter'" [width]="'250px'" formControlName="consumerCommettieeName">
                </nepali-input>
                <span *ngIf="SearchDatas[0]['workServiceType'] === 'Consumer Committe'">उपभाेक्ता समिति </span>
                <span *ngIf="SearchDatas[0]['workServiceType'] === 'Sahakari'">श्रम सहकारी संस्था</span>
                लि. का. अध्यक्ष <nepali-input type="text" name="adhyaxya" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="adhyaxya"></nepali-input>, सचिव
                <nepali-input type="text" name="sachiv" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  [width]="'120px'" formControlName="sachiv"></nepali-input>, र कोषाध्क्ष
                <nepali-input type="text" name="kosaadhyaxya" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="kosaadhyaxya"></nepali-input>
                को संयुक्त दस्तखतमा खाता संचालन गरीदिनुहुन दस्तखत नमुना कार्ड प्रमाणित गरी पठाइएको व्यहोरा अनुरोध छ।
              </p>

            </div>
            <div class="col-md-12" id="showPrint">
              <p class="print_show" style="text-align: justify;font-size:14px;line-height: 1.5;">
                प्रस्तुत विषयमा यस {{ organizationMasterData['officeName'] }}
                अन्तरगतको {{foForm.value.consumerCommettieeAddress}}
                मा गठन भएको
                {{foForm.value.consumerCommettieeName}}
                <span *ngIf="SearchDatas[0]['workServiceType'] === 'Consumer Committe'">उपभाेक्ता समिति </span>
                <span *ngIf="SearchDatas[0]['workServiceType'] === 'Sahakari'">श्रम सहकारी संस्था</span>
                लि. का. अध्यक्ष {{foForm.value.adhyaxya}}, सचिव
                {{foForm.value.sachiv}}, र कोषाध्क्ष
                {{foForm.value.kosaadhyaxya}}
                को संयुक्त दस्तखतमा खाता संचालन गरीदिनुहुन दस्तखत नमुना कार्ड प्रमाणित गरी पठाइएको व्यहोरा अनुरोध छ।
              </p>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <br>
              <br>
              <br>
              <br><br>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 print_hide">
              <p style="text-align: left; letter-spacing: 0.8px;line-height: 1.8;">
                बोधार्थ
                <br>
                १) <nepali-input type="text" name="lekhaSakha" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'130px'" formControlName="lekhaSakha"></nepali-input>,
                {{organizationMasterData['officeName']}}, {{foForm.value.address}} ।
                <br />
                <!-- २) <nepali-input type="text" name="consumerCommettieeAddress" [inputClass]="'form-style-4'"
                        [containerClass]="'containter'" [width]="'130px'" formControlName="yojana"></nepali-input> उपभाेक्ता समिति, {{organizationMasterData['officeName']}} - {{foForm.value.wardNo}} ।
                      <br /> -->
                २) <nepali-input type="text" name="prabhidikSakha" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'130px'" formControlName="prabhidikSakha"></nepali-input>,
                {{organizationMasterData['officeName']}}, {{foForm.value.address}} ।
                <br />
                ३) <nepali-input type="text" name="prabhidikSakha1" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'130px'" formControlName="prabhidikSakha1"></nepali-input>,
                {{organizationMasterData['officeName']}}, {{foForm.value.address}} ।
              </p>
            </div>

            <div class="col-md-6 print_hide">
              <p style="text-align: right;">
                ..................................................
                <br>
                <nepali-input textAlign="right" type="text" name="adhikrit" [inputClass]="'form-style-5'" width="300px"
                  [containerClass]="'containter'" formControlName="adhikrit"></nepali-input> <br>

                <nepali-input textAlign="right" type="text" name="adhikrit" [inputClass]="'form-style-5'" width="300px"
                  [containerClass]="'containter'" formControlName="adhikritPost"></nepali-input>
              </p>
            </div>

            <div class="col-md-6">
              <p class="print_show" style="text-align: left; font-size:14px;line-height: 1.5;">
                बोधार्थ
                <br>
                १) {{foForm.value.lekhaSakha}}, {{organizationMasterData['officeName']}}, {{foForm.value.address}} ।
                <br />
                <!-- २) {{foForm.value.yojana}} उपभाेक्ता समिति, {{organizationMasterData['officeName']}} - {{foForm.value.wardNo}} ।
                          <br /> -->
                २) {{foForm.value.prabhidikSakha}}, {{organizationMasterData['officeName']}}, {{foForm.value.address}} ।
                <br />
                ३) {{foForm.value.prabhidikSakha1}}, {{organizationMasterData['officeName']}}, {{foForm.value.address}}
                ।
              </p>
            </div>

            <div class="col-md-6">
              <p class="print_show" style="float: right; text-align: right ;font-size:14px;line-height: 1.5;">
                .................................................. <br>
                {{organizationMasterData['nameOfHead']}}&nbsp; <br>
                {{organizationMasterData['post']}}
              </p>
            </div>



          </div>
        </form>
      </jqxValidator>
    </div>
  </div>

  <!-- bodebarsain -->
  <div id="printContent" *ngIf="distType == 'bodebarsain'">
    <div class="container exam-triplicate" style="page-break-after:always;" *ngIf="SearchDatas?.length>0">
      <jqxValidator #myFormValidator>
        <form name="foForm" [formGroup]="foForm" id="foForm">
          <input type="hidden" name="id" class="form-style-4" formControlName="id" />
          <div class="row" style="margin-top: 50px">
            <div class="col-md-12">
              <div style="display:block;">

                <app-letterhead></app-letterhead>
              </div>
              <div style="width:100%;display:block;"></div>
              <div class="univ-title" style="text-align:left">
                <p style="font-size: 14px;"> पत्र संख्या:-
                  <input type="text" name="patraSankhya" class="form-style-4" formControlName="patraSankhya" readonly>
                  <span class="print_show">{{SearchDatas[0]['patraSankhya'] | displayNepaliDate}}</span>
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <p style="font-size: 14px;">
                      चलानी नं:-
                      <span class="print_show">{{foForm.value.chalaniNo}}</span>
                      <span class="print_hide">
                        <nepali-input type="text" name="chalaniNo" [inputClass]="'form-style-4'"
                          [containerClass]="'containter'" [width]="'100px'" formControlName="chalaniNo"></nepali-input>
                      </span>
                    </p>
                  </div>
                  <div class="col-md-6" style="text-align:right;">
                    <p>मिति :-
                      <span class="print_show">{{foForm.value.date | displayNepaliDate}}</span>
                      <span class="print_hide">
                        <nepali-input type="text" name="date" [placeHolder]="'साल-महिना-गते'"
                          [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'"
                          formControlName="date"></nepali-input>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="clear:both;">
              <p style="font-size:12px;text-align:center">बिषयः दस्तखत नमुना कार्ड प्रमाणित गरि पठाइएको बारे ।</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="hide">
              <p style="font-size:12px;">श्री
                <nepali-input type="text" name="bankName" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'250px'" formControlName="bankName"></nepali-input>
                <br />
                <nepali-input type="text" name="address" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'250px'" formControlName="bankAddress"></nepali-input>
              </p>

            </div>
            <div class="col-md-12" id="show">
              <p style="font-size:14px;line-height: 1.5;">श्री
                {{foForm.value.bankName}}<br />
                {{foForm.value.bankAddress}}
              </p>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="hidePrint">
              <p style="font-size:12px;">
                उपरोक्त सम्बन्धमा <nepali-input type="text" name="wardNo" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                [width]="'150px'" formControlName="focusCode"></nepali-input> कार्यक्रम अन्तरगत 
                {{ organizationMasterData['officeName'] }} 
                <nepali-input type="text" name="wardNo" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'150px'" formControlName="wardNo"></nepali-input>
                को  <nepali-input type="text" name="wardNo" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'200px'" formControlName="consumerCommettieeName"></nepali-input>
                  अध्यक्ष श्री <nepali-input type="text" name="adhyaxya" [inputClass]="'form-style-5'"
                  [containerClass]="'containter'" [width]="'150px'" formControlName="adhyaxya"></nepali-input>,
                  कोषाध्क्ष श्री <nepali-input type="text" name="kosaadhyaxya" [inputClass]="'form-style-5'"
                  [containerClass]="'containter'" [width]="'150px'" formControlName="kosaadhyaxya"></nepali-input>
                  र सचिव श्री <nepali-input type="text" name="sachiv" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'150px'" formControlName="sachiv"></nepali-input> समेतको  
                संयुक्त नाउँमा खाता संचालनको लागि निजहरुले दस्तखत गरिएको दस्तखत नमुना कार्ड 
                थान-१ (एक) यसै पत्र साथ संलग्न राखी पठाइएको व्यहोरा सिफारिस साथ अनुरोध छ।
              </p>

            </div>
            <div class="col-md-12" id="showPrint">
              <p class="print_show" style="text-align: justify;font-size:14px;line-height: 1.5;">
                उपरोक्त सम्बन्धमा {{foForm.value.focusCode}} कार्यक्रम अन्तरगत 
                {{ organizationMasterData['officeName'] }} 
                {{foForm.value.wardNo}}
                को {{foForm.value.consumerCommettieeName}}
                  अध्यक्ष श्री {{foForm.value.adhyaxya}},
                  कोषाध्क्ष श्री {{foForm.value.kosaadhyaxya}}
                  र सचिव श्री {{foForm.value.sachiv}} समेतको  
                संयुक्त नाउँमा खाता संचालनको लागि निजहरुले दस्तखत गरिएको दस्तखत नमुना कार्ड 
                थान-१ (एक) यसै पत्र साथ संलग्न राखी पठाइएको व्यहोरा सिफारिस साथ अनुरोध छ।
              </p>

            </div>
          </div>

          <div class="row">
            <br><br><br><br><br>
          </div>

          <div style="display: flex;justify-content: space-between;padding: 0px 10px 0px">
            <div>
              <p style="text-align: left;">
                ................................ <br>
                योजना (शाखा)
              </p>
            </div>

            <div>
              <p style="text-align: right;">
                ................................. <br>
                योजना (प्रमुख)
              </p>
            </div>
          </div>
        </form>
      </jqxValidator>
    </div>
  </div>


  <!-- <form>
    <div app-form-helper [formConfig]="formConfig" [formModel]="formModel"></div>
  </form> -->

  <!-- Other -->
  <div id="printContent" *ngIf="distType != 'kotahimai' && distType != 'musikot' && distType != 'bodebarsain'">
    <div class="container exam-triplicate" style="page-break-after:always;" *ngIf="SearchDatas?.length>0">
      <jqxValidator #myFormValidator>
        <form name="foForm" [formGroup]="foForm" id="foForm">
          <input type="hidden" name="id" class="form-style-4" formControlName="id" />
          <div class="row" style="margin-top: 50px">
            <div class="col-md-12">
              <div style="display:block;">

                <app-letterhead></app-letterhead>
              </div>
              <div style="width:100%;display:block;"></div>
              <div class="univ-title" style="text-align:left">
                <p style="font-size: 14px;"> पत्र संख्या:-
                  <input type="text" name="patraSankhya" class="form-style-4" formControlName="patraSankhya" readonly>
                  <span class="print_show">{{SearchDatas[0]['patraSankhya'] | displayNepaliDate}}</span>
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <p style="font-size: 14px;">
                      चलानी नं:-
                      <span class="print_show">{{foForm.value.chalaniNo}}</span>
                      <span class="print_hide">
                        <nepali-input type="text" name="chalaniNo" [inputClass]="'form-style-4'"
                          [containerClass]="'containter'" [width]="'100px'" formControlName="chalaniNo"></nepali-input>
                      </span>
                    </p>
                  </div>
                  <div class="col-md-6" style="text-align:right;">
                    <p>मिति :-
                      <span class="print_show">{{foForm.value.date | displayNepaliDate}}</span>
                      <span class="print_hide">
                        <nepali-input type="text" name="date" [placeHolder]="'साल-महिना-गते'"
                          [inputClass]="'form-style-4'" [containerClass]="'containter'" [width]="'120px'"
                          formControlName="date"></nepali-input>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="clear:both;">
              <p style="font-size:12px;text-align:center">बिषयः खाता संचालन सम्बन्धमा </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="hide">
              <p style="font-size:12px;">श्री
                <nepali-input type="text" name="bankName" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'250px'" formControlName="bankName"></nepali-input>
                <br />
                <nepali-input type="text" name="address" [inputClass]="'form_change'" [containerClass]="'containter'"
                  [width]="'250px'" formControlName="bankAddress"></nepali-input>
              </p>

            </div>
            <div class="col-md-12" id="show">
              <p style="font-size:14px;line-height: 1.5;">श्री
                {{foForm.value.bankName}}<br />
                {{foForm.value.bankAddress}}
              </p>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="hidePrint">
              <p style="font-size:12px;">
                प्रस्तुत विषयमा <nepali-input type="text" name="wardNo" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="wardNo"></nepali-input>
                अन्तरगतको
                <span *ngIf="isRul">
                  गाउँपालिकाको
                </span>
                <span *ngIf="!isRul">
                  नगरपालिकाको
                </span>
                <nepali-input type="text" name="consumerCommettieeAddress" [inputClass]="'form_change'"
                  [containerClass]="'containter'" [width]="'250px'" formControlName="yojana">
                </nepali-input>
                उपभाेक्ता समितिको {{ organizationMasterData['orgName'] }} {{ organizationMasterData['municipality'] }}
                मिति <nepali-input type="text" name="date" [placeHolder]="'साल-महिना-गते'" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="date"></nepali-input>
                गतेको निर्णय बमोजिम अध्यक्ष <nepali-input type="text" name="adhyaxya" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="adhyaxya"></nepali-input>, सचिव
                <nepali-input type="text" name="sachiv" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  [width]="'120px'" formControlName="sachiv"></nepali-input>, र कोषाध्क्ष
                <nepali-input type="text" name="kosaadhyaxya" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="kosaadhyaxya"></nepali-input>
                को संयुक्त हस्ताक्षर बाट नियमानुसार
                <nepali-input type="text" name="consumerCommettieeAddress" [inputClass]="'form_change'"
                  [containerClass]="'containter'" [width]="'250px'" formControlName="yojana"></nepali-input>
                उपभाेक्ता समितिको खाता संचालनको लागि अनुरोध छ।
              </p>

            </div>
            <div class="col-md-12" id="showPrint">
              <p class="print_show" style="text-align: justify;font-size:14px;line-height: 1.5;">
                प्रस्तुत विषयमा {{foForm.value.wardNo}}
                अन्तरगतको गाउँको {{foForm.value.yojana}}
                उपभाेक्ता समितिको {{ organizationMasterData['orgName'] }} {{ organizationMasterData['municipality'] }}
                मिति {{foForm.value.date | displayNepaliDate}}
                गतेको निर्णय बमोजिम अध्यक्ष {{foForm.value.adhyaxya}}, सचिव
                {{foForm.value.sachiv}}, र कोषाध्क्ष
                {{foForm.value.kosaadhyaxya}}
                को संयुक्त हस्ताक्षर बाट नियमानुसार
                {{foForm.value.yojana}}
                उपभाेक्ता समितिको खाता संचालनको लागि अनुरोध छ।
              </p>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <br>
              <br>
              <br>
              <br><br>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 print_hide">
              <p style="text-align: left; letter-spacing: 0.8px;line-height: 1.8;">
                बोधार्थ
                <br>
                १) <nepali-input type="text" name="lekhaSakha" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'130px'" formControlName="lekhaSakha"></nepali-input>,
                {{organizationMasterData['officeName']}}, {{foForm.value.address}} ।
                <br />
                २) <nepali-input type="text" name="consumerCommettieeAddress" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'130px'" formControlName="yojana"></nepali-input> उपभाेक्ता
                समिति, {{organizationMasterData['officeName']}} - {{foForm.value.wardNo}} ।
                <br />
                ३) <nepali-input type="text" name="prabhidikSakha" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'130px'" formControlName="prabhidikSakha"></nepali-input>,
                {{organizationMasterData['officeName']}}, {{foForm.value.address}} ।
                <br />
                ४) <nepali-input type="text" name="prabhidikSakha1" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'130px'" formControlName="prabhidikSakha1"></nepali-input>,
                {{organizationMasterData['officeName']}}, {{foForm.value.address}} ।
              </p>
            </div>

            <div class="col-md-6 print_hide">
              <p style="text-align: right;">
                ..................................................
                <br>
                <nepali-input textAlign="right" type="text" name="adhikrit" [inputClass]="'form-style-5'" width="300px"
                  [containerClass]="'containter'" formControlName="adhikrit"></nepali-input> <br>

                <nepali-input textAlign="right" type="text" name="adhikrit" [inputClass]="'form-style-5'" width="300px"
                  [containerClass]="'containter'" formControlName="adhikritPost"></nepali-input>
              </p>
            </div>

            <div class="col-md-6">
              <p class="print_show" style="text-align: left; font-size:14px;line-height: 1.5;">
                बोधार्थ
                <br>
                १) {{foForm.value.lekhaSakha}}, {{organizationMasterData['officeName']}}, {{foForm.value.address}} ।
                <br />
                २) {{foForm.value.yojana}} उपभाेक्ता समिति, {{organizationMasterData['officeName']}} -
                {{foForm.value.wardNo}} ।
                <br />
                ३) {{foForm.value.prabhidikSakha}}, {{organizationMasterData['officeName']}}, {{foForm.value.address}} ।
                <br />
                ४) {{foForm.value.prabhidikSakha1}}, {{organizationMasterData['officeName']}}, {{foForm.value.address}}
                ।
              </p>
            </div>

            <div class="col-md-6">
              <p class="print_show" style="float: right; text-align: right ;font-size:14px;line-height: 1.5;">
                .................................................. <br>
                {{organizationMasterData['nameOfHead']}}&nbsp; <br>
                {{organizationMasterData['post']}}
              </p>
            </div>



          </div>
        </form>
      </jqxValidator>
    </div>
  </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>