.grid-container {
  height: calc(100vh - 105px);
  width: 100%;
}

.printStyle {
  padding: 100px;
}

.button-container {
  background: #e0e9f5;
  padding: 3px;
}

.exam-triplicate {
  background: #fff;
  margin-bottom: 20px;
}

.exam-triplicate .univ-title p {
  margin: 0 0 0px;
}

.exam-triplicate .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
  background-color: transparent;
}

.exam-triplicate .table-bordered th, .exam-triplicate .table-bordered td {
  border: 1px solid #eceeef;
}

.form-style-4 {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px dashed #0a0a0a !important;
  width: auto !important;
  outline: none !important;
  padding: 0px 0px 0px 0px !important;
  display: inline-block !important;
}

.form_change {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px dashed #0a0a0a !important;
  width: 250px;
  outline: none !important;
  padding: 0px 0px 0px 0px !important;
  display: inline-block !important;
}

#hidePrint {
  display: inline-block !important;
}

#showPrint {
  display: none !important;
}

#hide {
  display: inline-block !important;
}

#show {
  display: none !important;
}

.print_show {
  display: none !important;
}

.print_hide {
  display: inline-block !important;
}
/*# sourceMappingURL=about-financial-operation.component.css.map */