<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
    <app-anusuchi-search-bar
        *ngIf="check"
        searchBarTitle = "अनुसूची ४ रिपोर्ट"
        (search)="search($event)"
        (loading)="changeLoadingStatus($event)"
        (error)="showError($event)"
    ></app-anusuchi-search-bar>

    <div class="header">
    <h6 style="font-size:12px;"> अनुसूची ४ रिपोर्ट </h6>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <legend>{{'ACTIVITY_DETAILS' | translate}}</legend>
        <div class="grid-container table-style">
          <div class="button-container text-right">
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="exportReport()">
              {{'EXPORT_EXCEL' | translate}}
            </jqxButton>
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"  (onClick)="printReport()">
              {{'PRINT' | translate}}
            </jqxButton>
          </div>
          <div id="reportContainer" style="overflow-y: auto;height: 70vh;">
              <form name="anusuchiReport" [formGroup]="anusuchiReport" id="anusuchiReport">
            <div style="line-height:100%;">
         <p style="text-align:center;font-size: 14px"><b>अनुसूची ४</b></p>
         <p style="text-align:center;font-size: 14px">(कार्यविधिको दफा ११ (६) सँग सम्वन्धित)</p>
         <p style="text-align:center;font-size: 14px">खर्च सार्वजनिक सुचना फाराम</p>
        </div>
            <p style="text-align: right;font-size: 14px">मिति:
                <span class="print_hide">
                    <input type="text" name="date" formControlName="date">
                </span>
                <span class="print_show">{{ anusuchiReport.get('date').value | displayNepaliDate  }}</span>
            </p>
    <table style="font-size: 14px">
      <tr>
        <td><p>१. आयोजनाको नाम: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['activityName']">{{SearchDatas[0]['activityName']}} </span></p></td>
        <td></td>
        <td><p>२. आयोजना स्थल: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['sthal']">{{SearchDatas[0]['sthal']}} </span></p></td>
      </tr>
      <tr>
        <td><p>३. विनियोजित वजेट: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['planYear']">{{SearchDatas[0]['budget'] | digitCommas | displayNepaliDate}} </span></p></td>
        <td><p>&nbsp;&nbsp;&nbsp;४. आयोजना स्वीकृत भएको आ.व.: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['planYear']">{{SearchDatas[0]['planYear'] | displayNepaliDate}} </span></p></td>
        <td><p>&nbsp;&nbsp;&nbsp; ५. आयोजना सम्झाैता भएको मिति: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['contractDate']">{{SearchDatas[0]['contractDate'] | displayNepaliDate}} </span></p></td>
      </tr>
    </table>
    <table style="font-size: 14px">
        <tr>
          <td><p>६. काम सम्पन्न गर्नु पर्ने मिति: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['completionDate']">{{SearchDatas[0]['completionDate'] | displayNepaliDate}} </span></p></td>
          <td><p>&nbsp;&nbsp;&nbsp;७.काम सम्पन्न भएको मिति: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['completedDate']">{{SearchDatas[0]['completedDate'] | displayNepaliDate}} </span></p></td>
        </tr>
        <tr>
          <td colspan="2" *ngIf="SearchDatas && SearchDatas[0]['workServiceType'] === 'Consumer Committe'"><p>८. उ.स. को बैठकले खर्च स्वीकृत गरेको मिति:</p></td>
          <td colspan="2" *ngIf="SearchDatas && SearchDatas[0]['workServiceType'] === 'Sahakari'"><p>८. श्रम सहकारी को बैठकले खर्च स्वीकृत गरेको मिति:</p></td>
        </tr>
      </table>
      <p style="font-size: 14px">आम्दानी र खर्चको विवरण:</p>
          <table  class="tableClas"  style="width:100%; table-layout: fixed;font-size: 14px">
              <tr style="text-align: center">
                  <td  colspan="2">आम्दानी</td>
                  <td  colspan="2">खर्च</td>
                </tr>
                <tr  style="text-align: center">
                  <td>विवरण</td>
                  <td>रकम रू</td>
                  <td>विवरण</td>
                  <td>रकम</td>
                </tr>
                <tr>
                    <td>प्रथम किस्ता</td>
                    <td><span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="aamdaaniRakam1"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['aamdaaniRakam1'].value}}
                      </span></td>
                    <td>ज्याला</td>
                    <td><span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharchaRakam1"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharchaRakam1'].value}}
                      </span></td>
                  </tr>
                  <tr>
                    <td>दोश्रो किस्ता</td>
                    <td><span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="aamdaaniRakam2"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['aamdaaniRakam2'].value}}
                      </span></td>
                    <td>निर्माण सामाग्री खरिद</td>
                    <td><span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharchaRakam2"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharchaRakam2'].value}}
                      </span></td>
                  </tr>
                  <tr>
                    <td>तेश्रो किस्ता</td>
                    <td><span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="aamdaaniRakam3"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['aamdaaniRakam3'].value}}
                      </span></td>
                    <td>ढुवानी</td>
                    <td><span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharchaRakam3"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharchaRakam3'].value}}
                      </span></td>
                  </tr>
                  <tr>
                    <td>जनश्रमदान</td>
                    <td><span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="aamdaaniRakam4"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['aamdaaniRakam4'].value}}
                      </span></td>
                    <td>भाडा</td>
                    <td><span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharchaRakam4"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharchaRakam4'].value}}
                      </span></td>
                  </tr>
                  <tr>
                    <td>वस्तुगत सहायता</td>
                    <td><span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="aamdaaniRakam5"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['aamdaaniRakam5'].value}}
                      </span></td>
                    <td>व्यवस्थापन खर्च</td>
                    <td><span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharchaRakam5"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharchaRakam5'].value}}
                      </span></td>
                  </tr>
                  <tr>
                    <td>लागत सहाभागिता</td>
                    <td><span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="aamdaaniRakam6"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['aamdaaniRakam6'].value}}
                      </span></td>
                    <td> <span class="print_hide" style="width:100%">
                        <nepali-input #nepin1 name="memberName" formControlName="kharchaBibaran1" [height]="23"
                        [inputClass]="'px-control'"></nepali-input>
                    </span>

                      <span class="print_show">
                        {{anusuchiReport.controls['kharchaBibaran1'].value}}
                      </span></td>
                    <td><span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharchaRakam6"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharchaRakam6'].value}}
                      </span></td>
                  </tr>
                  <tr>
                      <td><span class="print_hide" style="width:100%">
                          <nepali-input #nepin2 name="memberName" formControlName="aamdaaniBibaran1" [height]="23"
                          [inputClass]="'px-control'"></nepali-input>
                      </span>

                        <span class="print_show">
                          {{anusuchiReport.controls['aamdaaniBibaran1'].value}}
                        </span></td>
                      <td><span class="print_hide" style="width:100%">
                          <input type="number" name="memberName" formControlName="aamdaaniRakam7"
                         style="height:23px;width:100%" >
                      </span>

                        <span class="print_show">
                           {{anusuchiReport.controls['aamdaaniRakam7'].value}}
                        </span></td>
                      <td> <span class="print_hide" style="width:100%">
                          <nepali-input #nepin3 name="memberName" formControlName="kharchaBibaran2" [height]="23"
                          [inputClass]="'px-control'"></nepali-input>
                      </span>

                        <span class="print_show">
                          {{anusuchiReport.controls['kharchaBibaran2'].value}}
                        </span></td>
                      <td><span class="print_hide" style="width:100%">
                          <input type="number" name="memberName" formControlName="kharchaRakam7"
                         style="height:23px;width:100%" >
                      </span>

                        <span class="print_show">
                           {{anusuchiReport.controls['kharchaRakam7'].value}}
                        </span></td>
                    </tr>
                    <tr>
                        <td><span class="print_hide" style="width:100%">
                            <nepali-input #nepin4 name="memberName" formControlName="aamdaaniBibaran2" [height]="23"
                            [inputClass]="'px-control'"></nepali-input>
                        </span>

                          <span class="print_show">
                            {{anusuchiReport.controls['aamdaaniBibaran2'].value}}
                          </span></td>
                        <td><span class="print_hide" style="width:100%">
                            <input type="number" name="memberName" formControlName="aamdaaniRakam8"
                           style="height:23px;width:100%" >
                        </span>

                          <span class="print_show">
                             {{anusuchiReport.controls['aamdaaniRakam8'].value}}
                          </span></td>
                        <td> <span class="print_hide" style="width:100%">
                            <nepali-input #nepin5 name="memberName" formControlName="kharchaBibaran3" [height]="23"
                            [inputClass]="'px-control'"></nepali-input>
                        </span>

                          <span class="print_show">
                            {{anusuchiReport.controls['kharchaBibaran3'].value}}
                          </span></td>
                        <td><span class="print_hide" style="width:100%">
                            <input type="number" name="memberName" formControlName="kharchaRakam8"
                           style="height:23px;width:100%" >
                        </span>

                          <span class="print_show">
                             {{anusuchiReport.controls['kharchaRakam8'].value}}
                          </span></td>
                      </tr>
            </table>
<br>
<br>
  <span style="font-size: 14px">उपर्युक्तानुसारको आम्दानी तथा खर्च विवरण यथार्थ हो। यसमा सबै आम्दानी तथा खर्चहरू समावेश गरिएको छ।
  साथै उपभोक्ताहरूको प्रत्यक्ष सहाभागिता आयोजना कार्यान्वन गरिएको छ। यसको एक प्रति वडा कार्यालयमा समेत पेश गरिएको छ।</span>
      <br>
      <br>
      <br>
      <table style="font-size: 14px; table-layout: fixed;width: 100%;">
        <tr>
          <td>..............................</td>
          <td>..............................</td>
          <td>..............................</td>
        </tr>
        <tr>
          <td><p>कोषाध्यक्ष</p></td>
          <td><p>सचिव</p></td>
          <td><p>अध्यक्ष</p></td>
        </tr>
      </table>
    </form>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
[animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
<div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
[animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
<div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
