.grid-container {
  height: calc(100vh - 220px);
  width: 100%;
}

.header {
  padding: 4px;
  background: #efefef;
  margin: 5px;
}

.table-content {
  background: #ffffff;
  padding: 12px;
}

.table-content .table-style {
  padding: 0px 5px 5px 5px;
}

.table-content .table-style fieldset {
  padding-bottom: 10px;
}

.data-table {
  background: #ffffff;
}

.data-table table th {
  background: #efefef;
}

.close {
  text-align: center;
}

.px-attachment {
  width: 100% !important;
  height: 25px;
  border-radius: 2px;
  font-size: 0.9rem;
  color: #424242;
  padding-left: 4px;
}

.image-container img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=progress-reporting-physical-progress.component.css.map */