<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;">{{'PHY_PROG'|translate}}</h6>
    <div class="main-custom">
      <!-- Work Output Assets Content -->
      <div class="work-output-assets" *ngIf="activityType=='WOA'">
        <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'"
          [position]="'bottom'">
          <form name="workOutputAssetForm" class="form-style physical_progress_form"
            [formGroup]="workOutputAssetForm" id="workOutputAssetForm">
            <div class="table-content">
              <div class="table-style">
                <fieldset style="padding-bottom: 10px!important;">
                  <legend>{{'ASSET_PHY_PROG'|translate}}</legend>
                  <input type="text" name="id" formControlName="id" hidden>
                  <div class="table-style">
                    <fieldset>
                      <legend>{{'ASSET_DETAIL'|translate}}</legend>
                      <table class="table-w-tooltip">
                        <tr>
                          <td>{{'DATE'|translate}}({{'BS'|translate}})
                            <span style="color:red;">*</span>
                          </td>
                          <td>
                            <jqxInput [width]="200" [height]="25"
                              [placeHolder]="'YYYY-MM-DD'"
                              formControlName="enterDate">
                            </jqxInput>
                            <small
                              *ngIf="!workOutputAssetForm.get('enterDate').valid"
                              style="color:red">
                              Date format :- 2075-01-01
                            </small>
                          </td>
                        </tr>
                        <tr>
                          <td>यो चरणमा भएको कामको परिमाण %
                            <span style="color:red;">*</span>
                          </td>
                          <td>
                            <input type="number" class="px-control"
                              style="width: 200px!important;" placeholder="यो चरणमा भएको कामको परिमाण"
                              step="any" formControlName="quantity"
                              customMax="quantityChecker">
                            <span>बाँकी: {{ quantityCheker }} % </span>
                            <span
                              *ngIf="workOutputAssetForm.controls['quantity'].touched
                              &&
                              workOutputAssetForm.controls['quantity'].hasError('max')"
                              style="color:red">
                              परिमाण {{ 100 | displayNepaliDate }} % भन्दा माथि हुदैन
                            </span>
                            <span
                              *ngIf="workOutputAssetForm.controls['quantity'].touched
                              &&
                              workOutputAssetForm.get('quantity').hasError('required')"
                              style="color:red">
                              चाहिन्छ
                            </span>
                          </td>

                        </tr>
                        <tr>
                          <td>अनुगमन चरण
                              <span style="color: red;">*</span>
                          </td>
                          <td>
                            <select class="px-control"
                              style="width:200px!important;"
                              formControlName="investigationStage">
                              <option value="" [selected]="true"> {{'CHOOSE' |
                                translate}} </option>
                              <option *ngFor="let data of
                                investigationStageAdapter" [value]="data.id">{{data.name}}</option>
                            </select>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td>{{'UNIT'|translate}}</td>
                          <td>
                            <b>{{getUnit}}</b>
                          </td>
                        </tr> -->
                        <tr>
                          <td>अनुगमन विवरण </td>
                          <td style="width: 83%;">
                            <nepali-textarea name="monitoringDetails"
                              formControlName="monitoringDetails"
                              [inputClass]="'px-control wcstatement'"
                              [placeHolder]=""></nepali-textarea>
                          </td>
                        </tr>
                      </table>
                    </fieldset>
                  </div>
                  <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                      <legend>{{'ATTACHMENT'|translate}}</legend>
                      <table formArrayName="documentArray">
                        <tr>
                          <th>डकुमेन्ट विवरण</th>
                        </tr>
                        <tr *ngFor="let document of
                          workOutputAssetForm.get('documentArray').controls; let
                          i= index;"
                          [formGroupName]="i">
                          <!-- <td>
                              <nepali-input name="imageTitle" formControlName="imageTitle" [height]="23" [width]="150"
                                [inputClass]="'px-control'" [placeHolder]="'ENTER_NAME'|translate"></nepali-input>
                            </td> -->
                          <td>
                            <input type="file" name="attachments"
                              (change)="handleFileInput($event)"
                              class="px-attachment" multiple
                              accept=".png,.jpg,.pdf,.jpeg,.doc,.docx,.xlsx,.xls">
                          </td>

                          <td></td>
                        </tr>
                      </table>
                      <div>
                        <br />
                        <br />
                        <div class="plan-unit-type-details"
                          *ngIf="capacityEditData">
                          <div style="float: left;"
                            class="col-md-3" *ngFor="let image of
                            capacityEditData; let i=index;">
                            <div>
                              <button class="add-cross btn-danger" type="submit" (click)="deleteImage(image['name'])">{{'DELETE_INDIVIDUAL'|translate}}</button>
                              <img style="width: auto; height: 200px;
                                object-fit: cover; object-position: center;"
                                src="{{API_URL_DOC+image['name']}}">
                              <p> {{ image['title'] }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                      <legend>{{'COM_FLAG'|translate}}</legend>
                      <div class="plan-unit-type-details">
                        <table class="table-w-tooltip">
                          <tr>
                            <td>{{'PHYSICAL_FINANCIAL'|translate}} ?
                              <span style="color:red;">*</span>
                            </td>
                            <td>
                              <label for="office"></label>
                              <input name="flage" type="radio" [value]="'Yes'"
                                formControlName="flage">
                              <span>{{'YES'|translate}}</span>
                              &nbsp;&nbsp;&nbsp;
                              <input name="flage" type="radio" [value]="'No'"
                                formControlName="flage">
                              <span>{{'NO'|translate}}</span>
                            </td>
                          </tr>
                          <tr *ngIf="showExcelSheetWoa">
                            <td>कार्य सम्पन्न प्रतिवेदन</td>
                            <td>
                              <input type="file" (change)=fileEventMWoa($event)
                                multiple> &nbsp;
                              <!-- <a *ngIf="documnetWoa!='' && documnetWoa!=null" href="{{API_URL_DOC}}{{documnetWoa}}" target="_blank">फाइल हेर्नुहोस् -->
                              <!-- </a> -->
                            </td>
                          </tr>
                          <tr *ngIf="fileData.length>0">
                            <td colspan="2">
                              <div class="" *ngIf="fileData">
                                <div style="float: left;"
                                  class="col-md-3" *ngFor="let image of
                                  fileData; let i=index;">
                                  <div>
                                    <button class="add-cross btn-danger" type="submit" (click)="delete(image['imageName'])">{{'DELETE_INDIVIDUAL'|translate}}</button>
                                    <img style="width: auto; height: 300px"
                                      src="{{API_URL_DOC+image['imageName']}}">
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <!-- <tr *ngIf="showExcelSheetWoa">
                              <td>
                                <b>अथवा</b>
                                <br> कार्य सम्पन्न प्रतिवेदन</td>
                            </tr> -->
                        </table>
                        <!-- <div class="grid-container" *ngIf="showExcelSheetWoa">
                            <jqxGrid #myExcelWoaGrid [width]="'99.8%'" [height]="350" [source]="dataAdapterExcelWoa"
                              [columns]="columnsExcelWoa" [columnsresize]="true" [editable]="true" [selectionmode]="'multiplecellsadvanced'">
                            </jqxGrid>
                          </div> -->
                        <div class="description" *ngIf="showExcelSheetWoa"
                          style="width: 30%;">
                          <label style="font-size: 12px;" for="">कार्य सम्पन्न
                            विवरण</label>
                          <nepali-textarea name="workCompletedStatement"
                            formControlName="workCompletedStatement"
                            [inputClass]="'px-control wcstatement'" [placeHolder]=""></nepali-textarea>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div style="text-align: center;margin-top: 10px;">
                    <!-- Asset Output -->
                    <jqxButton *ngIf="activityType=='WOA'"
                      [disabled]="!workOutputAssetForm.valid"
                      style="margin-right: 5px;"
                      [width]="90" [theme]="'energyblue'"
                      (onClick)="Save(workOutputAssetForm.value)">
                      {{'SAVE'|translate}}
                    </jqxButton>
                    <jqxButton *ngIf="activityType=='WOA'" style="margin-right:
                      5px;" [width]="90" [theme]="'energyblue'"
                      (onClick)="Close()">
                      {{'CLOSE'|translate}}
                    </jqxButton>
                    <jqxButton *ngIf="activityType=='WOA'" style="margin-right:
                      5px;" [width]="90" [theme]="'energyblue'"
                      (onClick)="Reset()">
                      {{'RESET'|translate}}
                    </jqxButton>
                    <jqxButton [width]="110" [theme]="'energyblue'"
                      (onClick)="forward()">
                      आर्थिकमा जानुहोस्
                    </jqxButton>

                  </div>
                  <div class="table-style">
                    <fieldset>
                      <legend>{{'PHYSICAL_PROGRESS_LIST'|translate}}</legend>
                      <div class="row">
                        <div class="col-12">
                          <table class="table tabl-bordered table-stripped">
                            <thead>
                              <tr>
                                <th style="background-color: #eef5e8;">{{'DATE'|translate}}</th>
                                <th style="background-color: #eef5e8;">अनुगमन
                                  चरण</th>
                                <th style="background-color: #eef5e8;">यो चरणमा
                                  भएको कामको परिमाण % </th>
                                <!-- <th style="background-color: #eef5e8;">{{'UNIT'|translate}}</th> -->
                                <th style="background-color: #eef5e8;">{{'PHYSICAL_FINANCIAL'|translate}}?</th>
                                <th style="background-color: #eef5e8;">कार्य
                                    सम्पन्‍न प्रतिवेदन</th>
                                <th style="background-color: #eef5e8;">अन्य संलग्न गर्नुपर्ने डकुमेन्ट</th>
                                <!-- <th style="background-color: #eef5e8;">भौतिक र अार्थिक कार्यक्रम(एक्सेल)</th> -->
                                <th style="background-color: #eef5e8;">अनुगमन
                                  प्रतिवेदन</th>
                                <th style="background-color: #eef5e8;">{{'ACTION'|translate}}</th>
                                <!-- <th style="background-color: #eef5e8;">{{'DETAIL_VIEW'|translate}}</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of capacityBuildingData; let
                                i= index">
                                <td> {{ data['enterDate'] | displayNepaliDate}}</td>
                                <td> {{ data['investigationStage'] &&
                                  data['investigationStage'].name}}</td>
                                <td> {{ data['quantity'] | digitCommas | displayNepaliDate}}</td>
                                <!-- <td> {{ data['unit'] }}</td> -->
                                <td>
                                  <span *ngIf="data['flage']=='Yes'"> हो</span>
                                  <span *ngIf="data['flage']=='No'"> होइन
                                  </span>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <!-- change this -->
                                    <span *ngIf="data['workCompletionDocument']">
                                      <a *ngFor="let image of data['workCompletionDocument']; let i = index"
                                      href="{{API_URL_DOC}}{{image}}"
                                      target="_blank">
                                      फाइल {{ i + 1 | displayNepaliDate }}
                                      <span *ngIf="i != data['workCompletionDocument'].length - 1">,</span>
                                      </a>
                                    </span>
                                    <span *ngIf="!data['workCompletionDocument'][0]">
                                      फाइल छैन
                                  </span>
                                </td>
                                <td>
                                  <!-- <a *ngIf="data['flage']=='Yes' &&
                                    data['excelData']=='[]' &&
                                    data['document']!='' &&
                                    data['document']!=null"
                                    href="{{API_URL_DOC}}{{data['document']}}"
                                    target="_blank">फाइल हेर्नुहोस्</a> -->
                                  <span *ngIf="data['images'] != null">                                  
                                    <a *ngFor="let image of data['images']; let i = index"
                                    href="{{API_URL_DOC}}/{{image['name']}}"
                                    target="_blank">
                                        फाइल {{ i + 1 | displayNepaliDate }}
                                     <span *ngIf="i != data['images'].length - 1">,</span>
                                    </a>
                                  </span>
                                  <span *ngIf="data['images'].length == 0">
                                    फाइल छैन
                                  </span>
                                    <!-- <span *ngIf="
                                        data['images'] != '' &&
                                        data['images'] != null">
                                        <a *ngFor="let image of data['images']"
                                        href="{{API_URL_DOC}}{{image['name']}}"
                                        target="_blank">फाइल हेर्नुहोस्</a>
                                    </span> -->

                                </td>
                                <!-- <td>
                                    <button *ngIf="data['flage']=='Yes' && data['excelData']!='[]' && data['excelData']!=''"
                                      class="btn btn-primary btn-sm" (click)="viewExcelData(data)">
                                      {{'VIEW'|translate}}</button>
                                  </td> -->
                                <td>
                                  <!-- <button class="btn btn-info btn-sm" (click)="viewData(data)"> {{'VIEW'|translate}}</button> -->
                                  <button class="btn btn-primary btn-sm"
                                    (click)="setData(data)">
                                    {{'PRINT'|translate}}</button>
                                </td>
                                <td>
                                  <span *ngIf="i == capacityBuildingData.length-1">
                                    <button class="btn btn-info btn-sm" (click)="setCapacityEditData(data)">{{'EDIT'|translate}}</button>
                                  </span>
                                  <span *ngIf="i != capacityBuildingData.length-1" style="font-weight:bolder">
                                    सच्याउन मिल्दैन
                                  </span>
                                  <!-- <button class="btn btn-info btn-sm" (click)="viewData(data)">{{'VIEW'|translate}}</button> -->
                                  <!-- <button class="btn btn-info btn-sm"
                                    (click)="setCapacityEditData(data)">
                                    {{'EDIT'|translate}}</button> -->
                                </td>
                                <!-- <td>

                                    <button class="btn btn btn-sm" (click)="detailView()">
                                      {{'VIEW'|translate}}</button>
                                  </td> -->
                              </tr>
                              <tr *ngIf="!capacityBuildingData">
                                <td colspan="4" class="text-center">{{'NOT_FOUND'|translate}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </jqxValidator>
      </div>
      <!-- Form Content for Capacity Building -->
      <div class="capacity-building" *ngIf="activityType=='CB'">
        <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'"
          [position]="'bottom'">
          <form name="capacityBuildingForm" class="form-style physical_progress_form"
            [formGroup]="capacityBuildingForm" id="capacityBuildingForm">
            <div class="table-content">
              <div class="table-style">
                <fieldset style="padding-bottom: 10px!important;">
                  <legend>{{'CAPACITY_BUILDING_PROGRESS'|translate}}</legend>
                  <div class="table-style">
                    <fieldset>
                      <legend>{{'CAPACITY_BUILDING'|translate}}</legend>
                      <input type="text" name="id" formControlName="id" hidden>
                      <table class="table-w-tooltip">
                        <tr>
                          <td>{{'DATE'|translate}} ({{'BS'|translate}})
                            <span style="color:red;">*</span>
                          </td>
                          <td>
                            <jqxInput [width]="200" [placeHolder]="'YYYY-MM-DD'"
                              [height]="25" formControlName="enterDate">
                            </jqxInput>
                            <small
                              *ngIf="!capacityBuildingForm.get('enterDate').valid"
                              style="color:red">
                              Date format :- 2075-01-01
                            </small>
                          </td>
                        </tr>
                        <tr>
                          <td>यो चरणमा तालिम लिनेको संख्या
                            <span style="color:red;">*</span>
                          </td>
                          <td>
                            <input formControlName="bcdNow" />
                          </td>
                        </tr>
                        <tr>
                          <td>अनुगमन चरण</td>
                          <td>
                            <select class="px-control"
                              style="width:200px!important;"
                              formControlName="investigationStage">
                              <option value="" [selected]="true"> {{'CHOOSE' |
                                translate}} </option>
                              <option *ngFor="let data of
                                investigationStageAdapter" [value]="data.id">{{data.name}}</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>अनुगमन मा देखिएका कुराहरु </td>
                          <td style="width: 83%;">
                            <nepali-textarea name="monitoringDetails"
                              formControlName="monitoringDetails"
                              [inputClass]="'px-control wcstatement'" [placeHolder]=""></nepali-textarea>
                          </td>
                        </tr>
                      </table>
                    </fieldset>
                  </div>
                  <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                      <legend>{{'ATTACHMENT'|translate}}</legend>
                      <div>
                        <input type="file" name="attachments"
                          (change)="handleFileInput($event)"
                          class="px-attachment"
                          multiple
                          accept=".png,.jpg,.pdf,.jpeg,.doc,.docx,.xlsx,.xls">
                        <br />
                        <br />
                        <div class="plan-unit-type-details"
                          *ngIf="capacityEditData">
                          <div style="float: left;"
                            class="col-md-3" *ngFor="let image of
                            capacityEditData; let i=index;">
                            <div>
                              <button class="add-cross btn-danger" type="submit"
                                (click)="deleteImage(image)">{{'DELETE_INDIVIDUAL'|translate}}</button>
                              <img style="width: 100%; height: 100%"
                                src="{{API_URL_DOC+image}}">
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                      <legend>{{'COM_FLAG'|translate}}</legend>
                      <div class="plan-unit-type-details">
                        <table class="table-w-tooltip">
                          <tr>
                            <td>{{'PHYSICAL_FINANCIAL'|translate}} ?
                              <span style="color:red;">*</span>
                            </td>
                            <td>
                              <label for="office"></label>
                              <input name="flag" type="radio" [value]="'Yes'"
                                formControlName="flag">
                              <span> {{'YES'|translate}}</span>
                              &nbsp;&nbsp;&nbsp;
                              <input name="flag" type="radio" [value]="'No'"
                                formControlName="flag">
                              <span>
                                {{'NO'|translate}}</span>
                            </td>
                          </tr>

                          <tr *ngIf="showExcelSheetCb">
                            <td>कार्य सम्पन्न प्रतिवेदन</td>
                            <td>
                              <input type="file" (change)=fileEventMCb($event)
                                multiple> &nbsp;
                              <!-- <a *ngIf="documnet!='' && documnet!=null" href="{{API_URL_DOC}}{{documnet}}" target="_blank">फाइल हेर्नुहोस् -->
                              <!-- </a> -->
                            </td>
                          </tr>
                          <tr *ngIf="fileData.length>0">
                            <td colspan="2">
                              <div class=""*ngIf="fileData">
                                <div style="float: left;"
                                  class="col-md-3" *ngFor="let image of
                                  fileData; let i=index;">
                                  <div>
                                    <button class="add-cross btn-danger" type="submit" (click)="delete(image['imageName'])">{{'DELETE_INDIVIDUAL'|translate}}</button>
                                    <img style="width: auto; height: 300px"
                                      src="{{API_URL_DOC+image['imageName']}}">
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <!-- <tr *ngIf="showExcelSheetCb">
                              <td>
                                <b>अथवा</b>
                                <br> कार्य सम्पन्न प्रतिवेदन</td>
                            </tr> -->
                        </table>
                        <!-- <div class="grid-container" *ngIf="showExcelSheetCb">
                            <jqxGrid #myExcelGrid [width]="'99.8%'" [height]="350" [source]="dataAdapterExcel" [columns]="columnsExcel"
                              [columnsresize]="true" [editable]="true" [selectionmode]="'multiplecellsadvanced'">
                            </jqxGrid>
                          </div> -->
                        <div class="description" *ngIf="showExcelSheetCb"
                          style="width: 30%;">
                          <label style="font-size: 12px;" for="">कार्य सम्पन्न
                            विवरण</label>
                          <nepali-textarea name="workCompletedStatement"
                            formControlName="workCompletedStatement"
                            [inputClass]="'px-control wcstatement'" [placeHolder]=""></nepali-textarea>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div style="text-align: center;margin-top: 10px;">
                    <!-- Capacity Building  -->
                    <jqxButton *ngIf="activityType=='CB'"
                      [disabled]="!capacityBuildingForm.valid"
                      style="margin-right: 5px;"
                      [width]="90" [theme]="'energyblue'"
                      (onClick)="Save(capacityBuildingForm.value)">
                      {{'SAVE'|translate}}
                    </jqxButton>
                    <jqxButton *ngIf="activityType=='CB'" style="margin-right:
                      5px;" [width]="90" [theme]="'energyblue'"
                      (onClick)="Close()">
                      {{'CLOSE'|translate}}
                    </jqxButton>
                    <jqxButton *ngIf="activityType=='CB'" style="margin-right:
                      5px;" [width]="90" [theme]="'energyblue'"
                      (onClick)="Reset()">
                      {{'RESET'|translate}}
                    </jqxButton>
                    <jqxButton [width]="110" [theme]="'energyblue'"
                      (onClick)="forward()">
                      आर्थिकमा जानुहोस्
                    </jqxButton>
                  </div>
                  <div class="table-style">
                    <fieldset>
                      <legend>{{'PHYSICAL_PROGRESS_LIST'|translate}}</legend>
                      <div class="row">
                        <div class="col-12">
                          <table class="table tabl-bordered table-stripped">
                            <thead>
                              <tr>
                                <th style="background-color: #eef5e8;">{{'DATE'|translate}}</th>
                                <th style="background-color: #eef5e8;">अनुगमन
                                  चरण</th>
                                <th style="background-color: #eef5e8;">यो चरणमा
                                  तालिम लिनेको संख्या</th>
                                <th style="background-color: #eef5e8;">कार्य
                                    सम्मपन्न &nbsp;{{'FLAG'|translate}}</th>
                                <th style="background-color: #eef5e8;">कार्य
                                    सम्पन्‍न प्रतिवेदन</th>
                                <th style="background-color: #eef5e8;">अन्य
                                  संलग्न गर्नुपर्ने डकुमेन्ट</th>
                                <!-- <th style="background-color: #eef5e8;">भौतिक र अार्थिक कार्यक्रम(एक्सेल)</th> -->
                                <th style="background-color: #eef5e8;">अनुगमन
                                  प्रतिवेदन</th>
                                <th style="background-color: #eef5e8;">{{'ACTION'|translate}}</th>
                                <!-- <th style="background-color: #eef5e8;">{{'DETAIL_VIEW'|translate}}</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of capacityBuildingData; let
                                i= index">
                                <td> {{ data['enterDate'] | displayNepaliDate}}</td>
                                <!-- <td> {{ i + 1}}</td> -->
                                <td> {{ data['investigationStage'] &&
                                    data['investigationStage'].name}}</td>
                                <td> {{ data['bcdNow'] }}</td>
                                <td>
                                  <span *ngIf="data['flag']=='Yes'"> हो</span>
                                  <span *ngIf="data['flag']=='No'"> होइन </span>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <!-- <a *ngFor="let image of data['document']; let i = index"
                                    href="{{API_URL_DOC}}/{{image}}"
                                    target="_blank">
                                    फाइल {{ i + 1 | displayNepaliDate }}
                                    <span *ngIf="i != data['document'].length - 1">,</span>
                                    </a> -->
                                  <!-- <a *ngIf="data['flag']=='Yes' &&
                                    data['excelData']=='[]' &&
                                    data['document']!='' &&
                                    data['document']!=null"
                                    href="{{API_URL_DOC}}{{data['document']}}"
                                    target="_blank">फाइल हेर्नुहोस्</a> -->
                                </td>
                                <td>
                                    <!-- change this -->
                                    <span *ngIf="data['workCompletionDocument']">
                                      <a *ngFor="let image of data['workCompletionDocument']; let i = index"
                                      href="{{API_URL_DOC}}{{image}}"
                                      target="_blank">
                                      फाइल {{ i + 1 | displayNepaliDate }}
                                      <span *ngIf="i != data['workCompletionDocument'].length - 1">,</span>
                                      </a>
                                    </span>
                                    <span *ngIf="!data['workCompletionDocument'][0]">
                                      फाइल छैन
                                    </span>
                                </td>
                                <td>
                                  <span *ngIf="data['images']">
                                    <a *ngFor="let image of data['images']; let i = index"
                                      href="{{API_URL_DOC}}{{image}}"
                                      target="_blank">
                                      फाइल {{ i + 1 | displayNepaliDate }}
                                      <span *ngIf="i != data['images'].length - 1">,</span>
                                    </a>
                                  </span>
                                  <span *ngIf="!data['images'][0]">
                                      फाइल छैन
                                    </span>
                                </td>
                                <!-- <td>
                                    <button *ngIf="data['flag']=='Yes' && data['excelData']!='[]' && data['excelData']!=''"
                                      class="btn btn-primary btn-sm" (click)="viewExcelData(data)">
                                      {{'VIEW'|translate}}</button>
                                  </td> -->
                                <td>
                                  <button class="btn btn-primary btn-sm"
                                    (click)="setData(data)">
                                    {{'PRINT'|translate}}</button>
                                </td>
                                <td>
                                  <!-- <button class="btn btn-info btn-sm"
                                    (click)="setCapacityEditData(data)">
                                    {{'EDIT'|translate}}</button> -->
                                  <span *ngIf="i == capacityBuildingData.length-1">
                                    <button class="btn btn-info btn-sm" (click)="setCapacityEditData(data)">{{'EDIT'|translate}}</button>
                                  </span>
                                  <span *ngIf="i != capacityBuildingData.length-1" style="font-weight:bolder">
                                    सच्याउन मिल्दैन
                                  </span>
                                </td>
                                <!-- <td>

                                    <button class="btn btn btn-sm" (click)="detailView()">
                                      {{'VIEW'|translate}}</button>
                                  </td> -->
                              </tr>
                              <tr *ngIf="!capacityBuildingData">
                                <td colspan="4" class="text-center">{{'NOT_FOUND'|translate}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </jqxValidator>
      </div>
      <!-- Content for Servie Details -->
      <div class="service-details" *ngIf="activityType=='SD'">
        <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'"
          [position]="'bottom'">
          <form name="serviceDetailsForm" class="form-style physical_progress_form"
            [formGroup]="serviceDetailsForm" id="serviceDetailsForm">
            <div class="table-content">
              <div class="table-style">
                <fieldset style="padding-bottom: 10px!important;">
                  <legend>{{'SERVICE_PROGRESS_DETAIL'|translate}}</legend>
                  <input type="text" name="id" formControlName="id" hidden>
                  <div class="table-style">
                    <fieldset>
                      <legend>{{'SERVICE_DETAILS'|translate}}</legend>
                      <table class="table-w-tooltip">
                        <tr>
                          <td>{{'DATE'|translate}} ({{'BS'|translate}})
                            <span style="color:red;">*</span>
                          </td>
                          <td>
                            <jqxInput [width]="200" [height]="25"
                              [placeHolder]="'YYYY-MM-DD'"
                              formControlName="enterDate">
                            </jqxInput>
                            <small
                              *ngIf="!serviceDetailsForm.get('enterDate').valid"
                              style="color:red">
                              Date format :- 2075-01-01
                            </small>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            {{'THIS_PHASE'|translate}}&nbsp;{{'BENEFIT_PERSON'|translate}}
                            <span style="color:red;">*</span>
                          </td>
                          <td>
                            <jqxInput [theme]="'energyblue'"
                              [placeHolder]="'BENEFIT_PERSON'|translate"
                              [height]="23"
                              [width]="160" formControlName="personBeniefiled"></jqxInput>
                          </td>
                        </tr>
                        <tr>
                          <td>अनुगमन चरण</td>
                          <td>
                            <select class="px-control"
                              style="width:200px!important;"
                              formControlName="investigationStage">
                              <option value="" [selected]="true"> {{'CHOOSE' |
                                translate}} </option>
                              <option *ngFor="let data of
                                investigationStageAdapter" [value]="data.id">{{data.name}}</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>अनुगमन मा देखिएका कुराहरु </td>
                          <td style="width: 83%;">
                            <nepali-textarea name="monitoringDetails"
                              formControlName="monitoringDetails"
                              [inputClass]="'px-control wcstatement'" [placeHolder]=""></nepali-textarea>
                          </td>
                        </tr>
                      </table>
                    </fieldset>
                  </div>
                  <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                      <legend>{{'ATTACHMENT'|translate}}</legend>
                      <div>
                        <input type="file" name="attachments"
                          (change)="handleFileInput($event)"
                          class="px-attachment"
                          multiple
                          accept=".png,.jpg,.pdf,.jpeg,.doc,.docx,.xlsx,.xls">
                        <br />
                        <br />
                        <div class="" *ngIf="capacityEditData">
                          <div style="float: left;"
                            class="col-md-3" *ngFor="let image of
                            capacityEditData; let i=index;">
                            <div>
                              <button class="add-cross btn-danger" type="submit" (click)="deleteImage(image)">{{'DELETE_INDIVIDUAL'|translate}}</button>
                              <img style="width: auto; height: 300px"
                                src="{{API_URL_DOC+image}}">
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                      <legend>{{'COM_FLAG'|translate}}</legend>
                      <div class="plan-unit-type-details">
                        <table class="table-w-tooltip">
                          <tr>
                            <td>{{'PHYSICAL_FINANCIAL'|translate}}?
                              <span style="color:red;">*</span>
                            </td>
                            <td>
                              <label for="office"></label>
                              <input name="flage" type="radio" [value]="'Yes'"
                                formControlName="flage">
                              <span>{{'YES'|translate}}</span>
                              &nbsp;&nbsp;&nbsp;
                              <input name="flage" type="radio" [value]="'No'"
                                formControlName="flage">
                              <span>{{'NO'|translate}}</span>
                            </td>
                          </tr>
                          <tr *ngIf="showExcelSheet">
                            <td>कार्य सम्पन्न प्रतिवेदन</td>
                            <td>
                              <input type="file" (change)=fileEventM($event)
                                multiple> &nbsp;
                              <!-- <a *ngIf="documnet!='' && documnet!=null" href="{{API_URL_DOC}}{{documnet}}" target="_blank">फाइल हेर्नुहोस् -->
                              <!-- </a> -->
                            </td>
                          </tr>
                          <tr *ngIf="fileData.length>0">
                            <td colspan="2">
                              <div class="plan-unit-type-details"
                                *ngIf="fileData">
                                <div style="float: left;"
                                  class="col-md-3" *ngFor="let image of
                                  fileData; let i=index;">
                                  <div>
                                    <button class="add-cross btn-danger"
                                      type="submit"
                                      (click)="delete(image['imageName'])">{{'DELETE_INDIVIDUAL'|translate}}</button>
                                    <img style="width: auto; height: 300px"
                                      src="{{API_URL_DOC+image['imageName']}}">
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <!-- <tr *ngIf="showExcelSheet">
                              <td>
                                <b>अथवा</b>
                                <br> कार्य सम्पन्न प्रतिवेदन</td>
                            </tr> -->
                        </table>
                        <!-- <div class="grid-container" *ngIf="showExcelSheet">
                            <jqxGrid #myExcelGrid [width]="'99.8%'" [height]="350" [source]="dataAdapterExcel" [columns]="columnsExcel"
                              [columnsresize]="true" [editable]="true" [selectionmode]="'multiplecellsadvanced'">
                            </jqxGrid>
                          </div> -->
                        <div class="description" *ngIf="showExcelSheet"
                          style="width: 30%;">
                          <label style="font-size: 12px;" for="">कार्य सम्पन्न
                            विवरण</label>
                          <nepali-textarea name="workCompletedStatement"
                            formControlName="workCompletedStatement"
                            [inputClass]="'px-control wcstatement'" [placeHolder]=""></nepali-textarea>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div style="text-align: center;margin-top: 10px;">
                    <!--  Service Details -->
                    <jqxButton *ngIf="activityType=='SD'"
                      [disabled]="!serviceDetailsForm.valid"
                      style="margin-right: 5px;"
                      [width]="90" [theme]="'energyblue'"
                      (onClick)="Save(serviceDetailsForm.value)">
                      {{'SAVE'|translate}}
                    </jqxButton>
                    <jqxButton *ngIf="activityType=='SD'" style="margin-right:
                      5px;" [width]="90" [theme]="'energyblue'"
                      (onClick)="Close()">
                      {{'CLOSE'|translate}}
                    </jqxButton>
                    <jqxButton *ngIf="activityType=='SD'" style="margin-right:
                      5px;" [width]="90" [theme]="'energyblue'"
                      (onClick)="Reset()">
                      {{'RESET'|translate}}
                    </jqxButton>
                    <jqxButton [width]="110" [theme]="'energyblue'"
                      (onClick)="forward()">
                      आर्थिकमा जानुहोस्
                    </jqxButton>
                  </div>
                  <div class="table-style">
                    <fieldset>
                      <legend>{{'SERVICE_PROGRESS_LIST'|translate}}</legend>
                      <div class="row">
                        <div class="col-12">
                          <table class="table tabl-bordered table-stripped">
                            <thead>
                              <tr>
                                <th style="background-color: #eef5e8;">{{'DATE'|translate}}</th>
                                <th style="background-color: #eef5e8;">अनुगमन
                                  चरण</th>
                                <th style="background-color: #eef5e8;">{{'THIS_PHASE'|translate}}&nbsp;{{'BENEFIT_PERSON'|translate}}</th>
                                <th style="background-color: #eef5e8;">{{'PHYSICAL_FINANCIAL'|translate}}?</th>
                                <th style="background-color: #eef5e8;">कार्य
                                  सम्पन्‍न प्रतिवेदन</th>
                                <th style="background-color: #eef5e8;">अन्य
                                  संलग्न गर्नुपर्ने डकुमेन्ट</th>

                                <th style="background-color: #eef5e8;">अनुगमन
                                  प्रतिवेदन</th>
                                <th style="background-color: #eef5e8;">{{'ACTION'|translate}}</th>
                                <!-- <th style="background-color: #eef5e8;">{{'DETAIL_VIEW'|translate}}</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of capacityBuildingData; let
                                i= index">
                                <td> {{ data['enterDate'] | displayNepaliDate}}</td>
                                <td> {{ data['investigationStage'] &&
                                  data['investigationStage'].name}}</td>
                                <td> {{ data['personBenifited'] | digitCommas |displayNepaliDate }}</td>
                                <td>
                                  <span *ngIf="data['flag']=='Yes'"> हो</span>
                                  <span *ngIf="data['flag']=='No'"> होइन
                                  </span>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <!-- <a *ngIf="data['flage']=='Yes' && data['excelData']=='[]' && data['document']!='' && data['document']!=null"
                                      href="{{API_URL_DOC}}{{data['document']}}" target="_blank">फाइल हेर्नुहोस्</a> -->
                                </td>
                                <td>
                                  <!-- change this -->
                                  <span *ngIf="data['workCompletionDocument']">
                                    <a *ngFor="let image of data['workCompletionDocument']; let i = index"
                                    href="{{API_URL_DOC}}{{image}}"
                                    target="_blank">
                                    फाइल {{ i + 1 | displayNepaliDate }}
                                    <span *ngIf="i != data['workCompletionDocument'].length - 1">,</span>
                                    </a>
                                  </span>
                                  <span *ngIf="data['workCompletionDocument'] && !data['workCompletionDocument'][0]">
                                    फाइल छैन
                                    </span>
                                </td>
                                <td>
                                  <span *ngIf="data['images']">
                                    <a *ngFor="let image of data['images']; let i = index"
                                      href="{{API_URL_DOC}}/{{image}}"
                                      target="_blank">
                                      फाइल {{ i + 1 | displayNepaliDate }}
                                      <span *ngIf="i != data['images'].length - 1">,</span>
                                    </a>
                                  </span>
                                  <span *ngIf="data['images'] && !data['images'][0]">
                                      फाइल छैन
                                      </span>
                                </td>
                                <!-- <td>
                                    <button *ngIf="data['flage']=='Yes' && data['excelData']!='[]' && data['excelData']!=''"
                                      class="btn btn-primary btn-sm" (click)="viewExcelData(data)">
                                      {{'VIEW'|translate}}</button>
                                  </td> -->
                                <td>
                                  <!-- <button class="btn btn-info btn-sm" (click)="viewData(data)"> {{'VIEW'|translate}}</button> -->
                                  <button class="btn btn-primary btn-sm"
                                    (click)="setData(data)">
                                    {{'PRINT'|translate}}</button>
                                </td>
                                <td>
                                  <!-- <button class="btn btn-info btn-sm" (click)="viewData(data)"> {{'VIEW'|translate}}</button> -->
                                  <!-- <button class="btn btn-info btn-sm"
                                    (click)="setCapacityEditData(data)">
                                    {{'EDIT'|translate}}</button> -->
                                    <span *ngIf="i == capacityBuildingData.length-1">
                                        <button class="btn btn-info btn-sm" (click)="setCapacityEditData(data)">{{'EDIT'|translate}}</button>
                                      </span>
                                      <span *ngIf="i != capacityBuildingData.length-1" style="font-weight:bolder">
                                        सच्याउन मिल्दैन
                                      </span>
                                </td>
                                <!-- <td>
                                    <button class="btn btn btn-sm" (click)="detailView()">
                                      {{'VIEW'|translate}}</button>
                                  </td> -->
                              </tr>
                              <tr *ngIf="!capacityBuildingData">
                                <td colspan="4" class="text-center">{{'NOT_FOUND'|translate}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </jqxValidator>
      </div>
    </div>
  </div>
  <!-- <jqxButton *ngIf="isCompleted" style="margin-right: 5px;" [width]="90" [theme]="'energyblue'" (onClick)="Close()">
      {{'CLOSE'|translate}}
    </jqxButton> -->
</div>

<jqxWindow #viewWindow [width]="'60%'" [height]="'60%'"
  [showCollapseButton]="false" [autoOpen]="false" [isModal]="true">
  <!-- <div #windowHeader>
      {{'DETAIL_VIEW'|translate}}
    </div> -->
  <div style="overflow: hidden;" #windowContent>
    <div class="row" *ngIf="activityType == 'WOA' && woaData">
      <div class="col-12">
        <table class="table tabl-bordered table-stripped">
          <thead>
            <tr>
              <th>{{'DATE'|translate}}</th>
              <th>{{'WORK_STAGE'|translate}}</th>
              <th>{{'BENEFIT_PERSON'|translate}}</th>
              <th>{{'PHYSICAL_FINANCIAL'|translate}}?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> {{ woaData['enterDate'] }}</td>
              <td> {{ woaData['locationName'] }}</td>
              <td> {{ woaData['workStage'] }}</td>
              <td> {{ woaData['flage'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col" *ngFor="let image of woaData['images']; let i= index">
        <div class="attachment-name">
          <b>{{'ATTACHMENT_VIEW'|translate}} :</b>
        </div>
        <div class="image-container" *ngIf="woaData.extensionType[i] == 'png' ||
          woaData.extensionType[i] == 'jpg' || woaData.extensionType[i] ==
          'jpeg'">
          <img src="{{docUrl+'/'+image}}">
        </div>
        <div class="link-container" *ngIf="woaData.extensionType[i] != 'png' &&
          woaData.extensionType[i] != 'jpg' && woaData.extensionType[i] !=
          'jpeg'">
          <a href="{{docUrl+'/'+image}}" target="_blank">
            <i class="fa fa-file" aria-hidden="true"></i> {{ image }}
          </a>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="activityType == 'CB' && cbData">
      <div class="col-12">
        <table class="table tabl-bordered table-stripped">
          <thead>
            <tr>
              <th>{{'DATE'|translate}}</th>
              <th>{{'BATCH_COMPLETE'|translate}}</th>
              <th>{{'FLAG'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> {{ cbData['enterDate'] }}</td>
              <td> {{ cbData['bcdNow'] }}</td>
              <td> {{ cbData['flag'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col" *ngFor="let image of cbData['images']; let i= index">
        <div class="attachment-name">
          <b>{{'ATTACHMENT_VIEW'|translate}} :</b>
        </div>
        <div class="image-container" *ngIf="cbData.extensionType[i] == 'png' ||
          cbData.extensionType[i] == 'jpg' || cbData.extensionType[i] ==
          'jpeg'">
          <img src="{{docUrl+'/'+ image}}">
        </div>
        <div class="link-container" *ngIf="cbData.extensionType[i] != 'png' &&
          cbData.extensionType[i] != 'jpg' && cbData.extensionType[i] !=
          'jpeg'">
          <a href="{{docUrl+'/' +image}}" target="_blank">
            <i class="fa fa-file" aria-hidden="true"></i> {{ image }}
          </a>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="activityType == 'SD' && sdData">
      <div class="col-12">
        <table class="table tabl-bordered table-stripped">
          <thead>
            <tr>
              <th>{{'DATE'|translate}}</th>
              <th>{{'BENEFIT_PERSON'|translate}}</th>
              <th>{{'PHYSICAL_FINANCIAL'|translate}} ?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> {{ sdData['enterDate'] }}</td>
              <td> {{ sdData['personBeniefiled'] }}</td>
              <td> {{ sdData['flage'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col" *ngFor="let image of sdData['images']; let i= index">
        <div class="attachment-name">
          <b>{{'ATTACHMENT_VIEW'|translate}} :</b>
        </div>
        <div class="image-container" *ngIf="sdData.extensionType[i] == 'png' ||
          sdData.extensionType[i] == 'jpg' || sdData.extensionType[i] ==
          'jpeg'">
          <img src="{{docUrl+'/'+ image}}">
        </div>
        <div class="link-container" *ngIf="sdData.extensionType[i] != 'png' &&
          sdData.extensionType[i] != 'jpg' && sdData.extensionType[i] !=
          'jpeg'">
          <a href="{{docUrl+'/'+image}}" target="_blank">
            <i class="fa fa-file" aria-hidden="true"></i> {{ image }}
          </a>
        </div>
      </div>
    </div>
  </div>
</jqxWindow>

<jqxWindow #dataView [width]="'60%'" [height]="'60%'"
  [showCollapseButton]="false" [autoOpen]="false" [isModal]="true">
  <!-- <div #windowHeader>
      {{'DETAIL_VIEW'|translate}}
    </div> -->
  <div style="overflow: hidden;" #windowContent>
    <div class="row">
      <div class="col-12">
        <table class="table tabl-bordered table-stripped"
          *ngIf="detailData.length>0">
          <thead>
            <tr>
              <th>{{'SN'|translate}}</th>
              <th>{{'DESCRIPTION'|translate}}</th>
              <th>{{'QUANTITY'|translate}}</th>
              <th>{{'UNIT'|translate}}</th>
              <th>{{'CURRENT_QUANTITY'|translate}}</th>
            </tr>
          </thead>
          <tbody *ngFor="let dt of detailData;index as i">
            <tr>
              <td>{{i+1}}</td>
              <td> {{ dt['description'] }}</td>
              <td> {{ dt['quantity'] }}</td>
              <td> {{ dt['unit'] }}</td>
              <td> {{ dt['currentQuantity'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</jqxWindow>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
  [width]="100" [height]="60">
</jqxLoader>
