<div style="overflow: hidden;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;padding: 10px;"><b>{{'WORK_ACEPTION_REPORT_THAKKA_BILL' | translate}}</b></h6>
    <div class="data-form">
      <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
        <form name="searchForm" class="form-style" [formGroup]="searchForm" id="searchForm">
          <fieldset class="jqx-widget-header-energyblue">
            <legend>{{'SEARCH_BOX' | translate}}</legend>
            <table class="table-w-tooltip">
              <tr>
                <td>{{'PLAN_YEAR' | translate}} *</td>
                <td>
                  <select formControlName="planYear" class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <option [selected]="true" value=''>{{'CHOOSEU' | translate}}</option>
                    <option *ngFor="let planYear of planYearAdapter" [value]="planYear['yearCode']">{{planYear['yearName']}}</option>
                  </select>
                </td>
                <td> {{'ACTIVITY_NAME'|translate}}</td>
                <td>
                  <jqxComboBox #myComboBox [width]="500" (onChange)="comboBoxOnChange($event)" [source]="activityAdapter"
                    [displayMember]="'name'" [valueMember]="'id'">
                  </jqxComboBox>
                </td>
                <td>
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!searchForm.valid" (onClick)="SearchData(searchForm.value)">
                    {{'SEARCH' | translate}}
                  </jqxButton>
                </td>
                <td>
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="printData()">
                    {{'PRINT'|translate}}
                  </jqxButton>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>
    </div>
    <div id="printContent">
      <div class="container exam-triplicate" style="page-break-after:always;">
        <div class="row">
          <div class="col-md-12">
            <div style="display:block;">
              <div class="logo-top" style="display:inline-block; width:40%;text-align:left;vertical-align: top;">
                <img src="assets/images/logo_mun.png" style="width: 100px; height: auto;">
              </div>
              <div style="display:inline-block; width:49%;text-align:left;">
                <div class="univ-title">
                  <p style="font-size: 16px;">
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;{{organizationDta && organizationDta['officeName']}}</b></p>
                  <p style="font-size: 19px;">
                    <b>{{organizationDta && organizationDta['orgName']}}</b>
                  </p>
                  <p style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{organizationDta && organizationDta['municipality']}}, {{organizationDta &&
                    organizationDta['district']}}
                  </p>
                  <p style="font-size: 14px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;
                    स्था: {{organizationDta && organizationDta['estYear']}}</p>
                </div>
              </div>
            </div>
            <div style="width:100%;display:block;"></div>
            <div class="univ-title" style="text-align:left">
              <p style="font-size: 14px;text-align: center;text-decoration: underline;"><b>Work Aception Report /
                  Thakka
                  Bill</b></p>
              <div class="row">
                <div class="col-md-6">
                  <p style="font-size: 11px">१) कार्यालयको नाम :- <b>{{organizationDta && organizationDta['orgName']}}</b></p>
                  <p style="font-size: 11px">२) कामको नाम :- {{ActivityName}}</p>
                  <p style="font-size: 11px">३) ईष्टिमेटको कुल अंक :-</p>
                  <p style="font-size: 11px">४) खर्च भएको अंक :-</p>
                  <p style="font-size: 11px">५) ईष्टिमेट भन्दा घटी बढी :-</p>
                </div>
                <div class="col-md-6" style="text-align:left;">
                  <p style="font-size: 11px">६) घटी बढीको प्रतिशत :- &nbsp;&nbsp;&nbsp;&nbsp;<b>{{extraDatas &&
                      extraDatas.totalDiffPercent}}%</b></p>
                  <p style="font-size: 11px">७) काम शुरु भएको मिति :- {{extraDatas &&
                    extraDatas.startDate}}</p>
                  <p style="font-size: 11px">८) काम सम्पन्न गर्नुपर्ने मिति :- {{extraDatas &&
                    extraDatas.expectedCompletionDate}}</p>
                  <p style="font-size: 11px">९) काम सम्पन्न भएको मिति :- {{extraDatas &&
                    extraDatas.completedDate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered" style="font-size:11px;">
              <thead>
                <tr>
                  <th rowspan="2">सि.नं.</th>
                  <th rowspan="2">कामको विवरण</th>
                  <th colspan="3">ईष्टिमेट बमोजिम</th>
                  <th colspan="3">खुद काम भएको</th>
                  <th colspan="3">फरक</th>
                  <th rowspan="2">कैफियत</th>
                </tr>
                <tr>
                  <th>परिमाण </th>
                  <th>दर </th>
                  <th>जम्मा </th>
                  <th>परिमाण </th>
                  <th>दर </th>
                  <th>जम्मा </th>
                  <th>परिमाण </th>
                  <th>दर </th>
                  <th>जम्मा </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of SearchDatas; let i=index;">
                  <td>{{i+1}}</td>
                  <td><b>{{data.descriptionOfWork}}</b></td>
                  <td>{{data.estQty}}</td>
                  <td>{{data.estRate}}</td>
                  <td>{{data.estAmount}}</td>
                  <td>{{data.expQty}}</td>
                  <td>{{data.expRate}}</td>
                  <td>{{data.expAmount}}</td>
                  <td>{{data.diffQty}}</td>
                  <td>{{data.diffRate}}</td>
                  <td>{{data.diffAmount}}</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td style="text-align:right;"><b>Total</b></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><b>{{extraDatas && extraDatas.totalEstAmount}}</b></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><b>{{extraDatas && extraDatas.totalExpAmount}}</b></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><b>{{extraDatas && extraDatas.totalDiffExpAmount}}</b></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="12">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td><b>Allocated Budget</b></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><b>{{extraDatas && extraDatas.totalEstAmount}}</b></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><b>{{extraDatas && extraDatas.totalExpAmount}}</b></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><b>{{extraDatas && extraDatas.totalDiffExpAmount}}</b></td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <table class="table table-bordered" style="font-size:11px;">
              <tr>
                <td><b>A.</b></td>
                <td><b>Total Estimated Amount</b></td>
                <td><b>{{Subtotal}}</b></td>
              </tr>
              <tr>
                <td><b>B.</b></td>
                <td><b>People Participation</b></td>
                <td><b>{{extraDatas && extraDatas['B']}}</b></td>
              </tr>
              <tr>
                <td><b>C.</b></td>
                <td><b>Total Office Part</b></td>
                <td><b>{{extraDatas && extraDatas['C']}}</b></td>
              </tr>
              <tr>
                <td><b>D.</b></td>
                <td><b>Contangency @ 3% of Allocated Budgets</b></td>
                <td><b>{{extraDatas && extraDatas['D']}}</b></td>
              </tr>
              <tr>
                <td><b>E.</b></td>
                <td><b>Income Tax @ 1.5% of Allocated Budgets</b></td>
                <td><b>{{extraDatas && extraDatas['E']}}</b></td>
              </tr>
              <tr>
                <td><b>F.</b></td>
                <td><b>Users Committee Will get after compilation</b></td>
                <td><b>{{extraDatas && extraDatas['F']}}</b></td>
              </tr>
              <tr>
                <td><b>G.</b></td>
                <td><b>Advanced</b></td>
                <td><b>{{extraDatas && extraDatas['G']}}</b></td>
              </tr>
              <tr>
                <td><b>&nbsp;</b></td>
                <td><b>Committee Complition</b></td>
                <td><b>{{extraDatas && extraDatas['H']}}</b></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p style="font-size:12px;text-transform: capitalize;">In Words:- {{extraDatas && extraDatas.inWord}}</p>
            <p style="font-size:11px;">ईष्टिमेट भन्दा घटी बढी भएको कारण -</p>
            <p style="font-size:11px;">स्वीकृत डिजाईन र स्पेशिफिकेशन बमोजिम काम भएको छ भनी प्रमाणित गर्ने -</p>
            <p style="font-size:11px;">द्रष्टव्य बढी भएमा (+) घटी भएमा (-) चिन्ह अंकित गर्ने - (-)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>n