<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:13px;">{{'DEFINE_WORK'|translate}}</h6>
    <div class="main-custom">
      <!-- Update Content -->
      <div class="table-content">
        <div class="table-style">
          <fieldset>
            <legend>{{'ACT_DETAILS'|translate}}</legend>
            <div class="plan-unit-type-details" *ngIf="ViewData">
              <b style="font-size: 13px;">{{'ACTIVITY'|translate}}</b>
              <p>{{ViewData['activityName']}}</p>
              <b style="font-size: 13px;">{{'YEAR'|translate}}</b>
              <p style="font-size: 12px;">{{ViewData['planYear']}}</p>
            </div>
          </fieldset>
        </div>
        <div class="table-style">
          <fieldset style="padding-bottom: 10px!important;">
            <legend>{{'ACT_DETAILS'|translate}}</legend>
            <div class="plan-unit-type-details">
              <jqxValidator #myValidator [hintType]="'tooltip'"
                [position]="'bottom'">
                <form name="outputTypeForm" class="form-style"
                  [formGroup]="outputTypeForm" id="outputTypeForm">
                  <table class="table-w-tooltip">
                    <tr>
                      <td>{{'OUTPUT_TYPE'|translate}} <span style="color:red">*</span></td>
                      <td>
                        <select formControlName="outputType" class="selectpicker
                          select-class select-border"
                          style="width:200px;height:23px;">
                          <option [selected]="true" multiSelect="true" value=''>{{'CHOOSE'|translate}}</option>
                          <option *ngFor="let data of outputTypeAdapter"
                            [value]="data['value']">{{data['nameNepali']}}</option>
                        </select>
                      </td>
                      <td>
                        <jqxButton style="margin-right: 5px;"
                          [theme]="'energyblue'" [disabled]="updated"
                          (onClick)="updateOutputDetails(outputTypeForm.value)">
                          {{'UPDATE'|translate}}
                        </jqxButton>
                        <jqxButton style="margin-right: 5px;" [width]="90"
                          [theme]="'energyblue'" (onClick)="Close()">
                          {{'CLOSE'|translate}}
                        </jqxButton>
                      </td>
                    </tr>
                  </table>
                </form>
              </jqxValidator>
            </div>
          </fieldset>
        </div>
      </div>

      <!-- Work Output Assets Content -->
      <div class="work-output-assets" *ngIf="activityType=='WOA'">
        <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'"
          [position]="'bottom'">
          <form name="workOutputAssetForm" class="form-style"
            [formGroup]="workOutputAssetForm" id="workOutputAssetForm">
            <div class="table-content">
              <div class="table-style">
                <fieldset style="padding-bottom: 10px!important;">
                  <legend>{{'WORK_ASSET'|translate}} - {{'ASSET'|translate}}</legend>
                  <input type="text" name="id" formControlName="id" hidden>
                  <div class="table-style">
                    <fieldset>
                      <legend>{{'ASSET'|translate}} {{'DETAILS'|translate}}</legend>
                      <table class="table-w-tooltip">
                        <tr>
                          <td>सम्पत्ति प्रकार<span style="color:red">*</span></td>
                          <td>{{'ASSET_CATEGORY'|translate}}<span
                              style="color:red">*</span></td>
                          <td>सम्पत्ति उपवर्गीकरण</td>
                          <td>{{'ASSET'|translate}} {{'NAME'|translate}}
                            <span style="color:red">*</span></td>
                          <td>{{'TOT_ASSET'|translate}}<span style="color:red">*</span></td>
                          <td>{{'ASSET_UNIT'|translate}} <span
                              style="color:red">*</span></td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tbody formArrayName="assetDetails">
                          <tr *ngFor="let reqItem of
                            workOutputAssetForm.get('assetDetails')['controls'];let
                            i= index" [formGroupName]="i">
                            <td>
                              <select formControlName="assetType"
                                class="selectpicker select-class
                                select-border"
                                (change)="assetChange()"
                                style="width:200px;height:23px;">
                                <option value=''>{{'CHOOSE'|translate}}</option>
                                <option *ngFor="let data of assetTypeAdapter"
                                  [value]="data['id']">{{data['nameNepali']}}</option>
                              </select>
                            </td>
                            <td>
                              <select formControlName="assetCategory"
                                (change)="assetCategory($event,i);"
                                class="selectpicker select-class
                                select-border"
                                style="width:200px;height:23px;">
                                <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                                <option *ngFor="let data of
                                  assetCreatedAdapter"
                                  [value]="data['assetsCode']">{{data['assetsName']}}</option>
                              </select>
                            </td>
                            <td>
                              <select formControlName="assetSubCatagory"
                                class="selectpicker select-class
                                select-border"
                                style="width:200px;height:23px;">
                                <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                                <option *ngFor="let data of
                                  assetSubCategoryAdapter[i]"
                                  [value]="data['assetsCode']">{{data['assetsName']}}</option>
                              </select>
                            </td>
                            <td>
                              <nepali-input name="assetName"
                                formControlName="assetName" [height]="23"
                                [width]="160"
                                [placeHolder]="'ENTER_ASSETS_NAME' |
                                translate"
                                [inputClass]="'px-control'"></nepali-input>
                            </td>
                            <td>
                              <input type="number" class="px-control"
                                formControlName="totalNoAsset">
                            </td>
                            <td>
                              <select formControlName="unitParameter"
                                class="selectpicker select-class
                                select-border"
                                style="width:200px;height:23px;">
                                <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                                <option *ngFor="let data of planAdapter"
                                  [value]="data['nameNepali']">{{data['nameNepali']}}</option>
                              </select>
                            </td>
                            <td>
                              <a (click)="addItem()" class="btn btn-sm
                                btn-primary px-btn">
                                <i class="fa fa-fw fa-plus"
                                  aria-hidden="true"></i>

                              </a>
                            </td>
                            <td>
                              <button type="button"
                                (click)="removeItem(i)" class="btn btn-sm
                                btn-danger"
                                [disabled]="workOutputAssetForm.get('assetDetails').length
                              <2">
                                <i class="fa fa-times fa-fw"
                                  aria-hidden="true"></i>

                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </fieldset>
                  </div>
                  <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                      <legend>{{'WORK_ASSET'|translate}} - सम्पत्ति रहेको स्थान</legend>
                      <div class="plan-unit-type-details">
                        <table class="table-w-tooltip">
                          <tr>
                            <td>सम्पत्ति रहेको स्थान <span style="color:red">*</span></td>
                            <td>
                              <label for="office"></label>
                              <input name="assetLocation" type="radio"
                                [value]="1" formControlName="assetLocation">
                              {{'OFFICE'|translate}} &nbsp;&nbsp;&nbsp;
                              <input name="assetLocation" type="radio"
                                [value]="2" formControlName="assetLocation">
                              {{'AREA'|translate}}
                            </td>
                          </tr>
                        </table>
                      </div>
                    </fieldset>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </jqxValidator>
      </div>
      <!-- Form Content for Capacity Building -->
      <div class="capacity-building" *ngIf="activityType=='CB'">
        <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'"
          [position]="'bottom'">
          <form name="capacityBuildingForm" class="form-style"
            [formGroup]="capacityBuildingForm" id="capacityBuildingForm">
            <div class="table-content">
              <div class="table-style">
                <fieldset style="padding-bottom: 10px!important;">
                  <legend>{{'CAPACITY_BUILDING'|translate}}</legend>
                  <!-- <div class="table-style">
                    <fieldset>
                      <legend>{{'ACT_DETAILS'|translate}}</legend>
                      <input type="text" name="id" formControlName="id" hidden>
                      <div class="plan-unit-type-details" *ngIf="ViewData">
                        <b style="font-size: 13px;">{{'ACTIVITY'|translate}}</b>
                        <p>{{ViewData['activityName']}}</p>
                        <b style="font-size: 13px;">{{'YEAR'|translate}}</b>
                        <p style="font-size: 12px;">{{ViewData['planYear']}}</p>
                      </div>
                    </fieldset>
                  </div> -->
                  <div class="table-style">
                    <fieldset>
                      <legend>{{'CAPACITY_BUILDING'|translate}}
                        {{'PROGRAM_DETAILS'|translate}}</legend>
                      <table class="table-w-tooltip">
                        <tr>
                          <td>{{'TRAINING_CATEGORY'|translate}}<span
                              style="color:red">*</span></td>
                          <td>
                            <select formControlName="trainingCatagory"
                              class="selectpicker select-class select-border"
                              style="width:200px;height:23px;">
                              <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                              <option *ngFor="let data of
                                trainingCategoryAdapter" [value]="data['id']">{{data['nameNepali']}}</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>{{'ORGANISED_BY'|translate}} <span
                              style="color:red">*</span></td>
                          <td>
                            <select formControlName="organizedBy"
                              class="selectpicker select-class select-border"
                              style="width:200px;height:23px;">
                              <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                              <option *ngFor="let data of organaizeByAdapter"
                                [value]="data['id']">{{data['nameNepali']}}</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>{{'SUB_TRAINING'|translate}} <span
                              style="color:red">*</span>
                          </td>
                          <td>
                            <nepali-input name="subjectOfTraining"
                              formControlName="subjectOfTraining" [height]="23"
                              [width]="250"
                              [placeHolder]="'ENTER_SUBJECT_OF_TRAINING' |
                              translate"
                              [inputClass]="'px-control'"></nepali-input>
                          </td>
                        </tr>
                        <tr>
                          <td>{{'TOT_TRAINEE'|translate}}<span
                              style="color:red">*</span>
                          </td>
                          <td>
                            <jqxInput [theme]="'energyblue'" [height]="23"
                              [width]="160" formControlName="totalTrainess"></jqxInput>
                          </td>
                        </tr>
                        <tr>
                          <td>{{'TOT_DURATION'|translate}}
                            ({{'INDAY'|translate}})
                          </td>
                          <td>
                            <jqxInput class="name" [theme]="'energyblue'"
                              [height]="23" [width]="160"
                              formControlName="totalDuration"></jqxInput>
                          </td>
                        </tr>
                      </table>
                    </fieldset>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </jqxValidator>
      </div>
      <!-- Content for Servie Details -->
      <div class="service-details" *ngIf="activityType=='SD'">
        <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'"
          [position]="'bottom'">
          <form name="serviceDetailsForm" class="form-style"
            [formGroup]="serviceDetailsForm" id="serviceDetailsForm">
            <div class="table-content">
              <div class="table-style">
                <fieldset style="padding-bottom: 10px!important;">
                  <legend>{{'SERVICE_DETAILS'|translate}}</legend>
                  <input type="text" name="id" formControlName="id" hidden>
                  <!-- <div class="table-style">
                    <fieldset>
                      <legend>{{'ACT_DETAILS'|translate}}</legend>
                      <div class="plan-unit-type-details" *ngIf="ViewData">
                        <b style="font-size: 13px;">{{'ACTIVITY'|translate}}</b>
                        <p>{{ViewData['activityName']}}</p>
                        <b style="font-size: 13px;">{{'YEAR'|translate}}</b>
                        <p style="font-size: 12px;">{{ViewData['planYear']}}</p>
                      </div>
                    </fieldset>
                  </div> -->
                  <div class="table-style">
                    <fieldset>
                      <legend>{{'TOT_EXP_BENEFICIAL'|translate}}</legend>
                      <table class="table-w-tooltip">
                        <tr>
                          <td>{{'SERVICES'|translate}} <span style="color:red">*</span></td>
                          <td>
                            <select formControlName="service"
                              class="selectpicker select-class select-border"
                              style="width:200px;height:23px;">
                              <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                              <option *ngFor="let data of serviceDataAdapter"
                                [value]="data['id']">{{data['nameNepali']}}</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>{{'DURATION_SERVICES'|translate}}
                            ({{'INDAY'|translate}})<span style="color:red">*</span>
                          </td>
                          <td>
                            <jqxInput [theme]="'energyblue'"
                              [placeHolder]="'DURATION' | translate"
                              [height]="23" [width]="160"
                              formControlName="durationOfService"></jqxInput>
                          </td>
                        </tr>
                        <tr>
                          <td>{{'TOT_BENEFICIAL'|translate}}<span
                              style="color:red">*</span>
                          </td>
                          <td>
                            <jqxInput class="name" [theme]="'energyblue'"
                              [placeHolder]="'EXPECTED' | translate"
                              [height]="23" [width]="200"
                              formControlName="totalExpectedBeneficiaries"></jqxInput>
                          </td>
                        </tr>
                      </table>
                    </fieldset>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </jqxValidator>
      </div>
      <div style="text-align: center;margin-top: 10px; margin-bottom: 15px;">
        <!--  Service Details -->
        <jqxButton *ngIf="activityType=='SD'"
          [disabled]="!serviceDetailsForm.valid" style="margin-right: 5px;"
          [width]="90" [theme]="'energyblue'"
          (onClick)="Save(serviceDetailsForm.value)">
          {{'SAVE'|translate}}
        </jqxButton>
        <jqxButton *ngIf="activityType=='SD'" style="margin-right: 5px;"
          [width]="90" [theme]="'energyblue'" (onClick)="clear()">
          {{'CLEAR_INDIVIDUAL'|translate}}
        </jqxButton>
        <jqxButton *ngIf="activityType=='SD'" style="margin-right: 5px;"
          [width]="90" [theme]="'energyblue'" (onClick)="Close()">
          {{'CLOSE'|translate}}
        </jqxButton>
        <!-- Capacity Building  -->
        <jqxButton *ngIf="activityType=='CB'"
          [disabled]="!capacityBuildingForm.valid" style="margin-right: 5px;"
          [width]="90" [theme]="'energyblue'"
          (onClick)="Save(capacityBuildingForm.value)">
          {{'SAVE'|translate}}
        </jqxButton>
        <jqxButton *ngIf="activityType=='CB'" style="margin-right: 5px;"
          [width]="90" [theme]="'energyblue'" (onClick)="clear()">
          {{'CLEAR_INDIVIDUAL'|translate}}
        </jqxButton>
        <jqxButton *ngIf="activityType=='CB'" style="margin-right: 5px;"
          [width]="90" [theme]="'energyblue'" (onClick)="Close()">
          {{'CLOSE'|translate}}
        </jqxButton>
        <!-- Asset Output -->
        <jqxButton *ngIf="activityType=='WOA'"
          [disabled]="!workOutputAssetForm.valid" style="margin-right: 5px;"
          [width]="90" [theme]="'energyblue'"
          (onClick)="Save(workOutputAssetForm.value)">
          {{'SAVE'|translate}}
        </jqxButton>
        <jqxButton *ngIf="activityType=='WOA'" style="margin-right: 5px;"
          [width]="90" [theme]="'energyblue'" (onClick)="clear()">
          {{'CLEAR_INDIVIDUAL'|translate}}
        </jqxButton>
        <jqxButton *ngIf="activityType=='WOA'" style="margin-right: 5px;"
          [width]="90" [theme]="'energyblue'" (onClick)="Close()">
          {{'CLOSE'|translate}}
        </jqxButton>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
  [width]="100" [height]="60">
</jqxLoader>
