<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;"> कार्यविधि रिपोर्ट </h6>
    <div class="data-form">
        <app-anusuchi-search-bar
            searchBarTitle = "कार्यविधि रिपोर्ट"
            [noConsumerCommittee]="true"
            (search)="search($event)"
            (loading)="changeLoadingStatus($event)"
            (error)="showError($event)"
        ></app-anusuchi-search-bar>
    </div>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <legend>{{'ACTIVITY_DETAILS' | translate}}</legend>
        <div class="grid-container table-style">
          <div class="button-container text-right">
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!anusuchi17Report.valid" (onClick)="exportReport()">
              {{'EXPORT_EXCEL' | translate}}
            </jqxButton>
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!anusuchi17Report.valid" (onClick)="printReport()">
              {{'PRINT' | translate}}
            </jqxButton>
          </div>
          <div id="reportContainer" style="overflow-y: auto;height: 60vh;">
            <div class="table-container">
              <table border="1" class="table table-bordered table-striped">
                <thead>
                  <!-- <tr>
                    <th [attr.colspan]="16"> अनुसूची –१७ </th>
                  </tr> -->
                  <tr>
                    <th [attr.colspan]="17">
                      <h6 *ngIf="organizationMasterData && organizationMasterData['officeName']">
                        {{organizationMasterData['officeName'] || ''}} </h6>
                        <h5 *ngIf="organizationMasterData && organizationMasterData['orgName']">
                          {{organizationMasterData.orgName}}
                        </h5>
                        <h5 *ngIf="organizationMasterData && organizationMasterData['officeName']">
                          {{organizationMasterData.placeName}},{{organizationMasterData.district}}
                        </h5>
                      </th>
                  </tr>
                 
                  <tr>
                    <th [attr.colspan]="17"> आ.ब. {{planYear | displayNepaliDate}} </th>
                  </tr>
                  <tr>
                    <th [attr.colspan]="17" class="tleft"> कार्यक्रमको नाम ( 
                      <span *ngIf="isRul">गा.</span> 
                      <span *ngIf="!isRul">न.</span> पा. अनुदान बाट परिचालित ) </th>
                  </tr>
                  <tr>
                    <th rowspan="2"> क्र.सं. </th>
                    <th rowspan="2"> आयोजनाको नाम स्थान </th>
                    <th rowspan="2">
                      <span *ngIf="distType !== 'sainamaina'">
                        लागत अनुमान 
                      </span>
                      <span *ngIf="distType === 'sainamaina'">
                        बिनियोजित रकम
                      </span> 
                  </th>
                    <th rowspan="1" colspan="2"> कार्य संचालन प्रक्रिया चिन्ह लगाउने</th>
                    <th rowspan="1" colspan="4"> आयोजना </th>
                    <th rowspan="1" colspan="5"> लागत सहभागिता</th>
                    <th rowspan="1" colspan="3"> आयोजनाबाट लाभान्वित जनसंख्या </th>
                  </tr>
                  <tr>
                    <th rowspan="1">मुल्याङकन</th>
                    <th rowspan="1">उपभोक्ता समिति</th>
                    <th rowspan="1">सम्झौता मिती</th>
                    <th rowspan="1">सम्पन्न मिति</th>
                    <th rowspan="1">भौतिक प्रगति</th>
                    <th rowspan="1">जांचपास मिति</th>
                    <th rowspan="1">नेपाल सरकारको अंश रू</th>
                    <th rowspan="1">प्रदेश सरकारको अंश रु</th>
                    <!-- <th rowspan="1">नगरपालिकाको अंश रु</th> -->
                    <th rowspan="1">न.पा.को अंश रु</th>
                    <th rowspan="1"> लागत सहभागिता</th>
                    <th rowspan="1"> जम्मा रू</th>
                    <th rowspan="1">पुरुष</th>
                    <th rowspan="1"> महिला </th>
                    <th rowspan="1"> जम्मा</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of SearchDatas; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{data.activityName}}</td>
                    <td>{{data.estimatedCost | digitCommas | displayNepaliDate }}</td>
                    <td>{{data.subjectiveOrganization}} </td>
                    <td><span *ngIf="data.isConsumerCommittee == 'Consumer Committe'"> <i class="fa fa-check"></i></span></td>
                    <td>{{data.agreementDate | displayNepaliDate}}</td>
                    <td>{{data.expectedCompletionDate | displayNepaliDate}}</td>
                    <td>{{data.quantity | digitCommas | displayNepaliDate }}</td>
                    <td>{{data.enterDate | displayNepaliDate}}</td>
                    <td>{{data.fromNepalSarkar | digitCommas | displayNepaliDate }}</td>
                    <td>{{data.fromProvience | digitCommas | displayNepaliDate }}</td>
                    <td>{{data.fromNagarpalika | digitCommas | displayNepaliDate }}</td>
                    <td>{{data.fromConsumerCommittee | digitCommas | displayNepaliDate }}</td>
                    <td>{{ data.total | digitCommas | displayNepaliDate }}</td>
                    <td>{{data.benifitedMale | digitCommas | displayNepaliDate }}</td>
                    <td>{{data.benifitedFemale | digitCommas | displayNepaliDate }}</td>
                    <td>{{+data.benifitedFemale + +data.benifitedMale | digitCommas | displayNepaliDate }}</td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
