.grid-container{
    height: calc(100vh - 220px);
    width: 100%;
}
.header{
    padding: 4px;
    background: #efefef;
    margin: 5px;
}
.data-form{
    background: #ffffff;
    padding: 12px;
    .form-style{
        background: #efefef;
        padding: 0px 5px 5px 5px;
    }
}

.table-content{
    background: #ffffff;
    padding: 12px;
    .table-style{
        // background: #efefef;
        padding: 0px 5px 5px 5px;
        fieldset{
            padding-bottom: 10px;
        }
    }
}

.button-container {
    background: #ffffff;
    padding: 6px;
}


/*** Table Design Start ***/

.table-container table th{
    text-align: center;
}

.table-container table .tleft{
    text-align: left !important;
}

.table-container table .tright{
    text-align: right !important;
}