<div class="nepali-input-container" #nepaliInputContainer>
    <label *ngIf="label">{{ label }}</label>
    <textarea #nepaliInput type="text" name="ngValue"  [(ngModel)]="ngValue" (keypress)="keyPressed($event)" (keyup)="inputChanged($event)" autocomplete="off" [placeholder]="placeHolder"></textarea>
  </div>  
