<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;">{{'PROGRAM_TRANSFER'|translate}}</h6>
    <div class="data-form">
      <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
        <form name="programTransferForm" class="form-style" [formGroup]="programTransferForm" id="programTransferForm">
          <fieldset>
            <legend>{{'PROGRAM_TRANSFER'|translate}}</legend>
            <table class="table-w-tooltip" style="width: 100%; padding: 20px">
              <tr>
                <td>{{'FROM'|translate}} *</td>
                <td>
                  <jqxComboBox #list [width]="300" class="nepalify" (onChange)="programChange();" [height]="25"
                    [source]="pAdapter" [selectedIndex]="1" [displayMember]="'name'" [valueMember]="'id'"
                    [theme]="'energyblue'">
                  </jqxComboBox>
                </td>

                <td>{{'BUDGET_AMOUNT'|translate}}
                  <input type="hidden" formControlName="amountOld">
                </td>
                <td width="180px">
                  <input type="number" formControlName="amount" [width]="'100%'" [height]="25" placeHolder="बजेट रकम"
                    Class="px-control">
                  <span style="color: red;font-size: 10px;" *ngIf="amntNew.hasError('invalid')">बजेट रकम धेरै
                    भयाे</span>
                </td>
                <td>{{'TO'|translate}}</td>
                <td>
                  <jqxComboBox #list2 [width]="300" class="nepalify" [height]="25" [source]="pAdapter"
                    [selectedIndex]="1" [displayMember]="'name'" [valueMember]="'id'" [theme]="'energyblue'">
                  </jqxComboBox>
                </td>
              </tr>
              <tr>
                <td>
                  फाइल अप्लोड गर्नुहोस् *
                </td>
                <td>
                  <input type="file" name="document" (change)="handleFileInput($event)" class="px-attachment" multiple
                    accept=".png,.jpg,.pdf,.jpeg,.doc,.docx,.xlsx,.xls">
                </td>
                <td>{{'REMARKS'|translate}}
                </td>
                <td>
                  <nepali-textarea #txt name="remarks" formControlName="remarks" [width]="'100%'" [height]="50"
                    [inputClass]="'px-control-textarea'"></nepali-textarea>
                </td>
                <td style="display:none;">
                  <select formControlName="planYear" class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <!-- <option value=''>{{'CHOOSE'|translate}}</option> -->
                    <option *ngFor="let planYear of planYearAdapter" [value]="planYear['yearCode']">
                      {{planYear['yearName']}}</option>
                  </select>
                </td>
                <td *ngIf="!update">
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!programTransferForm.valid"
                    (onClick)="saveBtn(programTransferForm.value)">
                    {{'SAVE' | translate}}
                  </jqxButton>
                </td>
                <td *ngIf="update">
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!programTransferForm.valid"
                    (onClick)="updateBtn(programTransferForm.value)">
                    {{'UPDATE' | translate}}
                  </jqxButton>
                </td>
                <td *ngIf="update">
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                    <i class="fa fa-times"></i>{{'CANCEL' | translate}}
                  </jqxButton>
                </td>
                <td></td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>
    </div>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <legend>{{'PROGRAM_TRANSFER'|translate}} {{'DETAILS'|translate}}</legend>
        <div class="grid-container table-style">
          <jqxGrid #myGrid [height]="'99.8%'" class="grid-class" [width]="'99.8%'" [source]="dataAdapter"
            [columns]="columns" [pageable]="true" [autorowheight]="true" [sortable]="true" [editable]="true"
            [columngroups]="columngroups" [theme]="'energyblue'" [keyboardnavigation]="true">
          </jqxGrid>

        </div>
      </fieldset>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>