<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator>
    <form name="aboutAmountForm" [formGroup]="aboutAmountForm" id="aboutAmountForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{'AMOUNT_PROVIDER'|translate}}  </legend>
        <table class="table-w-tooltip">
          <tr>
            <td>{{'YEAR'|translate}} *</td>
            <td>
              <select formControlName="planYear" (change)="ChangePlanYear(aboutAmountForm.value['planYear'])" class="selectpicker select-class select-border" style="width:160px;height:23px;">
                <!-- <option [selected]="true" style="font-size: 11px;" value=''> Year</option> -->
                <option *ngFor="let ayear of yearAdapter" [value]="ayear['yearCode']">{{ayear['yearName']}}</option>
              </select>
            </td>
            <td>{{'ACTIVITY'|translate}} *</td>
            <td>

              <jqxComboBox #act [width]="700"  class="nepalify" [height]="25" [source]="activityAdapter" [selectedIndex]="1" [displayMember]="'activityName'"
                [valueMember]="'id'" [theme]="'energyblue'">
              </jqxComboBox>
            </td>
            <td>
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!aboutAmountForm.valid" (onClick)="SearchData(aboutAmountForm.value)">
                {{'SEARCH'|translate}}
              </jqxButton>
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!foForm.valid" (onClick)="printData(foForm.value)">
                {{'PRINT'|translate}}
              </jqxButton>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>
  <div id="printContent">
    <div class="container exam-triplicate" style="page-break-after:always;" *ngIf="SearchDatas.length>0">
      <jqxValidator #myFormValidator>
        <form name="foForm" [formGroup]="foForm" id="foForm">
          <div class="row">
            <div class="col-md-12">
              <div style="display:block;">
                <div class="logo-top" style="display:inline-block; width:40%;text-align:left;vertical-align: top;">
                  <img src="assets/images/logo_mun.png" style="width: 100px; height: auto;">
                </div>
                <div style="display:inline-block; width:49%;text-align:left;">
                  <div class="univ-title">
                    <p style="font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;"सम्बृद, सुसंस्कृत, सुन्दर हराभरा चैनपुर नगर"</p>
                    <p style="font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <b>{{SearchDatas[0]['nagarPalika']}}
                      </b>
                    </p>
                    <p style="font-size: 19px;">
                      <b>नगर कार्यपालिकाको कार्यालय</b>
                    </p>
                    <p style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      {{SearchDatas[0]['address']}}
                    </p>
                    <p style="font-size: 14px;">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      स्था: २०७३</p>
                  </div>
                </div>
              </div>
              <div style="width:100%;display:block;"></div>
              <div class="univ-title" style="text-align:left">
                <p style="font-size: 14px;"> पत्र संख्या:-
                  <input type="text" name="patraSankhya" class="form-style-4" value="{{SearchDatas[0]['planYearName']}}" formControlName="patraSankhya"
                    readonly>
                  <span class="print_show">{{SearchDatas[0]['planYearName']}}</span>
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <p style="font-size: 14px;">
                      चलानी नं:-
                      <nepali-input type="text" name="chalaniNo" [inputClass]="'form-style-4'" formControlName="chalaniNo"></nepali-input>
                      <span class="print_show">{{foForm.value.chalaniNo}}</span>
                    </p>
                  </div>
                  <div class="col-md-6" style="text-align:right;">
                    <p style="font-size: 14px;">
                      १ नं. प्रदेश, नेपाल
                    </p>
                    <p>मिति :-
                      <input type="text" name="date" class="form-style-4" formControlName="date" readonly>
                      <span class="print_show">{{date}}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="padding-left:150px;">
              <p style="font-size:12px;text-align:center">विषय:- रकम दिने सम्बन्धमा</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p style="font-size:12px;">श्रीमान शाखा अधिकृत ज्यू</p>
              <p style="font-size:12px;">
                <input type="text" name="address" class="form-style-4" formControlName="address" readonly>
                <span class="print_show">{{SearchDatas[0]['address']}}</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p style="font-size:12px;">
                यस कार्यालयको मिति .......... गतेको निर्णय अनुसार श्री टुडिखेलबाट जिरोप्वाईन्ट सडक ढलान .................... को योजना कार्यन्वयन
                गर्ने क्रममा श्री ............................लाई देहायानुसारको रकम दिन हुन बिल भर्पाई प्राविधिक प्रगती प्रतिवेदन
                साथमा राखि पठाईएको छ ।
                <br/> पेश्की रकम रु–
                <br/> भुक्तानी दिनु पर्ने रकमः– प्रथम रनिङ्ग बीलबाट २०६४५२१.४५ (बीस लाख चौसठी हजार पाँचसय एक्काईस रुपैया पैंतालिस
                पैसा मात्र)
              </p>
              <table width="90%" border="1">
                <tr>
                  <td>१.</td>
                  <td>आयोजनाको नाम र ठेगाना</td>
                  <td colspan="2">टँुडिखेलबाट जिरोप्वाईन्ट सडक ढलान ================</td>
                </tr>
                <tr>
                  <td>२.</td>
                  <td>आयोजनाको कूल लागत रकम</td>
                  <td>रु. १२४०८९९५.६६</td>
                  <td rowspan="8" width="50%"> </td>
                </tr>
                <tr>
                  <td>३.</td>
                  <td>नगरपालिकाबाट स्वीकृत बजेट</td>
                  <td>रु. १२४०८९९५.६६</td>
                </tr>
                <tr>
                  <td>४.</td>
                  <td>यस रनिङ बीलको जम्मा रकम</td>
                  <td>रु. २१४१५१२.४६</td>
                </tr>
                <tr>
                  <td>५.</td>
                  <td>भ्याटको रकम</td>
                  <td>रु.२१७८५३.२९</td>
                </tr>
                <tr>
                  <td>६.</td>
                  <td>कन्टेजेन्सी (३%) कट्टिको रकम	</td>
                  <td>रु.५०२११.५३</td>
                </tr>
                <tr>
                  <td>७.</td>
                  <td>अग्रिम आयकर(१.५%) कट्टिको रकम</td>
                  <td>रु २५१०५.७६</td>
                </tr>
                <tr>
                  <td>८.</td>
                  <td>वहाल कर/सवारी भाडा/निर्माण ब्यसायी कोष</td>
                  <td>१६७३.७२ </td>
                </tr>
                <tr>
                  <td>९.</td>
                  <td>(पेश्की)</td>
                  <td>रु.०.०</td>
                </tr>
                <tr>
                  <td>१०.</td>
                  <td>हाल पाउने रकम </td>
                  <td>रु. २०६४५२१.४५</td>
                  <td>(बीस लाख चौसठी हजार पाँचसय एक्काईस रुपैया पैंतालिस पैसा मात्र)</td>                  
                </tr>
              </table>
              <p style="font-size:12px;">
                  श्रीमान, उक्त आयोजना चालु आ.व. २०७५÷०५÷२७ को ठेक्का नं . neb 03/2074/75 को 
                  आनन्द कम्पनी सँग भएको सम्झौता अनुसार र प्राबिधिक रनिङ बील बमोजिमको रकम भुक्तानी हुन मनासिब देखि निर्णयार्थ पेश गर्दछु ।
                  <br/>
                  च.हि.नं. ०६०३४०१२५७६०६०१४ कृषि बिकास बैंक, खादबारी (आनन्द कन्स्ट्रक्सन कम्पनी)
              </p>
            </div>
          </div>
          <div class="row" style="height:80px;">

          </div>
          <div class="row">
            <div class="col-md-6" style="text-align:left;">
              <p style="font-size:12px;">(योजना शाखा)</p>
            </div>
            <div class="col-md-6" style="text-align:right;">
              <p style="font-size:12px;">गायत्र श्रेष्ठ </p>
              <p style="font-size:12px;">(शाखा अधिकृत)</p>
            </div>
          </div>
        </form>
      </jqxValidator>
    </div>
  </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>