<form
    *ngIf="check"
    name="anusuchiSearch"
    [formGroup]="anusuchiSearch"
    id="anusuchiSearch"
>
    <fieldset class="jqx-widget-header-energyblue">
        <legend>{{ searchBarTitle }}</legend>
        <table class="table-w-tooltip" *ngIf="showSearchBar">
            <tr>
                <td>{{ 'YEAR' | translate }} *</td>
                <td>
                    <select
                        formControlName="planYear"
                        (change)="getActOrProg()"
                        class="selectpicker select-class select-border"
                        style="width:160px;height:23px;"
                    >
                        <option
                            [selected]="true"
                            style="font-size: 11px;"
                            value=""
                            >{{ 'CHOOSE' | translate }}</option
                        >
                        <option
                            *ngFor="let ayear of yearAdapter"
                            [value]="ayear['yearCode']"
                            >{{ ayear['yearName'] }}</option
                        >
                    </select>
                </td>
                <td>{{ 'YOJANA_STHAR' | translate }}</td>
                <td>
                    <select
                        class="selectpicker select-class select-border"
                        (change)="
                            implementingAgencyChange($event); getActOrProg()
                        "
                        formControlName="parent"
                        style="width:160px;height:23px;"
                    >
                        <option value="" [selected]="true">{{
                            'CHOOSE' | translate
                        }}</option>
                        <option
                            *ngFor="let activity of agencyType"
                            [value]="activity.code"
                            >{{
                                lang == 'en'
                                    ? activity.name
                                    : activity.nameNepali
                            }}</option
                        >
                    </select>
                </td>
                <td *ngIf="childType.length > 0">{{ agencyName }}</td>
                <td *ngIf="childType.length > 0">
                    <select
                        class="selectpicker select-class select-border"
                        (change)="getActOrProg()"
                        formControlName="child"
                        style="width:160px;height:23px;"
                    >
                        <!-- <option  value="" [selected]="true">{{'CHOOSE' | translate}}</option> -->
                        <option
                            *ngFor="let activity of childType"
                            [value]="activity.code"
                            >{{
                                lang == 'en'
                                    ? activity.name
                                    : activity.nameNepali
                            }}</option
                        >
                    </select>
                </td>

                <td *ngIf="showActivity">{{ 'ACTIVITY' | translate }} *</td>
                <td *ngIf="showActivity">
                    <jqxComboBox
                        #act
                        [width]="500"
                        [class]="'nepalify'"
                        [height]="25"
                        [source]="activityAdapter"
                        [displayMember]="'activityName'"
                        [valueMember]="'id'"
                        [theme]="'energyblue'"
                    >
                    </jqxComboBox>
                </td>

                <td *ngIf="showProgram">{{ 'PROGRAM' | translate }}</td>
                <td *ngIf="showProgram">
                    <jqxComboBox
                        #prog
                        [width]="500"
                        [class]="'nepalify'"
                        [height]="25"
                        [source]="programAdapter"
                        [displayMember]="'name'"
                        [valueMember]="'id'"
                        [theme]="'energyblue'"
                    >
                    </jqxComboBox>
                </td>
                <td>
                    <jqxButton
                        style="margin-right: 5px;"
                        [theme]="'energyblue'"
                        [disabled]="!anusuchiSearch.valid"
                        (onClick)="SearchData()"
                    >
                        {{ 'SEARCH' | translate }}
                    </jqxButton>
                </td>
            </tr>
        </table>

        <div *ngIf="showPrint">
            <jqxButton
                style="margin-right: 5px; margin-bottom: 5px; float: right"
                [theme]="'energyblue'"
                (onClick)="print.emit()"
            >
                {{ 'PRINT' | translate }}
            </jqxButton>
            <div style="clear: both"></div>
        </div>
    </fieldset>
</form>
