<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
    <app-anusuchi-search-bar *ngIf="check" searchBarTitle="अनुसूची १ रिपोर्ट" (search)="search($event)"
        (loading)="changeLoadingStatus($event)" (error)="showError($event)"></app-anusuchi-search-bar>

    <div class="header" *ngIf="activityId">
        <h6 style="font-size:12px;">&nbsp;अनुसूची २ रिपोर्ट </h6>
        <div class="table-content">
            <fieldset style="padding-bottom: 10px!important;">
                <legend>{{'ACTIVITY_DETAILS' | translate}}</legend>
                <div class="grid-container table-style">
                    <div class="button-container text-right">
                        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="exportReport()">
                            {{'EXPORT_EXCEL' | translate}}
                        </jqxButton>
                        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="printReport()">
                            {{'PRINT' | translate}}
                        </jqxButton>
                    </div>
                    <div id="reportContainer" style="overflow-y: auto;height: 70vh;">
                        <form name="anusuchi2Report" [formGroup]="anusuchi2Report" id="anusuchi2Report">
                            <div style="line-height:100%;">
                                <p style="text-align:center;font-size: 16px"><b>अनुसूची-२</b></p>
                                <p style="text-align:center;font-size: 16px">(नियम २० को उपनियम (२) को उपनियम (१) सँग
                                    सम्बन्धित)</p>
                                <p style="text-align:center;font-size: 16px"><b>नेपाल सरकार</b></p>
                                <p style="text-align:center;font-size: 16px"><b>............ मन्त्रालय</b></p>
                                <p style="text-align:center;font-size: 16px">कार्यलय/आयोजना</p>
                                <p style="text-align:center;font-size: 16px">आ.वा. {{userData['fy'] | displayNepaliDate}} को {{userData['date'] | displayNepaliDate}} अवधिसम्मको लक्षय
                                    प्रगति विवरण</p>
                            </div>
                            <div class="row" style="margin-left: 50px;">
                                <div class="col-md-8">
                                    <span class="header"> बजेट उपशिर्षक नं. </span></div>
                                <div class="col-md-4">
                                    <span class="header"> (रकम रु. हजारमा)</span>
                                </div>
                                

                                <table width="100%" class="invoice-table" border="1">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class='childT'>क्रम संख्या </th>
                                            <th rowspan="2" class='childT'>कार्यक्रमहरु/क्रियाकलापहरु
                                            </th>
                                            <th rowspan="2" class='childT'>एकाई
                                            </th>
                                            <th colspan="3" class='childT'> वार्षिक लक्ष्य </th>
                                            <th colspan="3" class='childT'>यस..... अवधिसम्मको लक्ष्य
                                            </th>
                                            <th colspan="3" style="text-align: center;" class='childT'>
                                                यस अवधिसम्मको भौतिक प्रगति </th>
                                            <th colspan="2" style="text-align: center;" class='childT'>
                                                यस अवधिसम्मको खर्च
                                            </th>
                                            <th rowspan="2" style="text-align: center;" class='childT'>
                                                कैफियत
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>सूचक </th>
                                            <th>भार </th>
                                            <th>बजेट </th>
                                            <th>सूचक </th>
                                            <th>भार </th>
                                            <th>बजेट </th>
                                            <th>सूचक </th>
                                            <th>भार </th>
                                            <th>प्रतिशत </th>
                                            <th>रकम रु</th>
                                            <th>प्रतिशत </th>
                                        </tr>


                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>
                                                १</th>
                                            <th> <nepali-input name="programName" formControlName="programName" [width]="'100%'" [height]="'23px'"
                                                [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                                            <span class="printShow">{{this.anusuchi2Report.value.programName}}</span>
                                                </th>
                                            <th> <nepali-input name="unit" formControlName="unit" [width]="'100%'" [height]="'23px'"
                                                [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                                            <span class="printShow">{{this.anusuchi2Report.value.unit}}</span>
                                                </th>
                                            <th>
                                                <nepali-input name="yrlyIndex" formControlName="yrlyIndex" [width]="'100%'" [height]="'23px'"
                                            [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                                        <span class="printShow">{{this.anusuchi2Report.value.yrlyIndex}}</span>
                                            </th>
                                            <th>
                                                <nepali-input name="yrlyWeight" formControlName="yrlyWeight" [width]="'100%'" [height]="'23px'"
                                                [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                                <span class="printShow">{{this.anusuchi2Report.value.yrlyWeight}}</span>
                                            </th>
                                            <th>
                                                <nepali-input name="yrlyBudget" formControlName="yrlyBudget" [width]="'100%'" [height]="'23px'"
                                            [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                            <span class="printShow">{{this.anusuchi2Report.value.yrlyBudget}}</span>
                                            </th>
                                            <th>
                                                <nepali-input name="fstIndex" formControlName="fstIndex" [width]="'100%'" [height]="'23px'"
                                            [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                            <span class="printShow">{{this.anusuchi2Report.value.fstIndex}}</span>
                                            </th>
                                            <th>
                                                <nepali-input name="fstWeight" formControlName="fstWeight" [width]="'100%'" [height]="'23px'"
                                            [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                            <span class="printShow">{{this.anusuchi2Report.value.fstWeight}}</span>
                                            </th>
                                            <th>
                                                <nepali-input name="fstBudget" formControlName="fstBudget" [width]="'100%'" [height]="'23px'"
                                            [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                            <span class="printShow">{{this.anusuchi2Report.value.fstBudget}}</span>
                                            </th>
                                            <th>
                                                <nepali-input name="sndIndex" formControlName="sndIndex" [width]="'100%'" [height]="'23px'"
                                            [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                            <span class="printShow">{{this.anusuchi2Report.value.sndIndex}}</span>
                                            </th>
                                            <th><nepali-input name="sndWeight" formControlName="sndWeight" [width]="'100%'" [height]="'23px'"
                                                [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                                <span class="printShow">{{this.anusuchi2Report.value.sndWeight}}</span>
                                            <th>
                                                 <nepali-input name="sndpercentage" formControlName="sndpercentage" [width]="'100%'" [height]="'23px'"
                                                [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                                <span class="printShow">{{this.anusuchi2Report.value.sndpercentage}}</span>
                                            </th>
                                            <th> <nepali-input name="fnlAmt" formControlName="fnlAmt" [width]="'100%'" [height]="'23px'"
                                                [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                                <span class="printShow">{{this.anusuchi2Report.value.fnlAmt}}</span>
                                            </th>
                                            <th> <nepali-input name="fnlpercentage" formControlName="fnlpercentage" [width]="'100%'" [height]="'23px'"
                                                [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
                                                <span class="printShow">{{this.anusuchi2Report.value.fnlpercentage}}</span></th>
                                            <th></th>

                                        </tr>
                                        <tr>
                                            <th>(क)</th>
                                            <th>जम्मा </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>

                                        </tr>
                                        <tr>
                                            <th>(ख)</th>
                                            <th>प्रशासनिक खर्च </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>

                                        </tr>
                                        <tr>
                                            <th>(ग)</th>
                                            <th>कुल जम्मा </th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>

                                        </tr>
                                    </tbody>
                                </table>
                            
                            </div>
                            <div class="footer">
                                <div class="row" style="margin-left: 126px !important">
                                    <div class="col-md-4">
                                        <span class="footer-feild" style="text-align:left;font-size: 13px">योजना शाखा
                                            प्रमुख </span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="footer-feild" style="text-align:center;font-size: 13px">आर्थिक
                                            प्रशासन शाखा प्रमुख
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="footer-feild" style="text-align:right;font-size: 13px">कार्यालय
                                            प्रमुख </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
