<div style="
  padding-right: 100px; 
  padding-left: 100px; 
  padding-top: 20px; 
  position: sticky; 
  top: 0; 
  z-index: 10;
  height: 65px; 
  background: rgb(250, 250, 250);">
  <jqxButton #button [width]='120' [height]='23' (onClick)="close()" style="float: right;">
    बन्द गर्नुहोस्
  </jqxButton>
  <jqxButton #button [width]='120' [height]='23' (onClick)="print()" style="float: right;">
    प्रिन्ट गर्नुहोस्
  </jqxButton>
</div>
<br />
<div id="print-section" style="padding-right: 20px;padding-left: 20px; margin-top: 15px;" *ngIf="dataLists">
  <form name="foForm" [formGroup]="foForm" id="foForm">

    <!-- मुसिकोट ठेक्का -->
    <div *ngIf="distType === 'musikot' && !type">
      <div class="paper" style="page-break-after: always">
        <p style="text-align: center;font-size:20px"><u><b>ठेक्काका शर्त तथा सम्झौता</b></u></p>
        <div id="hideDiv">
          <p style="line-height:1.6;text-align:justify">
            विक्रम संम्वत् <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
              [containerClass]="'containter'" [width]="'100px'" formControlName="aggrementDate"></nepali-input> गते
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'100px'" formControlName="rose"></nepali-input> का दिन नेपाल सरकारको तर्फवाट,
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'400px'" formControlName="firstparty"></nepali-input> (जसलाई यस पछि पहिलो पक्ष भनिने छ ) र
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'500px'" formControlName="secondparty"></nepali-input>, (जसलाई दोश्रो पक्ष भनिनेछ )
            का वीच यस
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'200px'" formControlName="wadaNo"></nepali-input>
            को
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'500px'" formControlName="activityName"></nepali-input>
            सम्बन्धी कार्य गर्न तपाईले बोल काबोल गरे
            वमोजिम रु. <input type=text class="form-style-5" style="width:200px! important" formControlName="estamount"
              (change)="amountChange()">(अक्षरेपी रु.
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'500px'" formControlName="estamountword"></nepali-input>
            )
            (भ्याट समेत ) निम्न शर्तको परिधिभित्र रही कार्य आदेश पाएको मितिले
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'100px'" formControlName="completiondate"></nepali-input>
            गते भित्र काम सम्पन्न गर्ने
            गरी दुवै पक्ष्ँको सहमतिमा यो सम्झौता गरिएको छ ।
          </p>
        </div>
        <div id="showDiv">
          <p style="line-height:1.6;text-align:justify">
            विक्रम संम्वत् <b>{{foForm.value.aggrementDate | displayNepaliDate}}</b> गते
            <b>{{foForm.value.rose}}</b> का दिन नेपाल सरकारको तर्फवाट,
            <b>{{foForm.value.firstparty}}</b> (जसलाई यस पछि पहिलो पक्ष भनिने छ ) र
            <b>{{foForm.value.secondparty}}</b>, (जसलाई दोश्रो पक्ष भनिनेछ )
            का वीच यस
            <b>{{foForm.value.wadaNo}}</b>
            को
            <b>{{foForm.value.activityName}}</b>
            सम्बन्धी कार्य गर्न तपाईले बोल काबोल गरे
            वमोजिम रु. <b>{{foForm.value.estamount | displayNepaliDate}}</b>(अक्षरेपी रु.
            <b>{{foForm.value.estamountword}}</b>
            )
            (भ्याट समेत ) निम्न शर्तको परिधिभित्र रही कार्य आदेश पाएको मितिले
            <b>{{foForm.value.completiondate | displayNepaliDate}}</b>
            गते भित्र काम सम्पन्न गर्ने
            गरी दुवै पक्ष्ँको सहमतिमा यो सम्झौता गरिएको छ ।
          </p>

        </div>
        <div id="hideDiv">
          <p style="line-height:1.6;text-align:justify">
            शर्तहरु
            <br>
            १. कार्यालयवाट दिइएको आदेश निर्देशन वमोजिम स्टीमेटको परिधिभित्र रही तोकिएको काम तोकिएको समयभित्र पुरा
            गर्नुपर्नेछ ।
            <br>
            २. म्यादभित्र कार्य सम्पन्न हुन नसकेमा आर्थिक ऐन नियम वमोजिम जरिवाना तिर्नु पर्ने छ । <br>
            ३. ठेकेदारले यस कार्यालयबाट तोकिएको प्रँविधिकको निर्देशन, ल.ई वमोजिम कार्य गर्नु पर्ने छ । <br>
            ४. निर्माण सामाग्री र त्यसमा लाग्ने श्रमिक समेत प्रविधिक निर्देशन अनुसार लगाउनु पर्नेछ । <br>
            ५. उपरोक्त कार्यको कार्य प्रगति संतोषजनक भएमा <nepali-input type="text" name="activityName"
              [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'200px'" formControlName="aadhaar">
            </nepali-input> को आधारमा
            भुक्तानी दिईनेछ । <br>
            ६.उपरोक्त कार्य गराउदा कुनै दुर्घटनामा परि श्रमिक घाइते भएमा वा अन्य किसिमवाट क्ष्ँति भएमा ठेकेदारले
            व्यहोर्नु पर्नेछ । <br>
            ७. भुक्तानी रकमवाट ५ प्रतिशत रकम धरौटी वापत कट्टी गरी जम्मा गरिनेछ । <br>
            ८.उपरोक्त कार्यमा लाग्ने कर इत्यादी सम्पुर्ण दस्तुर ठेकेदारले व्यहोर्नु पर्ने छ । <br>
            ९. सम्झौताको म्यादभित्र कार्य सम्पन्न नभएमा कामको भुक्तानी दिइने छैन । <br>
            १०.उक्त निर्माण कार्यको मर्मत अवधि काम सम्पन्न भएको ६ (छ) महिनाको हुने छ । सो अवधिमा कुनै त्रुटी देखिएमा
            ठेकेदारले प्राविधिकको निर्देशन अनुसार मर्मत गर्नुपर्नेछ । <br>
            ११. मर्मत अवधिभित्र कुनै त्रुटी देखा नपरेमा काम सम्पन्न भएको ६ (छ) महिना पछि आन्तरिक राजस्व कार्यालयवाट
            मु.अ.कर तथा आयकर समायोजन भएको पत्र प्राप्त भएपछि मात्र धरौटी फिर्ता गरिने छ । <br>
            १२. उपरोक्त कार्यादेश भएको मितिले <b>{{foForm.value.completiondate | displayNepaliDate}}</b> गते भित्र
            सम्पन्न गरि
            सक्नुपर्ने छ । <br>
            १३. यो शर्तमा नपरेका अन्य कुराहरु नेपाल सरकारको प्रचलित ऐन नियम अनुसार हुनेछ । <br>

          </p>
        </div>
        <div id="showDiv">
          <p style="line-height:1.6;text-align:justify">
            शर्तहरु
            <br>
            १. कार्यालयवाट दिइएको आदेश निर्देशन वमोजिम स्टीमेटको परिधिभित्र रही तोकिएको काम तोकिएको समयभित्र पुरा
            गर्नुपर्नेछ ।
            <br>
            २. म्यादभित्र कार्य सम्पन्न हुन नसकेमा आर्थिक ऐन नियम वमोजिम जरिवाना तिर्नु पर्ने छ । <br>
            ३. ठेकेदारले यस कार्यालयबाट तोकिएको प्रँविधिकको निर्देशन, ल.ई वमोजिम कार्य गर्नु पर्ने छ । <br>
            ४. निर्माण सामाग्री र त्यसमा लाग्ने श्रमिक समेत प्रविधिक निर्देशन अनुसार लगाउनु पर्नेछ । <br>
            ५. उपरोक्त कार्यको कार्य प्रगति संतोषजनक भएमा <b>{{foForm.value.aadhaar}}</b> को आधारमा भुक्तानी दिईनेछ ।
            <br>
            ६.उपरोक्त कार्य गराउदा कुनै दुर्घटनामा परि श्रमिक घाइते भएमा वा अन्य किसिमवाट क्ष्ँति भएमा ठेकेदारले
            व्यहोर्नु पर्नेछ । <br>
            ७. भुक्तानी रकमवाट ५ प्रतिशत रकम धरौटी वापत कट्टी गरी जम्मा गरिनेछ । <br>
            ८.उपरोक्त कार्यमा लाग्ने कर इत्यादी सम्पुर्ण दस्तुर ठेकेदारले व्यहोर्नु पर्ने छ । <br>
            ९. सम्झौताको म्यादभित्र कार्य सम्पन्न नभएमा कामको भुक्तानी दिइने छैन । <br>
            १०.उक्त निर्माण कार्यको मर्मत अवधि काम सम्पन्न भएको ६ (छ) महिनाको हुने छ । सो अवधिमा कुनै त्रुटी देखिएमा
            ठेकेदारले प्राविधिकको निर्देशन अनुसार मर्मत गर्नुपर्नेछ । <br>
            ११. मर्मत अवधिभित्र कुनै त्रुटी देखा नपरेमा काम सम्पन्न भएको ६ (छ) महिना पछि आन्तरिक राजस्व कार्यालयवाट
            मु.अ.कर तथा आयकर समायोजन भएको पत्र प्राप्त भएपछि मात्र धरौटी फिर्ता गरिने छ । <br>
            १२. उपरोक्त कार्यादेश भएको मितिले <b>{{foForm.value.completiondate | displayNepaliDate}}</b> गते भित्र
            सम्पन्न गरि
            सक्नुपर्ने छ । <br>
            १३. यो शर्तमा नपरेका अन्य कुराहरु नेपाल सरकारको प्रचलित ऐन नियम अनुसार हुनेछ । <br>
            <b>{{samjhautaAdapter}}</b>
          </p>
        </div>
        <div id="hideDiv" style="width:100%">
          <table style="width:100%">
            <tr>
              <td>ठेकेदारको तर्फवाट दस्तखत गर्ने:</td>
              <td></td>
              <td>कार्यालयको तर्फवाट</td>
              <td></td>
            </tr>
            <tr>
              <td>फर्मको नाम:</td>
              <td>श्री<nepali-input type="text" name="Name" [inputClass]="'form-style-5'"
                  [containerClass]="'containter'" [width]="'80%'" formControlName="fname"></nepali-input>
              </td>
              <td>दस्तखत:</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <nepali-input type="text" name="Name" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'80%'" formControlName="prop"></nepali-input>
              </td>
              <td>नाम:</td>
              <td>
                <nepali-input type="text" name="Name" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'80%'" formControlName="toname"></nepali-input>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>पद:</td>
              <td>
                <nepali-input type="text" name="Name" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'80%'" formControlName="ttitle"></nepali-input>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>मिति:</td>
              <td>
                <nepali-input type="text" name="Name" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'80%'" formControlName="tdate"></nepali-input>
              </td>
            </tr>
          </table>
        </div>
        <div id="showDiv" style="width:100%">
          <table style="width:100%">
            <tr>
              <td>ठेकेदारको तर्फवाट दस्तखत गर्ने:</td>
              <td>कार्यालयको तर्फवाट</td>
            </tr>
            <tr>
              <td>फर्मको नाम:श्री <b>{{foForm.value.fname}}</b></td>
              <td>दस्तखत:</td>
            </tr>
            <tr>
              <td><b>{{foForm.value.prop}}</b></td>
              <td>नाम:<b>{{foForm.value.toname}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td>पद:<b>{{foForm.value.ttitle}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td>मिति:<b>{{foForm.value.tdate | displayNepaliDate}}</b></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="paper">
        <div>
          <app-letterhead></app-letterhead>
        </div>
        <div class="univ-title" style="text-align:left">
          <p style="font-size: 14px;"> पत्र संख्या:-
            <span><b>{{dataLists && dataLists['RemainingPlan'] && dataLists['RemainingPlan'][0] &&
              dataLists['RemainingPlan'][0].planYear | displayNepaliDate}}</b></span>
          </p>
          <div class="row">
            <div class="col-md-6">
              <p style="font-size: 14px;">
                चलानी नं:-

              </p>
            </div>
            <div class="col-md-6" style="text-align:right;">
              <div id="showDiv">
                <p>मिति :-
                  <span id="showDiv"><b>{{foForm.value.date | displayNepaliDate}}</b></span>
                </p>
              </div>
              <div id="hideDiv">
                <p>मिति :-
                  <span id="hideDiv">
                    <nepali-input type="text" name="date" [placeHolder]="'साल-महिना-गते'" [inputClass]="'form-style-4'"
                      [containerClass]="'containter'" [width]="'120px'" formControlName="date"></nepali-input>
                  </span>
                </p>
              </div>

            </div>
          </div>
        </div>

        <p style="text-align: center"><u><b>विषय:– सम्झौता गर्न आउने सम्बन्धमा ।</b></u></p>
        <p>श्री <b>{{ foForm.value.conName }}</b>, <b>{{ foForm.value.conAddress }}</b> </p>
        <div id="hideDiv">

          <div style="line-height:1.6;text-align:justify">

            उपरोक्त बिषयमा यस कार्यालयको मिति
            <nepali-input type="text" name="newspaperDate" [placeHolder]="'साल-महिना-गते'" [inputClass]="'form-style-4'"
              [containerClass]="'containter'" [width]="'120px'" formControlName="newspaperDate"></nepali-input>
            गते‍को
            निर्णय अनुसार ठेक्का नं
            <nepali-input type="text" name="contractNumber" [inputClass]="'form-style-4'"
              [containerClass]="'containter'" [width]="'120px'" formControlName="contractNumber"></nepali-input>,
            <b>{{dataLists && dataLists['RemainingPlan'] && dataLists['RemainingPlan'][0] &&
              dataLists['RemainingPlan'][0].planYear | displayNepaliDate}} </b>
            मा दर्ता हुन आएको बोलपत्र / दरभाउपत्र मध्ये तपाईको कबोल अंक सबैभन्दा कम भएकोले तपसिल बमोजिका कागजातहरु लिई
            <nepali-input type="text" name="contractDay" [inputClass]="'form-style-4'" [containerClass]="'containter'"
              [width]="'120px'" formControlName="contractDay"></nepali-input>
            दिन भित्र सम्झौता गर्न आउनुहुन जानकारी गराइन्छ ।

          </div>

        </div>
        <p id="showDiv" style="line-height:1.6;text-align:justify">

          उपरोक्त बिषयमा यस कार्यालयको मिति
          <b>{{ foForm.value.newspaperDate | displayNepaliDate }}</b>
          गते‍को
          निर्णय अनुसार ठेक्का नं
          <b>{{ foForm.value.contractNumber }}, {{dataLists && dataLists['RemainingPlan'] && dataLists['RemainingPlan'][0] &&
              dataLists['RemainingPlan'][0].planYear | displayNepaliDate}}</b>
          मा दर्ता हुन आएको बोलपत्र / दरभाउपत्र मध्ये तपाईको कबोल अंक सबैभन्दा कम भएकोले तपसिल बमोजिका कागजातहरु लिई
          <b>{{ foForm.value.contractDay }}</b>
          दिन भित्र सम्झौता गर्न आउनुहुन जानकारी गराइन्छ ।

        </p>

        <br>
        <br>
        <table class="bordered-table">
          <tr>
            <td style="width: 30px">सि.न.</td>
            <td>वोलपत्र दाताको नाम ठेगाना</td>
            <td>ल.ई. अंक, मु.अ. कर वाहेक</td>
            <td>कवोल अंक, मु.अ. कर वाहेक</td>
            <td>परफोरमेन्स वोण्ड</td>
            <td>अवधि</td>
            <td>कैफियत</td>
          </tr>
          <tr>
            <td>१</td>
            <td><b>{{ foForm.value.conName }}</b>, <b>{{ foForm.value.conAddress }}</b></td>
            <td>
              <b>{{
                toNumber(
                  dataLists && 
                  dataLists['techCost']
                ) | digitCommas | displayNepaliDate
              }}</b>
            </td>
            <td>
              <b>{{
                toNumber(
                  dataLists && 
                  dataLists['contractDetails'] 
                  && dataLists['contractDetails']['contractAmount']
                ) | digitCommas | displayNepaliDate
              }}</b>
            </td>
            <td>
              <b>{{
                calculateBidAmount(
                  dataLists && dataLists['techCost'], 
                  dataLists && dataLists['contractDetails'] 
                    && dataLists['contractDetails']['contractAmount'])
               | digitCommas | displayNepaliDate
              }}</b>
            </td>
            <td>
              <div class="hide_div">
                <nepali-input type="text" name="awadhi" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  [width]="'120px'" formControlName="awadhi"></nepali-input>
              </div>
              <span class="show_div">
                <b>{{ foForm.value.awadhi }}</b>
              </span>
            </td>
            <td>
              <div class="hide_div">
                <nepali-input type="text" name="contractComments" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="contractComments"></nepali-input>
              </div>
              <span class="show_div">
                <b>{{ foForm.value.contractComments }}</b>
              </span>
            </td>
          </tr>
        </table>
        <br>
        <br>

        <table>
          <tr colspan="2">
            <td style="font-size: 16px">तपसिल</td>
          </tr>
          <tr>
            <td style="font-size: 16px">१)</td>
            <td style="font-size: 16px">इजाजत पत्र</td>
          </tr>
          <tr>
            <td style="font-size: 16px">२)</td>
            <td style="font-size: 16px">कम्पनी रजिश्ट्रेसन प्रमाण-पत्र</td>
          </tr>
          <tr>
            <td style="font-size: 16px">३)</td>
            <td style="font-size: 16px">कर चुक्त्ता प्रमाण-पत्र</td>
          </tr>
          <tr>
            <td style="font-size: 16px">४)</td>
            <td style="font-size: 16px">भ्याट प्यान प्रमाण-पत्र</td>
          </tr>
          <tr>
            <td style="font-size: 16px">५)</td>
            <td style="font-size: 16px">परफोरमेन्स वोण्ड / धरौटी :- मान्यता प्राप्त बैंकबाट जारि गरिएको रु
              <b>{{
                    calculateBidAmount(
                      dataLists && dataLists['techCost'], 
                      dataLists && dataLists['contractDetails'] 
                        && dataLists['contractDetails']['contractAmount'])
                    | displayNepaliDate
                  }}</b>
              को
              <div class="hide_div">
                <nepali-input type="text" name="Name" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'80%'" formControlName="myadDate"></nepali-input>
              </div>
              <span class="show_div">
                <b>{{foForm.value.myadDate | displayNepaliDate}}</b>
              </span>
              सम्म म्याद भएको बैंक जमानत वा यस कार्यलयको नेपाल बैंक लिमिटेड शाखा कार्यलय मुसिकोटमा रहेको धरौटी खाता
              <div class="hide_div">
                <nepali-input type="text" name="Name" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'80%'" formControlName="bankAccount"></nepali-input>
              </div>
              <span class="show_div">
                <b>{{foForm.value.bankAccount | displayNepaliDate}}</b>
              </span>
              मा जम्मा भएको
              <b>{{
                  calculateBidAmount(
                    dataLists && dataLists['techCost'], 
                    dataLists && dataLists['contractDetails'] 
                      && dataLists['contractDetails']['contractAmount'])
                  | displayNepaliDate
                }}</b>
              को सक्कल बैंक भौचर
            </td>
          </tr>
        </table>

        <br><br><br>
        <div style="clear:both;width:100%" id="hideDiv">
          <p style="text-align:right;">
            ........................................... <br />
            <nepali-input type="text" name="prasasan" [inputClass]="'form_change'" [containerClass]="'containter'"
              [width]="'500px'" formControlName="prasasan"></nepali-input>
          </p>
          <p style="text-align:right;">
            <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'300px'" formControlName="padh"></nepali-input>
          </p>
        </div>
        <div style="clear:both;width:100%" id="showDiv">
          <p style="text-align: right">
            <b>{{foForm.value.prasasan}}</b><br>
            <b>{{foForm.value.padh}}</b>
          </p>
        </div>
      </div>
    </div>

    <!-- अरू ठेक्काको -->
    <div *ngIf="distType !== 'musikot' && !type">
      <div class="paper" style="page-break-after: always">
        <p style="text-align: center;font-size:20px"><u><b>ठेक्काका शर्त तथा सम्झौता</b></u></p>
        <div id="hideDiv">
          <p style="line-height:1.6;text-align:justify">
            विक्रम संम्वत् <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
              [containerClass]="'containter'" [width]="'100px'" formControlName="aggrementDate"></nepali-input> गते
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'100px'" formControlName="rose"></nepali-input> का दिन नेपाल सरकारको तर्फवाट,
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'400px'" formControlName="firstparty"></nepali-input> (जसलाई यस पछि पहिलो पक्ष भनिने छ ) र
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'500px'" formControlName="secondparty"></nepali-input>, (जसलाई दोश्रो पक्ष भनिनेछ )
            का वीच यस
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'200px'" formControlName="wadaNo"></nepali-input>
            को
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'500px'" formControlName="activityName"></nepali-input>
            सम्बन्धी कार्य समेतको स्वीकृत लागत इष्टिमेटको दर रेट
            वमोजिम रु. <input type=text class="form-style-5" style="width:200px! important" formControlName="estamount"
              (change)="amountChange()">(अक्षरेपी रु.
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'500px'" formControlName="estamountword"></nepali-input>
            )
            (भ्याट समेत ) निम्न शर्तको परिधिभित्र रही कार्य आदेश पाएको मितिले
            <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'100px'" formControlName="completiondate"></nepali-input>
            गते भित्र काम सम्पन्न गर्ने
            गरी दुवै पक्ष्ँको सहमतिमा यो सम्झौता गरिएको छ ।
          </p>
        </div>
        <div id="showDiv">
          <p style="line-height:1.6;text-align:justify">
            विक्रम संम्वत् <b>{{foForm.value.aggrementDate | displayNepaliDate}}</b> गते
            <b>{{foForm.value.rose}}</b> का दिन नेपाल सरकारको तर्फवाट,
            <b>{{foForm.value.firstparty}}</b> (जसलाई यस पछि पहिलो पक्ष भनिने छ ) र
            <b>{{foForm.value.secondparty}}</b>, (जसलाई दोश्रो पक्ष भनिनेछ )
            का वीच यस
            <b>{{foForm.value.wadaNo}}</b>
            को
            <b>{{foForm.value.activityName}}</b>
            सम्बन्धी कार्य समेतको स्वीकृत लागत इष्टिमेटको दर रेट
            वमोजिम रु. <b>{{foForm.value.estamount | displayNepaliDate}}</b>(अक्षरेपी रु.
            <b>{{foForm.value.estamountword}}</b>
            )
            (भ्याट समेत ) निम्न शर्तको परिधिभित्र रही कार्य आदेश पाएको मितिले
            <b>{{foForm.value.completiondate | displayNepaliDate}}</b>
            गते भित्र काम सम्पन्न गर्ने
            गरी दुवै पक्ष्ँको सहमतिमा यो सम्झौता गरिएको छ ।
          </p>

        </div>
        <div id="hideDiv">
          <p style="line-height:1.6;text-align:justify">
            शर्तहरु
            <br>
            १. कार्यालयवाट दिइएको आदेश निर्देशन वमोजिम स्टीमेटको परिधिभित्र रही तोकिएको काम तोकिएको समयभित्र पुरा
            गर्नुपर्नेछ ।
            <br>
            २. म्यादभित्र कार्य सम्पन्न हुन नसकेमा आर्थिक ऐन नियम वमोजिम जरिवाना तिर्नु पर्ने छ । <br>
            ३. म्याद समाप्त भएको नियमानुसार दिनभित्र पनि कार्य सम्पन्न नभएमा सम्झौता तोडि सार्वजनिक खरिद ऐन २०६३ तथा
            सार्वजनिक खरिद नियमावली २०६४ अनुसार अन्य व्यवस्थावाट कार्य सम्पन्न गराइने छ । <br>
            ४. ठेकेदारले यस कार्यालयबाट तोकिएको प्रँविधिकको निर्देशन, ल.ई वमोजिम कार्य गर्नु पर्ने छ । <br>
            ५. निर्माण सामाग्री र त्यसमा लाग्ने श्रमिक समेत प्रविधिक निर्देशन अनुसार लगाउनु पर्नेछ । <br>
            ६. उपरोक्त कार्यको कार्य प्रगति संतोषजनक भएमा <nepali-input type="text" name="activityName"
              [inputClass]="'form-style-5'" [containerClass]="'containter'" [width]="'200px'" formControlName="aadhaar">
            </nepali-input> को आधारमा
            भुक्तानी दिईनेछ । <br>
            ७.उपरोक्त कार्य गराउदा कुनै दुर्घटनामा परि श्रमिक घाइते भएमा वा अन्य किसिमवाट क्ष्ँति भएमा ठेकेदारले
            व्यहोर्नु पर्नेछ । <br>
            ७. भुक्तानी रकमवाट ५ प्रतिशत रकम धरौटी वापत कट्टी गरी जम्मा गरिनेछ । <br>
            ८. थप आइटमको काम गराउनु परेमा बढीमा सरकारी दररेट अनुसार कार्य गराउन सकिनेछ । <br>
            ९.उपरोक्त कार्यमा लाग्ने कर इत्यादी सम्पुर्ण दस्तुर ठेकेदारले व्यहोर्नु पर्ने छ । <br>
            १०. सम्झौताको म्यादभित्र कार्य सम्पन्न नभएमा कामको भुक्तानी दिइने छैन । <br>
            ११.उक्त निर्माण कार्यको मर्मत अवधि काम सम्पन्न भएको ६ (छ) महिनाको हुने छ । सो अवधिमा कुनै त्रुटी देखिएमा
            ठेकेदारले प्राविधिकको निर्देशन अनुसार मर्मत गर्नुपर्नेछ । <br>
            १२. मर्मत अवधिभित्र कुनै त्रुटी देखा नपरेमा काम सम्पन्न भएको ६ (छ) महिना पछि आन्तरिक राजस्व कार्यालयवाट
            मु.अ.कर तथा आयकर समायोजन भएको पत्र प्राप्त भएपछि मात्र धरौटी फिर्ता गरिने छ । <br>
            १३. उपरोक्त कार्यादेश भएको मितिले <b>{{foForm.value.completiondate | displayNepaliDate}}</b> गते भित्र
            सम्पन्न गरि
            सक्नुपर्ने छ । <br>
            १४. यो शर्तमा नपरेका अन्य कुराहरु नेपाल सरकारको प्रचलित ऐन नियम अनुसार हुनेछ । <br>

          </p>
        </div>
        <div id="showDiv">
          <p style="line-height:1.6;text-align:justify">
            शर्तहरु
            <br>
            १. कार्यालयवाट दिइएको आदेश निर्देशन वमोजिम स्टीमेटको परिधिभित्र रही तोकिएको काम तोकिएको समयभित्र पुरा
            गर्नुपर्नेछ ।
            <br>
            २. म्यादभित्र कार्य सम्पन्न हुन नसकेमा आर्थिक ऐन नियम वमोजिम जरिवाना तिर्नु पर्ने छ । <br>
            ३. म्याद समाप्त भएको नियमानुसार दिनभित्र पनि कार्य सम्पन्न नभएमा सम्झौता तोडि सार्वजनिक खरिद ऐन २०६३ तथा
            सार्वजनिक खरिद नियमावली २०६४ अनुसार अन्य व्यवस्थावाट कार्य सम्पन्न गराइने छ । <br>
            ४. ठेकेदारले यस कार्यालयबाट तोकिएको प्रँविधिकको निर्देशन, ल.ई वमोजिम कार्य गर्नु पर्ने छ । <br>
            ५. निर्माण सामाग्री र त्यसमा लाग्ने श्रमिक समेत प्रविधिक निर्देशन अनुसार लगाउनु पर्नेछ । <br>
            ६. उपरोक्त कार्यको कार्य प्रगति संतोषजनक भएमा <b>{{foForm.value.aadhaar}}</b> को आधारमा भुक्तानी दिईनेछ ।
            <br>
            ७.उपरोक्त कार्य गराउदा कुनै दुर्घटनामा परि श्रमिक घाइते भएमा वा अन्य किसिमवाट क्ष्ँति भएमा ठेकेदारले
            व्यहोर्नु पर्नेछ । <br>
            ७. भुक्तानी रकमवाट ५ प्रतिशत रकम धरौटी वापत कट्टी गरी जम्मा गरिनेछ । <br>
            ८. थप आइटमको काम गराउनु परेमा बढीमा सरकारी दररेट अनुसार कार्य गराउन सकिनेछ । <br>
            ९.उपरोक्त कार्यमा लाग्ने कर इत्यादी सम्पुर्ण दस्तुर ठेकेदारले व्यहोर्नु पर्ने छ । <br>
            १०. सम्झौताको म्यादभित्र कार्य सम्पन्न नभएमा कामको भुक्तानी दिइने छैन । <br>
            ११.उक्त निर्माण कार्यको मर्मत अवधि काम सम्पन्न भएको ६ (छ) महिनाको हुने छ । सो अवधिमा कुनै त्रुटी देखिएमा
            ठेकेदारले प्राविधिकको निर्देशन अनुसार मर्मत गर्नुपर्नेछ । <br>
            १२. मर्मत अवधिभित्र कुनै त्रुटी देखा नपरेमा काम सम्पन्न भएको ६ (छ) महिना पछि आन्तरिक राजस्व कार्यालयवाट
            मु.अ.कर तथा आयकर समायोजन भएको पत्र प्राप्त भएपछि मात्र धरौटी फिर्ता गरिने छ । <br>
            १३. उपरोक्त कार्यादेश भएको मितिले <b>{{foForm.value.completiondate | displayNepaliDate}}</b> गते भित्र
            सम्पन्न गरि
            सक्नुपर्ने छ । <br>
            १४. यो शर्तमा नपरेका अन्य कुराहरु नेपाल सरकारको प्रचलित ऐन नियम अनुसार हुनेछ । <br>
            <b>{{samjhautaAdapter}}</b>
          </p>
        </div>
        <div id="hideDiv" style="width:100%">
          <table style="width:100%">
            <tr>
              <td>ठेकेदारको तर्फवाट दस्तखत गर्ने:</td>
              <td></td>
              <td>कार्यालयको तर्फवाट</td>
              <td></td>
            </tr>
            <tr>
              <td>फर्मको नाम:</td>
              <td>श्री<nepali-input type="text" name="Name" [inputClass]="'form-style-5'"
                  [containerClass]="'containter'" [width]="'80%'" formControlName="fname"></nepali-input>
              </td>
              <td>दस्तखत:</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <nepali-input type="text" name="Name" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'80%'" formControlName="prop"></nepali-input>
              </td>
              <td>नाम:</td>
              <td>
                <nepali-input type="text" name="Name" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'80%'" formControlName="toname"></nepali-input>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>पद:</td>
              <td>
                <nepali-input type="text" name="Name" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'80%'" formControlName="ttitle"></nepali-input>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>मिति:</td>
              <td>
                <nepali-input type="text" name="Name" [inputClass]="'form-style-5'" [containerClass]="'containter'"
                  [width]="'80%'" formControlName="tdate"></nepali-input>
              </td>
            </tr>
          </table>
        </div>
        <div id="showDiv" style="width:100%">
          <table style="width:100%">
            <tr>
              <td>ठेकेदारको तर्फवाट दस्तखत गर्ने:</td>
              <td>कार्यालयको तर्फवाट</td>
            </tr>
            <tr>
              <td>फर्मको नाम:श्री <b>{{foForm.value.fname}}</b></td>
              <td>दस्तखत:</td>
            </tr>
            <tr>
              <td><b>{{foForm.value.prop}}</b></td>
              <td>नाम:<b>{{foForm.value.toname}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td>पद:<b>{{foForm.value.ttitle}}</b></td>
            </tr>
            <tr>
              <td></td>
              <td>मिति:<b>{{foForm.value.tdate | displayNepaliDate}}</b></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="paper">
        <div>
          <app-letterhead></app-letterhead>
        </div>
        <div class="univ-title" style="text-align:left">
          <p style="font-size: 14px;"> पत्र संख्या:-
            <span><b>{{dataLists && dataLists['RemainingPlan'] && dataLists['RemainingPlan'][0] &&
              dataLists['RemainingPlan'][0].planYear | displayNepaliDate}}</b></span>
          </p>
          <div class="row">
            <div class="col-md-6">
              <p style="font-size: 14px;">
                चलानी नं:-

              </p>
            </div>
            <div class="col-md-6" style="text-align:right;">
              <div id="showDiv">
                <p>मिति :-
                  <span id="showDiv"><b>{{foForm.value.date | displayNepaliDate}}</b></span>
                </p>
              </div>
              <div id="hideDiv">
                <p>मिति :-
                  <span id="hideDiv">
                    <nepali-input type="text" name="date" [placeHolder]="'साल-महिना-गते'" [inputClass]="'form-style-4'"
                      [containerClass]="'containter'" [width]="'120px'" formControlName="date"></nepali-input>
                  </span>
                </p>
              </div>

            </div>
          </div>
        </div>

        <p style="text-align: center"><u><b>विषय:– सम्झौता गर्ने सम्बन्धमा ।</b></u></p>
        <p>श्री <b>{{ foForm.value.conName }}</b>, <b>{{ foForm.value.conAddress }}</b> </p>
        <div id="hideDiv">

          <div style="line-height:1.6;text-align:justify">

            उपरोक्त सम्बन्धमा यस कार्यालयको मिति
            <nepali-input type="text" name="newspaperDate" [placeHolder]="'साल-महिना-गते'" [inputClass]="'form-style-4'"
              [containerClass]="'containter'" [width]="'120px'" formControlName="newspaperDate"></nepali-input>
            गते ‍
            <nepali-input type="text" name="newspaper" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'200px'" formControlName="newspaper"></nepali-input>
            पत्रिकामा प्रकाशित भई ठेक्का नं
            <nepali-input type="text" name="contractNumber" [inputClass]="'form-style-4'"
              [containerClass]="'containter'" [width]="'120px'" formControlName="contractNumber"></nepali-input>
            मा दर्ता हुन आएको बोलपत्रहरु मध्ये तपाई
            <b><b>{{ foForm.value.conName }}</b>, <b>{{ foForm.value.conAddress }}</b></b>
            ले सबै भन्दा कम दर रेट कबोल गर्नु भएकोमा तपसिल बमोजिमको कागजातहरु लिई
            आजको मिति ले
            <nepali-input type="text" name="contractDay" [inputClass]="'form-style-4'" [containerClass]="'containter'"
              [width]="'120px'" formControlName="contractDay"></nepali-input>
            दिन भित्र यस कार्यालयमा सम्झौता गर्न जानकारी गराइन्छ ।

          </div>

        </div>
        <p id="showDiv" style="line-height:1.6;text-align:justify">

          उपरोक्त सम्बन्धमा यस कार्यालयको मिति
          <b>{{ foForm.value.newspaperDate | displayNepaliDate }}</b>
          गते ‍
          <b>{{ foForm.value.newspaper | displayNepaliDate }}</b>
          पत्रिकामा प्रकाशित भई ठेक्का नं
          <b>{{ foForm.value.contractNumber }}</b>
          मा दर्ता हुन आएको बोलपत्रहरु मध्ये तपाई
          <b><b>{{ foForm.value.conName }}</b>, <b>{{ foForm.value.conAddress }}</b></b>
          ले सबै भन्दा कम दर रेट कबोल गर्नु भएकोमा तपसिल बमोजिमको कागजातहरु लिई
          आजको मिति ले
          <b>{{ foForm.value.contractDay }}</b>
          दिन भित्र यस कार्यालयमा सम्झौता गर्न जानकारी गराइन्छ ।

        </p>
        <br>
        <br>

        <table class="bordered-table">
          <tr>
            <td style="width: 30px">सि.न.</td>
            <td>वोलपत्र दाताको नाम ठेगाना</td>
            <td>ल.ई. अंक, मु.अ. कर वाहेक</td>
            <td>कवोल अंक, मु.अ. कर वाहेक</td>
            <td>परफोरमेन्स वोण्ड</td>
            <td>अवधि</td>
            <td>कैफियत</td>
          </tr>
          <tr>
            <td>१</td>
            <td><b>{{ foForm.value.conName }}</b>, <b>{{ foForm.value.conAddress }}</b></td>
            <td>
              <b>{{
                toNumber(
                  dataLists && 
                  dataLists['techCost']
                ) | digitCommas | displayNepaliDate
              }}</b>
            </td>
            <td>
              <b>{{
                toNumber(
                  dataLists && 
                  dataLists['contractDetails'] 
                  && dataLists['contractDetails']['contractAmount']
                ) | digitCommas | displayNepaliDate
              }}</b>
            </td>
            <td>
              <div class="hide_div">
                <nepali-input type="text" name="bidAmount" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  [width]="'120px'" formControlName="bidAmount"></nepali-input>
              </div>
              <span class="show_div">
                <b>{{ foForm.value.bidAmount | digitCommas | displayNepaliDate}}</b>
              </span>
              <!-- <b>{{
                calculateBidAmount(
                  dataLists && dataLists['techCost'], 
                  dataLists && dataLists['contractDetails'] 
                    && dataLists['contractDetails']['contractAmount'])
                | digitCommas | displayNepaliDate
              }}</b>   -->
            </td>
            <td>
              <div class="hide_div">
                <nepali-input type="text" name="awadhi" [inputClass]="'form-style-4'" [containerClass]="'containter'"
                  [width]="'120px'" formControlName="awadhi"></nepali-input>
              </div>
              <span class="show_div">
                <b>{{ foForm.value.awadhi }}</b>
              </span>
            </td>
            <td>
              <div class="hide_div">
                <nepali-input type="text" name="contractComments" [inputClass]="'form-style-4'"
                  [containerClass]="'containter'" [width]="'120px'" formControlName="contractComments"></nepali-input>
              </div>
              <span class="show_div">
                <b>{{ foForm.value.contractComments }}</b>
              </span>
            </td>
          </tr>
        </table>

        <table>
          <tr colspan="2">
            <td style="font-size: 16px">तपसिल</td>
          </tr>
          <tr>
            <td style="font-size: 16px">१)</td>
            <td style="font-size: 16px">कम्पनी रजिष्ट्रेसन प्रमाण-पत्र</td>
          </tr>
          <tr>
            <td style="font-size: 16px">२)</td>
            <td style="font-size: 16px">कर चुक्त्ता प्रमाण-पत्र</td>
          </tr>
          <tr>
            <td style="font-size: 16px">३)</td>
            <td style="font-size: 16px">भ्याट प्यान प्रमाण-पत्र</td>
          </tr>
          <tr>
            <td style="font-size: 16px">४)</td>
            <td style="font-size: 16px">परफोरमेन्स वोण्ड</td>
          </tr>
        </table>
        <br>
        <br>
        <br>
        <div style="clear:both;width:100%" id="hideDiv">
          <p style="text-align:right;">
            ........................................... <br />
            <nepali-input type="text" name="prasasan" [inputClass]="'form_change'" [containerClass]="'containter'"
              [width]="'500px'" formControlName="prasasan"></nepali-input>
          </p>
          <p style="text-align:right;">
            <nepali-input type="text" name="padh" [inputClass]="'form-style-5'" [containerClass]="'containter'"
              [width]="'300px'" formControlName="padh"></nepali-input>
          </p>
        </div>
        <div style="clear:both;width:100%" id="showDiv">
          <p style="text-align: right">
            <b>{{foForm.value.prasasan}}</b><br>
            <b>{{foForm.value.padh}}</b>
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="type">
      <div style="text-align: center; position: relative;">
        <div style="left: 109px;position: absolute;">
          <img src="assets/images/government.jpg" height="80px" width="80px" class="user-avatar" />
        </div>
        <div>
          <span style="font-size: 20px;font-weight: bold">अनुसूची २ </span>
          <br />
          <span *ngIf="distType!='sainamaina'">
            <span style="font-size: 20px;font-weight: bold">नेपाल सरकार</span>
            <br />
          </span>
          <span style="font-size: 18px !important;font-weight: bold;"><b>{{heading.officeName}}</b></span>
          <br />
          <span style="font-size: 20px;font-weight: bold;"><b>{{heading.orgName}}</b> </span>
          <br />
          <span
            style="font-size: 16px;font-weight: bold;"><b>{{heading.placeName}}</b>,<b>{{heading.district}}</b></span>
          <br />
          <span style="font-size: 16px;font-weight: bold;"><b>{{heading.province}}</b>,नेपाल</span>
          <br />
          <span style="font-size: 20px;font-weight: bold;">योजना सम्झौता फाराम</span>
          <br />
          <!-- <span style="font-size: 16px;">आव: <b>{{dataLists && dataLists['RemainingPlan'] && dataLists['RemainingPlan'][0] && dataLists['RemainingPlan'][0].planYear}}</b>
        </span> -->
        </div>
      </div>
      <div class="container-fluid">
        <div style="font-size: 16px;">
          <p style="font-size: 16px;">१. सम्झौता गर्ने पक्ष र आयोजनाः</p>
          <ol>
            <p style="font-size: 16px;">क) {{typeText}}को विवरणः
            </p>
            <table style="width: 100%" class="bordered-table">
              <tr>
                <td>१. नामः</td>
                <td>
                  <b>{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] &&
                          dataLists['PlanAgreement'][0].consumerCommitteName}}</b>
                </td>
              </tr>
              <tr>
                <td>२. ठेगानाः</td>
                <td>
                  <b>{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] &&
                          dataLists['PlanAgreement'][0].consumerCommitteAddress}}</b>
                </td>
              </tr>
            </table>

            <p style="font-size: 16px; margin-top: 10px">ख) आयोजनाको विवरणः </p>
            <table style="width: 100%;" class="bordered-table">
              <tr>
                <td>१. नामः</td>
                <td>
                  <b>{{dataLists && dataLists['ActivityDetails'] && dataLists['ActivityDetails'].ActivityName}}</b>
                </td>
                <td>२. स्थलः</td>
                <td><b>{{dataLists && dataLists['RemainingPlan'] && dataLists['RemainingPlan'][0] &&
                    dataLists['RemainingPlan'][0].address}}</b></td>
              </tr>
              <tr>
                <td>३. उद्देश्यः</td>
                <td><b>{{dataLists && dataLists['RemainingPlan'] && dataLists['RemainingPlan'][0] &&
                    dataLists['RemainingPlan'][0].description}}</b></td>
                <td>४. आयोजना स्वीकृत गर्ने निकाय:</td>
                <td><b>{{dataLists && dataLists['data'] && dataLists['data'].issuingAuthority}}</b></td>
              </tr>
              <tr>
                <td>५. सुरु हुने मितिः</td>
                <td> <span *ngIf="dataLists && dataLists['data'] && dataLists['data'].agreementDate"><b>{{dataLists['data'].agreementDate
                    | displayNepaliDate}}</b></span></td>
                <td>६. सम्पन्‍न हुने मितिः</td>
                <td><span style="font-family: arial !important"><b>{{dataLists && dataLists['data'] &&
                    dataLists['data'].estimatedWorkCompletionDate | displayNepaliDate}}</b></span></td>
              </tr>
            </table>
          </ol>
          <p style="font-size: 16px;">२. आयोजनाको लागत सम्बन्धि विवरणः</p>
          <ol>
            <p style="font-size: 16px;">क)
              <span *ngIf="distType === 'sainamaina'">
                बिनियोजित रकम
              </span>
              <span *ngIf="distType === 'bideha'">
                बजेट रु.
              </span>
              <span *ngIf="distType !== 'sainamaina'  && distType !== 'bideha'">
                लागत अनुमान
              </span>
              रू
              <span style="font-family: arial !important">
                <b> {{ activityData && activityData.totalEstimatedCost | digitCommas | displayNepaliDate }}</b>
              </span>

              &nbsp;&nbsp;
              ल.ई. रू

              <span style="font-family: arial !important">
                <b>{{dataLists && dataLists['techCost'] | digitCommas | displayNepaliDate}}</b>
              </span>

              <span *ngIf="distType === 'bideha'">
                &nbsp;&nbsp;
                स्वीकृत रकम रू
                <span style="font-family: arial !important">
                  <b>{{foForm.value.pCost | digitCommas | displayNepaliDate}}</b>
                </span>
              </span>
            </p>
            <p style="font-size: 16px;">ख) लागत व्यहोने स्रोतहरु</p>
            <table style="width: 100%" class="bordered-table">
              <tr>
                <td>१. नेपाल सरकार: रू.
                  <b>
                    {{ dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] &&
                        dataLists['PlanAgreement'][0].grantedFromState | digitCommas | displayNepaliDate }}
                  </b>
                </td>
                <td>
                  २. प्रदेश सरकार: रू.
                  <span style="font-family: arial! important">
                    <b>{{dataLists && dataLists['PlanAgreement'] &&
                        dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].grantedFromNgo | digitCommas | displayNepaliDate}}
                    </b></span>
                </td>
                <td>
                  ३.
                  <span *ngIf="!isRul">नगरपालिका</span>
                  <span *ngIf="isRul">
                    गाउँपालिका
                  </span>:
                  रू. <span style="font-family: arial! important"><b>{{dataLists && dataLists['PlanAgreement'] &&
                        dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].grantedFromLocalLevel |
                        digitCommas |displayNepaliDate}}</b></span>
                </td>
              </tr>
              <tr>
                <td>
                  ४. वडा:
                  रू. <span
                    style="font-family: arial! important"><b>{{dataLists && dataLists['PlanAgreement'] &&
                        dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].grantedFromIngo | digitCommas | displayNepaliDate}}</b></span>
                </td>
                <td>
                  ५. {{typeText}}:
                  रू. <span style="font-family: arial! important"><b>{{dataLists && dataLists['PlanAgreement'] &&
                        dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].grantedFromConsumerCommitte | digitCommas |
                        displayNepaliDate}}</b></span>
                </td>
                <td>
                  ६. अन्यः
                  रू. <span style="font-family: arial! important"><b>{{dataLists && dataLists['RemainingPlan'] &&
                        dataLists['RemainingPlan'][0] && dataLists['RemainingPlan'][0].grantedFromOthers |
                        digitCommas | displayNepaliDate}}</b></span>
                </td>
              </tr>
            </table>
            <p style="font-size: 16px;">
              <b style="margin-top: 10px;"> जम्मा रु. :- </b><b>{{totalAmount | digitCommas | displayNepaliDate}}</b>
            </p>

            <p style="font-size: 16px;">ग) बस्तुगत अनुदानको विवरण</p>
            <table style="font-size: 16px;" class="bordered-table" width="100%">
              <tr>
                <td><b>विवरण</b></td>
                <td><b>सामाग्रीको नाम</b></td>
                <td><b>एकाइ</b></td>
              </tr>
              <tr>
                <td>१. संघबाट</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>२. प्रदेशबाट</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>३. स्थानीय तहबाट</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>४. गैह्रसरकारी संघसंस्थाबाट</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>५. विदेशी दातृ संघ संस्थाबाट</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>६. {{typeText}}बाट</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>७. अन्य निकायबाट</td>
                <td></td>
                <td></td>
              </tr>
            </table>

            <br>
            <!-- <p style="font-size: 16px;">घ) आयोजनाबाट लाभान्वित हुनेः</p> -->
            <p style="font-size: 16px;">घ) आयोजनाबाट लाभान्वित हुनेः</p>
            <ol>
              <p style="font-size: 16px;">१. घरपरिवार संख्याः
                <span style="font-family: arial !important">
                  <b>{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] &&
                  dataLists['PlanAgreement'][0].benifitedHouses | displayNepaliDate}}</b>
                </span>
              </p>
              <p style="font-size: 16px;">२. जनसंख्याः
                <span style="font-family: arial !important">
                  <b>{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] &&
                  dataLists['PlanAgreement'][0].benifitedPopulation | displayNepaliDate}}</b>
                </span>
                &nbsp; क) पुरुष:
                <span style="font-family: arial !important">
                  <b>{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] &&
                  dataLists['PlanAgreement'][0].malePopulation | displayNepaliDate}}</b>
                </span> &nbsp;&nbsp; ख) महिला:
                <span style="font-family: arial !important">
                  <b>{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] &&
                  dataLists['PlanAgreement'][0].femalePopulation | displayNepaliDate}}</b>
                </span> &nbsp;&nbsp; ग) दलित:
                <span style="font-family: arial !important">
                  <b>{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] &&
                  dataLists['PlanAgreement'][0].dalitPopulation | displayNepaliDate}}</b>
                </span> &nbsp;&nbsp; घ) जनजाती:
                <span style="font-family: arial !important">
                  <b>{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] &&
                  dataLists['PlanAgreement'][0].janajatiPopulation | displayNepaliDate}}</b>
                </span> &nbsp;&nbsp; ङ) अन्यः
                <span style="font-family: arial !important">
                  <b>{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] &&
                  dataLists['PlanAgreement'][0].othersPopulation | displayNepaliDate}}</b>
                </span>
              </p>
            </ol>
          </ol>
          <p style="font-size: 16px;">३. {{typeText}}/समुदायमा आधारित संस्था/गैह्रसरकारी संस्थाको विवरणः</p>
          <ol>
            <p style="font-size: 16px;">क) गठन भएको मितिः
              <span style="font-family: arial !important"> : <b>{{dataLists && dataLists['PlanAgreement'] &&
                dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].formationDate
                | displayNepaliDate}}</b>
              </span>
            </p>
            <p style="font-size: 16px;">ख) {{typeText}} गठन गर्दा जम्मा उपस्थित संख्याः
              <span style="font-family: arial !important"> <b>{{dataLists && dataLists['PlanAgreement'] &&
                dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].totalParticipant | digitCommas
                | displayNepaliDate}}</b>
              </span>
            </p>
            <p style="font-size: 16px;">ग) पदाधिकारीको नाम र ठेगाना (नागरिकता प्रमाणपत्र नं. र जिल्ला)</p>

            <!-- kotahimai  -->
            <table *ngIf="distType === 'kotahimai'" style="font-size: 16px" width="100%" class="bordered-table">
              <tr>
                <td>
                  <b>सी.नं.</b>
                </td>
                <td>
                  <b>पद</b>
                </td>
                <td>
                  <b>नाम</b>
                </td>
                <td>
                  <b>पति/पिताको नाम</b>
                </td>
                <td>
                  <b>बाजे/ससुराको नाम</b>
                </td>
                <td>
                  <b>ठेगाना</b>
                </td>
                <td>
                  <b>ना.प्र.नं.</b>
                </td>
                <td>
                  <b>जारी जिल्ला</b>
                </td>
                <td>
                  <b>जारी मिति</b>
                </td>
                <td>
                  <b>फोन नं</b>
                </td>
              </tr>
              <tr *ngFor="let committeData of committeeDetails; let i=index;">
                <td>
                  <span *ngIf="committeData['memberName']!=''">{{(i+1) | displayNepaliDate}}</span></td>
                <td><span *ngIf="committeData['memberName']!=''">{{committeData['memberPost']}}</span></td>
                <td><span *ngIf="committeData['memberName']!=''">
                    {{committeData['memberName']}}</span></td>
                <td><span *ngIf="committeData['memberName']!=''">
                    {{committeData['memberFather']}}</span></td>
                <td><span *ngIf="committeData['memberName']!=''">
                    {{committeData['memberGrandFather']}}</span></td>
                <td><span *ngIf="committeData['memberName']!=''">{{committeData['committeAddress']}}</span></td>
                <td>
                  <span *ngIf="committeData['memberName']!=''">{{committeData['citizenshipNumber'] |
                      displayNepaliDate}}</span></td>
                <td><span *ngIf="committeData['issueDistrict']!=''">
                    {{committeData['issueDistrict']}}</span></td>
                <td><span *ngIf="committeData['issueDate']!=''">
                    {{committeData['issueDate'] | displayNepaliDate}}</span></td>
                <td><span *ngIf="committeData['phoneNumber']!=''">
                    {{committeData['phoneNumber'] | displayNepaliDate}}</span>
                </td>
              </tr>
            </table>

            <!-- other -->
            <table *ngIf="distType != 'kotahimai'" style="font-size: 16px" width="100%" class="bordered-table">
              <tr>
                <td>
                  <b>सी.नं.</b>
                </td>
                <td>
                  <b>पद</b>
                </td>
                <td>
                  <b>नाम</b>
                </td>
                <td>
                  <b>ठेगाना</b>
                </td>
                <td>
                  <b>ना.प्र.नं.</b>
                </td>
                <td>
                  <b>जारी जिल्ला</b>
                </td>
                <td>
                  <b>जारी मिति</b>
                </td>
                <td>
                  <b>फोन नं</b>
                </td>
              </tr>
              <tr *ngFor="let committeData of committeeDetails; let i=index;">
                <td>
                  <span *ngIf="committeData['memberName']!=''">{{(i+1) | displayNepaliDate}}</span></td>
                <td><span *ngIf="committeData['memberName']!=''">{{committeData['memberPost']}}</span></td>
                <td><span *ngIf="committeData['memberName']!=''">
                    {{committeData['memberName']}}</span></td>
                <td><span *ngIf="committeData['memberName']!=''">{{committeData['committeAddress']}}</span></td>
                <td>
                  <span *ngIf="committeData['memberName']!=''">{{committeData['citizenshipNumber'] |
                      displayNepaliDate}}</span></td>
                <td><span *ngIf="committeData['issueDistrict']!=''">
                    {{committeData['issueDistrict']}}</span></td>
                <td><span *ngIf="committeData['issueDate']!=''">
                    {{committeData['issueDate'] | displayNepaliDate}}</span></td>
                <td><span *ngIf="committeData['phoneNumber']!=''">
                    {{committeData['phoneNumber'] | displayNepaliDate}}</span>
                </td>
              </tr>
            </table>

            <p style="font-size: 16px;">घ) गठन गर्दा उपस्थित लाभान्वितको संख्याः
              <b>{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] &&
              dataLists['PlanAgreement'][0].totalBenefited | digitCommas
              | displayNepaliDate}}</b>
            </p>
          </ol>
          <p style="font-size: 16px;">४. अनुगमन समिति सम्बन्धि विवरण: </p>
          <table *ngIf="monitoringCommittees.length>0" class="bordered-table" style="font-size: 16px;">
            <tr>
              <td>
                <b>पद</b>
              </td>
              <td>
                <b>नाम , थर</b>
              </td>

              <td>
                <b>ठेगाना </b>
              </td>
              <td>
                <b>ना.प्र.प.नं.</b>
              </td>
              <td>
                <b>फोन नं.</b>
              </td>
            </tr>
            <tr *ngFor="let mdata of monitoringCommittees">
              <td>
                <span *ngIf="mdata && mdata['post'] && mdata['post']!= null && mdata['post']!= 'null'">{{mdata['post']}}
                </span>
              </td>
              <td>
                <span *ngIf="mdata && mdata['name'] && mdata['name']!= null && mdata['name']!= 'null'">{{mdata['name']}}
                </span>
              </td>
              <td>
                <span
                  *ngIf="mdata && mdata['address'] && mdata['address']!= null && mdata['address'] !='null'">{{mdata['address']}}
                </span>
              </td>
              <td>
                <span
                  *ngIf="mdata && mdata['citizenshipNo'] && mdata['citizenshipNo']!= null && mdata['citizenshipNo']!= 'null'">{{mdata['citizenshipNo']
                  | displayNepaliDate}}
                </span>
              </td>
              <td>
                <span *ngIf="mdata && mdata['mobile'] && mdata['mobile']!= null && mdata['mobile']!= 'null'">{{mdata['mobile']
                  | displayNepaliDate}}
                </span>
              </td>
            </tr>
          </table>
          <p style="font-size: 16px;">५.आयोजना संचालन सम्बन्धि अनुभवः</p>
          <p style="font-size: 16px;">६.{{typeText}} समुदायमा आधारित संस्था/गैह्रसरकारी संस्थाले प्राप्त गने किस्ता
            विवरणः <span *ngIf="distType === 'bideha'">कार्य प्रगति अनुसार</span>
          </p>
          <table *ngIf="distType != 'bideha'" style="width: 100%;font-size: 16px;" class="bordered-table">
            <tr>
              <td><b>किस्ताको क्रम</b></td>
              <td><b>मिति</b></td>
              <td><b>किस्ताको रकम</b></td>
              <td><b>निमाण समाग्री परिमाण</b></td>
              <td><b>कैफियत</b></td>
            </tr>
            <tr>
              <td>पहिलो</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>दोश्रो</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>तेश्रो</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>जम्मा</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
          <p>७. आयोजना मर्मत संभार सम्बन्धी व्यवस्था </p>
          <ol>
            <p style="font-size: 16px;">क) आयोजना ममत संभारको जिम्मा लिने समिति/संस्थाको नामः
              <b>{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] &&
              dataLists['PlanAgreement'][0].consumerCommitteName}}</b></p>
            <p style="font-size: 16px;">ख) ममत सम्भारको सम्भावित स्रोत (छ छैन खुलाउने)</p>

            <ol>
              <table style="font-size: 16px;">
                <tr>
                  <td> &nbsp; &nbsp; <input type="checkbox" disabled></td>
                  <td style="font-size: 16px;">जनश्रमदानः</td>
                </tr>
                <tr>
                  <td>&nbsp; &nbsp; <input type="checkbox" disabled></td>
                  <td style="font-size: 16px;">सेवा शुल्कः</td>
                </tr>
                <tr>
                  <td>&nbsp; &nbsp; <input type="checkbox" disabled></td>
                  <td style="font-size: 16px;">दस्तुर, चन्दाबाटः</td>
                </tr>
                <tr>
                  <td>&nbsp; &nbsp; <input type="checkbox" disabled></td>
                  <td style="font-size: 16px;">अन्य केही भएः </td>
                </tr>
              </table>
            </ol>
          </ol>
        </div>
        <div style="font-size: 16px;">
          <h5 class="text-center"><b>सम्झौताका शर्तहरु</b></h5>
          <div>
            <p style="font-size: 14px;">
              <b>{{typeText}}को जिम्मेवारी तथा पालना गरिने शर्तहरुः</b>
            </p>
            <p style="font-size: 16px;line-height: 2;letter-spacing: 0.5px">१.आयोजना मिति
              <span *ngIf="dataLists && dataLists['data'] && dataLists['data'].agreementDate"><b>{{dataLists['data'].agreementDate
                | displayNepaliDate}}</b></span>
              देखी शुरु गरी मिति <span
                *ngIf="dataLists && dataLists['data'] && dataLists['data'].estimatedWorkCompletionDate"><b>{{dataLists['data'].estimatedWorkCompletionDate
                | displayNepaliDate}}</b></span>
              गते सम्ममा पुरा गर्नुपर्नेछ।
              <br />
              २.प्राप्त रकम तथा निर्माण सामाग्री सम्बन्धित आयोजनाको उद्धेश्यका लागि मात्र गर्नुपर्नेछ । <br />
              ३.नगदी जिन्सी सामानको प्राप्ती, खर्च र बाँकी तथा आयेजनाको प्रगति विवरण राख्नुपर्नेछ । <br />
              ४.आम्दानी खर्चको विवरण र कार्य प्रगतिको जानकारी उपभोक्ता समूहमा छलफल गरी अर्को किस्ता माग गर्नु पर्नेछ ।
              <br />
              ५.आयोजनाको कुल लागत भन्दा घटी लागतमा आयेजना सम्पन्न भएको अवस्थामा सो मुताविक नै अनुदान र श्रमदानको
              प्रतिशत
              निर्धारण गरी भुक्तानी लिनु पर्नेछ । <br />
              ६.{{typeText}}ले प्राविधिकको राय, परामर्श एवं निर्देशन अनुरुप काम गर्नुपर्नेछ । <br />
              ७.{{typeText}}ले आयोजनासंग सम्बन्धित विल, भरपाईहरु, डोर हाजिरी फारमहरु,जिन्सी नगदी खाताहरु,
              समिति/समुहको
              निर्णय पुस्तिका आदि कागजातहरु कार्यालयले मागेको बखत उपलब्ध गराउनु पर्नेछ । <br />
              ८.कुनै सामाग्री खरिद गर्दा आन्तरिक राजस्व कार्यालयबाट स्थायी लेखा नम्बर र मुल्य अभिबृद्धि कर दर्ता प्रमाण
              पत्र प्राप्त व्यक्ति
              वा फर्म संस्था वा कम्पनीबाट खरिद गरी सोही अनुसारको विल भर्पाइ आधिकारीक व्यक्तिबाट प्रमाणित गरी पेश गर्नु
              पर्नेछ ।
              <br />
              ९.मूल्य अभिबृद्धि कर (vat) लाग्ने बस्तु तथा सेवा खरिद गर्दा रु.२०,०००।–भन्दा बढी मूल्यको सामाग्रीमा
              अनिवार्यरुपमा मूल्य अभिबृद्धि कर दर्ता प्रमाण पत्र प्राप्त गरेका व्यक्ति फर्म संस्था वा कम्पनीबाट खरिद
              गर्नु
              पर्नेछ । साथै उक्त बिलमा उल्लेखित मु.अ.कर बाहेकको रकममा १.५ प्रतिशत अग्रीम आयकर बापत करकट्टी गरी बाँकी
              रकम
              मात्र सम्बन्धित सेवा प्रदायकलाई भुक्तानी हुनेछ । रु.२०,०००।– भन्दा कम मूल्यको सामाग्री खरिदमा पान नम्वर
              लिएको
              व्यक्ति वा फर्मबाट फर्मबाट खरिद गर्नुपर्नेछ। अन्यथा खरिद गर्ने पदाधिकारी स्वयम् जिम्मेवार हुनेछ । <br />
              १०.डोजर रोलर लगायतका मेशिनरी सामान भाडामा लिएको एवम् घर बहालमा लिई विल भरपाई पेश भएको अवस्थामा १०% घर
              भाडा कर
              एवम् बहाल कर तिर्नु पर्नेछ । <br />
              ११.प्रशिक्षकले पाउने पारिश्रमिक एवम् सहभागीले पाउने भत्तामा प्रचलित नियमानुसार कर लाग्नेछ । <br />
              १२.निर्माण कार्यको हकमा शुरु लागत अनुमानको कुनै आइटमहरुमा परिर्वतन हुने भएमा अधिकार प्राप्त
              अधिकारी/कार्यालयबाट लागत अनुमान संशोधन गरे पश्चात माात्र कार्य गराउनुपर्नेछ । यसरी लागत अनुमान संशोधन
              नगरी
              कार्य गरेमा {{typeText}}/समुह नै जिम्मेवार हुनेछ । <br />
              १३.{{typeText}}ले काम सम्पन्न गरिसकेपछि बाँकी रहन गएका खप्ने सामानहरु मर्मत सम्भार समिति गठन भएको भए
              सोही
              मितिलाई र सो नभए सम्बन्धित कार्यालयलाई बुझाउनुपर्नेछ । तर मर्मत समितिलाई बुझाएको सामानको विवरण एक पव्रति
              सम्बन्धित कार्यालयलाई जानकारीको लागि बुझाउनु पर्नेछ । <br />
              १४.सम्झौता बमोजिम आयोजना सम्पन्न भएपछि अन्तिम भुक्तानीको लागि कार्य सम्पन्न प्रतिवेदन, नापी
              किताव,प्रमाणित विल
              भरपाई, योजनाको फोटो, सम्बन्धित {{typeText}}ले आयोजना संचालन गर्दा भएको आय व्ययको अनुमोदन सहितको निर्णय,
              उपभोक्ता आम भेलाबाट भएको सार्वजनिक लेखा परिक्षणको निर्णयको प्रतिलिपी तथा सम्बन्धित कार्यालयको वडा
              कार्यालयको
              सहित अन्तिम किस्ता भुक्तानीको लागि निवेदन पेश गर्नुपर्नेछ । <br />
              १५.आयोजना सम्पन्न भएपछि कार्यालयबाट जाँचपास गरी फरफारकको प्रमाण पत्र लिनु पर्नेछ । साथै आयोजनाको मर्मत
              सम्भारको व्यवस्था सम्बन्धित {{typeText}}ले नै गर्नुपर्नेछ । <br />
              १६.आयोनजा कार्यान्वयन गर्ने {{typeText}}/समुहले आयोजनाको भौतिक तथा वित्तीय प्रगति प्रतिवेदन अनुसूची ६
              को
              ढाँचामा सम्झौतामा तोकिए बमोजिम कार्यालयमा पेश गर्नु पर्नेछ । <br />
              १७.आयोजनाको दिगो संचालन तथा मर्मत स्म्भारको व्यवस्था गर्नु पर्नेछ । <br />
              १८.आयोजनाको सबै काम {{typeText}}/समुहको निर्णय अनुसार गर्नु गराउनु पर्नेछ । <br />
              १९.सम्बन्धित योजानालाई आवश्यक पर्ने माटो गाउँपालिकामा राजस्व तिरी अनुमाति लिएर कार्य संचालन गर्नु पर्ने छ
              । <br />
            </p>
            <p style="font-size: 14px;">
              <b>कार्यालयको जिम्मेवारी तथा पालना गरिने शर्तहरु:</b>
            </p>
            <p style="font-size: 16px;line-height: 2;letter-spacing: 0.5px">
              १.आयोजनाको बजेट, {{typeText}}को काम, कर्तव्य तथा अधिकार, खरिद, लेखाङ्कन, प्रतिवेदन
              आदि विषयमा {{typeText}}का पदाधिकारीहरुलाई अनुशिक्षण कार्यक्रम संचालन गरिनेछ । <br />
              २.आयोजनामा आवश्यक प्राविधिक सहयोग कार्यालयबाट उपलब्ध गराउन सकिने अवस्थामा गराइनेछ र नसकिने अवस्था भएमा
              {{typeText}}ले बाह्य बजारबाट सेवा परामर्श अन्तर्गत सेवा लिन सक्नेछ । <br />
              ३.आयोजनाको प्राविधिक सुपरिवेक्षणका लागि कार्यालयको तर्फबाट प्राविधिक खटाइनेछ । {{typeText}}बाट भएको कामको
              नियमित सुपरिवेक्षण गर्ने जिम्मेवारी निज प्राविधिकको हुनेछ । <br />
              ४.पेश्की लिएर लामो समय सम्म आयोजना संचालन नगर्ने {{typeText}}लाई कार्यालय नियम अनुसार कार्यवाही गरिनेछ
              ।
              <br />
              ५.श्रममूलक प्रविधिबाट कार्य गराउने गरी लागत अनुमान स्वीकृत गराई सोही बमोजिम सम्झौता गरी मेशिनरी उपकरणको
              प्रयोगबाट कार्य गरेको पाइएमा त्यस्तो {{typeText}}संग सम्झौता रद्ध गरी {{typeText}}लाई भुक्तानी गरिएको
              रकम
              मूल्यांकन गरी बढी भएको रकम सरकारी बाँकी सरह असुल उपर गरिनेछ । <br />
              ६.आयोजना सम्पन्न भएपछि कार्यालयबाट जाँचपास गरी फरफारक गर्नु पर्नेछ । <br />
              ७.आवश्यक कागजात संलग्न गरी भुक्तानी उपलब्ध गराउन सम्बन्धित {{typeText}}बाट
              अनुरोध भई आएपछि {{typeText}}को बैंक खातामा भुक्तानी दिनु पर्नेछ । <br />
              ८.यसमा उल्लेख नभएका कुराहरु प्रचलित कानून बमोजिम हुनेछ ।<br />

              <!-- <b>{{samjhautaAdapter}}</b> -->
            </p>
            <div class="hide_div" style="width: 100%">
              <p>
                <nepali-textarea type="text" name="samjhautaShirta" [inputClass]="'form-style-5'"
                  [containerClass]="'containter'" [height]="'80px'" formControlName="samjhautaShirta"></nepali-textarea>
              </p>
            </div>
            <div class="show_div" style="display:none;">
              <p><b>{{foForm.value.samjhautaShirta}}</b></p>
            </div>
          </div>
          <br>
          <div class="container-fluid">

            <!-- kotahimai printhidden -->
            <div class="row" *ngIf="distType === 'kotahimai'">
              <div class="col-xs-12 col-md-12" id="hideDiv">
                <table style="font-size:16px" width="100%">
                  <tr>
                    <td colspan="2">{{typeText}}/समुहको तर्फबाट</td>
                    <td colspan="2">गाउँपालिकाको तर्फबाट</td>
                    <td colspan="2">कार्यालयको तर्फबाट</td>
                  </tr>
                  <tr>
                    <td> दस्तखत:
                    </td>
                    <td></td>
                    <td> दस्तखत:
                    </td>
                    <td></td>
                    <td> दस्तखत:
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td> नाम थर :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="ccname"></nepali-input>
                    </td>
                    <td> नाम थर :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="vname"></nepali-input>
                    </td>
                    <td> नाम थर :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="oname"></nepali-input>
                    </td>
                  </tr>
                  <tr>
                    <td> पद: </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="cctitle"></nepali-input>
                    </td>
                    <td> पद: </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="vtitle"></nepali-input>
                    </td>
                    <td> पद: </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="otitle"></nepali-input>
                    </td>
                  </tr>
                  <tr>
                    <td> ठेगाना :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="ccaddress"></nepali-input>
                    </td>
                    <td> ठेगाना :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="vaddress"></nepali-input>
                    </td>
                    <td> ठेगाना : </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="oaddress"></nepali-input>
                    </td>
                  </tr>
                  <tr>
                    <td> सम्पर्क नं :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="cccontact"></nepali-input>
                    </td>
                    <td> सम्पर्क नं :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="vcontact"></nepali-input>
                    </td>
                    <td> सम्पर्क नं : </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="ocontact"></nepali-input>
                    </td>
                  </tr>
                  <tr>
                    <td> मिति :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="ccdate"></nepali-input>
                    </td>
                    <td> मिति :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="vdate"></nepali-input>
                    </td>
                    <td> मिति :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="odate"></nepali-input>
                    </td>
                  </tr>

                  <!-- <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr> -->

                </table>
              </div>
            </div>

            <!-- kotahimai printshow-->
            <div class="row" *ngIf="distType === 'kotahimai'">
              <div class="col-xs-12 col-md-12" id="showDiv" style="width:100%">
                <table style="font-size:16px" width="100%">
                  <tr>
                    <td style="width:33%">{{typeText}}/समुहको तर्फबाट</td>
                    <td style="width:33%">गाउँपालिकाको तर्फबाट </td>
                    <td style="width:33%">कार्यालयको तर्फबाट</td>
                  </tr>
                  <tr>
                    <td>
                      <span style="display: inline-block; padding-top: 30px;">
                        दस्तखत:
                      </span>
                    </td>
                    <td>
                      <span style="display: inline-block; padding-top: 30px;">
                        दस्तखत:
                      </span>
                    </td>
                    <td>
                      <span style="display: inline-block; padding-top: 30px">
                        दस्तखत:
                      </span>
                    </td>

                  </tr>
                  <tr>
                    <td> नाम थर : <b>{{foForm.value.ccname}}</b>
                    </td>
                    <td> नाम थर : <b>{{foForm.value.vname}}</b>
                    </td>
                    <td> नाम थर :<b>{{foForm.value.oname}}</b>
                    </td>
                  </tr>
                  <tr>
                    <td> पद :<b>{{foForm.value.cctitle}}</b></td>
                    <td> पद :<b>{{foForm.value.vtitle}}</b></td>
                    <td> पद : <b>{{foForm.value.otitle}}</b></td>
                  </tr>
                  <tr>
                    <td> ठेगाना :<b>{{foForm.value.ccaddress}}</b></td>
                    <td> ठेगाना :<b>{{foForm.value.vaddress}}</b></td>
                    <td> ठेगाना : <b>{{foForm.value.oaddress}}</b></td>
                  </tr>
                  <tr>
                    <td> सम्पर्क नं :<b>{{foForm.value.cccontact}}</b></td>
                    <td> सम्पर्क नं :<b>{{foForm.value.vcontact}}</b></td>
                    <td> सम्पर्क नं : <b>{{foForm.value.ocontact}}</b></td>
                  </tr>
                  <tr>
                    <td> मिति :<b>{{foForm.value.ccdate | displayNepaliDate}}</b></td>
                    <td> मिति :<b>{{foForm.value.vdate | displayNepaliDate}}</b></td>
                    <td> मिति : <b>{{foForm.value.odate | displayNepaliDate}}</b></td>
                  </tr>
                </table>
              </div>
            </div>


            <!-- aathbiskot and musikot printhidden -->
            <div class="row" *ngIf="distType === 'aathbiskot' || distType === 'musikot'">
              <div class="col-xs-12 col-md-12" id="hideDiv">
                <table style="font-size:16px" width="100%">
                  <tr>
                    <td colspan="2">{{typeText}}/समुहको तर्फबाट</td>
                    <td colspan="2">साक्षि</td>
                    <td colspan="2">कार्यालयको तर्फबाट</td>
                  </tr>
                  <tr>
                    <td> दस्तखत:
                    </td>
                    <td></td>
                    <td> दस्तखत:
                    </td>
                    <td></td>
                    <td> दस्तखत:
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td> नाम थर :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="ccname"></nepali-input>
                    </td>
                    <td> नाम थर :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="sname"></nepali-input>
                    </td>
                    <td> नाम थर :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="oname"></nepali-input>
                    </td>
                  </tr>
                  <tr>
                    <td> पद: </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="cctitle"></nepali-input>
                    </td>
                    <td> पद: </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="stitle"></nepali-input>
                    </td>
                    <td> पद: </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="otitle"></nepali-input>
                    </td>
                  </tr>
                  <tr>
                    <td> ठेगाना :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="ccaddress"></nepali-input>
                    </td>
                    <td> ठेगाना :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="saddress"></nepali-input>
                    </td>
                    <td> ठेगाना : </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="oaddress"></nepali-input>
                    </td>
                  </tr>
                  <tr>
                    <td> सम्पर्क नं :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="cccontact"></nepali-input>
                    </td>
                    <td> सम्पर्क नं :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="scontact"></nepali-input>
                    </td>
                    <td> सम्पर्क नं : </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="ocontact"></nepali-input>
                    </td>
                  </tr>
                  <tr>
                    <td> मिति :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="ccdate"></nepali-input>
                    </td>
                    <td> मिति :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="sdate"></nepali-input>
                    </td>
                    <td> मिति :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="odate"></nepali-input>
                    </td>
                  </tr>

                  <!-- <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr> -->

                </table>
              </div>
            </div>

            <!-- aathbiskot and musikot printshow-->
            <div class="row" *ngIf="distType === 'aathbiskot' || distType === 'musikot'">
              <div class="col-xs-12 col-md-12" id="showDiv" style="width:100%">
                <table style="font-size:16px" width="100%">
                  <tr>
                    <td style="width:33%">{{typeText}}/समुहको तर्फबाट</td>
                    <td style="width:33%">साक्षि</td>
                    <td style="width:33%">कार्यालयको तर्फबाट</td>
                  </tr>
                  <tr>
                    <td>
                      <span style="display: inline-block; padding-top: 30px;">
                        दस्तखत:
                      </span>
                    </td>
                    <td>
                      <span style="display: inline-block; padding-top: 30px;">
                        दस्तखत:
                      </span>
                    </td>
                    <td>
                      <span style="display: inline-block; padding-top: 30px">
                        दस्तखत:
                      </span>
                    </td>

                  </tr>
                  <tr>
                    <td> नाम थर : <b>{{foForm.value.ccname}}</b>
                    </td>
                    <td> नाम थर : <b>{{foForm.value.sname}}</b>
                    </td>
                    <td> नाम थर :<b>{{foForm.value.oname}}</b>
                    </td>
                  </tr>
                  <tr>
                    <td> पद :<b>{{foForm.value.cctitle}}</b></td>
                    <td> पद :<b>{{foForm.value.stitle}}</b></td>
                    <td> पद : <b>{{foForm.value.otitle}}</b></td>
                  </tr>
                  <tr>
                    <td> ठेगाना :<b>{{foForm.value.ccaddress}}</b></td>
                    <td> ठेगाना :<b>{{foForm.value.saddress}}</b></td>
                    <td> ठेगाना : <b>{{foForm.value.oaddress}}</b></td>
                  </tr>
                  <tr>
                    <td> सम्पर्क नं :<b>{{foForm.value.cccontact}}</b></td>
                    <td> सम्पर्क नं :<b>{{foForm.value.scontact}}</b></td>
                    <td> सम्पर्क नं : <b>{{foForm.value.ocontact}}</b></td>
                  </tr>
                  <tr>
                    <td> मिति :<b>{{foForm.value.ccdate | displayNepaliDate}}</b></td>
                    <td> मिति :<b>{{foForm.value.sdate | displayNepaliDate}}</b></td>
                    <td> मिति : <b>{{foForm.value.odate | displayNepaliDate}}</b></td>
                  </tr>
                </table>
              </div>
            </div>

            <!-- others printhidden -->
            <div class="row" *ngIf="distType != 'kotahimai' && distType != 'aathbiskot' && distType != 'musikot'">
              <div class="col-xs-12 col-md-12" id="hideDiv">
                <table style="font-size:16px" width="100%">
                  <tr>
                    <td colspan="2">{{typeText}}/समुहको तर्फबाट</td>
                    <!-- <td>योजना साखाको तर्फबाट </td> -->
                    <td colspan="2">
                      कार्यालयको तर्फबाट</td>
                  </tr>
                  <tr>
                    <td> दस्तखत:
                    </td>
                    <td></td>
                    <td> दस्तखत:
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td> नाम थर :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="ccname"></nepali-input>
                    </td>
                    <td> नाम थर :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="oname"></nepali-input>
                    </td>
                  </tr>
                  <tr>
                    <td> पद: </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="cctitle"></nepali-input>
                    </td>
                    <td> पद: </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="otitle"></nepali-input>
                    </td>
                  </tr>
                  <tr>
                    <td> ठेगाना :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="ccaddress"></nepali-input>
                    </td>
                    <td> ठेगाना : </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="oaddress"></nepali-input>
                    </td>
                  </tr>
                  <tr>
                    <td> सम्पर्क नं :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="cccontact"></nepali-input>
                    </td>
                    <td> सम्पर्क नं : </td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="ocontact"></nepali-input>
                    </td>
                  </tr>
                  <tr>
                    <td> मिति :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="ccdate"></nepali-input>
                    </td>
                    <td> मिति :</td>
                    <td>
                      <nepali-input type="text" name="activityName" [inputClass]="'form-style-5'"
                        [containerClass]="'containter'" [width]="'100%'" formControlName="odate"></nepali-input>
                    </td>
                  </tr>

                  <!-- <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr> -->

                </table>
              </div>
            </div>

            <!-- others printView -->
            <div class="row" *ngIf="distType != 'kotahimai' && distType !=='aathbiskot' && distType !== 'musikot'">
              <div class="col-xs-12 col-md-12" id="showDiv" style="width:100%">
                <table style="font-size:16px" width="100%">
                  <tr>
                    <td style="width:49%">{{typeText}}/समुहको तर्फबाट</td>
                    <!-- <td>योजना साखाको तर्फबाट </td> -->
                    <td style="width:49%">
                      कार्यालयको तर्फबाट</td>
                  </tr>
                  <tr>
                    <td>
                      <span style="display: inline-block; padding-top: 30px;">
                        दस्तखत:
                      </span>
                    </td>
                    <td>
                      <span style="display: inline-block; padding-top: 30px">
                        दस्तखत:
                      </span>
                    </td>

                  </tr>
                  <tr>
                    <td> नाम थर : <b>{{foForm.value.ccname}}</b>
                    </td>
                    <td> नाम थर :<b>{{foForm.value.oname}}</b>
                    </td>
                  </tr>
                  <tr>
                    <td> पद :<b>{{foForm.value.cctitle}}</b></td>
                    <td> पद : <b>{{foForm.value.otitle}}</b></td>
                  </tr>
                  <tr>
                    <td> ठेगाना :<b>{{foForm.value.ccaddress}}</b></td>
                    <td> ठेगाना : <b>{{foForm.value.oaddress}}</b></td>
                  </tr>
                  <tr>
                    <td> सम्पर्क नं :<b>{{foForm.value.cccontact}}</b></td>
                    <td> सम्पर्क नं : <b>{{foForm.value.ocontact}}</b></td>
                  </tr>
                  <tr>
                    <td> मिति :<b>{{foForm.value.ccdate | displayNepaliDate}}</b></td>
                    <td> मिति : <b>{{foForm.value.odate | displayNepaliDate}}</b></td>
                  </tr>


                </table>
              </div>
            </div>

          </div>
        </div>


        <br>

      </div>
    </div>
  </form>
</div>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>