#showDiv {
    display: none !important;
}
#hideDiv {
    display: inline-block !important;
}

.paper {
    margin: 20px;
    padding: 30px;
    background-color: white;
}

.show_div {
    display: none !important;
}

.hide_div {
    display: inline-block !important;
}

.bordered-table {
    tr,
    td, th {
        border: 1px solid black;
        font-size: 16px;
    }
    th{
        padding-left: 5px;
    }
    width: 100%;
}

.table-bordered td {
    padding: 5px;
}

p,
ul,
ol,
li {
    font-size: 16px;
}
