#showDiv {
  display: none !important;
}

#hideDiv {
  display: inline-block !important;
}

.show_div {
  display: none !important;
}

.hide_div {
  display: inline-block !important;
}

.print_show {
    display: none !important;
}

.print_hide {
    display: inline-block !important;
}

.paper {
  margin: 20px;
  padding: 30px;
  background-color: white;
}
/*# sourceMappingURL=administrtive-approval-aggrement.component.css.map */
