<div class="container-fluid">
  <div>
    <div class="box-container">
      <form name="financialProgressForm" [formGroup]="financialProgressForm" id="financialProgressForm">
        <div class="fieldset-container">
          <fieldset>
            <legend>{{'PROGRESS_DETAIL'|translate}}</legend>
            <div class="row">
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>माग मिति ({{'BS'|translate}})</label>
                </div>
              </div>
              <div class="col-3 col-md-4 ">
                <div class="form-group">
                  <input type="hidden" name="id" formControlName="id" class="px-control" />
                  <jqxInput [width]="'100%'" [placeHolder]="'YYYY-MM-DD'" [height]="25" formControlName="enterDate">
                  </jqxInput>
                  <small *ngIf="!financialProgressForm.get('enterDate').valid" style="color:red">
                    Date format :- 2075-01-01
                  </small>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>भौतिक अनुगमन चरण</label>
                </div>
              </div>
              <div class="col-3 col-md-4">
                <div class="form-group">
                  <label><b>{{ charanName}} </b></label>
                  <!-- <select class="px-control" formControlName="investigationStage">
                      <option value="" [selected]="true"> {{'CHOOSE' | translate}} </option>
                      <option *ngFor="let data of investigationStageAdapter" [value]="data.id">{{data.name}}</option>
                    </select> -->
                </div>
              </div>

              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>{{'BILLED_AMOUNT'|translate}}</label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <input type="text" name="billedAmount" formControlName="billedAmount"
                    (change)="chnge($event.target.value)" class="px-control">
                </div>
              </div>

              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>{{'ISSUED_AMOUNT'|translate}}</label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <input type="number" name="issueAmount" formControlName="issueAmount"
                    (change)="issueChange($event.target.value)" class="px-control">
                </div>
              </div>
              <span>बाँकि: {{ limitAmount | digitCommas | displayNepaliDate}}</span>

              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>जारी मिति</label>
                </div>
              </div>
              <div class="col-3 col-md-4">
                <div class="form-group">
                  <input type="text" placeHolder="YYYY-MM-DD" name="issueDate" formControlName="issueDate"
                    class="px-control">
                  <small *ngIf="!financialProgressForm.get('issueDate').valid" style="color:red">
                    Date format :- 2075-01-01
                  </small>
                </div>
              </div>

            </div>
          </fieldset>

          <fieldset>
            <!-- Excel Sheet -->
            <legend>{{'BILL_DOC'|translate}}</legend>
            <table>
              <tr>
                <td>
                  <input type="file" (change)="fileEventM($event)" class="attachment">
                  &nbsp;
                  <a *ngIf="selectedEditData && selectedEditData['data'] && selectedEditData['data']['excelDocument']!='' && selectedEditData && selectedEditData['data'] && selectedEditData['data']['excelDocument']!=null"
                    href="{{docUrl}}{{selectedEditData && selectedEditData['data'] && selectedEditData['data']['excelDocument']}}"
                    target="_blank">फाइल&nbsp;हेर्नुहोस्</a>
                  <button class="add-cross btn-danger"
                    *ngIf="selectedEditData && selectedEditData['data'] && selectedEditData['data']['excelDocument']!='' && selectedEditData && selectedEditData['data'] && selectedEditData['data']['excelDocument']!=null"
                    type="submit"
                    (click)="deleteImage(selectedEditData && selectedEditData['data'] && selectedEditData['data']['excelDocument'])">{{'DELETE_INDIVIDUAL'|translate}}</button>
                </td>
              </tr>
            </table>
          </fieldset>

          <fieldset>
            <legend>{{'ISSUE_DOC'|translate}}</legend>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group" style="padding: 15px 0;">
                  <input type="file" name="attachments" (change)="handleFileInput($event, 'issue')"
                    class="px-control attachment" multiple accept=".png,.jpg,.pdf,.jpeg,.doc,.docx,.xlsx,.xls">
                </div>
              </div>
              <div class="col-md-9" *ngIf="editViewData && editViewData['issueDocument']">
                <div class="row">
                  <div class="col-4" *ngFor="let data of editViewData['issueDocument']; let i = index;">
                    <div class="file">
                      <div class="image-container"
                        *ngIf="editViewData['issueType'][i] == 'png' || editViewData['issueType'][i] == 'jpg' || editViewData['issueType'][i] == 'jpeg'">
                        <button class="add-cross btn-danger" type="submit"
                          (click)="deleteImage(data)">{{'DELETE_INDIVIDUAL'|translate}}</button>
                        <img src="{{docUrl+'/'+data}}">
                      </div>
                      <div class="link-container"
                        *ngIf="editViewData['issueType'][i] != 'png' && editViewData['issueType'][i] != 'jpg' && editViewData['issueType'][i] != 'jpeg'">
                        <a href="{{docUrl+'/'+data}}" target="_blank">
                          <i class="fa fa-file" aria-hidden="true"></i> {{ data }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{'ATTACHMENT'|translate}}</legend>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group" style="padding: 15px 0;">
                  <input type="file" name="attachments" (change)="handleFileInput($event, 'attachment')"
                    class="px-control attachment" multiple accept=".png,.jpg,.pdf,.jpeg,.doc,.docx,.xlsx,.xls">
                </div>
              </div>
              <div class="col-md-9" *ngIf="editViewData && editViewData['attDocument']">
                <div class="row">
                  <div class="col-4" *ngFor="let data of editViewData['attDocument']; let i = index;">
                    <div class="file">
                      <div class="image-container"
                        *ngIf="editViewData['attType'][i] == 'png' || editViewData['attType'][i] == 'jpg' || editViewData['attType'][i] == 'jpeg'">
                        <button class="add-cross btn-danger" type="submit"
                          (click)="deleteImage(data)">{{'DELETE_INDIVIDUAL'|translate}}</button>
                        <img src="{{docUrl+'/'+data}}">
                      </div>
                      <div class="link-container"
                        *ngIf="editViewData['attType'][i] != 'png' && editViewData['attType'][i] != 'jpg' && editViewData['attType'][i] != 'jpeg'">
                        <a href="{{docUrl+'/'+data}}" target="_blank">
                          <i class="fa fa-file" aria-hidden="true"></i> {{ data }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <div class="form-group" style="padding: 15px 0;">
                <jqxButton *ngIf="!selectedEditData" style="margin-right: 5px;margin-top: 10px;" [width]="100"
                  [height]="25" [theme]="'energyblue'" [disabled]="!financialProgressForm.valid"
                  (onClick)="save(financialProgressForm.value)">
                  {{'SAVE'|translate}}
                </jqxButton>
                <jqxButton *ngIf="selectedEditData" style="margin-right: 5px;margin-top: 10px;" [width]="100"
                  [height]="25" [theme]="'energyblue'" [disabled]="!financialProgressForm.valid"
                  (onClick)="edit(financialProgressForm.value)">
                  {{'EDIT'|translate}}
                </jqxButton>
                <jqxButton style="margin-right: 5px;margin-top: 10px;" [width]="100" [height]="25"
                  [theme]="'energyblue'" [disabled]="!financialProgressForm.valid" (onClick)="resetForm()">
                  {{'RESET'|translate}}
                </jqxButton>

                <jqxButton [width]="110" #button (onClick)="close()">
                  बन्द गर्नुहोस्
                </jqxButton>
                <jqxButton [width]="110" (onClick)="forward()">
                  भौतिकमा जानुहोस्
                </jqxButton>

              </div>
            </div>
          </div>
          <fieldset>
            <legend>{{'PROGRESS_LIST'|translate}}</legend>
            <div class="row">
              <div class="col-12">
                <table class="table tabl-bordered table-stripped">
                  <thead>
                    <tr>
                      <th style="background-color: #eef5e8;">मिति</th>
                      <th style="background-color: #eef5e8;">अनुगमन चरण</th>
                      <!-- <th style="background-color: #eef5e8;">कार्य सम्पन्न प्रतिशत</th> -->
                      <th style="background-color: #eef5e8;">{{'BILLED_AMOUNT'|translate}}</th>
                      <th style="background-color: #eef5e8;">{{'ISSUED_AMOUNT'|translate}}</th>
                      <th style="background-color: #eef5e8;">बाँकि रकम</th>
                      <th style="background-color: #eef5e8;">बिल डकुमेन्ट</th>
                      <th style="background-color: #eef5e8;">जारी डकुमेन्ट</th>
                      <th style="background-color: #eef5e8;">अन्य संलग्न गर्नुपर्ने डकुमेन्ट</th>
                      <th style="background-color: #eef5e8;" colspan="2">{{'TIPADI_ADESH'|translate}}</th>

                    </tr>
                  </thead>
                  <tbody *ngIf="financialProgressData && financialProgressData.length>0">
                    <tr *ngFor="let data of financialProgressData; let i = index">
                      <td> {{ data['data']['enterDate'] | displayNepaliDate}}</td>
                      <td> {{ data['data']['investigationStage'] && data['data']['investigationStage'].name }}</td>
                      <!-- <td> {{ data['data']['workCompletionPercentage'] }}</td> -->
                      <td> {{ data['data']['billedAmount'] | digitCommas | displayNepaliDate }}</td>
                      <td> {{ data['data']['issueAmount'] | digitCommas | displayNepaliDate}}</td>
                      <td> {{ (data['totalremainingAmt']) | digitCommas | displayNepaliDate}}</td>
                      <td>
                        <!-- <span *ngIf="data['data']['billDocument']">
                            <button class="btn btn-info btn-sm" (click)="viewExcelData(data['data'])">हेर्नुहोस्</button>
                          </span> -->
                        <span *ngIf="data['billDocument'] && data['billDocument'].length == 0">
                          फाइल छैन
                        </span>
                        <a *ngIf="data['billDocument']!='' && data['billDocument']!=null"
                          href="{{docUrl}}{{data['billDocument'][0]}}" target="_blank">फाइल&nbsp;हेर्नुहोस्</a>

                      </td>
                      <td>

                        <span *ngIf="data['issueDocument']">
                          <a *ngFor="let image of data['issueDocument']; let i = index" href="{{docUrl}}{{image}}"
                            target="_blank">
                            फाइल {{ i + 1 | displayNepaliDate }}
                            <span *ngIf="i != data['issueDocument'].length - 1">,</span>
                          </a>
                        </span>
                        <span *ngIf="!data['issueDocument'][0]">
                          फाइल छैन
                        </span>
                      </td>
                      <td>
                        <span *ngIf="data['attDocument']">
                          <a *ngFor="let image of data['attDocument']; let i = index" href="{{docUrl}}{{image}}"
                            target="_blank">
                            फाइल {{ i + 1 | displayNepaliDate }}
                            <span *ngIf="i != data['attDocument'].length - 1">,</span>
                          </a>
                        </span>
                        <span *ngIf="!data['attDocument'][0]">
                          फाइल छैन
                        </span>
                      </td>
                      <td>
                        <!-- <button class="btn btn-info btn-sm" (click)="viewData(data)"> {{'VIEW'|translate}}</button> -->
                        <button class="btn btn-primary btn-sm"
                          (click)="setTipadiAdeshData(data)">{{'TIPADI_ADESH'|translate}}</button>
                      </td>
                      <td>
                        <!-- <button class="btn btn-info btn-sm" (click)="viewData(data)"> {{'VIEW'|translate}}</button> -->
                        <span *ngIf="(i == financialProgressData.length-1) && !this.editViewData">
                          <button class="btn btn-info btn-sm" (click)="setEditData(data)">{{'EDIT'|translate}}</button>
                        </span>
                        <span *ngIf="i != financialProgressData.length-1 || this.editViewData"
                          style="font-weight:bolder">
                          सच्याउन मिल्दैन
                        </span>
                      </td>
                    </tr>

                  </tbody>
                  <tbody>
                    <tr *ngIf="financialProgressData.length<=0">
                      <td colspan="9" class="text-center" style="font-weight: bold;">कुनै विवरण भेटिएन</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </fieldset>
          <br>
          <div style="text-align:center; padding-bottom: 15px;">

          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<jqxWindow #viewWindow [width]="'60%'" [height]="'60%'" [showCollapseButton]="false" [autoOpen]="false"
  [isModal]="true">
  <div #windowHeader>
    {{'DETAIL_VIEW'|translate}}
  </div>
  <div style="overflow: hidden;" #windowContent>
    <div class="row" *ngIf="windowData">
      <div class="col-3">
        <div>
          <b> {{'ENTER_DATE'|translate}} : {{ windowData['enterDate'] }} </b>
        </div>
      </div>
      <div class="col-3">
        <div>
          <b> {{'ISSUE_AMOUNT'|translate}} : {{ windowData['issueAmount'] }} </b>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="w-100"></div>
      <div class="col-12">
        <div class="attachment-name">
          <b>{{'ATTACHMENT'|translate}} :</b>
        </div>
        <div class="col-12" *ngIf="windowData['billDocument']">
          <div class="row">
            <div class="col-3" *ngFor="let data of windowData['billDocument']; let i = index;">
              <div class="file">
                <div class="image-container"
                  *ngIf="windowData['billType'][i] == 'png' || windowData['billType'][i] == 'jpg' || windowData['billType'][i] == 'jpeg'">
                  <img src="{{docUrl+'/'+data}}">
                </div>
                <div class="link-container"
                  *ngIf="windowData['billType'][i] != 'png' && windowData['billType'][i] != 'jpg' && windowData['billType'][i] != 'jpeg'">
                  <a href="{{docUrl+'/'+data}}" target="_blank">
                    <i class="fa fa-file" aria-hidden="true"></i> {{ data }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
      <div class="col-12">
        <div class="attachment-name">
          <b>{{'BILL_DOC'|translate}} :</b>
        </div>
        <div class="col-12" *ngIf="windowData && windowData['attDocument']">
          <div class="row">
            <div class="col-3" *ngFor="let data of windowData['attDocument']; let i = index;">
              <div class="file">
                <div class="image-container"
                  *ngIf="windowData['attType'][i] == 'png' || windowData['attType'][i] == 'jpg' || windowData['attType'][i] == 'jpeg'">
                  <img src="{{docUrl+'/'+data}}">
                </div>
                <div class="link-container"
                  *ngIf="windowData['attType'][i] != 'png' && windowData['attType'][i] != 'jpg' && windowData['attType'][i] != 'jpeg'">
                  <a href="{{docUrl+'/'+data}}" target="_blank">
                    <i class="fa fa-file" aria-hidden="true"></i> {{ data }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>

      <div class="col-12">
        <div class="attachment-name">
          <b>{{'ISSUE_DOC'|translate}} :</b>
        </div>
        <div class="col-12" *ngIf="windowData && windowData['issueDocument']">
          <div class="row">
            <div class="col-3" *ngFor="let data of windowData['issueDocument']; let i = index;">
              <div class="file">
                <div class="image-container"
                  *ngIf="windowData['issueType'][i] == 'png' || windowData['issueType'][i] == 'jpg' || windowData['issueType'][i] == 'jpeg'">
                  <img src="{{docUrl+'/'+data}}">
                </div>
                <div class="link-container"
                  *ngIf="windowData['issueType'][i] != 'png' && windowData['issueType'][i] != 'jpg' && windowData['issueType'][i] != 'jpeg'">
                  <a href="{{docUrl+'/'+data}}" target="_blank">
                    <i class="fa fa-file" aria-hidden="true"></i> {{ data }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>

    </div>
  </div>
</jqxWindow>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>