.agency-tree div {
  font-size: 0.8rem;
  position: relative;
  font-weight: bold;
}

.agency-tree div:nth-child(3)::before {
  content: '';
  position: absolute;
  top: calc( 50% - 1px);
  left: 0;
  height: 2px;
  width: 10px;
  background: #000;
}

.agency-tree div:nth-child(4)::before {
  content: '';
  position: absolute;
  top: calc( 50% - 1px);
  left: 0;
  height: 2px;
  width: 20px;
  background: #000;
}

.img-previous {
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: block;
}

.img-previous img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
/*# sourceMappingURL=administrative-approval-view.component.css.map */