.agency-tree {
    div{
        font-size: 0.8rem;
        position: relative;
        font-weight: bold;
    }
    div:nth-child(3)::before{
        content:'';
        position: absolute;
        top: calc( 50% - 1px);
        left: 0;
        height: 2px;
        width: 10px;
        background: #000;
    }
    div:nth-child(4)::before{
        content:'';
        position: absolute;
        top: calc( 50% - 1px);
        left: 0;
        height: 2px;
        width: 20px;
        background: #000;
    }
}

.img-previous{
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: block;
}

.img-previous img{
    object-fit: cover;
    object-position: center;
}