<div class="container-fluid">
  <div>
    <div class="box-container">
      <form name="approvalEntryForm" [formGroup]="approvalEntryForm" *ngIf="activityDetailData">
        <div class="fieldset-container">
          <div class="row">
            <div class="col-md-12">
              <fieldset>
                <legend>{{'ACTIVITY_DESC' | translate}}</legend>
                <div class="form-group">
                  <label>{{'ACTIVITY_NAME' | translate}} : <span> {{ activityDetailData['activityName']
                      }}
                    </span></label>
                </div>
                <div class="form-group">
                  <label>{{'PROPOSED_COST' | translate}} : {{ activityDetailData['totalEstimatedCost'] | digitCommas | displayNepaliDate}}</label>
                </div>
                <div class="form-group">
                  <label>{{'TECH_PROPOSED_COST' | translate}} : {{ technicalCost | digitCommas | displayNepaliDate}}</label>
                </div>
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <legend>{{'AGENCY_DETAILS' | translate}}</legend>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group agency-tree">
                      <label>{{'NAGAR_STHAR' | translate}}/{{'WARD_STHAR' | translate}}</label>
                      <div *ngIf="activityDetailData['implementingAgencyTypeLevel1Name']">
                        <span>{{activityDetailData['implementingAgencyTypeLevel1Name'] }}</span>
                      </div>
                      <div *ngIf="activityDetailData['implementingAgencyTypeLevel2Name']"> &nbsp; &nbsp;
                        <span> {{ activityDetailData['implementingAgencyTypeLevel2Name'] }}</span>
                      </div>
                      <div *ngIf="activityDetailData['implementingAgencyTypeLevel3Name']"> &nbsp; &nbsp; &nbsp; &nbsp;
                        <span>{{ activityDetailData['implementingAgencyTypeLevel3Name'] }} </span>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-6">
                    <div class="form-group agency-tree">
                      <label>{{'EXEC_AGENCY_TYPE' | translate}}</label>
                      <div *ngIf="activityDetailData['executingAgencyTypeLevel1Name']">
                        <span> {{activityDetailData['executingAgencyTypeLevel1Name'] }}</span>
                      </div>
                      <div *ngIf="activityDetailData['executingAgencyTypeLevel2Name']"> &nbsp; &nbsp;
                        <span>{{ activityDetailData['executingAgencyTypeLevel2Name'] }}
                        </span></div>
                      <div *ngIf="activityDetailData['executingAgencyTypeLevel3Name']"> &nbsp; &nbsp; &nbsp; &nbsp;
                        <span> {{ activityDetailData['executingAgencyTypeLevel3Name'] }}
                        </span>
                      </div>
                    </div>
                  </div> -->
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="fieldset-container">
          <fieldset>
            <legend>{{'ADMINISTRATIVE_APPROVAL' | translate}}</legend>
            <div class="row">
              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>{{'WORK_ORDER_DATE' | translate}}</label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <input type="text" name="workOrderDate" formControlName="workOrderDate" class="px-control">
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>{{'WORK_ISSUING_AUTHORITY' | translate}}</label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <nepali-input name="issuingAuthority" formControlName="issuingAuthority" [inputClass]="'px-control'">
                  </nepali-input>

                </div>
              </div>
              <!-- <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>प्रशासनिक शाखा </label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <nepali-input name="prasasanikSakha" formControlName="prasasanikSakha" [inputClass]="'px-control'"></nepali-input>
                </div>
              </div> -->
              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>सम्झौता मिति</label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <input type="text" name="agreementDate" formControlName="agreementDate" class="px-control">
                </div>
              </div>

              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>अनुमानित कार्य सम्पन्न मिति</label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">

                  <input type="text" name="estimatedWorkCompletionDate" formControlName="estimatedWorkCompletionDate"
                    class="px-control">
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{'RELATED_ATTACHMENT' | translate}}</legend>
            <div class="row">
              <div class="w-100"></div>
              <div
                style="float: left;border: 1px solid #c0c0c0; margin-bottom: 10px; margin-right: 4px;border-radius: 3px;"
                class="col-md-3" *ngFor="let data of imagesLists">
                <div>
                  <a style="font-size:12px;" href="{{docUrl+'/'+data}}" target="_blank">{{'viewFile'|translate}}</a>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{'benifiedDetails' | translate}}</legend>
            <table>
              <tr>
                <td style="font-weight: 500; font-size: 13px">{{'benefitedHouses' | translate}}</td>
                <td>
                  <!-- <jqxNumberInput [decimalDigits]="0" [digits]="15" [decimal]="0" [inputMode]="'simple'" [theme]="'energyblue'"
                        [placeHolder]="'benefitedHouses'|translate" [height]="23" [width]="160" formControlName="benifitedHouses"></jqxNumberInput> -->
                  <input type="text" name="benifitedHouses" formControlName="benifitedHouses" class="px-control">
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'benefitedPopulation' | translate}}</td>
                <td>
                  <!-- <jqxNumberInput [decimalDigits]="0" [digits]="15" [decimal]="0" [inputMode]="'simple'"
                        [placeHolder]="'benefitedPopulation'|translate" [theme]="'energyblue'" formControlName="benifitedPopulation"
                        [width]="160" [height]="23">
                      </jqxNumberInput> -->
                  <input type="text" name="benifitedPopulation" formControlName="benifitedPopulation"
                    class="px-control">
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'benefitedOrganization' | translate}}</td>
                <td>
                  <!-- <jqxNumberInput [decimalDigits]="0" [digits]="15" [decimal]="0" [inputMode]="'simple'" [theme]="'energyblue'"
                        [placeHolder]="'benefitedOrganization'|translate" [height]="23" [width]="160" formControlName="befinitedOrganizations"></jqxNumberInput> -->
                  <input type="text" name="befinitedOrganizations" formControlName="befinitedOrganizations"
                    class="px-control">
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'othersBenefited' | translate}}</td>
                <td>
                  <!-- <jqxNumberInput [decimalDigits]="0" [digits]="15" [decimal]="0" [inputMode]="'simple'" [theme]="'energyblue'"
                        [placeHolder]="'othersBenefited'|translate" [height]="23" [width]="160" formControlName="othersBenifited"></jqxNumberInput> -->
                  <input type="text" name="othersBenifited" formControlName="othersBenifited" class="px-control">
                </td>
              </tr>

              <br>
              <tr>
                <td style="font-weight: 500; font-size: 13px">{{'FEMAL_POPULATION'|translate}}</td>
                <td>
                  <!-- <jqxInput [disabled]="true" [theme]="'energyblue'" [placeHolder]="'FEMAL_POPULATION'|translate" [height]="23" [width]="160" formControlName="feMalePopulation"></jqxInput> -->
                  <input type="text" name="feMalePopulation" formControlName="femalePopulation" class="px-control">
                </td>

                <td style="font-weight: 500; font-size: 13px">{{'MALE_POPULATION'|translate}}</td>
                <td>
                  <!-- <jqxInput [disabled]="true" [theme]="'energyblue'" [placeHolder]="'MALE_POPULATION'|translate" [height]="23" [width]="160" formControlName="malePopulation"></jqxInput> -->
                  <input type="text" name="malePopulation" formControlName="malePopulation" class="px-control">
                </td>

                <td style="font-weight: 500; font-size: 13px">{{'DALIT_POPULATION'|translate}}</td>
                <td>
                  <!-- <jqxInput [disabled]="true" [theme]="'energyblue'" [placeHolder]="'DALIT_POPULATION'|translate" [height]="23" [width]="160" formControlName="dalitPopulation"></jqxInput> -->
                  <input type="text" name="dalitPopulation" formControlName="dalitPopulation" class="px-control">
                </td>

                <td style="font-weight: 500; font-size: 13px">{{'JANAJATI_POPULATION'|translate}}</td>
                <td>
                  <!-- <jqxInput [disabled]="true" [theme]="'energyblue'" [placeHolder]="'JANAJATI_POPULATION'|translate" [height]="23" [width]="160" formControlName="janajatiPopulation"></jqxInput> -->
                  <input type="text" name="janajatiPopulation" formControlName="janajatiPopulation" class="px-control">
                </td>

              </tr>
              <br />
              <tr>
                <td style="font-weight: 500; font-size: 13px">{{'OTHERS'|translate}}</td>
                <td>
                  <!-- <jqxInput [disabled]="true" [theme]="'energyblue'" [placeHolder]="'OTHERS'|translate" [height]="23" [width]="160" formControlName="othersPopulation"></jqxInput> -->
                  <input type="text" name="othersPopulation" formControlName="othersPopulation" class="px-control">
                </td>
              </tr>

            </table>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>{{'workServiceType' | translate}}</label>
                  <select formControlName="workServiceType" (change)="checkWorkService($event)"
                    class="selectpicker select-class select-border" style="width:150px;height:23px;">
                    <option [selected]="true" style="font-size: 11px;" value=''>{{'CHOOSEU'|translate}}</option>
                    <option *ngFor="let data of workServiceTypeAdapter" [value]="data['name']">{{data['id']}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <p><b>{{'Note'|translate}}*</b> &nbsp;: &nbsp;{{'cc'|translate}} &nbsp;:&nbsp;
                    <small> उपभोक्ता समिति</small>
                    &nbsp;{{'gf'|translate}} &nbsp;: <small>बाट प्राप्त गरियो</small>
                  </p>
                </div>
                <div class="col-md-12">
                  <table *ngIf="showTable">
                    <tr>
                      <td style="font-weight: 500; font-size: 13px"><span
                          *ngIf="approvalEntryForm.get('workServiceType').value === 'Consumer Committe'">
                          {{'cc'|translate}}
                        </span>
                        <span *ngIf="approvalEntryForm.get('workServiceType').value === 'Sahakari'">
                          श्रम सहकारी / संस्थाको
                        </span> {{'NAME'|translate}}</td>
                      <td style="width:350px;">
                        <input type="text" name="consumerCommitteName" formControlName="consumerCommitteName"
                          class="px-control">
                      </td>
                      <td style="font-weight: 500; font-size: 13px"><span
                          *ngIf="approvalEntryForm.get('workServiceType').value === 'Consumer Committe'">
                          {{'cc'|translate}}
                        </span>
                        <span *ngIf="approvalEntryForm.get('workServiceType').value === 'Sahakari'">
                          श्रम सहकारी / संस्थाको
                        </span> {{'ADDRESS'|translate}}</td>
                      <td>

                        <input type="text" name="consumerCommitteAddress" formControlName="consumerCommitteAddress"
                          class="px-control">
                      </td>
                      <td style="font-weight: 500; font-size: 13px"><span
                          *ngIf="approvalEntryForm.get('workServiceType').value === 'Consumer Committe'">
                          {{'cc'|translate}}
                        </span>
                        <span *ngIf="approvalEntryForm.get('workServiceType').value === 'Sahakari'">
                          श्रम सहकारी / संस्थाको
                        </span> {{'formation'|translate}}
                        {{'DATE'|translate}}
                      </td>
                      <td>
                        <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'YYYY-MM-DD'" [height]="23" [width]="160"
                          formControlName="formationDate"></jqxInput> -->
                        <input type="text" name="formationDate" formControlName="formationDate" class="px-control">
                      </td>
                      <td style="font-weight: 500; font-size: 13px">
                        गठन गर्दा जम्मा उपस्थित संख्या
                      </td>
                      <td>
                        <input type="number" class="px-control" height="23px" width="160px"
                          formControlName="totalParticipant" />
                      </td>
                    </tr>
                    <tr>
                      <td style="font-weight: 500; font-size: 13px">
                        गठन गर्दा उपस्थित <br> लाभान्वितकाे संख्या
                      </td>
                      <td>
                        <input type="number" class="px-control" height="23px" width="160px"
                          formControlName="totalBenefited" />
                      </td>
                    </tr>
                  </table>
                  <table *ngIf="showTable">
                    <tr>
                      <td style="font-weight: 500; font-size: 13px">{{'bankName'|translate}}</td>
                      <td style="width:350px;">
                        <input type="text" name="bankName" formControlName="bankName" class="px-control">
                      </td>
                      <td style="font-weight: 500; font-size: 13px">{{'bankAddress'|translate}}</td>
                      <td style="width:350px;">
                        <input type="text" name="bankAddress" formControlName="bankAddress" class="px-control">
                      </td>
                      <td style="font-weight: 500; font-size: 13px">{{'accountNo'|translate}}</td>
                      <td>
                        <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'enterAccountNo'|translate" [height]="23"
                          [width]="160" formControlName="acNo"></jqxInput> -->
                        <input type="text" name="acNo" formControlName="acNo" class="px-control">
                      </td>
                    </tr>

                    <tr>
                      <td colspan="8">
                        <br>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="8" style="font-weight: 500; font-size: 14px"><span><b>लागत व्यहोने
                            स्रोतहरु</b></span></td>
                    </tr>

                    <tr>
                      <!-- <td style="font-weight: 500; font-size: 13px">{{'gf'|translate}} {{'Union'|translate}}</td>
                      <td>
                        <jqxInput [theme]="'energyblue'" [placeHolder]="'grantedFrom'|translate" [height]="23"
                          [width]="160" formControlName="grantedFromUnion"></jqxInput>
                      </td> -->
                      <td style="font-weight: 500; font-size: 13px">{{'NEPALGOVNT'|translate}}</td>
                      <td>
                        <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'grantedFrom'|translate" [height]="23" [width]="160"
                          formControlName="grantedFromState"></jqxInput> -->
                        <input type="text" name="grantedFromState" formControlName="grantedFromState"
                          class="px-control">
                      </td>
                      <td style="font-weight: 500; font-size: 13px">{{'PRADESH'|translate}}</td>
                      <td>
                        <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'grantedFrom'|translate" [height]="23" [width]="160"
                          formControlName="grantedFromNgo"></jqxInput> -->
                        <input type="text" name="grantedFromNgo" formControlName="grantedFromNgo" class="px-control">
                      </td>
                      <td style="font-weight: 500; font-size: 13px">
                        <span *ngIf="isRul">गाउँपालिका</span>
                        <span *ngIf="!isRul">नगरपालिका</span>
                      </td>
                      <td>
                        <!-- <jqxInput [placeHolder]="'grantedFrom'|translate" [theme]="'energyblue'" formControlName="grantedFromLocalLevel"
                          [width]="160" [height]="23">
                        </jqxInput> -->
                        <input type="text" name="grantedFromLocalLevel" formControlName="grantedFromLocalLevel"
                          class="px-control">
                      </td>
                      <td style="font-weight: 500; font-size: 13px">{{'WARD'|translate}}</td>
                      <td>
                        <!-- <jqxInput [placeHolder]="'grantedFrom'|translate" [theme]="'energyblue'" formControlName="grantedFromIngo"
                          [width]="160" [height]="23">
                        </jqxInput> -->
                        <input type="text" name="grantedFromIngo" formControlName="grantedFromIngo" class="px-control">
                      </td>
                    </tr>


                    <tr>
                      <td style="font-weight: 500; font-size: 13px"> <span
                          *ngIf="approvalEntryForm.get('workServiceType').value === 'Consumer Committe'">
                          {{ 'CUST' | translate }}
                        </span>
                        <span *ngIf="approvalEntryForm.get('workServiceType').value === 'Sahakari'">
                          श्रम सहकारी / संस्था मार्फत
                        </span>
                        <span style="color:red">*</span></td>
                      <td>
                        <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'grantedFrom'|translate" [height]="23" [width]="160"
                          formControlName="grantedFromConsumerCommitte"></jqxInput> -->
                        <input type="text" name="grantedFromConsumerCommitte"
                          formControlName="grantedFromConsumerCommitte" class="px-control">
                      </td>
                      <td style="font-weight: 500; font-size: 13px">{{'gf'|translate}} {{'Others'|translate}}</td>
                      <td>
                        <!-- <input type="checkbox" formControlName="grantedFromOthers" [checked]="checkOtherGranted" /> -->
                      </td>
                    </tr>
                    <tr *ngIf="showArray">
                      <td colspan="8">
                        <fieldset>
                          <legend>{{'gf'|translate}} {{'Others'|translate}}</legend>
                          <div formArrayName="othersDonators">
                            <div class="row">
                              <div
                                *ngFor="let reqItem of approvalEntryForm.get('othersDonators')['controls']; let i = index"
                                class="col-md-6 form-array-container-inner">
                                <div class="row p-1 row-body" [formGroupName]="i">
                                  <div class="col-md-4">
                                    <label for="">{{ "NAME" | translate }}</label>
                                    <input type="hidden" formControlName="id" class="px-control">
                                    <nepali-input name="name" formControlName="name" [inputClass]="'px-control'">
                                    </nepali-input>
                                    <small
                                      [hidden]="reqItem['controls'].name.valid || !reqItem['controls'].name.touched"
                                      class="form-control-feedback text-danger px-control-error">
                                      * required
                                    </small>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="">{{ "VALUE" | translate }}</label>
                                    <input type="text" formControlName="value" class="px-control">
                                    <small
                                      [hidden]="reqItem['controls'].value.valid || !reqItem['controls'].value.touched"
                                      class="form-control-feedback text-danger px-control-error">
                                      * required
                                    </small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="8">
                        <br>
                      </td>
                    </tr>


                    <tr>
                      <td colspan="8">
                        <br>
                      </td>
                    </tr>
                    <!--
                    <tr>
                      <td colspan="8">
                        <label>{{'wadaRepresentative' | translate}}</label>
                        <input type="text" name="wadaRepresentative" formControlName="wadaRepresentative" class="px-control">
                        <hr><br>
                      </td>
                    </tr> -->
                  </table>

                  <hr>
                  <h5 *ngIf="showTable">
                    <span *ngIf="approvalEntryForm.get('workServiceType').value === 'Consumer Committe'">
                      उपभोक्त्ता समिति पदाधिकारीहरुको विवरण
                    </span>
                    <span *ngIf="approvalEntryForm.get('workServiceType').value === 'Sahakari'">
                      श्रम सहकारी / संस्थाको पदाधिकारीहरुको विवरण
                    </span>
                  </h5>
                  <table formArrayName="workServiceTypeArray" *ngIf="showTable">
                    <tr *ngIf="monitoringCommitteConfig">
                      <ng-container *ngFor="let config of monitoringCommitteConfig">
                        <td *ngIf="!config.hidden" style="font-weight: 500; font-size: 13px">{{ config.heading }}</td>
                      </ng-container>
                    </tr>
                    <tr *ngIf="!monitoringCommitteConfig">
                      <td style="font-weight: 500; font-size: 13px">{{'NAME' |
                              translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'POST' |
                              translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'ADDRESS'
                              | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'CITIZEN'
                              | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'ISSUE_DISTRICT'
                              | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'ISSUE_DATE'
                              | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'CONTACT_NO'
                              | translate}}</td>
                    </tr>
                    <tr *ngFor="let workServiceForm of
                    approvalEntryForm.get('workServiceTypeArray')['controls'];
                    let i= index;" [formGroupName]="i">
                      <ng-container *ngFor="let config of monitoringCommitteConfig">
                        <td *ngIf="!config.hidden">
                          <input
                            [value]="approvalEntryForm.get('workServiceTypeArray')['controls'][i].get(config.name).value"
                            type="text" [disabled]="true" class="px-control" />

                        </td>
                      </ng-container>
                    </tr>
                  </table>
                  <div *ngIf="showTable" style="width:30%">
                    <label style="font-size:12px;">{{'wadaRepresentative' | translate}}</label>
                    <nepali-input name="wadaRepresentative" formControlName="wadaRepresentative"
                      [inputClass]="'px-control'" [placeHolder]="'wadaRepresentative'|translate"></nepali-input>
                  </div>
                  <table *ngIf="contractTable">
                    <tr>
                      <td></td>
                      <td style="font-weight: 500; font-size: 13px">{{'firmName'|translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'ADDRESS'|translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'contactPerson'|translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'contactNumber'|translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">कबोल रकम</td>
                      <td style="font-weight: 500; font-size: 13px">{{'contractDate'|translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'ACTION'|translate}}</td>
                    </tr>
                    <tr formArrayName="contractData" *ngFor="let reqItem of
                    approvalEntryForm.get('contractData')['controls']; let i= index">
                      <td [formGroupName]="i" width="8px">
                        <input type="radio" name= "selected" [value]="1" formControlName="selected">
                      </td>
                      <td [formGroupName]="i">
                        <input type="text" name="name" formControlName="name" class="px-control">
                      </td>
                      <td [formGroupName]="i">
                        <input type="text" name="address" formControlName="address" class="px-control">
                      </td>
                      <td [formGroupName]="i">
                        <input type="text" name="contactPerson" formControlName="contactPerson" class="px-control">
                      </td>
                      <td [formGroupName]="i">
                        <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'ENTER_CONTACT_NUMBER' | translate" [height]="23"
                          [width]="150" formControlName="contactNumber"></jqxInput> -->
                        <input type="text" name="contactNumber" formControlName="contactNumber" class="px-control">
                      </td>
                      <td [formGroupName]="i">
                        <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'ENTER_CONTACT_NUMBER' | translate" [height]="23"
                          [width]="150" formControlName="contactNumber"></jqxInput> -->
                        <input type="text" name="contractAmount" formControlName="contractAmount" class="px-control">
                      </td>
                      <td [formGroupName]="i">
                        <!-- <jqxInput [placeHolder]="'YYYY-MM-DD'" [theme]="'energyblue'" formControlName="contractDate"
                          [width]="150" [height]="23">
                        </jqxInput> -->
                        <input type="text" name="contractDate" formControlName="contractDate" class="px-control">
                      </td>
                      <td [formGroupName]="i">
                        <!-- <a *ngIf="contractEdidData && contractEdidData['attatchment']" href="{{docUrl+contractEdidData['attatchment']}}"
                          target="_blank">
                          {{'VIEW'|translate}}
                        </a> -->
                        <span *ngIf="contractDocData[i]">
                          <!-- <span *ngFor="let data of contractDocData[i]"> -->
                            <a *ngIf="contractDocData[i].attatchment" href="{{docUrl+contractDocData[i].attatchment}}" target="_blank">
                              {{'VIEW'|translate}}
                            </a>&nbsp;&nbsp;
                          <!-- </span> -->
                        </span>
                      </td>
                    </tr>
                    <!-- <tr>
                      <td style="font-weight: 500; font-size: 13px">{{'accountNo' | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'bankName' | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'CONTACT_PERSON' | translate}}</td>
                    </tr>
                    <tr>
                      <td>
                        <input type="text" formControlName="contractBankAcNo" placeholder="{{'accountNo'|translate}}"
                          class="px-control" style="width:160px;">
                      </td>
                      <td>
                        <nepali-input name="contractBankName" formControlName="contractBankName" [height]="23" [width]="160"
                          [inputClass]="'px-control'" [placeHolder]="'bankName'|translate"></nepali-input>
                      </td>
                      <td>
                        <nepali-input name="contractBankAcHolder" formControlName="contractBankAcHolder" [height]="23"
                          [width]="160" [inputClass]="'px-control'" [placeHolder]="'accountHolderName'|translate"></nepali-input>
                      </td>
                    </tr> -->
                  </table>
                  <table *ngIf="showAmanantaTable">
                    <tr>
                      <td>कार्यालयको नाम:
                        <div style="width:300px;">
                          <nepali-input name="officeName" formControlName="officeName" [height]="23" [width]="160"
                            [inputClass]="'px-control'" [placeHolder]="'ENTER_OFFICE_NAME'|translate"></nepali-input>
                        </div>
                      </td>
                      <td>आधिकारिक व्यक्तिको नाम:
                        <div style="width:300px;">
                          <nepali-input name="orderName" formControlName="orderName" [height]="23" [width]="160"
                            [inputClass]="'px-control'" placeHolder="आधिकारिक व्यक्तिको नाम प्रविष्ट गर्नुहोस्">
                          </nepali-input>
                        </div>
                      </td>

                    </tr>

                  </table>
                </div>
                <div class="col-md-12">
                  <br>
                  <div class="form-group" *ngIf="showTable">
                    <label>{{'monitor' | translate}}</label>
                    <select formControlName="monitoring"
                      (change)="monitoringChange(approvalEntryForm.value['monitoring'])"
                      class="selectpicker select-class select-border" style="width:160px;height:23px;">
                      <option [selected]="true" value=''>{{'CHOOSEU'|translate}}</option>
                      <option *ngFor="let data of monitoringAdapter" [value]="data['name']">{{data['id']}}</option>
                    </select>
                  </div>
                  <hr>
                  <table formArrayName="monitoringCommitteeArray" *ngIf="showMonitoringTable">
                    <tr>
                      <td style="font-weight: 500; font-size: 13px">{{'POST' | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'NAME' | translate}} {{'CAST'|translate}}</td>
                      <!-- <td style="font-weight: 500; font-size: 13px">{{'FATHERNAME' | translate}}</td> -->
                      <td style="font-weight: 500; font-size: 13px">{{'ADDRESS' | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'CITIZEN' | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'PHONE' | translate}}</td>
                    </tr>
                    <tr
                      *ngFor="let workServiceForm of approvalEntryForm.get('monitoringCommitteeArray').controls; let i = index;"
                      [formGroupName]="i">
                      <td>
                        <input name="monitoringCommitteePost" formControlName="monitoringCommitteePost" [height]="23"
                          class="px-control" style="width:150px;" disabled />
                      </td>
                      <td>
                        <input name="monitoringCommitteeName" formControlName="monitoringCommitteeName" [height]="23"
                          class="px-control" style="width:150px;" disabled />
                      </td>
                      <!-- <td>
                          <input name="monitoringCommitteeFatherName" formControlName="monitoringCommitteeFatherName" [height]="23"
                          class="px-control" style="width:150px;" disabled />
                      </td> -->
                      <td>
                        <input name="monitoringCommitteeAddress" formControlName="monitoringCommitteeAddress"
                          [height]="23" class="px-control" style="width:150px;" disabled />
                      </td>
                      <td>

                        <input name="monitoringCommitteeCitizenshipNo"
                          formControlName="monitoringCommitteeCitizenshipNo" [height]="23" class="px-control"
                          style="width:150px;" disabled />
                      </td>
                      <td>

                        <input name="monitoringCommitteeMobile" formControlName="monitoringCommitteeMobile"
                          [height]="23" class="px-control" style="width:150px;" disabled />
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-12">
              <div class="form-group" style="padding: 15px 0;">
                <!-- <div *ngIf=""> -->
                <jqxButton #submitButton *ngIf="!showApprovalButton && showApproveButton" [width]='120' [height]='23'
                  (onClick)="approve()">
                  स्वीकृत गर्नुहोस्
                </jqxButton>
                <jqxButton *ngIf="enable_disableApproveFeature && !showApprovalButton && showApproveButton"
                  [disabled]="notAuthorized" (onClick)="reject()">
                  अस्वीकृत गर्नुहोस्
                </jqxButton>
                <!-- </div> -->
                <jqxButton #submitButton [width]='120' [theme]="'energyblue'" [height]='25' (onClick)="close()">
                  {{'CLOSE' | translate}}
                </jqxButton>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(function () {
    $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
  });
</script>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>