<div class="container-fluid">
  <div>
    <div class="box-container">
      <form name="approvalEntryForm" [formGroup]="approvalEntryForm" *ngIf="activityDetailData">
        <div class="fieldset-container">
          <div class="row">
            <div class="col-md-12">
              <fieldset>
                <legend>{{'ACTIVITY_DESC' | translate}}</legend>
                <div class="form-group">
                  <label>{{'ACTIVITY_NAME' | translate}} :
                    <span> {{ activityDetailData['activityName'] }}
                    </span>
                  </label>
                </div>
                <div class="form-group">
                  <label>{{'PROPOSED_COST' | translate}} : {{ activityDetailData['totalEstimatedCost'] | digitCommas | displayNepaliDate }}</label>
                </div>
                <div class="form-group">
                  <label>{{'TECH_PROPOSED_COST' | translate}} : {{ technicalCost | digitCommas | displayNepaliDate}}</label>
                </div>
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <legend>{{'AGENCY_DETAILS' | translate}}</legend>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group agency-tree">
                      <label>{{'NAGAR_STHAR' | translate}}/{{'WARD_STHAR' | translate}}</label>
                      <div *ngIf="activityDetailData['implementingAgencyTypeLevel1Name']">
                        <span>{{activityDetailData['implementingAgencyTypeLevel1Name'] }}</span>
                      </div>
                      <div *ngIf="activityDetailData['implementingAgencyTypeLevel2Name']"> &nbsp; &nbsp;
                        <span> {{ activityDetailData['implementingAgencyTypeLevel2Name'] }}</span>
                      </div>
                      <div *ngIf="activityDetailData['implementingAgencyTypeLevel3Name']"> &nbsp; &nbsp; &nbsp; &nbsp;
                        <span>{{ activityDetailData['implementingAgencyTypeLevel3Name'] }} </span>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-6">
                    <div class="form-group agency-tree">
                      <label>{{'EXEC_AGENCY_TYPE' | translate}}</label>
                      <div *ngIf="activityDetailData['executingAgencyTypeLevel1Name']">
                        <span> {{activityDetailData['executingAgencyTypeLevel1Name'] }}</span>
                      </div>
                      <div *ngIf="activityDetailData['executingAgencyTypeLevel2Name']"> &nbsp; &nbsp;
                        <span>{{ activityDetailData['executingAgencyTypeLevel2Name'] }}
                        </span></div>
                      <div *ngIf="activityDetailData['executingAgencyTypeLevel3Name']"> &nbsp; &nbsp; &nbsp; &nbsp;
                        <span> {{ activityDetailData['executingAgencyTypeLevel3Name'] }}
                        </span>
                      </div>
                    </div>
                  </div> -->
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="fieldset-container">
          <fieldset>
            <legend>{{'ADMINISTRATIVE_APPROVAL' | translate}}</legend>
            <div class="row">
              <!-- <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>{{'WORK_ORDER_NUMBER' | translate}} : </label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <input type="text" name="workOrderNo" formControlName="workOrderNo" class="px-control">
                </div>
              </div> -->
              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>{{'WORK_ORDER_DATE' | translate}}</label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <!-- <jqxDateTimeInput [width]="'100%'" [height]="25" formControlName="workOrderDate"></jqxDateTimeInput> -->
                  <!-- <jqxInput class="workOrderDate" [theme]="'energyblue'" [placeHolder]="'YYYY-MM-DD'" [height]="23" [width]="'100%'" formControlName="workOrderDate"></jqxInput> -->
                  <input type="text" name="workOrderDate" placeholder="YYYY-MM-DD" formControlName="workOrderDate"
                    class="px-control">
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>{{'WORK_ISSUING_AUTHORITY' | translate}}</label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <nepali-input name="issuingAuthority" formControlName="issuingAuthority" [inputClass]="'px-control'">
                  </nepali-input>
                </div>
              </div>
              <!-- <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>प्रशासनिक शाखा <span style="color: red">*</span></label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <nepali-input name="prasasanikSakha" formControlName="prasasanikSakha" [inputClass]="'px-control'"></nepali-input>
                </div>
              </div> -->
              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>सम्झौता मिति<span style="color: red">*</span></label>
                </div>
              </div>
              <div class="col-3 col-md-4">
                <div class="form-group">
                  <jqxInput class="workOrderDate" (input)="check()"
                    (onChange)="changeAgreementDate(approvalEntryForm.value['agreementDate'])" [theme]="'energyblue'"
                    [placeHolder]="'YYYY-MM-DD'" [height]="23" [width]="'100%'" formControlName="agreementDate">
                  </jqxInput>
                  <small *ngIf="!approvalEntryForm.get('agreementDate').valid" style="color:red">
                    Date format :- 2075-01-01
                  </small>
                </div>
              </div>


              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>अनुमानित कार्य सम्पन्न मिति<span style="color: red">*</span></label>
                </div>
              </div>
              <div class="col-3 col-md-4">
                <div class="form-group">
                  <jqxInput class="workOrderDate" [theme]="'energyblue'" [placeHolder]="'YYYY-MM-DD'" [height]="23"
                    [width]="'100%'" formControlName="estimatedWorkCompletionDate"></jqxInput>
                  <small *ngIf="!approvalEntryForm.get('estimatedWorkCompletionDate').valid" style="color:red">
                    Date format :- 2075-01-01
                  </small>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div *ngIf="contractStatus" style="margin-top: 5px" class="dateloader"></div>
              </div>

            </div>
          </fieldset>
          <fieldset>
            <legend>{{'RELATED_ATTACHMENT' | translate}}</legend>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group" style="padding: 15px 0;">
                  <input type="file" name="attachments" (change)="handleFileInput($event)" class="px-control" multiple
                    accept=".png,.jpg,.pdf,.jpeg,.doc,.docx,.xlsx,.xls">
                </div>
              </div>
              <div class="w-100"></div>
              <div style="float: left;border: 1px solid #c0c0c0;margin-right: 4px;border-radius: 3px;" class="col-md-3"
                *ngFor="let data of imagesLists">
                <div>
                  <button class="add-cross btn-danger" type="submit" (click)="DeletePhoto(data)">Delete</button>
                  <a style="font-size:12px;" href="{{docUrl+'/'+data}}" target="_blank">{{'viewFile'|translate}}</a>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>{{'benifiedDetails' | translate}}</legend>
            <table>

              <tr>
                <td style="font-weight: 500; font-size: 13px">{{'benefitedHouses' | translate}}</td>
                <td>
                  <jqxInput [theme]="'energyblue'" [placeHolder]="'benefitedHouses'|translate" [height]="23"
                    [width]="160" formControlName="benifitedHouses"></jqxInput>
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'benefitedPopulation' | translate}}</td>
                <td>
                  <jqxInput [placeHolder]="'benefitedPopulation'|translate" [theme]="'energyblue'"
                    formControlName="benifitedPopulation" [width]="160" [height]="23">
                  </jqxInput>
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'benefitedOrganization' | translate}}</td>
                <td>
                  <jqxInput [theme]="'energyblue'" [placeHolder]="'benefitedOrganization'|translate" [height]="23"
                    [width]="160" formControlName="befinitedOrganizations"></jqxInput>
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'othersBenefited' | translate}}</td>
                <td>
                  <jqxInput [theme]="'energyblue'" [placeHolder]="'othersBenefited'|translate" [height]="23"
                    [width]="160" formControlName="othersBenifited"></jqxInput>
                </td>
              </tr>

              <br>
              <tr>
                <td style="font-weight: 500; font-size: 13px">{{'FEMAL_POPULATION'|translate}}</td>
                <td>
                  <jqxInput (onChange)="sum1()" [theme]="'energyblue'" [placeHolder]="'FEMAL_POPULATION'|translate"
                    [height]="23" [width]="160" formControlName="femalePopulation"></jqxInput>
                </td>

                <td style="font-weight: 500; font-size: 13px">{{'MALE_POPULATION'|translate}}</td>
                <td>
                  <jqxInput [theme]="'energyblue'" [placeHolder]="'MALE_POPULATION'|translate" [height]="23"
                    [width]="160" formControlName="malePopulation"></jqxInput>
                </td>

                <td style="font-weight: 500; font-size: 13px">{{'DALIT_POPULATION'|translate}}</td>
                <td>
                  <jqxInput [theme]="'energyblue'" [placeHolder]="'DALIT_POPULATION'|translate" [height]="23"
                    [width]="160" formControlName="dalitPopulation"></jqxInput>
                </td>

                <td style="font-weight: 500; font-size: 13px">{{'JANAJATI_POPULATION'|translate}}</td>
                <td>
                  <jqxInput [theme]="'energyblue'" [placeHolder]="'JANAJATI_POPULATION'|translate" [height]="23"
                    [width]="160" formControlName="janajatiPopulation"></jqxInput>
                </td>

              </tr>

              <tr>
                <td style="font-weight: 500; font-size: 13px">{{'OTHERS'|translate}}</td>
                <td>
                  <jqxInput [theme]="'energyblue'" [placeHolder]="'OTHERS'|translate" [height]="23" [width]="160"
                    formControlName="othersPopulation"></jqxInput>
                </td>
              </tr>
            </table>

            <div class="row">
              <div class="col-md-12">
                <br>
                <div class="form-group">
                  <label>
                    <h6>{{'workServiceType' | translate}}</h6>
                  </label>
                  <select formControlName="workServiceType" (change)="checkWorkService($event)"
                    class="selectpicker select-class select-border" style="width:150px;height:23px;" disabled>
                    <option [selected]="true" style="font-size: 11px;" value=''>{{'CHOOSEU'|translate}}</option>
                    <option *ngFor="let data of workServiceTypeAdapter" [value]="data['name']">{{data['id']}}</option>
                  </select>
                  <!-- <jqxButton #button [width]='240' *ngIf="showButton && showTable" [height]='23' (onClick)="printPreview()"
                    style="float: right;">
                    उपभोक्ता समिति सम्झौता फाराम
                  </jqxButton> -->
                </div>
                <div class="form-group">
                  <p>
                    <b>{{'Note'|translate}}*</b> &nbsp;: &nbsp;{{'cc'|translate}} &nbsp;:&nbsp;
                    <small> उपभोक्ता समिति</small>
                    &nbsp;{{'gf'|translate}} &nbsp;:
                    <small>बाट प्राप्त गरियो</small>
                  </p>
                </div>
                <div class="col-md-12">
                  <table *ngIf="showTable">
                    <tr>
                      <td style="font-weight: 500; font-size: 13px">
                        <span *ngIf="approvalEntryForm.value.workServiceType === 'Consumer Committe'">
                          {{'cc'|translate}}
                        </span>
                        <span *ngIf="approvalEntryForm.value.workServiceType === 'Sahakari'">
                          श्रम सहकारी / संस्थाको
                        </span>
                        {{'NAME'|translate}}</td>
                      <td style="width:475px;">
                        <nepali-input name="consumerCommitteName" formControlName="consumerCommitteName" [height]="23"
                          [width]="200" [placeHolder]="'ENTER_NAME' | translate" [inputClass]="'px-control'">
                        </nepali-input>
                      </td>
                      <td style="font-weight: 500; font-size: 13px"><span
                          *ngIf="approvalEntryForm.value.workServiceType === 'Consumer Committe'">
                          {{'cc'|translate}}
                        </span>
                        <span *ngIf="approvalEntryForm.value.workServiceType === 'Sahakari'">
                          श्रम सहकारी / संस्थाको
                        </span>
                        {{'ADDRESS'|translate}}</td>
                      <td>
                        <nepali-input name="consumerCommitteAddress" formControlName="consumerCommitteAddress"
                          (change)="committeeAddressChange($event)" [height]="23" [width]="160"
                          [placeHolder]="'ENTER_ADDRESS' | translate" [inputClass]="'px-control'"></nepali-input>
                      </td>
                      <td style="font-weight: 500; font-size: 13px"><span
                          *ngIf="approvalEntryForm.value.workServiceType === 'Consumer Committe'">
                          {{'cc'|translate}}
                        </span>
                        <span *ngIf="approvalEntryForm.value.workServiceType === 'Sahakari'">
                          श्रम सहकारी / संस्थाको
                        </span>
                        {{'formation'|translate}}
                        {{'DATE'|translate}}
                      </td>
                      <td>
                        <input class="px-control" placeholder="YYYY-MM-DD" height="23px" width="160px"
                          formControlName="formationDate" />
                      </td>
                    </tr>
                  </table>
                  <table *ngIf="showTable">
                    <tr>
                      <td style="font-weight: 500; font-size: 13px">
                        गठन गर्दा जम्मा उपस्थित संख्या
                      </td>
                      <td>
                        <input type="number" class="px-control" height="23px" width="120px"
                          formControlName="totalParticipant" />
                      </td>

                      <td style="font-weight: 500; font-size: 13px" colspan=2>
                        गठन गर्दा उपस्थित लाभान्वितकाे संख्या
                      </td>
                      <td>
                        <input type="number" class="px-control" height="23px" width="160px"
                          formControlName="totalBenefited" />
                      </td>
                    </tr>
                  </table>
                  <table *ngIf="showTable">
                    <tr>
                      <td style="font-weight: 500; font-size: 13px">{{'bankName'|translate}}</td>
                      <td style="width:350px;" colspan="2">
                        <nepali-input name="bankName" formControlName="bankName" [height]="23" [width]="160"
                          [placeHolder]="'enterBankName' | translate" [inputClass]="'px-control'"></nepali-input>
                      </td>
                      <td style="font-weight: 500; font-size: 13px">{{'bankAddress'|translate}}</td>
                      <td style="width:350px;">
                        <nepali-input name="bankAddress" formControlName="bankAddress" [height]="23" [width]="160"
                          [placeHolder]="'bankAddress' | translate" [inputClass]="'px-control'"></nepali-input>
                      </td>
                      <td style="font-weight: 500; font-size: 13px">{{'accountNo'|translate}}</td>
                      <td>
                        <jqxInput [theme]="'energyblue'" [placeHolder]="'enterAccountNo'|translate" [height]="23"
                          [width]="260" formControlName="acNo"></jqxInput>
                      </td>
                    </tr>
                  </table>
                  <br>
                  <h5 *ngIf="showTable">लागत ब्योहोर्ने स्रोतहरु</h5>
                  <table *ngIf="showTable">
                    <tr>
                      <td colspan="8">
                        <br>
                      </td>
                    </tr>

                    <tr>
                      <!-- <td style="font-weight: 500; font-size: 13px">{{'gf'|translate}} {{'Union'|translate}}</td>
                      <td>
                        <jqxInput [theme]="'energyblue'" [placeHolder]="'grantedFrom'|translate" [height]="23"
                          [width]="160" formControlName="grantedFromUnion"></jqxInput>
                      </td> -->
                      <td style="font-size: 13px">{{'NEPALGOVNT'|translate}}</td>
                      <td>
                        <jqxInput [theme]="'energyblue'" [placeHolder]="'grantedFrom'|translate" [height]="23"
                          [width]="160" formControlName="grantedFromState"></jqxInput>
                      </td>
                      <td style="font-size: 13px">{{'PRADESH'|translate}}</td>
                      <td>
                        <jqxInput [theme]="'energyblue'" [placeHolder]="'grantedFrom'|translate" [height]="23"
                          [width]="160" formControlName="grantedFromNgo"></jqxInput>
                      </td>
                      <td style="font-size: 13px">
                        <span *ngIf="isRul">गाउँपालिका</span>
                        <span *ngIf="!isRul">नगरपालिका</span>
                      </td>
                      <td>
                        <jqxInput [placeHolder]="'grantedFrom'|translate" [theme]="'energyblue'"
                          formControlName="grantedFromLocalLevel" [width]="160" [height]="23">
                        </jqxInput>
                      </td>
                      <td style="font-size: 13px">{{'WARD'|translate}}</td>
                      <td>
                        <jqxInput [placeHolder]="'grantedFrom'|translate" [theme]="'energyblue'"
                          formControlName="grantedFromIngo" [width]="160" [height]="23">
                        </jqxInput>
                      </td>
                    </tr>
                    <tr>
                      <td style="font-size: 13px">
                        <span *ngIf="approvalEntryForm.value.workServiceType === 'Consumer Committe'">
                          {{ 'CUST' | translate }}
                        </span>
                        <span *ngIf="approvalEntryForm.value.workServiceType === 'Sahakari'">
                          श्रम सहकारी / संस्था मार्फत
                        </span></td>
                      <td>
                        <jqxInput [theme]="'energyblue'" [placeHolder]="'grantedFrom'|translate" [height]="23"
                          [width]="160" formControlName="grantedFromConsumerCommitte"></jqxInput>
                      </td>
                      <td style="font-weight: 500; font-size: 13px">{{'gf'|translate}} {{'Others'|translate}}</td>
                      <td>
                        <input type="checkbox" formControlName="grantedFromOthers"
                          (change)="checkValue(approvalEntryForm.value['grantedFromOthers']?'A':'B')"
                          [checked]="true" />
                        <!-- <input *ngIf="!checkOtherGranted" type="checkbox" formControlName="grantedFromOthers" (change)="checkValue(approvalEntryForm.value['grantedFromOthers']?'A':'B')"
                          [checked]="false" /> -->
                        <a (click)="addItem()" class="btn btn-sm btn-primary px-btn" *ngIf="showArray">
                          <i class="fa fa-fw fa-plus" aria-hidden="true"></i> {{'ADD'|translate}}</a>
                      </td>
                    </tr>
                    <tr *ngIf="showArray">
                      <td colspan="8">
                        <fieldset>
                          <legend>{{'gf'|translate}} {{'Others'|translate}}</legend>
                          <div formArrayName="othersDonators">
                            <div class="row">
                              <div
                                *ngFor="let reqItem of approvalEntryForm.get('othersDonators')['controls']; let i = index"
                                class="col-md-6 form-array-container-inner">
                                <div class="row p-1 row-body" [formGroupName]="i">
                                  <div class="col-md-4">
                                    <label for="">{{ "NAME" | translate }}</label>
                                    <input type="hidden" formControlName="id" class="px-control">
                                    <nepali-input name="name" formControlName="name" [inputClass]="'px-control'">
                                    </nepali-input>
                                    <small
                                      [hidden]="reqItem['controls'].name.valid || !reqItem['controls'].name.touched"
                                      class="form-control-feedback text-danger px-control-error">
                                      * required
                                    </small>
                                  </div>
                                  <div class="col-md-4">
                                    <label for="">{{ "VALUE" | translate }}</label>
                                    <input type="text" formControlName="value" class="px-control">
                                    <small
                                      [hidden]="reqItem['controls'].value.valid || !reqItem['controls'].value.touched"
                                      class="form-control-feedback text-danger px-control-error">
                                      * required
                                    </small>
                                  </div>
                                  <div class="col-md-2">
                                    <label for="">&nbsp;</label>
                                    <button type="button" (click)="removeItem(i)" class="btn btn-sm btn-danger"
                                      [disabled]="approvalEntryForm.get('othersDonators').length < 1">
                                      <i class="fa fa-times fa-fw" aria-hidden="true"></i> {{ "REMOVE" | translate }}
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="8">
                        <br>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="8">
                        <br>
                      </td>
                    </tr>
                    <!--
                    <tr>
                      <td colspan="8">
                        <label>{{'wadaRepresentative' | translate}}</label>

                          <nepali-input name="wadaRepresentative" formControlName="wadaRepresentative"  [height]="23" [width]="160" [inputClass]="'px-control'" [placeHolder]="'wadaRepresentative'|translate"></nepali-input>

                        <hr><br>
                      </td>
                    </tr> -->
                  </table>

                  <hr>
                  <h5 *ngIf="showTable">
                    <span *ngIf="approvalEntryForm.value.workServiceType === 'Consumer Committe'">
                      उपभोक्त्ता समिति पदाधिकारीहरुको विवरण
                    </span>
                    <span *ngIf="approvalEntryForm.value.workServiceType === 'Sahakari'">
                      श्रम सहकारी / संस्थाको पदाधिकारीहरुको विवरण
                    </span>
                  </h5>
                  <jqxButton *ngIf="showTable" style="margin-right: 5px;margin-top: 10px;" [width]="100" [height]="25"
                    [theme]="'energyblue'" (onClick)="addButton($event)">
                    {{'ADD' | translate}}
                  </jqxButton>
                  <table formArrayName="workServiceTypeArray" *ngIf="showTable">
                    <tr *ngIf="monitoringCommitteConfig">
                      <ng-container *ngFor="let config of monitoringCommitteConfig">
                        <td *ngIf="!config.hidden" style="font-weight: 500; font-size: 13px">{{ config.heading }}</td>
                      </ng-container>
                    </tr>
                    <tr *ngIf="!monitoringCommitteConfig">
                      <td style="font-weight: 500; font-size: 13px">{{'NAME' |
                                translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'POST' |
                                translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'ADDRESS'
                                | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'CITIZEN'
                                | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'ISSUE_DISTRICT'
                                | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'ISSUE_DATE'
                                | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'CONTACT_NO'
                                | translate}}</td>
                    </tr>
                    <!-- <td style="font-weight: 500; font-size: 13px">{{'ATTACHMENT' | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'ACTION'|translate}}</td> -->
                    <tr *ngFor="let workServiceForm of
                    approvalEntryForm.get('workServiceTypeArray')['controls'];
                    let i= index;" [formGroupName]="i">
                      <ng-container *ngFor="let config of monitoringCommitteConfig">
                        <td *ngIf="!config.hidden">
                          <nepali-input [name]="config.name" [formControlName]="config.name" [height]="23" [width]="150"
                            [inputClass]="'px-control'" [placeHolder]="config.placeholder | translate"></nepali-input>
                          <small
                            *ngIf="!approvalEntryForm.get('workServiceTypeArray')['controls'][i].get(config.name).disabled"
                            [hidden]="approvalEntryForm.get('workServiceTypeArray')['controls'][i].get(config.name).valid"
                            class="form-control-feedback text-danger
                            px-control-error">
                            * आवश्यक छ !!
                          </small>
                        </td>
                      </ng-container>
                    </tr>
                    <!-- <tr
                      *ngFor="let workServiceForm of approvalEntryForm.get('workServiceTypeArray').controls; let i = index;"
                      [formGroupName]="i">
                      <td>
                        <input formControlName="id" type="text" hidden>
                        <nepali-input name="memberName" formControlName="memberName" [height]="23" [width]="150"
                          [inputClass]="'px-control'" [placeHolder]="'ENTER_NAME'|translate"></nepali-input>
                      </td>
                      <td>
                        <nepali-input name="memberPost" formControlName="memberPost" [height]="23" [width]="150"
                          [inputClass]="'px-control'" [placeHolder]="'ENTER_POST' | translate"></nepali-input>
                      </td>
                      <td>
                        <nepali-input name="committeAddress" formControlName="committeAddress" [height]="23"
                          [width]="150" [inputClass]="'px-control'" [placeHolder]="'ENTER_ADDRESS'|translate">
                        </nepali-input>
                        <small
                          [hidden]="approvalEntryForm.get('workServiceTypeArray')['controls'][i].get('committeAddress').valid"
                          class="form-control-feedback text-danger px-control-error">
                        </small>
                      </td>
                      <td>
                        <jqxInput [theme]="'energyblue'" [placeHolder]="'ENTER_CITIZENSHIP_NO' | translate"
                          [height]="23" [width]="150" formControlName="citizenshipNumber"></jqxInput>
                      </td>
                      <td>
                        <nepali-input name="issueDistrict" formControlName="issueDistrict" [height]="23" [width]="150"
                          [inputClass]="'px-control'" [placeHolder]="'ISSUE_DISTRICT'|translate"></nepali-input>
                      </td>
                      <td>
                        <input class="px-control" placeholder="YYYY-MM-DD" height="23px" width="160px"
                          formControlName="issueDate" pattern="(^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$)" />
                        <small
                          [hidden]="approvalEntryForm.get('workServiceTypeArray')['controls'][i].get('issueDate').valid"
                          class="form-control-feedback text-danger px-control-error">
                          * आवश्यक छ !! Date format: 2076-01-01
                        </small>
                      </td>
                      <td>
                        <jqxInput [placeHolder]="'CONTACT_NO'|translate" [theme]="'energyblue'"
                          formControlName="phoneNumber" [width]="160" [height]="23">
                        </jqxInput>
                      </td> -->
                    <!-- <td>
                        <input formControlName="scanCopy" (change)="onFileChange($event,i)" type="file" accept=".png,.jpg,.pdf,.jpeg,.doc,.docx,.xlsx,.xls">
                      </td>
                      <td>
                        <a *ngIf="committeeEdidData[i].scanCopy" href="{{docUrl+committeeEdidData[i].scanCopy}}" target="_blank">
                          <span *ngIf="committeeEdidData[i].scanCopy!==null">{{'VIEW'|translate}}</span>
                        </a>
                      </td> -->
                  </table>
                  <div *ngIf="showTable" style="width:30%">
                    <label style="font-size:12px;">{{'wadaRepresentative' | translate}}<span style="color:red"> *</span>
                    </label>
                    <nepali-input name="wadaRepresentative" formControlName="wadaRepresentative"
                      [inputClass]="'px-control'" [placeHolder]="'wadaRepresentative'|translate"></nepali-input>
                  </div>
                  <table *ngIf="contractTable">
                    <tr>
                      <td></td>
                      <td></td>
                      <td style="font-weight: 500; font-size: 13px">{{'firmName'|translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'ADDRESS'|translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'contactPerson'|translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'contactNumber'|translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'ANUBANDA_DATE'|translate}}</td>
                      <td style="font-weight: 500; font-size: 13px"> कबोल रकम </td>
                      <td style="font-weight: 500; font-size: 13px">{{'ATTACHMENT'|translate}}<span style="color: red;" >*</span></td>
                      <td style="font-weight: 500; font-size: 13px">{{'FILE'|translate}}</td>
                    </tr>
                    <tr>
                      <td></td>
                        <td></td>
                        <td width="200px">
                          <a (click)="addNewContract()" class="btn btn-sm btn-primary
                            px-btn">
                            <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                            {{'ADD'|translate}}</a>
                        </td>
                      </tr>
                    <tr formArrayName="contractData" *ngFor="let reqItem of
                    approvalEntryForm.get('contractData')['controls'];
                    let i= index">
                      <td [formGroupName]="i">
                        <!-- <button type="button" (click)="removeItem1(i)"> -->
                            <i class="fa fa-times fa-fw" aria-hidden="true" style="color:red;" (click)="removeItem1(i)"></i>
                        <!-- </button> -->
                      </td>
                      <td [formGroupName]="i" width="8px">
                        <input type="radio" name= "selected" formControlName="selected" [value]="1" (change)="selectChange(i)">
                      </td>
                      <td [formGroupName]="i">
                        <nepali-input name="name" formControlName="name" [height]="23" [width]="150"
                          [inputClass]="'px-control'" [placeHolder]="'ENTER_NAME'|translate"></nepali-input>
                      </td>
                      <td [formGroupName]="i">
                        <nepali-input name="address" formControlName="address" [height]="23" [width]="150"
                          [inputClass]="'px-control'" [placeHolder]="'ENTER_ADDRESS'|translate"></nepali-input>
                      </td>
                      <td [formGroupName]="i">
                        <nepali-input name="contactPerson" formControlName="contactPerson" [height]="23" [width]="150"
                          [inputClass]="'px-control'" [placeHolder]="'ENTER_CONTACT_PERSON'|translate"></nepali-input>
                      </td>
                      <td [formGroupName]="i">
                        <jqxInput [theme]="'energyblue'" [placeHolder]="'ENTER_CONTACT_NUMBER' | translate"
                          [height]="23" [width]="150" formControlName="contactNumber"></jqxInput>
                      </td>
                      <td [formGroupName]="i">
                        <input class="px-control" style="height:23px; width: 160px" formControlName="contractDate"
                          pattern="(^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$)" />
                        <!-- <small [hidden]="approvalEntryForm.get('contractDate').valid"
                          class="form-control-feedback text-danger px-control-error">
                          Date format: 2076-01-01
                        </small> -->
                      </td>
                      <td [formGroupName]="i">
                        <jqxInput [theme]="'energyblue'" placeholder="कबोल रकम" height="23" width="160px"
                          formControlName="contractAmount">
                        </jqxInput>
                      </td>
                      <td [formGroupName]="i">
                        <input formControlName="attatchment" (change)="handleFileInputContract(i,$event)" type="file">
                      </td>
                      <td [formGroupName]="i">
                        <!-- <a *ngIf="contractEdidData && contractEdidData['attatchment']" href="{{docUrl+contractEdidData['attatchment']}}"
                          target="_blank">
                          {{'VIEW'|translate}}
                        </a> -->
                        <span *ngIf="contractDocData[i]">
                          <!-- <span *ngFor="let data of contractDocData[i]"> -->
                            <a *ngIf="contractDocData[i].attatchment" href="{{docUrl+contractDocData[i].attatchment}}" target="_blank">
                              {{'VIEW'|translate}}
                            </a>&nbsp;&nbsp;
                            <button class="add-cross btn-danger" type="submit"
                              (click)="DeleteDoc(contractDocData[i]['id'])">Delete</button>
                          <!-- </span> -->
                        </span>
                      </td>
                    </tr>
                    <!-- <tr>
                      <td style="font-weight: 500; font-size: 13px">{{'accountNo' | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'bankName' | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'accountHolderName' | translate}}</td>
                    </tr> -->
                    <!-- <tr>
                      <td>
                        <input type="text" formControlName="contractBankAcNo" placeholder="{{'accountNo'|translate}}"
                          class="px-control" style="width:160px;">
                      </td>
                      <td width="250px">
                        <nepali-input name="contractBankName" formControlName="contractBankName" [height]="23" [width]="160"
                          [inputClass]="'px-control'" [placeHolder]="'bankName'|translate"></nepali-input>
                      </td>
                      <td>
                        <nepali-input name="contractBankAcHolder" formControlName="contractBankAcHolder" [height]="23"
                          [width]="160" [inputClass]="'px-control'" [placeHolder]="'accountHolderName'|translate"></nepali-input>
                      </td>
                    </tr> -->
                  </table>
                  <table *ngIf="showAmanantaTable">
                    <tr>
                      <td>कार्यालयको नाम:
                        <div style="width:300px;">
                          <nepali-input name="officeName" formControlName="officeName" [height]="23" [width]="160"
                            [inputClass]="'px-control'" [placeHolder]="'ENTER_OFFICE_NAME'|translate"></nepali-input>
                        </div>
                      </td>
                      <td>आधिकारिक व्यक्तिको नाम:
                        <div style="width:300px;">
                          <nepali-input name="orderName" formControlName="orderName" [height]="23" [width]="160"
                            [inputClass]="'px-control'" placeHolder="आधिकारिक व्यक्तिको नाम प्रविष्ट गर्नुहोस्">
                          </nepali-input>
                        </div>
                      </td>

                    </tr>
                  </table>
                </div>
                <div class="col-md-12">
                  <br>
                  <div class="form-group" *ngIf="showTable">
                    <label>{{'monitor' | translate}}</label>
                    <select formControlName="monitoring"
                      (change)="monitoringChange(approvalEntryForm.value['monitoring'])"
                      class="selectpicker select-class select-border" style="width:160px;height:23px;">
                      <option [selected]="true" value=''>{{'CHOOSEU'|translate}}</option>
                      <option *ngFor="let data of monitoringAdapter" [value]="data['name']">{{data['id']}}</option>
                    </select>
                  </div>
                  <hr>

                  <jqxButton *ngIf="showMonitoringTable" style="margin-right: 5px;margin-top: 10px;" [width]="100"
                    [height]="25" [theme]="'energyblue'" (onClick)="addMonitoringCommittee($event)">
                    {{'ADD' | translate}}
                  </jqxButton>

                  <table formArrayName="monitoringCommitteeArray" *ngIf="showMonitoringTable">
                    <tr>
                      <td style="font-weight: 500; font-size: 13px">{{'POST' | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'NAME' | translate}} {{'CAST'|translate}}</td>
                      <!-- <td style="font-weight: 500; font-size: 13px">{{'FATHERNAME' | translate}}</td> -->
                      <td style="font-weight: 500; font-size: 13px">{{'ADDRESS' | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'CITIZEN' | translate}}</td>
                      <td style="font-weight: 500; font-size: 13px">{{'PHONE' | translate}}</td>
                    </tr>
                    <tr
                      *ngFor="let workServiceForm of approvalEntryForm.get('monitoringCommitteeArray').controls; let i = index;"
                      [formGroupName]="i">
                      <td>
                        <nepali-input name="monitoringCommitteePost" formControlName="monitoringCommitteePost"
                          [height]="23" [width]="150" [inputClass]="'px-control'"
                          [placeHolder]="'ENTER_POST'|translate"></nepali-input>
                      </td>
                      <td>
                        <nepali-input name="monitoringCommitteeName" formControlName="monitoringCommitteeName"
                          [height]="23" [width]="150" [inputClass]="'px-control'"
                          [placeHolder]="'ENTER_NAME'|translate"></nepali-input>
                        <small
                          [hidden]="approvalEntryForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeName').valid"
                          class="form-control-feedback text-danger px-control-error">
                          * अावश्यक छ !!
                        </small>
                      </td>
                      <!-- <td>
                        <nepali-input name="monitoringCommitteeFatherName" formControlName="monitoringCommitteeFatherName"
                          [height]="23" [width]="150" [inputClass]="'px-control'" [placeHolder]="'ENTER_NAME'|translate"></nepali-input>
                        <small [hidden]="approvalEntryForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeFatherName').valid"
                          class="form-control-feedback text-danger px-control-error">
                          * अावश्यक छ !!
                        </small>
                      </td> -->
                      <td>
                        <nepali-input name="monitoringCommitteeAddress" formControlName="monitoringCommitteeAddress"
                          [height]="23" [width]="150" [inputClass]="'px-control'"
                          [placeHolder]="'ENTER_ADDRESS'|translate"></nepali-input>
                        <small
                          [hidden]="approvalEntryForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeAddress').valid"
                          class="form-control-feedback text-danger px-control-error">
                          * अावश्यक छ !!
                        </small>
                      </td>
                      <td>
                        <jqxInput [theme]="'energyblue'" [placeHolder]="'ENTER_CITIZENSHIP_NO' | translate"
                          [height]="23" [width]="160" formControlName="monitoringCommitteeCitizenshipNo"></jqxInput>
                        <small
                          [hidden]="approvalEntryForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeCitizenshipNo').valid"
                          class="form-control-feedback text-danger px-control-error">
                          * अावश्यक छ !!
                        </small>
                      </td>
                      <td>
                        <jqxInput [theme]="'energyblue'" [placeHolder]="'98********'" [height]="23" [width]="160"
                          formControlName="monitoringCommitteeMobile"></jqxInput>
                        <small
                          [hidden]="approvalEntryForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeMobile').valid"
                          class="form-control-feedback text-danger px-control-error">
                          * अावश्यक छ !!
                        </small>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-3">
              <div class="form-group" style="padding: 15px 0;">
                <!-- [disabled]="!approvalEntryForm.valid" -->
                <jqxButton style="margin-right: 5px;margin-top: 10px;" [disabled]="!approvalEntryForm.valid"
                  [width]="100" [height]="25" [theme]="'energyblue'" (onClick)="save(approvalEntryForm.value)">
                  {{'SAVE' | translate}}
                </jqxButton>
                <jqxButton #submitButton [width]='120' [theme]="'energyblue'" [height]='25' (onClick)="close()">
                  {{'CLOSE' | translate}}
                </jqxButton>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(function () {
    $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
  });
</script>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>