<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator>
    <form name="TrainingForm" [formGroup]="TrainingForm" id="TrainingForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{'TRAINING_CATEGORY'|translate}}</legend>
        <input type="text" name="id" formControlName="id" hidden>
        <table class="table-w-tooltip">
          <tr>
            <td>{{'TRAINING_NAME'|translate}}&nbsp;<span>*</span></td>
            <td>
              <jqxInput [theme]="'energyblue'" [placeHolder]="''" [height]="23" [width]="160" formControlName="name"></jqxInput>
            </td>
            <td>{{'TRAINING_NAMENEPALI'|translate}} &nbsp;<span>*</span></td>
            <td>
              <nepali-input  name="nameNepali" formControlName="nameNepali" [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
           
            </td>
            <td *ngIf="!update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!TrainingForm.valid" (onClick)="saveBtn(TrainingForm.value)">
                {{'SAVE' | translate}}
              </jqxButton>
            </td>
            <td *ngIf="update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!TrainingForm.valid" (onClick)="updateBtn(TrainingForm.value)">
                {{'UPDATE' | translate}}
              </jqxButton>
            </td>
            <td *ngIf="update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                <i class="fa fa-times"></i>{{'CANCEL' | translate}}
              </jqxButton>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>
  <div class="grid-container">
    <jqxGrid #myGrid [height]="'100%'" class="grid-class" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true"
      [filterable]="true" [autorowheight]="true" [sortable]="true" [editable]="true" [theme]="'energyblue'"
      [selectionmode]="'checkbox'" [showfilterrow]="true" [showtoolbar]="true" [rendertoolbar]="rendertoolbar" [keyboardnavigation]="true">
    </jqxGrid>
  </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>