<div style="padding-right: 100px; padding-left: 100px; padding-top: 20px;">
        <jqxButton style="float: right;" [width]="100" [theme]="'energyblue'" (onClick)="close()">
                बन्द गर्नुहोस्
        </jqxButton>
        <jqxButton style="float: right; margin-right: 15px;" [width]="100" [theme]="'energyblue'"
                (onClick)="print(formAccount.value)">
                प्रिन्ट गर्नुहोस्
        </jqxButton>
</div>
<form name="formAccount" [formGroup]="formAccount" id="formAccount">
        <input type="hidden" class="form-style-4" style="width:90% !important" formControlName="financeId">

        <!-- bideha -->
        <div id="print-section" style="margin:80px;" *ngIf="(progressData && progressData.length>0) && distType === 'bideha'">
                <div style="margin-left: 100px;margin-right: 80px">
                        <app-letterhead></app-letterhead>
                        <div style="display: flex; justify-content: space-between;">
                                <p>प.स.: {{formAccount.value.planYear | displayNepaliDate}} </p>
                                <div>मिति:
                                        <div class="hidePrint">
                                                <input type="text" class="form-style-5" style="width:100px !important"
                                                formControlName="date">
                                        </div>
                                        <span class="showPrint">
                                                {{ formAccount.value['date'] | displayNepaliDate }}
                                        </span>
                                        </div>
                                        </div>
                        <p style="text-align: left;border-bottom: 2px solid blue;">च.नं.</p>

                        <!-- <input type="hidden" class="form-style-4" style="width:150px !important" formControlName="date"> -->
                        <p style="text-align: center; font-size: 16px; font-style: bold"><u><b>योजना अनुगमन प्रतिबेदन फारम</b> </u></p>
                        <br>
                        <h1 style="text-align: left; font-size: 15px"><u><b>१) योजना सम्बन्धी विवरण</b></u></h1><br>
                        <div class="hidePrint" style="clear: both;width:100%">
                                <div style="width:50%;float:left;">
                                        <p>योजनाको नाम:<nepali-input type="text" [inputClass]="'form-style-5'"
                                                        style="width:300px !important" formControlName="activityName">
                                                </nepali-input>
                                        </p>
                                        <p>कुल लागत रकम (न.पा.ले ब्यहोर्ने+‌सहभागिता):<nepali-input type="text"
                                                        [inputClass]="'form-style-5'" style="width:100px !important"
                                                        formControlName="techCost"> </nepali-input>
                                        </p>
                                        <p>स्थान:<nepali-input type="text" [inputClass]="'form-style-5'"
                                                        style="width:200px !important"
                                                        formControlName="activityAddress"> </nepali-input>
                                        </p>
                                        <p>योजना सम्झौता मिति :<nepali-input type="text" [inputClass]="'form-style-5'"
                                                        style="width:300px !important" formControlName="activityDate">
                                                </nepali-input>
                                        </p>
                                        <p>योजना सम्पन्न गर्नु पर्ने मिति :<nepali-input type="text"
                                                        [inputClass]="'form-style-5'" style="width:300px !important"
                                                        formControlName="activityComDate"> </nepali-input>
                                        </p>
                                        <p *ngIf="actValue">
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Amanathan Marfat'">
                                                        आदेश दिनेको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Contract'">
                                                        सम्बन्धित ठेकेदारको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Consumer Committe'">
                                                        उपभोक्ता समितिको अध्यक्ष्यको नाम 
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Sahakari'">
                                                        श्रम सहकारीको अध्यक्ष्यको नाम 
                                                </span>:
                                                <nepali-input type="text"
                                                [inputClass]="'form-style-5'" style="width:300px !important"
                                                formControlName="committeHead"></nepali-input>
                                        </p>
                                        <p *ngIf="actValue">
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Amanathan Marfat'">
                                                        आदेश दिने कार्यालयको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Contract'">
                                                        फर्मको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Sahakari'">
                                                        श्रम सहकारीको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Consumer Committe'">
                                                        उपभोक्ता समितिको नाम  
                                                </span>:
                                                        <nepali-input type="text" [inputClass]="'form-style-5'"
                                                        style="width:300px !important" formControlName="committeeName">
                                                </nepali-input>
                                        </p>
                                        <p>स्वीकृत ल. ई. रु :<nepali-input type="text"
                                                        [inputClass]="'form-style-5'" style="width:300px !important"
                                                        formControlName="proposedCost"> </nepali-input>
                                        </p>
                                        <p>जनश्रमदानबाट बेहोर्ने रु :<nepali-input type="text"
                                                        [inputClass]="'form-style-5'" style="width:300px !important"
                                                        formControlName="shramDan"></nepali-input>
                                        </p>
                                        <p>प्रबिधिक साईट इन्चार्जको नाम :<nepali-input type="text"
                                                        [inputClass]="'form-style-5'" style="width:300px !important"
                                                        formControlName="technicalIncharge"> </nepali-input>
                                        </p>
                                </div>

                        </div>
                        <div class="showPrint" style="clear: both;width:100%">
                                <div style="width:90%;float:left;">
                                        <p>स्थान: <b>{{formAccount.value.activityAddress}}</b></p>
                                        <p>योजनाको नाम: <b>{{formAccount.value.activityName}}</b></p>
                                        <p>कुल लागत रकम (न.पा.ले ब्यहोर्ने+‌सहभागिता): <b>{{formAccount.value.techCost | digitCommas | displayNepaliDate}}</b></p>
                                        <p>योजना सम्झौता मिति: <b>{{formAccount.value.activityDate | displayNepaliDate}}</b></p>
                                        <p>योजना सम्पन्न गर्नु पर्ने मिति: <b>{{formAccount.value.activityComDate | displayNepaliDate}}</b></p>
                                        <p *ngIf="actValue">
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Amanathan Marfat'">
                                                        आदेश दिनेको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Contract'">
                                                        सम्बन्धित ठेकेदारको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Sahakari'">
                                                        श्रम सहकारीको अध्यक्ष्यको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Consumer Committe'">
                                                        उपभोक्ता समितिको अध्यक्ष्यको नाम 
                                                </span>: <b>{{formAccount.value.committeHead}}</b></p>
                                        <p *ngIf="actValue">
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Amanathan Marfat'">
                                                        आदेश दिने कार्यालयको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Contract'">
                                                        फर्मको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Sahakari'">
                                                        श्रम सहकारीको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Consumer Committe'">
                                                        उपभोक्ता समितिको नाम  
                                                </span>: <b>{{formAccount.value.committeeName}}</b></p>
                                        <p>स्वीकृत ल. ई. रु: <b>{{formAccount.value.proposedCost  | digitCommas | displayNepaliDate}}</b></p>
                                        <p>जनश्रमदानबाट बेहोर्ने रु: <b>{{formAccount.value.shramDan  | digitCommas | displayNepaliDate }}</b></p>
                                        <p>प्रबिधिक साईट इन्चार्जको नाम: <b>{{formAccount.value.technicalIncharge | digitCommas | displayNepaliDate }}</b></p>
                                </div>
                                <!-- <div style="width:50%;float:right;padding:20px">
                                        <span style="width:200px;float: right;border:1px solid black">
                                                <p style="text-align:center;font-size: 18px">जाँच पास नं:</p>
                                                <br>
                                                <p style="text-align: center;font-size: 18px">
                                                        {{formAccount.value.chalaniNo | displayNepaliDate}}</p>
                                        </span>
                                </div> -->
                        </div>
                        <div class="hidePrint" style="width: 100%">
                                <h2 style="text-align: left; font-size:15px"><u><b>२) लागत अनुमान अनुसार सम्पन्न हुन
                                                        बाकी कामको विवरण </b></u></h2><br>

                                <p>क) <nepali-input type="text" [inputClass]="'form-style-5'"
                                               formControlName="gudastar">
                                        </nepali-input>
                                </p>
                        </div><br>
                        <div class="showPrint">
                                <h2 style="text-align: left;font-size:15px"><u><b>२) लागत अनुमान अनुसार सम्पन्न हुन बाकी
                                                        कामको विवरण </b></u></h2><br>

                                <p>क){{ formAccount.value.gudastar}} </p>
                        </div>
                        <br>
                        <div class="hidePrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>३) कामको गुणस्तर</b></u></h3>
                                <input type="radio" name="work_quality" formControlName="work_quality"
                                        value="राम्रो"> राम्रो <br>
                                <input type="radio" name="work_quality" formControlName="work_quality"
                                        value="ठिकै"> ठिकै <br>
                                <input type="radio" name="work_quality" formControlName="work_quality"
                                        value="नराम्रो"> नराम्रो <br>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>३) कामको गुणस्तर</b></u></h3>
                                <p>{{formAccount.value.work_quality}}</p>
                        </div><br>
                        <br>
                        <div class="hidePrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>४) योजना समन्धी 
                                <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Consumer Committe'">उपभोक्ता समिति </span>
                                <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Sahakari'">श्रम सहकारी </span>
                                समुदायमा जानकारीको अवस्था </b></u></h3>
                                <input type="radio" name="work_quality1"
                                formControlName="work_quality1" value="पूर्ण जानकारी भएको"> पूर्ण जानकारी भएको <br>
                                <input type="radio" name="work_quality1"
                                formControlName="work_quality1" value="सामान्य जानकारी भएको"> सामान्य जानकारी भएको <br>
                                <input type="radio" name="work_quality1" formControlName="work_quality1"
                                value="थाहा नभएको"> थाहा नभएको <br>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>४) योजना समन्धी 
                                        <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Consumer Committe'">उपभोक्ता समिति </span>
                                        <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Sahakari'">श्रम सहकारी </span>
                                        समुदायमा जानकारीको अवस्था</b></u></h3>
                                <p>{{formAccount.value.work_quality1}}</p>
                        </div><br>
                        <br>
                        <div class="hidePrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>५) आयोजना विवरण पाटी (होर्डिंग बोर्ड) को अवस्था</b></u></h3>
                                <input type="radio" name="work_quality2" formControlName="work_quality2"
                                value="राखेको"> राखेको <br>
                                <input type="radio" name="work_quality2" formControlName="work_quality2"
                                value="नराखेको"> नराखेको <br>
                                <input type="radio" name="work_quality2" formControlName="work_quality2"
                                value="अन्य"> अन्य <br>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>५) आयोजना विवरण पाटी (होर्डिंग बोर्ड) को अवस्था</b></u></h3>
                                <p>{{formAccount.value.work_quality2}}</p>
                        </div><br>
                        <br>
                        <div class="hidePrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>६) 
                                        <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Consumer Committe'">उपभोक्ता समिति</span>
                                        <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Sahakari'">श्रम सहकारी</span>को बैठक को अवस्था
                                                </b></u></h3>
                                <input type="radio" name="work_quality3"
                                formControlName="work_quality3" value="नियमित बैठक बसेको"> नियमित बैठक बसेको<br>
                                <input type="radio" name="work_quality3"
                                formControlName="work_quality3" value="आवस्यक पर्दा बैठक बसेको"> आवस्यक पर्दा बैठक बसेको <br>
                                <input type="radio" name="work_quality3" formControlName="work_quality3"
                                value="बैठक नबसेको"> बैठक नबसेको <br>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>६) 
                                        <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Consumer Committe'">उपभोक्ता समिति</span>
                                        <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Sahakari'">श्रम सहकारी</span>को बैठक को अवस्था
                                        </b></u></h3>
                                <p>{{formAccount.value.work_quality3}}</p>
                        </div><br>
                        <br>

                        <div class="hidePrint" style="width: 100%">
                                <h3 style="text-align:left;font-size:15px;"><u><b>७) आयोजनाको गुणस्तर सुधार गर्नुपर्ने
                                                        कुराहरु</b></u></h3>
                                <nepali-input type="text" [inputClass]="'form-style-5'"
                                        formControlName="work_quality4"></nepali-input>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>७) आयोजनाको गुणस्तर सुधार गर्नुपर्ने
                                                        कुराहरु </b></u></h3>
                                <p>{{formAccount.value.work_quality4}}</p>
                        </div><br>
                        <br>

                        <div class="hidePrint" style="width: 100%">
                                <h3 style="text-align:left;font-size:15px;"><u><b>८) आयोजनाको सम्बंदी अन्य थप शुझाभारू
                                                </b></u></h3>
                                <nepali-input type="text" [inputClass]="'form-style-5'"
                                        formControlName="work_quality5"></nepali-input>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>८) आयोजनाको सम्बंदी अन्य थप शुझाभारू
                                                </b></u></h3>
                                <p>{{formAccount.value.work_quality5}}</p>
                        </div><br>
                        <br>

                        <div style="width:100%;clear:both" class="hidePrint">
                                <p style="text-align: left"><u><b>९) अनुगमन समितिका पदाधिकारीहरुको विवरण </b> </u></p>
                                <table style="width:100%;line-height: 2" border=1>
                                        <tr>
                                                <th style="text-align: center" style="width: 30px">
                                                        क्र.स
                                                </th>
                                                <th style="text-align: center" style="width: 350px">
                                                        अनुगमन समितिका पदाधिकारीहरुको नामथर
                                                </th>
                                                <th style="text-align: center">
                                                        पद
                                                </th>
                                                <th style="text-align: center">
                                                        सम्बद्द संस्था
                                                </th>
                                                <th style="text-align: center">
                                                        हस्तक्षर
                                                </th>

                                        </tr>
                                        <tr>
                                                <td colspan="5">
                                                        <button (click)="addItem2()">Add New Row</button>
                                                </td>
                                        </tr>
                                        <tbody formArrayName="tabledata1">
                                                <tr *ngFor="let reqItem of formAccount.get('tabledata1')['controls']; let i = index"
                                                        [formGroupName]="i">
                                                        <td style="text-align: center;">
                                                                {{i + 1 | displayNepaliDate }}
                                                        </td>
                                                        <td style="text-align: center">
                                                                <nepali-input type="text" [inputClass]="'form-style-5'"
                                                                        formControlName="name"></nepali-input>
                                                        </td>
                                                        <td style="text-align: center">
                                                                <nepali-input type="text" [inputClass]="'form-style-5'"
                                                                        formControlName="designation"></nepali-input>
                                                        </td>
                                                        <td style="text-align: center">
                                                                <nepali-input type="text" [inputClass]="'form-style-5'"
                                                                        formControlName="related"></nepali-input>
                                                        </td>
                                                        <td style="text-align: center">
                                                                <nepali-input type="text" [inputClass]="'form-style-5'">
                                                                </nepali-input>
                                                        </td>

                                                </tr>

                                        </tbody>
                                </table>
                                <br>
                                <br>
                        </div>

                        <div style="width:100%;clear:both" class="showPrint">
                                <p style="text-align: left"><u><b>९) अनुगमन समितिका पदाधिकारीहरुको विवरण </b> </u></p>
                                <table style="width:100%;line-height: 2" border=1>
                                        <thead>
                                                <tr>
                                                        <th style="text-align: center">
                                                                क्र.स
                                                        </th>
                                                        <th style="text-align: center">
                                                                अनुगमन समितिका पदाधिकारीहरुको नामथर
                                                        </th>
                                                        <th style="text-align: center">
                                                                पद
                                                        </th>
                                                        <th style="text-align: center">
                                                                सम्बद्द संस्था
                                                        </th>
                                                        <th style="text-align: center">
                                                                हस्तक्षर
                                                        </th>
        
                                                </tr>
                                        </thead>

                                        <tbody formArrayName="tabledata1">
                                                <tr *ngFor="let reqItem of formAccount.get('tabledata1')['controls']; let i = index"
                                                        [formGroupName]="i">
                                                        <td>
                                                                {{i + 1 | displayNepaliDate }}
                                                        </td>
                                                        <td>
                                                                {{reqItem.value.name}}
                                                        </td>
                                                        <td>
                                                                {{reqItem.value.designation}}
                                                        </td>
                                                        <td>
                                                                {{reqItem.value.related}}
                                                        </td>
                                                        <td>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>
                                <br>
                                <br>
                        </div>

                        <div class="hidePrint" style="width: 100%">
                               <h3 style="text-align:left;font-size:15px;"><u><b>नोट :-योजनाको बारेमा अन्य राय सुझाब
                                                        भए उल्लेख गर्न सकिनेछ </b></u></h3>
                                
                                
                                <nepali-input type="text" [inputClass]="'form-style-5'"
                                        formControlName="work_quality6"></nepali-input>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>नोट :-योजनाको बारेमा अन्य राय सुझाब भए
                                                        उल्लेख गर्न सकिनेछ </b></u></h3>
                                <p>{{formAccount.value.work_quality6}}</p>
                        </div><br>
                        <br>
                        <br />
                        <br />

                        <br />

                </div>
        </div>

        <!-- others -->
        <div id="print-section" style="margin:80px;" *ngIf="(progressData && progressData.length>0) && distType != 'bideha'">
                <div style="margin-left: 100px;margin-right: 80px">
                        <app-letterhead></app-letterhead>
                        <div style="display: flex; justify-content: space-between;">
                                <p>प.स.: {{formAccount.value.planYear | displayNepaliDate}} </p>
                                <div>मिति:
                                        <div class="hidePrint">
                                                <input type="text" class="form-style-5" style="width:100px !important"
                                                formControlName="date">
                                        </div>
                                        <span class="showPrint">
                                                {{ formAccount.value['date'] | displayNepaliDate }}
                                        </span>
                                        </div>
                                        </div>
                        <p style="text-align: left;border-bottom: 2px solid blue;">च.नं.</p>


                        <!-- <input type="hidden" class="form-style-4" style="width:150px !important" formControlName="date"> -->
                        <p style="text-align: center; font-size: 16px; font-style: bold"><u><b>योजना अनुगमन प्रतिबेदन फारम</b> </u></p>
                        <br>
                        <h1 style="text-align: left; font-size: 15px"><u><b>१) योजना सम्बन्धी विवरण</b></u></h1><br>
                        <div class="hidePrint" style="clear: both;width:100%">
                                <div style="width:50%;float:left;">
                                        <p>योजनाको नाम:<nepali-input type="text" [inputClass]="'form-style-5'"
                                                        style="width:300px !important" formControlName="activityName">
                                                </nepali-input>
                                        </p>
                                        <p>कुल लागत रकम (न.पा.ले ब्यहोर्ने+‌सहभागिता):<nepali-input type="text"
                                                        [inputClass]="'form-style-5'" style="width:100px !important"
                                                        formControlName="techCost"> </nepali-input>
                                        </p>
                                        <p>स्थान:<nepali-input type="text" [inputClass]="'form-style-5'"
                                                        style="width:200px !important"
                                                        formControlName="activityAddress"> </nepali-input>
                                        </p>
                                        <p>योजना सम्झौता मिति :<nepali-input type="text" [inputClass]="'form-style-5'"
                                                        style="width:300px !important" formControlName="activityDate">
                                                </nepali-input>
                                        </p>
                                        <p>योजना सम्पन्न गर्नु पर्ने मिति :<nepali-input type="text"
                                                        [inputClass]="'form-style-5'" style="width:300px !important"
                                                        formControlName="activityComDate"> </nepali-input>
                                        </p>
                                        <p *ngIf="actValue">
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Amanathan Marfat'">
                                                        आदेश दिनेको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Contract'">
                                                        सम्बन्धित ठेकेदारको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Consumer Committe'">
                                                        उपभोक्ता समितिको अध्यक्ष्यको नाम 
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Sahakari'">
                                                        श्रम सहकारीको अध्यक्ष्यको नाम 
                                                </span>:
                                                <nepali-input type="text"
                                                [inputClass]="'form-style-5'" style="width:300px !important"
                                                formControlName="committeHead"></nepali-input>
                                        </p>
                                        <p *ngIf="actValue">
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Amanathan Marfat'">
                                                        आदेश दिने कार्यालयको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Contract'">
                                                        फर्मको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Sahakari'">
                                                        श्रम सहकारीको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Consumer Committe'">
                                                        उपभोक्ता समितिको नाम  
                                                </span>:
                                                        <nepali-input type="text" [inputClass]="'form-style-5'"
                                                        style="width:300px !important" formControlName="committeeName">
                                                </nepali-input>
                                        </p>
                                        <p>विनियोजित बजेट रु :<nepali-input type="text"
                                                        [inputClass]="'form-style-5'" style="width:300px !important"
                                                        formControlName="proposedCost"> </nepali-input>
                                        </p>
                                        <p>जनश्रमदानबाट बेहोर्ने रु :<nepali-input type="text"
                                                        [inputClass]="'form-style-5'" style="width:300px !important"
                                                        formControlName="shramDan"></nepali-input>
                                        </p>
                                        <p>प्रबिधिक साईट इन्चार्जको नाम :<nepali-input type="text"
                                                        [inputClass]="'form-style-5'" style="width:300px !important"
                                                        formControlName="technicalIncharge"> </nepali-input>
                                        </p>
                                </div>

                        </div>
                        <div class="showPrint" style="clear: both;width:100%">
                                <div style="width:90%;float:left;">
                                        <p>स्थान: <b>{{formAccount.value.activityAddress}}</b></p>
                                        <p>योजनाको नाम: <b>{{formAccount.value.activityName}}</b></p>
                                        <p>कुल लागत रकम (न.पा.ले ब्यहोर्ने+‌सहभागिता): <b>{{formAccount.value.techCost | digitCommas | displayNepaliDate}}</b></p>
                                        <p>योजना सम्झौता मिति: <b>{{formAccount.value.activityDate | displayNepaliDate}}</b></p>
                                        <p>योजना सम्पन्न गर्नु पर्ने मिति: <b>{{formAccount.value.activityComDate | displayNepaliDate}}</b></p>
                                        <p *ngIf="actValue">
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Amanathan Marfat'">
                                                        आदेश दिनेको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Contract'">
                                                        सम्बन्धित ठेकेदारको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Sahakari'">
                                                        श्रम सहकारीको अध्यक्ष्यको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Consumer Committe'">
                                                        उपभोक्ता समितिको अध्यक्ष्यको नाम 
                                                </span>: <b>{{formAccount.value.committeHead}}</b> </p>
                                        <p *ngIf="actValue">
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Amanathan Marfat'">
                                                        आदेश दिने कार्यालयको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Contract'">
                                                        फर्मको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Sahakari'">
                                                        श्रम सहकारीको नाम
                                                </span>
                                                <span *ngIf="actValue['data']['workServiceType'] === 'Consumer Committe'">
                                                        उपभोक्ता समितिको नाम  
                                                </span>: <b>{{formAccount.value.committeeName}}</b> </p>
                                        <p>विनियोजित बजेट रु: <b>{{formAccount.value.proposedCost  | digitCommas | displayNepaliDate}}</b> </p>
                                        <p>जनश्रमदानबाट बेहोर्ने रु: <b>{{formAccount.value.shramDan  | digitCommas | displayNepaliDate }}</b></p>
                                        <p>प्रबिधिक साईट इन्चार्जको नाम: <b>{{formAccount.value.technicalIncharge | digitCommas | displayNepaliDate }}</b></p>
                                </div>
                                <!-- <div style="width:50%;float:right;padding:20px">
                                        <span style="width:200px;float: right;border:1px solid black">
                                                <p style="text-align:center;font-size: 18px">जाँच पास नं:</p>
                                                <br>
                                                <p style="text-align: center;font-size: 18px">
                                                        {{formAccount.value.chalaniNo | displayNepaliDate}}</p>
                                        </span>
                                </div> -->
                        </div>
                        <div style="width:100%;clear:both" gty>
                                <p style="text-align: left"><u><b>२) सम्पन्न भएको कामको विवरण </b> </u></p>
                                <div class="hidePrint">
                                        <table style="width:100%;line-height: 2" border=1>
                                                <thead>
                                                        <tr>
                                                                <th style="text-align: center" colspan="7"> सम्पन्न कामको परिमाण
                                                                </th>
                                                        </tr>
                                                        <tr>
                                                                <th style="text-align: center">
                                                                        क्र.स.
                                                                </th>
                                                                <th style="text-align: center">
                                                                        कामको विवरण
                                                                </th>
                                                                <th style="text-align: center">
                                                                        इकाई
                                                                </th>
                                                                <th style="text-align: center">
                                                                        ल.ई. अनुसार
                                                                </th>
                                                                <th style="text-align: center">
                                                                        मर्मत भएको
                                                                </th>
                                                                <th style="text-align: center;">
                                                                        घटी/बढी परिणाम
                                                                </th>
                                                                <th style="text-align: center">
                                                                        कैफियत
                                                                </th>
                                                        </tr>
                                                        <tr>
                                                                <th colspan="7" style="border: 0px" >
                                                                        <div class="hidePrint">
                                                                                <button (click)="addItem1()">Add New Row</button>
                                                                        </div>
                                                                </th>
                                                        </tr>
        
                                                </thead>
                                                <tbody formArrayName="tabled">
                                                        <tr *ngFor="let reqItem of formAccount.get('tabled')['controls']; let i = index"
                                                                [formGroupName]="i">
                                                                <td style="text-align: center">
                                                                                {{ i + 1 | displayNepaliDate }}
                                                                            </td>
                                                                            <td style="text-align: center">
                                                                                    <nepali-input type="text" [inputClass]="'form-style-5'"
                                                                                    name="activity" formControlName="activity">
                                                                                     </nepali-input>
                                                                               
                                                                            </td>
                                                                            <td style="text-align: center">
                                                                                    <nepali-input type="text" [inputClass]="'form-style-5'"
                                                                                                name="unit" formControlName="unit">
                                                                                            </nepali-input>
                    
                                                                                
                                                                            </td>
                                                                            <td style="text-align: center">
                                                                                    <nepali-input type="text" [inputClass]="'form-style-5'"
                                                                                                name="anusar" formControlName="anusar">
                                                                                            </nepali-input>
                    
                                                                            </td>
                                                                            <td style="text-align: center">
                                                                                    <nepali-input type="text" [inputClass]="'form-style-5'"
                                                                                                name="repair" formControlName="repair">
                                                                                            </nepali-input>
                    
                                                                            </td>
                                                                            <td>
                                                                                    <nepali-input type="text" [inputClass]="'form-style-5'"
                                                                                                name="incdsc" formControlName="incdsc">
                                                                                            </nepali-input>
                    
                                                                            </td>
                                                                            <td style="text-align: center">
                                                                                    <nepali-input type="text" [inputClass]="'form-style-5'"
                                                                                                name="remark" formControlName="remark">
                                                                                            </nepali-input>
                    
                                                                </td>
                                                        </tr>
                                                </tbody>
        
                                        </table>
                                </div>

                                <div class="showPrint" style="width: 100%">
                                        <table style="width:100%;line-height: 2" border=1>
                                                        <thead>
                                                                <tr>
                                                                        <th style="text-align: center" colspan="7"> सम्पन्न कामको परिमाण
                                                                        </th>
                                                                </tr>
                                                                <tr>
                                                                        <th style="text-align: center">
                                                                                क्र.स.
                                                                        </th>
                                                                        <th style="text-align: center">
                                                                                कामको विवरण
                                                                        </th>
                                                                        <th style="text-align: center">
                                                                                इकाई
                                                                        </th>
                                                                        <th style="text-align: center">
                                                                                ल.ई. अनुसार
                                                                        </th>
                                                                        <th style="text-align: center">
                                                                                मर्मत भएको
                                                                        </th>
                                                                        <th style="text-align: center;">
                                                                                घटी/बढी परिणाम
                                                                        </th>
                                                                        <th style="text-align: center">
                                                                                कैफियत
                                                                        </th>
                                                                </tr>
                
                                                        </thead>
                                                        <tbody formArrayName="tabled">
                                                                <tr *ngFor="let reqItem of formAccount.get('tabled')['controls']; let i = index"
                                                                        [formGroupName]="i">
                                                                        <td style="text-align: center">
                                                                                        {{ i + 1 | displayNepaliDate }}
                                                                                    </td>
                                                                                    <td style="text-align: center">
                                                                                        
                                                                                            {{ formAccount.value['tabled'][i]['activity'] | displayNepaliDate }}
                                                                                    </td>
                                                                                    <td style="text-align: center">
                                                                                        
                                                                                            {{ formAccount.value['tabled'][i]['unit'] | displayNepaliDate }}
                                                                                        
                                                                                    </td>
                                                                                    <td style="text-align: center">
                                                                                        
                                                                                            {{ formAccount.value['tabled'][i]['anusar'] | displayNepaliDate }}
                                                                                    </td>
                                                                                    <td style="text-align: center">
                                                                                       
                                                                                            {{ formAccount.value['tabled'][i]['repair'] | displayNepaliDate }}
                                                                                    </td>
                                                                                    <td>
                                                                                       
                                                                                            {{ formAccount.value['tabled'][i]['incdsc'] | displayNepaliDate }}
                                                                                    </td>
                                                                                    <td style="text-align: center">
                                                                                       
                                                                                            {{ formAccount.value['tabled'][i]['remark'] | displayNepaliDate }}
                                                                        </td>
                                                                </tr>
                                                        </tbody>
                
                                                </table>
                                </div>
                        </div>
                        <div class="hidePrint" style="width: 100%">
                                <h2 style="text-align: left; font-size:15px"><u><b>३) लागत अनुमान अनुसार सम्पन्न हुन
                                                        बाकी कामको विवरण </b></u></h2><br>

                                <p>क) <nepali-input type="text" [inputClass]="'form-style-5'"
                                               formControlName="gudastar">
                                        </nepali-input>
                                </p>
                        </div><br>
                        <div class="showPrint">
                                <h2 style="text-align: left;font-size:15px"><u><b>३) लागत अनुमान अनुसार सम्पन्न हुन बाकी
                                                        कामको विवरण </b></u></h2><br>

                                <p>क){{ formAccount.value.gudastar}} </p>
                        </div>
                        <br>
                        <div class="hidePrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>४) कामको गुणस्तर</b></u></h3>
                                <input type="radio" name="work_quality" formControlName="work_quality"
                                        value="राम्रो"> राम्रो <br>
                                <input type="radio" name="work_quality" formControlName="work_quality"
                                        value="ठिकै"> ठिकै <br>
                                <input type="radio" name="work_quality" formControlName="work_quality"
                                        value="नराम्रो"> नराम्रो <br>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>४) कामको गुणस्तर</b></u></h3>
                                <p>{{formAccount.value.work_quality}}</p>
                        </div><br>
                        <br>
                        <div class="hidePrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>५) योजना समन्धी 
                                <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Consumer Committe'">उपभोक्ता समिति </span>
                                <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Sahakari'">श्रम सहकारी </span>
                                समुदायमा जानकारीको अवस्था </b></u></h3>
                                <input type="radio" name="work_quality1"
                                formControlName="work_quality1" value="पूर्ण जानकारी भएको"> पूर्ण जानकारी भएको <br>
                                <input type="radio" name="work_quality1"
                                formControlName="work_quality1" value="सामान्य जानकारी भएको"> सामान्य जानकारी भएको <br>
                                <input type="radio" name="work_quality1" formControlName="work_quality1"
                                value="थाहा नभएको"> थाहा नभएको <br>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>५) योजना समन्धी 
                                        <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Consumer Committe'">उपभोक्ता समिति </span>
                                        <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Sahakari'">श्रम सहकारी </span>
                                        समुदायमा जानकारीको अवस्था</b></u></h3>
                                <p>{{formAccount.value.work_quality1}}</p>
                        </div><br>
                        <br>
                        <div class="hidePrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>६) आयोजना विवरण पाटी (होर्डिंग बोर्ड) को अवस्था</b></u></h3>
                                <input type="radio" name="work_quality2" formControlName="work_quality2"
                                value="राखेको"> राखेको <br>
                                <input type="radio" name="work_quality2" formControlName="work_quality2"
                                value="नराखेको"> नराखेको <br>
                                <input type="radio" name="work_quality2" formControlName="work_quality2"
                                value="अन्य"> अन्य <br>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>६) आयोजना विवरण पाटी (होर्डिंग बोर्ड) को अवस्था</b></u></h3>
                                <p>{{formAccount.value.work_quality2}}</p>
                        </div><br>
                        <br>
                        <div class="hidePrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>७) 
                                        <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Consumer Committe'">उपभोक्ता समिति</span>
                                        <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Sahakari'">श्रम सहकारी</span>को बैठक को अवस्था
                                                </b></u></h3>
                                <input type="radio" name="work_quality3"
                                formControlName="work_quality3" value="नियमित बैठक बसेको"> नियमित बैठक बसेको<br>
                                <input type="radio" name="work_quality3"
                                formControlName="work_quality3" value="आवस्यक पर्दा बैठक बसेको"> आवस्यक पर्दा बैठक बसेको <br>
                                <input type="radio" name="work_quality3" formControlName="work_quality3"
                                value="बैठक नबसेको"> बैठक नबसेको <br>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>७) 
                                        <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Consumer Committe'">उपभोक्ता समिति</span>
                                        <span *ngIf="actValue && actValue['data']['workServiceType'] === 'Sahakari'">श्रम सहकारी</span>को बैठक को अवस्था
                                        </b></u></h3>
                                <p>{{formAccount.value.work_quality3}}</p>
                        </div><br>
                        <br>

                        <div class="hidePrint" style="width: 100%">
                                <h3 style="text-align:left;font-size:15px;"><u><b>८) आयोजनाको गुणस्तर सुधार गर्नुपर्ने
                                                        कुराहरु</b></u></h3>
                                <nepali-input type="text" [inputClass]="'form-style-5'"
                                        formControlName="work_quality4"></nepali-input>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>८) आयोजनाको गुणस्तर सुधार गर्नुपर्ने
                                                        कुराहरु </b></u></h3>
                                <p>{{formAccount.value.work_quality4}}</p>
                        </div><br>
                        <br>

                        <div class="hidePrint" style="width: 100%">
                                <h3 style="text-align:left;font-size:15px;"><u><b>९) आयोजनाको सम्बंदी अन्य थप शुझाभारू
                                                </b></u></h3>
                                <nepali-input type="text" [inputClass]="'form-style-5'"
                                        formControlName="work_quality5"></nepali-input>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>९) आयोजनाको सम्बंदी अन्य थप शुझाभारू
                                                </b></u></h3>
                                <p>{{formAccount.value.work_quality5}}</p>
                        </div><br>
                        <br>

                        <div style="width:100%;clear:both" class="hidePrint">
                                <p style="text-align: left"><u><b>१०) अनुगमन समितिका पदाधिकारीहरुको विवरण </b> </u></p>
                                <table style="width:100%;line-height: 2" border=1>
                                        <tr>
                                                <th style="text-align: center" style="width: 30px">
                                                        क्र.स
                                                </th>
                                                <th style="text-align: center" style="width: 350px">
                                                        अनुगमन समितिका पदाधिकारीहरुको नामथर
                                                </th>
                                                <th style="text-align: center">
                                                        पद
                                                </th>
                                                <th style="text-align: center">
                                                        सम्बद्द संस्था
                                                </th>
                                                <th style="text-align: center">
                                                        हस्तक्षर
                                                </th>

                                        </tr>
                                        <tr>
                                                <td colspan="5">
                                                        <button (click)="addItem2()">Add New Row</button>
                                                </td>
                                        </tr>
                                        <tbody formArrayName="tabledata1">
                                                <tr *ngFor="let reqItem of formAccount.get('tabledata1')['controls']; let i = index"
                                                        [formGroupName]="i">
                                                        <td style="text-align: center;">
                                                                {{i + 1 | displayNepaliDate }}
                                                        </td>
                                                        <td style="text-align: center">
                                                                <nepali-input type="text" [inputClass]="'form-style-5'"
                                                                        formControlName="name"></nepali-input>
                                                        </td>
                                                        <td style="text-align: center">
                                                                <nepali-input type="text" [inputClass]="'form-style-5'"
                                                                        formControlName="designation"></nepali-input>
                                                        </td>
                                                        <td style="text-align: center">
                                                                <nepali-input type="text" [inputClass]="'form-style-5'"
                                                                        formControlName="related"></nepali-input>
                                                        </td>
                                                        <td style="text-align: center">
                                                                <nepali-input type="text" [inputClass]="'form-style-5'">
                                                                </nepali-input>
                                                        </td>

                                                </tr>

                                        </tbody>
                                </table>
                                <br>
                                <br>
                        </div>

                        <div style="width:100%;clear:both" class="showPrint">
                                <p style="text-align: left"><u><b>१०) अनुगमन समितिका पदाधिकारीहरुको विवरण </b> </u></p>
                                <table style="width:100%;line-height: 2" border=1>
                                        <thead>
                                                <tr>
                                                        <th style="text-align: center">
                                                                क्र.स
                                                        </th>
                                                        <th style="text-align: center">
                                                                अनुगमन समितिका पदाधिकारीहरुको नामथर
                                                        </th>
                                                        <th style="text-align: center">
                                                                पद
                                                        </th>
                                                        <th style="text-align: center">
                                                                सम्बद्द संस्था
                                                        </th>
                                                        <th style="text-align: center">
                                                                हस्तक्षर
                                                        </th>
        
                                                </tr>
                                        </thead>

                                        <tbody formArrayName="tabledata1">
                                                <tr *ngFor="let reqItem of formAccount.get('tabledata1')['controls']; let i = index"
                                                        [formGroupName]="i">
                                                        <td>
                                                                {{i + 1 | displayNepaliDate }}
                                                        </td>
                                                        <td>
                                                                {{reqItem.value.name}}
                                                        </td>
                                                        <td>
                                                                {{reqItem.value.designation}}
                                                        </td>
                                                        <td>
                                                                {{reqItem.value.related}}
                                                        </td>
                                                        <td>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>
                                <br>
                                <br>
                        </div>

                        <div class="hidePrint" style="width: 100%">
                               <h3 style="text-align:left;font-size:15px;"><u><b>नोट :-योजनाको बारेमा अन्य राय सुझाब
                                                        भए उल्लेख गर्न सकिनेछ </b></u></h3>
                                
                                
                                <nepali-input type="text" [inputClass]="'form-style-5'"
                                        formControlName="work_quality6"></nepali-input>
                        </div>

                        <div class="showPrint">
                                <h3 style="text-align:left;font-size:15px;"><u><b>नोट :-योजनाको बारेमा अन्य राय सुझाब भए
                                                        उल्लेख गर्न सकिनेछ </b></u></h3>
                                <p>{{formAccount.value.work_quality6}}</p>
                        </div><br>
                        <br>
                        <br />
                        <br />

                        <br />

                </div>
        </div>
</form>
<h2 id="noRecord" style="font-weight: bold;text-align: center;margin-top:50px"></h2>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
        [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
        <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
        [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
        <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
