#showDiv {
  display: none !important;
}

#hideContent {
  display: inline-block !important;
}

.showPrint {
  display: none !important;
}

.hidePrint {
  display: inline-block !important;
}

#divShow {
  display: none !important;
}

#divHide {
  display: inline-block !important;
}
/*# sourceMappingURL=anugaman-pratibedan.component.css.map */