<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
    <div class="header">
        <h6 style="font-size:12px;">कार्यक्रम रिपोर्ट</h6>
        <div class="data-form">
            <app-anusuchi-search-bar
                searchBarTitle="कार्यक्रम रिपोर्ट"
                (search)="search($event)"
                (loading)="changeLoadingStatus($event)"
                (error)="showError($event)"
                [showProgram]="true"
                [showActivity]="false"
            ></app-anusuchi-search-bar>
        </div>
    </div>
<div class="table-content">
    <fieldset style="padding-bottom: 10px!important;">
        <legend>कार्यक्रम विवरण</legend>
        <div class="grid-container table-style">
            <div class="button-container text-right">
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="exportReport()">
                    {{'EXPORT_EXCEL' | translate}}
                </jqxButton>
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="printReport()">
                    {{'PRINT' | translate}}
                </jqxButton>
                <br>
                <br>
            </div>
            <div id="reportContainer" style="overflow-y: auto;height: 396px;">
                <div class="table-container" >
                    <div style="padding-left:10px;padding-right: 10px;">
                        <span style="float: left;">कार्यक्रमः <b>{{SearchDatas && SearchDatas.program[0].name}}</b></span>
                        <span style="float: right;">बिनियोजित रकमः <b>{{SearchDatas && SearchDatas.program[0].budget | digitCommas | displayNepaliDate}}</b></span>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>योजना</th>
                                <th>बिनियोजित रकम</th>
                                <th>जम्मा निकासा</th>
                                <th>योजना बाँकी रकम</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="SearchDatas">
                            <tr *ngFor="let data of SearchDatas['activites'];">
                                <td>{{data.name}}</td>
                                <td>{{data.budget | digitCommas | displayNepaliDate}}</td>
                                <td>{{data.expenses | digitCommas | displayNepaliDate}}</td>
                                <td>{{data.remaining | digitCommas | displayNepaliDate}}</td>
                            </tr>
                            <tr>
                                <td>बाँकी बिनियोजित रकमः </td>
                                <td colspan="3" *ngIf="total != 0">{{total | digitCommas | displayNepaliDate}}</td>
                                <td colspan="3" *ngIf="total == 0">०</td>
                                <!-- <td>{{totalBudget | displayNepaliDate}}</td>
                                <td>{{totalExpenses | displayNepaliDate}}</td>
                                <td>{{totalRemaining | displayNepaliDate}}</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<jqxNotification
    #msgNotification
    [width]="250"
    [position]="'top-right'"
    [opacity]="0.9"
    [autoOpen]="false"
    [autoClose]="true"
    [animationOpenDelay]="800"
    [autoCloseDelay]="3000"
    [template]="'success'"
>
    <div id="message"></div>
</jqxNotification>
<jqxNotification
    #errNotification
    [width]="250"
    [position]="'top-right'"
    [opacity]="0.9"
    [autoOpen]="false"
    [autoClose]="true"
    [animationOpenDelay]="800"
    [autoCloseDelay]="3000"
    [template]="'error'"
>
    <div id="error"></div>
</jqxNotification>
<jqxLoader
    #jqxLoader
    [imagePosition]="'top'"
    [theme]="'energyblue'"
    [width]="100"
    [height]="60"
>
</jqxLoader>
