:host {
  display: block;
}

.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #fff;
  text-align: center;
  color: #fff;
  padding: 7rem 4rem;
}

.login-page .form-header {
  border: 1px solid #d8d3d3 !important;
  border-radius: 4px 4px 0 0;
}

.login-page .form-header h2 {
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4rem;
  margin: 10px 0;
}

.login-page .col-lg-4 {
  padding: 0;
}

.login-page .form-container {
  border: 1px solid #d8d3d3 !important;
  background: #e8e8e8;
  padding: 1em 1.5em;
  color: #333;
  border-radius: 0 0 4px 4px;
}

.login-page .input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0;
}

.login-page .input-underline {
  background: 0 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: #FFF;
  border-radius: 0;
}

.login-page .input-underline:focus {
  border-bottom: 2px solid #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login-page .tfm-login-btn {
  border-radius: 0px !important;
  font-family: Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  border-color: #aaa;
  background: #efefef;
  outline: none;
  border: 1px solid #ababab;
  padding: 0.4rem 0.6rem;
  text-align: center;
  vertical-align: central;
  cursor: pointer;
  color: #333;
  font-weight: bold;
}

.login-page .rounded-btn {
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.8);
  background: #222;
  border: 2px solid rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 40px;
  padding: 0 25px;
}

.login-page .rounded-btn:hover, .login-page .rounded-btn:focus, .login-page .rounded-btn:active, .login-page .rounded-btn:visited {
  color: white;
  border: 2px solid white;
  outline: none;
}

.login-page h1 {
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #d6d6d6;
}

.login-page h1 small {
  color: rgba(255, 255, 255, 0.7);
}

.login-page .form-group {
  padding: 8px 0;
}

.login-page .form-group input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.login-page .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.6) !important;
}

.login-page .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.6) !important;
}

.login-page .form-group input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.login-page .form-content {
  padding: 10px 0;
}

.login-page .form-content .form-group {
  margin-bottom: 0;
}

.login-page .form-content .col-form-label {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.8rem;
  line-height: 1rem;
}

.login-page .user-avatar {
  border-radius: 50%;
  border: 2px solid #FFF;
  height: 100px;
  width: 100px;
}
/*# sourceMappingURL=login.component.css.map */