<div class="container-fluid">
  <div>
    <div class="box-container">
      <form name="adForm" [formGroup]="adForm">
        <div class="fieldset-container">
          <fieldset>
            <legend>{{'ACT_DETAILS' | translate}}</legend>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label> {{'ACTIVITY_FOCUS_AREA' | translate}} <span style="color:red">*</span></label>
                  <select class="px-control" name="focusAreaLevel1" formControlName="focusAreaLevel1" (change)="activityFocusAreaChange($event.target.value, 0)">
                    <option [selected]="true" [disabled]="true" value=''>{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let focusArea of activityFocusAreaAdapter[0]" [value]="focusArea.focusCode">{{
                      focusArea.nameNepali }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3" [ngClass]="(activityFocusAreaAdapter[1].length < 1) ? 'd-none' : ''">
                <div class="form-group">
                  <label> {{'SUB_CATEGORY' | translate}} <span style="color:red">*</span></label>
                  <select class="px-control" name="focusAreaLevel2" formControlName="focusAreaLevel2" (change)="activityFocusAreaChange($event.target.value, 1)">
                    <option [selected]="true" [disabled]="true" value=''>{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let focusArea of activityFocusAreaAdapter[1]" [value]="focusArea.focusCode">{{
                      focusArea.nameNepali }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- <div class="col-md-3" [ngClass]="(activityFocusAreaAdapter[2].length < 1) ? 'd-none' : ''">
                <div class="form-group">
                  <label> {{'ACTIVITY_FOCUS_AREA' | translate}} </label>
                  <select class="px-control" name="focusAreaLevel3" formControlName="focusAreaLevel3">
                    <option [selected]="true" [disabled]="true" value=''>{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let focusArea of activityFocusAreaAdapter[2]" [value]="focusArea.focusCode">{{
                      focusArea.nameNepali }}
                    </option>
                  </select>
                </div>
              </div> -->
              <div class="col-md-6">
                <div class="row">
                  <div class=" col-md-4 form-group">
                    <label> कार्यक्रमको स्तर </label>
                    <select class="px-control" formControlName="implementingAgencyTypeLevel1">
                      <option [selected]="true" [disabled]="true" value=''>{{'CHOOSE' | translate}}</option>
                      <option *ngFor="let activity of implementingAgencyType[0]" [value]="activity.code">{{activity.nameNepali}}</option>
                    </select>
                  </div>
                  <div class=" col-md-4 form-group" [ngClass]="(implementingAgencyType[1].length < 1) ? 'd-none' : ''"
                    *ngIf="implementingAgencyTypeName[1]">
                    <label> {{ implementingAgencyTypeName[1] }} </label>
                    <select class="px-control" formControlName="implementingAgencyTypeLevel2" (change)="implementingAgencyChange($event, 1)">
                      <option [selected]="true" [disabled]="true" value=''>{{'CHOOSE' | translate}}</option>
                      <option *ngFor="let activity of implementingAgencyType[1]" [value]="activity.code">{{activity.nameNepali}}</option>
                    </select>
                  </div>
                  <div class=" col-md-4 form-group" [ngClass]="(implementingAgencyType[2].length < 1) ? 'd-none' : ''"
                    *ngIf="implementingAgencyTypeName[2]">
                    <label> {{ implementingAgencyTypeName[2] }} </label>
                    <select class="px-control" formControlName="implementingAgencyTypeLevel3">
                      <option [selected]="true" [disabled]="true" value=null>{{'CHOOSE' | translate}}</option>
                      <option *ngFor="let activity of implementingAgencyType[2]" [value]="activity.code">{{activity.nameNepali}}</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <label style="font-size: 13px;">कार्यक्रमको नाम</label>
                <jqxComboBox #programNameList [width]="500" [height]="25" class="nepalify" (onChange)="Change($event)"
                  [source]="dropDownSource" [displayMember]="'name'" [valueMember]="'id'">
                </jqxComboBox>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'ACTIVITY_NAME' | translate}} <span style="color:red">*</span></label>
                  <nepali-input name="activityName" formControlName="activityName" [width]="'100%'" [height]="25"
                    [placeHolder]="'ENTER_ACTIVITY_INPREETI' | translate" [inputClass]="'px-control'"></nepali-input>
                </div>
              </div>

            </div>
            <br>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'ACTIVITY_TYPE' | translate}}<span style="color:red">*</span></label>
                  <!-- <jqxComboBox #typeActivityCombo [displayMember]="'nameNepali'" [valueMember]="'id'" [width]="'100%'" [height]="height" [source]="activityTypeAdapter"></jqxComboBox> -->

                  <select formControlName="activityType" class="selectpicker select-class select-border" style="width:100%;height:23px;">
                    <option *ngFor="let data of activityTypeAdapter; let i = index;" [value]="data['id']">{{lang ==
                      'ne' ? data['nameNepali'] : data['nameNepali']}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label>ठेगाना <span style="color:red">*</span></label>
                  <nepali-input name="address" formControlName="address" [width]="'100%'" [height]="25" [inputClass]="'px-control'"></nepali-input>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label> शाखा <span style="color:red">*</span></label>
                  <select name="division" formControlName="division" class="px-control">
                    <option [selected]="true" value=''>-</option>
                    <option *ngFor="let data of divisionAdpater" [value]="data['code']">{{data['nameNepali']}}</option>
                  </select>
                </div>
              </div>

              <div class="w-100"></div>
              <div class="col-md-9">
                <div class="form-group">
                  <label>{{'ACTIVITY_DESC_OBJECTIVE' | translate}}</label>
                  <nepali-textarea name="activityDescription" formControlName="activityDescription" [width]="'100%'"
                    [height]="50" [inputClass]="'px-control-textarea'"></nepali-textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" style="margin-bottom: 2rem;">
                  <label>{{'ACT_EXCLUSIVE_FOR_WOMAN' | translate}} </label>
                  <jqxCheckBox #womenCheck style="margin-left: 10px; float: left;" [width]="120">{{'WOMEN' |
                    translate}}
                  </jqxCheckBox>
                  <jqxCheckBox #childrenCheck style="margin-left: 10px; float: left;" [width]="120">{{'CHILDREN' |
                    translate}}
                  </jqxCheckBox>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{'ACT_EXCLUSIVE_FOR_DIFF_ABLED' | translate}}</label>
                  <jqxRadioButton #diffAbledRadioY (onChange)="AbledPersonChange($event, 'Y')" [width]="250" [height]="25"
                    [groupName]="'diffAble'">
                    <span>{{'YES' | translate}}</span>
                  </jqxRadioButton>
                  <jqxRadioButton #diffAbledRadioN (onChange)="AbledPersonChange($event, 'N')" [width]="250" [height]="25"
                    [groupName]="'diffAble'">
                    <span>{{'NO' | translate}}</span>
                  </jqxRadioButton>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{'ACT_EXPECTED_TO_ENHANCE' | translate}}</label>
                  <jqxRadioButton #livelihoodRadioY (onChange)="LivelihoodOppChange($event, 'Y')" [width]="250"
                    [height]="25" [groupName]="'livelihood'">
                    <span>{{'YES' | translate}}</span>
                  </jqxRadioButton>
                  <jqxRadioButton #livelihoodRadioN (onChange)="LivelihoodOppChange($event, 'N')" [width]="250"
                    [height]="25" [groupName]="'livelihood'">
                    <span>{{'NO' | translate}}</span>
                  </jqxRadioButton>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{'ACT_PART_OF_DISASTER' | translate}} </label>
                  <jqxRadioButton #disasterRadioY (onChange)="disastarMgmtChange($event, 'Y')" [width]="'100%'"
                    [height]="25" [groupName]="'mgmtplan'">
                    <span>{{'YES' | translate}}</span>
                  </jqxRadioButton>
                  <jqxRadioButton #disasterRadioN (onChange)="disastarMgmtChange($event, 'N')" [width]="'100%'"
                    [height]="25" [groupName]="'mgmtplan'">
                    <span>{{'NO' | translate}}</span>
                  </jqxRadioButton>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{'ACT_COSTLESS' | translate}} </label>
                  <jqxRadioButton #costlessRadioY (onChange)="CostlessActivityChange($event, 'Y')" [width]="'100%'"
                    [height]="25" [groupName]="'costless'">
                    <span>{{'YES' | translate}}</span>
                  </jqxRadioButton>
                  <jqxRadioButton #costlessRadioN (onChange)="CostlessActivityChange($event, 'N')" [width]="'100%'"
                    [height]="25" [groupName]="'costless'">
                    <span>{{'NO' | translate}}</span>
                  </jqxRadioButton>
                </div>
              </div>
              <!-- <div class="w-100"></div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'ACTIVITY_FOR' | translate}} 1<span style="color:red">*</span></label>
                   <jqxComboBox #activityFor1Combo [displayMember]="'name'" [valueMember]="'id'" [width]="'100%'"
                    [height]="height" [source]="activityForAdapter" [placeHolder]="'SELECT_AREA' | translate"></jqxComboBox>

                  <select class="px-control" formControlName="activityFor">
                    <option [selected]="true" [disabled]="true" value=''>{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let activity of activityForAdapter" [value]="activity.id">{{activity.nameNepali}}</option>
                  </select>

                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'ACTIVITY_FOR' | translate}} 2</label>
                   <jqxComboBox #activityFor2Combo [displayMember]="'name'" [valueMember]="'id'" [width]="'100%'"
                    [source]="activityForAdapter" [placeHolder]="'SELECT_AREA' | translate"></jqxComboBox>

                  <select class="px-control" formControlName="activityForLevel2">
                    <option [selected]="true" [disabled]="true" value=''>{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let activity of activityForAdapter" [value]="activity.id">{{activity.nameNepali}}</option>
                  </select>

                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'ACTIVITY_FOR' | translate}} 3</label>
                   <jqxComboBox #activityFor3Combo [displayMember]="'name'" [valueMember]="'id'" [width]="'100%'"
                    [source]="activityForAdapter" [placeHolder]="'SELECT_AREA' | translate"></jqxComboBox>

                  <select class="px-control" formControlName="activityForLevel3">
                    <option [selected]="true" [disabled]="true" value=''>{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let activity of activityForAdapter" [value]="activity.id">{{activity.nameNepali}}</option>
                  </select>

                </div>
              </div> -->

              <div class="w-100"></div>
              <!-- <div class="col-md-12">
                <table>
                  <tr>
                    <td style="font-weight: 500; font-size: 13px">{{'benefitedHouses'|translate}}</td>
                    <td>
                      <input type="number" name="benifitedHouses" formControlName="benifitedHouses" class="px-control">
                    </td>
                    <td style="font-weight: 500; font-size: 13px">{{'benefitedPopulation'|translate}}</td>
                    <td>
                      <input type="number" name="benifitedPopulation" formControlName="benifitedPopulation" class="px-control">
                    </td>
                    <td style="font-weight: 500; font-size: 13px">{{'benefitedOrganization'|translate}}</td>
                    <td>
                      <input type="number" name="befinitedOrganizations" formControlName="befinitedOrganizations" class="px-control">
                    </td>
                    <td style="font-weight: 500; font-size: 13px">{{'othersBenefited'|translate}}</td>
                    <td>
                      <input type="number" name="othersBenifited" formControlName="othersBenifited" class="px-control">
                    </td>
                  </tr>
                  <br>
                  <tr>
                    <td style="font-weight: 500; font-size: 13px">{{'FEMAL_POPULATION'|translate}}</td>
                    <td>
                      <input type="number" name="feMalePopulation" formControlName="femalePopulation" class="px-control">
                    </td>

                    <td style="font-weight: 500; font-size: 13px">{{'MALE_POPULATION'|translate}}</td>
                    <td>
                      <input type="number" name="malePopulation" formControlName="malePopulation" class="px-control">
                    </td>

                    <td style="font-weight: 500; font-size: 13px">{{'DALIT_POPULATION'|translate}}</td>
                    <td>
                      <input type="number" name="dalitPopulation" formControlName="dalitPopulation" class="px-control">
                    </td>

                    <td style="font-weight: 500; font-size: 13px">{{'JANAJATI_POPULATION'|translate}}</td>
                    <td>
                      <input type="number" name="janajatiPopulation" formControlName="janajatiPopulation" class="px-control">
                    </td>

                  </tr>
                  <br />
                  <tr>
                    <td style="font-weight: 500; font-size: 13px">{{'OTHERS'|translate}}</td>
                    <td>
                      <input type="number" name="othersPopulation" formControlName="othersPopulation" class="px-control">
                    </td>
                  </tr>
                </table>
              </div> -->
              <br />
              <div class="col-md-12">
                <div class="form-group">
                  <label>{{'ACTIVITY_TYPEDETAILS' | translate}}: <span style="color:red">*</span></label>
                  <jqxRadioButton #activityTypeRadioF [width]="'100%'" (onChange)="ActivityTypeChange($event, 'FW')"
                    [height]="25" [groupName]="'activityType'">
                    <span>{{'FRESH_WORK' | translate}}</span>
                  </jqxRadioButton>
                  <jqxRadioButton #activityTypeRadioM [width]="'100%'" (onChange)="ActivityTypeChange($event, 'MW')"
                    [height]="25" [groupName]="'activityType'">
                    <span>{{'MAINTENANCE_WORK' | translate}}</span>
                  </jqxRadioButton>
                  <jqxRadioButton #activityTypeRadioU [width]="'100%'" (onChange)="ActivityTypeChange($event, 'UW')"
                    [height]="25" [groupName]="'activityType'">
                    <span>{{'UPGRADATION_WORK' | translate}}</span>
                  </jqxRadioButton>
                </div>
              </div>

            </div>
          </fieldset>
        </div>



        <div class="fieldset-container">
            <fieldset>
              <legend>{{'ACT' | translate}}</legend>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>{{'ACT_1' | translate}}<span style="color:red">*</span></label>
                    <select name="activityFor1" formControlName="activityFor" class="px-control">
                      <option [selected]="true" value=''>{{'SELECT_ACTIVITY_TYPE' | translate}}</option>
                      <option *ngFor="let data of activityForAdapter" [value]="data['id']">{{lang == 'ne'
                        ?data['nameNepali'] : data['name']}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>{{'ACT_2' | translate}}</label>
                    <select name="activityFor1" formControlName="activityForLevel2" class="px-control">
                      <option [selected]="true" value=''>{{'SELECT_ACTIVITY_TYPE' | translate}}</option>
                      <option *ngFor="let data of activityForAdapter" [value]="data['id']">{{lang == 'ne' ?
                        data['nameNepali'] : data['name']}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>{{'ACT_3' | translate}}</label>
                    <select name="activityFor1" formControlName="activityForLevel3" class="px-control">
                      <option [selected]="true" value=''>{{'SELECT_ACTIVITY_TYPE' | translate}}</option>
                      <option *ngFor="let data of activityForAdapter" [value]="data['id']">{{lang == 'ne' ?
                        data['nameNepali'] : data['name']}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        <!-- <div class="fieldset-container">
          <fieldset>
            <legend>{{'AGENCY_DETAILS' | translate}}</legend>
            <div class="row"> -->

        <!-- <div class="col-md-3">
                <div class="form-group">
                  <label> {{'EXEC_AGENCY_TYPE' | translate}}</label>
                  <select class="px-control" formControlName="executingAgencyTypeLevel1" (change)="executingAgencyChange($event, 0)">
                    <option [selected]="true" [disabled]="true" value=''>{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let activity of executingAgencyType[0]" [value]="activity.code">{{activity.nameNepali}}</option>
                  </select>
                </div>
                <div class="form-group" [ngClass]="(executingAgencyType[1].length < 1) ? 'd-none' : ''" *ngIf="executingAgencyTypeName[1]">
                  <label> {{ executingAgencyTypeName[1] }}</label>
                  <select class="px-control" formControlName="executingAgencyTypeLevel2" (change)="executingAgencyChange($event, 1)">
                    <option [selected]="true" [disabled]="true" value=''>{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let activity of executingAgencyType[1]" [value]="activity.code">{{activity.nameNepali}}</option>
                  </select>
                </div>
                <div class="form-group" [ngClass]="(executingAgencyType[2].length < 1) ? 'd-none' : ''" *ngIf="implementingAgencyTypeName[2]">
                  <label > {{ executingAgencyTypeName[2] }}</label>
                  <select class="px-control" formControlName="executingAgencyTypeLevel3">
                    <option [selected]="true" [disabled]="true" value=''>{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let activity of executingAgencyType[2]" [value]="activity.code">{{activity.nameNepali}}</option>
                  </select>
                </div>
              </div> -->
        <!-- </div>
          </fieldset>
        </div> -->
        <div class="fieldset-container">
          <fieldset>
            <legend>{{'ACTIVITY_DETAILS' | translate}}</legend>
            <div class="row">
              <div class="col-md-3 text-right">
                <div class="form-group">
                  <label>{{'TOT_EST_COST' | translate}}({{'RS' | translate}}) <span style="color:red">*</span></label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <!-- <jqxInput formControlName="totalEstimatedCost" [width]="'100%'" [height]="25" [minLength]="3"
                    [placeHolder]="'ENTER_ESTIMATED_COST' | translate" [theme]="'energyblue'"></jqxInput> -->
                    <input type="text" formControlName="totalEstimatedCost"  style="width:100%;height:23px;" class="px-control">

                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <p style="font-weight: bolder">कार्यक्रमको बाँकी बजेट : {{ totalRs | displayNepaliDate }}</p>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-3 text-right">
                <div class="form-group">
                  <label>{{'PLANNED_START' | translate}}<span style="color:red">*</span></label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="'YYYY-MM-DD'" [height]="25" [width]="'100%'" formControlName="plannedStartDate"></jqxInput> -->
                  <input type="text" formControlName="plannedStartDate" placeholder="YYYY-MM-DD" style="width:100%;height:23px;" class="px-control">

                  <small *ngIf="!adForm.get('plannedStartDate').valid" style="color:red">
                    Date format :- 2075-01-01
                  </small>
                </div>
              </div>
              <!-- <div class="col-md-3">
                <div class="form-group">
                  <label>{{'MONTH' | translate}}:</label>
                  <select class="px-control" name="plannedStartMonth" formControlName="plannedStartMonth">
                    <option [selected]="true" value=''>{{'CHOOSEU' | translate}}</option>
                    <option *ngFor="let month of monthAdapter" [value]="month.id">{{ month.id }}</option>
                  </select>
                  <jqxComboBox #startMonthCombo [displayMember]="'id'" [valueMember]="'id'" [width]="'100%'" [height]="height" [source]="monthAdapter" [placeHolder]="'Select'" [dropDownVerticalAlignment]="'top'"></jqxComboBox>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'YEAR' | translate}}</label>
                  <select class="px-control" name="plannedStartYear" formControlName="plannedStartYear">
                    <option [selected]="true" value=''>{{'CHOOSEU' | translate}}</option>
                    <option *ngFor="let year of yearAdapter" [value]="year">{{ year }}</option>
                  </select>
                  <jqxComboBox #startYearCombo [displayMember]="'id'" [valueMember]="'id'" [width]="'100%'" [height]="height" [source]="yearAdapter" [placeHolder]="'Select'" [dropDownVerticalAlignment]="'top'"></jqxComboBox>
                </div>
              </div> -->
              <div class="w-100"></div>
              <div class="col-md-3 text-right">
                <div class="form-group">
                  <label>{{'TOAL_DURATION' | translate}} <span style="color:red">*</span></label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'MONTH' | translate}}:</label>
                  <!-- <jqxInput formControlName="totalDurationMonth" [width]="'100%'" [height]="25" [minLength]="3"
                    [placeHolder]="'ENTER_MONTH' | translate" [theme]="'energyblue'"></jqxInput> -->
                    <jqxInput type="number" formControlName="totalDurationMonth"  style="width:100%;height:23px;" [placeHolder]="'ENTER_MONTH' | translate" class="px-control"></jqxInput>

                  <!-- <jqxComboBox #totalMonthCombo [displayMember]="'id'" [valueMember]="'id'" [width]="'100%'" [height]="height" [source]="monthAdapter" [placeHolder]="'Select'" [dropDownVerticalAlignment]="'top'"></jqxComboBox> -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'DAY' | translate}}:</label>
                  <!-- <jqxInput formControlName="totalDurationDays" [width]="'100%'" [height]="25" [minLength]="3"
                    [placeHolder]="'ENTER_DAY' | translate" [theme]="'energyblue'"></jqxInput> -->
                    <jqxInput type="number" formControlName="totalDurationDays"  style="width:100%;height:23px;" [placeHolder]="'ENTER_DAY' | translate" class="px-control"></jqxInput>

                  <small *ngIf="!adForm.get('totalDurationDays').valid">
                    {{'MUST_BE_BETWEEN' | translate}}
                    <!-- {{ adForm.get('totalDurationDays').errors.days }} -->
                  </small>
                  <!-- <jqxComboBox #totalYearCombo [displayMember]="'id'" [valueMember]="'id'" [width]="'100%'" [height]="height" [source]="yearAdapter" [placeHolder]="'Select'" [dropDownVerticalAlignment]="'top'"></jqxComboBox> -->
                </div>
              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <jqxButton style="margin-right: 5px;margin-top: 10px;" [width]="150" [height]="25" [theme]="'energyblue'"
                  [disabled]="!adForm.valid" (onClick)="save(adForm.value)">
                  {{'UPDATE' | translate}}
                </jqxButton>
                <jqxButton style="margin-right: 5px;margin-top: 10px;" [width]="100" [height]="25" [theme]="'energyblue'"
                  (onClick)="closeForm()">
                  {{'CLOSE' | translate}}
                </jqxButton>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
