<div [@routerTransition] style="padding: 5px;">
        <form name="approvalSearchForm" class="form-style" [formGroup]="approvalSearchForm" id="approvalSearchForm">
        <div class="row" style="display: flex; justify-content: space-between; padding: 10px">
            <div>
                    {{'PLAN_YEAR' | translate}} *
                    <select formControlName="planYear" (change)="planYearChange($event)" class="selectpicker select-class select-border" style="width:160px;height:23px;">
                            <!-- <option [selected]="true" value=''>{{'CHOOSE' | translate}}</option> -->
                            <option *ngFor="let planYear of planYearAdapter" [value]="planYear['yearCode']">{{planYear['yearName']}}</option>
                          </select>
            </div>
        <div>
            <button class="btn btn-primary btn-sm" (click)="printWholePage()">
                <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
            </button>
        </div>
        </div>
        </form>
        <div class="row" id="reportContainer">
            <div class="col-md-12">
                <div class="chart-container">
                    <div class="chart-header jqx-widget-header-energyblue hideDiv">
                        <h2>
                            प्रशासनिक अनुमोदनको आधारमा काम सेवाको योजनाहरु
                            <button class="btn btn-default btn-sm btn-chart pull-right" (click)="printClick1()">
                                <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                            </button>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="chart-box">
                                <jqxChart #myChart [width]="'100%'" [height]="540" [title]="'प्रशासनिक अनुमोदनको आधारमा काम सेवाको योजनाहरु'"
                                    [description]="''" [enableAnimations]="true" [showLegend]="true" [padding]="padding"
                                    [titlePadding]="titlePadding" [source]="sampleData" [xAxis]="xAxis" [valueAxis]="valueAxis"
                                    [seriesGroups]="seriesGroups" [colorScheme]="'scheme03'">
                                </jqxChart>
                                <div class="chart-loader" [ngClass]="projectDetailLoading">
                                    <div class="lds-roller">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 hideDiv">
                            <div class="info-box">
                                <div class="project-box ">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <small>कुल कार्यक्रमहरु </small>
                                        </div>
                                        <div class="col-md-6 nepali-digits">
                                            <h3>{{ projectDetail?.totalPrograms || 0 }}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-box ">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <small>कुल परियोजनाहरु </small>
                                        </div>
                                        <div class="col-md-6 nepali-digits">
                                            <h3>{{ projectDetail?.total }}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-box">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <small>पूर्ण भएका परियोजनाहरु </small>
                                        </div>
                                        <div class="col-md-6 nepali-digits">
                                            <h3>{{ projectDetail?.completed }}</h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="project-box">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <small>चलिरहेको&nbsp;परियोजनाहरु</small>
                                        </div>
                                        <div class="col-md-6 nepali-digits">
                                            <h3>{{ projectDetail?.OnGoing }}</h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="project-box">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <small>क्रमागत&nbsp;योजनाहरु </small>
                                        </div>
                                        <div class="col-md-6 nepali-digits">
                                            <h3>{{ projectDetail?.kramagat }}</h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="project-box">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <small>सुरु&nbsp;हुन&nbsp;बाँकी&nbsp;योजनाहरु </small>
                                        </div>
                                        <div class="col-md-6 nepali-digits">
                                            <h3>{{ projectDetail?.notStarted }}</h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="project-box">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <small>त्याग&nbsp;गरिएको&nbsp;योजनाहरु </small>
                                        </div>
                                        <div class="col-md-6 nepali-digits">
                                            <h3>{{ projectDetail?.abandant }}</h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="project-box">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <small>स्थगित&nbsp;योजनाहरु </small>
                                        </div>
                                        <div class="col-md-6 nepali-digits">
                                            <h3>{{ projectDetail?.suspanded }}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-box">
                                    <div class="row">
                                        <div class="col-md-6 text-right">
                                            <small>
                                                समयावधि&nbsp;थपिएका&nbsp;योजनाहरु
                                            </small>
                                        </div>
                                        <div class="col-md-6 nepali-digits">
                                            <h3>{{ projectDetail?.spillOver }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="fullPage2">
                <div class="chart-container">
                    <div class="chart-header jqx-widget-header-energyblue hideDiv">
                        <h2>
                            कार्यान्वयन क्षेत्रको अनुसारको परियोजना
                            <button class="btn btn-default btn-sm btn-chart pull-right" (click)="printClick2()">
                                <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                            </button>
                        </h2>
                    </div>
                    <div class="chart-content" style="padding-bottom: 1px;">
                        <jqxChart #myChart2 (onClick)="barClicked2($event)" [width]="'100%'" [height]="490" [title]="'कार्यान्वयन क्षेत्रको अनुसारको परियोजना'"
                            [description]="' '" [valueAxis]="valueAxis2" [showLegend]="true" [enableAnimations]="true"
                            [padding]="padding" [titlePadding]="titlePadding" [source]="wardData" [xAxis]="xAxis2"
                            [columnSeriesOverlap]="true" [seriesGroups]="seriesGroups2" [colorScheme]="'scheme01'">
                        </jqxChart>
                        <div class="chart-loader" [ngClass]="projectDetailLoading">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <!-- <div class="chart-container">
                    <div class="chart-header jqx-widget-header-energyblue hideDiv">
                        <h2>
                            याेजना प्रगति विवरण
                            <button class="btn btn-default btn-sm btn-chart pull-right" (click)="printClick5()">
                                <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                            </button>
                        </h2>
                    </div>

                    <div class="chart-content nepaliText" style="height:502px;">
                        <jqxChart #myChart5 [width]="'100%'" [height]="500" [title]="'डेमाे प्राेजेक्ट'" [description]="''" [showLegend]="true" [enableAnimations]="true"
                        [padding]="padding" [titlePadding]="titlePadding" [source]="dataDemo" [xAxis]="xAxis5" [valueAxis]="valueAxis5"
                        [seriesGroups]="seriesGroups5" [colorScheme]="'scheme05'">
                    </jqxChart>
                    <div class="row">

                        <div class="col-md-6">
                        <jqxChart #myChart5 [width]="'100%'" [height]="500" [title]="'तालिम, खानेपानी र सिचाई सम्बन्धीको योजना प्रगति विवरण'" [description]="''"
                            [showLegend]="true" [enableAnimations]="true" [padding]="padding" [titlePadding]="titlePadding"
                            [source]="dataDemo" [xAxis]="xAxis5" [seriesGroups]="seriesGroups5" [colorScheme]="'scheme01'">
                        </jqxChart>
                        </div>


                        <div class="col-md-6">
                        <jqxChart #myChart6 [width]="'100%'" [height]="500" [title]="'सडक सम्बन्धी योजनाको प्रगति विवरण'" [description]="''"
                            [showLegend]="true" [enableAnimations]="true" [padding]="padding" [titlePadding]="titlePadding"
                            [source]="dataDemo1" [xAxis]="xAxis5" [seriesGroups]="seriesGroups5" [colorScheme]="'scheme01'">
                        </jqxChart>
                    </div>
                    </div>

                        <div class="chart-loader" [ngClass]="projectDetailLoading">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-md-6" id="paddingDiv">






                <div class="hidePrint" style="width:100%;height: 40%"></div>




                <div class="chart-container">
                    <div class="chart-header jqx-widget-header-energyblue hideDiv">
                        <h2>
                            बजेट एवं खर्च
                            <button class="btn btn-default btn-sm btn-chart pull-right" (click)="printClick3()">
                                <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                            </button>
                        </h2>
                    </div>
                    <div class="chart-content" style="height:302px;">
                        <jqxChart #myChart3 style="float: left" [width]="'100%'" [height]="300" [title]="'बजेट एवं खर्च '"
                            [description]="''" [showLegend]="true" [enableAnimations]="false" [padding]="padding"
                            [titlePadding]="titlePadding" [source]="dataCosts" [showBorderLine]="true" [seriesGroups]="seriesGroups3"
                            [colorScheme]="'scheme01'">
                        </jqxChart>
                        <div class="chart-loader" [ngClass]="projectDetailLoading">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6" id="fullPage">
                <div class="chart-container">
                    <div class="chart-header jqx-widget-header-energyblue hideDiv">
                        <h2>
                            समावेशी समूहको आधारमा योजना बर्गिकरण
                            <button class="btn btn-default btn-sm btn-chart pull-right" (click)="printClick4()">
                                <i class="fa fa-print fa-fw" aria-hidden="true"></i> प्रिन्ट गर्नुहोस
                            </button>
                        </h2>
                    </div>
                    <div class="chart-content nepaliText" style="height:502px;">
                        <jqxChart #myChart4 [width]="'100%'" [height]="500" [title]="'समावेशी  समूहको आधारमा योजना बर्गिकरण'"
                            [description]="''" [showLegend]="true" [enableAnimations]="true" [padding]="padding"
                            [titlePadding]="titlePadding" [source]="dataInclusions" [showBorderLine]="true" [seriesGroups]="seriesGroups4"
                            [colorScheme]="'scheme03'">
                        </jqxChart>
                        <div class="chart-loader" [ngClass]="projectDetailLoading">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div>
            <input id="input1" (keyup.enter)="gettranslation($event)" >
            <input id="input2">
        </div> -->
    </div>

    <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
        </jqxLoader>
