<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
    <app-anusuchi-search-bar *ngIf="check" searchBarTitle="अनुसूची १ रिपोर्ट" (search)="search($event)"
        (loading)="changeLoadingStatus($event)" (error)="showError($event)"></app-anusuchi-search-bar>

    <div *ngIf="startingData" class="header">
        <h6 style="font-size:12px;">&nbsp;अनुसूची १ रिपोर्ट </h6>
        <div class="table-content">
            <fieldset style="padding-bottom: 10px!important;">
                <legend>{{'ACTIVITY_DETAILS' | translate}}</legend>
                <div class="grid-container table-style">
                    <div class="button-container text-right">
                        <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="printReport()">
                            {{'PRINT' | translate}}
                        </jqxButton>
                    </div>
                    <div id="reportContainer" style="overflow-y: auto;height: 70vh;">
                        <form name="anusuchi1Report" [formGroup]="anusuchi1Report" id="anusuchi1Report">
                            <div style="line-height:100%;">
                                <p style="text-align:center;font-size: 13px"><b>अनुसूची-१</b></p>
                                <p style="text-align:center;font-size: 13px">(नियम २१ को उपनियम (१) सँग सम्बन्धित)</p>
                                <p style="text-align:center;font-size: 13px"><u>बार्षिक कार्यक्रम</u></p>



                                <br>
                                <br>

                            </div>
                            <div class="invoice-footer">
                                <div class="row">
                                    <div class="col-md-4 head">
                                        <div>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                १. आ व: {{startingData['planYear'] | displayNepaliDate}}
                                            </p>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                २. बजेट उपशीर्षक नं </p>

                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                ३. मन्त्रालय:- <nepali-input name="ministry" formControlName="ministry"
                                                    [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                    [inputClass]="'px-control1'"></nepali-input>
                                                <span class="print_show">{{this.anusuchi1Report.value.ministry}}</span>

                                            </p>

                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                ४. विभाग संस्था:- <nepali-input name="division"
                                                    formControlName="division" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span class="print_show">{{this.anusuchi1Report.value.division}}</span>

                                            </p>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                ५. कार्यक्रम आयोजनाको नाम:- <nepali-input name="programName"
                                                    formControlName="programName" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.programName}}</span>

                                            </p>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                ६. स्थान:- (क)जिल्ला:- <nepali-input name="district"
                                                    formControlName="district" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.district}}</span><br />
                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                &nbsp; (ख)गा.वि.स / न.पा / वडा नं:- <nepali-input
                                                    name="districtDivision" formControlName="districtDivision"
                                                    [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                    [inputClass]="'px-control1'"></nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.districtDivision}}</span>
                                            </p>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                ७. आयोजना सुरु भएको
                                                मितिः-{{startingData['plannedStartDate'] |displayNepaliDate}}

                                            </p>

                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                ८. आयोजना पुरा हुने मिति:- <nepali-input name="programCompletionDate"
                                                    formControlName="programCompletionDate" [width]="'100%'"
                                                    [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                    [inputClass]="'px-control1'"></nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.programCompletionDate}}</span>

                                            </p>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                ९. आयोजना / कार्यालय प्रमुखको नाम:- <nepali-input name="programHeadName"
                                                    formControlName="programHeadName" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.programHeadName}}</span>

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 head">
                                        <div>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                १०. वार्षिक बजेट रु:- <nepali-input name="yearlyBudget"
                                                    formControlName="yearlyBudget" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.yearlyBudget}}</span>
                                            </p>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                (क)आन्तरिक (१)नेपाल सरकार:- <nepali-input name="nepalGov"
                                                    formControlName="nepalGov" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span class="print_show">{{this.anusuchi1Report.value.nepalGov}}</span>
                                                <br /> <br />
                                                &nbsp;&nbsp;
                                                &nbsp;(२)संस्था:- <nepali-input name="intOrg" formControlName="intOrg"
                                                    [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                    [inputClass]="'px-control1'"></nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.intOrg}}</span><br />
                                                <br />
                                                &nbsp;&nbsp;
                                                &nbsp;(३){{'SAHAVAGITA' | translate}} ः- <nepali-input name="intPeople"
                                                    formControlName="intPeople" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.intPeople}}</span><br />
                                                <br />
                                                (ख)वैदेशिक (१)ऋण ः- <nepali-input name="extLoan"
                                                    formControlName="extLoan" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.extLoan}}</span><br />
                                                <br />
                                                &nbsp;&nbsp;
                                                &nbsp;(२)अनुदान:- <nepali-input name="anudan" formControlName="anudan"
                                                    [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                    [inputClass]="'px-control1'"></nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.anudan}}</span><br />
                                                <br />

                                                (ग)दाती संस्था:- <nepali-input name="dathiSanstha"
                                                    formControlName="dathiSanstha" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.dathiSanstha}}</span>



                                            </p>



                                        </div>
                                    </div>
                                    <div class="col-md-3 head">
                                        <div>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                (११) आयोजनाको कुल
                                                लागत:-{{startingData['totalActivityCost'] | displayNepaliDate}}
                                            </p>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                (क)आन्तरिक (१)नेपाल सरकार:- <nepali-input name="aayojanaNepalGov"
                                                    formControlName="aayojanaNepalGov" [width]="'20%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.aayojanaNepalGov}}</span>
                                                <br /> <br />
                                                &nbsp;&nbsp;
                                                &nbsp;(२)संस्था:- <nepali-input name="aayojanaOrg"
                                                    formControlName="aayojanaOrg" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.aayojanaOrg}}</span><br />
                                                <br />
                                                &nbsp;&nbsp;
                                                &nbsp;(३){{'SAHAVAGITA' | translate}} ः- <nepali-input
                                                    name="aayojanaPeople" formControlName="aayojanaPeople"
                                                    [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                    [inputClass]="'px-control1'"></nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.aayojanaPeople}}</span><br />
                                                <br />
                                                (ख)वैदेशिक (१)ऋण ः- <nepali-input name="aayojanaLoan"
                                                    formControlName="aayojanaLoan" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.aayojanaLoan}}</span>
                                                <br /> <br />
                                                &nbsp;&nbsp;
                                                &nbsp;(२)अनुदान:- <nepali-input name="aayojanaAnudan"
                                                    formControlName="aayojanaAnudan" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.aayojanaAnudan}}</span><br />
                                                <br />

                                            </p>

                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                (१२) गत आ व सम्मका खर्च रु (सोझै भुक्तानी र वस्तुगत समेत )
                                                (क)आन्तरिक (१)नेपाल सरकार:- <nepali-input name="currentNepalGov"
                                                    formControlName="currentNepalGov" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.currentNepalGov}}</span>
                                                <br /> <br />
                                                &nbsp;&nbsp;
                                                &nbsp;(२)संस्था:- <nepali-input name="currentOrg"
                                                    formControlName="currentOrg" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.currentOrg}}</span><br />
                                                <br />
                                                &nbsp;&nbsp;
                                                &nbsp;(३){{'SAHAVAGITA' | translate}} ः- <nepali-input
                                                    name="currentPeople" formControlName="currentPeople"
                                                    [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                    [inputClass]="'px-control1'"></nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.currentPeople}}</span><br />
                                                <br />
                                                (ख)वैदेशिक (१)ऋण ः- <nepali-input name="currentLoan"
                                                    formControlName="currentLoan" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.currentLoan}}</span>
                                                <br /> <br />
                                                &nbsp;&nbsp;
                                                &nbsp;(२)अनुदान:- <nepali-input name="currentAnudan"
                                                    formControlName="currentAnudan" [width]="'100%'" [height]="'23px'"
                                                    [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control1'">
                                                </nepali-input>
                                                <span
                                                    class="print_show">{{this.anusuchi1Report.value.currentAnudan}}</span>
                                                <br /> <br />

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table width="100%" class="invoice-table" border="1">
                                <thead>
                                    <tr>
                                        <th rowspan="2" class='childT'>क्रम संख्या </th>
                                        <th rowspan="2" class='childT'>कार्यक्रमहरु/क्रियाकलापहरु
                                        </th>
                                        <th rowspan="2" class='childT' style="text-align: center;">एकाई
                                        </th>
                                        <th colspan="3" class='childT' style="text-align: center;"> आयोजनाको कुल
                                            क्रियाकलापको </th>
                                        <th colspan="2" class='childT' style="text-align: center;"> सम्पूर्ण कार्यमध्य
                                            गत आ व सम्मको </th>
                                        <th colspan="3" class='childT' style="text-align: center;"> वार्षिक लक्ष्य </th>
                                        <th colspan="3" class='childT' style="text-align: center;">प्रथम चौमासिक
                                        </th>
                                        <th colspan="3" style="text-align: center;" class='childT'>
                                            दोस्रो चौमासिक </th>
                                        <th colspan="3" style="text-align: center;" class='childT'>
                                            तेस्रो चौमासिक
                                        </th>
                                        <th rowspan="2" style="text-align: center;" class='childT'>
                                            कैफियत
                                        </th>

                                    </tr>
                                    <tr>
                                        <th>परिमाण </th>
                                        <th>लागत </th>
                                        <th>भार </th>
                                        <th>सम्पन्न परिमाण </th>
                                        <th>भारित प्रगति </th>
                                        <th>सूचक </th>
                                        <th>भार </th>
                                        <th>बजेट </th>
                                        <th>सूचक </th>
                                        <th>भार </th>
                                        <th>बजेट </th>
                                        <th>सूचक </th>
                                        <th>भार </th>
                                        <th>बजेट </th>
                                        <th>सूचक </th>
                                        <th>भार </th>
                                        <th>बजेट </th>

                                    </tr>


                                </thead>
                                <tbody formArrayName="tableData">
                                    <tr class="print_hide">
                                        <th></th>
                                        <th colspan="21">
                                            <a (click)="addRow()" class="btn btn-sm btn-primary
                                                px-btn">
                                                <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                                                {{'ADD'|translate}}</a>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td *ngFor="let data of empty21Array; let i = index">
                                            {{ i + 1 | displayNepaliDate }}</td>
                                    </tr>
                                    <tr *ngFor="let data of
                                    anusuchi1Report.get('tableData')['controls'];
                                    let i= index;" [formGroupName]="i">
                                        <th>
                                            {{i+1 | displayNepaliDate}}
                                        </th>
                                        <th>
                                            <nepali-input name="programNam" formControlName="programNam"
                                                [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['programNam']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="unit" formControlName="unit" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['unit']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="totalQty" formControlName="totalQty" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['totalQty']}}</span>
                                        <th>
                                            <nepali-input name="totalInvest" formControlName="totalInvest"
                                                [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['totalInvest']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="totalWeight" formControlName="totalWeight"
                                                [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['totalWeight']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="finishedQty" formControlName="finishedQty"
                                                [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['finishedQty']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="progress" formControlName="progress" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['progress']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="yrlyIndex" formControlName="yrlyIndex" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['yrlyIndex']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="yrlyWeight" formControlName="yrlyWeight"
                                                [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['yrlyWeight']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="yrlyBudget" formControlName="yrlyBudget"
                                                [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['yrlyBudget']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="fstIndex" formControlName="fstIndex" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['fstIndex']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="fstWeight" formControlName="fstWeight" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['fstWeight']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="fstBudget" formControlName="fstBudget" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['fstBudget']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="sndIndex" formControlName="sndIndex" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['sndIndex']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="sndWeight" formControlName="sndWeight" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['sndWeight']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="sndBudget" formControlName="sndBudget" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['sndBudget']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="trdIndex" formControlName="trdIndex" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['trdIndex']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="trdWeight" formControlName="trdWeight" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['trdWeight']}}</span>
                                        </th>
                                        <th>
                                            <nepali-input name="trdBudget" formControlName="trdBudget" [width]="'100%'"
                                                [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                                                [inputClass]="'px-control'"></nepali-input>
                                            <span class="print_show">{{data['trdBudget']}}</span>
                                        </th>
                                        <th>
                                            <i class="fa fa-trash" aria-hidden="true" style="color:red;"
                                                (click)="deleteRow(i)"></i>
                                        </th>

                                    </tr>
                                    <tr>
                                        <th>(क)</th>
                                        <th>जम्मा </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                    <tr>
                                        <th>(ख)</th>
                                        <th>प्रशासनिक खर्च </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>


                                    </tr>
                                    <tr>
                                        <th>(ग)</th>
                                        <th>कुल जम्मा </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                </tbody>
                            </table>

                            <br>
                            <br>
                            <div class="invoice-footer">
                                <div class="row">
                                    <div class="col-md-4 head">
                                        <div>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                आयोजना / कार्यालय प्रमुख:
                                            </p>




                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                मिति :

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 head">
                                        <div>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                विभागी /संस्था प्रमुख :
                                            </p>


                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                मिति :

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 head">
                                        <div>
                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                प्रमाणित गर्ने
                                                :
                                            </p>


                                            <p style="font-size:12px;" class="invoice-footer-field">
                                                मिति :

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>