.invoice-footer{
    padding-left: 83px;
    margin-left: 51px;
}
.px-control2 {
    display: inline-block;
    width:50%;
    height: 25px;
    border: 0;
    border-bottom: 2px dotted;
    border-radius: 2px;
    font-size: 0.8rem;
    color: #424242;
    padding-left: 4px;
}
.print_show{
    display:none
}
