<div style="padding-right: 100px; padding-left: 100px; padding-top: 20px;">
  <jqxButton style="float: right;" [width]="100" [theme]="'energyblue'" (onClick)="close()">
    बन्द गर्नुहोस्
  </jqxButton>
  <jqxButton style="float: right; margin-right: 15px;" [width]="100" [theme]="'energyblue'" (onClick)="print()">
    प्रिन्ट गर्नुहोस्
  </jqxButton>
</div>
<form name="workOutputAssetForm" class="form-style" [formGroup]="workOutputAssetForm" id="workOutputAssetForm">
  <div id="print-section">
    <p style="text-align: center" *ngIf="progressData && progressData.length>0">{{progressData[0]['officeName']}}
      {{progressData[0]['municipality']}} {{progressData[0]['district']}} आ.व.
      {{TableData.planYear | displayNepaliDate}}</p>
    <div class="col-md-12" id="hideDiv">
      <table border="1" style="width:100%">
        <thead>
          <tr>
            <th style="width:3%">क्र.स</th>
            <th style="width:25%"></th>
            <th style="width:52%">विवरण</th>
            <th style="width:20% !important">यथार्थ मूल्यांकन</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>१. </td>
            <td>
              कार्यक्रमकाे नाम
            </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="programName"> -->
              <nepali-input name="programName" formControlName="programName" [height]="23" [inputClass]="'form-control'"
                [placeHolder]="''"></nepali-input>
            </td>
            <td>
              <nepali-input name="programMulyankan" formControlName="programMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>२. </td>
            <td>
              शिर्षककाे नाम
            </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="topicName"> -->
              <nepali-input name="topicName" formControlName="topicName" [height]="23" [inputClass]="'form-control'"
                [placeHolder]="''"></nepali-input>
            </td>
            <td>
              <nepali-input name="topicMulyankan" formControlName="topicMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>३. </td>
            <td>
              याेजनाकाे नाम
            </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="activityName"> -->
              <nepali-input name="activityName" formControlName="activityName" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
            <td>
              <nepali-input name="activityMulyankan" formControlName="activityMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>४. </td>
            <td>
              स्थान
            </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="place"> -->
              <nepali-input name="place" formControlName="place" [height]="23" [inputClass]="'form-control'"
                [placeHolder]="''"></nepali-input>

            </td>
            <td>
              <nepali-input name="placeMulyankan" formControlName="placeMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>५. </td>
            <td>
              उपभाेक्ता समितिकाे नाम
            </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="consumerCommitteeName"> -->
              <nepali-input name="consumerCommitteeName" formControlName="consumerCommitteeName" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
            <td>
              <nepali-input name="consumerMulyankan" formControlName="consumerMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>६. </td>
            <td>
              अध्यक्षकाे नाम
            </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="consumerCommitteeName"> -->
              <nepali-input name="adhaxya" formControlName="adhaxya" [height]="23" [inputClass]="'form-control'"
                [placeHolder]="''"></nepali-input>
            </td>
            <td>
              <nepali-input name="adhaxyaMulyankan" formControlName="adhaxyaMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>७. </td>
            <td>
              सम्पर्क नं
            </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="consumerCommitteeName"> -->
              <input type="number" name="contactNumber" formControlName="contactNumber" class="form-control" />
            </td>
            <td>
              <nepali-input name="contactMulyankan" formControlName="contactMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>८. </td>
            <td>
              सम्झाैता मिति
            </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="consumerCommitteeName"> -->
              <input type="number" name="agreementDate" formControlName="agreementDate" class="form-control" />

            </td>
            <td>
              <nepali-input name="agreementMulyankan" formControlName="agreementMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>९. </td>
            <td>
              याेजना सुरू मिति
            </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="consumerCommitteeName"> -->
              <input type="number" name="startDate" formControlName="startDate" class="form-control" />

            </td>
            <td>
              <nepali-input name="startMulyankan" formControlName="startMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>१०. </td>
            <td>
              सम्पन्न मिति
            </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="consumerCommitteeName"> -->
              <input type="number" name="completionDate" formControlName="completionDate" class="form-control" />

            </td>
            <td>
              <nepali-input name="completionMulyankan" formControlName="completionMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>११. </td>
            <td>
              कारण खुलाउने
            </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="consumerCommitteeName"> -->
              <nepali-input name="reason" formControlName="reason" [height]="23" [inputClass]="'form-control'"
                [placeHolder]="''"></nepali-input>

            </td>
            <td>
              <nepali-input name="reasonMulyankan" formControlName="reasonMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>१२. </td>
            <td>
              कुल ल.ई.रू.
            </td>
            <td>
              <input type="number" class="form-control" formControlName="totalLaie">
              <!-- <nepali-input name="reason" formControlName="reason" [height]="23" [inputClass]="'form-control'"
            [placeHolder]="''"></nepali-input> -->

            </td>
            <td>
              <nepali-input name="totalMulyankan" formControlName="totalMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>१३. </td>
            <td>
              न.पा.काे लागत रू.
            </td>
            <td>
              <input type="number" class="form-control" formControlName="nagarpalikaCost">
              <!-- <nepali-input name="reason" formControlName="reason" [height]="23" [inputClass]="'form-control'"
              [placeHolder]="''"></nepali-input> -->

            </td>
            <td>
              <nepali-input name="nagarpalikaMulyankan" formControlName="nagarpalikaMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>१४. </td>
            <td>
              जन सहभागिता लागत रू.
            </td>
            <td>
              <input type="number" class="form-control" formControlName="participationCost">
              <!-- <nepali-input name="reason" formControlName="reason" [height]="23" [inputClass]="'form-control'"
                [placeHolder]="''"></nepali-input> -->

            </td>
            <td>
              <nepali-input name="participationMulyankan" formControlName="participationMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>१५. </td>
            <td>
              अन्य लागत रू.
            </td>
            <td>
              <input type="number" class="form-control" formControlName="otherCost">
              <!-- <nepali-input name="reason" formControlName="reason" [height]="23" [inputClass]="'form-control'"
                  [placeHolder]="''"></nepali-input> -->

            </td>
            <td>
              <nepali-input name="otherMulyankan" formControlName="otherMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>१६. </td>
            <td>
              कुल मूल्यांकन
            </td>
            <td>
              <input type="number" class="form-control" formControlName="totalEvaluation">
              <!-- <nepali-input name="reason" formControlName="reason" [height]="23" [inputClass]="'form-control'"
                      [placeHolder]="''"></nepali-input> -->

            </td>
            <td>
              <nepali-input name="totalEvaluationMulyankan" formControlName="totalEvaluationMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>
          <tr>
            <td>१७. </td>
            <td>
              खुद भुक्तान रू.
            </td>
            <td>
              <input type="number" class="form-control" formControlName="bhuktani">
              <!-- <nepali-input name="reason" formControlName="reason" [height]="23" [inputClass]="'form-control'"
                    [placeHolder]="''"></nepali-input> -->

            </td>
            <td>
              <nepali-input name="bhuktaniMulyankan" formControlName="bhuktaniMulyankan" [height]="23"
                [inputClass]="'form-control'" [placeHolder]="''"></nepali-input>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div id="showDiv">
      <table border="1" style="line-height: 30px">
        <thead>
          <tr>
            <th width="3%">क्र.स</th>
            <th width="25%"></th>
            <th width="52%">विवरण</th>
            <th width="20%">यथार्थ मूल्यांकन</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>१. </td>
            <td>
              कार्यक्रमकाे नाम
            </td>
            <td>
              <!-- <input type="number" class="form-control" formControlName="programName"> -->
              {{workOutputAssetForm.value.programName}}

            </td>
            <td>
                {{workOutputAssetForm.value.programMulyankan}}
            </td>
          </tr>
          <tr>
            <td>२. </td>
            <td>
              शिर्षककाे नाम
            </td>
            <td>
              {{workOutputAssetForm.value.topicName}}

            </td>
            <td>
                {{workOutputAssetForm.value.topicMulyankan}}
            </td>
          </tr>
          <tr>
            <td>३. </td>
            <td>
              याेजनाकाे नाम
            </td>
            <td>

              {{workOutputAssetForm.value.activityName}}
            </td>
            <td>
                {{workOutputAssetForm.value.activityMulyankan}}
              &nbsp;
            </td>
          </tr>
          <tr>
            <td>४. </td>
            <td>
              स्थान
            </td>
            <td>
              {{workOutputAssetForm.value.place}}
            </td>
            <td>
                {{workOutputAssetForm.value.placeMulyankan}}
            </td>
          </tr>
          <tr>
            <td>५. </td>
            <td>
              उपभाेक्ता समितिकाे नाम
            </td>
            <td>

              {{workOutputAssetForm.value.consumerCommitteeName}}
            </td>
            <td>
                {{workOutputAssetForm.value.consumerMulyankan}}
            </td>
          </tr>
          <tr>
            <td>६. </td>
            <td>
              अध्यक्षकाे नाम
            </td>
            <td>

              {{workOutputAssetForm.value.adhaxya}}
            </td>
            <td>
                {{workOutputAssetForm.value.adhaxyaMulyankan}}
            </td>
          </tr>
          <tr>
            <td>७. </td>
            <td>
              सम्पर्क नं
            </td>
            <td>

              {{workOutputAssetForm.value.contactNumber | displayNepaliDate}}
            </td>
            <td>
                {{workOutputAssetForm.value.contactMulyankan}}
            </td>
          </tr>
          <tr>
            <td>८. </td>
            <td>
              सम्झाैता मिति
            </td>
            <td>
              {{workOutputAssetForm.value.agreementDate | displayNepaliDate}}
            </td>
            <td>
                {{workOutputAssetForm.value.agreementMulyankan}}
            </td>
          </tr>
          <tr>
            <td>९. </td>
            <td>
              याेजना सुरू मिति
            </td>
            <td>

              {{workOutputAssetForm.value.startDate | displayNepaliDate}}

            </td>
            <td>
                {{workOutputAssetForm.value.startMulyankan}}
            </td>
          </tr>
          <tr>
            <td>१०. </td>
            <td>
              सम्पन्न मिति
            </td>
            <td>

              {{workOutputAssetForm.value.completionDate | displayNepaliDate}}
            </td>
            <td>
                {{workOutputAssetForm.value.completionMulyankan}}
            </td>
          </tr>
          <tr>
            <td>११. </td>
            <td>
              कारण खुलाउने
            </td>
            <td>

              {{workOutputAssetForm.value.reason}}

            </td>
            <td>
                {{workOutputAssetForm.value.reasonMulyankan}}
            </td>
          </tr>
          <tr>
            <td>१२. </td>
            <td>
              कुल ल.ई.रू.
            </td>
            <td>

              {{workOutputAssetForm.value.totalLaie | displayNepaliDate}}

            </td>
            <td>
                {{workOutputAssetForm.value.totalMulyankan}}
            </td>
          </tr>
          <tr>
            <td>१३. </td>
            <td>
              न.पा.काे लागत रू.
            </td>
            <td>

              {{workOutputAssetForm.value.nagarpalikaCost | displayNepaliDate}}

            </td>
            <td>
                {{workOutputAssetForm.value.nagarpalikaMulyankan}}
            </td>
          </tr>
          <tr>
            <td>१४. </td>
            <td>
              जन सहभागिता लागत रू.
            </td>
            <td>

              {{workOutputAssetForm.value.participationCost | displayNepaliDate}}

            </td>
            <td>
                {{workOutputAssetForm.value.participationMulyankan}}
            </td>
          </tr>
          <tr>
            <td>१५. </td>
            <td>
              अन्य लागत रू.
            </td>
            <td>

              {{workOutputAssetForm.value.otherCost | displayNepaliDate}}
              <!-- <nepali-input name="reason" formControlName="reason" [height]="23" [inputClass]="'form-control'"
                        [placeHolder]="''"></nepali-input> -->

            </td>
            <td>
                {{workOutputAssetForm.value.otherMulyankan }}
               
            </td>
          </tr>
          <tr>
            <td>१६. </td>
            <td>
              कुल मूल्यांकन
            </td>
            <td>

              {{workOutputAssetForm.value.totalEvaluation | displayNepaliDate}}
              <!-- <nepali-input name="reason" formControlName="reason" [height]="23" [inputClass]="'form-control'"
                            [placeHolder]="''"></nepali-input> -->

            </td>
            <td>
                {{workOutputAssetForm.value.totalEvaluationMulyankan | displayNepaliDate}}
            
            </td>
          </tr>
          <tr>
            <td>१७. </td>
            <td>
              खुद भुक्तान रू.
            </td>
            <td>

              {{workOutputAssetForm.value.bhuktani | displayNepaliDate}}
              <!-- <nepali-input name="reason" formControlName="reason" [height]="23" [inputClass]="'form-control'"
                          [placeHolder]="''"></nepali-input> -->

            </td>
            <td>
                {{workOutputAssetForm.value.bhuktaniMulyankan | displayNepaliDate}}
            
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</form>