<li *ngFor="let menu of menus">

  <!-- link -->
  <ng-template [ngIf]="menu.routeTo">
    <a (click)="anchorClicked($event)" [routerLink]="menu.routeTo">
      <i *ngIf="menu.icon" [class]="menu.icon" aria-hidden="true"></i>
      <ng-template [ngIf]="!menu.nameNepali">
        {{ menu.name | translate }}
      </ng-template>
      <ng-template [ngIf]="menu.nameNepali">
        {{ menu.nameNepali }}
      </ng-template>
    </a>
  </ng-template>

  <!-- no link -->
  <span *ngIf="!menu.routeTo">
    <i *ngIf="menu.icon" [class]="menu.icon"></i>
    <ng-template [ngIf]="!menu.nameNepali">
      {{ menu.name | translate }}
    </ng-template>
    <ng-template [ngIf]="menu.nameNepali">
      {{ menu.nameNepali }}
    </ng-template>
  </span>

  <ng-template [ngIf]="menu.children">
    <ul sidebar-menu-item [menus]="menus.children" (closeBar)="anchorClicked($event)"></ul>
  </ng-template>
</li>