<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;">{{'DEFINE_ACTIVITY'|translate}}</h6>
    <div class="data-form">
      <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
        <form name="activityOutputForm" class="form-style" [formGroup]="activityOutputForm" id="activityOutputForm">
          <fieldset>
            <legend>{{'SEARCH_BOX'|translate}}</legend>
            <table class="table-w-tooltip">
              <tr>
                <td>{{'PLAN_YEAR'|translate}} *</td>
                <td>
                  <select formControlName="planYear" (change)="planYearSelected($event)" class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <!-- <option value=''>{{'CHOOSE'|translate}}</option> -->
                    <option *ngFor="let planYear of planYearAdapter" [value]="planYear['yearCode']">{{planYear['yearName']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_FOR'|translate}}</td>
                <td>
                  <select class="selectpicker select-class select-border"
                    formControlName="activityFor" style="width:160px;height:23px;">
                    <!-- <option [selected]="true" value='' [disabled]="true">{{'CHOOSE' | translate}}</option> -->
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityAdapter" [value]="data['id']">{{lang == 'ne' ?
                      data['nameNepali'] : data['name']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_FOCUS_AREA'|translate}}*</td>
                <td>
                  <select formControlName="activityFocusArea" (change)="LoadActivityCategory()"
                    class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <!-- <option [selected]="true" value='' [disabled]="true">{{'CHOOSE' | translate}}</option> -->
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityFocusAreaAdapter" [value]="data['focusCode']">{{lang == 'ne' ?
                      data['nameNepali'] : data['focusName']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_CATEGORY'|translate}} *</td>
                <td>
                  <select formControlName="activityCategory" class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <!-- <option [selected]="true" value='' [disabled]="true">{{'CHOOSE' | translate}}</option> -->
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityCategoryAdapter" [value]="data['focusCode']">{{lang == 'ne' ?
                      data['nameNepali'] : data['focusName']}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>{{'ACTIVITY_NAME'|translate}}
                </td>
                <td>
                  <nepali-input name="activityName" formControlName="activityName" [width]="'100%'" [height]="25"  [placeHolder]="'ENTER_ACTIVITY_INPREETI' | translate"
                    [inputClass]="'px-control'"></nepali-input>
                </td>
                <td>
                  <!-- [disabled]="!activityOutputForm.valid" -->
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="SearchData(activityOutputForm.value)">
                    {{'SEARCH'|translate}}
                  </jqxButton>

                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>
    </div>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <legend>{{'ACTIVITY_DETAILS'|translate}}</legend>
        <div class="grid-container table-style">
          <jqxGrid #myGrid [height]="'99.8%'" class="grid-class" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns"
            [pageable]="true" [autorowheight]="true" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'"
            [keyboardnavigation]="true">
          </jqxGrid>

        </div>
      </fieldset>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
