<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;">{{'planningProgressReport' | translate}}</h6>
    <div class="data-form">
      <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
        <form name="activityDetailLedger" class="form-style" [formGroup]="activityDetailLedger"
          id="activityDetailLedger">
          <fieldset>
            <legend>{{'SEARCH_BOX' | translate}}</legend>
            <table class="table-w-tooltip">
              <tr>
                <td>{{'PLANNING_YEAR' | translate}} *</td>
                <td>
                  <select formControlName="planYear" (change)="ChangePlanYear(activityDetailLedger.value['planYear'])"
                    class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <!-- <option [selected]="true" value=''>{{'CHOOSE' | translate}}</option> -->
                    <option *ngFor="let planYear of planYearAdapter" [value]="planYear['yearCode']">
                      {{planYear['yearName']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_FOR' | translate}}</td>
                <td>
                  <select formControlName="activityFor" class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <!-- <option [selected]="true" value='' [disabled]="true">{{'CHOOSE' | translate}}</option> -->
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityAdapter" [value]="data['id']">{{lang == 'ne' ?
                      data['nameNepali'] : data['name']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_FOCUS_AREA' | translate}} </td>
                <td>
                  <select formControlName="activityFocusArea" (change)="LoadActivityCategory()"
                    class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <!-- <option [selected]="true" value='' [disabled]="true">{{'CHOOSE' | translate}}</option> -->
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityFocusAreaAdapter" [value]="data['focusCode']">{{lang == 'ne' ?
                      data['nameNepali'] : data['focusName']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_CATEGORY' | translate}} </td>
                <td>
                  <select formControlName="activityCategory" class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <!-- <option [selected]="true" value='' [disabled]="true">{{'CHOOSE' | translate}}</option> -->
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityCategoryAdapter" [value]="data['focusCode']">{{lang == 'ne' ?
                      data['nameNepali'] : data['focusName']}}</option>
                  </select>
                </td>
                <td>
                  सेवाको प्रकार
                </td>
                <td>
                  <select formControlName="workServiceType" class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <option [selected]="true" value=''>{{'CHOOSEU'|translate}}</option>
                    <option *ngFor="let data of workServiceTypeAdapter" [value]="data['name']">{{data['id']}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>{{'YOJANA_STHAR' | translate}} </td>
                <td>
                  <select class="selectpicker select-class select-border" (change)="implementingAgencyChange($event)"
                    formControlName="parent" style="width:160px;height:23px;">
                    <option value="" [selected]="true">{{'ALL' | translate}}</option>
                    <option *ngFor="let activity of agencyType" [value]="activity.code">{{lang == 'en' ? activity.name
                      : activity.nameNepali}}</option>
                  </select>
                </td>
                <td *ngIf="childType.length>0">{{agencyName}} </td>
                <td *ngIf="childType.length>0">
                  <select class="selectpicker select-class select-border" formControlName="child"
                    style="width:160px;height:23px;">
                    <option value="" [selected]="true">{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let activity of childType" [value]="activity.code">{{lang == 'en' ? activity.name :
                      activity.nameNepali}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_NAME' | translate}}
                </td>
                <td>
                  <!-- [placeHolder]="'ENTER_NAME' | translate"  -->
                  <jqxInput [placeHolder]="'ENTER_NAME' | translate" class="nepalify name" [theme]="'energyblue'"
                    [height]="23" [width]="160" formControlName="activityName"></jqxInput>

                </td>
                <td>
                  <!-- [disabled]="!activityDetailLedger.valid" -->
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
                    (onClick)="SearchData(activityDetailLedger.value)">
                    {{'SEARCH' | translate}}
                  </jqxButton>

                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>

      <div class="table-content" *ngIf="SearchDatas.length>0">
        <fieldset style="padding-bottom: 10px!important;">
          <legend>{{'planningProgressDetail' | translate}}</legend>
          <div class="grid-container table-style">
            <div class="button-container text-right">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!activityDetailLedger.valid"
                (onClick)="exportReport()">
                {{'EXPORT_EXCEL' | translate}}
              </jqxButton>
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!activityDetailLedger.valid"
                (onClick)="printReport()">
                {{'PRINT' | translate}}
              </jqxButton>
            </div>
            <div id="reportContainer" style="overflow-y: auto;height: 396px;">
              <!-- <p></p> -->
              <div class="table-container">
                <table class="table table-bordered table-striped table-responsive" id="yojanaTable"
                  style="height: 396px;">
                  <thead>
                    <tr>
                      <th colspan="20" style="text-align:center;">आर्थिक वर्ष <span
                          *ngIf="year">{{year | displayNepaliDate}}</span>
                        को
                        <span *ngIf="isRul">गाउँ</span>
                        <span *ngIf="!isRul">नगर</span>
                        आयोजनाको प्रगति
                        विवरण
                      </th>
                    </tr>
                    <tr>
                      <th rowspan="2">{{'SN' | translate}}</th>
                      <th rowspan="2">आयोजनाको नाम</th>
                      <th rowspan="2">विनियोजित रकम रु.</th>
                      <th rowspan="2">लागत सहभागिता रकम</th>
                      <th rowspan="2">कुल सम्झौता रकम</th>
                      <th rowspan="2">सम्झौता मिति</th>
                      <th rowspan="2">पेस्की रकम</th>
                      <th rowspan="2">पहिलो बिल</th>
                      <th rowspan="2">दोस्रो विल</th>
                      <Th rowspan="2">अन्तिम विल</Th>
                      <th rowspan="2">जम्मा निकासा रकम</th>

                      <th rowspan="2">बाँकि रकम</th>
                      <th rowspan="2">सम्झौता भएको</th>

                      <th colspan="3">लाभान्भित जनसंख्या</th>

                      <th rowspan="2">सम्पन्न भएको</th>
                      <th rowspan="2">सम्पन्न मिति</th>
                      <th rowspan="2">प्रगति प्रतिसत</th>
                      <th rowspan="2">प्रगति विवरण</th>
                    </tr>
                    <tr>
                      <th>पुरुष</th>
                      <th>महिला</th>
                      <th>जम्मा</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-template ngFor let-data [ngForOf]="SearchDatas">
                      <tr *ngIf="!wardSelect" style="background-color:palegreen;">

                        <td colspan="20">
                          {{data['wardNameNepali']}}</td>
                      </tr>
                      <tr *ngIf="wardSelect" style="background-color:palegreen;">
                        <td colspan="20">वडा स्तरीय</td>
                      </tr>
                      <tr *ngFor="let wardData of data['wardData']; let i = index;">
                        <td> {{ i + 1 | displayNepaliDate}}</td>
                        <td>{{ wardData['activityName'] }}</td>
                        <td>{{ wardData['proposedCost'] | digitCommas | displayNepaliDate }}</td>
                        <td>{{ wardData['sahavagitaAmount'] | digitCommas | displayNepaliDate }}</td>
                        <td>{{ wardData['techCost'] | digitCommas | displayNepaliDate }}</td>
                        <td>{{ wardData['contractDate'] | displayNepaliDate }}</td>
                        <td>{{ wardData['peski'] || 0 | digitCommas | displayNepaliDate }}</td>
                        <td>{{ wardData['first'] || 0 | digitCommas | displayNepaliDate }}</td>
                        <td>{{ wardData['second'] || 0 | digitCommas | displayNepaliDate }}</td>
                        <td>{{ wardData['antim'] || 0 | digitCommas | displayNepaliDate }}</td>
                        <td>{{ wardData['total'] || 0 | digitCommas | displayNepaliDate }}</td>
                        <td>
                          {{ ( toNumber(wardData['techCost']) - toNumber(wardData['total']) ) || 0 | digitCommas | displayNepaliDate }}
                        </td>
                        <td>{{ wardData['contract']}}</td>
                        <td>{{ wardData['malePopulation'] | digitCommas | displayNepaliDate }}</td>
                        <td>{{ wardData['femalePopulation'] | digitCommas | displayNepaliDate }}</td>
                        <td>{{ wardData['totalPopulation'] | digitCommas | displayNepaliDate}}</td>
                        <td>{{ wardData['completed'] }}</td>
                        <td>{{ wardData['completedDate'] | displayNepaliDate}}</td>
                        <td>{{ wardData['progressDetail'] | displayNepaliDate }}</td>
                        <td *ngIf="wardData['progressDetail'] == '0'">छैन</td>
                        <td *ngIf="wardData['progressDetail'] != '0'">छ</td>
                      </tr>
                      <tr style="background-color:#e0e9f5;">
                        <td colspan="2">जम्मा </td>
                        <td>{{ findTotal(data['wardData'], 'proposedCost') | digitCommas | displayNepaliDate }}</td>
                        <td>{{ findTotal(data['wardData'], 'totalSahavagitaAmount') | digitCommas | displayNepaliDate }}
                        </td>
                        <td>{{ findTotal(data['wardData'], 'techCost') | digitCommas | displayNepaliDate }}</td>
                        <td colspan="15">&nbsp;</td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>