<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
    <app-anusuchi-search-bar
        *ngIf="check"
        searchBarTitle = "अनुसूची ५ रिपोर्ट"
        (search)="search($event)"
        (loading)="changeLoadingStatus($event)"
        (error)="showError($event)"
    ></app-anusuchi-search-bar>
  <div class="header">
    <h6 style="font-size:12px;"> अनुसूची ५ रिपोर्ट </h6>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <legend>{{'ACTIVITY_DETAILS' | translate}}</legend>
        <div class="grid-container table-style">
          <div class="button-container text-right">
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
              (onClick)="exportReport()">
              {{'EXPORT_EXCEL' | translate}}
            </jqxButton>
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
              (onClick)="printReport()">
              {{'PRINT' | translate}}
            </jqxButton>
          </div>
          <form name="foForm" [formGroup]="foForm" id="foForm">
            <div id="reportContainer" style="overflow-y: auto;height: 70vh;">
              <div style="line-height:100%;">
                <p style="text-align:center;font-size: 14px"><b>अनुसूची ५</b></p>
                <p style="text-align:center;font-size: 14px">(कार्यविधिको दफा ११
                  (७) सँग सम्वन्धित)</p>
                <p style="text-align:center;font-size: 14px">आयोजना सूचना
                  पार्टीको नमूना</p>
              </div>
              <p style="font-size: 14px">१. आयोजनाको नाम: <span
                  *ngIf="SearchDatas && SearchDatas[0] &&
                  SearchDatas[0]['activityName']">{{SearchDatas[0]['activityName']}}
                </span></p>
              <p style="font-size: 14px">२. आयोजना सञ्चालन गर्ने
                कार्यालय/कार्यक्रमको नाम: <span
                  *ngIf="SearchDatas && SearchDatas[0] &&
                  SearchDatas[0]['consumerCommitteeName']">{{this.organizationMasterData
                  && this.organizationMasterData.officeName}}
                </span><span *ngIf="SearchDatas && SearchDatas[0] &&
                  SearchDatas[0]['programName']">/
                  {{SearchDatas[0]['programName']}} </span></p>
              <p style="font-size: 14px">३. 
                  <span *ngIf="dataLists && dataLists['data']['workServiceType'] === 'Consumer Committe'">उपभोक्ता समितिको </span>
                  <span *ngIf="dataLists && dataLists['data']['workServiceType'] === 'Sahakari'">श्रम सहकारी संस्थाको </span>
                अध्यक्षको नाम र
                सम्पर्क नं.: <span
                  *ngIf="SearchDatas && SearchDatas[0] &&
                  SearchDatas[0]['adhaxya']">{{SearchDatas[0]['adhaxya']}}
                </span> <span
                  *ngIf="SearchDatas && SearchDatas[0] &&
                  SearchDatas[0]['adhaxyaContactNo']">&nbsp;&nbsp;&nbsp;{{SearchDatas[0]['adhaxyaContactNo']
                  | displayNepaliDate}}
                </span></p>
              <p style="font-size: 14px">४. आयोजनाको कूल लागत रकम रू: <span
                  *ngIf="SearchDatas && SearchDatas[0] &&
                  SearchDatas[0]['estimatedCost']">{{techCost | digitCommas
                  | displayNepaliDate}}
                </span></p>
              <ul>
                <li>
                  <p style="font-size: 14px">४.१. आयोजनामा कार्यालयबाट व्यहोर्ने
                    लागत
                    रू:{{dataLists && dataLists['PlanAgreement'] &&
                    dataLists['PlanAgreement'][0] &&
                    dataLists['PlanAgreement'][0].grantedFromLocalLevel | digitCommas |
                    displayNepaliDate}}
                  </p>
                </li>
                <li>
                  <p style="font-size: 14px" class="show_div">४.२. {{'SAHAVAGITA' | translate}}बाट
                    व्यहोर्ने लागत रकम रू:
                    {{foForm.value.janasahavagita | digitCommas | displayNepaliDate}}
                  </p>
                  <p style="font-size: 14px" class="hide_div">४.२. {{'SAHAVAGITA' | translate}}बाट
                    व्यहोर्ने लागत रकम रू:
                    <input type="text" class="form-style-4"
                      formControlName="janasahavagita" />
                  </p>
                </li>
                <li>
                  <p style="font-size: 14px">४.३. आयोजनामा लगानी गर्ने अन्य
                    निकायको नाम र व्यहोर्ने लागत रकम
                    रू:{{dataLists && dataLists['RemainingPlan'] &&
                    dataLists['RemainingPlan'][0] &&
                    dataLists['RemainingPlan'][0].grantedFromOthers}}
                  </p>
                </li>
              </ul>
              <p style="font-size: 14px">५. आयोजना सम्झाैता मिति: <span
                  *ngIf="SearchDatas && SearchDatas[0] &&
                  SearchDatas[0]['contractDate']">{{SearchDatas[0]['contractDate']
                  | displayNepaliDate}}
                </span></p>
              <p style="font-size: 14px">६. आयोजना सम्पन्न गर्ने मिति: <span
                  *ngIf="SearchDatas && SearchDatas[0] &&
                  SearchDatas[0]['completionDate']">{{SearchDatas[0]['completionDate']
                  | displayNepaliDate}}
                </span></p>
              <p style="font-size: 14px">७. आयोजनाबाट लाभान्वित जनसंख्या: <span
                  *ngIf="SearchDatas && SearchDatas[0] &&
                  SearchDatas[0]['benifitedPopulation']">{{SearchDatas[0]['benifitedPopulation'] | digitCommas
                  | displayNepaliDate}}
                </span></p>

            </div>
          </form>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
  [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
  [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
  [width]="100" [height]="60">
</jqxLoader>
