<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
    <form name="technicalApprovalForm" [formGroup]="technicalApprovalForm">
        <div class="header">
            <h6>Technical Approval</h6>
            <div class="table-content">
                <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                        <legend>Activity Details</legend>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>Activity Name</p>
                                <p>Proposed Cost(Rs)</p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>{{name}}</p>
                                <p>
                                    <jqxInput class="name" [theme]="'energyblue'" [placeHolder]="'technical approved cost'" [height]="23" [width]="160" formControlName="proposedCost"></jqxInput>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="table-content">
                <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                        <legend>Technical Approval Details</legend>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>Technical Approval Cost(Rs)<span style="color: red">*</span></p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>
                                  <!-- <input formControlName="techCost" class="form-control" type="text"> -->
                                  <jqxInput class="name" [theme]="'energyblue'" [placeHolder]="'technical approved cost'" [height]="23" [width]="160" formControlName="techCost"></jqxInput>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>Order Issuing Authority<span style="color: red">*</span></p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>
                                  <!-- <input formControlName="orderIssuing" class="form-control" type="text"> -->
                                  <jqxInput class="name" [theme]="'energyblue'" [placeHolder]="'order issuing authority'" [height]="23" [width]="160" formControlName="orderIssuing"></jqxInput>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>Technical Approval Order Number<span style="color: red">*</span></p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>
                                  <!-- <input formControlName="techOrderNo" class="form-control" type="text"> -->
                                  <jqxInput class="name" [theme]="'energyblue'" [placeHolder]="'approval order number'" [height]="23" [width]="160" formControlName="techOrderNo"></jqxInput>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>Technical Approval Date<span style="color: red">*</span></p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>
                                    <jqxDateTimeInput formControlName="techDate" [width]="160" [height]="23">
                                    </jqxDateTimeInput>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="table-content">
                <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                        <legend>Upload Technical Approval Letter</legend>
                        <div class="col-md-12">
                            <table formArrayName="technicalApprovalLetter">
                                <tr *ngFor="let technicalApprovalLetter of technicalApprovalForm.get('technicalApprovalLetter')['controls'];let i = index;" [formGroupName]="i">
                                    <td style="font-weight: 500; font-size: 13px">File Title</td>
                                    <td>
                                      <!-- <input formControlName="fileTitle" type="text" class="form-control"> -->
                                      <jqxInput class="name" [theme]="'energyblue'" [placeHolder]="'Enter Name'" [height]="23" [width]="160" formControlName="fileTitle"></jqxInput>
                                    </td>
                                    <td>
                                            <!-- [attr.disabled]="!technicalApprovalLetter['controls'].fileTitle.valid || !technicalApprovalLetter['controls'].fileTitle.touched" -->
                                      <input formControlName="file" (change)="onFileChange($event, '0', i)" type="file">
                                    </td>
                                    <td>
                                        <jqxButton #submitButton [width]='120' [height]='23' (onClick)="addMoreApprovalLetter()">
                                            Add More
                                        </jqxButton>
                                    </td>
                                    <td>
                                        <jqxButton #submitButton [width]='120' [height]='23' [disabled]="technicalApprovalForm.get('technicalApprovalLetter').length < 2" (onClick)="removeForm('0', i)">
                                            Remove
                                        </jqxButton>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="table-content">
                <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                        <legend>Upload Technical Specification Document</legend>
                        <div class="col-md-12">
                            <table formArrayName="technicalSpecificationDocument">
                                <tr *ngFor="let technicalSpecificationDocument of technicalApprovalForm.get('technicalSpecificationDocument')['controls']; let i = index;" [formGroupName]="i">
                                    <td style="font-weight: 500; font-size: 13px">File Title</td>
                                    <td>
                                      <!-- <input formControlName="fileTitle" type="text" class="form-control"> -->
                                      <jqxInput class="name" [theme]="'energyblue'" [placeHolder]="'Enter Name'" [height]="23" [width]="160" formControlName="fileTitle"></jqxInput>
                                    </td>
                                    <td>
                                            <!-- [attr.disabled]="!technicalSpecificationDocument['controls'].fileTitle.valid || !technicalSpecificationDocument['controls'].fileTitle.touched" -->
                                        <input formControlName="file" (change)="onFileChange($event, '1', i)" type="file" >
                                    </td>
                                    <td>
                                        <jqxButton #submitButton [width]='120' [height]='23' (onClick)="addMoreSpecificationDocument()">
                                            Add More
                                        </jqxButton>
                                    </td>
                                    <td>
                                        <jqxButton #submitButton [width]='120' [height]='23' [disabled]="technicalApprovalForm.get('technicalSpecificationDocument').length < 2" (onClick)="removeForm('1', i)">
                                            Remove
                                        </jqxButton>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="" style="text-align: center;">
                <jqxButton #submitButton [width]='120' [height]='23' (onClick)="save(technicalApprovalForm.value)">
                    Save
                </jqxButton>
                <jqxButton #submitButton [width]='120' [height]='23' (onClick)="clearForm()">
                    Clear
                </jqxButton>
                <!-- <jqxButton #submitButton [width]='120' [height]='23' (onClick)="close()">
                    Close
                </jqxButton> -->
            </div>
        </div>
    </form>
</div>
