.grid-container{
    height: calc(110vh - 230px);
    width: 100%;
}
.header{
    padding: 4px;
    background: #efefef;
    margin: 5px;
}
.data-form{
    background: #ffffff;
    padding: 12px;
    .form-style{
        background: #efefef;
        padding: 0px 5px 5px 5px;
    }
}

.table-content{
    background: #ffffff;
    padding: 12px;
    .table-style{
        // background: #efefef;
        padding: 0px 5px 5px 5px;
        fieldset{
            padding-bottom: 10px;
        }
    }
}
.tableClas{
        border-collapse: collapse;
th, td {
        border: 1px solid black;
      }
}
.button-container {
    background: #ffffff;
    padding: 6px;
}
.table {
    border-collapse: collapse;
    background-color: transparent;
  }
  .table-bordered {
    border: 1px solid #eceeef;
}
ul{
    list-style-type: none
}
.print_show{
    display: none !important;
}
.print_hide{
    display: inline-block !important;
  }
#printShow{
    display: none !important;
}
#printHide{
    display: inline-block !important;
  }
