<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
    <app-anusuchi-search-bar
        *ngIf="check"
        searchBarTitle = "अनुसूची ६ रिपोर्ट"
        (search)="search($event)"
        (loading)="changeLoadingStatus($event)"
        (error)="showError($event)"
    ></app-anusuchi-search-bar>
    <div class="header">
      <!-- <h6 style="font-size:12px;"> अनुसूची ३ रिपोर्ट </h6> -->
      <div class="table-content">
        <fieldset style="padding-bottom: 10px!important;">
          <legend>अनुसूची ६ रिपोर्ट</legend>
          <div class="grid-container table-style">

            <div id="reportContainer" style="overflow-y: auto;height: 75vh;overflow-x: hidden;">
              <form name="anusuchiReport" [formGroup]="anusuchiReport" id="anusuchiReport">
              <div class="button-container text-right hideDiv">
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="exportReport()">
                  {{'EXPORT_EXCEL' | translate}}
                </jqxButton>
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="printReport()">
                  {{'PRINT' | translate}}
                </jqxButton>
              </div>
              <div style="line-height:100%;">
                <p style="text-align:center;font-size: 14px"><b>अनुसूची ६</b></p>
                <p style="text-align:center;font-size: 14px">(कार्यविधिको दफा १६ (ङ) सँग सम्वन्धित)</p>
                <p style="text-align:center;font-size: 14px">
                  <span *ngIf="SearchDatas && SearchDatas[0]['workServiceType'] === 'Consumer Committe'">उपभोक्ता समितिकाे </span>
                  <span *ngIf="SearchDatas && SearchDatas[0]['workServiceType'] === 'Sahakari'">श्रम सहकारीकाे </span>
                  भाैतिक तथा वित्तीय प्रगति प्रतिवेदन</p>
                <p style="text-align:center;font-size: 14px">विवरण पेश गरेकाे कार्यालय .............</p>
              </div>

              <p style="font-size: 14px;margin: 0;padding: 0">१. आयोजनाकाे विवरण</p>
              <table style="font-size: 14px;margin: 0 0 0 10px;padding: 0" width="100%">
                <tr>
                  <td width="20%">आयोजनाकाे नाम: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['activityName']">{{SearchDatas[0]['activityName']}} </span></td>
                  <td width="17%">वडा नं: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['wada']">{{SearchDatas[0]['wada']}} </span></td>
                  <td width="15%">टाेली/बस्ती: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['toll']">{{SearchDatas[0]['toll']}} </span></td>
                  <td width="28%" *ngIf="SearchDatas && SearchDatas[0]['workServiceType'] === 'Consumer Committe'">उपभोक्ता समितिका अध्यक्ष: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['adhaxya']">{{SearchDatas[0]['adhaxya']}} </span></td>
                  <td width="28%" *ngIf="SearchDatas && SearchDatas[0]['workServiceType'] === 'Sahakari'">श्रम सहकारीका अध्यक्ष: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['adhaxya']">{{SearchDatas[0]['adhaxya']}} </span></td>
                  <td width="20%">सचिव: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['sachiv']">{{SearchDatas[0]['sachiv']}} </span></td>
                </tr>
              </table>
              <div class="print_hide">
                <p style="font-size: 14px;margin: 2px 0 0 0;">२. आयोजनाकाे लागत: प्राप्त अनुदान रकम रू.   <input  type="number" name="kharcha4" formControlName="anudaan"
                    style="height:23"> चन्दा
                    रकम रू.<input  type="number" name="chandaa" formControlName="chandaa"
                    style="height:23"> </p>
              </div>
              <br>
              <div class="print_hide">
                    <table style="font-size: 14px;margin: 0 0 0 10px;padding: 0" width="100%">
                            <tr>
                              <td width="50%">{{'SAHAVAGITA' | translate}} रकम रू. <input  type="number" name="janasahabhagita" formControlName="janasahabhagita"
                                style="height:23"></td>
                              <td width="50%">जम्मा रकम रू. <input  type="number" name="totalLaagat" formControlName="totalLaagat"
                                style="height:23"></td>
                            </tr>
                          </table>
            </div>
            <br>
            <div class="print_hide">
                    <p style="font-size: 14px;margin-top: 2px !important;line-height: 1.8">३. हालसम्मकाे खर्च रू.
                            <input  type="number" name="tillKharca" formControlName="tillKharca"
                                style="height:23">
                            <br />
                            क. कार्यालयबाट प्राप्त रकम रू. <input  type="number" name="fromProgram" formControlName="fromProgram"
                            style="height:23">
                </p>
            </div>


            <div class="print_show">
                    <p style="font-size: 14px;margin: 2px 0 0 0;">२. आयोजनाकाे लागत: प्राप्त अनुदान रकम रू.   {{anusuchiReport.controls['anudaan'].value | digitCommas | displayNepaliDate}}
                         चन्दा
                        रकम रू. {{anusuchiReport.controls['chandaa'].value | digitCommas | displayNepaliDate}}</p>
                  </div>
                  <br>
                  <div class="print_show">
                        <table style="font-size: 14px;margin: 0 0 0 10px;padding: 0" width="100%">
                                <tr>
                                  <td width="50%">{{'SAHAVAGITA' | translate}} रकम रू.  {{anusuchiReport.controls['janasahabhagita'].value | digitCommas | displayNepaliDate}}</td>
                                  <td width="50%">जम्मा रकम रू.  {{anusuchiReport.controls['totalLaagat'].value | digitCommas | displayNepaliDate}}</td>
                                </tr>
                              </table>
                </div>
                <br>
                <div class="print_show">
                        <p style="font-size: 14px;margin-top: 2px !important;line-height: 1.8">३. हालसम्मकाे खर्च रू.
                                {{anusuchiReport.controls['tillKharca'].value | digitCommas | displayNepaliDate}}
                                <br />
                                क. कार्यालयबाट प्राप्त रकम रू.  {{anusuchiReport.controls['fromProgram'].value | digitCommas | displayNepaliDate}}
                    </p>
                </div>




              <!-- <p style="font-size: 14px;margin: 2px 0 0 0;">२. आयोजनाकाे लागत: प्राप्त अनुदान रकम रू. ............. चन्दा
                रकम रू.{{dataLists && dataLists['RemainingPlan'] && dataLists['RemainingPlan'][0] && dataLists['RemainingPlan'][0].grantedFromOthers}} </p>
              <table style="font-size: 14px;margin: 0 0 0 10px;padding: 0" width="100%">
                <tr>
                  <td width="50%">{{'SAHAVAGITA' | translate}} रकम रू. {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].grantedFromConsumerCommitte | displayNepaliDate}}</td>
                  <td width="50%">जम्मा रकम रू. ...................</td>
                </tr>
              </table> -->
              <p style="font-size: 14px;margin-top: 2px !important;line-height: 1.8">
                <!-- ३. हालसम्मकाे खर्च रू.
                <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['totalExpenditure']">{{SearchDatas[0]['totalExpenditure'] | displayNepaliDate}} </span>
                <br />
                क. कार्यालयबाट प्राप्त रकम रू. {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].grantedFromLocalLevel | displayNepaliDate}}
                <br /> -->
                १. निर्माण सामाग्रीमा (सिमेन्ट, छड, काठ, ढुंगा वा फुवा, गिट्टी, उपकरण आदि ) रू.
                <span class="print_hide" style="">
                  <input  type="number" name="kharcha1" formControlName="kharcha1"
                 style="height:23">
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['kharcha1'].value | digitCommas | displayNepaliDate}}
                </span>
                <br />
                २. ज्याला :- <span style="margin-left: 25px !important;"> दक्ष रू.  <span class="print_hide" style="">
                  <input  type="number" name="kharcha1" formControlName="kharcha2"
                 style="height:23">
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['kharcha2'].value | digitCommas | displayNepaliDate}}
                </span></span> <span
                  style="margin-left: 25px !important;"> अदक्ष रू.
                  <span class="print_hide" style="">
                    <input  type="number" name="kharcha1" formControlName="kharcha3"
                   style="height:23">
                </span>

                  <span class="print_show">
                    {{anusuchiReport.controls['kharcha3'].value | digitCommas | displayNepaliDate}}
                  </span>
                </span> <span style="margin-left: 25px !important;">
                  जम्मा रू.
                  <span class="print_hide" style="">
                    <input  type="number" name="kharcha4" formControlName="kharcha4"
                   style="height:23">
                </span>

                  <span class="print_show">
                    {{anusuchiReport.controls['kharcha4'].value | digitCommas | displayNepaliDate}}
                  </span>
                </span>
                  <br/>
                ३. मसलन्द सामान (कपि, कलम, मसी, कागज आदि) रू.
                <span class="print_hide" style="">
                  <input  type="number" name="kharcha5" formControlName="kharcha5"
                 style="height:23">
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['kharcha5'].value | digitCommas | displayNepaliDate}}
                </span>
                &emsp;&emsp;&emsp; ४. दैनिक भ्रमण भत्ता (सम्झाैतामा स्वीकृत भए) रू.
                <span class="print_hide" style="">
                  <input  type="number" name="kharcha1" formControlName="kharcha6"
                 style="height:23">
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['kharcha6'].value | digitCommas | displayNepaliDate}}
                </span>
                <br/>
                ५. प्राविधिक निरीक्षण बापत खर्च (सम्झाैतामा स्वीकृत भए) रू  <span class="print_hide" style="">
                  <input type="number" name="kharcha1" formControlName="kharcha7"
                 style="height:23">
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['kharcha7'].value | digitCommas | displayNepaliDate}}
                </span>

                <br/>
                ६. अन्य  <span class="print_hide" style="">
                  <input type="number" name="kharcha1" formControlName="kharcha8"
                 style="height:23">
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['kharcha8'].value | digitCommas | displayNepaliDate}}
                </span>
                <br/>
                ख. {{'SAHAVAGITA' | translate}}बाट व्यहाेरिएकाे खर्च रू:   <span class="print_hide" style="">
                  <input type="number" name="kharcha1" formControlName="kharcha9"
                 style="height:23">
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['kharcha9'].value | digitCommas | displayNepaliDate}}
                </span> श्रमकाे मूल्य बराबर रकम रू.   <span class="print_hide" style="">
                  <input type="number" name="kharcha1" formControlName="kharcha10"
                 style="height:23">
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['kharcha10'].value | digitCommas | displayNepaliDate}}
                </span>
                <br/>
                &emsp;
                जिन्सी सामान मूल्य बराबर रकम रू.   <span class="print_hide" style="">
                  <input type="number" name="kharcha1" formControlName="kharcha11"
                 style="height:23">
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['kharcha11'].value | digitCommas | displayNepaliDate}}
                </span> कूल जम्मा रू.   <span class="print_hide" style="">
                  <input type="number" name="kharcha1" formControlName="kharcha12"
                 style="height:23">
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['kharcha12'].value | digitCommas | displayNepaliDate}}
                </span>
                <br/>
                ४. प्राविधिक प्रतिवेदन बमाेजिम मूल्यांकन रकम रू. ....................
                <br/>
                ५. 
                <span *ngIf="SearchDatas && SearchDatas[0]['workServiceType'] === 'Consumer Committe'">उपभोक्ता </span>
                <span *ngIf="SearchDatas && SearchDatas[0]['workServiceType'] === 'Sahakari'">श्रम सहकारी </span>
                समूहकाे निर्णय बमाेजिम /समीक्षाबाट खर्च देखिएकाे रू.   <span class="print_hide" style="">
                  <input type="number" name="kharcha1" formControlName="uskharcha"
                 style="height:23">
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['uskharcha'].value | digitCommas | displayNepaliDate}}
                </span>

                <br/>
                 <span class="print_show">
                    ६. कार्यान्वयनमा देखिएका मुख्य समस्याहरू: क.
                   {{anusuchiReport.controls['samasya1'].value}}
                 </span>
                 <span class="print_hide" style="">
                    ६. कार्यान्वयनमा देखिएका मुख्य समस्याहरू: क.<span class="print_hide">
                  <nepali-input #nepin1 name="memberName" formControlName="samasya1" [height]="23" [width]="'270px'"
                  [inputClass]="'p-control'" ></nepali-input></span>
              </span>
                 ख. <span class="print_hide" style="">

                   <nepali-input #nepin2 name="memberName" formControlName="samasya2" [height]="23" [width]="'270px'"
                   [inputClass]="'p-control'"></nepali-input>
                </span>

                  <span class="print_show">
                    {{anusuchiReport.controls['samasya2'].value}}
                  </span>
                 ग. <span class="print_hide" style="">

                   <nepali-input #nepin3 name="memberName" formControlName="samasya3" [height]="23" [width]="'270px'"
                   [inputClass]="'p-control'"></nepali-input>
                </span>

                  <span class="print_show">
                    {{anusuchiReport.controls['samasya3'].value}}
                  </span>

                <br/>
                ७. समाधानका उपायहरू
                <br/>
                क. <span class="print_hide" style="">

                 <nepali-input #nepin4 name="memberName" formControlName="upaaya1" [height]="23" [width]="'500px'"
                 [inputClass]="'p-control'"></nepali-input>
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['upaaya1'].value}}
                </span> <br/>
                ख. <span class="print_hide" style="">

                  <nepali-input #nepin5 name="memberName" formControlName="upaaya2" [height]="23" [width]="'500px'"
                  [inputClass]="'p-control'"></nepali-input>
               </span>

                 <span class="print_show">
                   {{anusuchiReport.controls['upaaya2'].value}}
                 </span>  <br/>
                ग. <span class="print_hide" style="">

                  <nepali-input #nepin6 name="memberName" formControlName="upaaya3" [height]="23" [width]="'500px'"
                  [inputClass]="'p-control'"></nepali-input>
               </span>

                 <span class="print_show">
                   {{anusuchiReport.controls['upaaya3'].value}}
                 </span>  <br/>
                 घ.<span class="print_hide" style="">

                  <nepali-input #nepin7 name="memberName" formControlName="upaaya4" [height]="23" [width]="'500px'"
                  [inputClass]="'p-control'"></nepali-input>
               </span>

                 <span class="print_show">
                   {{anusuchiReport.controls['upaaya4'].value}}
                 </span> <br>
                ८. कार्यालयबाट र अन्य निकायबाट अनुगमन भए अनुगमनकाे सुझाब :
                <br>
                <span class="print_hide" style="width:100%">
                  <!-- <input name="kharcha1" formControlName="kharcha12"
                 style="height:23"> -->
                 <nepali-textarea #nepin8 name="activityDescription" formControlName="sujhaab" [width]="'50%'"
                 [height]="50" [inputClass]="'px-control-textarea'"></nepali-textarea>
                 <!-- <textarea class="nepalify nepalify1" formControlName="sujhaab" rows="3" style="width: 50%"></textarea> -->
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['sujhaab'].value}}
                </span>
                <br/>
                ९. हाल माग गरेकाे किस्ता रकम रू.
                <span class="print_hide" style="">
                  <input type="number" name="kharcha1" formControlName="maag"
                 style="height:23">
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['maag'].value}}
                </span>
                <br/>
                १०. मुख्य खर्च प्रयाेजन
                <br>
                <span class="print_hide" style="width:100%">
                  <!-- <input name="kharcha1" formControlName="kharcha12"
                 style="height:23"> -->
                 <nepali-textarea #nepin9 name="activityDescription" formControlName="mainkharcha" [width]="'50%'"
                 [height]="50" [inputClass]="'px-control-textarea'"></nepali-textarea>
                 <!-- <textarea  class="nepalify nepalify1" formControlName="mainkharcha" rows="3" style="width: 50%"></textarea> -->
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['mainkharcha'].value}}
                </span>
                <br/>
                ११. प्राप्त रकम आयोजना बाहेक अन्य कार्यमा खर्च गर्ने गराउने छैनाै ।
               </p>
               <br/>
               <br/>
               <table style="font-size: 14px;" width="100%">
                  <tr>
                    <td width="25%">......................</td>
                    <td width="25%">......................</td>
                    <td width="25%">......................</td>
                    <td width="25%">......................</td>
                  </tr>
                  <tr>
                      <td width="25%">तयार गर्ने</td>
                      <td width="25%">सचिव</td>
                      <td width="25%">काेषाध्यक्ष </td>
                      <td width="25%">अध्यक्ष</td>
                    </tr>
                </table>
              </form>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>
