.float {
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
}

.float1 {
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: blue;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
}
/*# sourceMappingURL=generate-all-report.component.css.map */