<div style="position:fixed;right:10px;top:100px;z-index: 100000000;height:120px;width:240px">

        <a (click)="print()" class="btn-floating btn-lg btn-secondary float" ><i class="fa fa-print" aria-hidden="true"></i></a>

        <a (click)="save()" class="btn-floating btn-lg btn-secondary float1" ><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
     
    <!-- <jqxButton #button [width]='120' [height]='23' (onClick)="print()" style="float: right;">
      प्रिन्ट गर्नुहोस्
    </jqxButton>-->

</div>
<br />
<div id="print-section" style="padding-right: 20px;padding-left: 20px; margin-top: 15px;" *ngIf="dataLists">
  <!--#############################samjauta faaram-->
  <div id="samjautafaram" style="page-break-after: always;">
  <div style="text-align: center">
    <p>
      <span style="font-size: 16px;font-weight: bold">अनुसूची २ </span>
      <br />
      <span style="font-size: 16px;font-weight: bold">नेपाल सरकार</span>
      <br />
      <span  style="font-size: 16px !important;font-weight: bold;">{{heading.officeName}}</span>
      <br />
      <span style="font-size: 14px;font-weight: bold;">{{heading.orgName}} </span>
      <br />
      <span style="font-size: 12px;font-weight: bold;">{{heading.municipality}},{{heading.district}}</span>
      <br />
      <span style="font-size: 12px;font-weight: bold;">योजना सम्झौता फाराम</span>
      <br />
      <!-- <span style="font-size: 12px;">आव: {{dataLists && dataLists['RemainingPlan'] && dataLists['RemainingPlan'][0] && dataLists['RemainingPlan'][0].planYear}}
        </span> -->
    </p>
  </div>
  <div class="container-fluid">
    <div style="font-size: 12px;">
      <p style="font-size: 12px;">१. सम्झौता गने पक्ष र आयोजनाः</p>
      <ol>
        <p style="font-size: 12px;">क) उपभोक्ता समितिको विवरणः</p>
        <ol>
          <p style="font-size: 12px;">१. नामः
            {{dataLists && dataLists['CommitteDetails'] && dataLists['CommitteDetails'][0] && dataLists['CommitteDetails'][0].memberName}}
          </p>
          <!-- <p style="font-size: 12px;">२. पद  {{dataLists && dataLists['CommitteDetails'] && dataLists['CommitteDetails'][0] && dataLists['PlanAgreement'][0].memberPost}}
          </p> -->
          <p style="font-size: 12px;">२. ठेगानाः
            {{dataLists && dataLists['CommitteDetails'] && dataLists['CommitteDetails'][0] && dataLists['CommitteDetails'][0].committeAddress}}
          </p>
        </ol>
        <p style="font-size: 12px;">ख) आयोजनाको विवरणः</p>
        <ol>
          <p style="font-size: 12px;">१. नामः
            {{dataLists && dataLists['ActivityDetails'] && dataLists['ActivityDetails'].ActivityName}}</p>
          <p style="font-size: 12px;">२. आयोजना स्थलः
            {{dataLists && dataLists['ActivityDetails'] && dataLists['ActivityDetails'].ActivityName}}</p>
          <!-- {{dataLists && dataLists['ActivityDetails'] && dataLists['ActivityDetails'].ActivityName}} -->
          <!-- <p style="font-size: 12px;">२. आयोजना स्थलः {{dataLists && dataLists['RemainingPlan'] && dataLists['RemainingPlan'][0] && dataLists['RemainingPlan'][0].address}}</p> -->
          <p style="font-size: 12px;">३.
            उद्देश्यः{{dataLists && dataLists['RemainingPlan'] && dataLists['RemainingPlan'][0] && dataLists['RemainingPlan'][0].description}}
          </p>
          <p style="font-size: 12px;">४. आयोजना स्वीकृत गर्ने निकाय:
            {{dataLists && dataLists['data'] && dataLists['data'].issuingAuthority}}

          </p>
          <p style="font-size: 12px;">५. आयोजना सुरु हुने मितिः
            <span
              *ngIf="dataLists && dataLists['data'] && dataLists['data'].agreementDate">{{dataLists['data'].agreementDate | displayNepaliDate}}</span>
          </p>
          <p style="font-size: 12px;">६. आयोजना सम्पन्न हुने मितिः
            <span
              style="font-family: arial !important">{{dataLists && dataLists['data'] && dataLists['data'].estimatedWorkCompletionDate | displayNepaliDate}}</span>
          </p>
        </ol>
      </ol>
      <p style="font-size: 12px;">२. आयोजनाको लागत सम्वन्धि विवरणः</p>
      <ol>
        <p style="font-size: 12px;">क) लागत अनुमान रू

          <span style="font-family: arial !important">
            {{dataLists && dataLists['proposedCost'] | displayNepaliDate}}
          </span>
          &nbsp;&nbsp;
          ल.ई रू

          <span style="font-family: arial !important">
            {{dataLists && dataLists['techCost'] | displayNepaliDate}}
          </span>
        </p>
        <p style="font-size: 12px;">ख) लागत व्यहोने स्रोतहरु</p>
        <ol>
          <p style="font-size: 12px;">१. नेपाल सरकार:
            रू.
            {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].grantedFromState | displayNepaliDate}}
            &nbsp;&nbsp; २. प्रदेश सरकार:
            रू. <span
              style="font-family: arial! important">{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].grantedFromNgo | displayNepaliDate}}</span>
            &nbsp;&nbsp; ३. {{'MUNICIPALITY' | translate}}:
            रू. <span
              style="font-family: arial! important">{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].grantedFromLocalLevel | displayNepaliDate}}</span>
            &nbsp;&nbsp; ४. वडा:
            रू. <span
              style="font-family: arial! important">{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].grantedFromIngo | displayNepaliDate}}</span>
            &nbsp;&nbsp; ५. उपभोक्ता समिति:
            रू. <span
              style="font-family: arial! important">{{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].grantedFromConsumerCommitte | displayNepaliDate}}</span>
            &nbsp;&nbsp; ६. अन्यः
            रू. <span
              style="font-family: arial! important">{{dataLists && dataLists['RemainingPlan'] && dataLists['RemainingPlan'][0] && dataLists['RemainingPlan'][0].grantedFromOthers | displayNepaliDate}}</span>
          </p>
          <p style="font-size: 12px;">
            <b> जम्मा रु. :- </b>{{totalAmount | displayNepaliDate}}</p>
        </ol>
        <table style="font-size: 12px;" width="100%">
          <tr>
            <td>ग) बस्तुगत अनुदानको विवरण</td>
            <td>सामाग्रीको नाम</td>
            <td>एकाइ</td>
          </tr>
          <tr>
            <td>१. संघबाट</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>२. प्रदेशबाट</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>३. स्थानीय तहबाट</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>४. गैह्रसरकारी संघसंस्थाबाट</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>५. विदेशी दातृ संघ संस्थाबाट</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>६. उपभोक्ता समितिबाट</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>७. अन्य निकायबाट</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <!-- <p style="font-size: 12px;">घ) आयोजनाबाट लाभान्वित हुनेः</p> -->
        <p style="font-size: 12px;">घ) आयोजनाबाट लाभान्वित हुनेः</p>
        <ol>
          <p style="font-size: 12px;">१. घरपरिवार संख्याः
            <span style="font-family: arial !important">
              {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].benifitedHouses | displayNepaliDate}}
            </span>
          </p>
          <p style="font-size: 12px;">२. जनसंख्याः
            <span style="font-family: arial !important">
              {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].benifitedPopulation | displayNepaliDate}}
            </span>
            &nbsp; क) पुरुष:
            <span style="font-family: arial !important">
              {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].malePopulation | displayNepaliDate}}
            </span> &nbsp;&nbsp; ख) महिला:
            <span style="font-family: arial !important">
              {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].femalePopulation | displayNepaliDate}}
            </span> &nbsp;&nbsp; ग) दलित:
            <span style="font-family: arial !important">
              {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].dalitPopulation | displayNepaliDate}}
            </span> &nbsp;&nbsp; घ) जनजाती:
            <span style="font-family: arial !important">
              {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].janajatiPopulation | displayNepaliDate}}
            </span> &nbsp;&nbsp; ङ) अन्यः
            <span style="font-family: arial !important">
              {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].othersBenifited | displayNepaliDate}}
            </span>
          </p>
        </ol>
      </ol>
      <p style="font-size: 12px;">३. उपभोक्ता समिति/समुदायमा आधारित संस्था/गैह्रसरकारी संस्थाको विवरणः</p>
      <ol>
        <p style="font-size: 12px;">क) गठन भएको मितिः
          <span style="font-family: arial !important"> : {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].formationDate
            | displayNepaliDate}}
          </span>
        </p>
        <p style="font-size: 12px;">ख) उपभोक्ता समिति गठन गर्दा जम्मा उपस्थित संख्याः
          <span style="font-family: arial !important"> : {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].totalParticipant
            | displayNepaliDate}}
          </span>
        </p>
        <p style="font-size: 12px;">ग) पदाधिकारीको नाम र ठेगाना (नागरिकता प्रमाणपत्र नं. र जिल्ला)</p>
        <ol>
          <table style="font-size: 12px" width="100%" class="table table-bordered">
            <tr>
              <td>
                <b>सी.नं.</b>
              </td>
              <td>
                <b>पद</b>
              </td>
              <td>
                <b>नाम</b>
              </td>
              <td>
                <b>ठेगाना</b>
              </td>
              <td>
                <b>ना.प्र.नं.</b>
              </td>
              <td>
                <b>जारी जिल्ला</b>
              </td>
              <td>
                <b>जारी मिति</b>
              </td>
              <td>
                <b>फोन नं</b>
              </td>
            </tr>
            <tr *ngFor="let committeData of dataLists && dataLists['CommitteDetails']; let i=index;">
              <td *ngIf="committeData['memberName']!=''">{{(i+1) | displayNepaliDate}}.</td>
              <td *ngIf="committeData['memberName']!=''">{{committeData['memberPost']}}</td>
              <td *ngIf="committeData['memberName']!=''">{{committeData['memberName']}}</td>
              <td *ngIf="committeData['memberName']!=''">{{committeData['committeAddress']}}</td>
              <td *ngIf="committeData['memberName']!=''">{{committeData['citizenshipNumber'] | displayNepaliDate}}</td>
              <td *ngIf="committeData['issueDistrict']!=''">{{committeData['issueDistrict']}}</td>
              <td *ngIf="committeData['issueDate']!=''">{{committeData['issueDate'] | displayNepaliDate}}</td>
              <td *ngIf="committeData['phoneNumber']!=''">{{committeData['phoneNumber'] | displayNepaliDate}}</td>
            </tr>
          </table>
        </ol>
        <p style="font-size: 12px;">ग) गठन गर्दा उपस्थित लाभान्वितको संख्याः 
          {{dataLists && dataLists['PlanAgreement'] && dataLists['PlanAgreement'][0] && dataLists['PlanAgreement'][0].totalBenefited
          | displayNepaliDate}}
        </p>
      </ol>
      <p style="font-size: 12px;">४. अनुगमन समिति संबन्धि विवरण: </p>
      <table *ngIf="monitoringCommittees.length>0" class="table table-bordered" style="font-size: 12px;">
        <tr>
          <td>
            <b>पद</b>
          </td>
          <td>
            <b>नाम , थर</b>
          </td>

          <td>
            <b>ठेगाना </b>
          </td>
          <td>
            <b>ना.प्र.प.नं.</b>
          </td>
          <td>
            <b>फोन नं.</b>
          </td>
        </tr>
        <tr *ngFor="let mdata of monitoringCommittees">
          <td>
            <span *ngIf="mdata && mdata['post'] && mdata['post']!= null && mdata['post']!= 'null'">{{mdata['post']}} </span>
          </td>
          <td>
            <span *ngIf="mdata && mdata['name'] && mdata['name']!= null && mdata['name']!= 'null'">{{mdata['name']}} </span>
          </td>
          <td>
            <span *ngIf="mdata && mdata['address'] && mdata['address']!= null && mdata['address'] !='null'">{{mdata['address']}} </span>
          </td>
          <td>
            <span
              *ngIf="mdata && mdata['citizenshipNo'] && mdata['citizenshipNo']!= null && mdata['citizenshipNo']!= 'null'">{{mdata['citizenshipNo'] | displayNepaliDate}}
            </span>
          </td>
          <td>
            <span *ngIf="mdata && mdata['mobile'] && mdata['mobile']!= null && mdata['mobile']!= 'null'">{{mdata['mobile'] | displayNepaliDate}}
            </span>
          </td>
        </tr>
      </table>
      <p style="font-size: 12px;">५. आयोजना सञ्चालन सम्वन्धि अनुभवः</p>
      <p style="font-size: 12px;">६.उपभोक्ता समिति समुदायमा आधारित संस्था/गैह्रसरकारी संस्थाले प्राप्त गने किस्ता विवरणः
      </p>
      <table style="width: 100%;font-size: 12px;">
        <tr>
          <th>किस्ताको क्रम</th>
          <th>मिति</th>
          <th>किस्ताको रकम</th>
          <th>निमाण समाग्री परिमाण</th>
          <th>कैफियत</th>
        </tr>
        <tr>
          <td>पहिलो</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>दोश्रो</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>तेश्रो</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>जम्मा</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <p>७. आयोजना ममत संभार सम्बन्धी व्यवस्था </p>
      <p style="font-size: 12px;">क) आयोजना ममत संभारको जिम्मा लिने समिति/संस्थाको नामः</p>
      <p style="font-size: 12px;">ख) ममत सम्भारको सम्भावित स्रोत (छ छैन खुलाउने)</p>
      <table style="font-size: 12px;">
        <tr>
          <td> &nbsp; &nbsp; <input type="checkbox" disabled></td>
          <td>जनश्रमदानः</td>
        </tr>
        <tr>
          <td>&nbsp; &nbsp; <input type="checkbox" disabled></td>
          <td>सेवा शुल्कः</td>
        </tr>
        <tr>
          <td>&nbsp; &nbsp; <input type="checkbox" disabled></td>
          <td>दस्तुर, चन्दाबाटः</td>
        </tr>
        <tr>
          <td>&nbsp; &nbsp; <input type="checkbox" disabled></td>
          <td>अन्य केही भएः </td>
        </tr>
      </table>
    </div>
    <div style="font-size: 12px;">
      <h5 class="text-center">सम्झौताका शर्तहरु</h5>
      <div>
        <p style="font-size: 14px;">
          <b>उपभोक्ता समितिको जिम्मेवारी तथा पालना गरिने शर्तहरुः</b>
        </p>
        <p style="font-size: 12px;line-height: 2;letter-spacing: 0.5px">१.आयोजना मिति
          <span
            *ngIf="dataLists && dataLists['data'] && dataLists['data'].agreementDate">{{dataLists['data'].agreementDate | displayNepaliDate}}</span>
          देखी शुरु गरी मिति <span
            *ngIf="dataLists && dataLists['data'] && dataLists['data'].estimatedWorkCompletionDate">{{dataLists['data'].estimatedWorkCompletionDate | displayNepaliDate}}</span>
          गते सम्ममा पुरा गर्नुपर्नेछ।
          <br />
          २.प्राप्त रकम तथा निर्माण सामाग्री सम्बन्धित आयोजनाको उद्धेश्यका लागि मात्र गर्नुपर्नेछ । <br />
          ३.नगदी जिन्सी सामानको प्राप्ती, खर्च र बाँकी तथा आयेजनाको प्रगति विवरण राख्नुपर्नेछ । <br />
          ४.आम्दानी खर्चको विवरण र कार्यप्रगतिको जानकारी उपभोक्ता समूहमा छलफल गरी अर्को किस्ता माग गर्नु पर्नेछ । <br />
          ५.आयोजनाको कूल लागत भन्दा घटी लागतमा आयेजना सम्पन्न भएको अवस्थामा सो मुताविक नै अनुदान र श्रमदानको प्रतिशत
          निर्धारण गरी भुक्तानी लिनु पर्नेछ । <br />
          ६.उपभोक्ता समितिले प्राविधिकको राय, परामर्श एवं निर्देशन अनुरुप काम गर्नुपर्नेछ । <br />
          ७.उपभोक्ता समितिले आयोजनासंग सम्बन्धित विल, भरपाईहरु, डोर हाजिरी फारमहरु,जिन्सी नगदी खाताहरु, समिति/समुहको
          निर्णय पुस्तिका आदि कागजातहरु कार्यालयले मागेको बखत उपलब्ध गराउनु पर्नेछ । <br />
          ८.कुनै सामाग्री खरिद गर्दा आन्तरिक राजस्व कार्यालयबाट स्थायी लेखा नम्बर र मुल्य अभिबृद्धि कर दर्ता प्रमाण पत्र प्राप्त व्यक्ति 
          वा फर्म संस्था वा कम्पनीबाट खरिद गरी सोही अनुसारको विल भर्पाइ आधिकारीक व्यक्तिबाट प्रमाणित गरी पेश गर्नु पर्नेछ ।
           <br />
          ९.मूल्य अभिबृद्धि कर (vat) लाग्ने बस्तु तथा सेवा खरिद गर्दा रु.२०,०००।–भन्दा बढी मूल्यको सामाग्रीमा
          अनिवार्यरुपमा मूल्य अभिबृद्धि कर दर्ता प्रमाण पत्र प्राप्त गरेका व्यक्ति फर्म संस्था वा कम्पनीबाट खरिद गर्नु
          पर्नेछ । साथै उक्त विलमा उल्लेखित मु.अ.कर बाहेकको रकममा १.५ प्रतिशत अग्रीम आयकर बापत करकट्टी गरी बाँकी रकम
          मात्र सम्बन्धित सेवा प्रदायकलाई भुक्तानी हुनेछ । रु.२०,०००।– भन्दा कम मूल्यको सामाग्री खरिदमा पान नम्वर लिएको
          व्यक्ति वा फर्मबाट फर्मबाट खरिद गर्नुपर्नेछ । अन्यथा खरिद गर्ने पदाधिकारी स्वयम् जिम्मेवार हुनेछ । <br />
          १०.डोजर रोलर लगायतका मेशिनरी सामान भाडामा लिएको एवम् घर बहालमा लिई विल भरपाई पेश भएको अवस्थामा १०% घर भाडा कर
          एवम् बहाल कर तिर्नु पर्नेछ । <br />
          ११.प्रशिक्षकले पाउने पारिश्रमिक एवम् सहभागीले पाउने भत्तामा प्रचलित नियमानुसार कर लाग्नेछ । <br />
          १२.निर्माण कार्यको हकमा शुरु लागत अनुमानको कुनै आइटमहरुमा परिर्वतन हुने भएमा अधिकार प्राप्त
          अधिकारी/कार्यालयबाट लागत अनुमान संशोधन गरे पश्चात माात्र कार्य गराउनुपर्नेछ । यसरी लागत अनुमान संशोधन नगरी
          कार्य गरेमा उपभोक्ता समिति/समुह नै जिम्मेवार हुनेछ । <br />
          १३.उपभोक्ता समितिले काम सम्पन्न गरिसकेपछि बाँकी रहन गएका खप्ने सामानहरु मर्मत सम्भार समिति गठन भएको भए सोही
          मितिलाई र सो नभए सम्बन्धित कार्यालयलाई बुझाउनुपर्नेछ । तर मर्मत समितिलाई बुझाएको सामानको विवरण एक पव्रति
          सम्बन्धित कार्यालयलाई जानकारीको लागि बुझाउनु पर्नेछ । <br />
          १४.सम्झौता बमोजिम आयोजना सम्पन्न भएपछि अन्तिम भुक्तानीको लागि कार्य सम्पन्न प्रतिवेदन, नापी किताव,प्रमाणित विल
          भरपाई, योजनाको फोटो, सम्बन्धित उपभोक्ता समितिले आयोजना संचालन गर्दा भएको आय व्ययको अनुमोदन सहितको निर्णय,
          उपभोक्ता आम भेलाबाट भएको सार्वजनिक लेखा परिक्षणको निर्णयको प्रतिलिपी तथा सम्बन्धित कार्यालयको वडा कार्यालयको
          सहित अन्तिम किस्ता भुक्तानीको लागि निवेदन पेश गर्नुपर्नेछ । <br />
          १५.आयोजना सम्पन्न भएपछि कार्यालयबाट जाँचपास गरी फरफारकको प्रमाण पत्र लिनु पर्नेछ । साथै आयोजनाको मर्मत
          सम्भारको व्यवस्था सम्बन्धित उपभोक्ता समितिले नै गर्नुपर्नेछ । <br />
          १६.आयोनजा कार्यान्वयन गर्ने उपभोक्ता समिति/समुहले आयोजनाको भौतिक तथा वित्तीय प्रगति प्रतिवेदन अनुसूची ६ को
          ढाँचामा सम्झौतामा तोकिए बमोजिम कार्यालयमा पेश गर्नु पर्नेछ । <br />
          १७.आयोजनाको दीगो संचालन तथा मर्मत स्म्भारको व्यवस्था गर्नु पर्नेछ । <br />
          १८.आयोजनाको सवै काम उपभोक्ता समिति/समुहको निर्णय अनुसार गर्नु गराउनु पर्नेछ । <br />
        </p>
        <p style="font-size: 14px;">
          <b>कार्यालयको जिम्मेवारी तथा पालना गरिने शर्तहरु:</b>
        </p>
        <p style="font-size: 12px;line-height: 2;letter-spacing: 0.5px">
          १.आयोजनाको बजेट, उपभोक्ता समितिको काम, कर्तव्य तथा अधिकार, खरिद, लेखाङ्कन, प्रतिवेदन
          आदि विषयमा उपभोक्ता समितिका पदाधिकारीहरुलाई अनुशिक्षण कार्यक्रम संचालन गरिनेछ । <br />
          २.आयोजनामा आवश्यक प्राविधिक सहयोग कार्यालयबाट उपलब्ध गराउन सकिने अवस्थामा गराइनेछ र नसकिने अवस्था भएमा
          उपभोक्ता समितिले बाह्य बजारबाट सेवा परामर्श अन्तर्गत सेवा लिन सक्नेछ । <br />
          ३.आयोजनाको प्राविधिक सुपरिवेक्षणका लागि कार्यालयको तर्फबाट प्राविधिक खटाइनेछ । उपभोक्ता
          समितिबाट भएको कामको नियमित सुपरिवेक्षण गर्र्ने जिम्मेवारी निज प्राविधिकको हुनेछ । <br />
          ४.पेश्की लिएर लामो समय सम्म आयोजना संचालन नगर्ने उपभोक्ता समितिलाई कार्यालय नियम अनुसार कार्यवाही गरिनेछ ।
          <br />
          ५.श्रममूलक प्रविधिबाट कार्य गराउने गरी लागत अनुमान स्वीकृत गराई सोही बमोजिम सम्झौता गरी मेशिनरी उपकरणको
          प्रयोगबाट कार्य गरेको पाइएमा त्यस्तो उपभोक्ता समितिसंग सम्झौता रद्ध गरी उपभोक्ता समितिलाई भुक्तानी गरिएको रकम
          मूल्यांकन गरी बढी भएको रकम सरकारी बाँकी सरह असुल उपर गरिनेछ । <br />
          ६.आयोजना सम्पन्न भएपछि कार्यालयबाट जाँचपास गरी फरफारक गर्नु पर्नेछ । <br />
          ७.आवश्यक कागजात संलग्न गरी भुक्तानी उपलब्ध गराउन सम्बन्धित उपभोक्ता समितिबाट
          अनुरोध भई आएपछि उपभोक्ता समितिको बैंक खातामा भुक्तानी दिनु पर्नेछ । <br />
          ८.यसमा उल्लेख नभएका कुराहरु प्रचलित कानून बमोजिम हुनेछ ।
        </p>
      </div>
      <br/>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <table style="font-size:12px" width="100%">
              <tr>
                <td>उपभोक्ता समिति/समुहको तर्फबाट</td>
              
                <td>
                  कार्यालयको तर्फबाट</td>
              </tr>
              <tr>
                <td> दस्तखत:
                </td>
                <td> दस्तखत:
                </td>

              </tr>
              <tr>
                <td> नाम थर :
                </td>
                <td> नाम थर :
                </td>
              </tr>
              <tr>
                <td> पद :</td>
                <td> पद : </td>
              </tr>
              <tr>
                <td> ठेगाना :</td>
                <td> ठेगाना : </td>
              </tr>
              <tr>
                <td> सर्म्पक नं :</td>
                <td> सर्म्पक नं : </td>
              </tr>
              <tr>
                <td> मिति :</td>
                <td> मिति : </td>
              </tr>
            

            </table>
          </div>


        
        </div>
      </div>
    </div>


    <br/>

  </div>
</div>

 <!--#############################karyadesh-->
 <div id="karyadesh" style="page-break-after: always;">
    <div style="height:150px;">
        <app-letterhead></app-letterhead>
      </div>


      <div style="height:50px;">
        <div style="float:left;width:49%">
          <p style="text-align:left">
            प.सं. : {{activityDatas['planYear'] | displayNepaliDate}} <br />
            च .नं. :<br /> </p>
        </div>
        <div style="float:right;width:49%;" class="show_div">
          <p style="text-align:right;">मिति:
              {{currentDate | displayNepaliDate}}
          </p>
        </div>
      </div>
      <br />
      <hr style="border:1px solid black;" />
      <br />
  
     
      <br />
      <p>श्री <span style="font-weight:bold;" >
        {{karyadeshData.consumerCommitteeName}} 
        </span> उपभोक्ता समिति
        <br />
        <span>
          {{karyadeshData.address}}
        </span>
      </p>
      <p style="clear:both;text-align:center;"><u>विषय :  <b>कार्यदेश सम्बन्धमा।</b></u></p>
      
      <p class="show_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;प्रस्तुत बिषयमा यस {{heading.officeName}}को चालु आ.व. <b>{{karyadeshData.planYear | displayNepaliDate}}</b> का लागी {{karyadeshData.paarit}}बाट स्वीकृत
        <b> {{karyadeshData.activityName}}</b> योजना संचालनका लागी 
          <b> {{karyadeshData.consumerCommitteeName}}</b> उपभोक्ता समिति
         संग मिति <b>{{karyadeshData.contractDate | displayNepaliDate}}</b>
        मा यस नगरपालिका कार्यालयसंग भएको सम्झौता अनुसार तोकिएको समयमा यस योजना सम्पन्न गर्न यो कार्यदेश दिईएको छ । डिजाईन ईस्टिमेट अनुसार प्रविधिकको सल्लाहमा र नियमानुसार योजना संचालन गर्नहुन पनि जानकारी गराईन्छ ।
      </p>
      <br />
      <br />
      <br />
      <br />
      <br />
     
      <div id="" style="clear:both">
        <p style="text-align:right;">
          ...........................................<br />
          {{karyadeshData.prasasan}}
        </p>
        <p style="text-align:right;">प्रमुख प्रशासकिय अधिकृत</p>
        <br />
        <br />
        <p style="letter-spacing: 0.8px;line-height: 1.8;">
          बोधार्थ
          <br/>
          १. श्री लेखा शाखा,कमला नगरपालिका
          <br/>
          २.श्री भौतिक पूर्वाधार विकास शाखा,कमला नगरपालिका
          <br/>
          ३ श्री योजना शाखा,कमला नगरपालिका
        </p>
       
      </div>



      <!-- <div style="height:50px;">
          <div style="float:left;width:49%">
            <p style="text-align:left">
              प.सं. : {{activityDatas['planYear'] | displayNepaliDate}} <br />
              च .नं. :<br /> </p>
          </div>
          <div style="float:right;width:49%;" class="show_div">
            <p style="text-align:right;">मिति:
                {{currentDate | displayNepaliDate}}
            </p>
          </div>
        </div>
        <br />
        <br />
        <p style="clear:both;text-align:center;">विषय :  <b>कार्यदेश दिइएको बारे ।</b></p>
        <br />
        <p>श्री <span style="font-weight:bold;"
            *ngIf="committeeName">
            {{committeName}}
          </span>
          <br />
          <span *ngIf="committeePost">
            उ.स.
            {{committeePost}}
          </span>
        </p>
        <p class="show_div" style="letter-spacing: 0.8px;line-height: 1.8;text-align:justify;font-size: 16px;">
            उपरोक्त सम्बन्धमा चालु आ.व. <b>{{karyadeshData.planYear | displayNepaliDate}}</b> मा स्थानीय
            {{karyadeshData.focusAreaLevel1NameNepali}} कार्यक्रम अन्तर्गत
            <b>{{karyadeshData.activityName}} </b>
            स्वीकृती लागत स्टिमेटको स्पेसिफिकेशन बमोजिमको काम मिति
            <b>{{karyadeshData.plannedStartDate | displayNepaliDate}}</b> गते शुरु गरी मिति
            <b>{{karyadeshData.completionDate | displayNepaliDate}}</b> गते सम्ममा सम्पन्न गराउने गरी यस कार्यालय उपभोक्ता
            समिति बिच मिति
            <b>{{karyadeshData.contractDate | displayNepaliDate}}</b> गते सम्झौता भएको हुँदा सम्बन्धित साइट इन्चार्जको रेखदेख
            निर्देशन अनुसार भएको सम्झौता बमोजिम तोकिएको मितिमा कार्य शुरु गरी सम्पन्न गराउनु हुनका लागि यो कार्यादेश दिएको
            व्यहोरा जानकारी गराईन्छ ।
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <div id="showDiv">
              <p style="text-align:right;">
                ...........................................<br />
                {{karyadeshData.prasasan}}
              </p>
              <p style="text-align:right;">प्रमुख प्रशासकिय अधिकृत</p>
              <br />
              <br />
              <p style="letter-spacing: 0.8px;line-height: 1.8;">
                बाेर्धाथ<br />
                श्री आर्थिक प्रशासन शाखा <br/>
                (ल.ई र सम्झौता यसै साथ संलग्न छ ) <br/>
                श्री {{karyadeshData.engineer1}} <br />
                श्री {{karyadeshData.engineer2}}
              </p>
              <p style="letter-spacing: 0.8px;line-height: 1.8;">
              (सुपरभिजन गर्न र समयभित्रै योजना सम्पन्न गराई का.स प्रतिवेदन समेत पेश गर्ने व्यवस्था मिलाउन हुन )
              </p>
            </div> -->

   </div>

    <!--#############################tippaniadesh-->
 <div id="tippaniadesh" style="page-break-after: always;">
    <div style="height:150px;">
        <app-letterhead></app-letterhead>
      </div>
      <div style="font-size:16px;text-align:center;">टिप्पणी–आदेश पत्र
      </div>
      <hr style="border:1px solid black;" />
      <div style="height:50px;">
          <!-- <div style="float:left;width:49%">
            <p style="text-align:left">प.नं :{{activityDatas['planYear'] | displayNepaliDate}}
              <br/>
              च .नं. : </p>
          </div> -->
          <div style="float:right;width:49%;" class="show_div">
            <p style="text-align:right;">मिति:
              {{currentDate1 | displayNepaliDate}}
            </p>
          </div>
        </div>
      

        <p style="text-align:center;">विषय :  <b>सम्झौता सम्बन्धमा।</b></p>
        <p>श्रीमान्,</p>
       
    
          <p  class="show_div" style="line-height:1.6;text-align:justify">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; उपरोक्त सम्बन्धमा यस 
            {{heading.officeName}}को चालु आ.व. <b>{{activityDatas['planYear'] | displayNepaliDate}}</b> को
            {{tippaniadeshData.paarit}} बाट पारित कार्यक्रम {{tippaniadeshData.wardNo}} को स्थानिय पुर्वाधार विकास साझेदारी कार्यक्रम
            {{tippaniadeshData.activityName}} योजना रहेको र सो कार्यक्रम संचालनार्थ देहाय बमोजिमको निर्णय हुन यो टिप्पणी पेश गरेको छु ।
            <br/>
            १)  चालु आ.व <b>{{activityDatas['planYear'] | displayNepaliDate}}</b> मा {{heading.officeName}}बाट स्वीकृत पुर्वाधार कार्यक्रमको नगर स्तरिय कार्यक्रम अन्र्तगत {{tippaniadeshData.wardNo}} मा {{tippaniadeshData.activityName}} गर्ने कार्यक्रमको लागि 
            स्थानिय सरकारबाट विनियोजित रकम रु   
            {{tippaniadeshData.fromNagarpalika}}
            अक्षरेपि 
            {{tippaniadeshData.fromNagarpalikaWord}}
            र {{'SAHAVAGITA' | translate}} ({{tippaniadeshData.fromPopPercent}}) वापत को रकम रु {{tippaniadeshData.fromPop}}  अक्षरेपि 
            {{tippaniadeshData.fromPopWord}}
            मात्र गरि जम्मा रकम रु {{tippaniadeshData.totalAmount}} अक्षरेपि 
            {{tippaniadeshData.totalAmountWord}}
            मात्रको सार्वजनिक खरिद ऐन २०६३ र सार्वजनिक खरिद नियमावलि २०६४ वमोजिम तयार गरिएको लागत अनुमान स्वीकृत हुन ।
      
            <br/>
      
            २) चालु आ.व <b>{{activityDatas['planYear'] | displayNepaliDate}}</b>  मा {{heading.officeName}}बाट स्वीकृत वाडा स्तरिय कार्यक्रम अन्र्तगत
            {{tippaniadeshData.wardNo1}}
              मा 
              {{tippaniadeshData.activityName1}}
            गर्ने कार्यक्रमको लागि गठित उपभोक्ता समितिले 
            {{'SAHAVAGITA' | translate}} ({{tippaniadeshData.fromPopPercent1}}) 
            वापत को रकम {{tippaniadeshData.fromPop1}}
             अक्षरेपि 
             {{tippaniadeshData.fromPopWord1}}
             {{heading.officeName}}को नाममा रहेको 
            जनकपुर स्थीत वाण्ज्यि बैङ्कको खातामा जम्मा गरि नगद भौचर पेश गरेकाले उक्त उपभोक्ता समितिसंग सम्झौता गरि कार्यदेश दिन हुन ।
     
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />







        <!-- <p style="text-align:center;">विषय :  <b>कार्यादेश प्रदान गरिएको सम्बन्धमा ।</b></p>
        <p>श्रीमान्,</p>
        <p  class="show_div" style="line-height:1.6;text-align:justify">उपरोक्त विषयमा यस <span
          style="font-weight:bold;">{{ tippaniadeshData['programName']}}</span>
        योजनाको
        <span style="font-weight:bold;">{{ tippaniadeshData['activityName']}} </span>कार्य संचालन
        गर्न तपाई श्री <span style="font-weight:bold;">{{ tippaniadeshData['contractName'] ||
            tippaniadeshData['consumerCommitteeName']}}</span> संग मिति
        <span style="font-weight:bold;">{{ tippaniadeshData['contractDate'] |
        displayNepaliDate}}</span>
        मा सम्झौता भए बमोजिम कार्यादेश प्रदान गर्न मुनासिब देखिएकाेले कार्य सम्पन्न गर्ने
        गरी कार्यादेश प्रदान गरिएको छ। योजनाको सम्झौता बमोजिम कार्य संचालन गराई नियम अनुसार भुक्तानि लिनुहुन जानकारी
        गराउछु।</p>
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="show_div">
      <p style="text-align:right;">........................................... </p>
      <p style="text-align: right">
      {{ tippaniadeshData['adhikrit']}}<br/> 
      प्रमुख प्रशासकिय अधिकृत</p>
      </div> -->
  </div>
      <!--#############################khata-open-->
 <div id="khata-open" style="page-break-after: always;">
    <div class="row">
        <div class="col-md-12">
          <div style="display:block;">
            <app-letterhead></app-letterhead>
          </div>
          <div style="width:100%;display:block;"></div>
          <div class="univ-title" style="text-align:left">
            <p style="font-size: 14px;"> पत्र संख्या:-
              <span class="print_show">{{bankOpenData['patraSankhya']}}</span>
            </p>
            <div class="row">
              <div class="col-md-6">
                <p style="font-size: 14px;">
                  चलानी नं:-
                  <span class="print_show">{{bankOpenData['chalaniNo']}}</span>
               
                </p>
              </div>
              <div class="col-md-6" style="text-align:right;">
                <p>मिति :-
                  <span class="print_show">{{bankOpenData['date'] | displayNepaliDate}}</span>
                
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12" style="clear:both;">
            <p style="text-align:center">विषय:- खाता संचालन सम्वन्धमा ।</p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="show">
              <p style="">श्री
                {{bankOpenData['bankName']}}<br/>
                {{bankOpenData['address']}}
              </p>
              
            </div>
          </div>
          <div class="row">
              <div class="col-md-12" id="showPrint">
                <p class="print_show" style="">
                  उपर्युक्त विषयमा यस {{ heading['orgName'] }} अन्तरगत
                   {{bankOpenData['wardNo']}} मा {{bankOpenData['consumerCommettieeName']}} उपभाेक्ता समिति {{bankOpenData['consumerCommettieeAddress']}} काे
                  अध्यक्ष श्री {{bankOpenData['adhyaxya']}}
                  सचिव श्री {{bankOpenData['sachiv']}} र कोषाध्क्ष श्री 
                  {{bankOpenData['kosaadhyaxya']}}को संयुक्त दस्तखबाट नयाँ खाता खाेलि संचालन गरी दिन हुन सिफारिश गरेकाे व्यहाेरा अनुरोध गरिन्छ ।
                </p>
              </div>
            </div>
            <div class="row" style="height:80px;">
              </div>
              <div class="row">
                  <div class="col-md-6" style="text-align:left;">
                    <p style="">
                      <span>{{bankOpenData['yojana']}}</span>
                      
                    </p>
                  </div>
                  <div class="col-md-6" style="text-align:right;">
                    <p style="">
                      <span>{{bankOpenData['adhikrit']}}</span>
                     
                    </p>
                    <p style="">
                      <span>{{bankOpenData['adhikritPost']}}</span>
                    </p>
                  </div>
                </div>

  </div>

     <!--#############################khata-close-->
 <div id="khata-close" style="page-break-after: always;">
    <div class="row">
        <div class="col-md-12">
          <div style="display:block;">
            <app-letterhead></app-letterhead>
          </div>
          <div style="width:100%;display:block;"></div>
          <div class="univ-title" style="text-align:left">
            <p style="font-size: 14px;"> पत्र संख्या:-

              <span class="print_show">{{ bankCloseData.patraSankhya | displayNepaliDate }}</span>
            </p>
            <div class="row">
              <div class="col-md-6">
                <p style="font-size: 14px;">
                  चलानी नं:-
                  <span class="print_show">{{bankCloseData.chalaniNo}}</span>
                  
                </p>
              </div>
              <div class="col-md-6" style="text-align:right;">
                <!-- <p style="font-size: 14px;">
                  १ नं. प्रदेश, नेपाल
                </p> -->
                <p>मिति :-
                  <span class="print_show">{{bankCloseData.date | displayNepaliDate}}</span>
                 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <p style="text-align:center">विषय:- खाता बन्द गरिदिने बारे।</p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <p style="">
                <span class="print_show">श्री {{bankCloseData.bankName}}
                  <br />
                  {{bankCloseData.address}}
                </span>
                
              </p>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12" id="showPrint">
                <p style="">
                  उपराेक्त विषयमा यस 
                    {{ bankCloseData.municipalityName }},{{ heading['municipality'] }}
                  {{ heading['district'] }} द्वारा संचालित 
                    {{ bankCloseData.municipalityName }}
                  {{ bankCloseData.wadaNo }} {{ bankCloseData.activityAddress }}का {{ bankCloseData.commettieeName }} उपभोक्ता
                  समिति
                  {{ bankCloseData.activityAddress }}काे खाता नं {{ bankCloseData.accountNo }} लाई बन्द गरी दिने उपभोक्ता
                  समितिकाे मिति
                  {{ bankCloseData.nibedanDate | displayNepaliDate }}
                  गते दिएकाे निवेदन अनुसार  {{ bankCloseData.municipalityName }}
                  {{ bankCloseData.wadaNo }}
                  {{ bankCloseData.activityAddress }}काे सिफारिस मिति {{ bankCloseData.sifarisDate | displayNepaliDate }}
                  तथा उपभोक्ता समितिकाे बैठककाे निर्णय मिति
                  {{ bankCloseData.nirnayaDate | displayNepaliDate }}
                  गते बाट निर्णय भए बमाेजिम त्यस बैंकमा रहेका उक्त उपभोक्ता समितिकाे खाता बन्द गरिदिन हुन अनुराेध छ ।
                </p>
                <br />
                <br />
                <br />
                <br />
    
                <p style="float: right">
                  {{bankCloseData.adhikrit}}
    
                  <br />
                  प्रमुख प्रशासकीय अधिकृत
                </p>
                <br />
                <br />
                <p style="">
                  बाेधार्थ <br/>
                  श्री {{bankCloseData.lekhaSakha}} {{heading['officeName']}},
                  {{ heading['municipality'] }},{{ heading['district'] }}<br />
                  श्री {{bankCloseData.prabhidikSakha}} {{heading['officeName']}},
                  {{ heading['municipality'] }},{{ heading['district'] }}
                </p>
              </div>
            </div>

  </div>
     <!--#############################khata-edit-->
 <div id="khata-edit" style="page-break-after: always;">
    <div class="row">
        <div class="col-md-12">
          <div style="display:block;">
            <app-letterhead></app-letterhead>
          </div>
          <div style="width:100%;display:block;"></div>
          <div class="univ-title" style="text-align:left">
            <p style="font-size: 14px;"> पत्र संख्या:-
             
              <span class="print_show">{{bankEditData['patraSankhya'] | displayNepaliDate}}</span>
            </p>
            <div class="row">
              <div class="col-md-6" style="display: inline-block;">
                <p style="font-size: 14px;">
                  चलानी नं:-
                  <span class="print_show">{{bankEditData.chalaniNo}}</span>
                  
                </p>
              </div>
              <div class="col-md-6" style="text-align:right;">
             
                <p>मिति :-
                  <span class="print_show">{{bankEditData.date | displayNepaliDate}}</span>
                
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12" style="clear:both;">
            <p style="text-align:center">विषय:- खाता अध्यावधिक गरिदिने सम्बन्धमा</p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="showPrint">
              <p style="">श्री {{bankEditData.bankName}}
              </p>
              <p style="">
                श्री {{bankEditData.commettieeName}} समितिको नाममा त्यहाँ बैंकमा रहेको च.हि.नं.
                {{bankEditData.accountNo | displayNepaliDate}}
                को खाता सो समितिका अध्यक्ष श्री {{bankEditData.adhyaxya}}, सचिव श्री {{bankEditData.sachiv}} र
                कोषाध्यक्ष
                श्री {{bankEditData.kosaadhyaxya}}को संयुक्त दस्तखतबाट सञ्चालन भैरहेकोमा हाल उक्त खाता नियमानुसार
                अध्यावधिक
                गरिदिनहुन सिफारिश साथ अनुरोध छ ।
              </p>
            </div>
          </div>
          <div class="row" style="height:80px;">
  
            </div>
            <div class="row">
              <div class="col-md-6" style="text-align:left;">
                <p style="">
                  <span class="print_show">{{bankEditData.yojana}}</span>
                  
                </p>
              </div>
              <div class="col-md-6" style="text-align:right;">
                <p style="">
                  <span class="print_show">{{bankEditData.adhikrit}}</span>
                  
                </p>
                <p style="">
                  <span class="print_show">{{bankEditData.adhikritPost}}</span>
                 
                </p>
              </div>
            </div>



  </div>

    <!--#############################khata-name-change-->
 <div id="khata-name-change" style="page-break-after: always;">
    <div class="row">
        <div class="col-md-12">
          <div style="display:block;">
            <app-letterhead></app-letterhead>
          </div>
          <div style="width:100%;display:block;"></div>
          <div class="univ-title" style="text-align:left">
            <p style="font-size: 14px;"> पत्र संख्या:-
             
              <span class="print_show">{{bankNameChangeData['patraSankhya'] | displayNepaliDate}}</span>
            </p>
            <div class="row">
              <div class="col-md-6">
                <p style="font-size: 14px;">
                  चलानी नं:-
                  <span class="print_show">{{bankNameChangeData.chalaniNo}}</span>
                  
                </p>
              </div>
              <div class="col-md-6" style="text-align:right;">

                <p>मिति :-
                  <span class="print_show">{{bankNameChangeData.date | displayNepaliDate}}</span>
                 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12" >
            <p style="text-align:center">विषय:- खाता सञ्चालनमा नाम परिवर्तन गरिदिने सम्बन्धमा</p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            
            </div>
          </div>
          <div class="row">
              <div class="col-md-12" id="showPrint">
                <p style="">श्री {{bankNameChangeData.bankName}}
                
                </p>
                <p style="text-align: justify">
                  प्रस्तुत विषयमा हाल {{bankNameChangeData.municipalityName}} {{bankNameChangeData.wardNo}}मा रहेको श्री
                  {{bankNameChangeData.commettieeName}}
                  आयोजनाको नाममा त्यहाँ बैंकमा च.हि.नं. {{bankNameChangeData.accountNo | displayNepaliDate }} को खाता उक्त
                  आयोजनाको अध्यक्ष
                  {{bankNameChangeData.adhyaxya}}, सचिव {{bankNameChangeData.sachiv}} र कोषाध्यक्ष
                  {{bankNameChangeData.kosaadhyaxya}}को संयुक्त दस्तखतबाट सञ्चालन भै रहेकोमा हाल सो आयोजनाको नाम
                  {{bankNameChangeData.newCommettieeName}} स्तरोन्नती भएको र हालका अध्यक्ष {{bankNameChangeData.newAdhyaxya}}, सचिव
                  {{bankNameChangeData.newSachiv}}
                  र कोषाध्यक्ष {{bankNameChangeData.newKosaadhyaxya}}को संयुक्त दस्तखतबाट माथी उल्लेखित च.हि.नं. को खाता
                  संचालनको सिफारिश गरिपाउँ भनि निबेदन पेश भएको हुँदा सोही
                  अनुसारको व्यवस्था मिलाई दिनुहुन सिफारिश साथ अनुरोध छ ।
                </p>
              </div>
            </div>
            <div class="row" style="height:80px;">
  
              </div>
              <div class="row">
                <div class="col-md-6" style="text-align:left;">
                  <p style="">
                    <span class="print_show">{{bankNameChangeData.yojana}}</span>
                   
                  </p>
                </div>
                <div class="col-md-6" style="text-align:right;">
                  <p style="">
                    <span class="print_show">{{bankNameChangeData.adhikrit}}</span>
                    
                  </p>
                  <p style="">
                    <span class="print_show">{{bankNameChangeData.adhikritPost}}</span>
                   
                  </p>
                </div>
              </div>

  </div>

      <!--#############################anusuchi-3-->
 <div id="anusuchi-3" style="page-break-after: always;">
  <div style="line-height:100%;">
    <p style="text-align:center;font-size: 13px"><b>अनुसूची ३</b></p>
    <p style="text-align:center;font-size: 13px">(कार्यविधिको दफा ११ (५) सँग सम्वन्धित)</p>
    <p style="text-align:center;font-size: 13px">सार्वजनिक परीक्षण फारामको ढाँचा पेश गरेको कार्यालय.......</p>
   </div>
   <table  style="font-size: 13px">
    <tr>
      <td><p>१. आयोजनाको नाम: <span *ngIf="anusuchi3Data && anusuchi3Data[0] && anusuchi3Data[0]['activityName']">{{anusuchi3Data[0]['activityName']}} </span></p></td>
      <td></td>
      <td><p>क) स्थल: <span *ngIf="anusuchi3Data && anusuchi3Data[0] && anusuchi3Data[0]['sthal']">{{anusuchi3Data[0]['sthal']}} </span></p></td>
    </tr>
    <tr>
      <td><p>ख) लागत अनुमान: <span *ngIf="anusuchi3Data && anusuchi3Data[0] && anusuchi3Data[0]['lagatAnuman']">{{anusuchi3Data[0]['lagatAnuman'] | displayNepaliDate}} </span></p></td>
      <td><p>ग) आयोजना शुरू हुने मिति: <span *ngIf="anusuchi3Data && anusuchi3Data[0] && anusuchi3Data[0]['startDate']">{{anusuchi3Data[0]['startDate'] | displayNepaliDate}} </span></p></td>
      <td><p> &nbsp;&nbsp;&nbsp;&nbsp; घ) आयोजना सम्पन्न हुने मिति: <span *ngIf="anusuchi3Data && anusuchi3Data[0] && anusuchi3Data[0]['completionDate']">{{anusuchi3Data[0]['completionDate'] | displayNepaliDate}} </span></p></td>
    </tr>
  </table>
  <table  style="font-size: 13px">
    <tr>
      <td  colspan="2"><p>२.उपभोक्ता समिति/सामुदायिक संस्थाको &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; क)  नाम:  <span *ngIf="anusuchi3Data && anusuchi3Data[0] && anusuchi3Data[0]['consumerCommitteName']">{{anusuchi3Data[0]['consumerCommitteName'] }} </span></p></td>
    </tr>
    <tr>
      <td><p>क) अध्यक्षको नाम: <span *ngIf="anusuchi3Data && anusuchi3Data[0] && anusuchi3Data[0]['adhaxya']">{{anusuchi3Data[0]['adhaxya'] }} </span></p></td>
      <td>
        <p>ख) सदस्य संख्या 
         
          <span class="print_show">
            {{anusuchi3Data1['total'] | displayNepaliDate}}
          </span>
          &nbsp;&nbsp;&nbsp;
          महिला :
          <span class="print_show">
            {{anusuchi3Data1['mahila'] | displayNepaliDate}}
          </span>&nbsp;&nbsp; पुरूष: 
            <span class="print_show">
              {{anusuchi3Data1['purus'] | displayNepaliDate}}
            </span></p>
          </td>
    </tr>
  </table>
  <p style="font-size: 13px">३. आम्दानी खर्चको विवरण:</p>
      

  <p style="font-size: 13px">क) आम्दानीतर्फ जम्मा:</p>
  <table   class="table table-bordered"  style="width:100%; table-layout: fixed;font-size: 13px">
      <tr style="text-align: center">
          <td>आम्दानीको श्रोत (कहाँबाट कति नगद तथा 
            <br/>जिन्सी प्राप्त भयो खुलाउने) रकम वा परिमाण</td>
          <td>रकम वा परिमाण</td>
          <td>कैफियत</td>
        </tr>
        <tr style="text-align: center">
          <td> 
        
          <span class="print_show">
            {{anusuchi3Data1['aamdaani1']}}
          </span></td>
          <td> 
        
          <span class="print_show">
             {{anusuchi3Data1['aamdaani2']}}
          </span></td>
          <td> 
        
          <span class="print_show">
            {{anusuchi3Data1['aamdaani3']}}
          </span></td>
        </tr>
        <tr style="text-align: center">
          <td> 
        
          <span class="print_show">
            {{anusuchi3Data1['aamdaani4']}}
          </span></td>
          <td> 
        
          <span class="print_show">
             {{anusuchi3Data1['aamdaani5']}}
          </span></td>
          <td>
        
          <span class="print_show">
            {{anusuchi3Data1['aamdaani6']}}
          </span></td>
        </tr>  
    </table>

    <p style="font-size: 13px">ख) खर्चतर्फ:</p>
    <table  class="table table-bordered"  style="width:100%;font-size: 13px">
        <tr style="text-align: center">
            <td>खर्चको विवरण</td>
            <td>दर</td>
            <td>परिमाण</td>
            <td>जम्मा</td>
          </tr>
          <tr style="font-size: 12px;text-align: center">
            <td>१) सामाग्री (के के सामाग्री खरिद भयो?)</td>
            <td> 
          
            <span class="print_show">
               {{anusuchi3Data1['kharcha7']}}
            </span></td>
            <td> 
          
            <span class="print_show">
               {{anusuchi3Data1['kharcha8']}}
            </span></td>
            <td> 
          
            <span class="print_show">
               {{anusuchi3Data1['kharcha9']}}
            </span></td>
           
          </tr>
          <tr style="font-size: 12px;text-align: center">
              <td>२) ज्याला (के मा कति भुक्तानी भयो?)</td>
              <td> 
            
              <span class="print_show">
                 {{anusuchi3Data1['kharcha10']}}
              </span></td>
              <td> 
            
              <span class="print_show">
                 {{anusuchi3Data1['kharcha11']}}
              </span></td>
              <td> 
            
              <span class="print_show">
                 {{anusuchi3Data1['kharcha12']}}
              </span></td>
            </tr>
            <tr style="text-align: center">
                <td> 
                  <span class="print_show">
                    {{anusuchi3Data1['kharcha13']}}
                  </span></td>
              <td>
            
              <span class="print_show">
                 {{anusuchi3Data1['kharcha14']}}
              </span></td>
              <td> 
            
              <span class="print_show">
                 {{anusuchi3Data1['kharcha15']}}
              </span></td>
              <td> 
              <span class="print_show">
                 {{anusuchi3Data1['kharcha16']}}
              </span></td>
            </tr>
            <tr style="text-align: center">
                <td> 
                
                  <span class="print_show">
                    {{anusuchi3Data1['kharcha17']}}
                  </span></td>
              <td> 
              <span class="print_show">
                 {{anusuchi3Data1['kharcha18']}}
              </span></td>
              <td>
              <span class="print_show">
                 {{anusuchi3Data1['kharcha19']}}
              </span></td>
              <td> 
              <span class="print_show">
                 {{anusuchi3Data1['kharcha20']}}
              </span></td>
            </tr>

            <tr style="font-size: 12px;text-align: center">
                <td>३) श्रमदान (कति जनाले श्रमदान गरे?)</td>
                <td> 
                <span class="print_show">
                   {{anusuchi3Data1['kharcha21']}}
                </span></td>
                <td> 
                <span class="print_show">
                   {{anusuchi3Data1['kharcha22']}}
                </span></td>
                <td> 
                <span class="print_show">
                   {{anusuchi3Data1['kharcha23']}}
                </span></td>
              </tr>
              <tr style="text-align: center">
                  <td>
                    <span class="print_show">
                      {{anusuchi3Data1['kharcha24']}}
                    </span></td>
                <td> 
                <span class="print_show">
                   {{anusuchi3Data1['kharcha25']}}
                </span></td>
                <td> 
                <span class="print_show">
                   {{anusuchi3Data1['kharcha26']}}
                </span></td>
                <td> 
                <span class="print_show">
                   {{anusuchi3Data1['kharcha27']}}
                </span></td>
              </tr>
              <tr style="text-align: center">
                  <td> 
                    <span class="print_show">
                      {{anusuchi3Data1['kharcha28']}}
                    </span></td>
                <td> 
                <span class="print_show">
                   {{anusuchi3Data1['kharcha29']}}
                </span></td>
                <td> 
                <span class="print_show">
                   {{anusuchi3Data1['kharcha30']}}
                </span></td>
                <td> 
                <span class="print_show">
                   {{anusuchi3Data1['kharcha31']}}
                </span></td>
              </tr>
              <tr  style="font-size: 12px;text-align: center">
                  <td>४) व्यवस्थापन खर्च (ढुवानी तथा अन्य खर्च)</td>
                  <td>
                  <span class="print_show">
                     {{anusuchi3Data1['kharcha32']}}
                  </span></td>
                  <td> 
                  <span class="print_show">
                     {{anusuchi3Data1['kharcha33']}}
                  </span></td>
                  <td> 
                  <span class="print_show">
                     {{anusuchi3Data1['kharcha34']}}
                  </span></td>
                </tr>
                <tr style="text-align: center">
                    <td> 
                      <span class="print_show">
                        {{anusuchi3Data1['kharcha35']}}
                      </span></td>
                  <td> 
                  <span class="print_show">
                     {{anusuchi3Data1['kharcha36']}}
                  </span></td>
                  <td>
                  <span class="print_show">
                     {{anusuchi3Data1['kharcha37']}}
                  </span></td>
                  <td>
                  <span class="print_show">
                     {{anusuchi3Data1['kharcha38']}}
                  </span></td>
                </tr>
      </table>

      <p style="font-size: 13px">ग) माैज्दात</p>
      <table class="table table-bordered" style="width:100%; table-layout: fixed;font-size: 13px">
          <tr style="text-align: center">
              <td>विवरण 
               </td>
              <td>रकम वा परिमाण</td>
              <td>कैफियत</td>
            </tr>
            <tr style="font-size: 12px;text-align: center">
              <td>१) नगद</td>
              <td> 
              
                <span class="print_show">
                   {{anusuchi3Data1['maujdaat39']}}
                </span></td>
                <td> 
                
                  <span class="print_show">
                    {{anusuchi3Data1['maujdaat40']}}
                  </span></td>
            </tr>
            <tr style="font-size: 12px;text-align: center">
                <td>बैँक</td>
                <td> 
                
                  <span class="print_show">
                     {{anusuchi3Data1['maujdaat41']}}
                  </span></td>
                  <td>
                  
                    <span class="print_show">
                      {{anusuchi3Data1['maujdaat42']}}
                    </span></td>
              </tr>
              <tr style="font-size: 12px;text-align: center">
                  <td>व्यक्तिको जिम्मा</td>
                  <td> 
                  
                    <span class="print_show">
                       {{anusuchi3Data1['maujdaat43']}}
                    </span></td>
                    <td> 
                    
                      <span class="print_show">
                        {{anusuchi3Data1['maujdaat44']}}
                      </span></td>
                </tr>
                <tr style="font-size: 12px;text-align: center">
                    <td>२) सामाग्रीहरू</td>
                    <td> 
                    
                      <span class="print_show">
                         {{anusuchi3Data1['maujdaat45']}}
                      </span></td>
                      <td> 
                      
                        <span class="print_show">
                          {{anusuchi3Data1['maujdaat46']}}
                        </span></td>
                  </tr>
        </table>
        <p style="font-size: 13px">घ) भुक्तानी दिन बाँकी</p>
        <table class="table table-bordered" style="width:100%; table-layout: fixed;font-size: 13px">
            <tr  style="text-align: center">
              <td>विवरण</td>
                <td>रकम वा परिमाण</td>
              </tr>
              <tr style="text-align: center">
                  <td> 
                  
                    <span class="print_show">
                      {{anusuchi3Data1['bhuktani47']}}
                    </span></td>
                    <td> 
                    
                      <span class="print_show">
                         {{anusuchi3Data1['bhuktani48']}}
                      </span></td>
              </tr>
          </table>
          <p style="font-size: 13px">४. सम्पन्न आयोजनाको लक्ष्य तथा प्रगतिको विवरण</p>
          <table class="table table-bordered" style="width:100%; table-layout: fixed;font-size: 13px">
              <tr style="text-align: center">
                <td>कामको विवरण</td>
                  <td>लक्ष्य</td>
                  <td>प्रगति</td>
                </tr>
                <tr style="text-align: center">
                    <td> 
                    
                      <span class="print_show">
                        {{anusuchi3Data1['pragati49']}}
                      </span></td>
                      <td> 
                      
                        <span class="print_show">
                          {{anusuchi3Data1['pragati50']}}
                        </span></td>
                        <td> 
                          <span class="print_show">
                            {{anusuchi3Data1['pragati51']}}
                          </span></td>
                </tr>
            </table>
            <span style="font-size: 13px">५. आयोजनाले पुर्याएको लाभ तथा प्रत्यक्ष रूपमा लाभान्वित जनसंख्या (आयोजना सञ्चालन भएको स्थानका उपभोक्ताहरू)।</span>
            <br/>
            <span style="font-size: 13px" >६. आयोजना सञ्चालन गर्दा आयोजक संस्थामा कामको जेम्मेवारी बाँडफाँड (कस कसले कस्तो कस्तो कामको 
            जेम्मेवारी लिएका थिए? खुलाउने)</span>
                <br/>
                <p style="font-size: 13px" >उपस्थिति:</p>
                <ul style="font-size: 13px" >
                  <li>
                    १. 
                    
                      <span class="print_show">
                        {{anusuchi3Data1['upasthiti52']}}
                      </span>
                  </li>
                  <li>
                    २. 
                    
                      <span class="print_show">
                        {{anusuchi3Data1['upasthiti53']}}
                      </span>
                  </li>
                  <li>
                    ३. 
                    
                      <span class="print_show">
                        {{anusuchi3Data1['upasthiti54']}}
                      </span>
                  </li>
                  <li>
                    ४. 
                    
                      <span class="print_show">
                        {{anusuchi3Data1['upasthiti55']}}
                      </span>
                  </li>
                  <li>
                    ५. 
                    
                      <span class="print_show">
                        {{anusuchi3Data1['upasthiti56']}}
                      </span>
                    </li>
                </ul>
                <span style="font-size: 13px"><span>रोहवर: &nbsp;नामथर:
                <span class="print_show">
                  {{anusuchi3Data1['rohabarName']}}
                </span></span>&nbsp;&nbsp;&nbsp;<span>पद:
                
                  <span class="print_show">
                    {{anusuchi3Data1['rohabarPost']}}
                  </span></span>&nbsp;&nbsp;&nbsp;<span>मिति:
 
                      
                        <span class="print_show">
                          {{anusuchi3Data1['rohabarDate']}}
                        </span>
                  </span></span>
              <p style="font-size: 13px">द्रष्टवय: सार्वजनिक परिक्षण कार्यक्रममा उपस्थित सरोकारवालाहरूको उपस्थिति अनिवार्य रुपमा संलग्न हुनुपर्ने छ।</p> 

  </div>

     <!--#############################anusuchi-4-->
 <div id="anusuchi-4" style="page-break-after: always;">

  <div style="line-height:100%;">
    <p style="text-align:center;font-size: 14px"><b>अनुसूची ४</b></p>
    <p style="text-align:center;font-size: 14px">(कार्यविधिको दफा ११ (६) सँग सम्वन्धित)</p>
    <p style="text-align:center;font-size: 14px">खर्च सार्वजनिक सूचना फाराम</p>
   </div>
  <p style="text-align: right;font-size: 14px">मिति:{{date | displayNepaliDate}} </p>
<table style="font-size: 14px">
 <tr>
   <td><p>१. आयोजनाको नाम: <span *ngIf="anusuchi4Data && anusuchi4Data[0] && anusuchi4Data[0]['activityName']">{{anusuchi4Data[0]['activityName']}} </span></p></td>
   <td></td>
   <td><p>२. आयोजना स्थल: <span *ngIf="anusuchi4Data && anusuchi4Data[0] && anusuchi4Data[0]['sthal']">{{anusuchi4Data[0]['sthal']}} </span></p></td>
 </tr>
 <tr>
   <td><p>३. विनियोजित वजेट: <span *ngIf="anusuchi4Data && anusuchi4Data[0] && anusuchi4Data[0]['planYear']">{{anusuchi4Data[0]['budget'] | displayNepaliDate}} </span></p></td>
   <td><p>&nbsp;&nbsp;&nbsp;४. आयोजना स्वीकृत भएको आ.व.: <span *ngIf="anusuchi4Data && anusuchi4Data[0] && anusuchi4Data[0]['planYear']">{{anusuchi4Data[0]['planYear'] | displayNepaliDate}} </span></p></td>
   <td><p>&nbsp;&nbsp;&nbsp; ५. आयोजना सम्झाैता भएको मिति: <span *ngIf="anusuchi4Data && anusuchi4Data[0] && anusuchi4Data[0]['contractDate']">{{anusuchi4Data[0]['contractDate'] | displayNepaliDate}} </span></p></td>
 </tr>
</table>
<table style="font-size: 14px">
   <tr>
     <td><p>६. काम सम्पन्न गर्नु पर्ने मिति: <span *ngIf="anusuchi4Data && anusuchi4Data[0] && anusuchi4Data[0]['completionDate']">{{anusuchi4Data[0]['completionDate'] | displayNepaliDate}} </span></p></td>
     <td><p>&nbsp;&nbsp;&nbsp;७.काम सम्पन्न भएको मिति: <span *ngIf="anusuchi4Data && anusuchi4Data[0] && anusuchi4Data[0]['completedDate']">{{anusuchi4Data[0]['completedDate'] | displayNepaliDate}} </span></p></td>
   </tr>
   <tr>
     <td colspan="2"><p>८. उ.स. को बैठकले खर्च स्वीकृत गरेको मिति:</p></td>
   </tr>
 </table>
 <p style="font-size: 14px">आम्दानी र खर्चको विवरण:</p>
     <table   class="table table-bordered"  style="width:100%; table-layout: fixed;font-size: 14px">
         <tr style="text-align: center">
             <td  colspan="2">आम्दानी</td>
             <td  colspan="2">खर्च</td>
           </tr>
           <tr  style="text-align: center">
             <td>विवरण</td>
             <td>रकम रू</td>
             <td>विवरण</td>
             <td>रकम</td>
           </tr>
           <tr>
               <td>प्रथम किस्ता</td>
               <td>
               
                 <span class="print_show">
                    {{anusuchi4Data1['aamdaaniRakam1']}}
                 </span></td>
               <td>ज्याला</td>
               <td>
               
                 <span class="print_show">
                    {{anusuchi4Data1['kharchaRakam1']}}
                 </span></td>
             </tr>
             <tr>
               <td>दोश्रो किस्ता</td>
               <td>
               
                 <span class="print_show">
                    {{anusuchi4Data1['aamdaaniRakam2']}}
                 </span></td>
               <td>निर्माण सामाग्री खरिद</td>
               <td>
               
                 <span class="print_show">
                    {{anusuchi4Data1['kharchaRakam2']}}
                 </span></td>
             </tr>
             <tr>
               <td>तेश्रो किस्ता</td>
               <td>
               
                 <span class="print_show">
                    {{anusuchi4Data1['aamdaaniRakam3']}}
                 </span></td>
               <td>ढुवानी</td>
               <td>
               
                 <span class="print_show">
                    {{anusuchi4Data1['kharchaRakam3']}}
                 </span></td>
             </tr>
             <tr>
               <td>जनश्रमदान</td>
               <td>
               
                 <span class="print_show">
                    {{anusuchi4Data1['aamdaaniRakam4']}}
                 </span></td>
               <td>भाडा</td>
               <td>
               
                 <span class="print_show">
                    {{anusuchi4Data1['kharchaRakam4']}}
                 </span></td>
             </tr>
             <tr>
               <td>वस्तुगत सहायता</td>
               <td>
               
                 <span class="print_show">
                    {{anusuchi4Data1['aamdaaniRakam5']}}
                 </span></td>
               <td>व्यवस्थापन खर्च</td>
               <td>
               
                 <span class="print_show">
                    {{anusuchi4Data1['kharchaRakam5']}}
                 </span></td>
             </tr>
             <tr>
               <td>लागत सहाभागिता</td>
               <td>
               
                 <span class="print_show">
                    {{anusuchi4Data1['aamdaaniRakam6']}}
                 </span></td>
               <td> 
               
                 <span class="print_show">
                   {{anusuchi4Data1['kharchaBibaran1']}}
                 </span></td>
               <td>
               
                 <span class="print_show">
                    {{anusuchi4Data1['kharchaRakam6']}}
                 </span></td>
             </tr>
             <tr>
                 <td>
                 
                   <span class="print_show">
                     {{anusuchi4Data1['aamdaaniBibaran1']}}
                   </span></td>
                 <td>
                 
                   <span class="print_show">
                      {{anusuchi4Data1['aamdaaniRakam7']}}
                   </span></td>
                 <td> 
                 
                   <span class="print_show">
                     {{anusuchi4Data1['kharchaBibaran2']}}
                   </span></td>
                 <td>
                 
                   <span class="print_show">
                      {{anusuchi4Data1['kharchaRakam7']}}
                   </span></td>
               </tr>
               <tr>
                   <td>
                   
                     <span class="print_show">
                       {{anusuchi4Data1['aamdaaniBibaran2']}}
                     </span></td>
                   <td>
                   
                     <span class="print_show">
                        {{anusuchi4Data1['aamdaaniRakam8']}}
                     </span></td>
                   <td> 
                   
                     <span class="print_show">
                       {{anusuchi4Data1['kharchaBibaran3']}}
                     </span></td>
                   <td>
                   
                     <span class="print_show">
                        {{anusuchi4Data1['kharchaRakam8']}}
                     </span></td>
                 </tr>
       </table>    
<br/>
<br/>
<span style="font-size: 14px">उपर्युक्तानुसारको आम्दानी तथा खर्च विवरण यथार्थ हो। यसमा सबै आम्दानी तथा खर्चहरू समावेश गरिएको छ।
साथै उपभोक्ताहरूको प्रत्यक्ष सहाभागिता आयोजना कार्यान्वन गरिएको छ। यसको एक प्रति वडा कार्यालयमा समेत पेश गरिएको छ।</span>
 <br/>
 <br/>
 <br/>
 <table style="font-size: 14px; table-layout: fixed;width: 100%;">
   <tr>
     <td>..............................</td>
     <td>..............................</td>
     <td>..............................</td>
   </tr>
   <tr>
     <td><p>कोषाध्यक्ष</p></td>
     <td><p>सचिव</p></td>
     <td><p>अध्यक्ष</p></td>
   </tr>
 </table>
  </div>
    <!--#############################anusuchi-5-->
 <div id="anusuchi-5" style="page-break-after: always;">

  <div style="line-height:100%;">
    <p style="text-align:center;font-size: 14px"><b>अनुसूची ५</b></p>
    <p style="text-align:center;font-size: 14px">(कार्यविधिको दफा ११ (७) सँग सम्वन्धित)</p>
    <p style="text-align:center;font-size: 14px">आयोजना सूचना पार्टीको नमूना</p>
  </div>
  <p style="font-size: 14px">१. आयोजनाको नाम: <span
      *ngIf="anusuchi5Data && anusuchi5Data[0] && anusuchi5Data[0]['activityName']">{{anusuchi5Data[0]['activityName']}}
    </span></p>
  <p style="font-size: 14px">२. आयोजना सञ्चालन गर्ने कार्यालय/कार्यक्रमको नाम: <span
      *ngIf="anusuchi5Data && anusuchi5Data[0] && anusuchi5Data[0]['consumerCommitteeName']">{{anusuchi5Data[0]['consumerCommitteeName']}}
    </span><span *ngIf="anusuchi5Data && anusuchi5Data[0] && anusuchi5Data[0]['programName']">/
      {{anusuchi5Data[0]['programName']}} </span></p>
  <p style="font-size: 14px">३. उपभोक्ता समितिको अध्यक्षको नाम र सम्पर्क नं.: <span
      *ngIf="anusuchi5Data && anusuchi5Data[0] && anusuchi5Data[0]['adhaxya']">{{anusuchi5Data[0]['adhaxya']}}
    </span> <span
      *ngIf="anusuchi5Data && anusuchi5Data[0] && anusuchi5Data[0]['adhaxyaContactNo']">&nbsp;&nbsp;&nbsp;{{anusuchi5Data[0]['adhaxyaContactNo'] | displayNepaliDate}}
    </span></p>
  <p style="font-size: 14px">४. आयोजनाको कूल लागत रकम रू: <span
      *ngIf="anusuchi5Data && anusuchi5Data[0] && anusuchi5Data[0]['estimatedCost']">{{anusuchi5Data[0]['estimatedCost'] | displayNepaliDate}}
    </span></p>
  <ul>
    <li>
      <p style="font-size: 14px">४.१. आयोजनामा कार्यालयबाट व्यहोर्ने लागत
        रू:{{ anusuchi5Data1.grantedFromLocalLevel | displayNepaliDate}}
      </p>
    </li>
    <li>
      <p style="font-size: 14px" class="show_div">४.२. {{'SAHAVAGITA' | translate}}बाट व्यहोर्ने लागत रकम रू:
        {{anusuchi5Data1.grantedFromConsumerCommitte| displayNepaliDate}}
      </p>
    </li>
    <li>
      <p style="font-size: 14px">४.३. आयोजनामा लगानी गर्ने अन्य निकायको नाम र व्यहोर्ने लागत रकम
        रू:{{ anusuchi5Data1.grantedFromOthers}}
      </p>
    </li>
  </ul>
  <p style="font-size: 14px">५. आयोजना सम्झाैता मिति: <span
      *ngIf="anusuchi5Data && anusuchi5Data[0] && anusuchi5Data[0]['contractDate']">{{anusuchi5Data[0]['contractDate'] | displayNepaliDate}}
    </span></p>
  <p style="font-size: 14px">६. आयोजना सम्पन्न गर्ने मिति: <span
      *ngIf="anusuchi5Data && anusuchi5Data[0] && anusuchi5Data[0]['completionDate']">{{anusuchi5Data[0]['completionDate'] | displayNepaliDate}}
    </span></p>
  <p style="font-size: 14px">७. आयोजनाबाट लाभान्वित जनसंख्या: <span
      *ngIf="anusuchi5Data && anusuchi5Data[0] && anusuchi5Data[0]['benifitedPopulation']">{{anusuchi5Data[0]['benifitedPopulation'] | displayNepaliDate}}
    </span></p>
  </div>

   <!--#############################anusuchi-6-->
 <div id="anusuchi-6" style="page-break-after: always;">
  <div style="line-height:100%;">
    <p style="text-align:center;font-size: 14px"><b>अनुसूची ६</b></p>
    <p style="text-align:center;font-size: 14px">(कार्यविधिको दफा १६ (ङ) सँग सम्वन्धित)</p>
    <p style="text-align:center;font-size: 14px">उपभोक्ता समितिकाे भाैतिक तथा वित्तीय प्रगति प्रतिवेदन</p>
    <p style="text-align:center;font-size: 14px">विवरण पेश गरेकाे कार्यालय .............</p>
  </div>

  <p style="font-size: 14px;margin: 0;padding: 0">१. आयोजनाकाे विवरण</p>
  <table style="font-size: 14px;margin: 0 0 0 10px;padding: 0" width="100%">
    <tr>
      <td width="20%">आयोजनाकाे नाम: <span *ngIf="anusuchi6Data && anusuchi6Data[0] && anusuchi6Data[0]['activityName']">{{anusuchi6Data[0]['activityName']}} </span></td>
      <td width="17%">वडा नं: <span *ngIf="anusuchi6Data && anusuchi6Data[0] && anusuchi6Data[0]['wada']">{{anusuchi6Data[0]['wada']}} </span></td>
      <td width="15%">टाेली/बस्ती: <span *ngIf="anusuchi6Data && anusuchi6Data[0] && anusuchi6Data[0]['toll']">{{anusuchi6Data[0]['toll']}} </span></td>
      <td width="28%">उपभोक्ता समितिका अध्यक्ष: <span *ngIf="anusuchi6Data && anusuchi6Data[0] && anusuchi6Data[0]['adhaxya']">{{anusuchi6Data[0]['adhaxya']}} </span></td>
      <td width="20%">सचिव: <span *ngIf="anusuchi6Data && anusuchi6Data[0] && anusuchi6Data[0]['sachiv']">{{anusuchi6Data[0]['sachiv']}} </span></td>
    </tr>
  </table>
  <p style="font-size: 14px;margin: 2px 0 0 0;">२. आयोजनाकाे लागत: प्राप्त अनुदान रकम रू. ............. चन्दा
    रकम रू.{{anusuchi5Data1.grantedFromOthers}} </p>
  <table style="font-size: 14px;margin: 0 0 0 10px;padding: 0" width="100%">
    <tr>
      <td width="50%">{{'SAHAVAGITA' | translate}} रकम रू. {{anusuchi5Data1.grantedFromConsumerCommitte | displayNepaliDate}}</td>
      <td width="50%">जम्मा रकम रू. ...................</td>
    </tr>
  </table>
  <p style="font-size: 14px;margin-top: 2px !important;line-height: 1.8">३. हालसम्मकाे खर्च रू.
    <span *ngIf="anusuchi6Data && anusuchi6Data[0] && anusuchi6Data[0]['totalExpenditure']">{{anusuchi6Data[0]['totalExpenditure'] | displayNepaliDate}} </span>
    <br />
    क. कार्यालयबाट प्राप्त रकम रू. {{anusuchi5Data1.grantedFromLocalLevel | displayNepaliDate}}
    <br />
    १. निर्माण सामाग्रीमा (सिमेन्ट, छड, काठ, ढुंगा वा फुवा, गिट्टी, उपकरण आदि ) रू.
   
  
    <span class="print_show">
      {{anusuchi6Data1['kharcha1'] | displayNepaliDate}}
    </span>
    <br />
    २. ज्याला :- <span style="margin-left: 25px !important;"> दक्ष रू.  
  
    <span class="print_show">
      {{anusuchi6Data1['kharcha2'] | displayNepaliDate}}
    </span></span> <span
      style="margin-left: 25px !important;"> अदक्ष रू.
    
    
      <span class="print_show">
        {{anusuchi6Data1['kharcha3'] | displayNepaliDate}}
      </span>
    </span> <span style="margin-left: 25px !important;">
      जम्मा रू.
    
    
      <span class="print_show">
        {{anusuchi6Data1['kharcha4'] | displayNepaliDate}}
      </span>
    </span>
      <br/>
    ३. मसलन्द सामान (कपि, कलम, मसी, कागज आदि) रू. 
  
  
    <span class="print_show">
      {{anusuchi6Data1['kharcha5'] | displayNepaliDate}}
    </span>
    &emsp;&emsp;&emsp; ४. दैनिक भ्रमण भत्ता (सम्झाैतामा स्वीकृत भए) रू.
  
  
    <span class="print_show">
      {{anusuchi6Data1['kharcha6'] | displayNepaliDate}}
    </span>
    <br/>
    ५. प्राविधिक निरीक्षण बापत खर्च (सम्झाैतामा स्वीकृत भए) रू  
  
    <span class="print_show">
      {{anusuchi6Data1['kharcha7'] | displayNepaliDate}}
    </span>

    <br/>
    ६. अन्य  
  
    <span class="print_show">
      {{anusuchi6Data1['kharcha8'] | displayNepaliDate}}
    </span>
    <br/>
    ख. {{'SAHAVAGITA' | translate}}बाट व्यहाेरिएकाे खर्च रू:   
  
    <span class="print_show">
      {{anusuchi6Data1['kharcha9'] | displayNepaliDate}}
    </span> श्रमकाे मूल्य बराबर रकम रू.  
  
    <span class="print_show">
      {{anusuchi6Data1['kharcha10'] | displayNepaliDate}}
    </span>
    <br/>
    &emsp; 
    जिन्सी सामान मूल्य बराबर रकम रू.   
  
    <span class="print_show">
      {{anusuchi6Data1['kharcha11'] | displayNepaliDate}}
    </span> कूल जम्मा रू.   
  
    <span class="print_show">
      {{anusuchi6Data1['kharcha12'] | displayNepaliDate}}
    </span>
    <br/>
    ४. प्राविधिक प्रतिवेदन बमाेजिम मूल्यांकन रकम रू. .................... 
    <br/>
    ५. उपभोक्ता समूहकाे निर्णय बमाेजिम /समीक्षाबाट खर्च देखिएकाे रू.   
  
    <span class="print_show">
      {{anusuchi6Data1['uskharcha'] | displayNepaliDate}}
    </span>
    
    <br/>
     <span class="print_show">
        ६. कार्यान्वयनमा देखिएका मुख्य समस्याहरू: क.
       {{anusuchi6Data1['samasya1']}}
     </span> 
    
     ख. 
    
      <span class="print_show">
        {{anusuchi6Data1['samasya2']}}
      </span>  
     ग. 
    
      <span class="print_show">
        {{anusuchi6Data1['samasya3']}}
      </span> 

    <br/>
    ७. समाधानका उपायहरू
    <br/>
    क. 
  
    <span class="print_show">
      {{anusuchi6Data1['upaaya1']}}
    </span> <br/>
    ख. 
   
     <span class="print_show">
       {{anusuchi6Data1['upaaya2']}}
     </span>  <br/>
    ग. 
   
     <span class="print_show">
       {{anusuchi6Data1['upaaya3']}}
     </span>  <br/>
     घ.
   
     <span class="print_show">
       {{anusuchi6Data1['upaaya4']}}
     </span> <br/>
    ८. कार्यालयबाट र अन्य निकायबाट अनुगमन भए अनुगमनकाे सुझाब :
    <br/>
   
  
    <span class="print_show">
      {{anusuchi6Data1['sujhaab']}}
    </span>
    <br/>
    ९. हाल माग गरेकाे किस्ता रकम रू. 
   
    <span class="print_show">
      {{anusuchi6Data1['maag']}}
    </span>
    <br/>
    १०. मुख्य खर्च प्रयाेजन
    <br/>

  
    <span class="print_show">
      {{anusuchi6Data1['kharcha12']}}
    </span>
    <br/>
    ११. प्राप्त रकम आयोजना बाहेक अन्य कार्यमा खर्च गर्ने गराउने छैनाै ।           
   </p>
   <br/>
   <br/>
   <table style="font-size: 14px;" width="100%">
      <tr>
        <td width="25%">......................</td>
        <td width="25%">......................</td>
        <td width="25%">......................</td>
        <td width="25%">......................</td>
      </tr>
      <tr>
          <td width="25%">तयार गर्ने</td>
          <td width="25%">सचिव</td>
          <td width="25%">काेषाध्यक्ष </td>
          <td width="25%">अध्यक्ष</td>
        </tr>
    </table>
  </div>

     <!--#############################anugaman pratibedan-->
 <div id="anugaman-pratibedan" style="page-break-after: always;">
<div *ngIf="anugamanArray.length>0">
    <div *ngFor="let anugamanData of anugamanArray" style="page-break-after: always;">
      
        <div style="display:block;">
            <app-letterhead></app-letterhead>
          </div>
    
        <p>प.स.
          <span class="showPrint">{{anugamanData.patraSankya | displayNepaliDate}}</span>
         
          <br />च .नं. :
          <span class="showPrint">{{anugamanData.chalaniNo | displayNepaliDate}}</span>
         </p>
        <hr style="border:2px solid black" />
    
        <p style="font-weight: bolder; text-align: center;font-size: 21px;">
          <u>अनुगमन प्रतिवेदन</u>
        </p>
      
        <div id="divShow">
          {{activityDatas['address']}} मा पर्ने {{activityDatas['activityName']}}काे आयोजना {{heading.officeName}}को
          <u>अनुगमन तथा मूल्यांकन समितिले </u> मिति {{anugamanData.anugamanDate | displayNepaliDate}} गते अनुगमन गरियो
          ।
        </div>
        <p style="font-weight: bolder;">
          <u>अनुगमन गर्ने पदाधिकारीहरु </u>
        </p>
        <table width="100%">
          <tr>
            <td style="width:20%"> अध्यक्ष </td>
            <td>: श्री
              <span class=" showPrint">{{anugamanData.nagarPramukh}}</span>
            
            </td>
            <td> </td>
          </tr>
          <tr>
            <td style="width:20%"> उपाध्यक्ष</td>
            <td>: श्री
              <span class=" showPrint"> {{anugamanData.samyojak}}</span>
           
            </td>
            <td> </td>
          </tr>
          <tr>
            <!-- <td style="width:20%" valign="top">सदस्यहरू</td> -->
            <td colspan="3" colspan="2">
    
              <div class="col-md-12">
                <div *ngFor="let fItem of anugamanSadasya; let i = index"
                  style="margin: 0;padding: 0;" class="col-md-12">
                
                  <span class="showPrint">सदस्य <span style="margin-left: 100px"> : </span>
                    <span class="">
                      {{ fItem }}</span>
                  </span>
    
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>सदस्य सचिव</td>
            <td>:
              <!-- <span contentEditable="true" class="" style="border: none transparent; outline: none;"></span> -->
              <span class=" showPrint">{{anugamanData.sachiv}}</span>
            
            </td>
            <td> </td>
          </tr>
        </table>
        <style>
          .fixedWidth {
            display: inline-block;
            width: 150px;
          }
        </style>
        <p style="font-weight: bolder;">
          <u>आयोजना विवरण </u>
        </p>
        <div id="showDiv">
          <p>
            <span class="fixedWidth">आयोजनाको नाम</span>
    
            <span class="">: {{anugamanData.activityName}}</span>
          </p>
          <p style="padding:0;margin:0">
    
            <span class="fixedWidth">आयोजना स्थल </span>
    
            <span class="">: {{anugamanData.activityAddress}}</span>
          </p>
          <p style="padding:0;margin:0">
            <span class="fixedWidth"> खरिद प्रकृया </span>
    
            <span class="">: {{anugamanData.kharidPrakriya}}</span>
          </p>
          <!-- <p style="padding:0;margin:0">
          <span class="fixedWidth"> लागत सहभागिता </span>
    
          <span class="">M {{anugamanData.lagat}}</span>
        </p> -->
          <p style="padding:0;margin:0">
            <span class="fixedWidth"> बजेटहरू :</span>
          </p>
          <table width="80%" style="margin-left:21%">
            <tr>
              <td width="40%">
                : १. नेपाल सरकार :
                <span *ngIf="anugamanData.fromNepalSarkar">
                  {{anugamanData.fromNepalSarkar | displayNepaliDate}}
                </span>
              </td>
              <td width="40%">
                &nbsp; २. प्रदेश सरकार :
                <span *ngIf="anugamanData.fromState">
                  {{anugamanData.fromState | displayNepaliDate}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                &nbsp; ३. {{'MUNICIPALITY' | translate}} :
                <span *ngIf="anugamanData.fromLocalLevel">
                  {{anugamanData.fromLocalLevel | displayNepaliDate}}
                </span>
              </td>
              <td>
                &nbsp; ४. वडा :
                <span *ngIf="anugamanData.fromWada">
                  {{anugamanData.fromWada | displayNepaliDate}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                &nbsp; ५. उपभोक्ता समिति:
                <span *ngIf="anugamanData.fromConsumerCommitte">
                  {{anugamanData.fromConsumerCommitte | displayNepaliDate}}
                </span>
              </td>
              <td>
                &nbsp; ६. अन्य :
                <span *ngIf="anugamanData.fromOthers">
                  {{anugamanData.fromOthers | displayNepaliDate}}
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="2" *ngIf="anugamanData.totalGranted">
                &nbsp; कुल जम्मा : {{anugamanData.totalGranted | displayNepaliDate}}
              </td>
            </tr>
          </table>
          <p style="padding:0;margin:0">
            <span class="fixedWidth"> सम्झाैता मिति </span>
    
            <span *ngIf="anugamanData.contractDate"> &nbsp;:
              {{anugamanData.contractDate | displayNepaliDate}}</span><br />
          </p>
          <p style="padding:0;margin:0">
            <span class="fixedWidth">सम्पन्न हुने मिति</span>
            &nbsp;: 
            <span *ngIf="anugamanData.estimatedWorkCompletionDate" >
              {{anugamanData.estimatedWorkCompletionDate | displayNepaliDate}}
            </span>
            <br />
            <span class="fixedWidth"> सम्पन्न मिति </span>
            &nbsp;: <span >
              {{anugamanData.completionDate | displayNepaliDate}}
            </span>
            <br />
          </p>
        </div>
      
       
        <p class="showPrint" *ngIf="anugamanData.monitoringDetails">
            <u>अनुगमनबाट आयोजना/कार्यक्रममा पाइएको मुख्य-मुख्य कुराहरु :</u><br/>
          <span class=""> {{anugamanData.monitoringDetails}} </span>
        </p>
        <div id="charan" *ngIf="lastStage">
          उपभोक्ता अनुसारकाे आयोजनाहरूकाे काम सम्पन्न भई
         
          <span class="showPrint">{{anugamanData.category}}</span>
          देखिएकाेले अन्तिम भुक्तानी गरी आयोजना फरफारक गर्नुहोन अनुराेध गर्दछु ।
        </div>
    
      </div>
</div>
     <!--#############################tippani pragati-->
     <div id="tippani-pragati" style="page-break-after: always;">
        <div *ngIf="tippaniArray.length>0">
            <div *ngFor="let tippaniData of tippaniArray;let i=index" style="page-break-after: always;">
                <table width="100%">
                    <tr>
                      <td width="25%">
                        <img src="assets/images/govntLogo.jpg" alt="NG" width="90" height="90" />
                      </td>
                      <td width="50%">
                        <p style="text-align: center">
                          <span *ngIf="heading && heading['officeName']"
                            style="font-size: 22px !important">
                            <b>{{heading['officeName'] || ''}} </b>
                          </span><br />
                          <span *ngIf="heading && heading['orgName']" style="font-size: 18px; font-weight: bold;"> {{heading['orgName']}}</span><br />
                          <span *ngIf="heading && heading['district']" style="font-size: 14px;
                        font-weight: bold;">
                            {{heading['district']}},{{heading['province']}}, नेपाल (स्थापित वर्ष:
                            {{heading['estYear']}})</span><br />
                          <span *ngIf="heading && heading['officeEmail']" style="font-size: 12px;">सम्पर्क नं.: {{heading['officeTelNo']}} &nbsp; फ्याक्स्
                            नं.:
                            {{heading['officeFaxNo']}}<br />इमेल: {{heading['officeEmail']}}</span></p>
                      </td>
                      <td width="25%">
              
                      </td>
                    </tr>
                  </table>
                  <table width="100%">
                    <tr>
                      <td width="25%">
                        <p style="text-align:left">
                          प.सं. : {{activityDatas['planYear'] | displayNepaliDate}}
                          <br />च .नं. :
                      
                          <span class="showPrint">{{tippaniData.chalaniNo | displayNepaliDate}}</span>
                        </p>
                      </td>
                      <td width="50%">
                        <p style="font-size: 14px;text-align:center"><b>टिप्पणी आदेश</b> </p>
                      </td>
                      <td width="25%">
                        <p style="font-size: 14px;text-align:right;">
                          <p style="font-size: 14px;text-align:right;">मिति:
                           
                            <span class="showPrint">{{tippaniData.enterDate | displayNepaliDate}}</span>
                          </p>
                      </td>
                    </tr>
                  </table>
                  <div style="text-align: center;background-color: rgb(2, 2, 2) !important;padding: 5px;font-size: 15px;">
                    <span style="color: #fff;">उपभोक्ता समिति मार्फत
                      संचालित आयोजना /
                      परियोजना </span>
                  </div>
                  <br />
                  <p style="text-align:center;font-size: 15px;">विषय :
                    <b>{{insStage}} रनिंग बिल भुक्तानि संबन्धमा ।</b>
                  </p>
                  <p style="font-size: 13px;">
                    <b>श्रीमान् प्रमुख ज्यु ,</b>
                  </p>
                  <p style="font-size: 13px;">आ. व. २०७५/२०७६ का लागि विनियोजन देहाय बमोजिमको योजनाको निम्नानुसारको कागजात संलग्न गरि
                    भूक्तानी माग भएको छ l </p>
                  <p style="font-size: 13px;">१) ब.उ.शि.नं. {{progressDataArray[i].budgetTitleNo | displayNepaliDate}} कार्यक्रम :<b>
                      {{progressDataArray[i].programName}}</b></p>
                  <p style="font-size: 13px;">२) योजनाको नाम र स्थान : <b>{{progressDataArray[i].activityName}}, {{progressDataArray[i].activityAddress}}</b></p>
              
                  <p style="font-size: 13px;">३) योजनाको संझौता मिति :<b>{{progressDataArray[i].contractDate | displayNepaliDate}}</b>
                    &nbsp;&nbsp;&nbsp;योजना
                    सम्पन्न गर्नुपर्ने मिति:<b>{{progressDataArray[i].expectedCompletionDate | displayNepaliDate}}</b></p>
              
                  <p style="font-size: 13px;">४) अध्यक्ष :<b>{{progressDataArray[i].adhyaxya}}</b> &nbsp;&nbsp; ल.ई : रु.<b>{{progressDataArray[i].techCost |
                    displayNepaliDate}}</b>&nbsp;&nbsp; विनियोजित रकम रु.: <b>{{progressDataArray[i].budget | displayNepaliDate}}</b></p>
              
                  <p style="font-size: 13px;">५) श्रोत बाँडफाँड : क. नेपाल सरकार:
                    <b>{{progressDataArray[i] && progressDataArray[i]['fromNepalSarkar'] | displayNepaliDate}}</b>
                    &nbsp; ख. प्रदेश सरकार: <b>{{progressDataArray[i] && progressDataArray[i]['fromState']  | displayNepaliDate}} </b>
                    &nbsp; ग.  {{'MUNICIPALITY' | translate}}: <b>{{progressDataArray[i] && progressDataArray[i]['fromLocalLevel']  | displayNepaliDate}} </b>
                    &nbsp; घ. वडा: <b> {{progressDataArray[i] && progressDataArray[i]['fromWada']  | displayNepaliDate}} </b>
                    &nbsp; ङ. उपभोक्ता समिति: <b>{{progressDataArray[i] && progressDataArray[i]['fromConsumerCommitte']  | displayNepaliDate}}
                    </b>
                    &nbsp; च. अन्यः <b>{{progressDataArray[i] && progressDataArray[i]['fromOthers']  | displayNepaliDate}} </b></p>
              
                 
              
                  <p style="font-size: 13px;">६) यस अघि सम्मको मूल्यांकन रु.:
                    <b>{{progressDataArray[i].previousAmt | displayNepaliDate}}</b></p>
              
                  <p style="font-size: 13px;">७) यस बिलको मूल्यांकन रु.: <b>{{progressDataArray[i].issueAmount | displayNepaliDate}}</b>
                    हालसम्मको
                    मूल्यांकन रु.<b>{{totalAmount1 | displayNepaliDate}}</b></p>
             
              
                  <p style="text-align:center;font-size: 13px;margin-bottom: 0;">
                    <b>हाल भुक्तान गर्नु पर्ने</b>
                  </p>
               
                  <br />
                  <table border="1" id="showDiv" style="line-height: 30px">
                    <thead>
                      <tr>
                        <th style="font-size: 13px;width:25%">विवरण</th>
                        <th style="font-size: 13px;width:25%">रकम</th>
                        <th style="font-size: 13px;width:35%">विवरण</th>
                        <th style="font-size: 13px;width:15%">रकम</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="font-size: 13px;">विनियोजित रकम </td>
                        <td>
                          <!-- <input type="number" class="form-control" formControlName="totalPeski"  (change)="programCalculate()"> -->
                          {{tippaniData.totalPeski | displayNepaliDate}}
                        </td>
                        <td style="font-size: 13px;"> प्राविधिक मुल्याकंन</td>
                        <td>
                          <!-- <input type="number" class="form-control" formControlName="issueAmount" (change)="Calculate()"> -->
                          {{tippaniData.issueAmount | displayNepaliDate}}
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;">
                          {{tippaniData.contengencyInput}}
                        </td>
                        <td style="font-size: 13px;">
                          <!-- <input type="number" class="form-control" formControlName="contengencyKatti" (change)="programCalculate()"> -->
                          {{tippaniData.contengencyKatti | displayNepaliDate}}
                        </td>
                        <td style="font-size: 13px;">पेश्की कट्टी</td>
                        <td style="font-size: 13px;">  
                        {{tippaniData.peskiKatti | displayNepaliDate}}
                        </td>
                      </tr>
                      <tr *ngIf="tippaniData.janasahavagitaInput || tippaniData.janasahavagitaKatti">
                        <td> </td>
                        <td></td>
                        <td style="font-size: 13px;">
                          {{tippaniData.janasahavagitaInput}}
                        </td>
                        <td style="font-size: 13px;">
                          {{tippaniData.janasahavagitaKatti | displayNepaliDate}}
                        </td>
                      </tr>
                      <tr *ngIf="tippaniData.agrimInput || tippaniData.agrimKatti">
                        <td> </td>
                        <td></td>
                        <td style="font-size: 13px;">
                          {{tippaniData.agrimInput}}
                        </td>
                        <td style="font-size: 13px;">
                          {{tippaniData.agrimKatti | displayNepaliDate}}
                        </td>
                      </tr>
                      <tr *ngIf="tippaniData.duwaniInput || tippaniData.duwaniKatti">
                        <td> </td>
                        <td></td>
                        <td style="font-size: 13px;">
                          {{tippaniData.duwaniInput}}
                        </td>
                        <td style="font-size: 13px;">
                          {{tippaniData.duwaniKatti | displayNepaliDate}}
                        </td>
                      </tr>
                      <tr *ngIf="tippaniData.anyaInput || tippaniData.anyaKatti">
                        <td> </td>
                        <td></td>
                        <td style="font-size: 13px;">
                          {{tippaniData.anyaInput}}
              
                        </td>
                        <td style="font-size: 13px;">
                          {{tippaniData.anyaKatti | displayNepaliDate}}
                        </td>
                      </tr>
                      <tr >
                        <td> </td>
                        <td></td>
                        <td style="font-size: 13px;"> खुद भुक्तान गर्नु पर्ने </td>
                        <td style="font-size: 13px;">{{tippaniData.vuktanRakam | displayNepaliDate}}</td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;">जम्मा </td>
                        <td style="font-size: 13px;">{{tippaniData.total | displayNepaliDate}} </td>
                        <td style="font-size: 13px;"> जम्मा</td>
                        <td style="font-size: 13px;">{{tippaniData.grandTotal | displayNepaliDate}} </td>
                      </tr>
                    </tbody>
                  </table>
                  <br/>
                  <br/>

                  <p class="showPrint" style="font-size: 13px;">उपरोक्त अनुसार योजनामा खुद भुक्तान रु.
                    {{tippaniData.vuktan | displayNepaliDate}}
                    बाट नियमानुसार श्रोतमा कर कट्टी गरि भुक्तान गर्नका निमित्त निर्णयार्थ पेश गरेको छ l </p>
              </div>
              </div>

              </div>

                 <!--#############################completion-->
 <div id="completion" style="page-break-after: always;">
    <app-letterhead></app-letterhead>
    <!-- </div> -->
    <div style="height:50px;">
      <div style="float:left;width:49%">
        <p style="text-align:left">प.स :{{activityDatas['planYear'] | displayNepaliDate}}
          <br/>च .नं. :  </p>
      </div>
     
      <div style="float:right;width:49%;" class="show_div">
        <p style="text-align:right;">मिति: </p>
      </div>
    </div>
    <h5 style="clear:both;text-align:center;">विषय :
      <b>कार्य सम्पन्न प्रमाणित बारेमा ।</b>
    </h5>
    <p><b>जो जस संग सम्बन्धित छ , </b></p>
    <div class="show_div">
    <p style="line-height:1.5">उपरोक्त सम्बन्धमा यस {{heading && heading.officeName}}को श्री <b>{{activityDatas['activityName']}}
      </b>कार्य त्यस <b>{{consumerCommitteOrContractCompany}}</b> ले मिति
      <b>{{startDate | displayNepaliDate}}</b>
      देखि सुरु गरि मिति <b>{{endDate | displayNepaliDate}}</b> मा कार्य सम्पन्न गरेको
      व्यहोरा जानकारी
      गराऊदछौ l</p>
      <p *ngIf="resultDatas.length>0 && resultDatas[0] && resultDatas[0]['workCompletionStatement'] && resultDatas[0]['workCompletionStatement'] != null && resultDatas[0]['workCompletionStatement'] != 'null'" style="margin-top:30px;">
        <b>योजनाको परिणाम:</b><br />
        <span *ngFor="let data of resultDatas">{{data['workCompletionStatement'] || ''}} <br /></span>
      </p>
      <p style="clear:both;margin-top:100px;float:right" class="show_div">
        .......................................
        <br/>
        <br/> प्रमुख प्रसाशकिय अधिकृत
        </p>
    </div>
 
  </div>


</div>

</div>