.grid-container {
  height: calc(110vh - 230px);
  width: 100%;
}

.header {
  padding: 4px;
  background: #efefef;
  margin: 5px;
}

.data-form {
  background: #ffffff;
  padding: 12px;
}

.data-form .form-style {
  background: #efefef;
  padding: 0px 5px 5px 5px;
}

.table-content {
  background: #ffffff;
  padding: 12px;
}

.table-content .table-style {
  padding: 0px 5px 5px 5px;
}

.table-content .table-style fieldset {
  padding-bottom: 10px;
}

.tableClas {
  border-collapse: collapse;
}

.tableClas th, .tableClas td {
  border: 1px solid black;
}

.button-container {
  background: #ffffff;
  padding: 6px;
}

.table {
  border-collapse: collapse;
  background-color: transparent;
}

.table-bordered {
  border: 1px solid #eceeef;
}

ul {
  list-style-type: none;
}

.print_show {
  display: none !important;
}

.print_hide {
  display: inline-block !important;
}
/*# sourceMappingURL=anusuchi3.component.css.map */