<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
    <app-anusuchi-search-bar
        *ngIf="check"
        searchBarTitle = "अनुसूची ३ रिपोर्ट"
        (search)="search($event)"
        (loading)="changeLoadingStatus($event)"
        (error)="showError($event)"
    ></app-anusuchi-search-bar>

  <div class="header">
    <h6 style="font-size:12px;"> अनुसूची ३ रिपोर्ट </h6>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <legend>{{'ACTIVITY_DETAILS' | translate}}</legend>
        <div class="grid-container table-style">
          <div class="button-container text-right">
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="exportReport()">
              {{'EXPORT_EXCEL' | translate}}
            </jqxButton>
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"  (onClick)="printReport()">
              {{'PRINT' | translate}}
            </jqxButton>
          </div>
          <div id="reportContainer" style="overflow-y: auto;height: 70vh;">
            <form name="anusuchiReport" [formGroup]="anusuchiReport" id="anusuchiReport">
            <div style="line-height:100%;">
         <p style="text-align:center;font-size: 13px"><b>अनुसूची ३</b></p>
         <p style="text-align:center;font-size: 13px">(कार्यविधिको दफा ११ (५) सँग सम्वन्धित)</p>
         <p style="text-align:center;font-size: 13px">सार्वजनिक परीक्षण फारामको ढाँचा पेश गरेको कार्यालय.......</p>
        </div>

    <table style="font-size: 13px">
      <tr>
        <td><p>१. आयोजनाको नाम: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['activityName']">{{SearchDatas[0]['activityName']}} </span></p></td>
        <td></td>
        <td><p>क) स्थल: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['sthal']">{{SearchDatas[0]['sthal']}} </span></p></td>
      </tr>
      <tr>
        <td><p>ख) लागत अनुमान: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['lagatAnuman']">{{SearchDatas[0]['lagatAnuman'] | digitCommas | displayNepaliDate}} </span></p></td>
        <td><p>ग) आयोजना शुरू हुने मिति: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['startDate']">{{SearchDatas[0]['startDate'] | displayNepaliDate}} </span></p></td>
        <td><p> &nbsp;&nbsp;&nbsp;&nbsp; घ) आयोजना सम्पन्न हुने मिति: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['completionDate']">{{SearchDatas[0]['completionDate'] | displayNepaliDate}} </span></p></td>
      </tr>
    </table>
    <table style="font-size: 13px">
        <tr>
          <td  colspan="2"><p>२.
            <span *ngIf="SearchDatas && SearchDatas[0]['workServiceType'] === 'Consumer Committe'">उपभोक्ता समिति</span>
            <span *ngIf="SearchDatas && SearchDatas[0]['workServiceType'] === 'Sahakari'">श्रम सहकारी</span>
            /सामुदायिक संस्थाको &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; क)  नाम: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['consumerCommitteName']">{{SearchDatas[0]['consumerCommitteName'] }} </span></p></td>
        </tr>
        <tr>
          <td><p>क) अध्यक्षको नाम: <span *ngIf="SearchDatas && SearchDatas[0] && SearchDatas[0]['adhaxya']">{{SearchDatas[0]['adhaxya'] }} </span></p></td>
          <td>
            <p>ख) सदस्य संख्या
              <span class="print_hide">
                  <input type="number" formControlName="total" height="23px" >
              </span>
              <span class="print_show">
                {{anusuchiReport.controls['total'].value | digitCommas | displayNepaliDate}}
              </span>
              &nbsp;&nbsp;&nbsp;
              महिला :<span class="print_hide">
                <input type="number" formControlName="mahila" height="23px" >
            </span>
              <span class="print_show">
                {{anusuchiReport.controls['mahila'].value | digitCommas | displayNepaliDate}}
              </span>&nbsp;&nbsp; पुरूष: <span class="print_hide">
                  <input type="number" formControlName="purus" height="23px" >
              </span>
                <span class="print_show">
                  {{anusuchiReport.controls['purus'].value | digitCommas | displayNepaliDate}}
                </span></p>
              </td>
        </tr>
      </table>
      <p style="font-size: 13px">३. आम्दानी खर्चको विवरण:</p>


          <p style="font-size: 13px">क) आम्दानीतर्फ जम्मा:</p>
          <table   class="tableClas"  style="width:100%; table-layout: fixed;font-size: 13px">
              <tr style="text-align: center">
                  <td>आम्दानीको श्रोत (कहाँबाट कति नगद तथा
                    <br>जिन्सी प्राप्त भयो खुलाउने) रकम वा परिमाण</td>
                  <td>रकम वा परिमाण</td>
                  <td>कैफियत</td>
                </tr>
                <tr>
                  <td> <span class="print_hide" style="width:100%">
                    <nepali-input #nepin1 name="memberName" formControlName="aamdaani1" [height]="23"
                    [inputClass]="'px-control'"></nepali-input>
                </span>

                  <span class="print_show">
                    {{anusuchiReport.controls['aamdaani1'].value}}
                  </span></td>
                  <td> <span class="print_hide" style="width:100%">
                    <input type="number" name="memberName" formControlName="aamdaani2"
                    style="height:23px;width:100%" >
                </span>

                  <span class="print_show">
                     {{anusuchiReport.controls['aamdaani2'].value}}
                  </span></td>
                  <td> <span class="print_hide" style="width:100%">
                    <nepali-input #nepin2 name="memberName" formControlName="aamdaani3" [height]="23"
                    [inputClass]="'px-control'"></nepali-input>
                </span>

                  <span class="print_show">
                    {{anusuchiReport.controls['aamdaani3'].value}}
                  </span></td>
                </tr>
                <tr>
                  <td> <span class="print_hide" style="width:100%">
                    <nepali-input #nepin3 name="memberName" formControlName="aamdaani4" [height]="23"
                    [inputClass]="'px-control'"></nepali-input>
                </span>

                  <span class="print_show">
                    {{anusuchiReport.controls['aamdaani4'].value}}
                  </span></td>
                  <td> <span class="print_hide" style="width:100%">
                    <input type="number" name="memberName" formControlName="aamdaani5"
                   style="height:23px;width:100%" >
                </span>

                  <span class="print_show">
                     {{anusuchiReport.controls['aamdaani5'].value}}
                  </span></td>
                  <td> <span class="print_hide" style="width:100%">
                    <nepali-input #nepin4 name="memberName" formControlName="aamdaani6" [height]="23"
                    [inputClass]="'px-control'"></nepali-input>
                </span>

                  <span class="print_show">
                    {{anusuchiReport.controls['aamdaani6'].value}}
                  </span></td>
                </tr>

                <!-- <tr *ngFor="let workServiceForm of anusuchiReport.get('aamdaani').controls; let i = index;"
                [formGroupName]="i">
                <td>
                  <span class="print_hide">
                      <nepali-input name="memberName" formControlName="srot" [height]="23" [width]="150"
                      [inputClass]="'px-control'"></nepali-input>
                  </span>

                    <span class="print_hide">
                      {{anusuchiReport.get('aamdaani')['controls'][i].get("srot")}}
                    </span>
                </td>
                <td>
                    <span class="print_hide">
                        <nepali-input name="memberName" formControlName="rakam" [height]="23" [width]="150"
                        [inputClass]="'px-control'"></nepali-input>
                    </span>

                      <span class="print_hide">
                        {{anusuchiReport.get('aamdaani')['controls'][i].get("rakam")}}
                      </span>
                  </td>
                  <td>
                      <span class="print_hide">
                          <nepali-input name="memberName" formControlName="kaifiyat" [height]="23" [width]="150"
                          [inputClass]="'px-control'"></nepali-input>
                      </span>

                        <span class="print_hide">
                          {{anusuchiReport.get('aamdaani')['controls'][i].get("kaifiyat")}}
                        </span>
                    </td>
                </tr> -->


            </table>



          <p style="font-size: 13px">ख) खर्चतर्फ:</p>
          <table  class="tableClas"  style="width:100%;font-size: 13px">
              <tr style="text-align: center">
                  <td>खर्चको विवरण</td>
                  <td>दर</td>
                  <td>परिमाण</td>
                  <td>जम्मा</td>
                </tr>
                <tr style="font-size: 12px">
                  <td>१) सामाग्री (के के सामाग्री खरिद भयो?)</td>
                  <td> <span class="print_hide" style="width:100%">
                    <input type="number" name="memberName" formControlName="kharcha7" (change)="add1()"
                   style="height:23px;width:100%" >
                </span>

                  <span class="print_show">
                     {{anusuchiReport.controls['kharcha7'].value}}
                  </span></td>
                  <td> <span class="print_hide" style="width:100%">
                    <input type="number" name="memberName" formControlName="kharcha8" (change)="add1()"
                   style="height:23px;width:100%" >
                </span>

                  <span class="print_show">
                     {{anusuchiReport.controls['kharcha8'].value}}
                  </span></td>
                  <td> <span class="print_hide" style="width:100%">
                    <input type="number" name="memberName" formControlName="kharcha9"
                   style="height:23px;width:100%" >
                </span>

                  <span class="print_show">
                     {{anusuchiReport.controls['kharcha9'].value}}
                  </span></td>

                </tr>
                <tbody  formArrayName="samagri">
                    <tr *ngFor="let sItem of anusuchiReport.get('samagri')['controls']; let i = index" [formGroupName]="i">
                            <td> <span class="print_hide" style="width:100%">
                                    <span style="width:80% !important;float:left;"><nepali-input  name="memberName" formControlName="name" [height]="23"
                                        [inputClass]="'px-control1'"></nepali-input></span>
                                        <span style="width:20% !important;float:right;"><button (click)="addgeneralArray()" class="btn btn-success btn-sm">+</button>
                                            <button (click)="removeRow(i)" [disabled]="i==0?true:false" class="btn btn-danger btn-sm">X</button></span>
                                </span>

                                  <span class="print_show">
                                     {{anusuchiReport.get('samagri')['controls'][i].get('name').value}}
                                  </span></td>
                                  <td> <span class="print_hide" style="width:100%">
                                        <input type="number" name="memberName" formControlName="rate" (change)="add2(i)"
                                       style="height:23px;width:100%" >
                                    </span>

                                      <span class="print_show">
                                         {{anusuchiReport.get('samagri')['controls'][i].get('rate').value}}
                                      </span></td>
                                      <td> <span class="print_hide" style="width:100%">
                                            <input type="number" name="memberName" formControlName="qty" (change)="add2(i)"
                                           style="height:23px;width:100%" >
                                        </span>

                                          <span class="print_show">
                                             {{anusuchiReport.get('samagri')['controls'][i].get('qty').value}}
                                          </span></td>
                                          <td> <span class="print_hide" style="width:100%">
                                                <input type="number" name="memberName" formControlName="total"
                                               style="height:23px;width:100%" >
                                            </span>

                                              <span class="print_show">
                                                 {{anusuchiReport.get('samagri')['controls'][i].get('total').value}}
                                              </span></td>
                    </tr>
                </tbody>
                <tr style="font-size: 12px">
                    <td>२) ज्याला (के मा कति भुक्तानी भयो?)</td>
                    <td> <span class="print_hide" style="width:100%">
                      <input type="number" name="memberName" formControlName="kharcha10" (change)="add3()"
                     style="height:23px;width:100%" >
                  </span>

                    <span class="print_show">
                       {{anusuchiReport.controls['kharcha10'].value}}
                    </span></td>
                    <td> <span class="print_hide" style="width:100%">
                      <input type="number" name="memberName" formControlName="kharcha11" (change)="add3()"
                     style="height:23px;width:100%" >
                  </span>

                    <span class="print_show">
                       {{anusuchiReport.controls['kharcha11'].value}}
                    </span></td>
                    <td> <span class="print_hide" style="width:100%">
                      <input type="number" name="memberName" formControlName="kharcha12"
                     style="height:23px;width:100%" >
                  </span>

                    <span class="print_show">
                       {{anusuchiReport.controls['kharcha12'].value}}
                    </span></td>
                  </tr>
                  <tr>
                      <td> <span class="print_hide" style="width:100%">
                          <nepali-input #nepin5 name="memberName" formControlName="kharcha13" [height]="23"
                          [inputClass]="'px-control'"></nepali-input>
                      </span>

                        <span class="print_show">
                          {{anusuchiReport.controls['kharcha13'].value}}
                        </span></td>
                    <td> <span class="print_hide" style="width:100%">
                      <input type="number" name="memberName" formControlName="kharcha14" (change)="add4()"
                     style="height:23px;width:100%" >
                  </span>

                    <span class="print_show">
                       {{anusuchiReport.controls['kharcha14'].value}}
                    </span></td>
                    <td> <span class="print_hide" style="width:100%">
                      <input type="number" name="memberName" formControlName="kharcha15" (change)="add4()"
                     style="height:23px;width:100%" >
                  </span>

                    <span class="print_show">
                       {{anusuchiReport.controls['kharcha15'].value}}
                    </span></td>
                    <td> <span class="print_hide" style="width:100%">
                      <input type="number" name="memberName" formControlName="kharcha16"
                     style="height:23px;width:100%" >
                  </span>

                    <span class="print_show">
                       {{anusuchiReport.controls['kharcha16'].value}}
                    </span></td>
                  </tr>
                  <tr>
                      <td> <span class="print_hide" style="width:100%">
                          <nepali-input #nepin6 name="memberName" formControlName="kharcha17" [height]="23"
                          [inputClass]="'px-control'"></nepali-input>
                      </span>

                        <span class="print_show">
                          {{anusuchiReport.controls['kharcha17'].value}}
                        </span></td>
                    <td> <span class="print_hide" style="width:100%">
                      <input type="number" name="memberName" formControlName="kharcha18" (change)="add5()"
                     style="height:23px;width:100%" >
                  </span>

                    <span class="print_show">
                       {{anusuchiReport.controls['kharcha18'].value}}
                    </span></td>
                    <td> <span class="print_hide" style="width:100%">
                      <input type="number" name="memberName" formControlName="kharcha19" (change)="add5()"
                     style="height:23px;width:100%" >
                  </span>

                    <span class="print_show">
                       {{anusuchiReport.controls['kharcha19'].value}}
                    </span></td>
                    <td> <span class="print_hide" style="width:100%">
                      <input type="number" name="memberName" formControlName="kharcha20"
                     style="height:23px;width:100%" >
                  </span>

                    <span class="print_show">
                       {{anusuchiReport.controls['kharcha20'].value}}
                    </span></td>
                  </tr>

                  <tr style="font-size: 12px">
                      <td>३) श्रमदान (कति जनाले श्रमदान गरे?)</td>
                      <td> <span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharcha21" (change)="add6()"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharcha21'].value}}
                      </span></td>
                      <td> <span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharcha22" (change)="add6()"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharcha22'].value}}
                      </span></td>
                      <td> <span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharcha23"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharcha23'].value}}
                      </span></td>
                    </tr>
                    <tr>
                        <td> <span class="print_hide" style="width:100%">
                            <nepali-input #nepin7 name="memberName" formControlName="kharcha24" [height]="23"
                            [inputClass]="'px-control'"></nepali-input>
                        </span>

                          <span class="print_show">
                            {{anusuchiReport.controls['kharcha24'].value}}
                          </span></td>
                      <td> <span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharcha25" (change)="add7()"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharcha25'].value}}
                      </span></td>
                      <td> <span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharcha26" (change)="add7()"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharcha26'].value}}
                      </span></td>
                      <td> <span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharcha27"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharcha27'].value}}
                      </span></td>
                    </tr>
                    <tr>
                        <td> <span class="print_hide" style="width:100%">
                            <nepali-input #nepin8 name="memberName" formControlName="kharcha28" [height]="23"
                            [inputClass]="'px-control'"></nepali-input>
                        </span>

                          <span class="print_show">
                            {{anusuchiReport.controls['kharcha28'].value}}
                          </span></td>
                      <td> <span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharcha29" (change)="add8()"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharcha29'].value}}
                      </span></td>
                      <td> <span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharcha30" (change)="add8()"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharcha30'].value}}
                      </span></td>
                      <td> <span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="kharcha31"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['kharcha31'].value}}
                      </span></td>
                    </tr>
                    <tr  style="font-size: 12px">
                        <td>४) व्यवस्थापन खर्च (ढुवानी तथा अन्य खर्च)</td>
                        <td> <span class="print_hide" style="width:100%">
                          <input type="number" name="memberName" formControlName="kharcha32" (change)="add9()"
                         style="height:23px;width:100%" >
                      </span>

                        <span class="print_show">
                           {{anusuchiReport.controls['kharcha32'].value}}
                        </span></td>
                        <td> <span class="print_hide" style="width:100%">
                          <input type="number" name="memberName" formControlName="kharcha33" (change)="add9()"
                         style="height:23px;width:100%" >
                      </span>

                        <span class="print_show">
                           {{anusuchiReport.controls['kharcha33'].value}}
                        </span></td>
                        <td> <span class="print_hide" style="width:100%">
                          <input type="number" name="memberName" formControlName="kharcha34"
                         style="height:23px;width:100%" >
                      </span>

                        <span class="print_show">
                           {{anusuchiReport.controls['kharcha34'].value}}
                        </span></td>
                      </tr>
                      <tr>
                          <td> <span class="print_hide" style="width:100%">
                              <nepali-input #nepin9 name="memberName" formControlName="kharcha35" [height]="23"
                              [inputClass]="'px-control'"></nepali-input>
                          </span>

                            <span class="print_show">
                              {{anusuchiReport.controls['kharcha35'].value}}
                            </span></td>
                        <td> <span class="print_hide" style="width:100%">
                          <input type="number" name="memberName" formControlName="kharcha36" (change)="add10()"
                         style="height:23px;width:100%" >
                      </span>

                        <span class="print_show">
                           {{anusuchiReport.controls['kharcha36'].value}}
                        </span></td>
                        <td> <span class="print_hide" style="width:100%">
                          <input type="number" name="memberName" formControlName="kharcha37" (change)="add10()"
                         style="height:23px;width:100%" >
                      </span>

                        <span class="print_show">
                           {{anusuchiReport.controls['kharcha37'].value}}
                        </span></td>
                        <td> <span class="print_hide" style="width:100%">
                          <input type="number" name="memberName" formControlName="kharcha38"
                         style="height:23px;width:100%" >
                      </span>

                        <span class="print_show">
                           {{anusuchiReport.controls['kharcha38'].value}}
                        </span></td>
                      </tr>
            </table>


          <p style="font-size: 13px">ग) माैज्दात</p>
          <table class="tableClas" style="width:100%; table-layout: fixed;font-size: 13px">
              <tr style="text-align: center">
                  <td>विवरण
                   </td>
                  <td>रकम वा परिमाण</td>
                  <td>कैफियत</td>
                </tr>
                <tr style="font-size: 12px">
                  <td>१) नगद</td>
                  <td> <span class="print_hide" style="width:100%">
                      <input type="number" name="memberName" formControlName="maujdaat39"
                     style="height:23px;width:100%" >
                  </span>

                    <span class="print_show">
                       {{anusuchiReport.controls['maujdaat39'].value}}
                    </span></td>
                    <td> <span class="print_hide" style="width:100%">
                        <nepali-input #nepin10 name="memberName" formControlName="maujdaat40" [height]="23"
                        [inputClass]="'px-control'"></nepali-input>
                    </span>

                      <span class="print_show">
                        {{anusuchiReport.controls['maujdaat40'].value}}
                      </span></td>
                </tr>
                <tr style="font-size: 12px">
                    <td>बैँक</td>
                    <td> <span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="maujdaat41"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['maujdaat41'].value}}
                      </span></td>
                      <td> <span class="print_hide" style="width:100%">
                          <nepali-input #nepin11 name="memberName" formControlName="maujdaat42" [height]="23"
                          [inputClass]="'px-control'"></nepali-input>
                      </span>

                        <span class="print_show">
                          {{anusuchiReport.controls['maujdaat42'].value}}
                        </span></td>
                  </tr>
                  <tr style="font-size: 12px">
                      <td>व्यक्तिको जिम्मा</td>
                      <td> <span class="print_hide" style="width:100%">
                          <input type="number" name="memberName" formControlName="maujdaat43"
                         style="height:23px;width:100%" >
                      </span>

                        <span class="print_show">
                           {{anusuchiReport.controls['maujdaat43'].value}}
                        </span></td>
                        <td> <span class="print_hide" style="width:100%">
                            <nepali-input #nepin12 name="memberName" formControlName="maujdaat44" [height]="23"
                            [inputClass]="'px-control'"></nepali-input>
                        </span>

                          <span class="print_show">
                            {{anusuchiReport.controls['maujdaat44'].value}}
                          </span></td>
                    </tr>
                    <tr style="font-size: 12px">
                        <td>२) सामाग्रीहरू</td>
                        <td> <span class="print_hide" style="width:100%">
                            <input type="number" name="memberName" formControlName="maujdaat45"
                           style="height:23px;width:100%" >
                        </span>

                          <span class="print_show">
                             {{anusuchiReport.controls['maujdaat45'].value}}
                          </span></td>
                          <td> <span class="print_hide" style="width:100%">
                              <nepali-input #nepin13 name="memberName" formControlName="maujdaat46" [height]="23"
                              [inputClass]="'px-control'"></nepali-input>
                          </span>

                            <span class="print_show">
                              {{anusuchiReport.controls['maujdaat46'].value}}
                            </span></td>
                      </tr>
            </table>

        <p style="font-size: 13px">घ) भुक्तानी दिन बाँकी</p>
        <table class="tableClas" style="width:100%; table-layout: fixed;font-size: 13px">
            <tr  style="text-align: center">
              <td>विवरण</td>
                <td>रकम वा परिमाण</td>
              </tr>
              <tr>
                  <td> <span class="print_hide" style="width:100%">
                      <nepali-input #nepin14 name="memberName" formControlName="bhuktani47" [height]="23"
                      [inputClass]="'px-control'"></nepali-input>
                  </span>

                    <span class="print_show">
                      {{anusuchiReport.controls['bhuktani47'].value}}
                    </span></td>
                    <td> <span class="print_hide" style="width:100%">
                        <input type="number" name="memberName" formControlName="bhuktani48"
                       style="height:23px;width:100%" >
                    </span>

                      <span class="print_show">
                         {{anusuchiReport.controls['bhuktani48'].value}}
                      </span></td>
              </tr>
          </table>


      <p style="font-size: 13px">४. सम्पन्न आयोजनाको लक्ष्य तथा प्रगतिको विवरण</p>
      <table class="tableClas" style="width:100%; table-layout: fixed;font-size: 13px">
          <tr style="text-align: center">
            <td>कामको विवरण</td>
              <td>लक्ष्य</td>
              <td>प्रगति</td>
            </tr>
            <tr>
                <td> <span class="print_hide" style="width:100%">
                    <nepali-input #nepin15 name="memberName" formControlName="pragati49" [height]="23"
                    [inputClass]="'px-control'"></nepali-input>
                </span>

                  <span class="print_show">
                    {{anusuchiReport.controls['pragati49'].value}}
                  </span></td>
                  <td> <span class="print_hide" style="width:100%">
                      <nepali-input #nepin16 name="memberName" formControlName="pragati50" [height]="23"
                      [inputClass]="'px-control'"></nepali-input>
                  </span>

                    <span class="print_show">
                      {{anusuchiReport.controls['pragati50'].value}}
                    </span></td>
                    <td> <span class="print_hide" style="width:100%">
                        <nepali-input #nepin17 name="memberName" formControlName="pragati51" [height]="23"
                        [inputClass]="'px-control'"></nepali-input>
                    </span>

                      <span class="print_show">
                        {{anusuchiReport.controls['pragati51'].value}}
                      </span></td>
            </tr>
        </table>

  <span style="font-size: 13px">५. आयोजनाले पुर्याएको लाभ तथा प्रत्यक्ष रूपमा लाभान्वित जनसंख्या (आयोजना सञ्चालन भएको स्थानका उपभोक्ताहरू)।</span>
  <br>
  <span style="font-size: 13px" >६. आयोजना सञ्चालन गर्दा आयोजक संस्थामा कामको जेम्मेवारी बाँडफाँड (कस कसले कस्तो कस्तो कामको
  जेम्मेवारी लिएका थिए? खुलाउने)</span>
      <br>
      <p style="font-size: 13px" >उपस्थिति:</p>
      <ul style="font-size: 13px" >
        <li>
          १. <span class="print_hide" style="width:250px">
              <nepali-input #nepin18 name="memberName" formControlName="upasthiti52" [height]="23"
              [inputClass]="'px-control'"></nepali-input>
          </span>

            <span class="print_show">
              {{anusuchiReport.controls['upasthiti52'].value}}
            </span>
        </li>
        <li>
          २. <span class="print_hide" style="width:250px">
              <nepali-input #nepin19 name="memberName" formControlName="upasthiti53" [height]="23"
              [inputClass]="'px-control'"></nepali-input>
          </span>

            <span class="print_show">
              {{anusuchiReport.controls['upasthiti53'].value}}
            </span>
        </li>
        <li>
          ३. <span class="print_hide" style="width:250px">
              <nepali-input #nepin20 name="memberName" formControlName="upasthiti54" [height]="23"
              [inputClass]="'px-control'"></nepali-input>
          </span>

            <span class="print_show">
              {{anusuchiReport.controls['upasthiti54'].value}}
            </span>
        </li>
        <li>
          ४. <span class="print_hide" style="width:250px">
              <nepali-input #nepin21 name="memberName" formControlName="upasthiti55" [height]="23"
              [inputClass]="'px-control'"></nepali-input>
          </span>

            <span class="print_show">
              {{anusuchiReport.controls['upasthiti55'].value}}
            </span>
        </li>
        <li>
          ५. <span class="print_hide" style="width:250px">
              <nepali-input #nepin22 name="memberName" formControlName="upasthiti56" [height]="23"
              [inputClass]="'px-control'"></nepali-input>
          </span>

            <span class="print_show">
              {{anusuchiReport.controls['upasthiti56'].value}}
            </span>
          </li>
      </ul>
      <span style="font-size: 13px"><span>रोहवर: &nbsp;नामथर:<span class="print_hide" style="width:250px">
          <nepali-input #nepin23 name="memberName" formControlName="rohabarName" [height]="23"
          [inputClass]="'px-control'"></nepali-input>
      </span>

        <span class="print_show">
          {{anusuchiReport.controls['rohabarName'].value}}
        </span></span>&nbsp;&nbsp;&nbsp;<span>पद:<span class="print_hide" style="width:180px">
            <nepali-input #nepin24 name="memberName" formControlName="rohabarPost" [height]="23"
            [inputClass]="'px-control'"></nepali-input>
        </span>

          <span class="print_show">
            {{anusuchiReport.controls['rohabarPost'].value}}
          </span></span>&nbsp;&nbsp;&nbsp;<span>मिति:
              <span class="print_hide" style="">
                  <input name="rohabarDate" formControlName="rohabarDate"
                 style="height:23">
                 <small *ngIf="!anusuchiReport.get('rohabarDate').valid" style="color:red">
                    Date format :- 2075-01-01
                  </small>
              </span>

                <span class="print_show">
                  {{anusuchiReport.controls['rohabarDate'].value}}
                </span>
          </span></span>
      <p style="font-size: 13px">द्रष्टवय: सार्वजनिक परिक्षण कार्यक्रममा उपस्थित सरोकारवालाहरूको उपस्थिति अनिवार्य रुपमा संलग्न हुनुपर्ने छ।</p>
      </form>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
[animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
<div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
[animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
<div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
