<div style="display: flex; justify-content: space-between; align-items: center;
     position: relative; margin: 34px 0">
    <div>
        <img [src]="imgSrc" alt="NG" width="90" height="90" />
    </div>
    <div style="position: absolute; right: 50%; transform: translateX(50%);">
        <p style="font-size:12px;text-align:center">
            <br />
            <span *ngIf="heading && heading['orgName']" style="font-size:23px !important;margin-top: 5px">
                <b>{{ heading["officeName"] }}</b>
            </span>
            <br />
            <span *ngIf="heading && heading['orgName']" style="font-size: 25px">
                <b>{{ heading["orgName"] }}</b>
            </span>
            <br />
            <span *ngIf="heading && heading['placeName']"
                style="font-size: 20px; text-align: right;">{{ heading["placeName"] }},{{ heading["district"] }} <br />
                {{ heading["province"] }}, नेपाल
            </span>
            <input type="hidden" name="pradesh" />
        </p>
    </div>
    <div>
        <img style="float: right" src="assets/images/visit-logo.jpg" width="90" height="90" class="user-avatar" />
        <div style="clear: both"></div>
        <p *ngIf="distType === 'musikot'" style="text-align: right; font-size: 14px !important; font-family: sans">
            phone:088530261, 9857826596<br />
            email: ito.musikotmun@gmail.com<br />
            webmail: info@musikotmun.gov.np<br />
        </p>
        <p *ngIf="distType === 'kotahimai'" style="text-align: right; font-size: 16px !important; font-family: sans">
            फोन नं. ०७१-४०१०२४<br />
        </p>
    </div>
</div>

<footer *ngIf="distType != 'musikot'" class="custom_footer">

</footer>

<footer class="custom_footer" *ngIf="distType === 'musikot'">
    <p
        style="border: 1px solid black; border-left: none; border-right: none; padding: 5px 0; font-size: 16px !important">
        “सामाजिक सुशासन, आर्थिक समृद्धि र जन सहभागिता सहितको दिगो विकास ।
        स्वास्थ्य, शिक्षा र रोजगारयुक्त समाजबाद उन्मुख नगरपालिका हाम्रो निकास ।“
    </p>
    <p style="display: flex; justify-content: space-between;">
        <span style="font-size: 16px !important">
            Website: www.musikotmunrukum.gov.np
        </span>
        <span style="font-size: 16px !important">
            Tol Free: 166008853001
        </span>
        <span style="font-size: 16px !important">
            Audio Notice:1618088530261
        </span>
    </p>
</footer>