<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;">{{'BUDGET_TRANSFER'|translate}}</h6>
    <div class="data-form">
      <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
        <form name="budgetTransferForm" class="form-style" [formGroup]="budgetTransferForm" id="budgetTransferForm">
          <fieldset>
            <legend>{{'BUDGET_TRANSFER'|translate}}</legend>
            <table class="table-w-tooltip">
              <tr>
                <td>{{'FROM'|translate}} *</td>
                <td>
                  <select class="selectpicker select-class select-border" formControlName="budgetFrom" style="width:160px;height:23px;">
                    <option [selected]="true" value="">{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let data of activityAdapter" [value]="data['id']">{{ data['activityName'] }}</option>
                  </select>
                </td>
                <td>{{'TO'|translate}}</td>
                <td>
                  <select class="selectpicker select-class select-border" formControlName="budgetTo" style="width:160px;height:23px;">
                    <option [selected]="true" value="">{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let data of activityAdapter" [value]="data['id']">{{ data['activityName'] }}</option>
                  </select>
                </td>
                <td>{{'BUDGET_AMOUNT'|translate}}
                </td>
                <td>
                  <input formControlName="budgetAmt" [width]="'100%'" [height]="25" placeHolder="बजेट रकम" Class="px-control">
                </td>
                <td>{{'REMARKS'|translate}}
                </td>
                <td>
                  <nepali-textarea #txt name="remarks" formControlName="remarks" [width]="'100%'" [height]="50" [inputClass]="'px-control-textarea'"></nepali-textarea>
                </td>
                <td *ngIf="!update">
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!budgetTransferForm.valid" (onClick)="saveBtn(budgetTransferForm.value)">
                    {{'SAVE' | translate}}
                  </jqxButton>
                </td>
                <td *ngIf="update">
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!budgetTransferForm.valid" (onClick)="updateBtn(budgetTransferForm.value)">
                    {{'UPDATE' | translate}}
                  </jqxButton>
                </td>
                <td *ngIf="update">
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                    <i class="fa fa-times"></i>{{'CANCEL' | translate}}
                  </jqxButton>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>
    </div>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <legend>{{'BUDGET_TRANSFER'|translate}} {{'DETAILS'|translate}}</legend>
        <div class="grid-container table-style">
          <jqxGrid #myGrid [height]="'99.8%'" class="grid-class" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true"
            [autorowheight]="true" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'" [keyboardnavigation]="true">
          </jqxGrid>

        </div>
      </fieldset>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>