<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;">सार्वजनिक परिक्षण फारम</h6>
    <div class="data-form">
      <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
        <form name="sarbajanikForm" class="form-style" [formGroup]="sarbajanikForm"
          id="sarbajanikForm">
          <fieldset>
            <legend> सार्वजनिक परिक्षण फारम थप्नुहाेस्</legend>
            <table  class="table-w-tooltip">
              <tr>
                <td *ngIf="check">{{'ACTIVITY_NAME' | translate}} *</td>
                <td *ngIf="check">
                  <select formControlName="activityId" class="selectpicker select-class select-border" (change)="loadGridData(sarbajanikForm.get('activityId').value)"
                    style="width:160px;height:23px;">
                     <option value="" [selected]="true"> {{'CHOOSE' | translate}} </option>
                    <option *ngFor="let aAdapter of activityAdapter" [value]="aAdapter['id']">
                      {{aAdapter['name']}}</option>
                  </select>
                </td>
                <td>चरण * </td>
                <td>
                  <select class="px-control" style="width:200px!important;" formControlName="phase">
                    <option value="" [selected]="true"> {{'CHOOSE' | translate}} </option>
                    <option *ngFor="let data of investigationStageAdapter" [value]="data.id">{{data.name}}
                    </option>
                  </select>
                </td>

                <td>
                  <!-- [disabled]="!sarbajanikForm.valid" -->
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!sarbajanikForm.valid"
                    (onClick)="SaveData(sarbajanikForm.value)">
                    {{'SAVE' | translate}}
                  </jqxButton>

                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>
    </div>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <legend>सार्वजनिक परिक्षण फारम विवरण</legend>
        <div class="grid-container table-style">
          <jqxGrid #myGrid [height]="'99.8%'" class="grid-class" [width]="'99.8%'" [source]="dataAdapter"
            [columns]="columns" [pageable]="true" [autorowheight]="true" [editable]="true" [columngroups]="columngroups"
            [theme]="'energyblue'" [keyboardnavigation]="true">
          </jqxGrid>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message' style="z-index: 10000000"></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>