<div class="card card-default card-widget">
    <div class="card-header bg-default-white">
        <i class="fa fa-fw"  [ngClass]="widgetIcon"></i> 
        <span>{{ widgetTitle }}</span>
    </div>
    <!-- /.card-header -->
    <div class="card-block">
        <ul class="list-group">
            <li *ngFor="let item of widgetItems" class="list-group-item">
              <a [routerLink]="[item.route]"><i class="fa fa-chevron-right fa-fw list-group-icon" aria-hidden="true"></i> {{ item.name }}</a>
            </li>
        </ul>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
