<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;">{{'PROGRESS_REPORT'|translate}}</h6>
    <div class="data-form">
      <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
        <form name="approvalSearchForm" class="form-style" [formGroup]="approvalSearchForm" id="approvalSearchForm">
          <fieldset>
            <legend>{{'SEARCH_BOX'|translate}}</legend>
            <table class="table-w-tooltip">
              <tr>
                <td>{{'PLAN_YEAR'|translate}} *</td>
                <td>
                  <select formControlName="planYear" (change)="planYearSelected($event)" class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <option [selected]="true" value=''>{{'CHOOSEU'|translate}}</option>
                    <option *ngFor="let planYear of planYearAdapter" [value]="planYear['yearCode']">{{planYear['yearName']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_FOR'|translate}} </td>
                <td>
                  <select formControlName="activityFor" class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityAdapter" [value]="data['id']">{{lang == 'ne' ?
                      data['nameNepali'] : data['name']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_FOCUS_AREA'|translate}} *</td>
                <td>
                  <select formControlName="activityFocusArea" (change)="LoadActivityCategory()" class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityFocusAreaAdapter" [value]="data['focusCode']">{{lang == 'ne' ?
                      data['nameNepali'] : data['focusName']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_CATEGORY'|translate}} *</td>
                <td>
                  <select formControlName="activityCategory" class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityCategoryAdapter" [value]="data['focusCode']">{{lang == 'ne' ?
                      data['nameNepali'] : data['focusName']}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                    <td>
                            सेवाको प्रकार
                        </td>
                        <td>
                            <select formControlName="workServiceType"
                            class="selectpicker select-class select-border" style="width:160px;height:23px;">
                            <option [selected]="true" value=''>{{'CHOOSEU'|translate}}</option>
                            <option *ngFor="let data of workServiceTypeAdapter" [value]="data['name']">{{data['id']}}</option>
                          </select>
                        </td>
                  <td>{{'EXE_STATUS'|translate}} *</td>
                  <td>
                    <select formControlName="status" class="selectpicker select-class select-border" style="width:160px;height:23px;">
                      <option [selected]="true" value="">{{'ALL' | translate}}</option>
                      <option *ngFor="let data of workSAdapter" [value]="data['name']">{{data['nameNepali']}}</option>
                    </select>
                  </td>
                <td>{{'ACTIVITY_NAME'|translate}}
                </td>
                <td style="width:13%;">
                  <nepali-input name="activityName" formControlName="activityName" [height]="23" [width]="160"
                    [placeHolder]="'ENTER_ACTIVITY_INPREETI' | translate" [inputClass]="'px-control'"></nepali-input>
                </td>
                <td>
                  <!-- [disabled]="!approvalSearchForm.valid" -->
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="SearchData(approvalSearchForm.value)">
                    {{'SEARCH'|translate}}
                  </jqxButton>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>
    </div>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <legend>{{'APPROVAL_DETAILS'|translate}}</legend>
        <div class="grid-container table-style">
          <jqxGrid #myGrid [height]="'99.8%'" class="grid-class" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns"
            [pageable]="true" [autorowheight]="true" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'"
            [keyboardnavigation]="true">
          </jqxGrid>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<jqxWindow #myReportWindow [width]="'100%'" [height]="500" [theme]="'energyblue'" [resizable]="false" [isModal]="true"
  [autoOpen]="false">
  <div id="windowContent">
    <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
      <form name="viewStatusForm" class="form-style" [formGroup]="viewStatusForm" id="viewStatusForm">
        <div class="table-content">
          <div class="table-style">
            <fieldset style="padding-bottom: 10px!important;">
              <legend>{{'EXE_STATUS'|translate}}</legend>
              <div style="float:right;" id="container"></div>
              <div style="float:right;" id="susContainer"></div>
              <input type="text" name="id" formControlName="id" hidden>
              <div class="table-style">
                <table class="table-w-tooltip">
                  <tr>
                    <td>{{'ACTIVITY_NAME'|translate}}</td>
                    <td>{{activityName}}</td>
                  </tr>
                  <tr>
                    <td>{{'DATE'|translate}}
                      <span style="color:red;"> *</span>
                    </td>
                    <td>
                      <jqxInput [width]="200" class="date" [height]="25" formControlName="entryDate" [placeHolder]="'YYYY-MM-DD'">
                      </jqxInput>
                    </td>
                  </tr>
                  <tr>
                    <td>{{'ACTIVITY_STATUS'|translate}}</td>
                    <td>
                      <select formControlName="status" (change)="checkDataChange(this.viewStatusForm.value['status'])"
                        class="selectpicker select-class select-border" style="width:200px;height:23px;">
                        <option [selected]="true" style="font-size: 11px;" value=''>---Select---</option>
                        <option *ngFor="let data of workStageAdapter" [value]="data['name']">{{data['nameNepali']}}</option>
                      </select>
                    </td>
                  </tr>
                  <fieldset>
                    <legend>योजना क्रमागत गर्नु परेमा </legend>
                    <tr>
                      <td><b> योजना क्रमागत गर्ने /नगर्ने:</b> </td>
                      <td>
                        <label for="yes" style="padding-top: 5px;">
                          <input type="radio" id="yes" formControlName="karmagat" value="Yes">
                          हो
                        </label>
                        &nbsp;&nbsp;
                        <label for="no" style="padding-top: 5px;">
                          <input type="radio" id="no" formControlName="karmagat" value="No">
                          होइन
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>{{'PLAN_YEAR' | translate}}</td>
                      <td>
                        <select formControlName="nextPlanYear" class="selectpicker select-class select-border" style="width:200px;height:23px;">
                          <option [selected]="true" style="font-size: 11px;" value=''>---Select---</option>
                          <option *ngFor="let data of planYearAdapter" [value]="data['yearCode']">{{data['yearName']}}</option>
                        </select>
                      </td>
                    </tr>
                  </fieldset>
                  <tr *ngIf="showSpillRow">
                    <td>{{'AMOUNT_SPILL'|translate}}
                    </td>
                    <td>
                      <input type="number" placeholder="Enter Amount.." [minLength]="1" formControlName="amount" style="width:200px; height:23px;border-radius:4px;">
                    </td>
                  </tr>
                  <tr *ngIf="showSpillRow">
                    <td>{{'REASON_SPILL'|translate}}
                      <span style="color:red;">*</span>
                    </td>
                    <td>
                      <nepali-textarea name="reason" formControlName="reason" [width]="200" [height]="50" [inputClass]="'px-control-textarea'"></nepali-textarea>
                    </td>
                  </tr>
                </table>
              </div>
              <div *ngIf="!workCompleted" style="text-align: center;margin-top: 10px;">
                <!-- Asset Output -->
                <jqxButton style="margin-right: 5px;margin-top: 10px;" [width]="90" [height]="25" [theme]="'energyblue'"
                  [disabled]="!viewStatusForm.valid" (onClick)="SaveExecutionStatus(viewStatusForm.value)">
                  {{'SAVE'|translate}}
                </jqxButton>
                <jqxButton style="margin-right: 5px;" [width]="90" [theme]="'energyblue'" (onClick)="Reset()">
                  {{'CLEAR_INDIVIDUAL'|translate}}
                </jqxButton>
              </div>
              <br>
              <div class="table-content">
                <div class="grid-container table-style">
                  <fieldset style="padding-bottom: 10px!important;">
                    <legend>{{'STATUS_LIST'|translate}}</legend>
                    <jqxGrid #statusGridList [height]="200" [width]="'99%'" [source]="dataStatusAdapter" [columns]="columnsStatus"
                      [pageable]="true" [autorowheight]="true" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'"
                      [keyboardnavigation]="true">
                    </jqxGrid>
                  </fieldset>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </form>
    </jqxValidator>
  </div>
</jqxWindow>
<jqxNotification #errWin [width]="250" [position]="'top-right'" [appendContainer]="'#container'" [opacity]="0.9"
  [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='err'></div>
</jqxNotification>
<jqxNotification #susWin [width]="250" [position]="'top-right'" [appendContainer]="'#susContainer'" [opacity]="0.9"
  [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='sus'></div>
</jqxNotification>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
