<div class="container-fluid">
  <div>
    <div class="box-container">
      <form name="approvalEntryForm" [formGroup]="approvalEntryForm" *ngIf="activityDetailData">
        <div class="fieldset-container">
          <div class="row">
            <div class="col-md-12">
              <fieldset>
                <legend>{{'ACTIVITY_DESC' | translate}}</legend>
                <div class="form-group">
                  <label>{{'ACTIVITY_NAME' | translate}} :
                    {{activityDetailData['activityName']}}</label>
                </div>
                <div class="form-group">
                  <label>{{'PROPOSED_COST' | translate}} : {{
                    activityDetailData['totalEstimatedCost'] | digitCommas  }}</label>
                </div>
                <div class="form-group">
                  <label>{{'TECH_PROPOSED_COST' | translate}} : {{ techCost | digitCommas  }}</label>
                </div>
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <legend>{{'AGENCY_DETAILS' | translate}}</legend>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group agency-tree">
                      <label>&nbsp;योजनाको स्थरः
                        <span style="font-weight: bold" *ngIf="activityDetailData['implementingAgencyTypeLevel1Name']">{{activityDetailData['implementingAgencyTypeLevel1Name']
                          }}
                        </span>&nbsp;
                        <span style="font-weight: bold" *ngIf="activityDetailData['implementingAgencyTypeLevel2Name']">{{
                          activityDetailData['implementingAgencyTypeLevel2Name']
                          }}
                        </span>&nbsp;
                        <span style="font-weight: bold" *ngIf="activityDetailData['implementingAgencyTypeLevel3Name']">{{
                          activityDetailData['implementingAgencyTypeLevel3Name']
                          }}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

        </div>

        <div class="fieldset-container">
          <fieldset>
            <legend>{{'ADMINISTRATIVE_APPROVAL' | translate}}</legend>
            <div class="row">
              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>{{'WORK_ORDER_DATE' | translate}} <span style="color:
                      red">*</span></label>
                </div>
              </div>
              <div class="col-3 col-md-4">
                <div class="form-group">
                  <input type="text" class="workOrderDate px-control" placeholder="YYYY-MM-DD" height="23" width="100%"
                    formControlName="workOrderDate" pattern="(^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$)">
                  <small *ngIf="!approvalEntryForm.get('workOrderDate').valid" style="color:red">
                    Date format :- 2075-01-01
                  </small>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>{{'WORK_ISSUING_AUTHORITY' | translate}} <span style="color: red">*</span></label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <nepali-input name="issuingAuthority" formControlName="issuingAuthority" [inputClass]="'px-control'">
                  </nepali-input>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>सम्झौता मिति </label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <jqxInput class="workOrderDate" (input)="check()"
                    (onChange)="changeAgreementDate(approvalEntryForm.value['agreementDate'])" [theme]="'energyblue'"
                    [placeHolder]="'YYYY-MM-DD'" [height]="23" [width]="'100%'" formControlName="agreementDate">
                  </jqxInput>
                </div>
              </div>

              <div class="w-100"></div>
              <div class="col-6 col-md-4 text-right">
                <div class="form-group">
                  <label>अनुमानित कार्य सम्पन्न मिति</label>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div class="form-group">
                  <jqxInput class="workOrderDate" [theme]="'energyblue'" [placeHolder]="'YYYY-MM-DD'" [height]="23"
                    [width]="'100%'" formControlName="estimatedWorkCompletionDate"></jqxInput>
                  <small *ngIf="!approvalEntryForm.get('estimatedWorkCompletionDate').valid" style="color:red">
                    Date format :- 2075-01-01
                  </small>
                </div>
              </div>
              <div class="col-3 col-md-4 text-right">
                <div *ngIf="contractStatus" style="margin-top: 5px" class="dateloader"></div>
              </div>

            </div>
          </fieldset>

          <fieldset>
            <legend>{{'RELATED_ATTACHMENT' | translate}}</legend>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group" style="padding: 15px 0;">
                  <input type="file" name="attachments" (change)="handleFileInput($event)" class="px-control" multiple>
                </div>
              </div>

            </div>
          </fieldset>
          <fieldset>
            <legend>{{'benifiedDetails' | translate}}</legend>
            <table>
              <tr>
                <td style="font-weight: 500; font-size: 13px">{{'benefitedHouses'|translate}}</td>
                <td>

                  <input type="number" formControlName="benifitedHouses" placeHolder="लाभदायक घरहरू">
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'benefitedPopulation'|translate}}</td>
                <td>
                  <input type="number" formControlName="benifitedPopulation" placeHolder="लाभकारी जनसंख्या">
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'benefitedOrganization'|translate}}</td>
                <td>
                  <input type="number" formControlName="befinitedOrganizations" placeHolder="लाभदायक संगठन">
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'othersBenefited'|translate}}</td>
                <td>
                  <input type="number" formControlName="othersBenifited" placeHolder="अन्य लाभदायक">
                </td>
              </tr>

              <br>
              <tr>
                <td style="font-weight: 500; font-size: 13px">{{'FEMAL_POPULATION'|translate}}</td>
                <td>
                  <input type="number" (change)="populationChange($event, 'male')" formControlName="femalePopulation"
                    placeHolder="लाभन्वित महिला">
                </td>

                <td style="font-weight: 500; font-size: 13px">{{'MALE_POPULATION'|translate}}</td>
                <td>
                  <input type="number" (change)="populationChange($event, 'female')" formControlName="malePopulation"
                    placeHolder="लाभन्वित पुरुष">
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'DALIT_POPULATION'|translate}}</td>
                <td>
                  <input type="number" formControlName="dalitPopulation" placeHolder="लाभन्वित दलित">

                </td>
                <td style="font-weight: 500; font-size: 13px">{{'JANAJATI_POPULATION'|translate}}</td>
                <td>
                  <input type="number" formControlName="janajatiPopulation" placeHolder="लाभन्वित जनजाति">

                </td>

              </tr>
              <br>
              <tr>
                <td style="font-weight: 500; font-size: 13px">{{'OTHERS'|translate}}</td>
                <td>

                  <input type="number" formControlName="othersPopulation" placeHolder="अन्य">

                </td>
              </tr>
            </table>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" style="display: inline-block">
                  <label><b>{{'workServiceType' | translate}} *</b></label>
                  <select formControlName="workServiceType" (change)="checkWorkService($event)"
                    class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <option [selected]="true" value=''>{{'CHOOSEU'|translate}}</option>
                    <option *ngFor="let data of workServiceTypeAdapter" [value]="data['name']">{{data['id']}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" *ngIf="showTable" style="display: inline-block">
                  <label style="font-size:12px;">{{'wadaRepresentative' |
                            translate}}</label>
                  <nepali-input name="wadaRepresentative" formControlName="wadaRepresentative"
                    [inputClass]="'px-control'" [placeHolder]="'wadaRepresentative'|translate"></nepali-input>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- <div class="col-md-5"> -->
              <!-- this component removed according to requirement for birtamod municipal -->
              <!-- <div class="form-group" *ngIf="showTable">
                  <label>उपभोक्ता समितिको नाम </label>
                  <select formControlName="consumerCommitteAddressId"
                    (change)="committeeChangeName(consumerCommitteAddressId.value)"
                    class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <option [selected]="true" value=''>{{'CHOOSEU'|translate}}</option>
                    <option *ngFor="let data of consumerCommittees"
                      [value]="data['id']">{{data['name']}}</option>
                  </select>
                </div> -->
              <!-- </div> -->
              <div class="col-md-5">
                <div class="form-group">
                  <p>
                    <b>{{'Note'|translate}}*</b> &nbsp;:
                    &nbsp;{{'cc'|translate}} &nbsp;:&nbsp;
                    <small> उपभोक्ता समिति</small>
                    &nbsp;{{'gf'|translate}} &nbsp;:
                    <small>बाट प्राप्त गरियो</small>
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <table *ngIf="showTable">
                  <tr>
                    <td style="font-weight: 500; font-size: 13px">
                      <span *ngIf="approvalEntryForm.value.workServiceType === 'Consumer Committe'">
                        {{'cc'|translate}}
                      </span>
                      <span *ngIf="approvalEntryForm.value.workServiceType === 'Sahakari'">
                        श्रम सहकारी / संस्थाको
                      </span>

                      {{'NAME'|translate}}</td>
                    <td style="width:475px;">
                      <nepali-input name="consumerCommitteName" formControlName="consumerCommitteName" [height]="23"
                        [width]="200" [placeHolder]="'ENTER_NAME' | translate" [inputClass]="'px-control'">
                      </nepali-input>
                    </td>
                    <td style="font-weight: 500; font-size: 13px">
                      <span *ngIf="approvalEntryForm.value.workServiceType === 'Consumer Committe'">
                        {{'cc'|translate}}
                      </span>
                      <span *ngIf="approvalEntryForm.value.workServiceType === 'Sahakari'">
                        श्रम सहकारी / संस्थाको
                      </span>
                      {{'ADDRESS'|translate}}</td>
                    <td>
                      <nepali-input name="consumerCommitteAddress" formControlName="consumerCommitteAddress"
                        (change)="consumerCommitteeAddressChange($event)" [height]="23" [width]="160"
                        [placeHolder]="'ENTER_ADDRESS' | translate" [inputClass]="'px-control'"></nepali-input>
                    </td>
                    <td style="font-weight: 500; font-size: 13px">
                      <span *ngIf="approvalEntryForm.value.workServiceType === 'Consumer Committe'">
                        {{'cc'|translate}}
                      </span>
                      <span *ngIf="approvalEntryForm.value.workServiceType === 'Sahakari'">
                        श्रम सहकारी / संस्थाको
                      </span>
                      {{'formation'|translate}}
                      {{'DATE'|translate}}
                    </td>
                    <td>
                      <input class="px-control" placeholder="YYYY-MM-DD" height="23px" width="160px"
                        formControlName="formationDate" />
                    </td>
                  </tr>
                </table>
                <table *ngIf="showTable">
                  <tr>
                    <td style="font-weight: 500; font-size: 13px">
                      गठन गर्दा जम्मा उपस्थित संख्या
                    </td>
                    <td>
                      <input type="number" class="px-control" height="23px" width="120px"
                        formControlName="totalParticipant" />
                    </td>

                    <td style="font-weight: 500; font-size: 13px" colspan=2>
                      गठन गर्दा उपस्थित लाभान्वितकाे संख्या
                    </td>
                    <td>
                      <input type="number" class="px-control" height="23px" width="160px"
                        formControlName="totalBenefited" />
                    </td>
                  </tr>
                </table>
                <table *ngIf="showTable">
                  <tr>
                    <td style="font-weight: 500; font-size: 13px">{{'bankName'|
                      translate}}</td>
                    <td style="width:350px;">
                      <nepali-input name="bankName" formControlName="bankName" [height]="23" [width]="160"
                        [placeHolder]="'enterBankName' | translate" [inputClass]="'px-control'"></nepali-input>
                    </td>
                    <td style="font-weight: 500; font-size: 13px">{{'bankAddress'|
                      translate}}</td>
                    <td style="width:350px;">
                      <nepali-input name="bankAddress" formControlName="bankAddress" [height]="23" [width]="160"
                        [placeHolder]="'bankAddress' | translate" [inputClass]="'px-control'"></nepali-input>
                    </td>
                    <td style="font-weight: 500; font-size: 13px">{{'accountNo'|translate}}</td>
                    <td>
                      <jqxInput [theme]="'energyblue'" [placeHolder]="'enterAccountNo'|translate" [height]="23"
                        [width]="160" formControlName="acNo"></jqxInput>
                    </td>

                  </tr>
                </table>
                <table *ngIf="showTable">
                  <tr>
                    <td colspan="8">
                      <br>
                    </td>
                  </tr>
                  <h style="font-size:15px"><b>लागत व्यहोर्ने स्रोतहरुः</b></h>
                  <tr>

                    <td style="font-weight: 500; font-size: 13px;">{{'NEPALGOVNT'|translate}}</td>
                    <td style="width: 160px;">

                      <input type="number" class="px-control" height="23px" width="160px"
                        formControlName="grantedFromState" />
                    </td>
                    <td style="font-weight: 500; font-size: 13px">{{'PRADESH'|translate}}</td>
                    <td>

                      <input type="number" class="px-control" height="23px" width="160px"
                        formControlName="grantedFromNgo" />
                    </td>
                    <td style="font-weight: 500; font-size: 13px">

                      <span *ngIf="checkMUn">गाउँपालिका </span>
                      <span *ngIf="!checkMUn">नगरपालिका </span>

                    </td>
                    <td>
                      <input type="number" class="px-control" height="23px" width="160px"
                        formControlName="grantedFromLocalLevel" />

                    </td>
                    <td style="font-weight: 500; font-size: 13px">{{'WARD'|translate}}</td>
                    <td>
                      <jqxInput [placeHolder]="'grantedFrom'|translate" [theme]="'energyblue'"
                        formControlName="grantedFromIngo" [width]="160" [height]="23">
                      </jqxInput>
                    </td>
                  </tr>
                  <tr>

                    <td style="font-weight: 500; font-size: 13px">
                      <span *ngIf="approvalEntryForm.value.workServiceType === 'Consumer Committe'">
                        {{ 'CUST' | translate }}
                      </span>
                      <span *ngIf="approvalEntryForm.value.workServiceType === 'Sahakari'">
                        श्रम सहकारी / संस्था मार्फत
                      </span>
                    </td>
                    <td>

                      <input type="number" class="px-control" height="23px" width="160px"
                        formControlName="grantedFromConsumerCommitte" />
                    </td>
                    <td style="font-weight: 500; font-size: 13px">{{'gf'|translate}}
                      {{'Others'|translate}}</td>
                    <td>
                      <input type="checkbox" formControlName="grantedFromOthers"
                        (change)="checkValue(approvalEntryForm.value['grantedFromOthers']?'A':'B')" />
                      <a (click)="addItem()" class="btn btn-sm btn-primary
                        px-btn" *ngIf="showArray">
                        <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                        {{'ADD'|translate}}</a>
                    </td>
                  </tr>
                  <tr *ngIf="showArray">
                    <td colspan="8">
                      <div formArrayName="othersDonators">
                        <div class="row">
                          <div *ngFor="let reqItem of
                            approvalEntryForm.get('othersDonators')['controls'];
                            let i= index" class="col-md-6 form-array-container-inner">
                            <div class="row p-1 row-body" [formGroupName]="i">
                              <div class="col-md-4">
                                <label for="">{{ "NAME" | translate }}</label>
                                <nepali-input name="name" formControlName="name" [inputClass]="'px-control'">
                                </nepali-input>
                                <small [hidden]="reqItem['controls'].name.valid ||
                                  !reqItem['controls'].name.touched" class="form-control-feedback text-danger
                                  px-control-error">
                                  * required
                                </small>
                              </div>
                              <div class="col-md-4">
                                <label for="">{{ "VALUE" | translate }}</label>
                                <input type="text" formControlName="value" class="px-control">
                                <small [hidden]="reqItem['controls'].value.valid ||
                                  !reqItem['controls'].value.touched" class="form-control-feedback text-danger
                                  px-control-error">
                                  * required
                                </small>
                              </div>
                              <div class="col-md-2">
                                <label for="">&nbsp;</label>
                                <button type="button" (click)="removeItem(i)" class="btn btn-sm btn-danger" [disabled]="approvalEntryForm.get('othersDonators').length
                                <1">
                                  <i class="fa fa-times fa-fw" aria-hidden="true"></i> {{ "REMOVE" |
                                  translate }}
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="8">
                      <br>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="8">
                      <hr>
                    </td>
                  </tr>

                </table>

                <hr>
                <h5 *ngIf="showTable">
                  <span *ngIf="approvalEntryForm.value.workServiceType === 'Consumer Committe'">
                    उपभोक्त्ता समिति पदाधिकारीहरुको विवरण
                  </span>
                  <span *ngIf="approvalEntryForm.value.workServiceType === 'Sahakari'">
                    श्रम सहकारी / संस्थाको पदाधिकारीहरुको विवरण
                  </span>
                </h5>

                <table formArrayName="workServiceTypeArray" *ngIf="showTable">
                  <tr *ngIf="monitoringCommitteConfig">
                    <ng-container *ngFor="let config of monitoringCommitteConfig">
                      <td *ngIf="!config.hidden" style="font-weight: 500; font-size: 13px">{{ config.heading }}</td>
                    </ng-container>
                  </tr>
                  <tr *ngIf="!monitoringCommitteConfig">
                    <td style="font-weight: 500; font-size: 13px">{{'NAME' |
                        translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'POST' |
                        translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'ADDRESS'
                        | translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'CITIZEN'
                        | translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'ISSUE_DISTRICT'
                        | translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'ISSUE_DATE'
                        | translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'CONTACT_NO'
                        | translate}}</td>
                  </tr>
                  <tr *ngFor="let workServiceForm of
                    approvalEntryForm.get('workServiceTypeArray')['controls'];
                    let i= index;" [formGroupName]="i">
                    <ng-container *ngFor="let config of monitoringCommitteConfig">
                      <td *ngIf="!config.hidden">
                        <nepali-input (change)="committeeChange(i)" [disabled]="
                          approvalEntryForm.get('workServiceTypeArray')['controls'][i].get(config.name).disabled"
                          [name]="config.name" [formControlName]="config.name" [height]="23" [width]="150"
                          [inputClass]="'px-control'" [placeHolder]="config.placeholder | translate"></nepali-input>
                        <small
                          *ngIf="!approvalEntryForm.get('workServiceTypeArray')['controls'][i].get(config.name).disabled"
                          [hidden]="approvalEntryForm.get('workServiceTypeArray')['controls'][i].get(config.name).valid"
                          class="form-control-feedback text-danger
                            px-control-error">
                          * आवश्यक छ !!
                        </small>
                      </td>
                    </ng-container>
                </table>

                <table *ngIf="showTableContract">
                  <tr>
                    <td></td>
                    <td style="font-weight: 500; font-size: 13px">{{'FIRM_NAME'
                      | translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'ADDRESS'
                      | translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'CONTACT_PERSON'
                      | translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'CONTACT_NO'
                      | translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'ANUBANDA_DATE'
                      | translate}}</td>
                    <td style="font-weight: 500; font-size: 13px"> कबोल रकम </td>
                    <td style="font-weight: 500; font-size: 13px">{{'ATTACHMENT'
                      | translate}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td width="200px">
                      <a (click)="addItem1()" class="btn btn-sm btn-primary
                        px-btn">
                        <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                        {{'ADD'|translate}}</a>
                    </td>
                  </tr>
                  <tr formArrayName="contractData" *ngFor="let reqItem of
                  approvalEntryForm.get('contractData')['controls'];
                  let i= index">
                    <td [formGroupName]="i" width="8px">
                      <input type="radio" name="selected" formControlName="selected" [value]="1"
                        (change)="selectChange(i)" [checked]="i === 0">
                    </td>
                    <td width="300px" [formGroupName]="i">
                      <nepali-input name="name" formControlName="name" [height]="23" [width]="'250px'"
                        [inputClass]="'px-control'" [placeHolder]="'ENTER_NAME'|translate"></nepali-input>
                    </td>
                    <td [formGroupName]="i">
                      <nepali-input name="address" formControlName="address" [height]="23" [width]="'160px'"
                        [inputClass]="'px-control'" [placeHolder]="'ENTER_ADDRESS'|translate"></nepali-input>
                    </td>
                    <td [formGroupName]="i">
                      <nepali-input name="contactPerson" formControlName="contactPerson" [height]="23" [width]="'160px'"
                        [inputClass]="'px-control'" [placeHolder]="'ENTER_CON_PERSON'|translate"></nepali-input>
                    </td>
                    <td [formGroupName]="i">
                      <input type="number" name="selected" formControlName="contactNumber"
                        style="height: 23px; width: 160px;" [placeholder]="'CONTACT_NO' | translate">
                    </td>
                    <td [formGroupName]="i">
                      <input class="px-control" style="height:23px; width: 160px;" formControlName="contractDate"
                        pattern="(^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$)" />
                    </td>
                    <td [formGroupName]="i">
                      <input type="number" name="selected" formControlName="contractAmount"
                        style="height: 23px; width: 160px;" placeholder="कबोल रकम">
                    </td>
                    <td [formGroupName]="i">
                      <input formControlName="attatchment" (change)="handleFileInputContract(i,$event)" type="file">
                    </td>
                    <td [formGroupName]="i">
                      <button type="button" (click)="removeItem1(i)" class="btn btn-sm btn-danger"
                        [disabled]="approvalEntryForm.get('contractData').length<2">
                        <i class="fa fa-times fa-fw" aria-hidden="true"></i> {{ "REMOVE" |
                          translate }}
                      </button>
                    </td>
                  </tr>
                </table>
                <table *ngIf="showAmanantaTable">
                  <tr>
                    <td>कार्यालयको नाम:
                      <div style="width:300px;">
                        <nepali-input name="officeName" formControlName="officeName" [height]="23" [width]="160"
                          [inputClass]="'px-control'" [placeHolder]="'ENTER_OFFICE_NAME'|translate"></nepali-input>
                      </div>
                    </td>
                    <td>आधिकारिक व्यक्तिको नाम:
                      <div style="width:300px;">
                        <nepali-input name="orderName" formControlName="orderName" [height]="23" [width]="160"
                          [inputClass]="'px-control'" placeHolder="आधिकारिक व्यक्तिको नाम प्रविष्ट गर्नुहोस्">
                        </nepali-input>
                      </div>
                    </td>

                  </tr>
                </table>
              </div>
              <div class="col-md-12">
                <br>
                <div class="form-group" *ngIf="showTable">
                  <label>{{'monitor' | translate}}</label>
                  <select formControlName="monitoring"
                    (change)="monitoringChange(approvalEntryForm.value['monitoring'])"
                    class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <option [selected]="true" value=''>{{'CHOOSEU'|translate}}</option>
                    <option *ngFor="let data of monitoringAdapter" [value]="data['name']">{{data['id']}}</option>
                  </select>
                </div>
                <hr>
                <table formArrayName="monitoringCommitteeArray" *ngIf="showMonitoringTable">
                  <tr>
                    <td style="font-weight: 500; font-size: 13px">{{'POST' |
                      translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'NAME' |
                      translate}} {{'CAST'|translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'ADDRESS'
                      | translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'CITIZEN'
                      | translate}}</td>
                    <td style="font-weight: 500; font-size: 13px">{{'PHONE' |
                      translate}}</td>
                  </tr>
                  <tr *ngFor="let workServiceForm of
                    approvalEntryForm.get('monitoringCommitteeArray').controls;
                    let i= index;" [formGroupName]="i">
                    <td>
                      <nepali-input name="monitoringCommitteePost" formControlName="monitoringCommitteePost"
                        [height]="23" [width]="150" [inputClass]="'px-control'" [placeHolder]="'ENTER_POST'|translate">
                      </nepali-input>
                    </td>
                    <td>
                      <nepali-input name="monitoringCommitteeName" formControlName="monitoringCommitteeName"
                        [height]="23" [width]="150" [inputClass]="'px-control'" [placeHolder]="'ENTER_NAME'|translate">
                      </nepali-input>
                      <small
                        [hidden]="approvalEntryForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeName').valid"
                        class="form-control-feedback text-danger
                        px-control-error">
                        * आवश्यक छ !!
                      </small>
                    </td>
                    <td>
                      <nepali-input name="monitoringCommitteeAddress" formControlName="monitoringCommitteeAddress"
                        [height]="23" [width]="150" [inputClass]="'px-control'"
                        [placeHolder]="'ENTER_ADDRESS'|translate"></nepali-input>
                      <small
                        [hidden]="approvalEntryForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeAddress').valid"
                        class="form-control-feedback text-danger
                        px-control-error">
                        * आवश्यक छ !!
                      </small>
                    </td>
                    <td>
                      <nepali-input name="monitoringCommitteeCitizenshipNo" (change)="mCommitteeChange(i)"
                        formControlName="monitoringCommitteeCitizenshipNo" [height]="23" [width]="150"
                        [inputClass]="'px-control'" [placeHolder]="'ENTER_CITIZENSHIP_NO'|translate"></nepali-input>

                      <small
                        [hidden]="approvalEntryForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeCitizenshipNo').valid"
                        class="form-control-feedback text-danger
                        px-control-error">
                        * आवश्यक छ !!
                      </small>
                    </td>

                    <td>
                      <jqxInput [theme]="'energyblue'" [placeHolder]="'98********'" [height]="23" [width]="160"
                        formControlName="monitoringCommitteeMobile"></jqxInput>
                      <small
                        [hidden]="approvalEntryForm.get('monitoringCommitteeArray')['controls'][i].get('monitoringCommitteeMobile').valid"
                        class="form-control-feedback text-danger
                        px-control-error">
                        * आवश्यक छ !!
                      </small>
                    </td>
                  </tr>
                </table>
              </div>

            </div>
            <br>

            <br>
          </fieldset>
          <div class="row">
            <div class="col-3">
              <div class="form-group" style="padding: 15px 0;">
                <jqxButton style="margin-right: 5px;margin-top: 10px;" [disabled]="!approvalEntryForm.valid"
                  [width]="100" [height]="25" [theme]="'energyblue'" (onClick)="save(approvalEntryForm.value)">
                  {{'SAVE' | translate}}
                </jqxButton>
                <jqxButton style="margin-right: 5px;margin-top: 10px;" [width]="100" [height]="25"
                  [theme]="'energyblue'" (onClick)="Close()">
                  {{'CLOSE' | translate}}
                </jqxButton>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>