.agency-tree div {
  font-size: 0.8rem;
  position: relative;
  font-weight: bold;
}

.agency-tree div:nth-child(3)::before {
  content: '';
  position: absolute;
  top: calc( 50% - 1px);
  left: 0;
  height: 2px;
  width: 10px;
  background: #000;
}

.agency-tree div:nth-child(4)::before {
  content: '';
  position: absolute;
  top: calc( 50% - 1px);
  left: 0;
  height: 2px;
  width: 20px;
  background: #000;
}

.is-invalid {
  border: 1px solid #ef0646;
}

.dateloader {
  border: 1px solid #f3f3f3;
  border-radius: 50%;
  border-top: 1px solid #3498db;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=administrative-approval-entry.component.css.map */