<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator>
    <form name="ActivityMasterForm" [formGroup]="ActivityMasterForm" id="ActivityMasterForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{'ASSETS_DETAILS_SUB_CATEGORY' | translate}}</legend>
        <input type="text" name="id" formControlName="id" hidden>
        <table class="table-w-tooltip">
          <tr>
            <td>{{'ASSETS_DETAILS_CATEGORY_NAME' | translate}} *</td>
            <td>
              <select formControlName="assetCategoryDetail" (change)="assetCategoryChange(ActivityMasterForm.value['assetCategoryDetail'])"
                class="selectpicker select-class select-border" style="width:160px;height:23px;">
                <option value="">{{'ALL'|translate}}</option>
                <option *ngFor="let assetDetail of assetDetailCategoryAdapter; let i = index;" [value]="assetDetail['id']">{{assetDetail['nameNepali']}}</option>
              </select>
            </td>
            <td>{{'ASSETS_DETAILS_SUB_CATEGORY_NAME' | translate}}&nbsp;<span>*</span></td>
            <td>
              <jqxInput [theme]="'energyblue'" [placeHolder]="''" [height]="23" [width]="160" formControlName="name"></jqxInput>
            </td>
            <td>{{'ASSETS_DETAILS_SUB_CATEGORY_NAME' | translate}}(नेपाली)&nbsp;<span>*</span>
            </td>
            <td>
              <jqxInput [theme]="'energyblue'" class="nepalify" [placeHolder]="''" [height]="23" [width]="160"
                formControlName="nameNepali"></jqxInput>
            </td>
            <td *ngIf="!update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!ActivityMasterForm.valid"
                (onClick)="saveBtn(ActivityMasterForm.value)">
                {{'SAVE' | translate}}
              </jqxButton>
            </td>
            <td *ngIf="update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!ActivityMasterForm.valid"
                (onClick)="updateBtn(ActivityMasterForm.value)">
                {{'UPDATE' | translate}}
              </jqxButton>
            </td>
            <td *ngIf="update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                <i class="fa fa-times"></i>{{'CANCEL' | translate}}
              </jqxButton>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>
  <div class="grid-container" style="height: 566px;">
    <jqxGrid #myGrid [height]="'100%'" class="grid-class" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns"
      [pageable]="true" [filterable]="true" [autorowheight]="true" [sortable]="true" [editable]="true" [columngroups]="columngroups"
      [theme]="'energyblue'" [selectionmode]="'checkbox'" [showfilterrow]="true" [showtoolbar]="true" [rendertoolbar]="rendertoolbar"
      [keyboardnavigation]="true">
    </jqxGrid>
  </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>