<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;">{{'ACTIVITY_LEDGER_REPORT' | translate}}</h6>
    <div class="data-form">
      <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
        <form name="activityDetailLedger" class="form-style" [formGroup]="activityDetailLedger"
          id="activityDetailLedger">
          <fieldset>
            <legend>{{'SEARCH_BOX' | translate}}</legend>
            <table class="table-w-tooltip">
              <tr>
                <td>{{'PLANNING_YEAR' | translate}} *</td>
                <td>
                  <select formControlName="planYear" class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <option *ngFor="let planYear of planYearAdapter" [value]="planYear['yearCode']">
                      {{planYear['yearName']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_FOR' | translate}}</td>
                <td>
                  <select formControlName="activityFor" class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <!-- <option [selected]="true" value='' [disabled]="true">{{'CHOOSE' | translate}}</option> -->
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityAdapter" [value]="data['id']">{{lang == 'ne' ?
                      data['nameNepali'] : data['name']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_FOCUS_AREA' | translate}} </td>
                <td>
                  <select formControlName="activityFocusArea" (change)="LoadActivityCategory()"
                    class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <!-- <option [selected]="true" value='' [disabled]="true">{{'CHOOSE' | translate}}</option> -->
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityFocusAreaAdapter" [value]="data['focusCode']">{{lang == 'ne' ?
                      data['nameNepali'] : data['focusName']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_CATEGORY' | translate}} </td>
                <td>
                  <select formControlName="activityCategory" class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <!-- <option [selected]="true" value='' [disabled]="true">{{'CHOOSE' | translate}}</option> -->
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityCategoryAdapter" [value]="data['focusCode']">{{lang == 'ne' ?
                      data['nameNepali'] : data['focusName']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_NAME' | translate}}
                </td>
                <td>
                  <!-- [placeHolder]="'ENTER_NAME' | translate"  -->
                  <jqxInput [placeHolder]="'ENTER_NAME' | translate" class="nepalify name" [theme]="'energyblue'"
                    [height]="23" [width]="160" formControlName="activityName"></jqxInput>

                </td>
              </tr>
              <tr>
                <td> <label> शाखा *</label></td>
                <td>
                  <select name="division" formControlName="division" class="px-control">
                    <option [selected]="true" value=''>{{'ALL' | translate}}</option>
                    <option *ngFor="let data of divisionAdpater" [value]="data['code']">{{data['nameNepali']}}</option>
                  </select>

                </td>
                <td>
                सेवाको प्रकार
                </td>
                <td>
                    <select formControlName="workServiceType"
                    class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <option [selected]="true" value=''>{{'CHOOSEU'|translate}}</option>
                    <option *ngFor="let data of workServiceTypeAdapter" [value]="data['name']">{{data['id']}}</option>
                </select>
                </td>
                <td>
                  {{'MIN_AMOUNT' | translate}}
                </td>
                <td>
                  <input type="number" name="minAmount" formControlName="minAmount" class="px-control">
                </td>
                <td>
                  {{'MAX_AMOUNT' | translate}}
                </td>
                <td>
                  <input type="number" name="maxAmount" formControlName="maxAmount" class="px-control">
                </td>
                <td>{{'YOJANA_ISTHITI' | translate}} </td>
                <td>
                  <select class="selectpicker select-class select-border" (change)="implementingAgencyChange($event)"
                    formControlName="executionStatus" style="width:160px;height:23px;">
                    <option value="" [selected]="true">{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let activity of statusAdapter" [value]="activity.value">{{ activity.name }}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>{{'YOJANA_STHAR' | translate}} </td>
                <td>
                    <select class="selectpicker select-class select-border" (change)="implementingAgencyChange($event)"
                    formControlName="parent" style="width:160px;height:23px;">
                    <option value="" [selected]="true">{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let activity of agencyType" [value]="activity.code">{{lang == 'en' ? activity.name
                        : activity.nameNepali}}</option>
                    </select>
                </td>
                <td *ngIf="childType.length>0">{{agencyName}} </td>
                <td *ngIf="childType.length>0">
                    <select class="selectpicker select-class select-border" formControlName="child"
                    style="width:160px;height:23px;">
                    <!-- <option  value="" [selected]="true">{{'CHOOSE' | translate}}</option> -->
                    <option *ngFor="let activity of childType" [value]="activity.code">{{lang == 'en' ? activity.name :
                        activity.nameNepali}}</option>
                    </select>
                </td>

                <td>
                  <!-- [disabled]="!activityDetailLedger.valid" -->
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!activityDetailLedger.valid"
                    (onClick)="SearchData(activityDetailLedger.value)">
                    {{'SEARCH' | translate}}
                  </jqxButton>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>
    </div>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <legend>{{'ACTIVITY_DETAILS' | translate}}</legend>
        <div class="grid-container table-style">
          <div class="button-container text-right">
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!activityDetailLedger.valid"
              (onClick)="exportReport()">
              {{'EXPORT_EXCEL' | translate}}
            </jqxButton>
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!activityDetailLedger.valid"
              (onClick)="printReport()">
              {{'PRINT' | translate}}
            </jqxButton>
          </div>
          <div id="reportContainer" style="overflow-y: auto;height: 396px;">
            <div class="table-container">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>{{'SN' | translate}}</th>
                    <th>{{'ACTIVITY_NAME' | translate}}</th>
                    <th> शाखा </th>
                    <th>{{'implementingAgencyName' | translate}}</th>
                    <th>{{'FOCUS_AREA' | translate}}</th>
                    <th>{{'AMOUNT' | translate}}</th>
                    <th>{{'STATUS' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of SearchDatas; let i = index;">
                    <td> {{ i + 1 | displayNepaliDate }}</td>
                    <td>{{ data['activityName'] }}</td>
                    <td>{{data['division']}}</td>
                    <td *ngIf="data['implementingAgency2']!=null">{{ data['implementingAgency2'] }}</td>
                    <td *ngIf="data['implementingAgency2']==null">{{ data['implementingAgency1'] }}</td>
                    <td>{{ data['activityFocusArea'] }}</td>
                    <td>
                      <span style="font-family: arial !important;">{{ data['totalAmount'] | digitCommas | displayNepaliDate }}</span>
                    </td>
                    <td>
                      <span *ngIf="data['status']=='Not Started'"> {{ 'NOT_STARTED' | translate }}</span>
                      <span *ngIf="data['status']=='Ongoing'"> {{ 'ONGOINGE' | translate }}</span>
                      <span *ngIf="data['status']=='Completed'"> {{ 'COMPLETEDE' | translate }}</span>
                      <span *ngIf="data['status']=='Suspended'"> {{ 'SUSPENDED' | translate }}</span>
                      <span *ngIf="data['status']=='Spill Over'"> {{ 'SPILLOVERE' | translate }}</span>
                      <span *ngIf="data['status']=='Abandoned'"> {{ 'ABANDONEDE' | translate }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
