<fieldset style="padding: 10px">
    <legend>अनुगमन समिती सेटप</legend>
    <div style="display: flex; align-items: center; justify-content: center;">
        <table [formGroup]="formGroup.get('samiti')" class="table table-striped">
            <tr>
                <th>क्र सं</th>
                <th>
                    अनुगमन समितिका पदाधिकारीहरुको नामथर
                </th>
                <th>
                    अनुगमन समितिको पद
                </th>
                <th>सम्बद्द संस्था</th>
                <th>पद</th>
                <th>कार्यहरु</th>
            </tr>
            <tr *ngFor="
                    let control of formGroup.get('samiti')['controls'];
                    let i = index
                " [formGroupName]="i">
                <td>{{ i + 1 | displayNepaliDate }}</td>
                <td>
                    <nepali-input type="text" [inputClass]="'form-style-5'" style="width:300px !important"
                        formControlName="name">
                    </nepali-input>
                </td>
                <td>
                    <nepali-input type="text" [inputClass]="'form-style-5'" style="width:300px !important"
                        formControlName="committeeDesignation">
                    </nepali-input>
                </td>
                <td>
                    <nepali-input type="text" [inputClass]="'form-style-5'" style="width:300px !important"
                        formControlName="related">
                    </nepali-input>
                </td>
                <td>
                    <nepali-input type="text" [inputClass]="'form-style-5'" style="width:300px !important"
                        formControlName="designation">
                    </nepali-input>
                </td>
                <td>
                    <jqxButton (onClick)="addControl()" [theme]="'energyblue'">
                        <i class="fa fa-plus"></i> &nbsp; थप्नुहोस्</jqxButton>
                    <jqxButton (onClick)="removeControl(i)" [theme]="'energyblue'"
                        style="background: #c73e1c; color: white">
                        <i class="fa fa-trash"></i> &nbsp; हटाउनुहोस्
                    </jqxButton>
                </td>
            </tr>
        </table>
    </div>

    <jqxButton (onClick)="save()" style="float: right; margin: 10px" [theme]="'energyblue'"
        [disabled]="!formGroup.valid">
        <i class="fa fa-save"></i> &nbsp; सुरक्षित गर्नुहोस्</jqxButton>
    <div style="clear: both"></div>
</fieldset>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id="message"></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id="error"></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>