<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;"> अनुसूची १७ रिपोर्ट </h6>
    <fieldset style="padding-bottom: 10px!important;">
      <legend>{{'ACTIVITY_DETAILS' | translate}}</legend>
      <div class="table-content" style="overflow-y: auto;height: 80vh;">

        <div class="grid-container table-style">
          <div class="button-container text-right">
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
              (onClick)="exportReport()">
              {{'EXPORT_EXCEL' | translate}}
            </jqxButton>
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'"
              (onClick)="printReport()">
              {{'PRINT' | translate}}
            </jqxButton>
          </div>
          <div id="reportContainer">
            <div class="table-container">
              <table border="1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th [attr.colspan]="14"> अनुसूची –१७ </th>
                  </tr>
                  <tr>
                    <th [attr.colspan]="14"> कार्यविधिको दफा ३६ को उपदफा (२) को
                      खन्ड (ग) संग सम्बन्धित </th>
                  </tr>
                  <tr>
                    <th [attr.colspan]="14" *ngIf="organizationMasterData &&
                      organizationMasterData[0]">
                      {{organizationMasterData[0]['officeName'] || ''}}</th>
                  </tr>
                  <tr>
                    <th [attr.colspan]="14"> लक्षित समूह, पूर्वाधार विकास र
                      प्रर्वदनात्मक कार्यक्रमको भौतिक तथा वित्तिय
                      प्रगति प्रतिवेदन </th>
                  </tr>
                  <tr>
                    <th [attr.colspan]="14">चौमासिक प्रतिवेदन </th>
                  </tr>
                  <tr>
                    <th [attr.colspan]="14" class="tleft"> आ.व.: <span
                        *ngIf="getReport && getReport[0] && getReport[0]['data']
                        && getReport[0]['data'][0] &&
                        getReport[0]['data'][0]['planYear']">
                        {{getReport[0]['data'][0]['planYear'] |
                        displayNepaliDate }}
                      </span> </th>
                  </tr>
                  <tr>
                    <th rowspan="2"> क्र.सं. </th>
                    <th rowspan="2"> क्षेत्र </th>
                    <th rowspan="2"> क्रियाकलापको विवरण </th>
                    <th rowspan="2"> ईकाई </th>
                    <th colspan="2"> बार्षिक लक्ष्य </th>
                    <th colspan="2"> प्रतिवेदन अवधिसम्मको प्रगति Cumulative
                    </th>
                    <th colspan="5"> लाभान्वित जनसङ्ख्या</th>
                    <th rowspan="2"> कैफियत </th>
                  </tr>
                  <tr>
                    <th>परिमाण</th>
                    <th>बजेट</th>
                    <th>परिमाण</th>
                    <th>खर्च</th>
                    <!-- <th>सामान्य</th> -->
                    <!-- <th>पिछडिएका वर्ग</th> -->
                    <th>जनजाती</th>
                    <th>दलित</th>
                    <!-- <th>अशक्त</th> -->
                    <th>महिला</th>
                    <th>पुरुष</th>
                    <th>अन्य </th>
                    <!-- <th rowspan="1" colspan="2"> पुरुष </th>
                      <th rowspan="1" colspan="2"> महिला</th> -->
                  </tr>
                  <tr>

                  </tr>
                </thead>
                <tbody>
                  <!-- <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                      <td>11</td>
                      <td>12</td>
                      <td>13</td>
                      <td>14</td>
                      <td>15</td>
                      <td>16</td>
                      <td>17</td>
                      <td>18</td>
                      <td>19</td>
                      <td>20</td>
                      <td>21</td>
                    </tr> -->
                  <ng-template ngFor let-i="index" let-searchData
                    [ngForOf]="getReport">
                    <tr *ngFor="let data of searchData['data']; let j=index;">
                      <td>
                        <span *ngIf="j == 0">{{ i + 1 }}</span>
                        <span *ngIf="j != 0">&nbsp;</span>
                      </td>
                      <td>
                        <span *ngIf="j == 0">{{searchData.areaName}}</span>
                        <span *ngIf="j != 0">&nbsp;</span>
                      </td>
                      <td><span>{{data.activityName}}</span></td>
                      <td>{{data.unit}}</td>
                      <td>{{data.yearlyParinam |displayNepaliDate}}</td>
                      <td>{{data.yearlyAmount | digitCommas |displayNepaliDate}}</td>
                      <td><span *ngIf="data.cumulativeParinam == 'Completed'">{{data.yearlyParinam
                          |displayNepaliDate}}
                        </span>
                        <span *ngIf="data.cumulativeParinam != 'Completed'">०
                        </span></td>
                      <td>
                        {{data.expenditure | digitCommas |displayNepaliDate}}
                      </td>
                      <!-- <td>{{data.forGeneral}}</td> -->
                      <!-- <td>{{data.forBackward}}</td> -->
                      <td>{{data.benifitedJanajati | digitCommas |displayNepaliDate}}</td>
                      <td>{{data.benifitedDalit | digitCommas |displayNepaliDate}}</td>
                      <!-- <td>{{data.forDisable}}</td> -->
                      <td>{{data.benifitedFemale | digitCommas |displayNepaliDate}}</td>
                      <td>{{data.benifitedMale | digitCommas |displayNepaliDate}}</td>
                      <td>{{data.benifitedOthers | digitCommas |displayNepaliDate}}</td>
                      <td></td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
  [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
  [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
  [width]="100" [height]="60">
</jqxLoader>