<div class="tfm-top-header">
    <div class="row" style="max-height: 48px">
        <div class="col-md-1">
            <img src="assets/images/government.jpg" width="60px" class="user-avatar" />
        </div>
        <div class="col-md-1">
            <div class="tfm-logo">
                <h6 style="font-size:15px; margin-left:-60px; margin-top:7px;">स्थानिय&nbsp;सरकार
                    याेजना&nbsp;व्यवस्थापन&nbsp;प्रणाली </h6>
            </div>
        </div>
        <div class="col-md-10" style="padding-left: 5px;">
            <app-sidebar></app-sidebar>
        </div>
    </div>

</div>
<section class="main-container" #mainContainer>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" [opened]="check">
            <span style="float: left"> <button class="btn btn-sm" style="background-color:white;color:green;height:25px;width:25px;text-align:
                    center;border-radius: 50%" (click)="getBack()"><i class="fa
                        fa-arrow-left" aria-hidden="true"></i></button></span>
            <span style="float: right"> <button class="btn btn-sm" style="background-color:red;color:white;height:25px;width:25px;text-align:
                    center;border-radius: 50%" (click)="closeBar()">X</button></span>
            <app-header></app-header>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="inner-container" #innerContainer>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</section>

<div class="network-connection-toast" [ngClass]="!online ? 'open' : 'close'">
    <div class="network-connection-content">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No
        Internet Connection
    </div>
</div>