$dark-green: #630201;
$dark-deep: #333;
$blue-deep: #355784;

body {
    font-family: NotoSerif;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-28 {
    width: 28%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-68 {
    width: 68%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

// PX - PHOENIX Default Design Start
.px-select-container {
    position: relative;
    display: block;
    select {
        &.px-select-list {
            width: 100%;
            height: 60px;
            border-radius: 0px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
        }
    }
}

.px-control {
    width: 100% !important;
    height: 25px;
    border: 1px solid #a4bed4;
    border-radius: 2px;
    font-size: 0.8rem;
    color: #424242;
    padding-left: 4px;
}
.px-control1 {
    display: inline-block;
    width:50% !important;
    height: 25px;
    border: 0;
    border-bottom: 2px dotted;
    border-radius: 2px;
    font-size: 0.8rem;
    color: #424242;
    padding-left: 4px;
}
.p-control {
    height: 25px;
    border: 1px solid #a4bed4;
    border-radius: 2px;
    font-size: 0.8rem;
    color: #424242;
    padding-left: 4px;
}
.px-control-textarea {
    width: 100% !important;
    height: 50px;
    border: 1px solid #a4bed4;
    border-radius: 2px;
    font-size: 0.9rem;
    color: #424242;
    padding-left: 4px;
}
.px-control-textarea:focus {
    outline: none;
    border-color: #447caa;
}
.px-control:focus {
    outline: none;
    border-color: #447caa;
}

.px-file-control,
input[type='file'] {
    border: 0px !important;
}

.px-btn {
    background: #e0e9f5;
    border: 1px solid #a4bed4;
    /* border: none; */
    border-radius: 0px;
}

.file {
    background: #efefef;
    padding: 7px;
    margin-top: 8px;
    font-size: 0.8rem;

    .btn {
        margin-left: 6px;
    }
}

.row-head {
    background: #e0e9f5;
    margin: 0px;
    div {
        p {
            padding-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.row-body {
    // border-bottom: 1px solid #efefef;
    // margin-bottom: 5px;
}

.form-array-container {
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    .form-array-container-inner {
        border: 1px solid #efefef;
        border-top: 0px;
    }
}

.bg-white {
    background: #fff;
}

.tfm-top-header {
    .row {
        background: #630201;
    }
    .tfm-logo {
        h6 {
            font-size: 1rem;
            font-weight: bold;
            margin: 0px;
            line-height: 1rem;
            text-align: center;
            color: #fff;
        }
    }
}

@media (max-width: 1093px) {
    .tfm-top-header {
        .row {
            background: #324c1b;
        }
        .tfm-logo {
            h1 {
                line-height: 2rem;
            }
        }
    }
}

.jqx-rc-all {
    border-radius: 0px !important;
}

.jqx-text-area-element {
    background: #fbfbfb;
}

form .jqx-rc-all {
    border-radius: 3px !important;
}

.menu-container {
    // margin-top: 45px;
}
.main-container {
    // margin-top: 45px; //60px
    // margin-left: 200px; // for side nav
    // padding: 15px;
    // padding: 0px;
    // padding-top: 0px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    padding: 0px;

    .inner-container {
        z-index: -1;
        // height: calc(100vh - 45px);
        // height: calc(100vh - 80px);
        height: calc(100vh - 35px);
        padding: 0px;
        overflow: hidden;

        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media (max-width: 992px) {
    .inner-container {
        z-index: -1;
        height: calc(100vh - 45px);
        padding: 0px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

@media (max-width: 1034px) {
    .inner-container {
        z-index: -1;
        height: calc(100vh - 34px);
        padding: 0px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .tfm-panel .tfm-panel-container {
        height: calc(100vh - 39px);
    }
}
@media (min-width: 1720px) {
    .tfm-panel .tfm-panel-container {
        height: calc(100vh - 40px);
    }
}

.pt-1-2 {
    padding-top: 1.2rem !important;
}

.select-control {
    height: 25px;
    color: #333;
    border-color: #a4bed4 !important;
    font-size: 0.8rem;
    padding-left: 0px !important;
    display: block;
    width: 100%;
}

//  Card Widget Design
.card-widget {
    margin-bottom: 15px;
    .card-header {
        padding: 0.35rem 0.5rem;
        span {
            font-size: 0.8rem;
            font-weight: bold;
        }
    }
    .card-block {
        padding: 0px;

        .list-group {
            .list-group-item {
                padding: 0.25rem 0.5rem;
                &:first-child {
                    border-top-right-radius: 0rem;
                    border-top-left-radius: 0rem;
                }
                a {
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    color: $blue-deep;
                    font-size: 12px;
                    font-weight: bold;

                    &:hover {
                        color: $blue-deep;
                    }
                    .list-group-icon {
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

.tfm-panel {
    .tfm-panel-left,
    .tfm-panel-right {
        padding-left: 0px !important;
        padding-right: 0px !important;
        position: relative;
    }
    .tfm-panel-container {
        position: relative;
        width: 100%;
        border: 1px solid #c5c5c5;
        // height: calc(100vh - 80px);
        height: calc(100vh - 35px);
    }
    .tfm-panel-header {
        padding: 0.5em;

        h2 {
            font-size: 0.9rem !important;
            margin-bottom: 0px;
            font-weight: bold;
        }
    }
    .tfm-panel-body {
        // padding: 0.6rem;
    }
}

@media (max-width: 992) {
    .tfm-panel-container {
        height: calc(100vh - 96px);
    }
}

.btn-tfms {
    border-radius: 0px !important;
    font-family: Verdana, Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
    border-color: #aaa;
    background: #efefef;
    outline: none;
    border: 1px solid #ababab;
    padding: 3px;
    text-align: center;
    vertical-align: central;
    margin: 0 0 0 0;
    cursor: default;
}

.input-button-group {
    float: left;
}

form {
    td {
        padding-bottom: 10px;
        // height: 74px !important;
        // min-height: 74px !important;
    }

    .jqx-validator-error-label {
        font-size: 0.6rem;
        margin-bottom: 0px;
    }
}

// .filter{
//     height: 90px !important;
//     min-height: 90px !important;
// }

// .jqx-widget.jqx-menu.jqx-menu-vertical.jqx-widget-content.jqx-popup.jqx-rc-all{
//     height: 182px !important;
// }

// .jqx-input{
//     padding-left: 2px;
// }

// .jqx-input:focus{
//     border: 1px solid #333;
// }

.jqx-tooltip-tperror .jqx-fill-state-normal-tperror {
    background: #e83d3d !important;
    color: #fff !important;
}

.jqx-tooltip-tpinfo .jqx-fill-state-normal-tpinfo {
    background: #2776bb !important;
    color: #fff !important;
}

.text-input {
    height: 21px;
    width: 200px;
}

form {
    table {
        margin-top: 10px;
        margin-bottom: 10px;
        td,
        tr {
            margin: 0px;
            padding: 4px;
            border-spacing: 0px;
            border-collapse: collapse;
            font-family: Verdana;
            font-size: 12px;
        }
    }

    .table-w-tooltip {
        tr {
            td {
                padding-bottom: 14px !important;
            }
        }
    }

    .tfms-field-loader {
        vertical-align: -webkit-baseline-middle;
    }
}

.jqx-validator-hint {
    height: 15px !important;
    font-size: 9px !important;
}

.tfm-custom-toolbar {
    border: 1px solid #a4bed4;
}

//  For NGX Tree View
.row.row-filter {
    .form-control {
        width: auto;
        height: 10px;
        padding: 5px;
        font-size: 14px;
    }
}

#windowContent .jqx-notification-energyblue {
    position: absolute;
    top: 5%;
    right: 5px;
}

.form-table-border {
    border: 1px solid #d4d4d4;
    border-collapse: separate;
    padding: 5px;
    margin-left: 5px;
}

.grid-col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23.5%;
    flex: 0 0 23.5%;
    max-width: 23.5%;
}
.grid-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
}
fieldset {
    border: 1px solid #c0c0c0 !important;
    margin: 0 2px !important;
    padding: 0px 10px !important;
    margin-top: 12px !important;
}

fieldset:nth-child(1) {
    margin-top: 2px !important;
}

legend {
    width: auto !important;
    padding: 0 10px !important;
    font-size: 0.7rem !important;
    font-weight: bold !important;
}

fieldset table {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.jqx-expander-content {
    .table {
        margin-top: 0px !important;
        margin-bottom: 0px !important;

        th,
        td {
            padding: 0.35rem;
            vertical-align: top;
            border-top: 1px solid #eceeef;
        }
    }

    .table-bordered {
        th,
        td {
            border: 1px solid #cfdde9;
        }
    }
}

.network-connection-toast {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #c55b5b;
    padding: 12px 40px;
    text-align: center;
    color: #fff;
    z-index: 99;
}

.network-connection-toast.close {
    bottom: -120px;
    transition: all 0.4s ease 0s;
}

.network-connection-toast.open {
    bottom: 0px;
    transition: all 0.4s ease 0s;
}

.widget-container {
    .widget-header {
        background: #324c1b;
        padding: 5px 10px;
        h3 {
            color: #fff;
            margin-bottom: 0px;
            font-size: 1rem;
        }
    }
}

.box-container {
    background: #fff;
    padding: 10px;
    margin-top: 5px;
    margin: 5px;
}

.date-container {
    p {
        margin-bottom: 5px;
    }
}

#reportContainer {
    .table {
        thead {
            th {
                background-color: #fff !important;
            }
        }
        .total {
            text-align: right;
        }
    }
}

.table-content {
    padding-top: 0 !important;
}
.containter {
    display: inline-block !important;
}
.form-style-4 {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px dashed rgb(10, 10, 10) !important;
    width: 120px !important;
    outline: none !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-block !important;
}
.form-style-5 {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px dashed rgb(10, 10, 10) !important;
    width: 100% !important;
    outline: none !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-block !important;
}
.form-style-6 {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px dashed rgb(10, 10, 10) !important;
    width: 400px !important;
    outline: none !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-block !important;
}

.form_change {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px dashed rgb(10, 10, 10) !important;
    width: 250px !important;
    outline: none !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-block !important;
}
.form-control {
    font-size: 13px !important;
}

.side-bar {
    float: left;
    width: 16.4%;
    z-index: 1;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -100000000;
}
mat-sidenav-content {
    z-index: -100000;
}
mat-sidenav {
    width: 200px;
    z-index: -100000;
}

.big_form {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px dashed rgb(10, 10, 10) !important;
    width: 1000px !important;
    outline: none !important;
    padding: 0px 0px 0px 0px !important;
    display: inline-block !important;
}

#error,
#message,
.jqx-notification-container {
    z-index: 999;
}
