<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator>
    <form name="planningYearForm" [formGroup]="planningYearForm" id="planningYearForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{'PLAN_YEAR'|translate}}</legend>
        <input type="text" name="id" formControlName="id" hidden>
        <table class="table-w-tooltip">
          <tr>
            <td>{{'YEAR_CODE' | translate}}&nbsp;<span>*</span>
            </td>
            <td>
              <jqxInput [theme]="'energyblue'" [placeHolder]="'7071'" [height]="23" [width]="140" formControlName="yearCode"></jqxInput>
            </td>
            <td>{{'YEAR_NAME' | translate}}&nbsp;<span>*</span>
            </td>
            <td>
              <!-- <input type='number' formControlName="yearName"  placeholder="YYYY-YYYY"> -->
              <jqxInput [theme]="'energyblue'" [placeHolder]="'YYYY-YYYY'" [height]="23" [width]="140" formControlName="yearName"></jqxInput>
            </td>
            <td>{{'START_DATE' | translate}}({{'BS' | translate}})&nbsp;<span>*</span>
            </td>
            <td>
              <jqxInput [theme]="'energyblue'" [placeHolder]="'YYYY-MM-DD'" [height]="23" [width]="140" formControlName="startDate"></jqxInput>
              <br><small *ngIf="!planningYearForm.get('startDate').valid" style="color:red">
                Date format :- 2075-01-01
              </small>
              <!-- <a rel="nofollow" href="http://naya.com.np" class="naya_convert"></a>
              <input (change)="getName($event)"/> -->
            </td>
            <td>{{'END_DATE' | translate}}({{'BS' | translate}})&nbsp;<span>*</span>
            </td>
            <td>
              <jqxInput [theme]="'energyblue'" [placeHolder]="'YYYY-MM-DD'" [height]="23" [width]="140" formControlName="endDate"></jqxInput>
              <br><small *ngIf="!planningYearForm.get('endDate').valid" style="color:red">
                Date format :- 2075-01-01
              </small>
            </td>
            <td>{{'STATUS' | translate}}&nbsp;<span>*</span></td>
            <td>
              <jqxComboBox #comboBox [theme]="'energyblue'" [height]="23" [width]="140" [source]='comboBoxSource'
                [displayMember]="'name'" [valueMember]="'status'" [selectedIndex]="selectedIndex" formControlName="status"></jqxComboBox>
            </td>
            <td *ngIf="!update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!planningYearForm.valid"
                (onClick)="saveBtn(planningYearForm.value)">
                {{'SAVE' | translate}}
              </jqxButton>
            </td>
            <td *ngIf="update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!planningYearForm.valid"
                (onClick)="updateBtn(planningYearForm.value)">
                {{'UPDATE' | translate}}
              </jqxButton>
            </td>
            <td *ngIf="update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                <i class="fa fa-times"></i>{{'CANCEL' | translate}}
              </jqxButton>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>
  <div class="grid-container">
    <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true"
      [filterable]="true" [autorowheight]="true" (onRowselect)="rowChange($event)" (onRowunselect)="rowUnChange($event)"
      [sortable]="true" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'" [selectionmode]="'checkbox'"
      [showfilterrow]="true" [showtoolbar]="true" [rendertoolbar]="rendertoolbar" [keyboardnavigation]="true">
    </jqxGrid>
  </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>