.my-drop-zone {
  border: dotted 3px lightgray;
  height: 200px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 90px;
}

.nv-file-over {
  border: dotted 3px red;
  height: 200px;
}

/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.custom-file-upload:hover {
  opacity: 1;
}
/*# sourceMappingURL=upload.component.css.map */