<div class="header">
    <h6 style="font-size:12px;"> </h6>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <div class="button-container text-right">
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="close()">
                बन्द गर्नुहोस
            </jqxButton>
        </div>
          <div id="reportContainer" style="margin: 30px;padding:50px;background-color: white">
        <div style="size:50%;margin:auto">
           
<div class="container">
 
 
    <div class="row">
     
        <div class="col-md-3">
 
            <h3>Select files</h3>
 
            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 (onFileDrop)="dropped($event)"
                 class="well my-drop-zone">
               Drop Files
            </div>
            <br>
            Or,
            <br>
            <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Choose Files
            </label>
            <input id="file-upload" style="display: none" type="file" ng2FileSelect [uploader]="uploader"  (change)="dropped($event)" multiple  />
 
            <!-- <div ng2FileDrop
                 [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                 (fileOver)="fileOverAnother($event)"
                 [uploader]="uploader"
                 class="well my-drop-zone">
                Another drop zone
            </div>
 
            Multiple
            <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
 
            Single
            <input type="file" ng2FileSelect [uploader]="uploader" /> -->
            <!-- <input type="file" (change)="fileChange($event)"/> -->
            
        </div>
 
        <div class="col-md-9" style="margin-bottom: 40px">
 
            <h3>File List</h3>
            <p>Total no. of files: {{ uploader?.queue?.length }}</p>
 
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                  
                   
                    <th>Action</th>
                    
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                   
                    <td nowrap>
                   
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="remove(item)">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
 
            <div>
                    <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100" [style.width]="swidth+'%'">
                              {{swidth+'%'}}
                            </div>
                          </div>
                <!-- <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div> -->
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <!-- <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button> -->
                <button type="button" class="btn btn-danger btn-s"
                        (click)="removeAll()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>
 
        </div>
 
    </div>
 
</div>
</div>
        </div>
        </fieldset>
      </div>
    </div>
    <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>

