<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
    <form name="technicalApprovalForm" [formGroup]="technicalApprovalForm">
        <div class="header">
            <h6 style="font-size:12px;">{{'TECHNICAL_APPROVAL' | translate}}</h6>
            <div class="table-content">
                <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                        <legend>{{'ACTIVITY_DESC' | translate}}</legend>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>{{'ACTIVITY_NAME' | translate}} :</p>
                                <p>{{'PROPOSED_COST' | translate}}({{'RS' | translate}})</p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>{{name}}</p>
                                <p>{{cost | digitCommas | displayNepaliDate}}
                                    <!-- <jqxInput class="name" [theme]="'energyblue'" [placeHolder]="'TECH_PROPOSED_COST' | translate"
                                        [height]="23" [width]="160" formControlName="proposedCost"></jqxInput> -->
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="table-content">
                <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                        <legend>{{'TECHNICAL_APPROVAL_DETAILS' | translate}}</legend>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>{{'TECH_PROPOSED_COST' | translate}}({{'RS' | translate}})
                                    <span style="color: red">*</span>
                                </p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>
                                    <input formControlName="techCost" [placeholder]="'TECH_PROPOSED_COST' | translate"
                                        class="px-control" type="number" style="width: 160px !important">
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>{{'ORDER_ISSUING_AUTHORITY' | translate}}
                                    <span style="color: red">*</span>
                                </p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p style="width: 25.5%;">
                                    <nepali-input name="orderIssuing" formControlName="orderIssuing" [height]="23"
                                        [width]="160" [inputClass]="'px-control'"
                                        [placeHolder]="'ORDER_ISSUING_AUTHORITY'|translate"></nepali-input>
                                </p>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>{{'TECH_APPROVAL_ORDER_NO' | translate}}<span style="color: red">*</span></p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>
                                    <jqxInput class="name" [theme]="'energyblue'" [placeHolder]="'TECH_APPROVAL_ORDER_NO' | translate"
                                        [height]="23" [width]="160" formControlName="techOrderNo"></jqxInput>
                                </p>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>{{'TECH_DATE' | translate}}( {{'BS'|translate}} )
                                    <span style="color: red">*</span>
                                </p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>
                                    <jqxInput class="name" [theme]="'energyblue'" [placeHolder]="'YYYY-MM-DD'"
                                        [height]="23" [width]="160" formControlName="techDate"></jqxInput>
                                    <small *ngIf="!technicalApprovalForm.get('techDate').valid" style="color:red">
                                        Date format :- 2075-01-01
                                    </small>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="table-content">
                <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                        <legend>{{'UPLOAD_TECH_APPROVAL_LETTER' | translate}}</legend>
                        <div class="col-md-12">
                            <div style="float: left;border: 1px solid #c0c0c0;margin-right: 4px;border-radius: 3px;"
                                class="col-md-3" *ngFor="let image of tecLetter">
                                <!-- <div>
                                    <p>{{ image.title }}</p>
                                </div> -->
                                <div>
                                    <button class="add-cross btn-danger" type="submit"
                                        (click)="deleteImage(image.name)">Delete</button>
                                    <a style="font-size:12px;" href="{{image.url}}"
                                        target="_blank">{{'viewFile'|translate}}</a>
                                </div>
                            </div>

                            <table style="clear: both;" formArrayName="technicalApprovalLetter">
                                <tr *ngFor="let technicalApprovalLetter of technicalApprovalForm.get('technicalApprovalLetter')['controls'];let i = index;"
                                    [formGroupName]="i">
                                    <!-- <td style="font-weight: 500; font-size: 13px">{{'FILE_TITLE' | translate}}</td> -->
                                    <!-- <td>
                                        <nepali-input name="fileTitle" formControlName="fileTitle" [height]="23" [width]="160" [inputClass]="'px-control'" [placeHolder]="'ENTER_NAME'|translate"></nepali-input>
                                    </td> -->
                                    <td>
                                        <input formControlName="file" (change)="onFileChange($event, '0', i)"
                                            type="file" accept=".png,.jpg,.pdf,.jpeg,.doc,.docx,.xlsx,.xls">
                                    </td>
                                    <td>
                                        <jqxButton #submitButton [width]='120' [height]='23'
                                            (onClick)="addMoreApprovalLetter()">
                                            {{'ADD_MORE' | translate}}
                                        </jqxButton>
                                    </td>
                                    <td>
                                        <jqxButton #submitButton [width]='120' [height]='23'
                                            [disabled]="technicalApprovalForm.get('technicalApprovalLetter').length < 2"
                                            (onClick)="removeForm('0', i)">
                                            {{'REMOVE' | translate}}
                                        </jqxButton>
                                    </td>
                                    <td>
                                        <!-- {{technicalApprovalForm.get('technicalApprovalLetter').get('imageUrl').value}} -->
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="table-content">
                <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                        <legend>{{'UPLOAD_TECH_SPECIFICATION_DOC' | translate}}(इस्टीमेशन)<span
                                style="color: red">*</span></legend>
                        <div class="col-md-12">

                            <div style="float: left;border: 1px solid #c0c0c0;margin-right: 4px;border-radius: 3px;"
                                class="col-md-3" *ngFor="let image of tecDocument">
                                <!-- <div>
                                    <p>{{ image.title }}</p>
                                </div> -->
                                <div>
                                    <button class="add-cross btn-danger" type="submit"
                                        (click)="deleteImage(image.name)">Delete</button>
                                    <a style="font-size:12px;" href="{{image.url}}"
                                        target="_blank">{{'viewFile'|translate}}</a>
                                </div>
                            </div>

                            <table style="clear: both;" formArrayName="technicalSpecificationDocument">
                                <tr *ngFor="let technicalSpecificationDocument of technicalApprovalForm.get('technicalSpecificationDocument')['controls']; let i = index;"
                                    [formGroupName]="i">
                                    <!-- <td style="font-weight: 500; font-size: 13px">{{'FILE_TITLE' | translate}}</td>
                                    <td>
                                        <nepali-input name="fileTitle" formControlName="fileTitle" [height]="23" [width]="160" [inputClass]="'px-control'" [placeHolder]="'ENTER_NAME'|translate"></nepali-input>
                                    </td> -->
                                    <td>
                                        <input formControlName="file" (change)="onFileChange($event, '1', i)"
                                            type="file" accept=".png,.jpg,.pdf,.jpeg,.doc,.docx,.xlsx,.xls">
                                    </td>
                                    <td>
                                        <jqxButton #submitButton [width]='120' [height]='23'
                                            (onClick)="addMoreSpecificationDocument()">
                                            {{'ADD_MORE' | translate}}
                                        </jqxButton>
                                    </td>
                                    <td>
                                        <jqxButton #submitButton [width]='120' [height]='23'
                                            [disabled]="technicalApprovalForm.get('technicalSpecificationDocument').length < 2"
                                            (onClick)="removeForm('1', i)">
                                            {{'REMOVE' | translate}}
                                        </jqxButton>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>

        </div>
    </form>
    <!-- <div class="table-content">
        <form name="workTypeForm" [formGroup]="workTypeForm">
            <div class="table-style">
                <fieldset style="padding-bottom: 10px!important;">
                    <legend>{{'WORK_APPROVAL_TYPE' | translate}}</legend>
                    <div>
                        <div class="row row-head">
                            <div class="col-md-2">
                                <p>{{ 'DESCRIPTION' | translate }}</p>
                            </div>
                            <div class="col-md-2">
                                <p>{{ 'QUANTITY' | translate }}</p>
                            </div>
                            <div class="col-md-2">
                                <p>{{ 'UNIT' | translate }}</p>
                            </div>
                            <div class="col-md-2">
                                <p>{{ 'ACTION' | translate }}</p>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-array-container-inner">
                                <div class="row p-1 row-body">
                                    <div class="col-md-2">
                                        <input type="hidden" formControlName="id" class="px-control">
                                        <nepali-input name="description" formControlName="description" [inputClass]="'px-control'"></nepali-input>
                                        <small [hidden]="workTypeForm['controls'].description.valid || !workTypeForm['controls'].description.touched" class="form-control-feedback text-danger px-control-error">
                                            * required
                                        </small>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" formControlName="quantity" class="px-control">
                                        <small [hidden]="workTypeForm['controls'].quantity.valid || !workTypeForm['controls'].quantity.touched" class="form-control-feedback text-danger px-control-error">
                                            * required
                                        </small>
                                    </div>
                                    <div class="col-md-2">
                                        <nepali-input name="unit" formControlName="unit" [inputClass]="'px-control'"></nepali-input>
                                        <small [hidden]="workTypeForm['controls'].unit.valid || !workTypeForm['controls'].unit.touched" class="form-control-feedback text-danger px-control-error">
                                            * required
                                        </small>
                                    </div>
                                    <div class="col-md-2">
                                        <button *ngIf="!update" type="button" (click)="saveWorkType()" class="btn btn-sm btn-info">{{'SAVE'|translate}}
                                        </button>
                                        <button *ngIf="update" type="button" (click)="updateWorkType(workTypeForm.value)" class="btn btn-sm btn-info">{{'EDIT'|translate}}
                                        </button>
                                        <jqxButton *ngIf="update" style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                                            <i class="fa fa-times"></i>{{'CANCEL' | translate}}
                                        </jqxButton>
                                    </div>
                                </div>
                            </div>
                            <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [filterable]="true"
                                [autorowheight]="true" [columngroups]="columngroups" [theme]="'energyblue'" [selectionmode]="'checkbox'"
                                [showtoolbar]="true" [rendertoolbar]="rendertoolbar" [keyboardnavigation]="true">
                            </jqxGrid>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div> -->
    <div class="" style="text-align: center; padding-bottom: 12px;">
        <jqxButton #submitButton [width]='120' [height]='23' (onClick)="save(technicalApprovalForm.value)">
            {{'UPDATE' | translate}}
        </jqxButton>
        <jqxButton #submitButton [width]='120' [height]='23' (onClick)="close()">
            {{'CLOSE' | translate}}
        </jqxButton>
    </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>