<div class="container-fluid">
  <div>
    <div class="box-container">
      <form name="adForm" [formGroup]="adForm">
        <div class="fieldset-container">
          <fieldset>
            <legend>{{'ACTIVITY_DESC' | translate}}</legend>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label> {{'ACTIVITY_FOCUS_AREA' | translate}} <span style="color:red">*</span></label>
                  <select class="px-control" name="focusArea" formControlName="focusArea" (change)="activityFocusAreaChange($event.target.value)">
                    <option value="" [selected]="true"> {{'CHOOSE' | translate}} </option>
                    <option *ngFor="let focusArea of activityFocusAreaAdapter" [value]="focusArea.focusCode">{{ lang ==
                      'ne' ? focusArea.nameNepali : focusArea.focusName }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3" formArrayName="activityLevels">
                <!-- <div class="row"> -->
                <div *ngFor="let focusArea of adForm.get('activityLevels')['controls']; let i = index">
                  <div class="form-group" [formGroupName]="i">
                    <label> {{'SUB_CATEGORY' | translate}} <span style="color:red">*</span></label>
                    <select class="px-control" formControlName="activityLevel" (change)="activityCategoryChange($event.target.value, i)">
                      <option value="" [selected]="true">{{'CHOOSE' | translate}}</option>
                      <option *ngFor="let activity of activityCategoryLevel[i]" [value]="activity.focusCode">{{ lang ==
                        'ne' ? activity.nameNepali : activity.focusName}}</option>
                    </select>
                  </div>
                </div>
                <!-- </div> -->
              </div>
              <div class="col-md-6" formArrayName="implementingAgencyTypes">
                <div class="row">
                  <div *ngFor="let agency of adForm.get('implementingAgencyTypes')['controls']; let i = index">
                    <div class=" col-md-12 form-group" [formGroupName]="i">
                      <label>
                        <span *ngIf="i == 0">योजनाको स्तर<span style="color:red">*</span></span>
                        <span *ngIf="i > 0">
                          {{ implementingAgencyTypeName[i] }} <span style="color:red">*</span> </span>
                      </label>
                      <select required='required' class="px-control" formControlName="implementingAgencyType" (change)="implementingAgencyChange($event.target.value,$event, i)">
                        <option value="" [selected]="true">{{'CHOOSE' | translate}}</option>
                        <option *ngFor="let activity of implementingAgencyType[i]" [name]="activity.name" [value]="activity.code">{{lang ==
                          'en' ? activity.name : activity.nameNepali}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label style="font-size: 13px;">कार्यक्रमको नाम</label>
                <jqxComboBox #list [width]="500" class="nepalify"  (onChange)="Change($event);" [height]="25" [source]="dropDownSource"
                  [selectedIndex]="1" [displayMember]="'name'" [valueMember]="'id'" [theme]="'energyblue'">
                </jqxComboBox>
              </div>
              <div class="col-md-4 offset-md-2" style="margin-top: 3px;" >
                    <div class="form-group">
                      <label>{{'ACTIVITY_NAME' | translate}}<span style="color:red">*</span></label>
                      <nepali-input name="activityName" formControlName="activityName" [width]="'100%'" [height]="25"
                        [placeHolder]="'ENTER_ACTIVITY_INPREETI' | translate" [inputClass]="'px-control'"></nepali-input>

                    </div>
                  </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'ACTIVITY_TYPE' | translate}} <span style="color:red">*</span></label>
                  <select name="activityType" formControlName="activityType" class="px-control">
                    <option [selected]="true" value=''>योजनाको प्रकार छनौट गर्नुहोस</option>
                    <option *ngFor="let data of activityTypeAdapter" [value]="data['id']">{{lang == 'ne' ?
                      data['nameNepali'] : data['activityName']}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label>ठेगाना <span style="color:red">*</span></label>
                  <nepali-input name="address" formControlName="address" [width]="'100%'" [height]="25" [inputClass]="'px-control'"></nepali-input>
                </div>
              </div>
              <div class="col-md-3">
                    <div class="form-group">
                      <label> शाखा <span style="color:red">*</span></label>
                      <select name="division" formControlName="division" class="px-control">
                        <option [selected]="true" value=''>-</option>
                        <option *ngFor="let data of divisionAdpater" [value]="data['code']">{{data['nameNepali']}}</option>
                      </select>
                    </div>
                  </div>

              <!-- <div class="col-md-3">
                    <div class="form-group">
                      <label> *</label>
                      <nepali-input name="address" formControlName="address" [width]="'100%'" [height]="25" [inputClass]="'px-control'"></nepali-input>
                    </div>
                  </div> -->
              <div class="w-100"></div>
              <div class="col-md-9">
                <div class="form-group">
                  <label>{{'ACTIVITY_DESC_OBJECTIVE' | translate}}<span style="color:red">*</span></label>
                  <nepali-textarea name="activityDescription" formControlName="activityDescription" [width]="'100%'"
                    [height]="50" [inputClass]="'px-control-textarea'"></nepali-textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group" style="margin-bottom: 2rem;">
                  <label>{{'ACT_EXCLUSIVE_FOR_WOMAN' | translate}} </label>
                  <jqxCheckBox #womenCheck style="margin-left: 10px; float: left;" [width]="120">{{'WOMEN' |
                    translate}}
                  </jqxCheckBox>
                  <jqxCheckBox #childrenCheck style="margin-left: 10px; float: left;" [width]="120">{{'CHILDREN' |
                    translate}}
                  </jqxCheckBox>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{'ACT_EXCLUSIVE_FOR_DIFF_ABLED' | translate}} </label>
                  <jqxRadioButton #diffAbledRadio (onChange)="AbledPersonChange($event, 'Y')" [width]="250" [height]="25"
                    [groupName]="'diffAble'">
                    <span>{{'YES' | translate}}</span>
                  </jqxRadioButton>
                  <jqxRadioButton (onChange)="AbledPersonChange($event, 'N')" [width]="250" [height]="25" [groupName]="'diffAble'">
                    <span>{{'NO' | translate}}</span>
                  </jqxRadioButton>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{'ACT_EXPECTED_TO_ENHANCE' | translate}}</label>
                  <jqxRadioButton #livelihoodRadio (onChange)="LivelihoodOppChange($event, 'Y')" [width]="250" [height]="25"
                    [groupName]="'livelihood'">
                    <span>{{'YES' | translate}}</span>
                  </jqxRadioButton>
                  <jqxRadioButton (onChange)="LivelihoodOppChange($event, 'N')" [width]="250" [height]="25" [groupName]="'livelihood'">
                    <span>{{'NO' | translate}}</span>
                  </jqxRadioButton>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{'ACT_PART_OF_DISASTER' | translate}} </label>
                  <jqxRadioButton #disasterRadio (onChange)="disastarMgmtChange($event, 'Y')" [width]="'100%'" [height]="25"
                    [groupName]="'mgmtplan'">
                    <span>{{'YES' | translate}}</span>
                  </jqxRadioButton>
                  <jqxRadioButton (onChange)="disastarMgmtChange($event, 'N')" [width]="'100%'" [height]="25"
                    [groupName]="'mgmtplan'">
                    <span>{{'NO' | translate}}</span>
                  </jqxRadioButton>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{'ACT_COSTLESS' | translate}}</label>
                  <jqxRadioButton #costlessRadio (onChange)="CostlessActivityChange($event, 'Y')" [width]="'100%'"
                    [height]="25" [groupName]="'costless'">
                    <span>{{'YES' | translate}}</span>
                  </jqxRadioButton>
                  <jqxRadioButton (onChange)="CostlessActivityChange($event, 'N')" [width]="'100%'" [height]="25"
                    [groupName]="'costless'">
                    <span>{{'NO' | translate}}</span>
                  </jqxRadioButton>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>{{'ACT_TYPE_DETAILS' | translate}}:</label>
                  <jqxRadioButton [width]="'100%'" (onChange)="ActivityTypeChange($event, 'FW')" [height]="25"
                    [groupName]="'activityType'">
                    <span>{{'FRESH_WORK' | translate}}</span>
                  </jqxRadioButton>
                  <jqxRadioButton [width]="'100%'" (onChange)="ActivityTypeChange($event, 'MW')" [height]="25"
                    [groupName]="'activityType'">
                    <span>{{'MAINTENANCE_WORK' | translate}}</span>
                  </jqxRadioButton>
                  <jqxRadioButton [width]="'100%'" (onChange)="ActivityTypeChange($event, 'UW')" [height]="25"
                    [groupName]="'activityType'">
                    <span>{{'UPGRADATION_WORK' | translate}}</span>
                  </jqxRadioButton>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="fieldset-container">
          <fieldset>
            <legend>{{'ACT' | translate}}</legend>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'ACT_1' | translate}}<span style="color:red">*</span></label>
                  <select name="activityFor1" formControlName="activityFor" class="px-control">
                    <option [selected]="true" value=''>{{'SELECT_ACTIVITY_TYPE' | translate}}</option>
                    <option *ngFor="let data of activityForAdapter" [value]="data['id']">{{lang == 'ne'
                      ?data['nameNepali'] : data['name']}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'ACT_2' | translate}}</label>
                  <select name="activityFor1" formControlName="activityForLevel2" class="px-control">
                    <option [selected]="true" value=''>{{'SELECT_ACTIVITY_TYPE' | translate}}</option>
                    <option *ngFor="let data of activityForAdapter" [value]="data['id']">{{lang == 'ne' ?
                      data['nameNepali'] : data['name']}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'ACT_3' | translate}}</label>
                  <select name="activityFor1" formControlName="activityForLevel3" class="px-control">
                    <option [selected]="true" value=''>{{'SELECT_ACTIVITY_TYPE' | translate}}</option>
                    <option *ngFor="let data of activityForAdapter" [value]="data['id']">{{lang == 'ne' ?
                      data['nameNepali'] : data['name']}}</option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <!-- <div class="fieldset-container">
          <fieldset>
            <legend>{{'benifiedDetails' | translate}}</legend>
            <table>
              <tr>
                <td style="font-weight: 500; font-size: 13px">{{'benefitedHouses'|translate}}</td>
                <td>
                  <input type="number" name="benifitedHouses" formControlName="benifitedHouses" class="px-control">
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'benefitedPopulation'|translate}}</td>
                <td>
                  <input type="number" name="benifitedPopulation" formControlName="benifitedPopulation" class="px-control">
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'benefitedOrganization'|translate}}</td>
                <td>
                  <input type="number" name="befinitedOrganizations" formControlName="befinitedOrganizations" class="px-control">
                </td>
                <td style="font-weight: 500; font-size: 13px">{{'othersBenefited'|translate}}</td>
                <td>
                  <input type="number" name="othersBenifited" formControlName="othersBenifited" class="px-control">
                </td>
              </tr>
              <br>
              <tr>
                <td style="font-weight: 500; font-size: 13px">{{'FEMAL_POPULATION'|translate}}</td>
                <td>
                  <input type="number" name="feMalePopulation" formControlName="femalePopulation" class="px-control">
                </td>

                <td style="font-weight: 500; font-size: 13px">{{'MALE_POPULATION'|translate}}</td>
                <td>
                  <input type="number" name="malePopulation" formControlName="malePopulation" class="px-control">
                </td>

                <td style="font-weight: 500; font-size: 13px">{{'DALIT_POPULATION'|translate}}</td>
                <td>
                  <input type="number" name="dalitPopulation" formControlName="dalitPopulation" class="px-control">
                </td>

                <td style="font-weight: 500; font-size: 13px">{{'JANAJATI_POPULATION'|translate}}</td>
                <td>
                  <input type="number" name="janajatiPopulation" formControlName="janajatiPopulation" class="px-control">
                </td>

              </tr>
              <br />
              <tr>
                <td style="font-weight: 500; font-size: 13px">{{'OTHERS'|translate}}</td>
                <td>
                  <input type="number" name="othersPopulation" formControlName="othersPopulation" class="px-control">
                </td>
              </tr>
            </table>
          </fieldset>
        </div> -->

        <!-- <div class="fieldset-container">
          <fieldset>
            <legend>{{'AGENCY_DETAILS' | translate}}</legend>
            <div class="row">
              <div class="col-md-3" formArrayName="implementingAgencyTypes">
                <div *ngFor="let agency of adForm.get('implementingAgencyTypes')['controls']; let i = index">
                  <div class="form-group" [formGroupName]="i">
                    <label> <span *ngIf="i == 0">{{'IMPL_AGENCY_TYPE' | translate}} *</span> <span *ngIf="i > 0">
                        {{ implementingAgencyTypeName[i] }}</span>
                    </label>
                    <select class="px-control" formControlName="implementingAgencyType" (change)="implementingAgencyChange($event, i)">
                      <option value="" [selected]="true">{{'CHOOSE' | translate}}</option>
                      <option *ngFor="let activity of implementingAgencyType[i]" [value]="activity.code">{{lang == 'en' ?
                        activity.name : activity.nameNepali}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3" formArrayName="executingAgencyTypes">
                <div *ngFor="let agency of adForm.get('executingAgencyTypes')['controls']; let i = index">
                  <div class="form-group" [formGroupName]="i">
                    <label> <span *ngIf="i == 0">{{'EXEC_AGENCY_TYPE' | translate}} *</span> <span *ngIf="i > 0">
                        {{ executingAgencyTypeName[i] }}</span>

                    </label>
                    <select class="px-control" formControlName="executingAgencyType" (change)="executingAgencyChange($event, i)">
                      <option value="" [selected]="true">{{'CHOOSE' | translate}}</option>
                      <option *ngFor="let activity of executingAgencyType[i]" [value]="activity.code">{{lang == 'en' ? activity.name
                        : activity.nameNepali}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div> -->
        <div class="fieldset-container">
          <fieldset>
            <legend>{{'ACT_OUTPUT_DETAILS' | translate}}</legend>
            <div class="row">
              <div class="col-md-3 text-right">
                <div class="form-group">
                  <label>{{'TOT_EST_COST' | translate}}({{'RS' | translate}}) <span style="color:red">*</span></label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <jqxInput formControlName="totalEstimatedCost" [width]="'100%'" [height]="25" [minLength]="3"
                    [placeHolder]="'ENTER_EST_COST' | translate" [theme]="'energyblue'"></jqxInput>

                </div>
              </div>
              <div *ngIf="totalRs!=''" class="col-md-3">
                <div class="form-group">
                  <p style="font-weight: bolder">कार्यक्रमको बजेटः {{totalRs | digitCommas}}</p>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-3 text-right">
                <div class="form-group">
                  <label>{{'PLANNED_START' | translate}}</label>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                    <jqxInput [theme]="'energyblue'" [placeHolder]="'YYYY-MM-DD'" [height]="25" [width]="'100%'" formControlName="plannedStartDate"></jqxInput>
                    <!-- <small *ngIf="!adForm.get('plannedStartDate').valid" style="color:red">
                      Date format :- 2075-01-01
                    </small> -->
                  </div>
                </div>
              <!-- <div class="col-md-3">
                <div class="form-group">
                  <label>{{'MONTH' | translate }}:</label>
                  <jqxComboBox #startMonthCombo [displayMember]="'id'" [valueMember]="'id'" [width]="'100%'" [source]="monthAdapter"
                    [placeHolder]="'CHOOSEU' | translate" [dropDownVerticalAlignment]="'top'"></jqxComboBox>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'YEAR' | translate}}</label>
                  <jqxComboBox #startYearCombo [width]="'100%'" [source]="yearAdapter" [placeHolder]="'CHOOSEU' | translate"
                    [dropDownVerticalAlignment]="'top'"></jqxComboBox>
                </div>
              </div> -->
              <div class="w-100"></div>
              <div class="col-md-3 text-right">
                <div class="form-group">
                  <label>{{'TOAL_DURATION' | translate}} <span style="color: red">*</span></label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'MONTH' | translate }}:</label>
                  <jqxInput formControlName="totalDurationMonth" [width]="'100%'" [height]="25" [minLength]="3"
                    [placeHolder]="'ENTER_MONTH' | translate" [theme]="'energyblue'"></jqxInput>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>{{'DAY' | translate }}:</label>
                  <jqxInput formControlName="totalDurationDays" [width]="'100%'" [height]="25" [minLength]="3"
                    [placeHolder]="'ENTER_DAY' | translate" [theme]="'energyblue'"></jqxInput>
                  <small *ngIf="!adForm.get('totalDurationDays').valid">
                    {{'MUST_BE_BETWEEN' | translate}}
                  </small>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <jqxButton style="margin-right: 5px;margin-top: 10px;" [width]="100" [height]="25" [theme]="'energyblue'"
                  [disabled]="!adForm.valid" (onClick)="save(adForm.value)">
                  {{'SAVE' | translate}}
                </jqxButton>
                <jqxButton style="margin-right: 5px;margin-top: 10px;" [width]="100" [height]="25" [theme]="'energyblue'"
                  (onClick)="closeForm()">
                  {{'CLOSE' | translate}}
                </jqxButton>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
