.info-box {
  color: #fff;
  margin-top: 29px;
  background: #e0e9f4;
  padding: 9px 15px;
}

.info-box .project-box {
  margin-bottom: 27px;
}

.info-box .project-box small {
  font-size: 0.8rem;
  color: #880000;
}

.info-box .project-box h3 {
  font-size: 2.8rem;
  color: #0278b5;
}

.header {
  border: 1px solid #a4bed4;
}

.header h1 {
  font-size: 1rem;
  padding: 0.5rem 0.3rem;
  margin-bottom: 0;
}

.detail-container {
  padding: 15px;
}

.detail-container .detail-title h2 {
  font-size: 1.2rem;
}

.ward-header {
  color: #000;
  margin-bottom: 20px;
  display: block;
  font-size: 1.4rem;
  text-transform: capitalize;
}
/*# sourceMappingURL=area-detail.component.css.map */