<div style="overflow: hidden; background: #fff;height: 100%;" id="attWindowContainer">
  <div class="header jqx-widget-header-energyblue">
    <h1>{{ 'DETAILS' | translate }}</h1>
  </div>
  <div class="detail-container" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div class="col-md-9" style="height: 100%;">
        <div class="detail-title">
          <h2>{{ ward }} {{ 'DETAILS' | translate }}</h2>
        </div>
        <div class="grid-container table-style" style="height: 100%;">
          <jqxGrid #myGrid [height]="'90%'" class="grid-class" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true"
            [autorowheight]="true" [editable]="true" [theme]="'energyblue'" [keyboardnavigation]="true">
          </jqxGrid>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info-box" style="margin-top: 4px; height: 100%" >
            <div class="row text-center" *ngIf="wardData">
            <div class="col-6">
                <div class="project-box">
                    <small>कूल परियाेजनाहरु</small>
                    <h3 class="nepali-digits">{{ wardData['total'] }}</h3>
                  </div>
            </div>
            <div class="col-6">
                <div class="project-box">
                    <small>पुर्ण भएको परियोजनाहरु</small>
                    <h3 class="nepali-digits">{{ wardData['Completed'] }}</h3>
                  </div>
            </div>
            <div class="col-6">
                <div class="project-box">
                    <small>चलिरहेको परियोजनाहरु</small>
                    <h3 class="nepali-digits">{{ wardData['Ongoing'] }}</h3>
                  </div>
            </div>
            <div class="col-6">
                <div class="project-box">
                    <small>सुरु हुन बाँकी योजनाहरु </small>
                    <h3 class="nepali-digits">{{ wardData['notStarted'] }}</h3>
                  </div>
            </div>
            <div class="col-6">
                <div class="project-box">
                    <small>त्याग गरिएको योजनाहरु</small>
                    <h3 class="nepali-digits">{{ wardData['Abandoned'] }}</h3>
                  </div>
            </div>
            <div class="col-6">
                <div class="project-box">
                    <small>स्थगित योजनाहरु </small>
                    <h3 class="nepali-digits">{{ wardData['suspanded'] }}</h3>
                  </div>
            </div>
            <div class="col-6">
                <div class="project-box">
                    <small>आगामि बर्षको लागि योजना  </small>
                    <h3 class="nepali-digits">{{ wardData['SpillOver'] }}</h3>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>