<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;">{{'BUDGET_ADDITION'|translate}}</h6>
    <div class="data-form">
      <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
        <form name="budgetTransferForm" class="form-style" [formGroup]="budgetTransferForm" id="budgetTransferForm">
          <fieldset>
            <legend>{{'BUDGET_ADDITION'|translate}}</legend>
            <table class="table-w-tooltip">
              <tr>
                <td>{{'DONOR'|translate}}
                </td>
                <td>
                  <nepali-input formControlName="donor" [width]="'100%'" [height]="25" [placeHolder]="'DONOR' | translate"
                    [inputClass]="'px-control'"></nepali-input>
                </td>
                <td> {{'ACTIVITY_NAME'|translate}} ({{'TO'|translate}})</td>
                <td>
                  <jqxComboBox  class="nepalify nepalify1" [height]="25" [source]="activityAdapter" [displayMember]="'activityName'"
                  [valueMember]="'id'" [theme]="'energyblue'" formControlName="budgetTo">
                  </jqxComboBox>
                  <!-- <select class="selectpicker select-class select-border" formControlName="budgetTo" style="width:160px;height:23px;">
                    <option [selected]="true" value="">{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let data of activityAdapter" [value]="data['id']">{{ data['activityName'] }}</option>
                  </select> -->
                </td>
                <td>{{'ADDITION_AMOUNT'|translate}}
                </td>
                <td>
                  <input formControlName="budgetAmt" [width]="'100%'" [height]="25" placeHolder="थप रकम" Class="px-control">
                </td>
                <td>
                    फाइल अप्लोड गर्नुहोस्
                </td>

                <td>
                    <input type="file" name="document"
                        (change)="handleFileInput($event)"
                        class="px-attachment"
                        multiple
                        accept=".png,.jpg,.pdf,.jpeg,.doc,.docx,.xlsx,.xls">
                </td>
                <td>{{'REMARKS'|translate}}
                </td>
                <td>
                  <nepali-input formControlName="remarks" [width]="'100%'" [height]="25" [placeHolder]="'REMARKS' | translate"
                    [inputClass]="'px-control'"></nepali-input>
                </td>
                <td *ngIf="!update">
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!budgetTransferForm.valid"
                    (onClick)="saveBtn(budgetTransferForm.value)">
                    {{'SAVE' | translate}}
                  </jqxButton>
                </td>
                <td *ngIf="update">
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!budgetTransferForm.valid"
                    (onClick)="updateBtn(budgetTransferForm.value)">
                    {{'UPDATE' | translate}}
                  </jqxButton>
                </td>
                <td *ngIf="update">
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                    <i class="fa fa-times"></i>{{'CANCEL' | translate}}
                  </jqxButton>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>
    </div>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <legend>{{'BUDGET_ADDITION'|translate}} {{'DETAILS'|translate}}</legend>
        <div class="grid-container table-style">
          <jqxGrid #myGrid [height]="'99.8%'" class="grid-class" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns"
            [pageable]="true" [autorowheight]="true" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'"
            [keyboardnavigation]="true">
          </jqxGrid>

        </div>
      </fieldset>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>