<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;"> अनुसूची १७ - २ रिपोर्ट </h6>
    <fieldset style="padding-bottom: 10px!important;">
      <legend>{{'ACTIVITY_DETAILS' | translate}}</legend>
      <div class="table-content" style="overflow-y: auto;height: 80vh;">
        <div class="grid-container table-style">
          <div class="button-container text-right">
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="exportReport()">
              {{'EXPORT_EXCEL' | translate}}
            </jqxButton>
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="printReport()">
              {{'PRINT' | translate}}
            </jqxButton>
          </div>
          <div id="reportContainer">
            <div class="table-container">
              <table border="1" class="table table-bordered table-striped">
                <tbody>
                  <tr>
                    <th [attr.colspan]="7"> अनुसूची – १७ . २ </th>
                  </tr>
                  <tr>
                    <th [attr.colspan]="7"> कार्यविधिको दफा ३६ को उपदफा (२) को खन्ड (ग) र दफा ३९ को </th>
                  </tr>
                  <tr>
                    <th [attr.colspan]="7"> उपदफा (५) को खन्ड (ख) र उपदफा (६) को खन्ड (क) संग सम्बन्धित </th>
                  </tr>
                  <tr>
                    <th [attr.colspan]="7"> एकिकृत सूचनामूलक तेस्रो प्रगति प्रतिवेदन </th>
                  </tr>
                  <tr>
                    <th [attr.colspan]="7" *ngIf="organizationMasterData && organizationMasterData[0]">
                      {{organizationMasterData[0]['officeName'] || ''}}</th>
                  </tr>
                  <tr>
                    <th [attr.colspan]="7" class="tleft"> आ.व.: <span
                        *ngIf="getReport && getReport[0] && getReport[0]['data'] && getReport[0]['data'][0] && getReport[0]['data'][0]['planYear']">
                        {{getReport[0]['data'][0]['planYear'] | displayNepaliDate }}
                      </span> </th>
                  </tr>
                  <tr>
                    <td colspan="7"> <b> क. स्थानीय भौतिक पूर्वाधार </b> </td>
                  </tr>
                  <tr>
                    <td> विवरण </td>
                    <td> ईकाई </td>
                    <td></td>
                    <td> निर्माण सम्पन्न (प्रतिवेदन गरिएको चौमासिक अवधिको) </td>
                    <td> प्रगति (निर्माणाधिन) प्रतिशतमा </td>
                    <td> आयोजनामा हालसम्म भएको खर्च रु. </td>
                    <td> लाभान्वित जनसंख्या </td>
                  </tr>
                  <ng-template ngFor let-i="index" let-searchData [ngForOf]="getReport">
                    <tr>
                      <td colspan="7"> <b>{{searchData.assetsName}}:</b> </td>
                    </tr>
                    <tr *ngFor="let data of searchData['data']; let j=index;">
                      <td>– {{data.subAssetsName}}</td>
                      <td> {{data.unit}} </td>
                      <td>{{data.quantity | digitCommas | displayNepaliDate }}</td>
                      <td>{{data.nirmanCompleted | digitCommas | displayNepaliDate }}</td>
                      <td>{{data.progress | digitCommas | displayNepaliDate }} ％ </td>
                      <td>{{data.totalExpenditure | digitCommas | displayNepaliDate }}</td>
                      <td>{{data.benefitedPopulation | digitCommas | displayNepaliDate }}</td>
                    </tr>
                  </ng-template>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </fieldset>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>