<div class="container-fluid">
  <div>
    <div class="box-container">
      <form name="ActivityFocusAreaMasterForm" [formGroup]="ActivityFocusAreaMasterForm">
        <fieldset>
          <legend>{{'AGENCY_TYPE_MASTER' | translate}}</legend>
          <input type="text" name="id" formControlName="id" hidden>
          <div class="row">
            <div class="col">
              <div class="grid-box-container">
                <jqxExpander [width]="'99%'" [height]="'100%'" [showArrow]="false" [toggleMode]="'none'" [theme]="'energyblue'">
                  <div>{{'AGENCY_TYPE_MASTER' | translate}}
                    <div style="margin-top: 10px">
                      <jqxButton (onClick)="RemoveOnClick()" [theme]="'energyblue'" [width]="160" [height]="25">{{'DELETE' | translate}}</jqxButton>
                    </div>
                  </div>
                  <div>
                    <jqxTreeGrid #groupTreeGrid [width]="'99.6%'" [height]="'99.4%'" (onRowSelect)="treeRowSelect($event)"
                      [source]="treeDataAdapter" class="grid-class" [pageable]="false" [columns]="treeColumns" [selectionMode]="'singleRow'"
                      [filterable]="true" [icons]="true" [incrementalSearch]="true" [theme]="'energyblue'" [filterMode]="'simple'">
                    </jqxTreeGrid>
                  </div>
                </jqxExpander>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <span *ngIf="selectedItem"> {{'SELECTED_AGENCY'|translate}} :
                      <strong> {{ selectedItem }}</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="clearSelection()">
                        {{'CLEAR'|translate}}
                      </jqxButton>
                    </span>
                    <strong *ngIf="!selectedItem"> {{'SELECT_PLANNING'|translate}} </strong>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>{{'AGENCY_TYPE_MASTER_NAMEENGLISH'|translate}}&nbsp;<span>*</span></label>
                    <jqxInput [width]="200" [height]="25" formControlName="name" [minLength]="3" [placeHolder]="'नाम प्रविष्ट गर्नुहोस'"
                      [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>{{'AGENCY_TYPE_MASTER_NAMENEPALI'|translate}}&nbsp;<span>*</span></label>
                    <nepali-input  name="nameNepali" formControlName="nameNepali" [width]="'100%'" [height]="'23px'" [placeHolder]="'ENTER_NAME' | translate" [inputClass]="'px-control'"></nepali-input>
                  </div>
                </div>

                <input formControlName="code" name="code" class="px-control" placeholder="Enter Code" hidden>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="">&nbsp;</label>
                    <jqxButton *ngIf="!update" style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!ActivityFocusAreaMasterForm.valid"
                      (onClick)="save(ActivityFocusAreaMasterForm.value)">
                      {{'SAVE'|translate}}
                    </jqxButton>
                    <jqxButton *ngIf="update" style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!ActivityFocusAreaMasterForm.valid"
                      (onClick)="updateBtn(ActivityFocusAreaMasterForm.value)">
                      {{'UPDATE'|translate}}
                    </jqxButton>
                    <jqxButton *ngIf="update" style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                      <i class="fa fa-times"></i>
                    </jqxButton>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <jqxGrid #activityAreaFocusGroupGrid [width]="'100%'" [source]="gridDataAdapter" [columns]="gridColumns"
                    [pageable]="false" [height]="360" class="grid-class" [autorowheight]="false" [theme]="'energyblue'" [selectionmode]="'checkbox'"
                    (onRowselect)="rowChange($event)" (onRowunselect)="rowUnChange($event)" [showtoolbar]="true"
                    [rendertoolbar]="gridRenderToolbar" [keyboardnavigation]="true">
                  </jqxGrid>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>