<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
    <div class="header">
      <h6 style="font-size:12px;">समयावधि सकिन लागेका योजनाहरु</h6>
      <div class="table-content">
        <fieldset style="padding-bottom: 10px!important;">
          <legend>समयावधि सकिन लागेका योजनाहरुकाे विवरण</legend>
          <div class="grid-container table-style">
            <div class="button-container text-right">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="printReport()">
                {{'PRINT' | translate}}
              </jqxButton>
            </div>
            <div id="reportContainer">
              <div class="table-container" style="overflow-y: auto;height: 396px;" *ngIf="SearchData.length>0">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>{{'SN' | translate}}</th>
                      <th>योजनाकाे नाम </th>
                      <th>काम सम्पन्न गर्नु पर्ने मिति</th>                    
                      <th>बाकीँ समयावधि</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-template ngFor let-i="index" let-data [ngForOf]="SearchData">
                      <tr *ngIf="data['remainingDays']>7" >
                        <td>{{ i + 1 | displayNepaliDate }}</td>
                        <td (click)="goto(data['id'])"> {{ data['activityName'] }} </td>
                        <td> {{ data['expectedCompletionDate']| displayNepaliDate }} </td>                      
                        <td style="color:rgb(230, 210, 27)"><b> {{ data['remainingDays'] }} </b></td>
                      </tr>
                      <tr *ngIf="data['remainingDays']<=7">
                        <td> {{ i + 1 | displayNepaliDate }}</td>
                        <td (click)="goto(data['id'])"> {{ data['activityName'] }} </td>
                        <td><b> {{ data['expectedCompletionDate'] | displayNepaliDate }} </b></td>                                            
                        <td  style="color:rgb(214, 9, 9)"><b> {{ data['remainingDays'] }} </b></td>
                      </tr>
                    
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>