<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:13px;">{{'VIEW_ACT'|translate}} </h6>
    <div *ngIf="ViewData" id="printContent">
      <div class="table-content">
        <div class="table-style">
          <fieldset style="padding-bottom: 10px!important;">
            <legend>{{'ACTIVITY_DETAILS'|translate}}</legend>
            <div class="plan-unit-type-details">
              <p>
                <b style="font-size:14px;">{{'ACTIVITY_FOCUS_AREA'|translate}}</b>
                <br />
                <span style="font-size:12px;">{{ViewData['focusAreaLevel1Name']}}</span>
                <br />
                <b style="font-size:14px;">{{'ACTIVITY_CATEGORY'|translate}}</b>
                <br />
                <span style="font-size:12px;">{{ViewData['focusAreaLevel2Name']}}</span>
                <br />
                <b style="font-size:14px;">{{'NAGAR_STHAR' |
                  translate}}/{{'WARD_STHAR' | translate}}</b>
                <br />
                <span style="font-size:12px;">{{ViewData['implementingAgencyTypeLevel1Name']}}</span>
                <br />
                <span *ngIf="ViewData['implementingAgencyTypeLevel2Name']">
                  <b style="font-size:14px;">{{ViewData['implementingAgencyTypeLevel1Name']}}</b>
                  <br />
                </span>
                <span *ngIf="ViewData['implementingAgencyTypeLevel2Name']"
                  style="font-size:12px;">{{ViewData['implementingAgencyTypeLevel2Name']}}
                  <br />
                </span>
                <span *ngIf="ViewData['implementingAgencyTypeLevel3Name']">
                  <b style="font-size:14px;">{{'EXEC_AGENCY_TYPE'|translate}}</b>
                  <br />
                </span>
                <span *ngIf="ViewData['implementingAgencyTypeLevel3Name']"
                  style="font-size:12px;">{{ViewData['implementingAgencyTypeLevel3Name']}}
                  <br />
                </span>
                <b style="font-size:14px;">{{'ACTIVITY_NAME'|translate}}</b>
                <br />
                <span style="font-size:12px;">{{ViewData['activityName']}}</span>
                <br />
                <b style="font-size:14px;">{{'ACTIVITY_TYPE'|translate}}</b>
                <br />
                <span style="font-size:12px;">{{ViewData['activityTypeName']}}</span>
                <br />
                <b style="font-size:14px;">ठेगाना</b>
                <br />
                <span style="font-size:12px;">{{ViewData['address']}}</span>
                <br />
                <b style="font-size:14px;">{{'ACTIVITY_DESC'|translate}}</b>
                <br />
                <span style="margin:0;font-size:12px;">{{ViewData['activityDescription']}}</span>
                <br />
                <b style="font-size:14px;">{{'ACT_EXCLUSIVE_FOR_WOMAN'|translate}}</b>
                <br />
                <span style="font-size:12px;">
                  <span *ngIf="ViewData['activityForWomen']!='1'&&
                    ViewData['activityForChildren']!='1'">कसैमा लक्षित
                    होइन
                  </span>
                  <span
                    *ngIf="ViewData['activityForWomen']=='1'&&
                    ViewData['activityForChildren']=='1'">{{'BOTH'|translate}}</span>
                  <span
                    *ngIf="ViewData['activityForWomen']=='1'&&
                    ViewData['activityForChildren']!='1'">{{'WOMEN'|translate}}</span>
                  <span
                    *ngIf="ViewData['activityForWomen']!='1'&&
                    ViewData['activityForChildren']=='1'">{{'CHILDREN'|translate}}</span>
                </span>
                <br />
                <b style="font-size:14px;">{{'ACT_EXCLUSIVE_FOR_DIFF_ABLED'|translate}}</b>
                <br />
                <span style="font-size:12px;">
                  <span *ngIf="ViewData['activityForAbled']=='N'">{{'NO'|translate}}</span>
                  <span *ngIf="ViewData['activityForAbled']=='Y'">{{'YES'|translate}}</span>
                </span>
                <br />
                <b style="font-size:14px;">{{'ACT_EXPECTED_TO_ENHANCE'|translate}}</b>
                <br />
                <span style="font-size:12px;">
                  <span *ngIf="ViewData['activityOpportunities']=='N'">{{'NO'|translate}}</span>
                  <span *ngIf="ViewData['activityOpportunities']=='Y'">{{'YES'|translate}}</span>
                </span>
                <br />
                <b style="font-size:14px;">{{'ACT_PART_OF_DISASTER'|translate}}</b>
                <br />
                <span style="font-size:12px;">
                  <span *ngIf="ViewData['disasterManagementPlan']=='N'">{{'NO'|translate}}</span>
                  <span *ngIf="ViewData['disasterManagementPlan']=='Y'">{{'YES'|translate}}</span>
                </span>
                <br />
                <b style="font-size:14px;">{{'ACT_COSTLESS'|translate}}</b>
                <br />
                <span style="font-size:12px;">
                  <span *ngIf="ViewData['costlessActivity']=='N'">{{'NO'|translate}}</span>
                  <span *ngIf="ViewData['costlessActivity']=='Y'">{{'YES'|translate}}</span>
                </span>
                <br />
                <b style="font-size:14px;">{{'ACTIVITY_FOR'|translate}}</b>
                <br />
                <span style="font-size:12px;">{{ViewData['activityForName']}}</span>
                <br />

                <b style="font-size:14px;"
                  *ngIf="ViewData['focusAreaLevel3Name']">{{'ACTIVITY_SUBCATEGORY'|translate}}</b>
                <br />
                <span style="font-size:12px;">{{ViewData['focusAreaLevel3Name']}}</span>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="table-content">
          <div class="table-style">
            <fieldset style="padding-bottom: 10px!important;">
              <legend>{{'ACTIVITY_TYPEDETAILS'|translate}} </legend>
              <div class="plan-unit-type-details">
                <b style="font-size:14px;">{{'ACTIVITY_TYPEDETAILS'|translate}}</b>
                <p style="font-size:12px;">
                  <span *ngIf="ViewData['activityTypeDetails']=='FW'">{{'FRESH_WORK'|translate}}</span>
                  <span *ngIf="ViewData['activityTypeDetails']=='MW'">{{'MAINTENANCE_WORK'|translate}}</span>
                  <span *ngIf="ViewData['activityTypeDetails']=='UW'">{{'UPGRADATION_WORK'|translate}}</span>
                </p>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="table-content">
          <div class="table-style">
            <fieldset style="padding-bottom: 10px!important;">
              <legend>{{'TOT_EST_COST'|translate}}({{'RS'|translate}})</legend>
              <div class="plan-unit-type-details">
                <b style="font-size:14px;">{{'TOT_EST_COST'|translate}}({{'RS'|translate}})</b>
                <p style="font-size:12px;">{{ViewData['totalEstimatedCost'] |digitCommas}}</p>
                <p style="font-size:12px;">
                  <b style="font-size:14px;"> {{'PLANNED_START' | translate}}
                  </b>
                  {{ViewData['plannedStartDate']}}
                </p>
                <b style="font-size:14px;">{{'TOAL_DURATION'|translate}}</b>
                <span style="font-size:12px;">{{ViewData['totalDurationMonth']}}
                  {{'MONTH'|translate}}
                  <span *ngIf="ViewData['totalDurationDays'] != '0'">{{ViewData['totalDurationDays']}} {{'DAY'|translate}}</span>
                </span>
                <div class="data-table">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>{{'PLAN_YEAR'|translate}}</th>
                        <th>{{'TOT_EST_COST'|translate}}({{'RS'|translate}})</th>
                        <th>{{'AC_OUTPUT_PARA'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ViewData['planYear']}}</td>
                        <td>{{ViewData['totalEstimatedCost'] |digitCommas}}</td>
                        <td>
                          <span *ngIf="ViewData['outputType']=='CB'">
                            {{'CAPACITY_BUILDING'|translate}}
                          </span>
                          <span *ngIf="ViewData['outputType']=='SD'">
                            {{'SERVICE_DETAILS'|translate}}
                          </span>
                          <span *ngIf="ViewData['outputType']=='WOA'">
                            {{'AC_OUTPUT_PARA'|translate}} {{'ASSET'|translate}}
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br>
                <br>
                <div class="data-table" *ngIf="serviceDetail &&
                  serviceDetail['type'] == 'ServiceDetails'">
                  <b style="font-size:14px;">{{'SERVICE_DETAILS'|translate}}</b>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>{{'SERVICES'|translate}}</th>
                        <th>{{'DURATION_SERVICES'|translate}}
                          ({{'INDAY'|translate}})</th>
                        <th>{{'TOT_BENEFICIAL'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ serviceDetail['detail'][0].service.nameNepali }}</td>
                        <td>{{ serviceDetail['detail'][0].durationOfService }}</td>
                        <td>{{
                          serviceDetail['detail'][0].totalExpectedBeneficiaries
                          }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="data-table" *ngIf="serviceDetail &&
                  serviceDetail['type'] == 'WorkOutputAsset'">
                  <b style="font-size:14px;">{{'WORK_ASSET'|translate}} -
                    {{'ASSET'|translate}} </b>
                  <table border="1" style="width: 100%;">
                    <thead>
                      <th>सम्पति प्रकार</th>
                      <th>सम्पति वर्गीकरण</th>
                      <th>सम्पति उपवर्गीकरण</th>
                      <th>सम्पति नाम</th>
                      <th>सम्पतिको कुल संख्या</th>
                      <th>सम्पति इकाई</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of propertyDetails">
                        <td>{{data?.assetType.nameNepali}}</td>
                        <td>{{data?.assetCategory.assetsName}}</td>
                        <td>{{data?.assetSubCatagory.assetsName}}</td>
                        <td>{{data?.assetName}}</td>
                        <td>{{data?.totalNoAsset |digitCommas}}</td>
                        <td>{{data?.unitParameter}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="data-table" *ngIf="serviceDetail &&
                  serviceDetail['type'] == 'CapacityBuilding'">
                  <b style="font-size:14px;">{{'CAPACITY_BUILDING'|translate}}</b>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>{{'TRAINING_CATEGORY'|translate}}</th>
                        <th>{{'ORGANISED_BY'|translate}}</th>
                        <th>{{'SUB_TRAINING'|translate}}</th>
                        <th>{{'TOT_TRAINEE'|translate}}</th>
                        <th>{{'TOT_DURATION'|translate}}({{'INDAY'|translate}})</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{
                          serviceDetail['detail'][0]?.trainingCatagory?.nameNepali
                          }}</td>
                        <td>{{ serviceDetail['detail'][0].organizedBy.nameNepali
                          }}</td>
                        <td>{{ serviceDetail['detail'][0].subjectOfTraining }}</td>
                        <td>{{ serviceDetail['detail'][0].totalTrainess }}</td>
                        <td>{{ serviceDetail['detail'][0].totalDuration }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div id="hideDiv" style="text-align: center;margin-top: 10px; margin-bottom: 15px;">
          <jqxButton style="margin-right: 5px;" [width]="100"
            [theme]="'energyblue'" (onClick)="Close()">
            {{'CLOSE'|translate}}
          </jqxButton>
          <jqxButton *ngIf="ViewData" #button [width]='120' [height]='23'
            (onClick)="printData()">
            प्रिन्ट गर्नुहोस्
          </jqxButton>
        </div>
      </div>
    </div>
  </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'"
    [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
    [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'"
    [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
    [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
    [width]="100" [height]="60">
  </jqxLoader>