<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;">{{'ACTIVITY_REPORT' | translate}}</h6>
    <div class="data-form">
      <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
        <form name="activityForm" class="form-style" [formGroup]="activityForm" id="activityForm">
          <fieldset>
            <legend>{{'SEARCH_BOX' | translate}}</legend>
            <table class="table-w-tooltip">
              <tr>
                <td>{{'PLAN_YEAR' | translate}} *</td>
                <td>
                  <select formControlName="planYear" class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <option [selected]="true" value=''>{{'CHOOSEU' | translate}}</option>
                    <option *ngFor="let planYear of planYearAdapter" [value]="planYear['yearCode']">
                      {{planYear['yearName']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_FOR' | translate}}</td>
                <td>
                  <select formControlName="activityFor" class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityAdapter" [value]="data['id']">
                      {{lang == 'ne' ? data['nameNepali'] : data['name']}}</option>
                  </select>
                </td>
                <td>{{'ACTIVITY_FOCUS_AREA' | translate}} </td>
                <td>
                  <select formControlName="activityFocusArea" (change)="LoadActivityCategory()"
                    class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityFocusAreaAdapter" [value]="data['focusCode']">
                      {{lang == 'ne' ? data['nameNepali'] : data['focusName']}}</option>
                  </select>
                </td>
                <td>{{'SUB_CATEGORY' | translate}} </td>
                <td>
                  <select formControlName="activityCategory" class="selectpicker select-class select-border"
                    style="width:160px;height:23px;">
                    <option [selected]="true" value="">{{'ALL' | translate}}</option>
                    <option *ngFor="let data of activityCategoryAdapter" [value]="data['focusCode']">
                      {{lang == 'ne' ? data['nameNepali'] : data['focusName']}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>{{'YOJANA_STHAR' | translate}} </td>
                <td>
                  <select class="selectpicker select-class select-border" (change)="implementingAgencyChange($event)"
                    formControlName="parent" style="width:160px;height:23px;">
                    <option value="" [selected]="true">{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let activity of agencyType" [value]="activity.code">
                      {{lang == 'en' ? activity.name : activity.nameNepali}}</option>
                  </select>
                </td>
                <td *ngIf="childType.length>0">{{agencyName}} </td>
                <td *ngIf="childType.length>0">
                  <select class="selectpicker select-class select-border" formControlName="child"
                    style="width:160px;height:23px;">
                    <!-- <option value="" [selected]="true">{{'CHOOSE' | translate}}</option> -->
                    <option *ngFor="let activity of childType" [value]="activity.code">
                      {{lang == 'en' ? activity.name : activity.nameNepali}}</option>
                  </select>
                </td>
                <td>
                    सेवाको प्रकार
                </td>
                <td>
                    <select formControlName="workServiceType"
                    class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <option [selected]="true" value=''>{{'CHOOSEU'|translate}}</option>
                    <option *ngFor="let data of workServiceTypeAdapter" [value]="data['name']">{{data['id']}}</option>
                  </select>
                </td>

                <td>{{'ACTIVITY_NAME' | translate}}
                </td>
                <td>
                  <!-- [placeHolder]="'ENTER_NAME' | translate" -->
                  <jqxInput [placeHolder]="'ENTER_NAME' | translate" class="nepalify name" [theme]="'energyblue'"
                    [height]="23" [width]="160" formControlName="activityName"></jqxInput>
                </td>
                <td>
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!activityForm.valid"
                    (onClick)="SearchData(activityForm.value)">
                    {{'SEARCH' | translate}}
                  </jqxButton>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>
    </div>
    <div class="table-content">
      <fieldset style="padding-bottom: 10px!important;">
        <legend>{{'ACTIVITY_REPORT_DETAILS' | translate}}</legend>
        <div class="grid-container table-style">
          <div class="button-container text-right">
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!activityForm.valid"
              (onClick)="exportReport()">
              {{'EXPORT_EXCEL' | translate}}
            </jqxButton>
            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!activityForm.valid"
              (onClick)="printReport()">
              {{'PRINT' | translate}}
            </jqxButton>
          </div>
          <div id="reportContainer" style="overflow-y: auto;height: 396px;">
            <div class="table-container">
              <p style="text-align: center;font-weight: bold">याेजना रिपाेर्ट</p>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th rowspan="2">{{'SN' | translate}}</th>
                    <th rowspan="2">{{'FOCUS_AREA' | translate}}</th>
                    <th rowspan="2">{{'TOT_NO_ACTIVITY' | translate}}</th>
                    <th rowspan="2">{{'TOTAL_AMOUNT' | translate}}</th>
                    <th rowspan="1" colspan="7" style="text-align:center;">{{'STATUS' | translate}}</th>
                  </tr>
                  <tr>
                    <th>{{ 'NOT_STARTED' | translate }}</th>
                    <th>{{ 'ONGOING' | translate }}</th>
                    <th>{{ 'COMPLETED' | translate }}</th>
                    <th>{{ 'ABANDONED' | translate}}</th>
                    <th>{{ 'SPILL_OVER' | translate }}</th>
                    <th>{{ 'SUSPENDED' | translate }}</th>
                    <th>{{ 'KARMAGAT' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of SearchDatas; let i = index;">
                    <td> {{ i + 1 | displayNepaliDate }}</td>
                    <td> {{ data['activityFocusArea'] }} </td>
                    <td> {{ data['total'] | displayNepaliDate }} </td>
                    <td> {{ data['totalAmount'] | digitCommas | displayNepaliDate }} </td>
                    <td> {{ data['notStarted'] }} </td>
                    <td> {{ data['Ongoing'] }} </td>
                    <td> {{ data['Completed'] | displayNepaliDate }} </td>
                    <td> {{ data['Abandoned'] | displayNepaliDate }} </td>
                    <td> {{ data['SpillOver'] | displayNepaliDate }} </td>
                    <td> {{ data['Suspended'] | displayNepaliDate }} </td>
                    <td> {{ data['Kramagat']  | displayNepaliDate }} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
  [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
