<div style="padding-right: 100px; padding-left: 100px; padding-top: 20px;">
    <jqxButton
        style="float: right;"
        [width]="100"
        [theme]="'energyblue'"
        (onClick)="close()"
    >
        बन्द गर्नुहोस्
    </jqxButton>
    <jqxButton
        style="float: right; margin-right: 15px;"
        [width]="100"
        [theme]="'energyblue'"
        (onClick)="print()"
    >
        प्रिन्ट गर्नुहोस्
    </jqxButton>
</div>
<div id="print-section" style="padding: 100px;">
    <!-- <div style="height:150px;"> -->
    <form name="foForm" [formGroup]="foForm" id="foForm">
        <app-letterhead></app-letterhead>
        <!-- </div> -->
        <div style="height:50px;">
            <div style="float:left;width:49%">
                <p style="text-align:left">
                    प.स :{{ planYear | displayNepaliDate }} <br />
                </p>

                <div style="float:left;width:49%" class="hide_div">
                    <p style="text-align:left">
                        च .नं. :
                        <input
                            type="text"
                            formControlName="chalaniNo"
                            class="form-style-4"
                        />
                        <br />
                    </p>
                </div>
                <div style="float:left;width:49%;" class="show_div">
                    <p style="text-align:left">
                        च .नं. : {{ foForm.value.chalaniNo }} <br />
                    </p>
                </div>

                <!-- <div class="hide_div">
            <br/>च .नं. :
            <input type="text" formControlName="chalaniNo" class="form-style-4"></div>
            <div class="show_div">च .नं. : {{formAccount.value.chalaniNo}}</div> -->
            </div>
            <div style="float:right;width:49%;" class="hide_div">
                <p style="text-align:right;">
                    मिति:
                    <input
                        type="text"
                        formControlName="date"
                        class="form-style-4"
                    />
                </p>
            </div>
            <div style="float:right;width:49%;" class="show_div">
                <p style="text-align:right;">
                    मिति: {{ foForm.value.date | displayNepaliDate }}
                </p>
            </div>
        </div>
        <h5 style="clear:both;text-align:center;">
            विषय :
            <b>कार्य सम्पन्न प्रमाणित बारेमा ।</b>
        </h5>
        <p><b>जो जस संग सम्बन्धित छ , </b></p>
        <div class="show_div">
            <p style="line-height:1.5">
                उपरोक्त सम्बन्धमा यस {{ heading && heading.officeName }}को श्री
                <b>{{ activityName }} </b>कार्य त्यस
                <b>{{ consumerCommitteOrContractCompany }}</b> ले मिति
                <b>{{ foForm.value.workStartdate | displayNepaliDate }}</b>
                देखि सुरु गरि मिति
                <b>{{
                    foForm.value.workCompletionDateTime | displayNepaliDate
                }}</b>
                मा कार्य सम्पन्न गरेको व्यहोरा जानकारी गराऊदछौ l
            </p>
            <p
                *ngIf="
                    resultDatas.length > 0 &&
                    resultDatas[0] &&
                    resultDatas[0]['workCompletionStatement'] &&
                    resultDatas[0]['workCompletionStatement'] != null &&
                    resultDatas[0]['workCompletionStatement'] != 'null'
                "
                style="margin-top:30px;"
            >
                <b>योजनाको परिणाम:</b><br />
                <span *ngFor="let data of resultDatas"
                    >{{ data['workCompletionStatement'] || '' }} <br
                /></span>
            </p>
            <p style="clear:both;margin-top:200px;float:right" class="show_div">
                .......................................
                <br />
                {{ foForm.value.prasasan }}<br />
                {{ foForm.value.prasasanPost }}
            </p>
        </div>
        <div class="hide_div">
            <p style="line-height:1.5">
                उपरोक्त सम्बन्धमा यस {{ heading && heading.officeName }}को श्री
                <b>{{ activityName }} </b>कार्य त्यस
                <b>{{ consumerCommitteOrContractCompany }}</b> ले मिति
                <input
                    type="text"
                    formControlName="workStartdate"
                    class="form-style-4"
                />
                देखि सुरु गरि मिति
                <input
                    type="text"
                    formControlName="workCompletionDateTime"
                    class="form-style-4"
                />
                मा कार्य सम्पन्न गरेको व्यहोरा जानकारी गराऊदछौ l
            </p>
            <p
                *ngIf="
                    resultDatas.length > 0 &&
                    resultDatas[0] &&
                    resultDatas[0]['workCompletionStatement'] &&
                    resultDatas[0]['workCompletionStatement'] != null &&
                    resultDatas[0]['workCompletionStatement'] != 'null'
                "
                style="margin-top:30px;"
            >
                <b>योजनाको परिणाम:</b><br />
                <span *ngFor="let data of resultDatas"
                    >{{ data['workCompletionStatement'] || '' }} <br
                /></span>
            </p>
            <p style="clear:both;margin-top:100px;float:right">
                <nepali-input
                    formControlName="prasasan"
                    [inputClass]="'form_change'"
                    [width]="'250px'"
                ></nepali-input>
                <br />
                <nepali-input
                    formControlName="prasasanPost"
                    [inputClass]="'form_change'"
                    [width]="'250px'"
                ></nepali-input>
                <br />
            </p>
        </div>

        <!-- <p style="clear:both;float:right">प्रमुख प्रसाशकिय अधिकृत </p> -->
    </form>
</div>
