<div style="overflow: hidden;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;padding: 10px;"><b>{{'MEASUREMENT_BOOK_AND_BILL_OF_QTY_REPORT' | translate}}</b></h6>
    <div class="data-form">
      <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
        <form name="searchForm" class="form-style" [formGroup]="searchForm" id="searchForm">
          <fieldset class="jqx-widget-header-energyblue">
            <legend>{{'SEARCH_BOX' | translate}}</legend>
            <table class="table-w-tooltip">
              <tr>
                <td>{{'PLAN_YEAR' | translate}} *</td>
                <td>
                  <select formControlName="planYear" class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <option [selected]="true" value=''>{{'CHOOSEU' | translate}}</option>
                    <option *ngFor="let planYear of planYearAdapter" [value]="planYear['yearCode']">{{planYear['yearName']}}</option>
                  </select>
                </td>
                <td> {{'ACTIVITY_NAME'|translate}}</td>
                <td>
                  <jqxComboBox #myComboBox [width]="500" (onChange)="comboBoxOnChange($event)" [source]="activityAdapter"
                    [displayMember]="'name'" [valueMember]="'id'">
                  </jqxComboBox>
                </td>
                <td>
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!searchForm.valid" (onClick)="SearchData(searchForm.value)">
                    {{'SEARCH' | translate}}
                  </jqxButton>
                </td>
                <td>
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="printData()">
                    {{'PRINT'|translate}}
                  </jqxButton>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>
    </div>

    <div id="printContent">
      <div class="container exam-triplicate" style="page-break-after:always;">
        <div class="row">
          <div class="col-md-12">
            <div style="display:block;">
              <div class="logo-top" style="display:inline-block; width:40%;text-align:left;vertical-align: top;">
                <img src="assets/images/logo_mun.png" style="width: 100px; height: auto;">
              </div>
              <div style="display:inline-block; width:49%;text-align:left;">
                <div class="univ-title">
                  <p style="font-size: 16px;">
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;{{organizationDta && organizationDta['officeName']}}</b></p>
                  <p style="font-size: 19px;">
                    <b>{{organizationDta && organizationDta['orgName']}}</b>
                  </p>
                  <p style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{organizationDta && organizationDta['municipality']}}, {{organizationDta &&
                    organizationDta['district']}}
                  </p>
                  <p style="font-size: 14px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;
                    स्था: {{organizationDta && organizationDta['estYear']}}</p>
                </div>
              </div>
            </div>
            <div style="width:100%;display:block;"></div>
            <div class="univ-title" style="text-align:left">
              <p style="font-size: 14px;text-align: center;"><b>Measurement Book And Bill of Qtty</b></p>
              <div class="row">
                <div class="col-md-6">
                  <p style="font-size: 14px;"> Fiscal Year:-</p>
                  <p style="font-size: 14px;">Name of Project:-</p>
                  <p style="font-size: 14px;">Location:-</p>
                </div>
                <div class="col-md-6" style="text-align:right;">
                  <p style="font-size: 14px;">मिति :-</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered" style="font-size:11px;">
              <thead>
                <tr>
                  <th>S.N.</th>
                  <th>Description of Works</th>
                  <th>No.</th>
                  <th>Length</th>
                  <th>Breadth</th>
                  <th>Height</th>
                  <th>Quantity</th>
                  <th>Unit</th>
                  <th>Rate</th>
                  <th>Amount</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <ng-template ngFor let-i="index" let-searchData [ngForOf]="SearchDatas">
                  <tr *ngFor="let dataSec of searchData['data']; let j=index;">
                    <td>
                      <span *ngIf="j==0">{{searchData.sn}}</span>
                      <span *ngIf="j!=0">&nbsp;</span>
                    </td>
                    <td>
                      <span *ngIf="j==0"><b>{{searchData.descriptionOfWork}}</b></span>
                      <span *ngIf="j!=0">&nbsp;</span>
                    </td>
                    <td>{{dataSec['no']}}</td>
                    <td>{{dataSec['length']}}</td>
                    <td>{{dataSec['breadth']}}</td>
                    <td>{{dataSec['heigth']}}</td>
                    <td>{{dataSec['qty']}}</td>
                    <td>&nbsp;</td>
                    <td>{{dataSec['rate']}}</td>
                    <td>{{dataSec['amount']}}</td>
                    <td>{{dataSec['remarks']}}</td>
                  </tr>
                  <tr>
                    <td colspan="3" style="text-align:right;"><b>Total</b></td>
                    <td><b>{{searchData.totalLength}}</b></td>
                    <td><b>{{searchData.totalBreadth}}</b></td>
                    <td><b>{{searchData.totalHeight}}</b></td>
                    <td><b>{{searchData.totalQty}}</b></td>
                    <td><b>{{searchData.unit}}</b></td>
                    <td><b>{{searchData.totalRate}}</b></td>
                    <td><b>{{searchData.totalAmount}}</b></td>
                    <td>&nbsp;</td>
                  </tr>
                </ng-template>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td colspan="4" style="text-align:right;"><b>Sub-Total</b></td>
                  <td><b>{{Subtotal}}</b></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <table class="table table-bordered" style="font-size:11px;">
              <tr>
                <td><b>A</b></td>
                <td><b>Total Estimated Amount</b></td>
                <td><b>{{Subtotal}}</b></td>
              </tr>
              <tr>
                <td><b>B</b></td>
                <td><b>People Participation</b></td>
                <td><b>{{extraDatas && extraDatas['B']}}</b></td>
              </tr>
              <tr>
                <td><b>C</b></td>
                <td><b>Total Office Part</b></td>
                <td><b>{{extraDatas && extraDatas['C']}}</b></td>
              </tr>
              <tr>
                <td><b>D</b></td>
                <td><b>Contangency @ 3% of Allocated Budgets</b></td>
                <td><b>{{extraDatas && extraDatas['D']}}</b></td>
              </tr>
              <tr>
                <td><b>E</b></td>
                <td><b>Income Tax @ 1.5% of Allocated Budgets</b></td>
                <td><b>{{extraDatas && extraDatas['E']}}</b></td>
              </tr>
              <tr>
                <td><b>F</b></td>
                <td><b>Users Committee Will get after compilation</b></td>
                <td><b>{{extraDatas && extraDatas['F']}}</b></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p style="font-size:12px;text-transform: capitalize;">In Words:- {{SubtotalWord}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>