.grid-container{
    height: calc(100vh - 105px);
    width: 100%;
}
.button-container{
    background: #e0e9f5;
    padding: 3px;
}
.exam-triplicate{
    background: #fff;
    margin-bottom: 20px;
    .univ-title p {
        margin: 0 0 0px;      
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #eceeef;
        background-color: transparent;
    }
    .table-bordered th, .table-bordered td {
        border: 1px solid #eceeef;
        padding: 3px;
    }
}
.form-style-4 
    {
        background: transparent !important;
        border: none !important;
        border-bottom: 1px dashed rgb(10, 10, 10) !important;
        width: auto !important;
        outline: none !important;
        padding: 0px 0px 0px 0px !important;
        display: inline-block !important;
    }
    // .print_hide{
    //     display: block !important;
    // }
    .print_show{
        display: none !important;
    }