@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// body{
//   background-color: #bdc3c7 !important;
// }
// .table-fixed{
//   background-color: #f3f3f3 !important;
//   tbody{
//     overflow-y:auto !important;
//     }
//   thead,tbody,tr,td,th{
//     display:block !important;
//   }
//   tbody{
//     td{
//       float:left !important;
//     }
//   }
//   thead {
//     tr{
//       th{
//         float:left;
//        background-color: #f39c12 !important;
//        border-color:#e67e22 !important;
//       }
//     }
//   }
// }

@font-face {
    font-family: NotoSerif;
    src: url('./assets/font/NotoSerifDevanagari-Regular.ttf');
}

@font-face {
    font-family: NotoSerif;
    src: url('./assets/font/NotoSerifDevanagari-Bold.ttf');
    font-weight: bold;
}

* {
    font-family: NotoSerif;
}
