<fieldset>
    <legend>{{ 'ACT_DETAILS' | translate }}</legend>
    <table>
        <tr>
            <td>{{ 'ACTIVITY' | translate }}:</td>
            <td>{{ activityData?.activityName }}</td>
        </tr>
        <tr>
            <td>{{ 'YEAR' | translate }}:</td>
            <td>{{ activityData?.planYear }}</td>
        </tr>
        <tr>
            <td>योजनाको प्रकार:</td>
            <td>{{ getOutputType(activityData?.outputType) }}</td>
        </tr>
    </table>
</fieldset>

<fieldset *ngIf="activityData">
    <legend>योजना परिणाम सच्याउनुहोस</legend>
    <div [ngSwitch]="activityData?.outputType">
        <div *ngSwitchCase="'WOA'">
            <form name="workOutputAssetForm" class="form-style"
            [formGroup]="getOutputType('WOA', 'formControl')" id="workOutputAssetForm">
            <div class="table-content">
              <div class="table-style">
                  <input type="text" name="id" formControlName="id" hidden>
                  <div class="table-style">
                    <fieldset>
                      <legend>{{'ASSET'|translate}} {{'DETAILS'|translate}}</legend>
                      <table class="table-w-tooltip">
                        <tr>
                          <td>सम्पत्ति प्रकार<span style="color:red">*</span></td>
                          <td>{{'ASSET_CATEGORY'|translate}}<span
                              style="color:red">*</span></td>
                          <td>सम्पत्ति उपवर्गीकरण</td>
                          <td>{{'ASSET'|translate}} {{'NAME'|translate}}
                            <span style="color:red">*</span></td>
                          <td>{{'TOT_ASSET'|translate}}<span style="color:red">*</span></td>
                          <td>{{'ASSET_UNIT'|translate}} <span
                              style="color:red">*</span></td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tbody formArrayName="assetDetails">
                          <tr *ngFor="let reqItem of
                            getOutputType('WOA', 'formControl').get('assetDetails')['controls'];let
                            i= index" [formGroupName]="i">
                            <td>
                              <select formControlName="assetType"
                                class="selectpicker select-class
                                select-border"
                                (change)="assetChange()"
                                style="width:200px;height:23px;">
                                <option value=''>{{'CHOOSE'|translate}}</option>
                                <option *ngFor="let data of assetTypeAdapter"
                                  [value]="data['id']">{{data['nameNepali']}}</option>
                              </select>
                            </td>
                            <td>
                              <select formControlName="assetCategory"
                                (change)="assetCategory($event,i);"
                                class="selectpicker select-class
                                select-border"
                                style="width:200px;height:23px;">
                                <option value=''>{{'CHOOSE'|translate}}</option>
                                <option *ngFor="let data of
                                  assetCreatedAdapter"
                                  [value]="data['assetsCode']">{{data['assetsName']}}</option>
                              </select>
                            </td>
                            <td>
                              <select formControlName="assetSubCatagory"
                                class="selectpicker select-class
                                select-border"
                                style="width:200px;height:23px;">
                                <option value=''>{{'CHOOSE'|translate}}</option>
                                <option *ngFor="let data of
                                  assetSubCategoryAdapter[i]"
                                  [value]="data['assetsCode']">{{data['assetsName']}}</option>
                              </select>
                            </td>
                            <td>
                              <nepali-input name="assetName"
                                formControlName="assetName" [height]="23"
                                [width]="160"
                                [placeHolder]="'ENTER_ASSETS_NAME' |
                                translate"
                                [inputClass]="'px-control'"></nepali-input>
                            </td>
                            <td>
                              <input type="number" class="px-control"
                                formControlName="totalNoAsset">
                            </td>
                            <td>
                              <select formControlName="unitParameter"
                                class="selectpicker select-class
                                select-border"
                                style="width:200px;height:23px;">
                                <option [selected]="true" value=''>{{'CHOOSE'|translate}}</option>
                                <option *ngFor="let data of planAdapter"
                                  [value]="data['nameNepali']">{{data['nameNepali']}}</option>
                              </select>
                            </td>
                            <td>
                              <a (click)="addItem()" class="btn btn-sm
                                btn-primary px-btn">
                                <i class="fa fa-fw fa-plus"
                                  aria-hidden="true"></i>

                              </a>
                            </td>
                            <td>
                              <button type="button"
                                (click)="removeItem(i)" class="btn btn-sm
                                btn-danger"
                                [disabled]="getOutputType('WOA', 'formControl').get('assetDetails').length
                              <2">
                                <i class="fa fa-times fa-fw"
                                  aria-hidden="true"></i>

                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </fieldset>
                  </div>
                  <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                      <legend>{{'WORK_ASSET'|translate}} - सम्पत्ति रहेको स्थान</legend>
                      <div class="plan-unit-type-details">
                        <table class="table-w-tooltip">
                          <tr>
                            <td>सम्पत्ति रहेको स्थान <span style="color:red">*</span></td>
                            <td>
                              <label for="office"></label>
                              <input name="assetLocation" type="radio"
                                value="Office" formControlName="assetLocation">
                              {{'OFFICE'|translate}} &nbsp;&nbsp;&nbsp;
                              <input name="assetLocation" type="radio"
                                value="Area" formControlName="assetLocation">
                              {{'AREA'|translate}}
                            </td>
                          </tr>
                        </table>
                      </div>
                    </fieldset>
                  </div>
              </div>
            </div>
          </form>
        </div>
        <div *ngSwitchCase="'CB'">
            <form
                name="capacityBuildingForm"
                class="form-style"
                [formGroup]="getOutputType('CB', 'formControl')"
                id="capacityBuildingForm"
            >
                <table class="table-w-tooltip">
                    <tr>
                        <td>
                            {{ 'TRAINING_CATEGORY' | translate
                            }}<span style="color:red">*</span>
                        </td>
                        <td>
                            <select
                                formControlName="trainingCatagory"
                                class="selectpicker select-class select-border"
                                style="width:200px;height:23px;"
                            >
                                <option [selected]="true" value="">{{
                                    'CHOOSE' | translate
                                }}</option>
                                <option
                                    *ngFor="let data of trainingCategoryAdapter"
                                    [value]="data['id']"
                                    >{{ data['nameNepali'] }}</option
                                >
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ 'ORGANISED_BY' | translate }}
                            <span style="color:red">*</span>
                        </td>
                        <td>
                            <select
                                formControlName="organizedBy"
                                class="selectpicker select-class select-border"
                                style="width:200px;height:23px;"
                            >
                                <option [selected]="true" value="">{{
                                    'CHOOSE' | translate
                                }}</option>
                                <option
                                    *ngFor="let data of organaizeByAdapter"
                                    [value]="data['id']"
                                    >{{ data['nameNepali'] }}</option
                                >
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ 'SUB_TRAINING' | translate }}
                            <span style="color:red">*</span>
                        </td>
                        <td>
                            <nepali-input
                                name="subjectOfTraining"
                                formControlName="subjectOfTraining"
                                [height]="23"
                                [width]="250"
                                [placeHolder]="
                                    'ENTER_SUBJECT_OF_TRAINING' | translate
                                "
                                [inputClass]="'px-control'"
                            ></nepali-input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ 'TOT_TRAINEE' | translate
                            }}<span style="color:red">*</span>
                        </td>
                        <td>
                            <jqxInput
                                [theme]="'energyblue'"
                                [height]="23"
                                [width]="160"
                                formControlName="totalTrainess"
                            ></jqxInput>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ 'TOT_DURATION' | translate }} ({{
                                'INDAY' | translate
                            }})
                        </td>
                        <td>
                            <jqxInput
                                class="name"
                                [theme]="'energyblue'"
                                [height]="23"
                                [width]="160"
                                formControlName="totalDuration"
                            ></jqxInput>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div *ngSwitchCase="'SD'">
            <form
                name="serviceDetailsForm"
                class="form-style"
                [formGroup]="getOutputType('SD', 'formControl')"
                id="serviceDetailsForm"
            >
                <table class="table-w-tooltip">
                    <tr>
                        <td>
                            {{ 'SERVICES' | translate }}
                            <span style="color:red">*</span>
                        </td>
                        <td>
                            <select
                                formControlName="service"
                                class="selectpicker select-class select-border"
                                style="width:200px;height:23px;"
                            >
                                <option [selected]="true" value="">{{
                                    'CHOOSE' | translate
                                }}</option>
                                <option
                                    *ngFor="let data of serviceDataAdapter"
                                    [value]="data['id']"
                                    >{{ data['nameNepali'] }}</option
                                >
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ 'DURATION_SERVICES' | translate }} ({{
                                'INDAY' | translate
                            }})<span style="color:red">*</span>
                        </td>
                        <td>
                            <jqxInput
                                [theme]="'energyblue'"
                                [placeHolder]="'DURATION' | translate"
                                [height]="23"
                                [width]="160"
                                formControlName="durationOfService"
                            ></jqxInput>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ 'TOT_BENEFICIAL' | translate
                            }}<span style="color:red">*</span>
                        </td>
                        <td>
                            <jqxInput
                                class="name"
                                [theme]="'energyblue'"
                                [placeHolder]="'EXPECTED' | translate"
                                [height]="23"
                                [width]="200"
                                formControlName="totalExpectedBeneficiaries"
                            ></jqxInput>
                        </td>
                    </tr>
                </table>
                
            </form>
        </div>
        <div style="text-align: center">
            <jqxButton
            [disabled]="!getOutputType(activityData?.outputType, 'formControl').valid" style="margin-right: 5px;"
            [width]="90" [theme]="'energyblue'"
            (onClick)="Save()">
            {{'SAVE'|translate}}
          </jqxButton>
          <jqxButton style="margin-right: 5px;"
            [width]="90" [theme]="'energyblue'" (onClick)="Close()">
            {{'CLOSE'|translate}}
          </jqxButton>
        </div>
    </div>
</fieldset>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'"
  [width]="100" [height]="60">
</jqxLoader>
<jqxNotification #errNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'"
  [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>