<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator>
    <form name="EstimateAbstractOfCostForm" [formGroup]="EstimateAbstractOfCostForm" id="EstimateAbstractOfCostForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{'ESTIMATE_ABSTRACT_OF_COST'|translate}}</legend>
        <input type="text" name="id" formControlName="id" hidden>
        <table class="table-w-tooltip">
          <tr>
            <td>{{'PLAN_YEAR' | translate}} *</td>
            <td>
              <select formControlName="planYear" class="selectpicker select-class select-border" style="width:160px;height:23px;">
                <option [selected]="true" value=''>{{'CHOOSEU' | translate}}</option>
                <option *ngFor="let planYear of planYearAdapter" [value]="planYear['yearCode']">{{planYear['yearName']}}</option>
              </select>
            </td>
            <td>{{'ACTIVITY'|translate}} *</td>
            <td>
              <jqxComboBox #myComboBox [width]="300" (onChange)="comboBoxOnChange()" formControlName="activity"
                [source]="activityAdapter" [displayMember]="'name'" [valueMember]="'id'">
              </jqxComboBox>
            </td>
            <td>{{'SN' | translate}}
            </td>
            <td>
              <input type="number" class="px-control" style="width:90px!important;" name="descriptionOfWorkSn"
                formControlName="descriptionOfWorkSn">
            </td>
            <td>{{'UNIT'|translate}}</td>
            <td>
              <select formControlName="unit" class="selectpicker select-class select-border" style="width:100px;height:23px;">
                <option [selected]="true" style="font-size: 11px;" value=''>{{'CHOOSE'|translate}}</option>
                <option *ngFor="let data of unitAdapter" [value]="data['name']">{{data['name']}}</option>
              </select>
            </td>
            <td>{{'DESCRIPTION_OF_WORK'|translate}}</td>
            <td colspan="5" style="width: 252px;">
              <nepali-textarea name="descriptionOfWork" formControlName="descriptionOfWork" [inputClass]="'px-control'"
                [placeHolder]=""></nepali-textarea>
            </td>

            <td *ngIf="!update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!EstimateAbstractOfCostForm.valid"
                (onClick)="saveBtn(EstimateAbstractOfCostForm.value)">
                {{'SAVE' | translate}}
              </jqxButton>
            </td>
            <td *ngIf="update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!EstimateAbstractOfCostForm.valid"
                (onClick)="updateBtn(EstimateAbstractOfCostForm.value)">
                {{'UPDATE' | translate}}
              </jqxButton>
            </td>
            <td *ngIf="update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                <i class="fa fa-times"></i>{{'CANCEL' | translate}}
              </jqxButton>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>
  <div class="grid">
    <jqxGrid #myGrid [height]="300" style="margin-left:3px;margin-top:10px;" [width]="'99%'" [source]="dataAdapter"
      [columns]="columns" [pageable]="true" [autorowheight]="true" [sortable]="true" [editable]="true" [theme]="'energyblue'"
      [selectionmode]="'checkbox'" [showtoolbar]="true" [rendertoolbar]="rendertoolbar" [keyboardnavigation]="true">
    </jqxGrid>
  </div>

  <div class="grid">
    <jqxValidator #myValidator>
      <form name="EstimateAbstractOfCostDetailsForm" [formGroup]="EstimateAbstractOfCostDetailsForm" id="EstimateAbstractOfCostDetailsForm">
        <fieldset class="jqx-widget-header-energyblue">
          <legend>{{'ESTIMATE_ABSTRACT_OF_COST_DETAIL'|translate}}</legend>
          <input type="text" name="eacId" formControlName="eacId" hidden>
          <input type="text" name="sn" formControlName="sn" hidden>
          <table class="table-w-tooltip">
            <tr>
              <td>{{'DESCRIPTION'|translate}}</td>
              <td colspan="5" style="width: 252px;">
                <nepali-input name="description" formControlName="description" [inputClass]="'px-control'"
                  [placeHolder]="">
                </nepali-input>
              </td>
            </tr>
            <tr>
              <td>{{'NOM'|translate}}</td>
              <td>{{'LENGTH'|translate}}</td>
              <td>{{'BREADTH'|translate}}</td>
              <td>{{'HEIGHT'|translate}}</td>
              <td>{{'UNIT'|translate}}</td>
              <td>{{'QUANTITY'|translate}}</td>
              <td>{{'RATE'|translate}}</td>
              <td>{{'AMOUNT'|translate}}</td>
              <td>{{'REMARKS'|translate}}</td>
              <td>&nbsp;</td>
            </tr>
            <tr>

              <td>
                <input type="number" class="px-control" style="width:90px!important;" (change)="calculate()" name="no" formControlName="no">
              </td>
              <td>
                <input type="number" class="px-control" style="width:90px!important;" (change)="calculate()" name="length" formControlName="length">
              </td>
              <td>
                <input type="number" class="px-control" style="width:90px!important;" (change)="calculate()" name="breadth" formControlName="breadth">
              </td>
              <td>
                <input type="number" class="px-control" style="width:90px!important;" (change)="calculate()" name="heigth" formControlName="heigth">
              </td>
              <td>
                <input type="text" class="px-control" style="width:90px!important;" name="unit" formControlName="unit"
                  readonly>
              </td>
              <td>
                <input type="number" class="px-control" style="width:90px!important;" (change)="dataChange()" name="qty"
                  formControlName="qty">
              </td>
              <td>
                <input type="number" class="px-control" style="width:90px!important;" (change)="dataChange()" name="rate"
                  formControlName="rate">
              </td>
              <td>
                <input type="number" class="px-control" style="width:90px!important;" name="amount" formControlName="amount">
              </td>
              <td>
                <input type="text" class="px-control" style="width: 150px!important;" name="remarks" formControlName="remarks">
              </td>
              <td *ngIf="!updateDetails">
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!EstimateAbstractOfCostDetailsForm.valid"
                  (onClick)="saveDetailsBtn(EstimateAbstractOfCostDetailsForm.value)">
                  {{'SAVE' | translate}}
                </jqxButton>
              </td>
              <td *ngIf="updateDetails">
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!EstimateAbstractOfCostDetailsForm.valid"
                  (onClick)="updateDetailsBtn(EstimateAbstractOfCostDetailsForm.value)">
                  {{'UPDATE' | translate}}
                </jqxButton>
              </td>
              <td *ngIf="updateDetails">
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateDetailsBtn()">
                  <i class="fa fa-times"></i>
                </jqxButton>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </jqxValidator>
    <jqxGrid #myDetailsGrid [height]="300" style="margin-left:3px;margin-top:10px;" [width]="'99%'" [source]="dataDetailsAdapter"
      [columns]="columnsDetails" [pageable]="true" [autorowheight]="true" [sortable]="true" [editable]="true" [theme]="'energyblue'"
      [selectionmode]="'checkbox'" [showtoolbar]="true" [rendertoolbar]="rendertoolbarDetails" [keyboardnavigation]="true">
    </jqxGrid>
  </div>

  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>