<div style="overflow: hidden;" id="attWindowContainer">
  <div class="header">
    <h6 style="font-size:12px;padding: 10px;"><b>{{'MEASUREMENT_OF_BOOK_AND_BILL_OF_QUANTITY' | translate}}</b></h6>
    <div class="data-form">
      <jqxValidator #myValidator [hintType]="'tooltip'" [position]="'bottom'">
        <form name="searchForm" class="form-style" [formGroup]="searchForm" id="searchForm">
          <fieldset class="jqx-widget-header-energyblue">
            <legend>{{'SEARCH_BOX' | translate}}</legend>
            <table class="table-w-tooltip">
              <tr>
                <td>{{'PLAN_YEAR' | translate}} *</td>
                <td>
                  <select formControlName="planYear" class="selectpicker select-class select-border" style="width:160px;height:23px;">
                    <option [selected]="true" value=''>{{'CHOOSEU' | translate}}</option>
                    <option *ngFor="let planYear of planYearAdapter" [value]="planYear['yearCode']">{{planYear['yearName']}}</option>
                  </select>
                </td>
                <td> {{'ACTIVITY_NAME'|translate}}</td>
                <td>
                  <jqxComboBox #myComboBox [width]="400" (onChange)="comboBoxOnChange()" [source]="activityAdapter"
                    [displayMember]="'name'" [valueMember]="'id'">
                  </jqxComboBox>
                </td>
                <td>
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!searchForm.valid" (onClick)="SearchData(searchForm.value)">
                    {{'SEARCH' | translate}}
                  </jqxButton>
                </td>
                <td>
                  <jqxButton style="margin-right: 5px;" [width]="90" [theme]="'energyblue'" (onClick)="Close()">
                    {{'CLOSE'|translate}}
                  </jqxButton>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>
    </div>

    <div class="grid">
      <jqxGrid #myGrid [height]="300" style="margin-left:3px;margin-top:10px;" [width]="'99%'" [source]="dataAdapter"
        [columns]="columns" [pageable]="true" [autorowheight]="true" [sortable]="true" [editable]="true" [theme]="'energyblue'"
        [keyboardnavigation]="true">
      </jqxGrid>
    </div>

    <div class="grid">
      <jqxValidator #myValidator>
        <form name="EstimateAbstractOfCostDetailsForm" [formGroup]="EstimateAbstractOfCostDetailsForm" id="EstimateAbstractOfCostDetailsForm">
          <fieldset class="jqx-widget-header-energyblue">
            <legend>{{'ESTIMATE_ABSTRACT_OF_COST_DETAIL'|translate}}</legend>
            <input type="text" name="eacId" formControlName="eacId" hidden>
            <input type="text" name="sn" formControlName="sn" hidden>
            <table class="table-w-tooltip">
              <tr>
                <td>{{'DESCRIPTION'|translate}}</td>
                <td colspan="5" style="width: 252px;">
                  <nepali-input name="description" formControlName="description" [inputClass]="'px-control'"
                    [placeHolder]="">
                  </nepali-input>
                </td>
                <td>भौतिक अनुगमन चरण</td>
                <td style="width:140px;">
                  <select class="px-control" formControlName="physicalProgressId">
                    <option value="" [selected]="true"> {{'CHOOSE' | translate}} </option>
                    <option *ngFor="let data of PhysicalProgressDetails" [value]="data.id">{{data.investicationStage &&
                      data.investicationStage.name}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>{{'NOM'|translate}}</td>
                <td>{{'LENGTH'|translate}}</td>
                <td>{{'BREADTH'|translate}}</td>
                <td>{{'HEIGHT'|translate}}</td>
                <td>{{'UNIT'|translate}}</td>
                <td>{{'QUANTITY'|translate}}</td>
                <td>{{'RATE'|translate}}</td>
                <td>{{'AMOUNT'|translate}}</td>
                <td>{{'REMARKS'|translate}}</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <input type="number" class="px-control" style="width: 90px!important;" name="no" formControlName="no">
                </td>
                <td>
                  <input type="number" class="px-control" style="width: 90px!important;" name="length" formControlName="length">
                </td>
                <td>
                  <input type="number" class="px-control" style="width: 90px!important;" name="breadth" formControlName="breadth">
                </td>
                <td>
                  <input type="number" class="px-control" style="width: 90px!important;" name="heigth" formControlName="heigth">
                </td>
                <td>
                  <input type="text" class="px-control" style="width: 90px!important;" name="unit" formControlName="unit"
                    readonly>
                </td>
                <td>
                  <input type="number" class="px-control" style="width: 90px!important;" (change)="dataChange()" name="qty"
                    formControlName="qty">
                </td>
                <td>
                  <input type="number" class="px-control" style="width: 90px!important;" (change)="dataChange()" name="rate"
                    formControlName="rate">
                </td>
                <td>
                  <input type="number" class="px-control" style="width: 90px!important;" name="amount" formControlName="amount">
                </td>
                <td>
                  <nepali-input name="remarks" formControlName="remarks" [inputClass]="'px-control'" [placeHolder]="">
                  </nepali-input>
                </td>
                <td *ngIf="!updateDetails">
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!EstimateAbstractOfCostDetailsForm.valid"
                    (onClick)="saveDetailsBtn(EstimateAbstractOfCostDetailsForm.value)">
                    {{'SAVE' | translate}}
                  </jqxButton>
                </td>
                <td *ngIf="updateDetails">
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!EstimateAbstractOfCostDetailsForm.valid"
                    (onClick)="updateDetailsBtn(EstimateAbstractOfCostDetailsForm.value)">
                    {{'UPDATE' | translate}}
                  </jqxButton>
                </td>
                <td *ngIf="updateDetails">
                  <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateDetailsBtn()">
                    <i class="fa fa-times"></i>
                  </jqxButton>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </jqxValidator>
      <jqxGrid #myDetailsGrid [height]="300" style="margin-left:3px;margin-top:10px;" [width]="'99%'" [source]="dataDetailsAdapter"
        [columns]="columnsDetails" [pageable]="true" [autorowheight]="true" [sortable]="true" [editable]="true" [theme]="'energyblue'"
        [selectionmode]="'checkbox'" [showtoolbar]="true" [rendertoolbar]="rendertoolbarDetails" [keyboardnavigation]="true">
      </jqxGrid>
    </div>
  </div>

  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>