.grid-container {
  height: calc(100vh - 220px);
  width: 100%;
}

.header {
  padding: 4px;
  background: #efefef;
  margin: 5px;
}

.table-content {
  background: #ffffff;
  padding: 12px;
}

.table-content .table-style {
  background: #efefef;
  padding: 0px 5px 5px 5px;
}

.table-content .table-style fieldset {
  padding-bottom: 10px;
}

.data-table {
  background: #ffffff;
}

.data-table table th {
  background: #efefef;
}

.close {
  text-align: center;
}

p {
  font-weight: 500;
  font-size: 13px;
}

.add-cross {
  top: 0px;
  right: 10px;
  position: absolute;
}
/*# sourceMappingURL=technical-approval-data-view.component.css.map */