<div style="overflow: hidden; background: #fff;" id="attWindowContainer">
    <form name="technicalApprovalForm" [formGroup]="technicalApprovalForm">
        <div class="header" *ngIf="technicalApprovalData">
            <h6 style="font-size:12px;">
                {{ 'TECHNICAL_APPROVAL' | translate }}
            </h6>
            <div class="table-content">
                <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                        <legend>{{ 'ACTIVITY_DESC' | translate }}</legend>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>{{ 'ACTIVITY_NAME' | translate }} :</p>
                                <p>स्वीकृत लागत({{ 'RS' | translate }})</p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>{{ name }}</p>
                                <p>
                                    {{ activityData.totalEstimatedCost | digitCommas | displayNepaliDate }}
                                    <!-- <jqxInput class="name" [disabled]="true" [theme]="'energyblue'" [placeHolder]="'TECH_PROPOSED_COST' | translate"
                                        [height]="23" [width]="160" formControlName="proposedCost"></jqxInput> -->
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="table-content">
                <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                        <legend>
                            {{ 'TECHNICAL_APPROVAL_DETAILS' | translate }}
                        </legend>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>
                                    {{ 'TECH_APPROVAL_ORDER_NO' | translate }}
                                    <span style="color: red">*</span>
                                </p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>
                                    {{ formattedData }}
                                    <!-- <jqxInput class="name" [theme]="'energyblue'" [disabled]="true" [placeHolder]="'TECH_APPROVAL_ORDER_NO' | translate"
                                        [height]="23" [width]="160" formControlName="techOrderNo"></jqxInput> -->
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>
                                    {{ 'TECH_PROPOSED_COST' | translate }}({{
                                        'RS' | translate
                                    }})
                                    <span style="color: red">*</span>
                                </p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>
                                    {{ technicalApprovalData.techCost | digitCommas | displayNepaliDate }}
                                    <!-- <jqxInput class="name" [disabled]="true" [theme]="'energyblue'" [placeHolder]="'TECH_PROPOSED_COST' | translate"
                                        [height]="23" [width]="160" formControlName="techCost"></jqxInput> -->
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>
                                    {{ 'ORDER_ISSUING_AUTHORITY' | translate }}
                                    <span style="color: red">*</span>
                                </p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>
                                    {{ technicalApprovalData.orderIssuing }}
                                    <!-- <jqxInput class="name nepaliText" [disabled]="true" [theme]="'energyblue'" [placeHolder]="'ORDER_ISSUING_AUTHORITY' | translate"
                                        [height]="23" [width]="160" formControlName="orderIssuing"></jqxInput> -->
                                </p>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>योजना शाखा<span style="color: red">*</span></p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>{{technicalApprovalData.yojanaSakha}}

                                </p>
                            </div>
                        </div>  -->
                        <div class="row">
                            <div class="col-md-4" style="text-align: right;">
                                <p>
                                    {{ 'TECH_DATE' | translate }}
                                    <span style="color: red">*</span>
                                </p>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <p>
                                    {{ technicalApprovalData.techDate }}
                                    <!-- <jqxDateTimeInput [disabled]="true" formControlName="techDate" [width]="160" [height]="23">
                                    </jqxDateTimeInput> -->
                                    <!-- <jqxInput class="name" [theme]="'energyblue'" [disabled]="true" [placeHolder]="'YYYY-MM-DD'"
                                        [height]="23" [width]="160" formControlName="techDate"></jqxInput> -->
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="table-content">
                <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                        <legend>
                            {{ 'UPLOAD_TECH_APPROVAL_LETTERV' | translate }}
                        </legend>
                        <div class="col-md-12">
                            <div style="float: left;border: 1px solid #c0c0c0;margin-right: 4px;border-radius: 3px;"
                                class="col-md-3" *ngFor="let image of tecLetter">
                                <!-- <div><p >{{ image.title }}</p></div> -->
                                <div>
                                    <!-- <button class="add-cross btn-danger" type="submit" (click)="deleteImage(image.name)">Delete</button> -->
                                    <a style="font-size:12px;" href="{{ image.url }}"
                                        target="_blank">{{ 'viewFile' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="table-content">
                <div class="table-style">
                    <fieldset style="padding-bottom: 10px!important;">
                        <legend>
                            {{
                                'UPLOAD_TECH_SPECIFICATION_DOCV' | translate
                            }}(इस्टीमेशन)
                        </legend>
                        <div class="col-md-12">
                            <div style="float: left;border: 1px solid #c0c0c0;margin-right: 4px;border-radius: 3px;"
                                class="col-md-3" *ngFor="let image of tecDocument">
                                <div>
                                    <!-- <p>{{ image.title }}</p> -->
                                </div>
                                <!-- <div><p>{{ image.title }}</p></div> -->
                                <div>
                                    <!-- <button class="add-cross btn-danger" type="submit" (click)="deleteImage(image.name)">Delete</button> -->
                                    <a style="font-size:12px;" href="{{ image.url }}" target="_blank">
                                        {{ 'viewFile' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
    <!-- <div class="table-content">
        <div class="table-style">
            <fieldset style="padding-bottom: 10px!important;">
                <legend>{{'WORK_APPROVAL_TYPE' | translate}}</legend>
                <jqxGrid #myGrid [height]="200" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns"
                    [pageable]="true" [filterable]="true" [autorowheight]="true" [columngroups]="columngroups" [theme]="'energyblue'"
                    [keyboardnavigation]="true">
                </jqxGrid>
            </fieldset>
        </div>
    </div> -->
    <div class="" style="text-align: center; padding-bottom: 12px;">
        <!-- <div *ngIf="!showApprovalButton"> -->
        <jqxButton #submitButton *ngIf="!showApprovalButton && showApproveButton" [width]="120" [height]="23"
            (onClick)="approve()">
            स्वीकृत गर्नुहोस्
        </jqxButton>
        <!-- </div> -->

        <jqxButton *ngIf="
                enable_disableApproveFeature &&
                !showApprovalButton &&
                showApproveButton
            " [disabled]="notAuthorized" (onClick)="reject()">
            अस्वीकृत गर्नुहोस्
        </jqxButton>

        <jqxButton #submitButton [width]="120" [height]="23" (onClick)="close()">
            {{ 'CLOSE' | translate }}
        </jqxButton>
    </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id="message"></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id="error"></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>