<ng-template ngFor let-config [ngForOf]="formConfig">
  <ng-container [ngSwitch]="config.type">

    <!-- when text -->
    <ng-template [ngSwitchCase]="'text'">
      <p [style]="bypassStyle(config.style)" *ngIf="config.value.constructor === ''.constructor">
        {{config.value}}
      </p>
      <p [style]="bypassStyle(config.style)" app-form-helper [formConfig]="config.value"
        *ngIf="config.value.constructor === [].constructor" [formModel]="formModel"></p>
    </ng-template>

    <!-- when span -->
    <ng-template [ngSwitchCase]="'span'">
      <span [style]="bypassStyle(config.style)" *ngIf="config.value && config.value.constructor === ''.constructor">
        {{ config.value }}
      </span>
      <span [style]="bypassStyle(config.style)" *ngIf="config.name && config.name.constructor === ''.constructor">
        {{ formModel[config.name] }}
      </span>
    </ng-template>

    <!-- when div -->
    <ng-template [ngSwitchCase]="'div'">
      <div [style]="bypassStyle(config.style)" [ngClass]="config.class"
        *ngIf="config.value.constructor === [].constructor" app-form-helper [formConfig]="config.value"
        [formModel]="formModel"></div>
    </ng-template>

    <!-- when input element -->
    <ng-template [ngSwitchCase]="'input'">
      <span class="print_hide">
        <input [style]="bypassStyle(config.style)" [ngClass]="config.class" [name]="config.name" [value]="config.value"
          [type]="config.inputType || 'text'" [(ngModel)]="formModel[config.name]"
          (ngModelChange)="formModel[config.name] ? formModel[config.name] = $event : null"
          [disabled]="config.disabled || false">
      </span>
      <span class="print_show">
        {{ formModel[config.name] }}
      </span>
    </ng-template>

    <!-- when nepali-input element -->
    <ng-template [ngSwitchCase]="'nepali-input'">
      <span class="print_hide">
        <nepali-input [(ngModel)]="formModel[config.name]" [inputClass]="config.class"></nepali-input>
      </span>
      <span class="print_show">
        {{ formModel[config.name] }}
      </span>
    </ng-template>

    <!-- when button -->
    <ng-template [ngSwitchCase]="'button'">
      <button [style]="bypassStyle(config.style)" [ngClass]="config.class"
        (click)="config.onPress && config.onPress($event)">{{ config.value }}</button>
    </ng-template>
  </ng-container>
</ng-template>