<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator>
    <form name="programForm" [formGroup]="programForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>कार्यक्रमहरू</legend>
        <table class="table-w-tooltip">
          <tr>
            <td>योजना वर्ष&nbsp;
              <span style="color:red">*</span>
            </td>
            <td>
              <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="''" [height]="23" [width]="160" formControlName="planYear"></jqxInput> -->
              <jqxComboBox #planYear [width]='160' [height]='23' [source]='planYearAdaptor' (onChange)="planYearSelected($event)"
                [displayMember]="'yearName'" [valueMember]="'yearCode'">
              </jqxComboBox>
            </td>

            <td>कार्यक्षेत्र&nbsp;
              <span style="color:red">*</span>
            </td>
            <td>
              <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="''" [height]="23" [width]="160" formControlName="workArea"></jqxInput> -->
              <jqxComboBox #focusCombo [width]='200' [height]='23' (onChange)="Change($event)" [valueMember]="'focusCode'"
                [source]='activityFocusAreaAdapter' [displayMember]="'nameNepali'">
              </jqxComboBox>
            </td>

            <td>उप - कार्यक्षेत्र&nbsp;
              <span style="color:red">*</span>
            </td>
            <td>
              <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="''" [height]="23" [width]="160" formControlName="subWorkArea"></jqxInput> -->
              <jqxComboBox #subFocusCombo [width]='200' [height]='23' [source]='subActivityFocusAreaAdapter' (onChange)="Change1($event)"
                [displayMember]="'nameNepali'" [valueMember]="'focusCode'">
              </jqxComboBox>
            </td>
            <td>बजेट शीर्षक नं&nbsp;
              <span style="color:red">*</span>
            </td>
            <td>
              <input type="text" class="px-control"  (keyup)="Change2($event)" style="height:23px;width:160px" formControlName="budgetTitleNo" />
            </td>
          </tr>
          <tr>

                <td>{{'YOJANA_STHAR' | translate}} &nbsp;
                  <span style="color:red">*</span>
                </td>
                <td>
                  <select [required]="'required'" class="selectpicker select-class select-border" (change)="implementingAgencyChange1($event); implementingAgencyChange($event);"
                    formControlName="implementingAgencyType1" style="width:160px;height:23px;">
                    <option value="" [selected]="true">{{'CHOOSE' | translate}}</option>
                    <option *ngFor="let activity of agencyType" [value]="activity.code">{{lang == 'en' ? activity.name
                      : activity.nameNepali}}</option>
                  </select>
                </td>
                <td *ngIf="childType.length>0">{{agencyName}} &nbsp; 
                  <span style="color:red">*</span>
                </td>
                <td *ngIf="childType.length>0">
                  <select [required]="'required'" class="selectpicker select-class select-border" formControlName="implementingAgencyType2" (change)="implementingAgencyChangeWada($event)" style="width:160px;height:23px;">
                    <!-- <option  value="" [selected]="true">{{'CHOOSE' | translate}}</option> -->
                    <option *ngFor="let activity of childType" [value]="activity.code">{{lang == 'en' ? activity.name :
                      activity.nameNepali}}</option>
                  </select>
                </td>
            <!-- <td>कार्यक्रमको स्तर*</td>
            <td>
              <select formControlName="implementingAgencyType1" (change)="implementingAgencyChange($event)" class="selectpicker select-class select-border"
                style="width:160px;height:23px;">
                <option value="">{{'CHOOSE'|translate}}</option>
                <option *ngFor="let data of municipaWadaAdapter; let i = index;" [value]="data['code']">{{data['nameNepali']}}</option>
              </select>
            </td>
            <td>वडा*</td>
            <td>
              <select formControlName="implementingAgencyType2" (change)="implementingAgencyChangeWada($event)" class="selectpicker select-class select-border"
                style="width:160px;height:23px;">
                <option value="">{{'CHOOSE'|translate}}</option>
                <option *ngFor="let data of wadaAdapter; let i = index;" [value]="data['code']">{{data['nameNepali']}}</option>
              </select>
            </td> -->
            <td>नाम&nbsp;
              <span style="color:red">*</span>
            </td>
            <td colspan="3">
              <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="''" (change)="nameChane($event)" [height]="23" [width]="160" formControlName="name"></jqxInput> -->
              <!-- <input class="nepalify" formControlName="name" (change)="nameChane($event)"/> -->
              <nepali-input #ref name="name" formControlName="name" [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'"
                [inputClass]="'px-control'" (change)="nameChane($event)"></nepali-input>
              <!-- <jqxInput class="nepalify" #myInput (onChange)="Changes($event)" [width]="200" [height]="25">
              </jqxInput> -->
            </td>
          </tr>
          <tr>
            <td>बजेट रकम&nbsp;
              <span style="color:red">*</span>
            </td>
            <td>
              <!-- <jqxInput [theme]="'energyblue'" [placeHolder]="''" [height]="23" [width]="160"  formControlName="amount"></jqxInput> -->
              <input type="text" class="px-control"  style="height:23px;width:160px" formControlName="amount" />
              <!-- <input *ngIf="status" type="text" class="px-control"  style="height:23px;width:160px" formControlName="amount" readonly/> -->
            </td>


            <td>{{'REMARKS' | translate}}</td>
            <td>
              <nepali-textarea #refT name="remarks" formControlName="remarks" (change)="remarkChane($event)" [width]="'100%'" [height]="50"
                [inputClass]="'px-control-textarea'"></nepali-textarea>
            </td>
            <td *ngIf="!showButton">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="save(programForm.value)" [disabled]="!programForm.valid">
                सुरक्षित गर्नुहोस
              </jqxButton>
            </td>
            <td *ngIf="showButton" colspan="2">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="update(programForm.value)">
                अद्यावधिक गर्नुहोस्
              </jqxButton>
              <!-- </td>
            <td *ngIf="showButton"> -->
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancel(programForm.value)">
                रद्द गर्नुहोस्
              </jqxButton>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>


  </jqxValidator>
  <div class="grid-container">
      <jqxGrid #myGrid [height]="'90%'" class="grid-class" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns"
        [pageable]="true" (onRowselect)="rowChange($event)" (onRowunselect)="rowUnChange($event)" [filterable]="true"
        [autorowheight]="true" [sortable]="true" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'"
        [selectionmode]="'checkbox'" [showfilterrow]="true" [showtoolbar]="true" [showstatusbar]="true"  [showaggregates]="true"
        [statusbarheight]="25"
         [rendertoolbar]="rendertoolbar"
        [keyboardnavigation]="true">
      </jqxGrid>
    </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>
  <jqxWindow #myWindow [width]="'20%'" [height]="'30%'" [resizable]="false" [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
      <div id="showRemarks">

      </div>
    </div>
  </jqxWindow>
