<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator>
    <form name="PlantUnitForm" [formGroup]="PlantUnitForm" id="PlantUnitForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{'PLAN_UNIT' | translate}}</legend>
        <input type="text" name="id" formControlName="id" hidden>
        <table class="table-w-tooltip">
          <tr>
            <!-- <td>{{'PLAN_NAME' | translate}}&nbsp;<span>*</span></td>
            <td>
              <jqxInput [theme]="'energyblue'" [placeHolder]="''" [height]="23" [width]="160" formControlName="name"></jqxInput>
            </td> -->
            <td>सम्पतिको एकाई (अंग्रेजीमा) &nbsp;<span style="color: red">*</span></td>

            <td>
                <input  name="name" formControlName="name" width="100%" height="23px" placeHolder="Please Enter Unit Name" class="px-control">
             </td>

            <td>सम्पतिको एकाई (नेपालीमा) &nbsp;<span style="color: red">*</span>
            </td>
            <td>
                <nepali-input  name="nameNepali" formControlName="nameNepali" [width]="'100%'" [height]="'23px'" [placeHolder]="'लेख्नुहोस्'" [inputClass]="'px-control'"></nepali-input>
             </td>
            <td *ngIf="!update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!PlantUnitForm.valid" (onClick)="saveBtn(PlantUnitForm.value)">
                {{'SAVE' | translate}}
              </jqxButton>
            </td>
            <td *ngIf="update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!PlantUnitForm.valid" (onClick)="updateBtn(PlantUnitForm.value)">
                {{'UPDATE' | translate}}
              </jqxButton>
            </td>
            <td *ngIf="update">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" (onClick)="cancelUpdateBtn()">
                <i class="fa fa-times"></i>{{'CANCEL' | translate}}
              </jqxButton>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>
  <div class="grid-container">
    <jqxGrid #myGrid [height]="'100%'" class="grid-class" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns"
      [pageable]="true" [filterable]="true" [autorowheight]="true" [sortable]="true" [editable]="true" [columngroups]="columngroups"
      [theme]="'energyblue'" [selectionmode]="'checkbox'" [showfilterrow]="true" [showtoolbar]="true" [rendertoolbar]="rendertoolbar"
      [keyboardnavigation]="true">
    </jqxGrid>
  </div>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
    [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>
